---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"testaccorganizationmember1@auth0.com","username":"testaccorganizationmember11","password":"MyPass123$"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"created_at":"2023-07-13T17:34:44.164Z","email":"testaccorganizationmember1@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"64b035b488430795f236bfdd","provider":"auth0","isSocial":false}],"name":"testaccorganizationmember1@auth0.com","nickname":"testaccorganizationmember1","picture":"https://s.gravatar.com/avatar/a3ca1ab654eee614bf23d07037dc77c6?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2023-07-13T17:34:44.164Z","user_id":"auth0|64b035b488430795f236bfdd","username":"testaccorganizationmember11"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 289.141208ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C64b035b488430795f236bfdd
        method: GET
      response:
        body: '{"created_at":"2023-07-13T17:34:44.164Z","email":"testaccorganizationmember1@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"64b035b488430795f236bfdd","provider":"auth0","isSocial":false}],"name":"testaccorganizationmember1@auth0.com","nickname":"testaccorganizationmember1","picture":"https://s.gravatar.com/avatar/a3ca1ab654eee614bf23d07037dc77c6?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2023-07-13T17:34:44.164Z","user_id":"auth0|64b035b488430795f236bfdd","username":"testaccorganizationmember11"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 167.899542ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"some-org-testaccorganizationmember","display_name":"testaccorganizationmember"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"name":"some-org-testaccorganizationmember","display_name":"testaccorganizationmember","id":"org_qFN6rm3B5X5GZQ1R"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 145.214792ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_qFN6rm3B5X5GZQ1R
        method: GET
      response:
        body: '{"id":"org_qFN6rm3B5X5GZQ1R","name":"some-org-testaccorganizationmember","display_name":"testaccorganizationmember"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 149.401916ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"members":["auth0|64b035b488430795f236bfdd"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_qFN6rm3B5X5GZQ1R/members
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 111.053417ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_qFN6rm3B5X5GZQ1R/members?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"members":[{"user_id":"auth0|64b035b488430795f236bfdd","email":"testaccorganizationmember1@auth0.com","picture":"https://s.gravatar.com/avatar/a3ca1ab654eee614bf23d07037dc77c6?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","name":"testaccorganizationmember1@auth0.com"}],"start":0,"limit":50,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 114.178583ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_qFN6rm3B5X5GZQ1R/enabled_connections?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"enabled_connections":[],"start":0,"limit":0,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 93.95675ms
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_qFN6rm3B5X5GZQ1R/members?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"members":[{"user_id":"auth0|64b035b488430795f236bfdd","email":"testaccorganizationmember1@auth0.com","picture":"https://s.gravatar.com/avatar/a3ca1ab654eee614bf23d07037dc77c6?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","name":"testaccorganizationmember1@auth0.com"}],"start":0,"limit":100,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 213.436167ms
[...]
