---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {};","dependencies":[],"secrets":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"a1f490bd-870b-49fc-b8b3-b9854eac7bcb","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-10-10T14:21:02.421013552Z","updated_at":"2022-10-10T14:21:02.431398773Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node18","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/a1f490bd-870b-49fc-b8b3-b9854eac7bcb
        method: GET
      response:
        body: '{"id":"a1f490bd-870b-49fc-b8b3-b9854eac7bcb","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-10-10T14:21:02.421013552Z","updated_at":"2022-10-10T14:21:02.431398773Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node18","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node18","secrets":[{"name":"foo","value":"111111"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/a1f490bd-870b-49fc-b8b3-b9854eac7bcb
        method: PATCH
      response:
        body: '{"id":"a1f490bd-870b-49fc-b8b3-b9854eac7bcb","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-10-10T14:21:02.421013552Z","updated_at":"2022-10-10T14:21:04.340999221Z","code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node18","status":"pending","secrets":[{"name":"foo","updated_at":"2022-10-10T14:21:04.340999221Z"}],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
[...]
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/a1f490bd-870b-49fc-b8b3-b9854eac7bcb/deploy
        method: POST
      response:
        body: '{"code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"id":"28886ff0-acdd-4a6a-9aa0-e36c04e0fbbb","deployed":false,"number":1,"secrets":[{"name":"foo","updated_at":"2022-10-10T14:21:04.340999221Z"}],"status":"built","created_at":"2022-10-10T14:21:12.749282173Z","updated_at":"2022-10-10T14:21:12.749282173Z","runtime":"node18","supported_triggers":[{"id":"post-login","version":"v3"}],"action":{"id":"a1f490bd-870b-49fc-b8b3-b9854eac7bcb","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-10-10T14:21:02.421013552Z","updated_at":"2022-10-10T14:21:04.332314769Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/a1f490bd-870b-49fc-b8b3-b9854eac7bcb
        method: GET
      response:
        body: '{"id":"a1f490bd-870b-49fc-b8b3-b9854eac7bcb","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-10-10T14:21:02.421013552Z","updated_at":"2022-10-10T14:21:04.340999221Z","code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node18","status":"built","secrets":[{"name":"foo","updated_at":"2022-10-10T14:21:04.340999221Z"}],"current_version":{"id":"28886ff0-acdd-4a6a-9aa0-e36c04e0fbbb","code":"exports.onContinuePostLogin = async (event, api) => {};","runtime":"node18","status":"BUILT","number":1,"build_time":"2022-10-10T14:21:12.865746873Z","created_at":"2022-10-10T14:21:12.749282173Z","updated_at":"2022-10-10T14:21:12.866497281Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"id":"28886ff0-acdd-4a6a-9aa0-e36c04e0fbbb","deployed":true,"number":1,"built_at":"2022-10-10T14:21:12.865746873Z","secrets":[{"name":"foo","updated_at":"2022-10-10T14:21:04.340999221Z"}],"status":"built","created_at":"2022-10-10T14:21:12.749282173Z","updated_at":"2022-10-10T14:21:12.866497281Z","runtime":"node18","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
[...]
