---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"external_client_id":"https://tinywiki.xyz/client.json"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/cimd/register
        method: POST
      response:
        body: '{"client_id":"tpc_hqjDNPpF9fzLpaCMtFPs1W","mapped_fields":{"external_client_id":"https://tinywiki.xyz/client.json","name":"TinyWiki","callbacks":["https://tinywiki.xyz/"],"logo_uri":"https://tinywiki.xyz/logo.png","grant_types":["authorization_code"],"app_type":"native","token_endpoint_auth_method":"none"},"validation":{"valid":true,"violations":[],"warnings":["Ignoring unsupported properties: client_uri. These properties are not validated or mapped to the Auth0 client configuration."]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 708.87075ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/tpc_hqjDNPpF9fzLpaCMtFPs1W
        method: GET
      response:
        body: '{"name":"TinyWiki","client_id":"tpc_hqjDNPpF9fzLpaCMtFPs1W","client_secret":"[REDACTED]","app_type":"native","logo_uri":"https://tinywiki.xyz/logo.png","is_first_party":false,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":true,"callbacks":["https://tinywiki.xyz/"],"jwt_configuration":{"secret_encoded":false,"alg":"RS256","lifetime_in_seconds":3600},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code"],"custom_login_page_on":true,"token_endpoint_auth_method":"none","refresh_token":{"rotation_type":"rotating","expiration_type":"expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":false,"infinite_idle_token_lifetime":false,"idle_token_lifetime":1296000},"external_client_id":"https://tinywiki.xyz/client.json","external_metadata_type":"cimd","external_metadata_created_by":"admin"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 484.924458ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"description":"CIMD test client","allowed_origins":["https://example.com"],"web_origins":["https://example.com"],"grant_types":["authorization_code","refresh_token"],"jwt_configuration":{"lifetime_in_seconds":7200,"alg":"RS256"},"app_type":"native","oidc_conformant":true,"refresh_token":{"rotation_type":"rotating","expiration_type":"expiring","leeway":30,"token_lifetime":2592000,"infinite_token_lifetime":false,"idle_token_lifetime":1296000,"infinite_idle_token_lifetime":false}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        ur[...]
[...]
