---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"line","strategy":"line","is_domain_connection":false,"options":{"client_id":"","client_secret":"","authorizationURL":null,"tokenURL":null,"set_user_root_attributes":"on_each_login","email":true,"scope":["email","openid","profile"]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_nZ5gkoitg54iAaCN","options":{"client_id":"","client_secret":"","authorizationURL":null,"tokenURL":null,"set_user_root_attributes":"on_each_login","email":true,"scope":["openid","email","profile"],"profile":true},"strategy":"line","name":"line","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["line"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 470.96425ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_nZ5gkoitg54iAaCN
        method: GET
      response:
        body: '{"id":"con_nZ5gkoitg54iAaCN","options":{"email":true,"scope":["openid","email","profile"],"profile":true,"client_id":"","client_secret":"","set_user_root_attributes":"on_each_login"},"strategy":"line","name":"line","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["line"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 426.648625ms
[...]
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_nZ5gkoitg54iAaCN
        method: DELETE
      response:
        body: '{"deleted_at":"2026-01-30T09:24:47.536Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 395.013792ms
