---
version: 2
interactions:
    - id: 0
      request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: |
              {"name":"Acceptance-Test-Connection-TestAccConnectionClients","strategy":"auth0"}
          form: {}
          headers:
              Content-Type:
                  - application/json
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
          method: POST
      response:
          body: '{"id":"con_lkGguil7xCdCWvGr","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"authentication_methods":{"password":{"enabled":true},"passkey":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionClients","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionClients"]}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status: 201 Created
          code: 201
          duration: 461.005667ms
    - id: 1
      request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: ""
          form: {}
          headers:
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_lkGguil7xCdCWvGr
          method: GET
      response:
          body: '{"id":"con_lkGguil7xCdCWvGr","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"strategy_version":2,"authentication_methods":{"passkey":{"enabled":false},"password":{"enabled":true}},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionClients","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionClients"]}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status: 200 OK
          code: 200
          duration: 513.456917ms
    - id: 2
      request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: ""
          form: {}
          headers:
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_lkGguil7xCdCWvGr/clients
          method: GET
      response:
          body: '{"clients":[]}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status: 200 OK
          code: 200
          duration: 503.312834ms
[...]
    - id: 4
      request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: ""
          form: {}
          headers:
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_lkGguil7xCdCWvGr?fields=strategy%2Cname&include_fields=true
          method: GET
      response:
          body: '{"id":"con_lkGguil7xCdCWvGr","strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionClients","is_domain_connection":false}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status: 200 OK
          code: 200
          duration: 520.358292ms
[...]
    - id: 11
      request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: |
              {"name":"Acceptance-Test-Client-1-TestAccConnectionClients","oidc_logout":{}}
          form: {}
          headers:
              Content-Type:
                  - application/json
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
          method: POST
      response:
          body: '{"name":"Acceptance-Test-Client-1-TestAccConnectionClients","client_id":"dIu601Fa38aPX9imEIQQJ7Y0yIQzfG0D","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"oidc_backchannel_logout":{},"oidc_logout":{"backchannel_logout_initiators":{"mode":"custom","selected_initiators":["rp-logout","idp-logout"]}}}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status: 201 Created
          code: 201
          duration: 731.822083ms
    - id: 12
      request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: ""
          form: {}
          headers:
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/dIu601Fa38aPX9imEIQQJ7Y0yIQzfG0D
          method: GET
      response:
          body: '{"name":"Acceptance-Test-Client-1-TestAccConnectionClients","client_id":"dIu601Fa38aPX9imEIQQJ7Y0yIQzfG0D","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"oidc_backchannel_logout":{},"oidc_logout":{"backchannel_logout_initiators":{"mode":"custom","selected_initiators":["rp-logout","idp-logout"]}}}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status: 200 OK
          code: 200
          duration: 507.480916ms
[...]
    - id: 25
      request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: ""
          form: {}
          headers:
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/6Iyz4wEeUxyyuFBf0BfgZaZNb9WEBijn
          method: GET
      response:
          body: '{"name":"Acceptance-Test-Client-2-TestAccConnectionClients","client_id":"6Iyz4wEeUxyyuFBf0BfgZaZNb9WEBijn","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"oidc_backchannel_logout":{},"oidc_logout":{"backchannel_logout_initiators":{"mode":"custom","selected_initiators":["rp-logout","idp-logout"]}}}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status: 200 OK
          code: 200
          duration: 450.075875ms
[...]
    - id: 57
      request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: ""
          form: {}
          headers:
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_lkGguil7xCdCWvGr
          method: DELETE
      response:
          body: '{"deleted_at":"2025-07-03T20:14:07.922Z"}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status: 202 Accepted
          code: 202
          duration: 493.543666ms
