---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance-Test-Google-Apps-TestAccConnectionGoogleApps","strategy":"google-apps","is_domain_connection":false,"show_as_button":false,"options":{"domain":"example.com","tenant_domain":"example.com","api_enable_users":true,"ext_profile":true,"ext_groups":true,"non_persistent_attrs":null,"domain_aliases":["api.example.com","example.com"],"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_w14MDMsNfmj4mozV","options":{"domain":"example.com","tenant_domain":"example.com","api_enable_users":true,"ext_profile":true,"ext_groups":true,"non_persistent_attrs":null,"domain_aliases":["api.example.com","example.com"],"upstream_params":{"screen_name":{"alias":"login_hint"}},"email":true,"profile":true,"scope":["email","profile"],"handle_login_from_social":true},"strategy":"google-apps","name":"Acceptance-Test-Google-Apps-TestAccConnectionGoogleApps","provisioning_ticket_url":"https://login.eu.auth0.com/terraform-provider-auth0-dev/p/google-apps/OuqedfKT","is_domain_connection":false,"show_as_button":false,"enabled_clients":[],"realms":["Acceptance-Test-Google-Apps-TestAccConnectionGoogleApps"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_w14MDMsNfmj4mozV
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_w14MDMsNfmj4mozV","options":{"email":true,"scope":["email","profile"],"domain":"example.com","profile":true,"ext_groups":true,"ext_profile":true,"tenant_domain":"example.com","domain_aliases":["api.example.com","example.com"],"upstream_params":{"screen_name":{"alias":"login_hint"}},"api_enable_users":true,"non_persistent_attrs":null,"handle_login_from_social":true},"strategy":"google-apps","name":"Acceptance-Test-Google-Apps-TestAccConnectionGoogleApps","provisioning_ticket_url":"https://login.eu.auth0.com/terraform-provider-auth0-dev/p/google-apps/OuqedfKT","is_domain_connection":false,"show_as_button":false,"enabled_clients":[],"realms":["Acceptance-Test-Google-Apps-TestAccConnectionGoogleApps"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
  - id: 3
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: ""
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_w14MDMsNfmj4mozV
      method: DELETE
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"deleted_at":"2022-08-30T08:59:47.262Z"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 202 Accepted
      code: 202
      duration: 1ms
