---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - TestAccResourceServerAccessTokenCustomClaims","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccResourceServerAccessTokenCustomClaims","access_token":{"claims_mapping":{"custom_claims":[{"name":"country","expression":"anonymous_session.metadata.country"},{"name":"region","expression":"anonymous_session.metadata.region"}]}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"6aac0080e9a9bfa06a4e770a","name":"Acceptance Test - TestAccResourceServerAccessTokenCustomClaims","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccResourceServerAccessTokenCustomClaims","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"allow_online_access":false,"allow_online_access_with_ephemeral_sessions":false,"access_token":{"claims_mapping":{"custom_claims":[{"name":"country","expression":"anonymous_session.metadata.country"},{"name":"region","expression":"anonymous_session.metadata.region"}]}},"subject_type_authorization":{"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"},"anonymous_user":{"policy":"deny_all"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 455.061667ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/6aac0080e9a9bfa06a4e770a
        method: GET
      response:
        body: '{"id":"6aac0080e9a9bfa06a4e770a","name":"Acceptance Test - TestAccResourceServerAccessTokenCustomClaims","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccResourceServerAccessTokenCustomClaims","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"allow_online_access":false,"allow_online_access_with_ephemeral_sessions":false,"access_token":{"claims_mapping":{"custom_claims":[{"name":"country","expression":"anonymous_session.metadata.country"},{"name":"region","expression":"anonymous_session.metadata.region"}]}},"subject_type_authorization":{"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"},"anonymous_user":{"policy":"deny_all"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 428.007375ms
[...]
