---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"testaccdatasourcecustomdomain.auth.tempdomain.com","type":"auth0_managed_certs","tls_policy":"recommended","domain_metadata":{"key1":"value1","key2":"value2"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_LrIO73oFHiRRhiQe","domain":"testaccdatasourcecustomdomain.auth.tempdomain.com","primary":true,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"terraform-provider-auth0-dev-cd-lrio73ofhirrhiqe.edge.tenants.us.auth0.com","domain":"testaccdatasourcecustomdomain.auth.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key1":"value1","key2":"value2"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 497.762667ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_LrIO73oFHiRRhiQe
        method: GET
      response:
        body: '{"custom_domain_id":"cd_LrIO73oFHiRRhiQe","domain":"testaccdatasourcecustomdomain.auth.tempdomain.com","primary":true,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"terraform-provider-auth0-dev-cd-lrio73ofhirrhiqe.edge.tenants.us.auth0.com","domain":"testaccdatasourcecustomdomain.auth.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key1":"value1","key2":"value2"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 340.953917ms
[...]
    - id: 14
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_CuGYHjBgOdPKQaHr
        method: GET
      response:
        body: '{"custom_domain_id":"cd_CuGYHjBgOdPKQaHr","domain":"testaccdatasourcecustomdomain-first.auth.tempdomain.com","primary":true,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"terraform-provider-auth0-dev-cd-cugyhjbgodpkqahr.edge.tenants.us.auth0.com","domain":"testaccdatasourcecustomdomain-first.auth.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key1":"value1","key2":"value2"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 339.7935ms
    - id: 15
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"testaccdatasourcecustomdomain-second.auth.tempdomain.com","type":"auth0_managed_certs","tls_policy":"recommended","domain_metadata":{"key3":"value3"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_QTpYTIigz2ISlYy2","domain":"testaccdatasourcecustomdomain-second.auth.tempdomain.com","primary":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"terraform-provider-auth0-dev-cd-qtpytiigz2islyy2.edge.tenants.us.auth0.com","domain":"testaccdatasourcecustomdomain-second.auth.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key3":"value3"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 529.0635ms
    - id: 16
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_QTpYTIigz2ISlYy2
        method: GET
      response:
        body: '{"custom_domain_id":"cd_QTpYTIigz2ISlYy2","domain":"testaccdatasourcecustomdomain-second.auth.tempdomain.com","primary":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"terraform-provider-auth0-dev-cd-qtpytiigz2islyy2.edge.tenants.us.auth0.com","domain":"testaccdatasourcecustomdomain-second.auth.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key3":"value3"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 352.561084ms
[...]
