---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {};","dependencies":[],"secrets":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"077b061d-bd7b-4885-83ef-8194cd2ca156","name":"Test Action TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-06-07T23:44:16.364115743Z","updated_at":"2023-06-07T23:44:16.381500069Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node16","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 139.472958ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/077b061d-bd7b-4885-83ef-8194cd2ca156
        method: GET
      response:
        body: '{"id":"077b061d-bd7b-4885-83ef-8194cd2ca156","name":"Test Action TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-06-07T23:44:16.364115743Z","updated_at":"2023-06-07T23:44:16.381500069Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node16","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 112.771667ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/077b061d-bd7b-4885-83ef-8194cd2ca156/deploy
        method: POST
      response:
        body: '{"code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"id":"4c840eee-856e-4831-9d32-d842cfb33d62","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2023-06-07T23:44:16.615123189Z","updated_at":"2023-06-07T23:44:16.615123189Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v3"}],"action":{"id":"077b061d-bd7b-4885-83ef-8194cd2ca156","name":"Test Action TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-06-07T23:44:16.364115743Z","updated_at":"2023-06-07T23:44:16.364115743Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 120.953083ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/077b061d-bd7b-4885-83ef-8194cd2ca156
        method: GET
      response:
        body: '{"id":"077b061d-bd7b-4885-83ef-8194cd2ca156","name":"Test Action TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-06-07T23:44:16.364115743Z","updated_at":"2023-06-07T23:44:16.381500069Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node16","status":"built","secrets":[],"current_version":{"id":"4c840eee-856e-4831-9d32-d842cfb33d62","code":"exports.onExecutePostLogin = async (event, api) => {};","runtime":"node16","status":"BUILT","number":1,"build_time":"2023-06-07T23:44:16.679846635Z","created_at":"2023-06-07T23:44:16.615123189Z","updated_at":"2023-06-07T23:44:16.681566414Z"},"deployed_version":{"code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"id":"4c840eee-856e-4831-9d32-d842cfb33d62","deployed":true,"number":1,"built_at":"2023-06-07T23:44:16.679846635Z","secrets":[],"status":"built","created_at":"2023-06-07T23:44:16.615123189Z","updated_at":"2023-06-07T23:44:16.681566414Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 128.425917ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?per_page=50
        method: GET
      response:
        body: '{"bindings":[{"id":"9fc50545-6083-41fc-b673-6fdab075e40f","trigger_id":"post-login","action":{"id":"d23fe951-aa23-4c09-8f71-444a9ec14e53","name":"Bar1","supported_triggers":[{"id":"post-login","version":"v2"}],"created_at":"2023-06-02T12:35:15.093910253Z","updated_at":"2023-06-02T12:35:15.093910253Z","current_version":{"id":"f937203c-e6ce-4628-b407-1f71ffc3740e","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"bar\")\n};\"\n","runtime":"node16","status":"BUILT","number":1,"build_time":"2023-06-02T12:35:15.473024753Z","created_at":"2023-06-02T12:35:15.409620874Z","updated_at":"2023-06-02T12:35:15.474481550Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"bar\")\n};\"\n","dependencies":[],"id":"f937203c-e6ce-4628-b407-1f71ffc3740e","deployed":true,"number":1,"built_at":"2023-06-02T12:35:15.473024753Z","secrets":[],"status":"built","created_at":"2023-06-02T12:35:15.409620874Z","updated_at":"2023-06-02T12:35:15.474481550Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v2"}]},"all_changes_deployed":false},"created_at":"2023-06-07T23:41:31.350270438Z","updated_at":"2023-06-07T23:41:31.350270438Z","display_name":"Bar1"},{"id":"ceb84746-b095-43ce-939d-96be67dc7c8f","trigger_id":"post-login","action":{"id":"3b131daf-af26-4fbc-88a0-d0f93d71ad11","name":"Test action","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-06-01T12:58:38.597019453Z","updated_at":"2023-06-01T12:58:38.597019453Z","current_version":{"id":"cd23b93f-3ecf-415a-9f91-54dd450f8ca9","code":"/**\n* Handler that will be called during the execution of a PostLogin flow.\n*\n* @param {Event} event - Details about the u[...]
[...]
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"bindings":[{"display_name":"Bar1","ref":{"type":"action_id","value":"d23fe951-aa23-4c09-8f71-444a9ec14e53"}},{"display_name":"Test action","ref":{"type":"action_id","value":"3b131daf-af26-4fbc-88a0-d0f93d71ad11"}},{"display_name":"Test Action TestAccTriggerAction","ref":{"type":"action_id","value":"077b061d-bd7b-4885-83ef-8194cd2ca156"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings
        method: PATCH
  [...]
[...]
