---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Client Grant - TestAccClientGrant","identifier":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccClientGrant","authorization_details":[{"type":"payment"},{"type":"shipping"}],"subject_type_authorization":{"user":{"policy":"allow_all"},"client":{"policy":"require_client_grant"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"6971d1937c3b0a73f80932f7","name":"Acceptance Test - Client Grant - TestAccClientGrant","identifier":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccClientGrant","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"user":{"policy":"allow_all"},"client":{"policy":"require_client_grant"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","authorization_details":[{"type":"payment"},{"type":"shipping"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 703.978166ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Client Grant - TestAccClientGrant","is_first_party":true,"custom_login_page_on":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - Client Grant - TestAccClientGrant","client_id":"kAr3FnSoZGiB7cIUYVC6U0wcYPxLLEQp","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 907.475167ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/6971d1937c3b0a73f80932f7
        method: GET
      response:
        body: '{"id":"6971d1937c3b0a73f80932f7","name":"Acceptance Test - Client Grant - TestAccClientGrant","identifier":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccClientGrant","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"user":{"policy":"allow_all"},"client":{"policy":"require_client_grant"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","authorization_details":[{"type":"payment"},{"type":"shipping"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 692.008542ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/kAr3FnSoZGiB7cIUYVC6U0wcYPxLLEQp
        method: GET
      response:
        body: '{"name":"Acceptance Test - Client Grant - TestAccClientGrant","client_id":"kAr3FnSoZGiB7cIUYVC6U0wcYPxLLEQp","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 443.895ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/https:%2F%2Fuat.tf.terraform-provider-auth0.com%2Fclient-grant%2FTestAccClientGrant
        method: GET
      response:
        body: '{"id":"6971d1937c3b0a73f80932f7","name":"Acceptance Test - Client Grant - TestAccClientGrant","identifier":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccClientGrant","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"user":{"policy":"allow_all"},"client":{"policy":"require_client_grant"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","authorization_details":[{"type":"payment"},{"type":"shipping"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 760.449666ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"scopes":[{"value":"create:bar","description":"Create bars"},{"value":"create:foo","description":"Create foos"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/https:%2F%2Fuat.tf.terraform-provider-auth0.com%2Fclient-grant%2FTestAccClientGrant
        method: PATCH
      response:
        body: '{"id":"6971d1937c3b0a73f80932f7","name":"Acceptance Test - Client Grant - TestAccClientGrant","identifier":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccClientGrant","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"user":{"policy":"allow_all"},"client":{"policy":"require_client_grant"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","scopes":[{"value":"create:bar","description":"Create bars"},{"value":"create:foo","description":"Create foos"}],"authorization_details":[{"type":"payment"},{"type":"shipping"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 625.346625ms
[...]
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants?audience=https%3A%2F%2Fuat.tf.terraform-provider-auth0.com%2Fclient-grant%2FTestAccClientGrant&client_id=kAr3FnSoZGiB7cIUYVC6U0wcYPxLLEQp&include_totals=true&per_page=50
        method: GET
      response:
        body: '{"total":0,"start":0,"limit":50,"client_grants":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 598.682417ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"client_id":"kAr3FnSoZGiB7cIUYVC6U0wcYPxLLEQp","audience":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccClientGrant","scope":["create:bar"],"allow_all_scopes":false,"subject_type":"user","authorization_details_types":["payment","shipping"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants
        method: POST
      response:
        body: '{"id":"cgr_wu6Wzd8Vj5bZXfvr","client_id":"kAr3FnSoZGiB7cIUYVC6U0wcYPxLLEQp","audience":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccClientGrant","scope":["create:bar"],"subject_type":"user","authorization_details_types":["payment","shipping"],"allow_all_scopes":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 692.780791ms
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants/cgr_wu6Wzd8Vj5bZXfvr
        method: GET
      response:
        body: '{"id":"cgr_wu6Wzd8Vj5bZXfvr","client_id":"kAr3FnSoZGiB7cIUYVC6U0wcYPxLLEQp","audience":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccClientGrant","scope":["create:bar"],"subject_type":"user","authorization_details_types":["payment","shipping"],"allow_all_scopes":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 553.819583ms
[...]
    - id: 50
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/YFNrrEb7FVr6fddN6lxmJi8jR1rqeWb2
        method: GET
      response:
        body: '{"name":"Acceptance Test - Client Grant Alt - TestAccClientGrant","client_id":"YFNrrEb7FVr6fddN6lxmJi8jR1rqeWb2","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 482.79625ms
    - id: 51
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants?audience=https%3A%2F%2Fuat.tf.terraform-provider-auth0.com%2Fclient-grant%2FTestAccClientGrant&client_id=YFNrrEb7FVr6fddN6lxmJi8jR1rqeWb2&include_totals=true&per_page=50
        method: GET
      response:
        body: '{"total":0,"start":0,"limit":50,"client_grants":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 572.910375ms
[...]
    - id: 53
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants/cgr_7IKlqdaIp5KeAyFD
        method: GET
      response:
        body: '{"id":"cgr_7IKlqdaIp5KeAyFD","client_id":"YFNrrEb7FVr6fddN6lxmJi8jR1rqeWb2","audience":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccClientGrant","scope":[],"subject_type":"user","authorization_details_types":["payment"],"allow_all_scopes":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 617.738667ms
[...]
