---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"content":{"from":"+918095250531","body":{"text":"Your password has been changed","voice":"Your password has been changed"}},"type":"change_password","disabled":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/phone/templates
        method: POST
      response:
        body: '{"id":"tem_eB3MHus8uwdTPfPV1TWiSb","tenant":"terraform-provider-auth0-dev","channel":"phone","type":"change_password","disabled":true,"created_at":"2025-12-05T15:30:12.547Z","updated_at":"2025-12-05T15:30:12.547Z","content":{"syntax":"liquid","body":{"text":"Your password has been changed","voice":"Your password has been changed"},"from":"+918095250531"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 424.68225ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/phone/templates/tem_eB3MHus8uwdTPfPV1TWiSb
        method: GET
      response:
        body: '{"id":"tem_eB3MHus8uwdTPfPV1TWiSb","tenant":"terraform-provider-auth0-dev","channel":"phone","type":"change_password","disabled":true,"created_at":"2025-12-05T15:30:12.547Z","updated_at":"2025-12-05T15:30:12.547Z","content":{"syntax":"liquid","body":{"text":"Your password has been changed","voice":"Your password has been changed"},"from":"+918095250531"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 933.100917ms
[...]
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/phone/templates/tem_unfGwbzq8aykhGPih5QLs1
        method: GET
      response:
        body: '{"id":"tem_unfGwbzq8aykhGPih5QLs1","tenant":"terraform-provider-auth0-dev","channel":"phone","type":"otp_enroll","disabled":false,"created_at":"2025-12-05T15:30:16.653Z","updated_at":"2025-12-05T15:30:16.653Z","content":{"syntax":"liquid","body":{"text":"Your enrollment code is: @{code}","voice":"Your enrollment code is @{code}"},"from":"+1234567890"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 368.970792ms
[...]
    - id: 15
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/phone/templates/tem_31KZf7BGaGMAQVqqeGc8Mg
        method: GET
      response:
        body: '{"id":"tem_31KZf7BGaGMAQVqqeGc8Mg","tenant":"terraform-provider-auth0-dev","channel":"phone","type":"otp_verify","disabled":false,"created_at":"2025-12-05T15:30:23.726Z","updated_at":"2025-12-05T15:30:23.726Z","content":{"syntax":"liquid","body":{"text":"Your verification code is: @{code}","voice":"Your verification code is @{code}"},"from":"+1111111111"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 371.897875ms
[...]
    - id: 20
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/phone/templates/tem_r3baZ7EAaWYN75fFxAMJ3A
        method: GET
      response:
        body: '{"id":"tem_r3baZ7EAaWYN75fFxAMJ3A","tenant":"terraform-provider-auth0-dev","channel":"phone","type":"blocked_account","disabled":false,"created_at":"2025-12-05T15:30:27.368Z","updated_at":"2025-12-05T15:30:27.368Z","content":{"syntax":"liquid","body":{"text":"Your account has been blocked","voice":"Your account has been blocked"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 353.190833ms
[...]
