---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/themes/default
        method: GET
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"There was an error retrieving branding settings: invalid theme ID","errorCode":"theme_not_found"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 273.283917ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"borders":{"button_border_radius":3,"button_border_weight":1,"buttons_style":"rounded","input_border_radius":3,"input_border_weight":1,"inputs_style":"rounded","show_widget_shadow":true,"widget_border_weight":0,"widget_corner_radius":5},"colors":{"base_focus_color":"#635dff","base_hover_color":"#000000","body_text":"#1e212a","captcha_widget_theme":"auto","error":"#d03c38","header":"#1e212a","icons":"#65676e","input_background":"#ffffff","input_border":"#c9cace","input_filled_text":"#000000","input_labels_placeholders":"#65676e","links_focused_components":"#635dff","primary_button":"#635dff","primary_button_label":"#ffffff","secondary_button_border":"#c9cace","secondary_button_label":"#1e212a","success":"#13a688","widget_background":"#ffffff","widget_border":"#c9cace"},"fonts":{"body_text":{"bold":false,"size":87.5},"buttons_text":{"bold":false,"size":100},"font_url":"","input_labels":{"bold":false,"size":100},"links":{"bold":true,"size":87.5},"links_style":"normal","reference_text_size":16,"subtitle":{"bold":false,"size":87.5},"title":{"bold":false,"size":150}},"page_background":{"background_color":"#000000","background_image_url":"","page_layout":"center"},"widget":{"header_text_alignment":"center","logo_height":52,"logo_position":"center","logo_url":"","social_buttons_layout":"bottom"},"identifiers":{"login_display":"unified","otp_autocomplete":true,"phone_display":{"formatting":"international","masking":"mask_digits"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/themes
        method: POST
      response:
        body: '{"borders":{"button_border_radius":3,"button_border_weight":1,"buttons_style":"rounded","input_border_radius":3,"input_border_weight":1,"inputs_style":"rounded","show_widget_shadow":true,"widget_border_weight":0,"widget_corner_radius":5},"colors":{"b[...]
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"borders":{"button_border_radius":3,"button_border_weight":1,"buttons_style":"rounded","input_border_radius":3,"input_border_weight":1,"inputs_style":"rounded","show_widget_shadow":true,"widget_border_weight":0,"widget_corner_radius":5},"colors":{"base_focus_color":"#635dff","base_hover_color":"#000000","body_text":"#1e212a","captcha_widget_theme":"auto","error":"#d03c38","header":"#1e[...]
[...]
