---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccActionMigrateSecretsToSecretsWO","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {};","runtime":"node22","secrets":[{"name":"TEST_SECRET","value":"dummy-value"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"e3fb2d36-ed0a-4c0d-a6a9-da9b5a591d03","name":"Test Action TestAccActionMigrateSecretsToSecretsWO","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-10-05T11:38:04.686520723Z","updated_at":"2026-10-05T11:38:04.702108869Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node22","status":"pending","secrets":[{"name":"TEST_SECRET","updated_at":"2026-10-05T11:38:04.702108869Z"}],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 369.635792ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/e3fb2d36-ed0a-4c0d-a6a9-da9b5a591d03
        method: GET
      response:
        body: '{"id":"e3fb2d36-ed0a-4c0d-a6a9-da9b5a591d03","name":"Test Action TestAccActionMigrateSecretsToSecretsWO","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-10-05T11:38:04.686520723Z","updated_at":"2026-10-05T11:38:04.702108869Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node22","status":"built","secrets":[{"name":"TEST_SECRET","updated_at":"2026-10-05T11:38:04.702108869Z"}],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 296.953792ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/e3fb2d36-ed0a-4c0d-a6a9-da9b5a591d03/deploy
        method: POST
      response:
        body: '{"code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"id":"02070e8f-6567-4b4c-a22b-c202c6966cbe","deployed":false,"number":1,"secrets":[{"name":"TEST_SECRET","updated_at":"2026-10-05T11:38:04.702108869Z"}],"status":"built","created_at":"2026-10-05T11:38:05.331232571Z","updated_at":"2026-10-05T11:38:05.331232571Z","runtime":"node22","supported_triggers":[{"id":"post-login","version":"v3"}],"action":{"id":"e3fb2d36-ed0a-4c0d-a6a9-da9b5a591d03","name":"Test Action TestAccActionMigrateSecretsToSecretsWO","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-10-05T11:38:04.686520723Z","updated_at":"2026-10-05T11:38:04.686520723Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 336.723917ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/e3fb2d36-ed0a-4c0d-a6a9-da9b5a591d03
        method: GET
      response:
        body: '{"id":"e3fb2d36-ed0a-4c0d-a6a9-da9b5a591d03","name":"Test Action TestAccActionMigrateSecretsToSecretsWO","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-10-05T11:38:04.686520723Z","updated_at":"2026-10-05T11:38:04.702108869Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node22","status":"built","secrets":[{"name":"TEST_SECRET","updated_at":"2026-10-05T11:38:04.702108869Z"}],"current_version":{"id":"02070e8f-6567-4b4c-a22b-c202c6966cbe","code":"exports.onExecutePostLogin = async (event, api) => {};","runtime":"node22","status":"BUILT","number":1,"build_time":"2026-10-05T11:38:05.420059620Z","created_at":"2026-10-05T11:38:05.331232571Z","updated_at":"2026-10-05T11:38:05.421177650Z"},"deployed_version":{"code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"id":"02070e8f-6567-4b4c-a22b-c202c6966cbe","deployed":true,"number":1,"built_at":"2026-10-05T11:38:05.420059620Z","secrets":[{"name":"TEST_SECRET","updated_at":"2026-10-05T11:38:04.702108869Z"}],"status":"built","created_at":"2026-10-05T11:38:05.331232571Z","updated_at":"2026-10-05T11:38:05.421177650Z","runtime":"node22","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 297.772416ms
[...]
