---
version: 1
interactions:
- request:
    body: |
      {"login":{"alertListTitle":"Alerts","buttonText":"Continue","emailPlaceholder":"Email address"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/prompts/login/custom-text/en
    method: PUT
  response:
    body: '{"login":{"alertListTitle":"Alerts","buttonText":"Continue","emailPlaceholder":"Email
      address"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
