---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Connection-TestAccConnectionOptionsAttrUserName","strategy":"auth0","is_domain_connection":true,"options":{"brute_force_protection":true,"requires_username":false,"authentication_methods":{"password":{"enabled":true},"passkey":{"enabled":false},"email_otp":{"enabled":true},"phone_otp":{"enabled":true}},"precedence":["username","email","phone_number"],"attributes":{"username":{"identifier":{"active":true,"default_method":"password"},"profile_required":true,"signup":{"status":"required"},"validation":{"min_length":1,"max_length":3,"allowed_types":{"email":true,"phone_number":false}}}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_VWV2MySOUY3VNbJg","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","brute_force_protection":true,"requires_username":false,"authentication_methods":{"password":{"enabled":true,"api_behavior":"required"},"passkey":{"enabled":false},"email_otp":{"enabled":true},"phone_otp":{"enabled":true}},"precedence":["username","email","phone_number"],"attributes":{"username":{"identifier":{"active":true,"default_method":"password"},"profile_required":true,"signup":{"status":"required"},"validation":{"min_length":1,"max_length":3,"allowed_types":{"email":true,"phone_number":false}}}},"strategy_version":2,"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true}},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionOptionsAttrUserName","is_domain_connection":true,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionOptionsAttrUserName"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 387.412959ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_VWV2MySOUY3VNbJg
        method: GET
      response:
        body: '{"id":"con_VWV2MySOUY3VNbJg","options":{"mfa":{"active":true,"return_enroll_settings":true},"attributes":{"username":{"signup":{"status":"required"},"identifier":{"active":true,"default_method":"password"},"valid[...]
[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: GET
      response:
        body: '{"allowed_logout_urls":[],"change_password":{"enabled":false},"default_audience":"","default_directory":"Username-Password-Authentication","default_redirection_uri":"https://example.com/login","enabled_locales":["en"],"error_page":{"html":"","show_log_link":false,"url":""},"flags":{"allow_changing_enable_sso":true,"disable_impersonation":true,"disable_management_api_sms_obfuscation":true,"enable_client_connections":false,"enable_dynamic_client_registration":false,"enable_public_signup_user_exists_error":true,"enable_sso":true,"new_universal_login_experience_enabled":true,"universal_login":true,"use_scope_descriptions_for_consent":false,"no_disclose_enterprise_connections":false,"revoke_refresh_token_grant":false,"disable_fields_map_fix":true,"dashboard_new_onboarding":false,"mfa_show_factor_list_on_enrollment":true,"custom_domains_provisioning":true,"improved_signup_bot_detection_in_classic":false,"disable_clickjack_protection_headers":false},"friendly_name":"My Test Tenant","guardian_mfa_page":{"enabled":false,"html":"<!DOCTYPE html>\n<html>\n<head>\n  <title>2nd Factor Authentication</title>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no\" />\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n  <style type=\"text/css\">\n\n    html, body { padding: 0; margin: 0; }\n\n    .table {\n      display: table;\n      position: absolute;\n      height: 100%;\n      width: 100%;\n      background-color: {{ pageBackgroundColor | default: ''#2b2b33'' }};\n    }\n\n    .cell {\n      display: table-cell;\n      vertical-align: middle;\n    }\n\n    .content {\n      padding: 25px 0px 25px 0px;\n      margin-left: auto;\n      margin-right: auto;\n      width: 280px; /* login widget width */\n    }\n\n  </style>\n</head>\n\n<body>\n\n  <div class=\"table\">\n    <div class=\"cell\">\n      <div class=\"content\">\n        <!-- WIDGET -->\n        <div class=\"js-mfa-container mfa-container\" id=\"container\"></div>\n      </div>\n    </div>\n  </div>\n\n  <script src=\"//cdn.auth0.com/js/mfa-widget/mfa-widget-1.8.min.js\"></script>\n\n  <script>\n    (function() {\n      return new Auth0MFAWidget({\n        container: \"container\",\n\n        theme: {\n          icon: \"{{ iconUrl | default: ''//cdn.auth0.com/styleguide/1.0.0/img/badge.png'' }}\",\n          primaryColor: \"{{ primaryColor | default: ''#ea5323'' }}\"\n        },\n\n        requesterErrors: [\n          {% for error in errors %}\n            { message: \"{{ error.message }}\", errorCode:[...]
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_VWV2MySOUY3VNbJg
        method: DELETE
      response:
        body: '{"deleted_at":"2026-01-27T08:39:51.479Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 322.287959ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"connections":[{"id":"con_UJfFHnhzQJDdCA8l","options":{"scope":["email","openid"],"scripts":{"fetchUserProfile":"function( { return callback(null) }"},"icon_url":"https://cdn.paypal.com/assets/logo.png","tokenURL":"https://api.paypal.com/v1/oauth2/token","client_id":"1234567","pkce_enabled":false,"client_secret":"1234567","customHeaders":{"bar":"try","faz":"b43"},"authorizationURL":"https://www.paypal.com/signin/authorize","set_user_root_attributes":"on_first_login"},"strategy":"oauth2","name":"Acceptance232445533","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"realms":["Acceptance232445533"],"enabled_clients":["90jnMipR6Nn0LGYlmlnHHZAdpZEomrDB"]},{"id":"con_O39DetftgM93TXLm","options":{"scope":["email","openid"],"scripts":{"fetchUserProfile":"function( { return callback(null) }"},"icon_url":"https://cdn.paypal.com/assets/logo.png","tokenURL":"https://api.paypal.com/v1/oauth2/token","client_id":"1234567","pkce_enabled":false,"client_secret":"1234567","customHeaders":{"bar":"try","faz":"b43"},"authorizationURL":"https://www.paypal.com/signin/authorize","set_user_root_attributes":"on_first_login"},"strategy":"oauth2","name":"Acceptancefsdv232445533","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"realms":["Acceptancefsdv232445533"],"enabled_clients":[]},{"id":"con_Rl8vHX2Jgf79i9rQ","options":{"attributes":{"email":{"signup":{"status":"required","verification":{"active":true}},"unique":true,"identifier":{"active":true,"default_method":"password"},"profile_required":true,"verification_method":"link"},"username":{"signup":{"status":"required"},"identifier":{"active":false},"validation":{"max_length":15,"min_length":1,"allowed_types":{"email":false,"phone_number":false}},"profile_required":true}},"passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"authentication_methods":{"passkey":{"enabled":false},"password":{"enabled":true,"api_behavior":"required"},"email_otp":{"enabled":false},"phone_otp":{"enabled":false}},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-OTP-Email","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"realms":["Acceptance-Test-OTP-Email"],"enabled_clients":[]},{"id":"con_PAVOCd6kps34pKpu","options":{"type":"back_channel","scope":"openid profile email","domain":"terraform-provider-auth0-dev.us.auth0.com","issuer":"https://terraform-provider-auth0-dev.us.auth0.com/","jwks_uri":"https://terraform-provider-auth0-dev.us.auth0.com/.well-known/jwks.json","client_id":"QjlAo2nIDERZYBBZozsv8apykJUBtCq4","attribute_map":{"attributes":{"name":"${context.tokenset.name}","email":"${context.tokenset.email}","username":"${context.tokenset.preferred_username}","federated_groups":"${context.userinfo.groups}","federated_locale":"${context.userinfo.locale}","federated_zoneinfo":"${context.userinfo.zoneinfo}"},"mapping_mode":"use_map","userinfo_scope":"openid email profile groups"},"client_secret":"atWb6xqGmH1dBBHTWpkbENVYdBNi9SsWOt5VwgPcy2yOucSbN8KjtiFpBr5znjIJ","oidc_metadata":{"issuer":"https://terraform-provider-auth0-dev.us.auth0.com/","jwks_uri":"https://terraform-provider-auth0-dev.us.auth0.com/.well-known/jwks.json","token_endpoint":"https://terraform-provider-auth0-dev.us.auth0.com/oauth/token","claims_supported":["aud","auth_time","created_at","email","email_verified","exp","family_name","given_name","iat","identities","iss","name","nickname","phone_number","picture","sub"],"scopes_supported":["openid","profile","offline_access","name","given_name","family_name","nickname","email","email_verified","picture","created_at","identities","phone","address"],"userinfo_endpoint":"https://terraform-provider-auth0-dev.us.auth0.com/userinfo","revocation_endpoint":"https://terraform-provider-auth0-dev.us.auth0.com/oauth/revoke","end_session_endpoint":"https://terraform-provider-auth0-dev.us.auth0.com/oidc/logout","registration_endpoint":"https://terraform-provider-auth0-dev.us.auth0.com/oidc/register","authorization_endpoint":"https://terraform-provider-auth0-dev.us.auth0.com/authorize","mfa_challenge_endpoint":"https://terraform-provider-auth0-dev.us.auth0.com/mfa/challenge","subject_types_supported":["public"],"response_modes_supported":["query","fragment","form_post"],"response_types_supported":["code","token","id_token","code token","code id_token","token id_token","code token id_token"],"request_parameter_supported":false,"backchannel_logout_supported":true,"device_authorization_endpoint":"https://terraform-provider-auth0-dev.us.auth0.com/oauth/device/code","request_uri_parameter_supported":false,"code_challenge_methods_supported":["S256","plain"],"backchannel_logout_session_supported":true,"id_token_signing_alg_values_supported":["HS256","RS256","PS256"],"token_endpoint_auth_methods_supported":["client_secret_basic","client_secret_post","private_key_jwt"],"token_endpoint_auth_signing_alg_values_supported":["RS256","RS384","PS256"]},"token_endpoint":"https://terraform-provider-auth0-dev.us.auth0.com/oauth/token","userinfo_endpoint":"https://terraform-provider-auth0-dev.us.auth0.com/userinfo","connection_settings":{"pkce":"auto"},"authorization_endpoint":"https://terraform-provider-auth0-dev.us.auth0.com/authorize"},"strategy":"okta","name":"API","is_domain_connection":false,"show_as_button":false,"authentication":{"active":true},"connected_accounts":{"active":false},"display_name":"API","realms":["API"],"enabled_clients":[]},{"id":"con_SbwL7CinE25q1CSA","options":{"mfa":{"active":true,"return_enroll_settings":true},"attributes":{"email":{"signup":{"status":"required","verification":{"active":false}},"identifier":{"active":true},"profile_required":true,"verification_method":"link"},"username":{"signup":{"status":"required"},"identifier":{"active":true},"validation":{"max_length":15,"min_length":1,"allowed_types":{"email":false,"phone_number":false}},"profile_required":true},"phone_number":{"signup":{"status":"required","verification":{"active":false}},"identifier":{"active":true},"profile_required":true}},"import_mode":false,"configuration":{},"customScripts":{"login":"function login(email, password, callback) {\n  // This script should authenticate a user against the credentials stored in\n  // your database.\n  // It is executed when a user attempts to log in or immediately after signing\n  // up (as a verification that the user was successfully signed up).\n  //\n  // Everything returned by this script will be set as part of the user profile\n  // and will be visible by any of the tenant admins. Avoid adding attributes\n  // with values such as passwords, [...]
{"scope":["email","profile","openid"],"scripts":{"fetchUserProfile":"function login_success() { return true; }"},"tokenURL":"https://terraform-provider-auth0-dev.us.auth0.com/oauth/token","client_id":"asd","client_secret":"atWb6xqGmH1dBBHTWpkbENVYdBNi9SsWOt5VwgPcy2yOucSbN8KjtiFpBr5znjIJ","customHeaders":{"X-Auth0-Client":"my-client","X-Auth0-Client-Id":"my-client-id"},"upstream_params":{"screen_name":{"alias":"login_hint"}},"authorizationURL":"https://terraform-provider-auth0-dev.us.auth0.com/authorize","strategy_version":2},"strategy":"oauth2","name":"Custom","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"realms":["Custom"],"enabled_clients":[]},{"id":"con_XDpYwPeYRigmQ5po","options":{"name":"email","totp":{"length":6,"time_step":180},"email":{"body":"<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\">\n<html xmlns=\"http://www.w3.org/1999/xhtml\">\n  <head>\n    <meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n    <style type=\"text/css\">.ExternalClass,.ExternalClass div,.ExternalClass font,.ExternalClass p,.ExternalClass span,.ExternalClass td,img{line-height:100%}#outlook a{padding:0}.ExternalClass,.ReadMsgBody{width:100[...]
{"scope":"openid profile email","scripts":{"fetchUserProfile":"function fetchUserProfile(accessToken, context, callback) {\n  request.get(\n    {\n      url: ''https://id.okta.com/userinfo'',\n      headers: {\n        ''Authorization'': ''Bearer '' + accessToken,\n      }\n    },\n    (err, resp, body) => {\n      if (err) {\n        return callback(err);\n      }\n      if (resp.statusCode !== 200) {\n        return callback(new Error(''Error: We were unable to retrieve the user profile''));\n      }\n      let bodyParsed;\n      try {\n        bodyParsed = JSON.parse(body);\n      } catch (jsonError) {\n        return callback(new Error(''Error: We were unable to retrieve the user profile''));\n      }\n      console.log(bodyParsed);\n      const profile = {\n        user_id: bodyParsed.sub,\n        email: bodyParsed.email\n      };\n      callback(null, profile);\n    }\n  );\n}"},"icon_url":"https://cdn.auth0.com/marketplace/catalog/content/assets/creators/okta-personal/okta-personal-avatar.png","tokenURL":"https://id.okta.com/oauth/token","client_id":"as","client_secret":"as","authorizationURL":"https://id.okta.com/authorize","integration_name":"okta-personal-social-connection"},"strategy":"oauth2","name":"okta-personal-social-connection","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"display_name":"Okta Personal","realms":["okta-personal-social-connection"],"enabled_clients":[]},{"id":"con_GPxvd4DsY8R4A540","options":{"scope":[]},"strategy":"github","name":"Periscope-Github","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"realms":["Periscope-Github"],"enabled_clients":["QjlAo2nIDERZYBBZozsv8apykJUBtCq4","3ihEwMkDE0Jr4zWedAEvZDxgrPUarLKW","ayEdCv8BWKHzBKvNaBklfyw2BCWOchVw","O1ID0X3Vc4qHddCqHvlSvUi7wkhCG95l","BXUQ69RCKtH2Ef0kqQv2zIKW8gH9JdDz","xnpDN2UWVErhZEbWnXamXIxuqmDpn4Az","z0mDTXWYSaJwwaSw1A4MYoKz5w32HTy9","Tp16hZC8S7veGbeOX3lCYZMiNRhgIDOm","ST1BDB1sYqZtBpPHr0DP3GWGjye6vc2q"]},{"id":"con_uBr203vwZvot6gAy","options":{"email":true,"scope":["email","profile"],"profile":true},"strategy":"google-oauth2","name":"Periscope-Google","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"realms":["Periscope-Google"],"enabled_clients":["QjlAo2nIDERZYBBZozsv8apykJUBtCq4","3ihEwMkDE0Jr4zWedAEvZDxgrPUarLKW","ayEdCv8BWKHzBKvNaBklfyw2BCWOchVw","O1ID0X3Vc4qHddCqHvlSvUi7wkhCG95l","BXUQ69RCKtH2Ef0kqQv2zIKW8gH9JdDz","xnpDN2UWVErhZEbWnXamXIxuqmDpn4Az","z0mDTXWYSaJwwaSw1A4MYoKz5w32HTy9","Tp16hZC8S7veGbeOX3lCYZMiNRhgIDOm","ST1BDB1sYqZtBpPHr0DP3GWGjye6vc2q"]},{"id":"con_9einzg8UqnKmozN0","options":{"from":"+!11","name":"sms","totp":{"length":6,"time_step":180},"syntax":"md_with_macros","template":"Your verification code is: @@password@@","twilio_sid":"asdsdd","disable_signup":false,"messaging_service_sid":null,"brute_force_protection":true},"strategy":"sms","name":"sms","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"realms":["sms"],"enabled_clients":[]},{"id":"con_E2sTAkpPPb6h1URP","options":{"ips":null,"certAuth":false,"icon_url":"https://logo.com/any.png","kerberos":false,"disable_cache":false,"brute_force_protection":true},"strategy":"ad","name":"TEST","provisioning_ticket_url":"https://terraform-provider-auth0-dev.us.auth0.com/p/ad/QnaUrqrulGojJI3omn5Z3RzvQTS6EA8D","is_domain_connection":false,"show_as_button":false,"authentication":{"active":true},"connected_accounts":{"active":false},"display_name":"TEST","realms":["TEST"],"enabled_clients":[]},{"id":"con_hxpwEaue9vG1Nmah","options":{"thumbprints":[],"fedMetadataXml":"<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<EntityDescriptor entityID=\"https://example.com\"\n                  xmlns=\"urn:oasis:names:tc:SAML:2.0:metadata\">\n    <RoleDescriptor xsi:type=\"fed:ApplicationServiceType\"\n                    protocolSupportEnumeration=\"http://docs.oasis-open.org/wsfed/federation/200706\"\n                    xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"\n                    xmlns:fed=\"http://docs.oasis-open.org/wsfed/federation/200706\">\n        <fed:TargetScopes>\n            <wsa:EndpointReference xmlns:wsa=\"http://www.w3.org/2005/08/addressing\">\n                <wsa:Address>https://adfs.provider/</wsa:Address>\n            </wsa:EndpointReference>\n        </fed:TargetScopes>\n        <fed:ApplicationServiceEndpoint>\n            <wsa:EndpointReference xmlns:wsa=\"http://www.w3.org/2005/08/addressing\">\n                <wsa:Address>https://adfs.provider/wsfed</wsa:Address>\n            </wsa:EndpointReference>\n        </fed:ApplicationServiceEndpoint>\n        <fed:PassiveRequestorEndpoint>\n            <wsa:EndpointReference xmlns:wsa=\"http://www.w3.org/2005/08/addressing\">\n                <wsa:Address>https://adfs.provider/wsfed</wsa:Address>\n            </wsa:EndpointReference>\n        </fed:PassiveRequestorEndpoint>\n    </RoleDescriptor>\n    <IDPSSODescriptor protocolSupportEnumeration=\"urn:oasis:names:tc:SAML:2.0:protocol\">\n        <SingleLogoutService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\"\n                             Location=\"https://adfs.provider/sign_out\"/>\n        <SingleSignOnService Binding=\"urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect\"\n                             Location=\"https://adfs.provider/sign_in\"/>\n    </IDPSSODescriptor>\n</EntityDescriptor>\n","signInEndpoint":"https://adfs.provider/wsfed","upstream_params":{"screen_name":{"alias":"login_hint"}},"should_trust_email_verified_connection":"always_set_emails_as_verified"},"strategy":"adfs","name":"Test-ADFS-Connection-1713171698","provisioning_ticket_url":"https://terraform-provider-auth0-dev.us.auth0.com/p/adfs/YIVgErhM","is_domain_connection":false,"show_as_button":false,"authentication":{"active":true},"connected_accounts":{"active":false},"realms":["Test-ADFS-Connection-1713171698"],"enabled_clients":["ayEdCv8BWKHzBKvNaBklfyw2BCWOchVw"]},{"id":"con_XIHGvjGnX0pPRUGf","options":{"thumbprints":[],"fedMetadataXml":"<?xml version=\[...]
{"scope":"openid","domain":"domain.okta.com","issuer":"https://example.com","jwks_uri":"https://example.com/jwks","client_id":"4ef8d976-71bd-4473-a7ce-087d3f0fafd8","client_secret":"mySecret","oidc_metadata":{"issuer":"https://domain.okta.com","jwks_uri":"https://domain.okta.com/oauth2/v1/keys","token_endpoint":"https://domain.okta.com/oauth2/v1/token","claims_supported":["iss","ver","sub","aud","iat","exp","jti","auth_time","amr","idp","nonce","name","nickname","preferred_username","given_name","middle_name","family_name","email","email_verified","profile","zoneinfo","locale","address","phone_number","picture","website","gender","birthdate","updated_at","at_hash","c_hash"],"scopes_supported":["openid","email","profile","address","phone","offline_access","groups"],"userinfo_endpoint":"https://domain.okta.com/oauth2/v1/userinfo","revocation_endpoint":"https://domain.okta.com/oauth2/v1/revoke","end_session_endpoint":"https://domain.okta.com/oauth2/v1/logout","grant_types_supported":["authorization_code","implicit","refresh_token","password","urn:ietf:params:oauth:grant-type:device_code","urn:openid:params:grant-type:ciba","urn:okta:params:oauth:grant-type:otp","http://auth0.com/oauth/grant-type/mfa-otp","urn:okta:params:oauth:grant-type:oob","http://auth0.com/oauth/grant-type/mfa-oob"],"registration_endpoint":"https://domain.okta.com/oauth2/v1/clients","authorization_endpoint":"https://domain.okta.com/oauth2/v1/authorize","introspection_endpoint":"https://domain.okta.com/oauth2/v1/introspect","subject_types_supported":["public"],"response_modes_supported":["query","fragment","form_post","okta_post_message"],"response_types_supported":["code","id_token","code id_token","code token","id_token token","code id_token token"],"request_parameter_supported":true,"device_authorization_endpoint":"https://domain.okta.com/oauth2/v1/device/authorize","code_challenge_methods_supported":["S256"],"dpop_signing_alg_values_supported":["RS256","RS384","RS512","ES256","ES384","ES512"],"id_token_signing_alg_values_supported":["RS256"],"pushed_authorization_request_endpoint":"https://domain.okta.com/oauth2/v1/par","token_endpoint_auth_methods_supported":["client_secret_basic","client_secret_post","client_secret_jwt","private_key_jwt","none"],"backchannel_token_delivery_modes_supported":["poll"],"revocation_endpoint_auth_methods_supported":["client_secret_basic","client_secret_post","client_secret_jwt","private_key_jwt","none"],"request_object_signing_alg_values_supported":["HS256","HS384","HS512","RS256","RS384","RS512","ES256","ES384","ES512"],"introspection_endpoint_auth_methods_supported":["client_secret_basic","client_secret_post","client_secret_jwt","private_key_jwt","none"],"backchannel_authentication_request_signing_alg_values_supported":["HS256","HS384","HS512","RS256","RS384","RS512","ES256","ES384","ES512"]},"token_endpoint":"https://domain.okta.com/oauth2/v1/token","upstream_params":{"screen_name":{"alias":"login_hint"}},"userinfo_endpoint":"https://domain.okta.com/oauth2/v1/userinfo","authorization_endpoint":"https://domain.okta.com/oauth2/v1/authorize","token_endpoint_auth_method":"private_key_jwt","token_endpoint_auth_signing_alg":"RS256"},"strategy":"okta","name":"Test-Connection1","is_domain_connection":false,"show_as_button":false,"authentication":{"active":true},"connected_accounts":{"active":false},"realms":["Test-Connection1"],"enabled_clients":[]},{"id":"con_ATRf2J3kfnWSrqDO","options":{"scope":[],"upstream_params":{"screen_name":{"alias":"login_hint"}}},"strategy":"github","name":"Test-GitHub-Connection-1741359137","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"realms":["Test-GitHub-Connection-1741359137"],"enabled_clients":[]},{"id":"con_RsDxCbldBorvnwEG","options":{"scripts":{"fetchUserProfile":"function fetchUserProfile(accessToken, context, callback) {\n  return callback(new Error(\"Whoops!\"));\n}"}},"strategy":"oauth1","name":"Testing","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"display_name":"Testing","realms":["Testing"],"enabled_clients":[]},{"id":"con_7USGCr8yEL2zM3HN","options":{"type":"front_channel","scope":"openid profile email","issuer":"https://terraform-provider-auth0-dev.us.auth0.com/","jwks_uri":"https://terraform-provider-auth0-dev.us.auth0.com/.well-known/jwks.json","client_id":"Connection","discovery_url":"https://terraform-provider-auth0-dev.us.auth0.com/.well-known/openid-configuration","oidc_metadata":{"issuer":"https://terraform-provider-auth0-dev.us.auth0.com/","jwks_uri":"https://terraform-provider-auth0-dev.us.auth0.com/.well-known/jwks.json","token_endpoint":"https://terraform-provider-auth0-dev.us.auth0.com/oauth/token","claims_supported":["aud","auth_time","created_at","email","email_verified","exp","family_name","given_name","iat","identities","iss","name","nickname","phone_number","pi[...]
[...]
