---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"MatchAll Create - TestAccNetworkACLMatchAll","active":true,"priority":99,"rule":{"action":{"block":true},"scope":"tenant","match_all":true}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls
        method: POST
      response:
        body: '{"description":"MatchAll Create - TestAccNetworkACLMatchAll","active":true,"priority":99,"rule":{"scope":"tenant","action":{"block":true},"match_all":true},"created_at":"2026-09-07T04:45:14.679Z","updated_at":"2026-09-07T04:45:14.679Z","id":"acl_5XkveqMEFFfgn54LHdseHT"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 341.661ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_5XkveqMEFFfgn54LHdseHT
        method: GET
      response:
        body: '{"tenant_id":"terraform-provider-auth0-dev","description":"MatchAll Create - TestAccNetworkACLMatchAll","active":true,"priority":99,"rule":{"scope":"tenant","action":{"block":true},"match_all":true},"created_at":"2026-09-07T04:45:14.679Z","updated_at":"2026-09-07T04:45:14.679Z","deleted_at":null,"id":"acl_5XkveqMEFFfgn54LHdseHT"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 386.632083ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"MatchAll Updated To Signal - TestAccNetworkACLMatchAll","active":true,"priority":99,"rule":{"action":{"block":true},"match":{"asns":[9453]},"scope":"tenant"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_5XkveqMEFFfgn54LHdseHT
        method: PUT
      response:
        body: '{"description":"MatchAll Updated To Signal - TestAccNetworkACLMatchAll","active":true,"priority":99,"rule":{"match":{"asns":[9453]},"scope":"tenant","action":{"block":true}},"created_at":"2026-09-07T04:45:14.679Z","updated_at":"2026-09-07T04:45:19.516Z","id":"acl_5XkveqMEFFfgn54LHdseHT"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 316.664792ms
[...]
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_5XkveqMEFFfgn54LHdseHT
        method: DELETE
      response:
        body: '{"code":204,"object":""}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 352.049042ms
