---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - testaccdatasourceclientgrantorganizations","identifier":"https://api.testaccdatasourceclientgrantorganizations.com/"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"6a7dc5c04f0e435105d739e6","name":"Acceptance Test - testaccdatasourceclientgrantorganizations","identifier":"https://api.testaccdatasourceclientgrantorganizations.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 319.374834ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-org-testaccdatasourceclientgrantorganizations","display_name":"Test Org testaccdatasourceclientgrantorganizations","is_app_entitlement_active":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_5EHAb80aPQC0zKyF","display_name":"Test Org testaccdatasourceclientgrantorganizations","name":"test-org-testaccdatasourceclientgrantorganizations","third_party_client_access":"block","is_app_entitlement_active":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 481.553166ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-client-testaccdatasourceclientgrantorganizations"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"test-client-testaccdatasourceclientgrantorganizations","client_id":"r2nehQVWws3du9VlSCnuuT6QI8xLdDyR","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 684.513667ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/6a7dc5c04f0e435105d739e6
        method: GET
      response:
        body: '{"id":"6a7dc5c04f0e435105d739e6","name":"Acceptance Test - testaccdatasourceclientgrantorganizations","identifier":"https://api.testaccdatasourceclientgrantorganizations.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 392.833333ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_5EHAb80aPQC0zKyF
        method: GET
      response:
        body: '{"id":"org_5EHAb80aPQC0zKyF","name":"test-org-testaccdatasourceclientgrantorganizations","display_name":"Test Org testaccdatasourceclientgrantorganizations","third_party_client_access":"block","is_app_entitlement_active":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 304.540458ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/r2nehQVWws3du9VlSCnuuT6QI8xLdDyR
        method: GET
      response:
        body: '{"name":"test-client-testaccdatasourceclientgrantorganizations","client_id":"r2nehQVWws3du9VlSCnuuT6QI8xLdDyR","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 303.68375ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants?audience=https%3A%2F%2Fapi.testaccdatasourceclientgrantorganizations.com%2F&client_id=r2nehQVWws3du9VlSCnuuT6QI8xLdDyR&include_totals=true&per_page=50
        method: GET
      response:
        body: '{"total":0,"start":0,"limit":50,"client_grants":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 287.082292ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"client_id":"r2nehQVWws3du9VlSCnuuT6QI8xLdDyR","audience":"https://api.testaccdatasourceclientgrantorganizations.com/","scope":[],"allow_any_organization":true,"organization_usage":"allow"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants
        method: POST
      response:
        body: '{"id":"cgr_OEaZkTULi4SQkqv0","client_id":"r2nehQVWws3du9VlSCnuuT6QI8xLdDyR","audience":"https://api.testaccdatasourceclientgrantorganizations.com/","scope":[],"organization_usage":"allow","allow_any_organization":true,"subject_type":"client"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 358.888916ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants/cgr_OEaZkTULi4SQkqv0
        method: GET
      response:
        body: '{"id":"cgr_OEaZkTULi4SQkqv0","client_id":"r2nehQVWws3du9VlSCnuuT6QI8xLdDyR","audience":"https://api.testaccdatasourceclientgrantorganizations.com/","scope":[],"organization_usage":"allow","allow_any_organization":true,"subject_type":"client"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 330.404333ms
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"grant_id":"cgr_OEaZkTULi4SQkqv0"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_5EHAb80aPQC0zKyF/client-grants
        method: POST
      response:
        body: '{"grant_id":"cgr_OEaZkTULi4SQkqv0","client_id":"r2nehQVWws3du9VlSCnuuT6QI8xLdDyR","audience":"https://api.testaccdatasourceclientgrantorganizations.com/","scope":[],"organization_usage":"allow","allow_any_organization":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 328.290334ms
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_5EHAb80aPQC0zKyF/client-grants?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"client_grants":[{"id":"cgr_OEaZkTULi4SQkqv0","client_id":"r2nehQVWws3du9VlSCnuuT6QI8xLdDyR","audience":"https://api.testaccdatasourceclientgrantorganizations.com/","scope":[],"organization_usage":"allow","allow_any_organization":true,"subject_type":"client"}],"start":0,"limit":50,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 331.802ms
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants/cgr_OEaZkTULi4SQkqv0/organizations?include_totals=true&take=50
        method: GET
      response:
        body: '{"organizations":[{"id":"org_5EHAb80aPQC0zKyF","name":"test-org-testaccdatasourceclientgrantorganizations","display_name":"Test Org testaccdatasourceclientgrantorganizations","third_party_client_access":"block","is_app_entitlement_active":true}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 310.704417ms
[...]
    - id: 19
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_5EHAb80aPQC0zKyF/client-grants/cgr_OEaZkTULi4SQkqv0
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 298.824958ms
[...]
