---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-quota-testaccorganizationtokenquota","display_name":"Acme Inc. Token Quota testaccorganizationtokenquota","token_quota":{"client_credentials":{"enforce":true,"per_day":2000,"per_hour":100}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_7GGQq6DbqK5aH9Rb","display_name":"Acme Inc. Token Quota testaccorganizationtokenquota","name":"test-quota-testaccorganizationtokenquota","token_quota":{"client_credentials":{"enforce":true,"per_day":2000,"per_hour":100}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 270.098667ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_7GGQq6DbqK5aH9Rb
        method: GET
      response:
        body: '{"id":"org_7GGQq6DbqK5aH9Rb","name":"test-quota-testaccorganizationtokenquota","display_name":"Acme Inc. Token Quota testaccorganizationtokenquota","token_quota":{"client_credentials":{"per_hour":100,"per_day":2000,"enforce":true}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 253.352625ms
[...]
