---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"Auth0 Managed NotMatch DS - TestAccNetworkACLDataSourceAuth0ManagedNotMatch","active":true,"priority":7,"rule":{"action":{"allow":true},"not_match":{"auth0_managed":["auth0.low_reputation","auth0.icloud_relay_proxy"]},"scope":"authentication"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls
        method: POST
      response:
        body: '{"description":"Auth0 Managed NotMatch DS - TestAccNetworkACLDataSourceAuth0ManagedNotMatch","active":true,"priority":7,"rule":{"scope":"authentication","action":{"allow":true},"not_match":{"auth0_managed":["auth0.low_reputation","auth0.icloud_relay_proxy"]}},"created_at":"2026-07-30T11:43:04.529Z","updated_at":"2026-07-30T11:43:04.529Z","id":"acl_iAhqBXnpjp2L68hzgisovC"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 282.975542ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_iAhqBXnpjp2L68hzgisovC
        method: GET
      response:
        body: '{"tenant_id":"terraform-provider-auth0-dev","description":"Auth0 Managed NotMatch DS - TestAccNetworkACLDataSourceAuth0ManagedNotMatch","active":true,"priority":7,"rule":{"scope":"authentication","action":{"allow":true},"not_match":{"auth0_managed":["auth0.low_reputation","auth0.icloud_relay_proxy"]}},"created_at":"2026-07-30T11:43:04.529Z","updated_at":"2026-07-30T11:43:04.529Z","deleted_at":null,"id":"acl_iAhqBXnpjp2L68hzgisovC"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 276.30325ms
[...]
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_iAhqBXnpjp2L68hzgisovC
        method: DELETE
      response:
        body: '{"code":204,"object":""}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 275.117042ms
