---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - IsSystem - TestAccResourceServerIsSystem","identifier":"https://uat.api.terraform-provider-auth0.com/issystem/TestAccResourceServerIsSystem","signing_alg":"RS256","allow_offline_access":true,"token_lifetime":7200,"token_lifetime_for_web":3600,"skip_consent_for_verifiable_first_party_clients":true,"enforce_policies":false,"subject_type_authorization":{"user":{"policy":"allow_all"},"client":{"policy":"require_client_grant"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"691ca11775c27084b9f94f2d","name":"Acceptance Test - IsSystem - TestAccResourceServerIsSystem","identifier":"https://uat.api.terraform-provider-auth0.com/issystem/TestAccResourceServerIsSystem","allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true,"subject_type_authorization":{"user":{"policy":"allow_all"},"client":{"policy":"require_client_grant"}},"token_lifetime":7200,"token_lifetime_for_web":3600,"signing_alg":"RS256","enforce_policies":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 621.437417ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"consent_policy":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/691ca11775c27084b9f94f2d
        method: PATCH
      response:
        body: '{"id":"691ca11775c27084b9f94f2d","name":"Acceptance Test - IsSystem - TestAccResourceServerIsSystem","identifier":"https://uat.api.terraform-provider-auth0.com/issystem/TestAccResourceServerIsSystem","allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true,"subject_type_authorization":{"user":{"policy":"allow_all"},"client":{"policy":"require_client_grant"}},"token_lifetime":7200,"token_lifetime_for_web":3600,"signing_alg":"RS256","enforce_policies":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 434.232334ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"authorization_details":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/691ca11775c27084b9f94f2d
        method: PATCH
      response:
        body: '{"id":"691ca11775c27084b9f94f2d","name":"Acceptance Test - IsSystem - TestAccResourceServerIsSystem","identifier":"https://uat.api.terraform-provider-auth0.com/issystem/TestAccResourceServerIsSystem","allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true,"subject_type_authorization":{"user":{"policy":"allow_all"},"client":{"policy":"require_client_grant"}},"token_lifetime":7200,"token_lifetime_for_web":3600,"signing_alg":"RS256","enforce_policies":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 499.012375ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"token_encryption":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/691ca11775c27084b9f94f2d
        method: PATCH
      response:
        body: '{"id":"691ca11775c27084b9f94f2d","name":"Acceptance Test - IsSystem - TestAccResourceServerIsSystem","identifier":"https://uat.api.terraform-provider-auth0.com/issystem/TestAccResourceServerIsSystem","allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true,"subject_type_authorization":{"user":{"policy":"allow_all"},"client":{"policy":"require_client_grant"}},"token_lifetime":7200,"token_lifetime_for_web":3600,"signing_alg":"RS256","enforce_policies":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 596.468084ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"proof_of_possession":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/691ca11775c27084b9f94f2d
        method: PATCH
      response:
        body: '{"id":"691ca11775c27084b9f94f2d","name":"Acceptance Test - IsSystem - TestAccResourceServerIsSystem","identifier":"https://uat.api.terraform-provider-auth0.com/issystem/TestAccResourceServerIsSystem","allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true,"subject_type_authorization":{"user":{"policy":"allow_all"},"client":{"policy":"require_client_grant"}},"token_lifetime":7200,"token_lifetime_for_web":3600,"signing_alg":"RS256","enforce_policies":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 493.834875ms
[...]
