---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"Acceptance Test Key - TestAccNetworkACLKey","alg":"hmac-sha256","value":"dGhpcy1pcy1hLXZhbGlkLWtleS1mb3ItdGVzdGluZyE="}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/network-acls
        method: POST
      response:
        body: '{"name":"Acceptance Test Key - TestAccNetworkACLKey","alg":"hmac-sha256","fingerprint":"ad8086e5a92a4993507c7a7af66e649da6ad6c4362b94e4a88c46c91f0fe0424","created_at":"2026-09-07T04:43:40.144Z","updated_at":"2026-09-07T04:43:40.144Z","id":"key_hZtJ7M6ruN4iBAp35pxk5C"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 306.451583ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/network-acls/key_hZtJ7M6ruN4iBAp35pxk5C
        method: GET
      response:
        body: '{"name":"Acceptance Test Key - TestAccNetworkACLKey","alg":"hmac-sha256","fingerprint":"ad8086e5a92a4993507c7a7af66e649da6ad6c4362b94e4a88c46c91f0fe0424","created_at":"2026-09-07T04:43:40.144Z","updated_at":"2026-09-07T04:43:40.144Z","id":"key_hZtJ7M6ruN4iBAp35pxk5C"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 306.197292ms
[...]
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/network-acls/key_s6i6XXXSXohvs79whUs1d8
        method: GET
      response:
        body: '{"name":"Acceptance Test Key - TestAccNetworkACLKey","alg":"hmac-sha256","fingerprint":"f7528f9a045f6b83127cbb79234ae79a65a5db9d59ea77382d1ffd912e3745eb","created_at":"2026-09-07T04:43:43.266Z","updated_at":"2026-09-07T04:43:43.266Z","id":"key_s6i6XXXSXohvs79whUs1d8"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 297.917667ms
[...]
