---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"pre-user-reg-hook","script":"function (user, context, callback) { callback(null, { user }); }","triggerId":"pre-user-registration","dependencies":{"auth0":"2.30.0"},"enabled":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/hooks
        method: POST
      response:
        body: '{"id":"01GEPVQNVSHW1ZVB7WVPRYKX18","name":"pre-user-reg-hook","script":"function (user, context, callback) { callback(null, { user }); }","dependencies":{"auth0":"2.30.0"},"triggerId":"pre-user-registration","enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/hooks/01GEPVQNVSHW1ZVB7WVPRYKX18/secrets
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"foo":"alpha"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/hooks/01GEPVQNVSHW1ZVB7WVPRYKX18/secrets
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/hooks/01GEPVQNVSHW1ZVB7WVPRYKX18
        method: GET
      response:
        body: '{"id":"01GEPVQNVSHW1ZVB7WVPRYKX18","name":"pre-user-reg-hook","script":"function (user, context, callback) { callback(null, { user }); }","dependencies":{"auth0":"2.30.0"},"enabled":true,"triggerId":"pre-user-registration"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
[...]
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"bar":"kappa"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/hooks/01GEPVQNVSHW1ZVB7WVPRYKX18/secrets
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1ms
[...]
