---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test User Attribute Profile TestSelfServiceDataSource_UserAttributeProfile","user_attributes":{"email":{"description":"User's email address","label":"Email","profile_required":false,"auth0_mapping":"email"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/user-attribute-profiles
        method: POST
      response:
        body: '{"id":"uap_1cssig81UiKbeBb7m5cVxB","name":"Test User Attribute Profile TestSelfServiceDataSource_UserAttributeProfile","user_id":{"oidc_mapping":"sub","saml_mapping":["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"],"scim_mapping":"externalId"},"user_attributes":{"email":{"label":"Email","description":"User''s email address","auth0_mapping":"email","profile_required":false}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 273.311709ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/user-attribute-profiles/uap_1cssig81UiKbeBb7m5cVxB
        method: GET
      response:
        body: '{"id":"uap_1cssig81UiKbeBb7m5cVxB","name":"Test User Attribute Profile TestSelfServiceDataSource_UserAttributeProfile","user_id":{"oidc_mapping":"sub","saml_mapping":["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"],"scim_mapping":"externalId"},"user_attributes":{"email":{"label":"Email","description":"User''s email address","auth0_mapping":"email","profile_required":false}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 356.968375ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"my-sso-profile","description":"sample description","allowed_strategies":["oidc","samlp"],"branding":{"colors":{"primary":"#0059d6"},"logo_url":"https://mycompany.org/v2/logo.png"},"user_attribute_profile_id":"uap_1cssig81UiKbeBb7m5cVxB"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/self-service-profiles
        method: POST
      response:
        body: '{"id":"ssp_aBr2jSZqc9X6V8abyRotv8","name":"my-sso-profile","description":"sample description","user_attributes":[],"allowed_strategies":["oidc","samlp"],"created_at":"2025-09-24T13:23:42.268Z","updated_at":"2025-09-24T13:23:42.268Z","branding":{"logo_url":"https://mycompany.org/v2/logo.png","colors":{"primary":"#0059d6"}},"user_attribute_profile_id":"uap_1cssig81UiKbeBb7m5cVxB"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 224.918334ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/self-service-profiles/ssp_aBr2jSZqc9X6V8abyRotv8
        method: GET
      response:
        body: '{"id":"ssp_aBr2jSZqc9X6V8abyRotv8","name":"my-sso-profile","description":"sample description","user_attributes":[],"allowed_strategies":["oidc","samlp"],"created_at":"2025-09-24T13:23:42.268Z","updated_at":"2025-09-24T13:23:42.268Z","branding":{"logo_url":"https://mycompany.org/v2/logo.png","colors":{"primary":"#0059d6"}},"user_attribute_profile_id":"uap_1cssig81UiKbeBb7m5cVxB"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 184.19975ms
[...]
