---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"owner","description":"Owner"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles
        method: POST
      response:
        body: '{"id":"rol_293qw513ONKnigK1","name":"owner","description":"Owner"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 146.164791ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_293qw513ONKnigK1
        method: GET
      response:
        body: '{"id":"rol_293qw513ONKnigK1","name":"owner","description":"Owner"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 104.719416ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_293qw513ONKnigK1/permissions?include_totals=true&page=0&per_page=50
        method: GET
      response:
        body: '{"permissions":[],"start":0,"limit":50,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 170.183ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"testaccuserrole@acceptance.test.com","password":"passpass$12$12"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"created_at":"2023-05-12T15:49:39.787Z","email":"testaccuserrole@acceptance.test.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"645e6013e74fbec581022e4d","provider":"auth0","isSocial":false}],"name":"testaccuserrole@acceptance.test.com","nickname":"testaccuserrole","picture":"https://s.gravatar.com/avatar/03852bc69e4a3603ec066b4cc4e25707?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2023-05-12T15:49:39.787Z","user_id":"auth0|645e6013e74fbec581022e4d"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 302.151875ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C645e6013e74fbec581022e4d
        method: GET
      response:
        body: '{"created_at":"2023-05-12T15:49:39.787Z","email":"testaccuserrole@acceptance.test.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"645e6013e74fbec581022e4d","provider":"auth0","isSocial":false}],"name":"testaccuserrole@acceptance.test.com","nickname":"testaccuserrole","picture":"https://s.gravatar.com/avatar/03852bc69e4a3603ec066b4cc4e25707?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2023-05-12T15:49:39.787Z","user_id":"auth0|645e6013e74fbec581022e4d"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 95.992834ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C645e6013e74fbec581022e4d/roles?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"roles":[],"start":0,"limit":50,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 145.968667ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C645e6013e74fbec581022e4d/permissions?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"permissions":[],"start":0,"limit":50,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 113.217542ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"roles":["rol_293qw513ONKnigK1"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C645e6013e74fbec581022e4d/roles
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 162.662083ms
[...]
    - id: 34
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_vN15n6JnhBHLml7l
        method: GET
      response:
        body: '{"id":"rol_vN15n6JnhBHLml7l","name":"admin","description":"Administrator"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 113.251542ms
    - id: 35
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_vN15n6JnhBHLml7l/permissions?include_totals=true&page=0&per_page=50
        method: GET
      response:
        body: '{"permissions":[],"start":0,"limit":50,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 180.040416ms
[...]
    - id: 72
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"roles":["rol_293qw513ONKnigK1","rol_vN15n6JnhBHLml7l"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C645e6013e74fbec581022e4d/roles
        method: DELETE
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"The role does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 92.902291ms
[...]
