---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - TestAccDataSourceResourceServerByIdentifier","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccDataSourceResourceServerByIdentifier","scopes":[{"value":"create:bar","description":"Create bars"},{"value":"create:foo","description":"Create foos"}],"signing_alg":"RS256","allow_offline_access":true,"token_lifetime":7200,"token_lifetime_for_web":3600,"skip_consent_for_verifiable_first_party_clients":true,"enforce_policies":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"63e650fad502eb7800cdd851","name":"Acceptance Test - TestAccDataSourceResourceServerByIdentifier","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccDataSourceResourceServerByIdentifier","allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true,"token_lifetime":7200,"token_lifetime_for_web":3600,"signing_alg":"RS256","scopes":[{"value":"create:bar","description":"Create bars"},{"value":"create:foo","description":"Create foos"}],"enforce_policies":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 161.119375ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/63e650fad502eb7800cdd851
        method: GET
      response:
        body: '{"id":"63e650fad502eb7800cdd851","name":"Acceptance Test - TestAccDataSourceResourceServerByIdentifier","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccDataSourceResourceServerByIdentifier","allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true,"token_lifetime":7200,"token_lifetime_for_web":3600,"signing_alg":"RS256","scopes":[{"value":"create:bar","description":"Create bars"},{"value":"create:foo","description":"Create foos"}],"enforce_policies":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 101.625292ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/https:%252F%252Fuat.api.terraform-provider-auth0.com%252FTestAccDataSourceResourceServerByIdentifier
        method: GET
      response:
        body: '{"id":"63e650fad502eb7800cdd851","name":"Acceptance Test - TestAccDataSourceResourceServerByIdentifier","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccDataSourceResourceServerByIdentifier","allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true,"token_lifetime":7200,"token_lifetime_for_web":3600,"signing_alg":"RS256","scopes":[{"value":"create:bar","description":"Create bars"},{"value":"create:foo","description":"Create foos"}],"enforce_policies":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 101.122083ms
[...]
