---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-testaccorganizationdiscoverydomain_import","display_name":"Test Organization testaccorganizationdiscoverydomain_import"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_o5WOQc5D6iEM4nuV","display_name":"Test Organization testaccorganizationdiscoverydomain_import","name":"test-testaccorganizationdiscoverydomain_import"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 234.288542ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_o5WOQc5D6iEM4nuV
        method: GET
      response:
        body: '{"id":"org_o5WOQc5D6iEM4nuV","name":"test-testaccorganizationdiscoverydomain_import","display_name":"Test Organization testaccorganizationdiscoverydomain_import"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 222.861ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"testaccorganizationdiscoverydomain-import.example.com","status":"pending"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_o5WOQc5D6iEM4nuV/discovery-domains
        method: POST
      response:
        body: '{"id":"ord_1csw8dh2Uatjedn6AESMsA","domain":"testaccorganizationdiscoverydomain-import.example.com","status":"pending","verification_host":"_ss-verification.org_o5WOQc5D6iEM4nuV.testaccorganizationdiscoverydomain-import.example.com","verification_txt":"4475daf815b871864a342dd3f1cb58c9"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 264.0225ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_o5WOQc5D6iEM4nuV/discovery-domains/ord_1csw8dh2Uatjedn6AESMsA
        method: GET
      response:
        body: '{"id":"ord_1csw8dh2Uatjedn6AESMsA","domain":"testaccorganizationdiscoverydomain-import.example.com","status":"pending","verification_host":"_ss-verification.org_o5WOQc5D6iEM4nuV.testaccorganizationdiscoverydomain-import.example.com","verification_txt":"4475daf815b871864a342dd3f1cb58c9"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 260.396875ms
[...]
