---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_xxxxxxxxxxxxxxxx/directory-provisioning
        method: POST
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"The connection does not exist","errorCode":"inexistent_connection"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 400.251292ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Directory-Connection-TestAccDirectoryProvisioning","display_name":"Acceptance-Test-Directory-TestAccDirectoryProvisioning","strategy":"google-apps","is_domain_connection":false,"show_as_button":false,"options":{"client_id":"","client_secret":"","domain":"example.com","tenant_domain":"example.com","ext_profile":true,"ext_groups":true,"api_enable_users":true,"api_enable_groups":true,"set_user_root_attributes":"on_first_login","map_user_id_to_id":true,"domain_aliases":["api.example.com","example.com"],"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_N9mmBXE40pwbvnZp","options":{"client_id":"","client_secret":"","domain":"example.com","tenant_domain":"example.com","ext_profile":true,"ext_groups":true,"api_enable_users":true,"api_enable_groups":true,"set_user_root_attributes":"on_first_login","map_user_id_to_id":true,"domain_aliases":["api.example.com","example.com"],"upstream_params":{"screen_name":{"alias":"login_hint"}},"email":true,"profile":true,"scope":["email","profile"],"handle_login_from_social":true},"strategy":"google-apps","name":"Acceptance-Test-Directory-Connection-TestAccDirectoryProvisioning","provisioning_ticket_url":"https://login.us.auth0.com/terraform-provider-auth0-dev/p/google-apps/yVQ3xPXo","is_domain_connection":false,"show_as_button":false,"authentication":{"active":true},"connected_accounts":{"active":false},"display_name":"Acceptance-Test-Directory-TestAccDirectoryProvisioning","enabled_clients":[],"realms":["Acceptance-Test-Directory-Connection-TestAccDirectoryProvisioning"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 565.343583ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_N9mmBXE40pwbvnZp
        method: GET
      response:
        body: '{"id":"con_N9mmBXE40pwbvnZp","options":{"email":true,"scope":["email","profile"],"domain":"example.com","profile":true,"client_id":"","ext_groups":true,"ext_profile":true,"client_secret":"","tenant_domain":"example.com","domain_aliases":["api.example.com","example.com"],"upstream_params":{"screen_name":{"alias":"login_hint"}},"api_enable_users":true,"api_enable_groups":true,"map_user_id_to_id":true,"handle_login_from_social":true,"set_user_root_attributes":"on_first_login"},"strategy":"google-apps","name":"Acceptance-Test-Directory-Connection-TestAccDirectoryProvisioning","provisioning_ticket_url":"https://login.us.auth0.com/terraform-provider-auth0-dev/p/google-apps/yVQ3xPXo","is_domain_connection":false,"show_as_button":false,"authentication":{"active":true},"connected_accounts":{"active":false},"display_name":"Acceptance-Test-Directory-TestAccDirectoryProvisioning","enabled_clients":[],"realms":["Acceptance-Test-Directory-Connection-TestAccDirectoryProvisioning"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 379.635417ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_N9mmBXE40pwbvnZp/directory-provisioning
        method: POST
      response:
        body: '{"connection_id":"con_N9mmBXE40pwbvnZp","connection_name":"Acceptance-Test-Directory-Connection-TestAccDirectoryProvisioning","strategy":"google-apps","mapping":[{"idp":"id","auth0":"app_metadata.external_id"},{"idp":"primaryEmail","auth0":"email"},{"idp":"primaryEmail","auth0":"primaryEmail"},{"idp":"name.fullName","auth0":"name"},{"idp":"name.givenName","auth0":"given_name"},{"idp":"name.familyName","auth0":"family_name"},{"idp":"isAdmin","auth0":"isAdmin"},{"idp":"isAdmin","auth0":"is_admin"},{"idp":"isDelegatedAdmin","auth0":"isDelegatedAdmin"},{"idp":"agreedToTerms","auth0":"agreedToTerms"},{"idp":"agreedToTerms","auth0":"tou_accepted"},{"idp":"suspended","auth0":"susp[...]
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"mapping":[{"auth0":"external_id","idp":"id"},{"auth0":"email","idp":"primaryEmail"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_N9mmBXE40pwbvnZp/directory-provisioning
        method: PATCH
      response:
        body: '{"connection_id":"con_N9mmBXE40pwbvnZp","connection_name":"Acceptance-Test-Directory-Connection-TestAccDirectoryProvisioning","strategy":"google-apps","mapping":[{"idp":"id","auth0":"external_id"},{"idp":"primaryEmail","auth0":"email"}],"synchronize_automatically":false,"created_at":"2026-05-05T12:03:35.996Z","updated_at":"2026-05-05T12:03:41.003Z","synchronize_groups":"off"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 394.504791ms
[...]
    - id: 23
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_N9mmBXE40pwbvnZp
        method: DELETE
      response:
        body: '{"deleted_at":"2026-05-05T12:03:52.186Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 523.959208ms
