---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {};","dependencies":[],"secrets":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"a3a7d73d-d887-48e4-b9ce-aa45aac1e2da","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-07-15T17:06:57.659423323Z","updated_at":"2023-07-15T17:06:57.670114256Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node16","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 138.629167ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/a3a7d73d-d887-48e4-b9ce-aa45aac1e2da
        method: GET
      response:
        body: '{"id":"a3a7d73d-d887-48e4-b9ce-aa45aac1e2da","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-07-15T17:06:57.659423323Z","updated_at":"2023-07-15T17:06:57.670114256Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node16","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 216.928667ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node18-actions","secrets":[{"name":"foo","value":"111111"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/a3a7d73d-d887-48e4-b9ce-aa45aac1e2da
        method: PATCH
      response:
        body: '{"id":"a3a7d73d-d887-48e4-b9ce-aa45aac1e2da","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-07-15T17:06:57.659423323Z","updated_at":"2023-07-15T17:06:59.948834419Z","code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node18-actions","status":"pending","secrets":[{"name":"foo","updated_at":"2023-07-15T17:06:59.948834419Z"}],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 214.504042ms
[...]
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/a3a7d73d-d887-48e4-b9ce-aa45aac1e2da/deploy
        method: POST
      response:
        body: '{"code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"id":"efa9df15-f318-43c1-9017-8e92e9bfa467","deployed":false,"number":1,"secrets":[{"name":"foo","updated_at":"2023-07-15T17:06:59.948834419Z"}],"status":"built","created_at":"2023-07-15T17:07:16.611982297Z","updated_at":"2023-07-15T17:07:16.611982297Z","runtime":"node18-actions","supported_triggers":[{"id":"post-login","version":"v3"}],"action":{"id":"a3a7d73d-d887-48e4-b9ce-aa45aac1e2da","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-07-15T17:06:57.659423323Z","updated_at":"2023-07-15T17:06:59.942077874Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 112.385416ms
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/a3a7d73d-d887-48e4-b9ce-aa45aac1e2da
        method: GET
      response:
        body: '{"id":"a3a7d73d-d887-48e4-b9ce-aa45aac1e2da","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-07-15T17:06:57.659423323Z","updated_at":"2023-07-15T17:06:59.948834419Z","code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node18-actions","status":"built","secrets":[{"name":"foo","updated_at":"2023-07-15T17:06:59.948834419Z"}],"current_version":{"id":"efa9df15-f318-43c1-9017-8e92e9bfa467","code":"exports.onContinuePostLogin = async (event, api) => {};","runtime":"node18-actions","status":"BUILT","number":1,"build_time":"2023-07-15T17:07:16.682289631Z","created_at":"2023-07-15T17:07:16.611982297Z","updated_at":"2023-07-15T17:07:16.683202041Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"id":"efa9df15-f318-43c1-9017-8e92e9bfa467","deployed":true,"number":1,"built_at":"2023-07-15T17:07:16.682289631Z","secrets":[{"name":"foo","updated_at":"2023-07-15T17:06:59.948834419Z"}],"status":"built","created_at":"2023-07-15T17:07:16.611982297Z","updated_at":"2023-07-15T17:07:16.683202041Z","runtime":"node18-actions","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 323.847ms
[...]
