---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-dd-import-testaccorgdiscoverydomainsimport","display_name":"Test Discovery Domains Import testaccorgdiscoverydomainsimport"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_RsUqoIAGXrUQZT0O","display_name":"Test Discovery Domains Import testaccorgdiscoverydomainsimport","name":"test-dd-import-testaccorgdiscoverydomainsimport"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 242.22225ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_RsUqoIAGXrUQZT0O
        method: GET
      response:
        body: '{"id":"org_RsUqoIAGXrUQZT0O","name":"test-dd-import-testaccorgdiscoverydomainsimport","display_name":"Test Discovery Domains Import testaccorgdiscoverydomainsimport"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 233.241666ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"testaccorgdiscoverydomainsimport-domain1.example.com","status":"pending"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_RsUqoIAGXrUQZT0O/discovery-domains
        method: POST
      response:
        body: '{"id":"ord_1csDPQiJM5uXWpzGw1o2YZ","domain":"testaccorgdiscoverydomainsimport-domain1.example.com","status":"pending","verification_host":"_ss-verification.org_RsUqoIAGXrUQZT0O.testaccorgdiscoverydomainsimport-domain1.example.com","verification_txt":"8a3bb3f04ac88d02aee9f855e3b80abf"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 272.155583ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_RsUqoIAGXrUQZT0O/discovery-domains/ord_1csDPQiJM5uXWpzGw1o2YZ
        method: GET
      response:
        body: '{"id":"ord_1csDPQiJM5uXWpzGw1o2YZ","domain":"testaccorgdiscoverydomainsimport-domain1.example.com","status":"pending","verification_host":"_ss-verification.org_RsUqoIAGXrUQZT0O.testaccorgdiscoverydomainsimport-domain1.example.com","verification_txt":"8a3bb3f04ac88d02aee9f855e3b80abf"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 219.878792ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_RsUqoIAGXrUQZT0O/discovery-domains/ord_1csDPQkJQnz8hw5wFnqVKT
        method: GET
      response:
        body: '{"id":"ord_1csDPQkJQnz8hw5wFnqVKT","domain":"testaccorgdiscoverydomainsimport-domain2.example.com","status":"verified","verification_host":"_ss-verification.org_RsUqoIAGXrUQZT0O.testaccorgdiscoverydomainsimport-domain2.example.com","verification_txt":"6848f53f0403d7c3382dbdf707c12a6f"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 256.190167ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_RsUqoIAGXrUQZT0O/discovery-domains?take=100
        method: GET
      response:
        body: '{"domains":[{"id":"ord_1csDPQiJM5uXWpzGw1o2YZ","domain":"testaccorgdiscoverydomainsimport-domain1.example.com","status":"pending","verification_host":"_ss-verification.org_RsUqoIAGXrUQZT0O.testaccorgdiscoverydomainsimport-domain1.example.com","verification_txt":"8a3bb3f04ac88d02aee9f855e3b80abf"},{"id":"ord_1csDPQkJQnz8hw5wFnqVKT","domain":"testaccorgdiscoverydomainsimport-domain2.example.com","status":"verified","verification_host":"_ss-verification.org_RsUqoIAGXrUQZT0O.testaccorgdiscoverydomainsimport-domain2.example.com","verification_txt":"6848f53f0403d7c3382dbdf707c12a6f"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 237.504167ms
[...]
