---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"resource":"oauth_authentication_api","consumer":"client","consumer_selector":"default","configuration":{"action":"block","limit":100}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/rate-limit-policies
        method: POST
      response:
        body: '{"id":"rlp_cBKD9bwbs2UBUPt8tpUBc","resource":"oauth_authentication_api","consumer":"client","consumer_selector":"default","configuration":{"action":"block","limit":100},"created_at":"2026-07-06T10:24:38.766279Z","updated_at":"2026-07-06T10:24:38.766279Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 371.430959ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/rate-limit-policies/rlp_cBKD9bwbs2UBUPt8tpUBc
        method: GET
      response:
        body: '{"id":"rlp_cBKD9bwbs2UBUPt8tpUBc","resource":"oauth_authentication_api","consumer":"client","consumer_selector":"default","configuration":{"action":"block","limit":100},"created_at":"2026-07-06T10:24:38.766279Z","updated_at":"2026-07-06T10:24:38.766279Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 312.369625ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"configuration":{"action":"redirect","limit":500,"redirect_uri":"https://example.com/rate-limited"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/rate-limit-policies/rlp_cBKD9bwbs2UBUPt8tpUBc
        method: PATCH
      response:
        body: '{"id":"rlp_cBKD9bwbs2UBUPt8tpUBc","resource":"oauth_authentication_api","consumer":"client","consumer_selector":"default","configuration":{"action":"redirect","limit":500,"redirect_uri":"https://example.com/rate-limited"},"created_at":"2026-07-06T10:24:38.766279Z","updated_at":"2026-07-06T10:24:41.77949Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 323.426583ms
[...]
