---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {\n\tconsole.log(\"foo\")\n};\"\n"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"ffde96a0-4891-4e29-8899-ff021640739f","name":"test-action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2026-05-29T13:13:52.040839322Z","updated_at":"2026-05-29T13:13:52.051640758Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node22","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 410.40725ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/ffde96a0-4891-4e29-8899-ff021640739f
        method: GET
      response:
        body: '{"id":"ffde96a0-4891-4e29-8899-ff021640739f","name":"test-action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2026-05-29T13:13:52.040839322Z","updated_at":"2026-05-29T13:13:52.051640758Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node22","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 412.971041ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/ffde96a0-4891-4e29-8899-ff021640739f/deploy
        method: POST
      response:
        body: '{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"6f78504c-bf3c-4820-b3d7-343bb71c0ecd","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2026-05-29T13:13:52.860688180Z","updated_at":"2026-05-29T13:13:52.860688180Z","runtime":"node22","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"action":{"id":"ffde96a0-4891-4e29-8899-ff021640739f","name":"test-action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2026-05-29T13:13:52.040839322Z","updated_at":"2026-05-29T13:13:52.040839322Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 437.802958ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/ffde96a0-4891-4e29-8899-ff021640739f
        method: GET
      response:
        body: '{"id":"ffde96a0-4891-4e29-8899-ff021640739f","name":"test-action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2026-05-29T13:13:52.040839322Z","updated_at":"2026-05-29T13:13:52.051640758Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node22","status":"built","secrets":[],"current_version":{"id":"6f78504c-bf3c-4820-b3d7-343bb71c0ecd","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node22","status":"BUILT","number":1,"build_time":"2026-05-29T13:13:52.947023063Z","created_at":"2026-05-29T13:13:52.860688180Z","updated_at":"2026-05-29T13:13:52.947661725Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"6f78504c-bf3c-4820-b3d7-343bb71c0ecd","deployed":true,"number":1,"built_at":"2026-05-29T13:13:52.947023063Z","secrets":[],"status":"built","created_at":"2026-05-29T13:13:52.860688180Z","updated_at":"2026-05-29T13:13:52.947661725Z","runtime":"node22","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 445.904959ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"token-prof-TestTokenExchangeDataSourceResource","subject_token_type":"https://acme.com/cis-token","action_id":"ffde96a0-4891-4e29-8899-ff021640739f","type":"custom_authentication"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/token-exchange-profiles
        method: POST
      response:
        body: '{"id":"tep_NAPgZOrLHINhMn8w","name":"token-prof-TestTokenExchangeDataSourceResource","type":"custom_authentication","subject_token_type":"https://acme.com/cis-token","action_id":"ffde96a0-4891-4e29-8899-ff021640739f","created_at":"2026-05-29T13:13:54.333Z","updated_at":"2026-05-29T13:13:54.333Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 570.783875ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/token-exchange-profiles/tep_NAPgZOrLHINhMn8w
        method: GET
      response:
        body: '{"id":"tep_NAPgZOrLHINhMn8w","name":"token-prof-TestTokenExchangeDataSourceResource","type":"custom_authentication","subject_token_type":"https://acme.com/cis-token","action_id":"ffde96a0-4891-4e29-8899-ff021640739f","created_at":"2026-05-29T13:13:54.333Z","updated_at":"2026-05-29T13:13:54.333Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 412.332709ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/token-exchange-profiles/tep_Tnvl88SKv98TkMmr
        method: GET
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"Token exchange profile not found."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 381.122667ms
[...]
    - id: 17
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/custom-token-exchange/bindings?page=0&per_page=100
        method: GET
      response:
        body: '{"bindings":[],"per_page":100}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 410.389084ms
[...]
