---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance-Test-LogStream-mixpanel-TestAccLogStreamMixpanel","type":"mixpanel","sink":{"mixpanelRegion":"us","mixpanelProjectId":"123456789","mixpanelServiceAccountUsername":"fake-account.123abc.mp-service-account","mixpanelServiceAccountPassword":"8iwyKSzwV2brfakepassGGKhsZ3INozo"}}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"lst_0000000000011205","name":"Acceptance-Test-LogStream-mixpanel-TestAccLogStreamMixpanel","type":"mixpanel","status":"active","sink":{"mixpanelRegion":"us","mixpanelProjectId":"123456789","mixpanelServiceAccountUsername":"fake-account.123abc.mp-service-account","mixpanelServiceAccountPassword":"********"}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 277.859191ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000011205
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"lst_0000000000011205","name":"Acceptance-Test-LogStream-mixpanel-TestAccLogStreamMixpanel","type":"mixpanel","status":"active","sink":{"mixpanelRegion":"us","mixpanelProjectId":"123456789","mixpanelServiceAccountUsername":"fake-account.123abc.mp-service-account","mixpanelServiceAccountPassword":"********"}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 221.400575ms
[...]
  - id: 8
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance-Test-LogStream-mixpanel-TestAccLogStreamMixpanel","filters":[{"name":"auth.login.fail","type":"category"},{"name":"auth.signup.fail","type":"category"}],"sink":{"mixpanelRegion":"us","mixpanelProjectId":"987654321","mixpanelServiceAccountUsername":"fake-account.123abc.mp-service-account","mixpanelServiceAccountPassword":"8iwyKSzwV2brfakepassGGKhsZ3INozo"}}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000011205
      method: PATCH
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"lst_0000000000011205","name":"Acceptance-Test-LogStream-mixpanel-TestAccLogStreamMixpanel","type":"mixpanel","status":"active","sink":{"mixpanelRegion":"us","mixpanelProjectId":"987654321","mixpanelServiceAccountUsername":"fake-account.123abc.mp-service-account","mixpanelServiceAccountPassword":"********"},"filters":[{"name":"auth.login.fail","type":"category"},{"name":"auth.signup.fail","type":"category"}]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 114.17275ms
[...]
