---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"TestTokenExchangeProfile-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {\n\tconsole.log(\"foo\")\n};\"\n"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"0d3e5e29-1b33-4a06-8229-18b340a9117a","name":"TestTokenExchangeProfile-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2025-01-17T05:58:40.834222847Z","updated_at":"2025-01-17T05:58:40.852381951Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node18","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 422.972542ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/0d3e5e29-1b33-4a06-8229-18b340a9117a
        method: GET
      response:
        body: '{"id":"0d3e5e29-1b33-4a06-8229-18b340a9117a","name":"TestTokenExchangeProfile-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2025-01-17T05:58:40.834222847Z","updated_at":"2025-01-17T05:58:40.852381951Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node18","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 389.946458ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/0d3e5e29-1b33-4a06-8229-18b340a9117a/deploy
        method: POST
      response:
        body: '{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"b96bb2d9-e67d-4d99-a0dd-d7a93a4c3e77","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2025-01-17T05:58:41.620126381Z","updated_at":"2025-01-17T05:58:41.620126381Z","runtime":"node18","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"action":{"id":"0d3e5e29-1b33-4a06-8229-18b340a9117a","name":"TestTokenExchangeProfile-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2025-01-17T05:58:40.834222847Z","updated_at":"2025-01-17T05:58:40.834222847Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 367.785375ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/0d3e5e29-1b33-4a06-8229-18b340a9117a
        method: GET
      response:
        body: '{"id":"0d3e5e29-1b33-4a06-8229-18b340a9117a","name":"TestTokenExchangeProfile-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2025-01-17T05:58:40.834222847Z","updated_at":"2025-01-17T05:58:40.852381951Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node18","status":"built","secrets":[],"current_version":{"id":"b96bb2d9-e67d-4d99-a0dd-d7a93a4c3e77","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node18","status":"BUILT","number":1,"build_time":"2025-01-17T05:58:41.684775435Z","created_at":"2025-01-17T05:58:41.620126381Z","updated_at":"2025-01-17T05:58:41.686007224Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"b96bb2d9-e67d-4d99-a0dd-d7a93a4c3e77","deployed":true,"number":1,"built_at":"2025-01-17T05:58:41.684775435Z","secrets":[],"status":"built","created_at":"2025-01-17T05:58:41.620126381Z","updated_at":"2025-01-17T05:58:41.686007224Z","runtime":"node18","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 432.299459ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"token-prof-TestTokenExchangeProfile","subject_token_type":"https://acme.com/cis-token","action_id":"0d3e5e29-1b33-4a06-8229-18b340a9117a","type":"custom_authentication"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/token-exchange-profiles
        method: POST
      response:
        body: '{"id":"tep_bdN9eWKnMqg1RecL","name":"token-prof-TestTokenExchangeProfile","type":"custom_authentication","subject_token_type":"https://acme.com/cis-token","action_id":"0d3e5e29-1b33-4a06-8229-18b340a9117a","created_at":"2025-01-17T05:58:42.538Z","updated_at":"2025-01-17T05:58:42.538Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 513.814583ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/token-exchange-profiles/tep_bdN9eWKnMqg1RecL
        method: GET
      response:
        body: '{"id":"tep_bdN9eWKnMqg1RecL","name":"token-prof-TestTokenExchangeProfile","type":"custom_authentication","subject_token_type":"https://acme.com/cis-token","action_id":"0d3e5e29-1b33-4a06-8229-18b340a9117a","created_at":"2025-01-17T05:58:42.538Z","updated_at":"2025-01-17T05:58:42.538Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 940.887959ms
[...]
