---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"borders":{"button_border_radius":1.1,"button_border_weight":1.34,"buttons_style":"pill","input_border_radius":3.2,"input_border_weight":1.99,"inputs_style":"pill","show_widget_shadow":false,"widget_border_weight":1.11,"widget_corner_radius":3.57},"colors":{"body_text":"#FF00CC","error":"#FF00CC","header":"#FF00CC","icons":"#FF00CC","input_background":"#FF00CC","input_border":"#FF00CC","input_filled_text":"#FF00CC","input_labels_placeholders":"#FF00CC","links_focused_components":"#FF00CC","primary_button":"#FF00CC","primary_button_label":"#FF00CC","secondary_button_border":"#FF00CC","secondary_button_label":"#FF00CC","success":"#FF00CC","widget_background":"#FF00CC","widget_border":"#FF00CC"},"fonts":{"body_text":{"bold":false,"size":99.5},"buttons_text":{"bold":false,"size":99.5},"font_url":"https://google.com/font.woff","input_labels":{"bold":false,"size":99.5},"links":{"bold":false,"size":99.5},"links_style":"normal","reference_text_size":12.5,"subtitle":{"bold":false,"size":99.5},"title":{"bold":false,"size":99.5}},"page_background":{"background_color":"#000000","background_image_url":"https://google.com/background.png","page_layout":"center"},"widget":{"header_text_alignment":"center","logo_height":55.5,"logo_position":"center","logo_url":"https://google.com/logo.png","social_buttons_layout":"top"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/themes
        method: POST
      response:
        body: '{"borders":{"button_border_radius":1.1,"button_border_weight":1.34,"buttons_style":"pill","input_border_radius":3.2,"input_border_weight":1.99,"inputs_style":"pill","show_widget_shadow":false,"widget_border_weight":1.11,"widget_corner_radius":3.57},"colors":{"body_text":"#FF00CC","error":"#FF00CC","header":"#FF00CC","icons":"#FF00CC","input_background":"#FF00CC","input_border":"#FF00CC","input_filled_text":"#FF00CC","input_labels_placeholders":"#FF00CC","links_focused_components":"#FF00CC","primary_button":"#FF00CC","primary_button_label":"#FF00CC","secondary_button_border":"#FF00CC","secondary_button_label":"#FF00CC","success":"#FF00CC","widget_background":"#FF00CC","widget_border":"#FF00CC"},"fonts":{"body_text":{"bold":false,"size":99.5},"buttons_text":{"bold":false,"size":99.5},"font_url":"https://google.com/font.woff","input_labels":{"bold":false,"size":99.5},"links":{"bold":false,"size":99.5},"links_style":"normal","reference_text_size":12.5,"subtitle":{"bold":false,"size":99.5},"title":{"bold":false,"size":99.5}},"page_background":{"background_color":"#000000","background_image_url":"https://google.com/background.png","page_layout":"center"},"widget":{"header_text_alignment":"center","logo_height":55.5,"logo_position":"center","logo_url":"https://google.com/logo.png","social_buttons_layout":"top"},"themeId":"wM5Qv86kh5FmAo4rObeTuvJ1Y4rpW35W"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 238.562417ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/themes/wM5Qv86kh5FmAo4rObeTuvJ1Y4rpW35W
        method: GET
      response:
        body: '{"borders":{"button_border_radius":1.1,"button_border_weight":1.34,"buttons_style":"pill","input_border_radius":3.2,"in[...]
[...]
