---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            ["all-applications"]
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/policies
        method: PUT
      response:
        body: '["all-applications"]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 318.754916ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"display_remember_me_checkbox":true,"remember_me_default_value":false,"mfa_session_inactivity_timeout":604800,"mfa_session_overall_timeout":2592000}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/settings
        method: PUT
      response:
        body: '{"display_remember_me_checkbox":true,"remember_me_default_value":false,"mfa_session_inactivity_timeout":604800,"mfa_session_overall_timeout":2592000}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 294.455208ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"otp_length":6,"otp_expiration_time":300}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/phone/settings
        method: PUT
      response:
        body: '{"otp_length":6,"otp_expiration_time":300}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 476.427ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"otp_length":6,"otp_expiration_time":300}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/email/settings
        method: PUT
      response:
        body: '{"otp_length":6,"otp_expiration_time":300}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 327.380167ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors
        method: GET
      response:
        body: '[{"name":"sms","enabled":false,"trial_expired":false},{"name":"push-notification","enabled":false,"trial_expired":false},{"name":"otp","enabled":false,"trial_expired":false},{"name":"email","enabled":false,"trial_expired":false},{"name":"duo","enabled":false,"trial_expired":false},{"name":"webauthn-roaming","enabled":false,"trial_expired":false},{"name":"webauthn-platform","enabled":false,"trial_expired":false},{"name":"recovery-code","enabled":false,"trial_expired":false}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 302.584208ms
[...]
    - id: 61
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"enabled":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/sms
        method: PUT
      response:
        body: '{"enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 317.137917ms
    - id: 62
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"enabled":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/email
        method: PUT
      response:
        body: '{"enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 310.555917ms
    - id: 63
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"enabled":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/otp
        method: PUT
      response:
        body: '{"enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 306.223958ms
    - id: 64
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"enabled":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/recovery-code
        method: PUT
      response:
        body: '{"enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 310.958042ms
    - id: 65
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"enabled":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/webauthn-roaming
        method: PUT
      response:
        body: '{"enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 323.225708ms
    - id: 66
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"enabled":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/webauthn-platform
        method: PUT
      response:
        body: '{"enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 300.441708ms
    - id: 67
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"enabled":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/duo
        method: PUT
      response:
        body: '{"enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 316.911458ms
    - id: 68
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"enabled":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/push-notification
        method: PUT
      response:
        body: '{"enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 308.556333ms
