---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"MatchAll Create - TestAccNetworkACLMatchAll","active":true,"priority":99,"rule":{"action":{"block":true},"scope":"tenant","match_all":true}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls
        method: POST
      response:
        body: '{"description":"MatchAll Create - TestAccNetworkACLMatchAll","active":true,"priority":99,"rule":{"scope":"tenant","action":{"block":true},"match_all":true},"created_at":"2026-09-09T04:31:55.414Z","updated_at":"2026-09-09T04:31:55.414Z","id":"acl_9vj8Fc1tV89bA4bMAo9GK7"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 362.505791ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_9vj8Fc1tV89bA4bMAo9GK7
        method: GET
      response:
        body: '{"tenant_id":"terraform-provider-auth0-dev","description":"MatchAll Create - TestAccNetworkACLMatchAll","active":true,"priority":99,"rule":{"scope":"tenant","action":{"block":true},"match_all":true},"created_at":"2026-09-09T04:31:55.414Z","updated_at":"2026-09-09T04:31:55.414Z","deleted_at":null,"id":"acl_9vj8Fc1tV89bA4bMAo9GK7"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 351.571917ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"MatchAll Updated To Signal - TestAccNetworkACLMatchAll","active":true,"priority":99,"rule":{"action":{"block":true},"match":{"asns":[9453]},"scope":"tenant"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_9vj8Fc1tV89bA4bMAo9GK7
        method: PUT
      response:
        body: '{"description":"MatchAll Updated To Signal - TestAccNetworkACLMatchAll","active":true,"priority":99,"rule":{"match":{"asns":[9453]},"scope":"tenant","action":{"block":true}},"created_at":"2026-09-09T04:31:55.414Z","updated_at":"2026-09-09T04:31:58.990Z","id":"acl_9vj8Fc1tV89bA4bMAo9GK7"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 320.68725ms
[...]
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_9vj8Fc1tV89bA4bMAo9GK7
        method: DELETE
      response:
        body: '{"code":204,"object":""}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 312.600292ms
