---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Client Grant - TestAccClientRefreshToken","identifier":"https://mrrt","allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"680876c5536c6a2bced05c0c","name":"Acceptance Test - Client Grant - TestAccClientRefreshToken","identifier":"https://mrrt","allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 475.108291ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"authorization_details":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/680876c5536c6a2bced05c0c
        method: PATCH
      response:
        body: '{"id":"680876c5536c6a2bced05c0c","name":"Acceptance Test - Client Grant - TestAccClientRefreshToken","identifier":"https://mrrt","allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 513.989792ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"token_encryption":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/680876c5536c6a2bced05c0c
        method: PATCH
      response:
        body: '{"id":"680876c5536c6a2bced05c0c","name":"Acceptance Test - Client Grant - TestAccClientRefreshToken","identifier":"https://mrrt","allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 363.763917ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"proof_of_possession":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/680876c5536c6a2bced05c0c
        method: PATCH
      response:
        body: '{"id":"680876c5536c6a2bced05c0c","name":"Acceptance Test - Client Grant - TestAccClientRefreshToken","identifier":"https://mrrt","allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 348.491541ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Refresh Token - TestAccClientRefreshToken","app_type":"spa","is_first_party":true,"token_endpoint_auth_method":"none","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":60,"token_lifetime":256000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":128000,"policies":[{"audience":"https://mrrt","scope":["create:bar"]}]},"oidc_logout":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"signing_keys":[{"cert":"[REDACTED]"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 500 Internal Server Error
        code: 500
        duration: 843.828333ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/https:%2F%2Fmrrt
        method: GET
      response:
        body: '{"id":"680876c5536c6a2bced05c0c","name":"Acceptance Test - Client Grant - TestAccClientRefreshToken","identifier":"https://mrrt","allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.483475416s
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"scopes":[{"value":"create:bar","description":""}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/https:%2F%2Fmrrt
        method: PATCH
      response:
        body: '{"id":"680876c5536c6a2bced05c0c","name":"Acceptance Test - Client Grant - TestAccClientRefreshToken","identifier":"https://mrrt","allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","scopes":[{"value":"create:bar","description":""}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.3539105s
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Refresh Token - TestAccClientRefreshToken","app_type":"spa","is_first_party":true,"token_endpoint_auth_method":"none","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":60,"token_lifetime":256000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":128000,"policies":[{"audience":"https://mrrt","scope":["create:bar"]}]},"oidc_logout":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - Refresh Token - TestAccClientRefreshToken","client_id":"nEJVyGEq2MmgeGV4NYro7tdFFQh9e5Za","client_secret":"[REDACTED]","app_type":"spa","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token"],"custom_login_page_on":true,"token_endpoint_auth_method":"none","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":60,"token_lifetime":256000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":128000,"policies":[{"audience":"https://mrrt","scope":["create:bar"]}]},"oidc_backchannel_logout":{},"oidc_logout":{"backchannel_logout_initiators":{"mode":"custom","selected_initiators":["rp-logout","idp-logout"]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 3.264679333s
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/nEJVyGEq2MmgeGV4NYro7tdFFQh9e5Za
        method: GET
      response:
        body: '{"name":"Acceptance Test - Refresh Token - TestAccClientRefreshToken","client_id":"nEJVyGEq2MmgeGV4NYro7tdFFQh9e5Za","client_secret":"[REDACTED]","app_type":"spa","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token"],"custom_login_page_on":true,"token_endpoint_auth_method":"none","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":60,"token_lifetime":256000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":128000,"policies":[{"audience":"https://mrrt","scope":["create:bar"]}]},"oidc_backchannel_logout":{},"oidc_logout":{"backchannel_logout_initiators":{"mode":"custom","selected_initiators":["rp-logout","idp-logout"]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 2.679982125s
[...]
