---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Connection-1-testaccorganizationconnections","strategy":"auth0"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_sJFTlYDR6WrGdQHB","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"authentication_methods":{"password":{"enabled":true},"passkey":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-1-testaccorganizationconnections","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-1-testaccorganizationconnections"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 369.649ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_sJFTlYDR6WrGdQHB
        method: GET
      response:
        body: '{"id":"con_sJFTlYDR6WrGdQHB","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"strategy_version":2,"authentication_methods":{"passkey":{"enabled":false},"password":{"enabled":true}},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-1-testaccorganizationconnections","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-1-testaccorganizationconnections"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 351.460416ms
[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_gIamB2Wv9gET8LvJ
        method: GET
      response:
        body: '{"id":"con_gIamB2Wv9gET8LvJ","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"strategy_version":2,"authentication_methods":{"passkey":{"enabled":false},"password":{"enabled":true}},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-2-testaccorganizationconnections","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-2-testaccorganizationconnections"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 325.455625ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"some-org-testaccorganizationconnections","display_name":"testaccorganizationconnections"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"name":"some-org-testaccorganizationconnections","display_name":"testaccorganizationconnections","id":"org_4MRGSSTYOVVAwIfk"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 347.977042ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_4MRGSSTYOVVAwIfk
        method: GET
      response:
        body: '{"id":"org_4MRGSSTYOVVAwIfk","name":"some-org-testaccorganizationconnections","display_name":"testaccorganizationconnections"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 437.368792ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"connection_id":"con_sJFTlYDR6WrGdQHB","assign_membership_on_login":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_4MRGSSTYOVVAwIfk/enabled_connections
        method: POST
      response:
        body: '{"connection_id":"con_sJFTlYDR6WrGdQHB","assign_membership_on_login":false,"show_as_button":true,"connection":{"name":"Acceptance-Test-Connection-1-testaccorganizationconnections","strategy":"auth0"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 311.416583ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_4MRGSSTYOVVAwIfk/enabled_connections/con_sJFTlYDR6WrGdQHB
        method: GET
      response:
        body: '{"connection_id":"con_sJFTlYDR6WrGdQHB","assign_membership_on_login":false,"show_as_button":true,"connection":{"name":"Acceptance-Test-Connection-1-testaccorganizationconnections","strategy":"auth0"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 315.917083ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_4MRGSSTYOVVAwIfk/enabled_connections?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"enabled_connections":[{"connection_id":"con_sJFTlYDR6WrGdQHB","assign_membership_on_login":false,"show_as_button":true,"connection":{"name":"Acceptance-Test-Connection-1-testaccorganizationconnections","strategy":"auth0"}}],"start":0,"limit":1,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 315.934166ms
[...]
    - id: 15
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_4MRGSSTYOVVAwIfk/members?from=&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 310.064709ms
[...]
    - id: 96
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_4MRGSSTYOVVAwIfk/enabled_connections/con_gIamB2Wv9gET8LvJ
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 352.101167ms
[...]
    - id: 232
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_gIamB2Wv9gET8LvJ
        method: DELETE
      response:
        body: '{"deleted_at":"2024-05-24T05:33:06.330Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 362.725167ms
[...]
