---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {};","dependencies":[],"secrets":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"917be4e6-e344-473d-8f84-c0fc3f235e29","name":"Test Action TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-05-31T17:23:13.261007053Z","updated_at":"2023-05-31T17:23:13.276811711Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node16","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 129.004708ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/917be4e6-e344-473d-8f84-c0fc3f235e29
        method: GET
      response:
        body: '{"id":"917be4e6-e344-473d-8f84-c0fc3f235e29","name":"Test Action TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-05-31T17:23:13.261007053Z","updated_at":"2023-05-31T17:23:13.276811711Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node16","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 123.553042ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/917be4e6-e344-473d-8f84-c0fc3f235e29/deploy
        method: POST
      response:
        body: '{"code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"id":"487b9354-3894-4a08-aebe-9ed7753489e4","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2023-05-31T17:23:13.536562406Z","updated_at":"2023-05-31T17:23:13.536562406Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v3"}],"action":{"id":"917be4e6-e344-473d-8f84-c0fc3f235e29","name":"Test Action TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-05-31T17:23:13.261007053Z","updated_at":"2023-05-31T17:23:13.261007053Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 134.888875ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/917be4e6-e344-473d-8f84-c0fc3f235e29
        method: GET
      response:
        body: '{"id":"917be4e6-e344-473d-8f84-c0fc3f235e29","name":"Test Action TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-05-31T17:23:13.261007053Z","updated_at":"2023-05-31T17:23:13.276811711Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node16","status":"built","secrets":[],"current_version":{"id":"487b9354-3894-4a08-aebe-9ed7753489e4","code":"exports.onExecutePostLogin = async (event, api) => {};","runtime":"node16","status":"BUILT","number":1,"build_time":"2023-05-31T17:23:13.595616260Z","created_at":"2023-05-31T17:23:13.536562406Z","updated_at":"2023-05-31T17:23:13.597013076Z"},"deployed_version":{"code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"id":"487b9354-3894-4a08-aebe-9ed7753489e4","deployed":true,"number":1,"built_at":"2023-05-31T17:23:13.595616260Z","secrets":[],"status":"built","created_at":"2023-05-31T17:23:13.536562406Z","updated_at":"2023-05-31T17:23:13.597013076Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 102.748333ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?per_page=50
        method: GET
      response:
        body: '{"bindings":[{"id":"49519bbe-5656-48e1-ab0d-849d3db8e5e8","trigger_id":"post-login","action":{"id":"D1AD7CCF-7BAB-417F-91C0-563595A916D8","name":"Anonomatic PII Vault v1","supported_triggers":[{"id":"post-login","version":"v3","status":"CURRENT"}],"created_at":"2022-08-22T23:57:45.856907897Z","updated_at":"2022-08-22T23:57:45.856907897Z","current_version":{"id":"7284e308-1cf9-475d-94ef-d960d9af9a0b","runtime":"node16","status":"BUILT","created_at":"2023-03-20T16:29:00.733545721Z","updated_at":"2023-03-20T16:29:00.858978434Z"},"deployed_version":{"code":"","dependencies":[],"id":"7284e308-1cf9-475d-94ef-d960d9af9a0b","deployed":true,"secrets":[],"status":"built","created_at":"2023-03-20T16:29:00.733545721Z","updated_at":"2023-03-20T16:29:00.858978434Z","runtime":"node16"},"installed_integration_id":"72f156cd-e7ee-47c4-9dda-0ef751205c37","integration":{"id":"deb19c81-5510-43f2-b33b-e3c6474dc45c","catalog_id":"pii-vault-data-privacy-and-compliance","url_slug":"pii-vault-data-privacy-and-compliance","partner_id":"069ef4d3-30fe-4656-a91d-f6e4d5979b25","name":"Anonomatic PII Vault","description":"Keep Auth0, and your database, completely PII-free. PII Vault APIs allow you to store user profiles, and any other PII, in our specialized PII database so you don''t have to.\n\nRestricted re-identification allows you to ensure users and processes have access to only those PII values they need. Data privacy compliance is much easier when working only with de-identified data.\n","short_description":"PII-as-a-Service allows your product and Auth0 to be PII free","logo":"https://cdn.auth0.com/marketplace/catalog/content/assets/creators/anonomatic/anonomatic-avatar.png","terms_of_use_url":"https://anonomatic.com/legal/terms/","updated_at":"2023-03-20T16:29:00.724915633Z","created_at":"2022-08-10T17:45:26.296689356Z","feature_type":"action","current_release":{"id":"","semver":{}}},"all_changes_deployed":false},"created_at":"2023-05-31T17:21:05.589074391Z","updated_at":"2023-05-31T17:21:05.589074391Z"}],"total":1,"per_page":50}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 118.651625ms
[...]
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"bindings":[{"ref":{"type":"action_id","value":"D1AD7CCF-7BAB-417F-91C0-563595A916D8"}},{"display_name":"Test Action TestAccTriggerAction","ref":{"type":"action_id","value":"917be4e6-e344-473d-8f84-c0fc3f235e29"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings
        method: PATCH
      response:
        body: '{"bindings":[{"id":"5e0a9a46-6e24-4a63-8ece-2f72a5455206","trigger_id":"post-login","action":{"id":"D1AD7CCF-7BAB-417F-91C0-563595A91[...]
[...]
