---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Client Grant - TestAccDataSourceClientGrants","identifier":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccDataSourceClientGrants","authorization_details":[{"type":"payment"},{"type":"shipping"}],"subject_type_authorization":{"user":{"policy":"allow_all"},"client":{"policy":"require_client_grant"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"6982f4e2c7e30688c32876ca","name":"Acceptance Test - Client Grant - TestAccDataSourceClientGrants","identifier":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccDataSourceClientGrants","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"user":{"policy":"allow_all"},"client":{"policy":"require_client_grant"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","authorization_details":[{"type":"payment"},{"type":"shipping"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 580.370583ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Client Grant - TestAccDataSourceClientGrants","is_first_party":true,"custom_login_page_on":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - Client Grant - TestAccDataSourceClientGrants","client_id":"9tg3hMIUeGeARPnBCbshIVSKoA53hmQY","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 839.428375ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/6982f4e2c7e30688c32876ca
        method: GET
      response:
        body: '{"id":"6982f4e2c7e30688c32876ca","name":"Acceptance Test - Client Grant - TestAccDataSourceClientGrants","identifier":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccDataSourceClientGrants","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"user":{"policy":"allow_all"},"client":{"policy":"require_client_grant"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","authorization_details":[{"type":"payment"},{"type":"shipping"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 615.333959ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/https:%2F%2Fuat.tf.terraform-provider-auth0.com%2Fclient-grant%2FTestAccDataSourceClientGrants
        method: GET
      response:
        body: '{"id":"6982f4e2c7e30688c32876ca","name":"Acceptance Test - Client Grant - TestAccDataSourceClientGrants","identifier":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccDataSourceClientGrants","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"user":{"policy":"allow_all"},"client":{"policy":"require_client_grant"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","authorization_details":[{"type":"payment"},{"type":"shipping"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 593.385583ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/9tg3hMIUeGeARPnBCbshIVSKoA53hmQY
        method: GET
      response:
        body: '{"name":"Acceptance Test - Client Grant - TestAccDataSourceClientGrants","client_id":"9tg3hMIUeGeARPnBCbshIVSKoA53hmQY","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 832.061625ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"scopes":[{"value":"create:bar","description":"Create bars"},{"value":"create:foo","description":"Create foos"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/https:%2F%2Fuat.tf.terraform-provider-auth0.com%2Fclient-grant%2FTestAccDataSourceClientGrants
        method: PATCH
      response:
        body: '{"id":"6982f4e2c7e30688c32876ca","name":"Acceptance Test - Client Grant - TestAccDataSourceClientGrants","identifier":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccDataSourceClientGrants","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"user":{"policy":"allow_all"},"client":{"policy":"require_client_grant"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","scopes":[{"value":"create:bar","description":"Create bars"},{"value":"create:foo","description":"Create foos"}],"authorization_details":[{"type":"payment"},{"type":"shipping"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 751.091375ms
[...]
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants?audience=https%3A%2F%2Fuat.tf.terraform-provider-auth0.com%2Fclient-grant%2FTestAccDataSourceClientGrants&client_id=9tg3hMIUeGeARPnBCbshIVSKoA53hmQY&include_totals=true&per_page=50
        method: GET
      response:
        body: '{"total":0,"start":0,"limit":50,"client_grants":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 636.035041ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"client_id":"9tg3hMIUeGeARPnBCbshIVSKoA53hmQY","audience":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccDataSourceClientGrants","scope":["create:bar"],"subject_type":"user","authorization_details_types":["payment","shipping"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants
        method: POST
      response:
        body: '{"id":"cgr_ffFQnrv3kYdoNZM5","client_id":"9tg3hMIUeGeARPnBCbshIVSKoA53hmQY","audience":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccDataSourceClientGrants","scope":["create:bar"],"subject_type":"user","authorization_details_types":["payment","shipping"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 724.399167ms
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants/cgr_ffFQnrv3kYdoNZM5
        method: GET
      response:
        body: '{"id":"cgr_ffFQnrv3kYdoNZM5","client_id":"9tg3hMIUeGeARPnBCbshIVSKoA53hmQY","audience":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccDataSourceClientGrants","scope":["create:bar"],"subject_type":"user","authorization_details_types":["payment","shipping"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 536.374792ms
[...]
    - id: 18
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants?client_id=9tg3hMIUeGeARPnBCbshIVSKoA53hmQY&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"client_grants":[{"id":"cgr_ffFQnrv3kYdoNZM5","client_id":"9tg3hMIUeGeARPnBCbshIVSKoA53hmQY","audience":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccDataSourceClientGrants","scope":["create:bar"],"subject_type":"user","authorization_details_types":["payment","shipping"]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 609.714166ms
[...]
    - id: 29
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants?audience=https%3A%2F%2Fuat.tf.terraform-provider-auth0.com%2Fclient-grant%2FTestAccDataSourceClientGrants&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"client_grants":[{"id":"cgr_ffFQnrv3kYdoNZM5","client_id":"9tg3hMIUeGeARPnBCbshIVSKoA53hmQY","audience":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccDataSourceClientGrants","scope":["create:bar"],"subject_type":"user","authorization_details_types":["payment","shipping"]}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 494.749042ms
[...]
