---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"Acceptance Test - TestAccNetworkACL","active":true,"priority":10,"rule":{"action":{"block":true},"match":{"asns":[9453]},"scope":"tenant"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls
        method: POST
      response:
        body: '{"description":"Acceptance Test - TestAccNetworkACL","active":true,"priority":10,"rule":{"match":{"asns":[9453]},"scope":"tenant","action":{"block":true}},"created_at":"2026-07-30T11:42:25.354Z","updated_at":"2026-07-30T11:42:25.354Z","id":"acl_og5stNekT7J3mRCbWCsmZT"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 283.662625ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_og5stNekT7J3mRCbWCsmZT
        method: GET
      response:
        body: '{"tenant_id":"terraform-provider-auth0-dev","description":"Acceptance Test - TestAccNetworkACL","active":true,"priority":10,"rule":{"match":{"asns":[9453]},"scope":"tenant","action":{"block":true}},"created_at":"2026-07-30T11:42:25.354Z","updated_at":"2026-07-30T11:42:25.354Z","deleted_at":null,"id":"acl_og5stNekT7J3mRCbWCsmZT"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 270.35475ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"Updated Acceptance Test - TestAccNetworkACL","active":false,"priority":2,"rule":{"action":{"allow":true},"match":{"asns":[1234,5678],"geo_country_codes":["US","CA"],"geo_subdivision_codes":["US-NY","CA-ON"],"ipv4_cidrs":["192.168.1.0/24","10.0.0.0/8"],"ipv6_cidrs":["2001:db8::/32"],"ja3_fingerprints":["ja3fingerprint1","ja3fingerprint2"],"ja4_fingerprints":["ja4fingerprint1","ja4fingerprint2"],"user_agents":["Mozilla/5.0","Chrome/91.0"]},"scope":"authentication"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_og5stNekT7J3mRCbWCsmZT
        method: PUT
      response:
        body: '{"description":"Updated Acceptance Test - TestAccNetworkACL","active":false,"priority":2,"rule":{"match":{"asns":[1234,5678],"ipv4_cidrs":["192.168.1.0/24","10.0.0.0/8"],"ipv6_cidrs":["2001:db8::/32"],"user_agents":["Mozilla/5.0","Chrome/91.0"],"ja3_fingerprints":["ja3fingerprint1","ja3fingerprint2"],"ja4_fingerprints":["ja4fingerprint1","ja4fingerprint2"],"geo_country_codes":["US","CA"],"geo_subdivision_codes":["US-NY","CA-ON"]},"scope":"authentication","action":{"allow":true}},"created_at":"2026-07-30T11:42:25.354Z","updated_at":"2026-07-30T11:42:28.880Z","id":"acl_og5stNekT7J3mRCbWCsmZT"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 282.605625ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"NotMatch Acceptance Test - TestAccNetworkACL","active":true,"priority":3,"rule":{"action":{"log":true},"not_match":{"asns":[9876],"geo_country_codes":["UK"]},"scope":"management"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_og5stNekT7J3mRCbWCsmZT
        method: PUT
      response:
        body: '{"description":"NotMatch Acceptance Test - TestAccNetworkACL","active":true,"priority":3,"rule":[...]
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"Redirect Acceptance Test - TestAccNetworkACL","active":true,"priority":4,"rule":{"action":{"redirect":true,"redirect_uri":"https://example.com/blocked"},"match":{"asns":[9453]},"scope":"tenant"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_og5stNekT7J3mRCbWCsmZT
        method: PUT
      response:
        body: '{"description":"Redirect Acceptance Test - TestAccNetworkACL","active":true,"priority":4,"rule":{"match":{"asns":[9453]},"scope":"tenant","action":{"redirect":true,"redirect_uri":"https://example.com/blocked"}},"created_at":"2026-07-30T11:42:25.354Z","updated_at":"2026-07-30T11:42:34.411Z","id":"acl_og5stNekT7J3mRCbWCsmZT"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 280.422084ms
[...]
    - id: 16
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_og5stNekT7J3mRCbWCsmZT
        method: DELETE
      response:
        body: '{"code":204,"object":""}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 280.292834ms
