---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Client Credentials - TestAccClientAuthenticationMethodsPrivateKeyJWT","app_type":"non_interactive","token_endpoint_auth_method":"client_secret_post","oidc_logout":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientAuthenticationMethodsPrivateKeyJWT","client_id":"EZSMJodIVM62KGHVO8bxM4e79x8Xy0oM","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000},"oidc_backchannel_logout":{},"oidc_logout":{"backchannel_logout_initiators":{"mode":"custom","selected_initiators":["rp-logout","idp-logout"]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 463.026416ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/EZSMJodIVM62KGHVO8bxM4e79x8Xy0oM
        method: GET
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientAuthenticationMethodsPrivateKeyJWT","client_id":"EZSMJodIVM62KGHVO8bxM4e79x8Xy0oM"[...]
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/EZSMJodIVM62KGHVO8bxM4e79x8Xy0oM?fields=client_id&include_fields=true
        method: GET
      response:
        body: '{"client_id":"EZSMJodIVM62KGHVO8bxM4e79x8Xy0oM","signing_keys":[{"cert":"[REDACTED]"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 347.754083ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/EZSMJodIVM62KGHVO8bxM4e79x8Xy0oM?fields=client_id%2Capp_type&include_fields=true
        method: GET
      response:
        body: '{"client_id":"EZSMJodIVM62KGHVO8bxM4e79x8Xy0oM","app_type":"non_interactive","signing_keys":[{"cert":"[REDACTED]"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 367.961333ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/EZSMJodIVM62KGHVO8bxM4e79x8Xy0oM/credentials?include_totals=true&per_page=50
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 331.742292ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Client Credentials - TestAccClientAuthenticationMethodsPrivateKeyJWT","app_type":"non_interactive","jwt_configuration":{"alg":"RS256"},"oidc_logout":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/EZSMJodIVM62KGHVO8bxM4e79x8Xy0oM
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientAuthenticationMethodsPrivateKeyJWT","client_id":"EZSMJodIVM62KGHVO8bxM4e79x8Xy0oM","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256","lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 368.872333ms
[...]
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Testing Credentials 1","credential_type":"public_key","pem":"-----BEGIN CERTIFICATE-----\nMIIFWDCCA0ACCQDXqpBo3RUhkzANBgkqhkiG9w0BAQsFADBuMQswCQYDVQQGEwJl\nczEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxDTALBgNVBAoMBE9r\ndGExDzANBgNVBAsMBkRYLUNEVDEdMBsGA1UEAwwURGV2ZWxvcGVyIEV4cGVyaWVu\nY2UwHhcNMjMwNTE2MDkzMzEzWhcNMzMwNTEzMDkzMzEzWjBuMQswCQYDVQQGEwJl\nczEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxDTALBgNVBAoMBE9r\ndGExDzANBgNVBAsMBkRYLUNEVDEdMBsGA1UEAwwURGV2ZWxvcGVyIEV4cGVyaWVu\nY2UwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQCupwRtoZtRk9qRaXD+\nYdtpM9dW[...]
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"client_authentication_methods":{"private_key_jwt":{"credentials":[{"id":"cred_cjedcrfL6AQpUs292L2why"}]}},"token_endpoint_auth_method":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/EZSMJodIVM62KGHVO8bxM4e79x8Xy0oM
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientAuthenticationMethodsPrivateKeyJWT","client_id":"EZSMJodIVM62KGHVO8bxM4e79x8Xy0oM","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256","lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000},"client_authentication_methods":{"private_key_jwt":{"credentials":[{"id":"cred_cjedcrfL6AQpUs292L2why"}]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 395.270208ms
[...]
    - id: 14
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/EZSMJodIVM62KGHVO8bxM4e79x8Xy0oM/credentials/cred_cjedcrfL6AQpUs292L2why
        method: GET
      response:
        body: '{"id":"cred_cjedcrfL6AQpUs292L2why","credential_type":"public_key","kid":"w0kIFOc-q7KKK-pa2Uj5b_Cl3f0hAgFeseLg8iEmWu0","alg":"RS256","name":"Testing Credentials 1","created_at":"2025-06-02T09:39:33.746Z","updated_at":"2025-06-02T09:39:33.746Z","expires_at":"2033-05-13T09:33:13.000Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 344.53125ms
[...]
    - id: 23
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"client_authentication_methods":null,"token_endpoint_auth_method":"client_secret_post","signed_request_object":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/EZSMJodIVM62KGHVO8bxM4e79x8Xy0oM
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientAuthenticationMethodsPrivateKeyJWT","client_id":"EZSMJodIVM62KGHVO8bxM4e79x8Xy0oM","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256","lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 352.538625ms
[...]
    - id: 30
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/EZSMJodIVM62KGHVO8bxM4e79x8Xy0oM/credentials/cred_xd5DHS6ECeW9HjNQRU6Ce1
        method: GET
      response:
        body: '{"id":"cred_xd5DHS6ECeW9HjNQRU6Ce1","credential_type":"public_key","kid":"w0kIFOc-q7KKK-pa2Uj5b_Cl3f0hAgFeseLg8iEmWu0","alg":"RS256","name":"Testing Credentials 1","created_at":"2025-06-02T09:39:41.082Z","updated_at":"2025-06-02T09:39:41.082Z","expires_at":"2033-05-13T09:33:13.000Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 404.225292ms
    - id: 31
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/EZSMJodIVM62KGHVO8bxM4e79x8Xy0oM/credentials/cred_aSWRXxbU2sqtyR2t89JkaP
        method: GET
      response:
        body: '{"id":"cred_aSWRXxbU2sqtyR2t89JkaP","credential_type":"public_key","kid":"FnNtsjkgcpkHjrTJqenDiJx31_g8n_-wWtYUUPn4FyM","alg":"RS256","name":"Testing Credentials 2","created_at":"2025-06-02T09:39:41.451Z","updated_at":"2025-06-02T09:39:41.451Z","expires_at":"2095-05-13T09:33:13.000Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 344.003542ms
[...]
    - id: 62
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/EZSMJodIVM62KGHVO8bxM4e79x8Xy0oM/credentials/cred_26xTijJyeFVd9XEsBmgPgh
        method: GET
      response:
        body: '{"id":"cred_26xTijJyeFVd9XEsBmgPgh","credential_type":"public_key","kid":"FnNtsjkgcpkHjrTJqenDiJx31_g8n_-wWtYUUPn4FyM","alg":"RS256","name":"Testing Credentials 2","created_at":"2025-06-02T09:39:57.094Z","updated_at":"2025-06-02T09:39:57.094Z","expires_at":"2095-05-13T09:33:13.000Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 392.65775ms
[...]
    - id: 87
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/EZSMJodIVM62KGHVO8bxM4e79x8Xy0oM/credentials/cred_qoiwXAWtztvJyaPB3wwLxM
        method: GET
      response:
        body: '{"id":"cred_qoiwXAWtztvJyaPB3wwLxM","credential_type":"public_key","kid":"FnNtsjkgcpkHjrTJqenDiJx31_g8n_-wWtYUUPn4FyM","alg":"RS256","name":"Testing Credentials 2","created_at":"2025-06-02T09:40:09.974Z","updated_at":"2025-06-02T09:40:09.974Z","expires_at":"2095-05-13T09:33:13.000Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 317.623ms
[...]
