---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"test-module-testaccactionmoduleversionsdatasource","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules
        method: POST
      response:
        body: '{"id":"90e7a980-251a-4280-996f-42ffbc5d038c","name":"test-module-testaccactionmoduleversionsdatasource","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[],"all_changes_published":false,"actions_using_module_total":0,"created_at":"2026-09-16T05:15:25.377199Z","updated_at":"2026-09-16T05:15:25.377199Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 333.33825ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/90e7a980-251a-4280-996f-42ffbc5d038c/versions
        method: POST
      response:
        body: '{"id":"60c2d56d-7fc0-4508-9e98-13d5fb139e41","module_id":"90e7a980-251a-4280-996f-42ffbc5d038c","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","secrets":[],"dependencies":[],"created_at":"2026-09-16T05:15:25.719900Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 345.574959ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/90e7a980-251a-4280-996f-42ffbc5d038c
        method: GET
      response:
        body: '{"id":"90e7a980-251a-4280-996f-42ffbc5d038c","name":"test-module-testaccactionmoduleversionsdatasource","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[],"all_changes_published":true,"actions_using_module_total":0,"created_at":"2026-09-16T05:15:25.377199Z","updated_at":"2026-09-16T05:15:25.377199Z","latest_version":{"id":"60c2d56d-7fc0-4508-9e98-13d5fb139e41","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 319.791666ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/90e7a980-251a-4280-996f-42ffbc5d038c/versions?page=0&per_page=50
        method: GET
      response:
        body: '{"versions":[{"id":"60c2d56d-7fc0-4508-9e98-13d5fb139e41","module_id":"90e7a980-251a-4280-996f-42ffbc5d038c","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","secrets":[],"dependencies":[],"created_at":"2026-09-16T05:15:25.719900Z"}],"total":1,"page":0,"per_page":50}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 316.571ms
[...]
