---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Connection-TestAccConnectionOTPSettings","strategy":"auth0","options":{"otp_settings":{"email":{"otp_length":8,"otp_expiry":600},"phone":{"otp_length":6,"otp_expiry":900}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_a7m80Pn2LUog4PoM","options":{"mfa":{"active":true,"return_enroll_settings":true},"otp_settings":{"email":{"otp_length":8,"otp_expiry":600},"phone":{"otp_length":6,"otp_expiry":900}},"password_options":{"complexity":{"character_type_rule":"all","identical_characters":"allow","sequential_characters":"allow","max_length_exceeded":"error","min_length":15,"character_types":[]},"profile_data":{"active":false,"blocked_fields":["name","username","nickname","email","phone_number","user_metadata.name","user_metadata.first","user_metadata.last"]},"history":{"active":false,"size":3},"dictionary":{"active":false,"custom":[],"default":"en_100k"}},"strategy_version":2,"authentication_methods":{"password":{"enabled":true,"api_behavior":"required","signup_behavior":"allow"},"passkey":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionOTPSettings","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionOTPSettings"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 566.559958ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_a7m80Pn2LUog4PoM
        method: GET
      response:
        body: '{"id":"con_a7m80Pn2LUog4PoM","options":{"mfa":{"active":true,"return_enroll_settings":true},"otp_settings":{"email":{"otp_expiry":600,"otp_length":8},"phone":{"otp_expiry":900,"otp_length":6}},"passkey_options":{[...]
[...]
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_a7m80Pn2LUog4PoM
        method: DELETE
      response:
        body: '{"deleted_at":"2026-09-02T13:39:07.782Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 303.908875ms
