---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Trigger Binding Foo TestAccTriggerActions","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {\n\tconsole.log(\"foo\")\n};\"\n"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"f1312ec8-765e-4409-8046-30c9e2a85320","name":"Test Trigger Binding Foo TestAccTriggerActions","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T10:49:49.276798643Z","updated_at":"2026-05-29T10:49:49.282853211Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node22","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 415.483ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/f1312ec8-765e-4409-8046-30c9e2a85320
        method: GET
      response:
        body: '{"id":"f1312ec8-765e-4409-8046-30c9e2a85320","name":"Test Trigger Binding Foo TestAccTriggerActions","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T10:49:49.276798643Z","updated_at":"2026-05-29T10:49:49.282853211Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node22","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 362.267791ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/f1312ec8-765e-4409-8046-30c9e2a85320/deploy
        method: POST
      response:
        body: '{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"6fff6728-9db2-4e47-8ac8-23c53536c213","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2026-05-29T10:49:50.036143827Z","updated_at":"2026-05-29T10:49:50.036143827Z","runtime":"node22","supported_triggers":[{"id":"post-login","version":"v3"}],"action":{"id":"f1312ec8-765e-4409-8046-30c9e2a85320","name":"Test Trigger Binding Foo TestAccTriggerActions","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T10:49:49.276798643Z","updated_at":"2026-05-29T10:49:49.276798643Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 398.537708ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/f1312ec8-765e-4409-8046-30c9e2a85320
        method: GET
      response:
        body: '{"id":"f1312ec8-765e-4409-8046-30c9e2a85320","name":"Test Trigger Binding Foo TestAccTriggerActions","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T10:49:49.276798643Z","updated_at":"2026-05-29T10:49:49.282853211Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node22","status":"built","secrets":[],"current_version":{"id":"6fff6728-9db2-4e47-8ac8-23c53536c213","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node22","status":"BUILT","number":1,"build_time":"2026-05-29T10:49:50.119255008Z","created_at":"2026-05-29T10:49:50.036143827Z","updated_at":"2026-05-29T10:49:50.119625497Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"6fff6728-9db2-4e47-8ac8-23c53536c213","deployed":true,"number":1,"built_at":"2026-05-29T10:49:50.119255008Z","secrets":[],"status":"built","created_at":"2026-05-29T10:49:50.036143827Z","updated_at":"2026-05-29T10:49:50.119625497Z","runtime":"node22","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 383.554875ms
[...]
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"bindings":[{"display_name":"Test Trigger Binding Foo TestAccTriggerActions","ref":{"type":"action_id","value":"f1312ec8-765e-4409-8046-30c9e2a85320"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings
        method: PATCH
      response:
        body: '{"bindings":[{"id":"7d211770-e47f-4829-bcf2-5a474e7ffcb8","trigger_id":"post-login","action":{"id":"f1312ec8-765e-4409-8046-30c9e2a85320","name":"Test Trigger Binding Foo TestAccTriggerActions","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T10:49:49.276798643Z","updated_at":"2026-05-29T10:49:49.276798643Z","current_version":{"id":"6fff6728-9db2-4e47-8ac8-23c53536c213","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node22","status":"BUILT","number":1,"build_time":"2026-05-29T10:49:50.119255008Z","created_at":"2026-05-29T10:49:50.036143827Z","updated_at":"2026-05-29T10:49:50.119625497Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"6fff6728-9db2-4e47-8ac8-23c53536c213","deployed":true,"number":1,"built_at":"2026-05-29T10:49:50.119255008Z","secrets":[],"status":"built","created_at":"2026-05-29T10:49:50.036143827Z","updated_at":"2026-05-29T10:49:50.119625497Z","runtime":"node22","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":false},"created_at":"2026-05-29T10:49:53.063306980Z","updated_at":"2026-05-29T10:49:53.063306980Z","display_name":"Test Trigger Binding Foo TestAccTriggerActions"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 385.19675ms
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?page=0&per_page=100
        method: GET
      response:
        body: '{"bindings":[{"id":"7d211770-e47f-4829-bcf2-5a474e7ffcb8","trigger_id":"post-login","action":{"id":"f1312ec8-765e-4409-8046-30c9e2a85320","name":"Test Trigger Binding Foo TestAccTriggerAc[...]
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?page=1&per_page=100
        method: GET
      response:
        body: '{"bindings":[],"page":1,"per_page":100}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 358.469083ms
[...]
    - id: 59
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?per_page=50
        method: GET
      response:
        body: '{"bindings":[],"per_page":50}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.532982292s
[...]
