---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Reader - testaccorganizationmemberrole"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles
        method: POST
      response:
        body: '{"id":"rol_QX5oS0FPDsPIQe1I","name":"Test Reader - testaccorganizationmemberrole","description":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 449.824041ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_QX5oS0FPDsPIQe1I
        method: GET
      response:
        body: '{"id":"rol_QX5oS0FPDsPIQe1I","name":"Test Reader - testaccorganizationmemberrole","description":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 379.790292ms
[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_C6pWqx64U1A8hTMe
        method: GET
      response:
        body: '{"id":"rol_C6pWqx64U1A8hTMe","name":"Test Writer - testaccorganizationmemberrole","description":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 333.989458ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"testaccorganizationmemberrole@auth0.com","username":"testaccorganizationmemberrole","password":"MyPass123$"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"created_at":"2024-09-23T06:28:41.464Z","email":"testaccorganizationmemberrole@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"66f10a99013dcad0c0dd0427","provider":"auth0","isSocial":false}],"name":"testaccorganizationmemberrole@auth0.com","nickname":"testaccorganizationmemberrole","picture":"https://s.gravatar.com/avatar/2f292cb29015c947ee6a3701a1871127?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2024-09-23T06:28:41.464Z","user_id":"auth0|66f10a99013dcad0c0dd0427","username":"testaccorganizationmemberrole"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 558.334625ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C66f10a99013dcad0c0dd0427
        method: GET
      response:
        body: '{"created_at":"2024-09-23T06:28:41.464Z","email":"testaccorganizationmemberrole@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"66f10a99013dcad0c0dd0427","provider":"auth0","isSocial":false}],"name":"testaccorganizationmemberrole@auth0.com","nickname":"testaccorganizationmemberrole","picture":"https://s.gravatar.com/avatar/2f292cb29015c947ee6a3701a1871127?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2024-09-23T06:28:41.464Z","user_id":"auth0|66f10a99013dcad0c0dd0427","username":"testaccorganizationmemberrole"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 398.197625ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"some-org-testaccorganizationmemberrole","display_name":"testaccorganizationmemberrole"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_26JzYaBOvgj73aZO","display_name":"testaccorganizationmemberrole","name":"some-org-testaccorganizationmemberrole"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 426.674875ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_26JzYaBOvgj73aZO
        method: GET
      response:
        body: '{"id":"org_26JzYaBOvgj73aZO","name":"some-org-testaccorganizationmemberrole","display_name":"testaccorganizationmemberrole"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 375.161292ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"members":["auth0|66f10a99013dcad0c0dd0427"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_26JzYaBOvgj73aZO/members
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 396.027917ms
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_26JzYaBOvgj73aZO/members?fields=user_id&include_fields=true&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[{"user_id":"auth0|66f10a99013dcad0c0dd0427"}],"next":"MjAyNC0wOS0yMyAwNjoyODo0My4wNjQwMDBVVEMsYXV0aDB8NjZmMTBhOTkwMTNkY2FkMGMwZGQwNDI3"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 442.412667ms
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_26JzYaBOvgj73aZO/members?fields=user_id&from=MjAyNC0wOS0yMyAwNjoyODo0My4wNjQwMDBVVEMsYXV0aDB8NjZmMTBhOTkwMTNkY2FkMGMwZGQwNDI3&include_fields=true&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 445.502333ms
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"roles":["rol_QX5oS0FPDsPIQe1I"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_26JzYaBOvgj73aZO/members/auth0%7C66f10a99013dcad0c0dd0427/roles
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 380.1835ms
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_26JzYaBOvgj73aZO/members/auth0%7C66f10a99013dcad0c0dd0427/roles?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"roles":[{"id":"rol_QX5oS0FPDsPIQe1I","name":"Test Reader - testaccorganizationmemberrole","description":null}],"start":0,"limit":100,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 423.379834ms
[...]
