---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Client Credentials - TestAccClientCredentialsTokenVaultPrivilegedAccessSurvivesAuthMethodSwitch","app_type":"non_interactive","jwt_configuration":{"alg":"RS256"},"token_endpoint_auth_method":"client_secret_post"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientCredentialsTokenVaultPrivilegedAccessSurvivesAuthMethodSwitch","client_id":"CY0pJtJz0uVjWciEIez2rYoxRLlkT9z6","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256"},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 525.767792ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/CY0pJtJz0uVjWciEIez2rYoxRLlkT9z6
        method: GET
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientCredentialsTokenVaultPrivilegedAccessSurvivesAuthMethodSwitch","client_id":"CY0pJtJz0uVjWciEIez2rYoxRLlkT9z6","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256"},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 384.8905ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/CY0pJtJz0uVjWciEIez2rYoxRLlkT9z6?fields=client_id&include_fields=true
        method: GET
      response:
        body: '{"client_id":"CY0pJtJz0uVjWciEIez2rYoxRLlkT9z6","signing_keys":[{"cert":"[REDACTED]"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 400.226583ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"PKJWT Credentials","credential_type":"public_key","pem":"-----BEGIN CERTIFICATE-----\nMIIFWDCCA0ACCQDXqpBo3RUhkzANBgkqhkiG9w0BAQsFADBuMQswCQYDVQQGEwJl\nczEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxDTALBgNVBAoMBE9r\ndGExDzANBgNVBAsMBkRYLUNEVDEdMBsGA1UEAwwURGV2ZWxvcGVyIEV4cGVyaWVu\nY2UwHhcNMjMwNTE2MDkzMzEzWhcNMzMwNTEzMDkzMzEzWjBuMQswCQYDVQQGEwJl\nczEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxDTALBgNVBAoMBE9r\ndGExDzANBgNVBAsMBkRYLUNEVDEdMBsGA1UEAwwURGV2ZWxvcGVyIEV4cGVyaWVu\nY2UwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQCupwRtoZtRk9qRaXD+\nYdtpM9dW[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/CY0pJtJz0uVjWciEIez2rYoxRLlkT9z6?fields=client_id%2Capp_type&include_fields=true
        method: GET
      response:
        body: '{"client_id":"CY0pJtJz0uVjWciEIez2rYoxRLlkT9z6","app_type":"non_interactive","signing_keys":[{"cert":"[REDACTED]"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 329.486791ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"client_authentication_methods":{"private_key_jwt":{"credentials":[{"id":"cred_v7Yeqf2mFUJzW6raTbGrgr"}]}},"token_endpoint_auth_method":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/CY0pJtJz0uVjWciEIez2rYoxRLlkT9z6
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientCredentialsTokenVaultPrivilegedAccessSurvivesAuthMethodSwitch","client_id":"CY0pJtJz0uVjWciEIez2rYoxRLlkT9z6","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256"},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000},"client_authentication_methods":{"private_key_jwt":{"credentials":[{"id":"cred_v7Yeqf2mFUJzW6raTbGrgr"}]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 377.548209ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"token_vault_privileged_access":{"credentials":[{"id":"cred_qfdLSfyfN9T3LyZBF5MU4o"}],"grants":[{"connection":"google-oauth2","scopes":["https://www.googleapis.com/auth/calendar.readonly"]}],"ip_allowlist":["10.0.0.1"]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/CY0pJtJz0uVjWciEIez2rYoxRLlkT9z6
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientCredentialsTokenVaultPrivilegedAccessSurvivesAuthMethodSwitch","client_id":"CY0pJtJz0uVjWciEIez2rYoxRLlkT9z6","app_type":"non_interactive","is_first_party":true,"is_[...]
[...]
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/CY0pJtJz0uVjWciEIez2rYoxRLlkT9z6/credentials/cred_qfdLSfyfN9T3LyZBF5MU4o
        method: GET
      response:
        body: '{"id":"cred_qfdLSfyfN9T3LyZBF5MU4o","credential_type":"public_key","kid":"FnNtsjkgcpkHjrTJqenDiJx31_g8n_-wWtYUUPn4FyM","alg":"RS256","name":"Token Vault Credentials 1","created_at":"2026-08-13T06:52:24.902Z","updated_at":"2026-08-13T06:52:24.902Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 306.784292ms
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/CY0pJtJz0uVjWciEIez2rYoxRLlkT9z6/credentials/cred_v7Yeqf2mFUJzW6raTbGrgr
        method: GET
      response:
        body: '{"id":"cred_v7Yeqf2mFUJzW6raTbGrgr","credential_type":"public_key","kid":"w0kIFOc-q7KKK-pa2Uj5b_Cl3f0hAgFeseLg8iEmWu0","alg":"RS256","name":"PKJWT Credentials","created_at":"2026-08-13T06:52:23.850Z","updated_at":"2026-08-13T06:52:23.850Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 367.286584ms
[...]
    - id: 21
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/CY0pJtJz0uVjWciEIez2rYoxRLlkT9z6/credentials?include_totals=true&per_page=50
        method: GET
      response:
        body: '[{"id":"cred_qfdLSfyfN9T3LyZBF5MU4o","credential_type":"public_key","kid":"FnNtsjkgcpkHjrTJqenDiJx31_g8n_-wWtYUUPn4FyM","alg":"RS256","name":"Token Vault Credentials 1","created_at":"2026-08-13T06:52:24.902Z","updated_at":"2026-08-13T06:52:24.902Z"},{"id":"cred_v7Yeqf2mFUJzW6raTbGrgr","credential_type":"public_key","kid":"w0kIFOc-q7KKK-pa2Uj5b_Cl3f0hAgFeseLg8iEmWu0","alg":"RS256","name":"PKJWT Credentials","created_at":"2026-08-13T06:52:23.850Z","updated_at":"2026-08-13T06:52:23.850Z"}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 299.018042ms
[...]
