---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"tf-flag-TestAccDataSourceExperimentFeatureFlag","description":"created by acceptance test","parameters":{"show_feature":{"type":"boolean","value":false}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/experimentation/feature-flags
        method: POST
      response:
        body: '{"id":"flg_3Yhx61MTNV36ccd2tjnq8m","name":"tf-flag-TestAccDataSourceExperimentFeatureFlag","description":"created by acceptance test","type":"self","status":"draft","parameters":{"show_feature":{"type":"boolean","value":false}},"created_at":"2026-09-28T10:04:05.533Z","updated_at":"2026-09-28T10:04:05.533Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 332.105ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"test","description":"the test variation","overrides":{"show_feature":true}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/experimentation/feature-flags/flg_3Yhx61MTNV36ccd2tjnq8m/variations
        method: POST
      response:
        body: '{"id":"var_1yh6DZ2oLku9GkZsJHWFYg","feature_flag_id":"flg_3Yhx61MTNV36ccd2tjnq8m","name":"test","description":"the test variation","overrides":{"show_feature":true},"created_at":"2026-09-28T10:04:05.895Z","updated_at":"2026-09-28T10:04:05.895Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 354.119709ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/experimentation/feature-flags/flg_3Yhx61MTNV36ccd2tjnq8m
        method: GET
      response:
        body: '{"id":"flg_3Yhx61MTNV36ccd2tjnq8m","name":"tf-flag-TestAccDataSourceExperimentFeatureFlag","description":"created by acceptance test","type":"self","status":"draft","parameters":{"show_feature":{"type":"boolean","value":false}},"created_at":"2026-09-28T10:04:05.533Z","updated_at":"2026-09-28T10:04:05.533Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 329.904166ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/experimentation/feature-flags/flg_3Yhx61MTNV36ccd2tjnq8m/variations
        method: GET
      response:
        body: '{"variations":[{"id":"var_1yh6DZ2oLku9GkZsJHWFYg","feature_flag_id":"flg_3Yhx61MTNV36ccd2tjnq8m","name":"test","description":"the test variation","overrides":{"show_feature":true},"created_at":"2026-09-28T10:04:05.895Z","updated_at":"2026-09-28T10:04:05.895Z"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 285.614916ms
[...]
