---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-org-testaccorganizationclients","display_name":"Test Org testaccorganizationclients"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_FpRGb5Cc3gTElQxx","display_name":"Test Org testaccorganizationclients","name":"test-org-testaccorganizationclients","third_party_client_access":"block","is_app_entitlement_active":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 319.168709ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-client-1-testaccorganizationclients"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"test-client-1-testaccorganizationclients","client_id":"Wzd7VrD2aEk8fbCYqjrDUn0D7ffzwGBA","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 503.9475ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_FpRGb5Cc3gTElQxx
        method: GET
      response:
        body: '{"id":"org_FpRGb5Cc3gTElQxx","name":"test-org-testaccorganizationclients","display_name":"Test Org testaccorganizationclients","third_party_client_access":"block","is_app_entitlement_active":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 331.725208ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/Wzd7VrD2aEk8fbCYqjrDUn0D7ffzwGBA
        method: GET
      response:
        body: '{"name":"test-client-1-testaccorganizationclients","client_id":"Wzd7VrD2aEk8fbCYqjrDUn0D7ffzwGBA","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 299.30975ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_FpRGb5Cc3gTElQxx/clients?take=50
        method: GET
      response:
        body: '{"clients":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 316.232792ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/cbRGdVWm4DzE0tPec1uhkm9bQrrk5kuD
        method: GET
      response:
        body: '{"name":"test-client-2-testaccorganizationclients","client_id":"cbRGdVWm4DzE0tPec1uhkm9bQrrk5kuD","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 311.055ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"clients":[{"client_id":"Wzd7VrD2aEk8fbCYqjrDUn0D7ffzwGBA","use_for_member_access":true}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_FpRGb5Cc3gTElQxx/clients
        method: POST
      response:
        body: '[{"client_id":"Wzd7VrD2aEk8fbCYqjrDUn0D7ffzwGBA","use_for_member_access":true,"client":{"name":"test-client-1-testaccorganizationclients","is_first_party":true,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"]}}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 329.797709ms
[...]
    - id: 29
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"use_for_member_access":false}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_FpRGb5Cc3gTElQxx/clients/Wzd7VrD2aEk8fbCYqjrDUn0D7ffzwGBA
        method: PATCH
      response:
        body: '{"client_id":"Wzd7VrD2aEk8fbCYqjrDUn0D7ffzwGBA","use_for_member_access":false,"client":{"name":"test-client-1-testaccorganizationclients","is_first_party":true,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 303.677917ms
    - id: 30
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"use_for_member_access":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_FpRGb5Cc3gTElQxx/clients/cbRGdVWm4DzE0tPec1uhkm9bQrrk5kuD
        method: PATCH
      response:
        body: '{"client_id":"cbRGdVWm4DzE0tPec1uhkm9bQrrk5kuD","use_for_member_access":true,"client":{"name":"test-client-2-testaccorganizationclients","is_first_party":true,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 385.562208ms
[...]
