---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"Acceptance Test - TestAccNetworkACL","active":true,"priority":10,"rule":{"action":{"block":true},"match":{"anonymous_proxy":true},"scope":"tenant"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls
        method: POST
      response:
        body: '{"id":"42ea77f2-84be-48f9-8d91-8408deddfae6","description":"Acceptance Test - TestAccNetworkACL","active":true,"priority":10,"rule":{"match":{"anonymous_proxy":true},"scope":"tenant","action":{"block":true}},"created_at":"2025-03-26T13:54:36.643Z","updated_at":"2025-03-26T13:54:36.643Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 228.211625ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/42ea77f2-84be-48f9-8d91-8408deddfae6
        method: GET
      response:
        body: '{"id":"42ea77f2-84be-48f9-8d91-8408deddfae6","tenant_id":"terraform-provider-auth0-dev","description":"Acceptance Test - TestAccNetworkACL","active":true,"priority":10,"rule":{"match":{"anonymous_proxy":true},"scope":"tenant","action":{"block":true}},"created_at":"2025-03-26T13:54:36.643Z","updated_at":"2025-03-26T13:54:36.643Z","deleted_at":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 236.442833ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"Updated Acceptance Test - TestAccNetworkACL","active":false,"priority":2,"rule":{"action":{"allow":true},"match":{"anonymous_proxy":false,"asns":[1234,5678],"geo_country_codes":["US","CA"],"geo_subdivision_codes":["US-NY","CA-ON"],"ipv4_cidrs":["192.168.1.0/24","10.0.0.0/8"],"ipv6_cidrs":["2001:db8::/32"],"ja3_fingerprints":["ja3fingerprint1","ja3fingerprint2"],"ja4_fingerprints":["ja4fingerprint1","ja4fingerprint2"],"user_agents":["Mozilla/5.0","Chrome/91.0"]},"scope":"authentication"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/42ea77f2-84be-48f9-8d91-8408deddfae6
        method: PUT
      response:
        body: '{"id":"42ea77f2-84be-48f9-8d91-8408deddfae6","description":"Updated Acceptance Test - TestAccNetworkACL","active":false,"priority":2,"rule":{"match":{"asns":[1234,5678],"ipv4_cidrs":["192.168.1.0/24","10.0.0.0/8"],"ipv6_cidrs":["2001:db8::/32"],"user_agents":["Mozilla/5.0","Chrome/91.0"],"anonymous_proxy":false,"ja3_fingerprints":["ja3fingerprint1","ja3fingerprint2"],"ja4_fingerprints":["ja4fingerprint1","ja4fingerprint2"],"geo_country_codes":["US","CA"],"geo_subdivision_codes":["US-NY","CA-ON"]},"scope":"authentication","action":{"allow":true}},"created_at":"2025-03-26T13:54:36.643Z","updated_at":"2025-03-26T13:54:39.541Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 234.697292ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"NotMatch Acceptance Test - TestAccNetworkACL","active":true,"priority":3,"rule":{"action":{"log":true},"not_match":{"anonymous_proxy":true,"asns":[9876],"geo_country_codes":["UK"]},"scope":"management"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/42ea77f2-84be-48f9-8d91-8408deddfae6
        method: PUT
      response:
        body: '{"id":"42ea77f2-84be-48f9-8d91-8408deddfae6","description":"NotMatch Acceptance Test - TestAccNetworkACL","active":true,"priority":3,"rule":[...]
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"Redirect Acceptance Test - TestAccNetworkACL","active":true,"priority":4,"rule":{"action":{"redirect":true,"redirect_uri":"https://example.com/blocked"},"match":{"anonymous_proxy":true},"scope":"tenant"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/42ea77f2-84be-48f9-8d91-8408deddfae6
        method: PUT
      response:
        body: '{"id":"42ea77f2-84be-48f9-8d91-8408deddfae6","description":"Redirect Acceptance Test - TestAccNetworkACL","active":true,"priority":4,"rule":{"match":{"anonymous_proxy":true},"scope":"tenant","action":{"redirect":true,"redirect_uri":"https://example.com/blocked"}},"created_at":"2025-03-26T13:54:36.643Z","updated_at":"2025-03-26T13:54:44.240Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 247.340459ms
[...]
    - id: 16
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/42ea77f2-84be-48f9-8d91-8408deddfae6
        method: DELETE
      response:
        body: '{"code":204,"object":""}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 219.774042ms
