---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-testaccorganizationdiscoverydomain","display_name":"Test Organization testaccorganizationdiscoverydomain"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_2alrEJOPEWsSPQvB","display_name":"Test Organization testaccorganizationdiscoverydomain","name":"test-testaccorganizationdiscoverydomain"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 276.259792ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_2alrEJOPEWsSPQvB
        method: GET
      response:
        body: '{"id":"org_2alrEJOPEWsSPQvB","name":"test-testaccorganizationdiscoverydomain","display_name":"Test Organization testaccorganizationdiscoverydomain"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 253.306ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"testaccorganizationdiscoverydomain.example.com","status":"pending"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_2alrEJOPEWsSPQvB/discovery-domains
        method: POST
      response:
        body: '{"id":"ord_1csw8cLB67z2uXKc8jv7KW","domain":"testaccorganizationdiscoverydomain.example.com","status":"pending","verification_host":"_ss-verification.org_2alrEJOPEWsSPQvB.testaccorganizationdiscoverydomain.example.com","verification_txt":"306286e01d57edbbf316621fcb21cd1b"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 242.132791ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_2alrEJOPEWsSPQvB/discovery-domains/ord_1csw8cLB67z2uXKc8jv7KW
        method: GET
      response:
        body: '{"id":"ord_1csw8cLB67z2uXKc8jv7KW","domain":"testaccorganizationdiscoverydomain.example.com","status":"pending","verification_host":"_ss-verification.org_2alrEJOPEWsSPQvB.testaccorganizationdiscoverydomain.example.com","verification_txt":"306286e01d57edbbf316621fcb21cd1b"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 228.291125ms
[...]
