---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Connection-TestAccConnectionPasswordOptions","strategy":"auth0","options":{"brute_force_protection":true,"password_options":{"complexity":{"min_length":12},"profile_data":{"active":true,"blocked_fields":["email","name","nickname","username"]},"history":{"active":true,"size":5},"dictionary":{"active":true,"default":"en_100k"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_kLvm9IKCb1fvrDNh","options":{"mfa":{"active":true,"return_enroll_settings":true},"brute_force_protection":true,"password_options":{"complexity":{"character_type_rule":"all","identical_characters":"allow","sequential_characters":"allow","max_length_exceeded":"error","min_length":12,"character_types":[]},"profile_data":{"active":true,"blocked_fields":["email","name","nickname","username"]},"history":{"active":true,"size":5},"dictionary":{"active":true,"custom":[],"default":"en_100k"}},"strategy_version":2,"authentication_methods":{"password":{"enabled":true,"api_behavior":"required","signup_behavior":"allow"},"passkey":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true}},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionPasswordOptions","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionPasswordOptions"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 408.147458ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_kLvm9IKCb1fvrDNh
        method: GET
      response:
        body: '{"id":"con_kLvm9IKCb1fvrDNh","options":{"mfa":{"active":true,"return_enroll_settings":true},"passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"passwor[...]
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_kLvm9IKCb1fvrDNh
        method: DELETE
      response:
        body: '{"deleted_at":"2026-04-30T09:08:47.291Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 365.912917ms
