---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Windowslive-TestAccConnectionWindowslive","strategy":"windowslive","is_domain_connection":false,"options":{"client_id":"client_id","client_secret":"client_secret","strategy_version":2,"graph_user":true,"signin":true,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_2pficKbYpD5WnWlb","options":{"client_id":"client_id","client_secret":"client_secret","strategy_version":2,"graph_user":true,"signin":true,"upstream_params":{"screen_name":{"alias":"login_hint"}},"scope":["https://graph.microsoft.com/User.Read"]},"strategy":"windowslive","name":"Acceptance-Test-Windowslive-TestAccConnectionWindowslive","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Windowslive-TestAccConnectionWindowslive"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 351.923209ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_2pficKbYpD5WnWlb
        method: GET
      response:
        body: '{"id":"con_2pficKbYpD5WnWlb","options":[...]
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_2pficKbYpD5WnWlb
        method: DELETE
      response:
        body: '{"deleted_at":"2025-01-29T05:46:59.024Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 380.711833ms
