---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"HMS Test Key - TestAccNetworkACLHTTPMessageSignature","alg":"hmac-sha256","value":"Ygj0G7pdGNmu+eCPdnK32PpzvmFDoFtDcJtiJaRGX1I="}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/network-acls
        method: POST
      response:
        body: '{"name":"HMS Test Key - TestAccNetworkACLHTTPMessageSignature","alg":"hmac-sha256","fingerprint":"1c4ece28cf90388255fcd9c0c80ba819b965afc2165da1075c12bd3b487281a0","created_at":"2026-09-09T05:06:30.754Z","updated_at":"2026-09-09T05:06:30.754Z","id":"key_cti2FREXLrStdADwnEAKVm"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 326.932167ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/network-acls/key_cti2FREXLrStdADwnEAKVm
        method: GET
      response:
        body: '{"name":"HMS Test Key - TestAccNetworkACLHTTPMessageSignature","alg":"hmac-sha256","fingerprint":"1c4ece28cf90388255fcd9c0c80ba819b965afc2165da1075c12bd3b487281a0","created_at":"2026-09-09T05:06:30.754Z","updated_at":"2026-09-09T05:06:30.754Z","id":"key_cti2FREXLrStdADwnEAKVm"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 312.47325ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"HMS ACL - TestAccNetworkACLHTTPMessageSignature","active":true,"priority":99,"rule":{"action":{"block":true},"not_match":{"http_message_signature":{"keys":[{"id":"key_cti2FREXLrStdADwnEAKVm"}]}},"scope":"tenant"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls
        method: POST
      response:
        body: '{"description":"HMS ACL - TestAccNetworkACLHTTPMessageSignature","active":true,"priority":99,"rule":[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_m9gH9YKP843q5pcPRBj8u2
        method: GET
      response:
        body: '{"tenant_id":"terraform-provider-auth0-dev","description":"HMS ACL - TestAccNetworkACLHTTPMessageSignature","active":true,"priority":99,"rule":{"scope":"tenant","action":{"block":true},"not_match":{"http_message_signature":{"keys":[{"id":"key_cti2FREXLrStdADwnEAKVm"}]}}},"created_at":"2026-09-09T05:06:31.787Z","updated_at":"2026-09-09T05:06:31.787Z","deleted_at":null,"id":"acl_m9gH9YKP843q5pcPRBj8u2"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 325.38925ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/network-acls/key_8NHh2ZuTnqFMKGSh926dEY
        method: GET
      response:
        body: '{"name":"HMS Test Key 2 - TestAccNetworkACLHTTPMessageSignature","alg":"hmac-sha256","fingerprint":"419e4122ffc8c1ade93e688c619ec0d9a04a244e0c2233512fa9d653d4e5484f","created_at":"2026-09-09T05:06:35.967Z","updated_at":"2026-09-09T05:06:35.967Z","id":"key_8NHh2ZuTnqFMKGSh926dEY"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 313.473416ms
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"HMS ACL Updated - TestAccNetworkACLHTTPMessageSignature","active":true,"priority":99,"rule":{"action":{"allow":true},"not_match":{"http_message_signature":{"keys":[{"id":"key_cti2FREXLrStdADwnEAKVm"},{"id":"key_8NHh2ZuTnqFMKGSh926dEY"}]}},"scope":"tenant"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_m9gH9YKP843q5pcPRBj8u2
        method: PUT
      response:
        body: '{"description":"HMS ACL Updated - TestAccNetworkACLHTTPMessageSignature","active":true,"priority":99,"rule":[...]
    - id: 16
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_m9gH9YKP843q5pcPRBj8u2
        method: DELETE
      response:
        body: '{"code":204,"object":""}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 312.171083ms
[...]
