---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"session_lifetime":168,"idle_session_lifetime":72}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"allowed_logout_urls":[],"acr_values_supported":[],"change_password":{"enabled":true,"html":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n  <title>Change your password</title>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no\" />\n\n  <style type=\"text/css\">\n    body,html{\n      padding:0;\n      margin:0;\n    }\n    .table{\n      display:table;\n      position:absolute;\n      height:100%;\n      width:100%;\n      {% unless tenant.colors.page_background %}\n        background:linear-gradient(rgba(255,255,255,.3),rgba(255,255,255,0));\n      {% endunless %}\n      background-color: {{tenant.colors.page_background | default: ''#e8ebef''}};\n    }\n    .cell{\n      display:table-cell;\n      vertical-align:middle;\n    }\n    .content{\n      padding:25px 0;\n      margin-left:auto;\n      margin-right:auto;\n      width:280px;\n    }\n  </style>\n\n\n</head>\n<body>\n  <div class=\"table\">\n    <div class=\"cell\">\n      <div class=\"content\">\n        <!-- WIDGET -->\n        <div id=\"change-password-widget-container\"></div>\n        <!-- END WIDGET -->\n      </div>\n    </div>\n  </div>\n\n  <script src=\"https://cdn.auth0.com/js/change-password-1.5.min.js\"></script>\n\n  <script>\n    new Auth0ChangePassword({\n      container:         \"change-password-widget-container\",                // required\n      email:             \"{{email | escape}}\",                              // DO NOT CHANGE THIS\n      csrf_token:        \"{{csrf_token}}\",                                  // DO NOT CHANGE THIS\n      ticket:            \"{{ticket}}\",                                      // DO NOT CHA[...]
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"mtls":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"allowed_logout_urls":[],"acr_values_supported":[],"change_password":{"enabled":true,"html":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n  <title>Change your password</tit[...]
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"error_page":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"allowed_logout_urls":[],"acr_values_supported":[],"change_password":{"enabled":true,"html":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n  <title>Change your password</tit[...]
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption?include_totals=true&page=0&per_page=5
        method: GET
      response:
        body: '{"keys":[{"kid":"38048a7e-3afd-4fb6-8b94-e0b043916f6d","type":"tenant-master-key","state":"active","created_at":"2025-03-20T13:33:37.251Z","updated_at":"2025-03-20T13:33:37.251Z","parent_kid":"118d7ea8-5999-4cec-aca5-09aed644c265","public_key":null},{"kid":"118d7ea8-5999-4cec-aca5-09aed644c265","type":"environment-root-key","state":"active","created_at":"2025-03-20T13:33:37.239Z","updated_at":"2025-03-20T13:33:37.239Z","parent_kid":null,"public_key":null},{"kid":"9e788853-f574-4fd8-be51-13116c231693","type":"tenant-master-key","state":"destroyed","created_at":"2025-03-20T13:33:28.615Z","updated_at":"2025-03-20T13:33:37.505Z","parent_kid":"118d7ea8-5999-4cec-aca5-09aed644c265","public_key":null},{"kid":"63a9a1ed-0154-4818-b056-f640e9e4220c","type":"customer-provided-root-key","state":"destroyed","created_at":"2025-03-20T13:33:12.842Z","updated_at":"2025-03-20T13:33:37.505Z","parent_kid":null,"public_key":null},{"kid":"008a5a45-bf5b-4215-b495-34ba8f170ce8","type":"customer-provided-root-key","state":"destroyed","created_at":"2025-03-20T13:33:00.844Z","updated_at":"2025-03-20T13:33:08.569Z","parent_kid":null,"public_key":null}],"start":0,"limit":5,"total":9}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 448.928083ms
[...]
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"type":"customer-provided-root-key"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption
        method: POST
      response:
        body: '{"kid":"8d53a87c-0311-42d6-b210-e39a4c64bb66","type":"customer-provided-root-key","state":"pre-activation","created_at":"2025-03-20T13:39:57.326Z","updated_at":"2025-03-20T13:39:57.326Z","parent_kid":null,"public_key":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 437.456291ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption/8d53a87c-0311-42d6-b210-e39a4c64bb66
        method: GET
      response:
        body: '{"kid":"8d53a87c-0311-42d6-b210-e39a4c64bb66","type":"customer-provided-root-key","state":"pre-activation","created_at":"2025-03-20T13:39:57.326Z","updated_at":"2025-03-20T13:39:57.326Z","parent_kid":null,"public_key":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 446.284167ms
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption/8d53a87c-0311-42d6-b210-e39a4c64bb66/wrapping-key
        method: POST
      response:
        body: '{"public_key":"-----BEGIN PUBLIC KEY-----\nMIIBojANBgkqhkiG9w0BAQEFAAOCAY8AMIIBigKCAYEA9/AS+O9rIN8chJndgCZC\nd7uA0OLV3nt9Wc6367PvIWzkAV0ZuR+3itYp/f4+n4jFM4ZVYHHR0xOthb9blS1t\nUnkDFVua47/851Kmg4EE7YQaG7eNClPm0neAxGZxD/8YVCV3TeccFTStSpzYwRlL\nUKWGPsm/AzjWCGuEa3OGl1oNVAqpY9vZEnVCEBBSEXjFSUW0jAcb0Txk7mao96M3\nQ59N4Hqmry9aermd0V2kDhecfRwTvAyczlteCrsjDBpgGsBI5IBRXuuDRTYlD/+2\n5nkRu0dgUbQnkh+7jnor/1Jq0wsgHroH0F9y//OpMWAO6am/Cc4xlOVKjZcea9F+\nJI7+buTlPNWQxgRbgpGfBvESjJV+YS3KDz7N4FUqeR+2KTQ+nzMp+jr7ISCbrA0+\n5oXppvgFJFEUNadUErOZdNNInUjNdt9aq0HYLSN5IpQFpaPuUl7EIzT91aYpcZxC\nrD8qK9pcomPlOsIpxvnPZdXA5hi0pZgNCtqLuCl3njgdAgMBAAE=\n-----END PUBLIC KEY-----\n","algorithm":"CKM_RSA_AES_KEY_WRAP"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.860578625s
[...]
    - id: 56
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"wrapped_key":"bad-key-value"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption/435af9d8-31a7-437e-8122-ab30f9c67d42
        method: POST
      response:
        body: '{"statusCode":400,"error":"Bad Request","message":"Invalid input. Wrapped key material is invalid or unsupported key type.","errorCode":"invalid_body"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 460.31325ms
[...]
