---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Directory-Connection-TestAccDirectoryDataSource","display_name":"Acceptance-Test-Directory-TestAccDirectoryDataSource","strategy":"google-apps","is_domain_connection":false,"show_as_button":false,"options":{"client_id":"","client_secret":"","domain":"example.com","tenant_domain":"example.com","ext_profile":true,"ext_groups":true,"api_enable_users":true,"set_user_root_attributes":"on_first_login","map_user_id_to_id":true,"domain_aliases":["api.example.com","example.com"],"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_Noy6zWiRLZIaA9fm","options":{"client_id":"","client_secret":"","domain":"example.com","tenant_domain":"example.com","ext_profile":true,"ext_groups":true,"api_enable_users":true,"set_user_root_attributes":"on_first_login","map_user_id_to_id":true,"domain_aliases":["api.example.com","example.com"],"upstream_params":{"screen_name":{"alias":"login_hint"}},"email":true,"profile":true,"scope":["email","profile"],"handle_login_from_social":true},"strategy":"google-apps","name":"Acceptance-Test-Directory-Connection-TestAccDirectoryDataSource","provisioning_ticket_url":"https://login.eu.auth0.com/terraform-provider-auth0-dev/p/google-apps/KUaTyBmZ","is_domain_connection":false,"show_as_button":false,"authentication":{"active":true},"connected_accounts":{"active":false},"display_name":"Acceptance-Test-Directory-TestAccDirectoryDataSource","enabled_clients":[],"realms":["Acceptance-Test-Directory-Connection-TestAccDirectoryDataSource"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 352.964458ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_Noy6zWiRLZIaA9fm
        method: GET
      response:
        body: '{"id":"con_Noy6zWiRLZIaA9fm","options":{"email":true,"scope":["email","profile"],"domain":"example.com","profile":true,"client_id":"","ext_groups":true,"ext_profile":true,"client_secret":"","tenant_domain":"example.com","domain_aliases":["api.example.com","example.com"],"upstream_params":{"screen_name":{"alias":"login_hint"}},"api_enable_users":true,"map_user_id_to_id":true,"handle_login_from_social":true,"set_user_root_attributes":"on_first_login"},"strategy":"google-apps","name":"Acceptance-Test-Directory-Connection-TestAccDirectoryDataSource","provisioning_ticket_url":"https://login.eu.auth0.com/terraform-provider-auth0-dev/p/google-apps/KUaTyBmZ","is_domain_connection":false,"show_as_button":false,"authentication":{"active":true},"connected_accounts":{"active":false},"display_name":"Acceptance-Test-Directory-TestAccDirectoryDataSource","enabled_clients":[],"realms":["Acceptance-Test-Directory-Connection-TestAccDirectoryDataSource"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 394.547042ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"mapping":[{"auth0":"external_id","idp":"id"},{"auth0":"email","idp":"primaryEmail"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_Noy6zWiRLZIaA9fm/directory-provisioning
        method: POST
      response:
        body: '{"connection_id":"con_Noy6zWiRLZIaA9fm","connection_name":"Acceptance-Test-Directory-Connection-TestAccDirectoryDataSource","strategy":"google-apps","mapping":[{"idp":"id","auth0":"external_id"},{"idp":"primaryEmail","auth0":"email"}],"synchronize_automatically":false,"created_at":"2025-12-22T07:39:54.926Z","updated_at":"2025-12-22T07:39:54.926Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 308.0945ms
[...]
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_Noy6zWiRLZIaA9fm
        method: DELETE
      response:
        body: '{"deleted_at":"2025-12-22T07:39:59.382Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 287.140416ms
