---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"Test Module TestAccActionModuleMultipleVersions","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules
        method: POST
      response:
        body: '{"id":"f680031d-875c-4bc8-9e5e-6c41e30738bc","name":"Test Module TestAccActionModuleMultipleVersions","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[],"all_changes_published":false,"actions_using_module_total":0,"created_at":"2026-02-16T16:36:38.725267Z","updated_at":"2026-02-16T16:36:38.725267Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 328.20625ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/f680031d-875c-4bc8-9e5e-6c41e30738bc/versions
        method: POST
      response:
        body: '{"id":"f5477413-a8ef-4368-9a66-2e6bea8a8bad","module_id":"f680031d-875c-4bc8-9e5e-6c41e30738bc","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","secrets":[],"dependencies":[],"created_at":"2026-02-16T16:36:39.070640Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 355.786417ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/f680031d-875c-4bc8-9e5e-6c41e30738bc
        method: GET
      response:
        body: '{"id":"f680031d-875c-4bc8-9e5e-6c41e30738bc","name":"Test Module TestAccActionModuleMultipleVersions","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[],"all_changes_published":true,"actions_using_module_total":0,"created_at":"2026-02-16T16:36:38.725267Z","updated_at":"2026-02-16T16:36:38.725267Z","latest_version":{"id":"f5477413-a8ef-4368-9a66-2e6bea8a8bad","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 341.577541ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/f680031d-875c-4bc8-9e5e-6c41e30738bc/versions?page=0&per_page=50
        method: GET
      response:
        body: '{"versions":[{"id":"f5477413-a8ef-4368-9a66-2e6bea8a8bad","module_id":"f680031d-875c-4bc8-9e5e-6c41e30738bc","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","secrets":[],"dependencies":[],"created_at":"2026-02-16T16:36:39.070640Z"}],"total":1,"page":0,"per_page":50}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 339.116084ms
[...]
