---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-flow-TestAccFlowDataSource"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/flows
        method: POST
      response:
        body: '{"id":"af_n3B9Fcgw6pxkVEnYYnAbQ7","name":"test-flow-TestAccFlowDataSource","created_at":"2024-10-08T05:43:41.093Z","updated_at":"2024-10-08T05:43:41.093Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 326.632083ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/flows/af_n3B9Fcgw6pxkVEnYYnAbQ7
        method: GET
      response:
        body: '{"id":"af_n3B9Fcgw6pxkVEnYYnAbQ7","name":"test-flow-TestAccFlowDataSource","created_at":"2024-10-08T05:43:41.093Z","updated_at":"2024-10-08T05:43:41.093Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 313.672625ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/flows/af_bskks8aGbiq7qS13umnuvX
        method: GET
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"Flow not found"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 331.766292ms
[...]
