---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"Auth0 Managed Unknown Category - TestAccNetworkACLAuth0ManagedAPIRejections","active":true,"priority":9,"rule":{"action":{"block":true},"match":{"auth0_managed":["auth0.totally_made_up"]},"scope":"authentication"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls
        method: POST
      response:
        body: '{"statusCode":400,"error":"Bad Request","message":"Invalid curated list name(s): auth0.totally_made_up. Allowed curated list names are: auth0.low_reputation, auth0.icloud_relay_proxy","errorCode":"invalid_body"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 267.317ms
[...]
