---
  version: 2
  interactions:
      - id: 0
        request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: |
              {"name":"test-org-acceptance-testing","display_name":"Test Org Acceptance Testing"}
          form: {}
          headers:
              Content-Type:
                  - application/json
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
          method: POST
        response:
          body: '{"id":"org_9VJusCS7yMLJUqVx","display_name":"Test Org Acceptance Testing","name":"test-org-acceptance-testing"}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status: 201 Created
          code: 201
          duration: 237.090458ms
      - id: 1
        request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: ""
          form: {}
          headers:
              Content-Type:
                  - application/json
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_9VJusCS7yMLJUqVx
          method: GET
        response:
          body: '{"id":"org_9VJusCS7yMLJUqVx","name":"test-org-acceptance-testing","display_name":"Test Org Acceptance Testing"}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status: 200 OK
          code: 200
          duration: 168.501792ms
      - id: 2
        request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: |
              {"name":"Example API","identifier":"https://api.travel00123.com/"}
          form: {}
          headers:
              Content-Type:
                  - application/json
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
          method: POST
        response:
          body: '{"id":"66f5c900c12df5490e81bb31","name":"Example API","identifier":"https://api.travel00123.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status: 201 Created
          code: 201
          duration: 204.369583ms
      - id: 3
        request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: |
              {"authorization_details":null}
          form: {}
          headers:
              Content-Type:
                  - application/json
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/66f5c900c12df5490e81bb31
          method: PATCH
        response:
          body: '{"id":"66f5c900c12df5490e81bb31","name":"Example API","identifier":"https://api.travel00123.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status: 200 OK
          code: 200
          duration: 159.316292ms
      - id: 4
        request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: |
              {"token_encryption":null}
          form: {}
          headers:
              Content-Type:
                  - application/json
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/66f5c900c12df5490e81bb31
          method: PATCH
        response:
          body: '{"id":"66f5c900c12df5490e81bb31","name":"Example API","identifier":"https://api.travel00123.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status: 200 OK
          code: 200
          duration: 125.282583ms
      - id: 5
        request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: |
              {"proof_of_possession":null}
          form: {}
          headers:
              Content-Type:
                  - application/json
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/66f5c900c12df5490e81bb31
          method: PATCH
        response:
          body: '{"id":"66f5c900c12df5490e81bb31","name":"Example API","identifier":"https://api.travel00123.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifet[...]
