---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action Unbind Two TestAccActionDeleteWithUnbind","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {};","runtime":"node18-actions"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"92fa6063-a542-41b6-8dc6-148aa2cfdfef","name":"Test Action Unbind Two TestAccActionDeleteWithUnbind","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T11:35:36.076206953Z","updated_at":"2026-05-29T11:35:36.084167284Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node18-actions","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 406.955209ms
[...]
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/92fa6063-a542-41b6-8dc6-148aa2cfdfef
        method: GET
      response:
        body: '{"id":"92fa6063-a542-41b6-8dc6-148aa2cfdfef","name":"Test Action Unbind Two TestAccActionDeleteWithUnbind","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T11:35:36.076206953Z","updated_at":"2026-05-29T11:35:36.084167284Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node18-actions","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 304.624209ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/92fa6063-a542-41b6-8dc6-148aa2cfdfef/deploy
        method: POST
      response:
        body: '{"code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"id":"af238db0-8396-453f-af7a-f585074a7d41","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2026-05-29T11:35:36.828236041Z","updated_at":"2026-05-29T11:35:36.828236041Z","runtime":"node18-actions","supported_triggers":[{"id":"post-login","version":"v3"}],"action":{"id":"92fa6063-a542-41b6-8dc6-148aa2cfdfef","name":"Test Action Unbind Two TestAccActionDeleteWithUnbind","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T11:35:36.076206953Z","updated_at":"2026-05-29T11:35:36.076206953Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 379.774958ms
[...]
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/2fc4404d-b5d4-4e1e-b39a-36b6d5493722
        method: GET
      response:
        body: '{"id":"2fc4404d-b5d4-4e1e-b39a-36b6d5493722","name":"Test Action Unbind One TestAccActionDeleteWithUnbind","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T11:35:36.092428490Z","updated_at":"2026-05-29T11:35:36.100376096Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node18-actions","status":"built","secrets":[],"current_version":{"id":"6ec33fee-0973-4b2d-b6cc-6a79d1b241a1","code":"exports.onExecutePostLogin = async (event, api) => {};","runtime":"node18-actions","status":"BUILT","number":1,"build_time":"2026-05-29T11:35:37.136823180Z","created_at":"2026-05-29T11:35:36.862978369Z","updated_at":"2026-05-29T11:35:37.137842457Z"},"deployed_version":{"code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"id":"6ec33fee-0973-4b2d-b6cc-6a79d1b241a1","deployed":true,"number":1,"built_at":"2026-05-29T11:35:37.136823180Z","secrets":[],"status":"built","created_at":"2026-05-29T11:35:36.862978369Z","updated_at":"2026-05-29T11:35:37.137842457Z","runtime":"node18-actions","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 376.929375ms
[...]
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"bindings":[{"display_name":"Test Action Unbind One TestAccActionDeleteWithUnbind","ref":{"type":"action_id","value":"2fc4404d-b5d4-4e1e-b39a-36b6d5493722"}},{"display_name":"Test Action Unbind Two TestAccActionDeleteWithUnbind","ref":{"type":"action_id","value":"92fa6063-a542-41b6-8dc6-148aa2cfdfef"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings
        method: PATCH
      response:
        body: '{"bindings":[{"id":"29a906b8-b708-408e-abf1-450f0b552295","trigger_id":"post-login","action":{"id":"2fc4404d-b5d4-4e1e-b39a-36b6d5493722","name":"Test Action Unbind One TestAccActionDeleteWithUnbind","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T11:35:36.092428490Z","updated_at":"2026-05-29T11:35:36.092428490Z","current_version":{"id":"6ec33fee-0973-4b2d-b6cc-6a79d1b241a1","code":"exports.onExecutePostLogin = async (event, api) => {};","runtime":"node18-actions","status":"BUILT","number":1,"build_time":"2026-05-29T11:35:37.13682[...]
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?page=0&per_page=100
        method: GET
      response:
        body: '{"bindings":[{"id":"29a906b8-b708-408e-abf1-450f0b552295","trigger_id":"post-login","action":{"id":"2fc4404d-b5d4-4e1e-b39a-36b6d5493722","name":"Test Action Unbind One TestAccActionDelet[...]
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?page=1&per_page=100
        method: GET
      response:
        body: '{"bindings":[],"page":1,"per_page":100}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 393.577084ms
[...]
