---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - testaccuserpermission","identifier":"https://uat.api.terraform-provider-auth0.com/testaccuserpermission","scopes":[{"value":"create:foo","description":"Can create Foo"},{"value":"read:foo","description":"Can read Foo"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"645cf8dd10808ebb3d300ef7","name":"Acceptance Test - testaccuserpermission","identifier":"https://uat.api.terraform-provider-auth0.com/testaccuserpermission","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","scopes":[{"value":"create:foo","description":"Can create Foo"},{"value":"read:foo","description":"Can read Foo"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 138.9605ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/645cf8dd10808ebb3d300ef7
        method: GET
      response:
        body: '{"id":"645cf8dd10808ebb3d300ef7","name":"Acceptance Test - testaccuserpermission","identifier":"https://uat.api.terraform-provider-auth0.com/testaccuserpermission","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","scopes":[{"value":"create:foo","description":"Can create Foo"},{"value":"read:foo","description":"Can read Foo"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 111.620042ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"user_id":"testaccuserpermission","connection":"Username-Password-Authentication","email":"testaccuserpermission@acceptance.test.com","username":"testaccuserpermission","password":"passpass$12$12"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"created_at":"2023-05-11T14:17:02.201Z","email":"testaccuserpermission@acceptance.test.com","email_verified":false,"identities":[{"user_id":"testaccuserpermission","connection":"Username-Password-Authentication","provider":"auth0","isSocial":false}],"name":"testaccuserpermission@acceptance.test.com","nickname":"testaccuserpermission","picture":"https://s.gravatar.com/avatar/295de314fb7cbd3d1154adc7f2f222fe?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2023-05-11T14:17:02.202Z","user_id":"auth0|testaccuserpermission","username":"testaccuserpermission"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 320.235125ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuserpermission
        method: GET
      response:
        body: '{"created_at":"2023-05-11T14:17:02.201Z","email":"testaccuserpermission@acceptance.test.com","email_verified":false,"identities":[{"user_id":"testaccuserpermission","connection":"Username-Password-Authentication","provider":"auth0","isSocial":false}],"name":"testaccuserpermission@acceptance.test.com","nickname":"testaccuserpermission","picture":"https://s.gravatar.com/avatar/295de314fb7cbd3d1154adc7f2f222fe?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2023-05-11T14:17:02.202Z","user_id":"auth0|testaccuserpermission","username":"testaccuserpermission"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 114.41025ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuserpermission/roles?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"roles":[],"start":0,"limit":50,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 244.259042ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuserpermission/permissions?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"permissions":[],"start":0,"limit":50,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 120.271667ms
[...]
    - id: 14
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"permissions":[{"resource_server_identifier":"https://uat.api.terraform-provider-auth0.com/testaccuserpermission","permission_name":"read:foo"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuserpermission/permissions
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 102.910584ms
    - id: 15
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuserpermission/permissions?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"permissions":[{"permission_name":"read:foo","description":"Can read Foo","resource_server_name":"Acceptance Test - testaccuserpermission","resource_server_identifier":"https://uat.api.terraform-provider-auth0.com/testaccuserpermission","sources":[{"source_id":"","source_name":"","source_type":"DIRECT"}]}],"start":0,"limit":50,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 118.688792ms
[...]
