---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"session_lifetime":168,"idle_session_lifetime":72,"ephemeral_session_lifetime":1,"idle_ephemeral_session_lifetime":1}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"allowed_logout_urls":[],"acr_values_supported":[],"default_audience":"","default_directory":"","enabled_locales":["de","fr"],"flags":{"allow_changing_enable_sso":false,"cannot_change_enforce_client_authentication_on_passwordless_start":true,"disable_impersonation":true,"disable_management_api_sms_obfuscation":true,"enable_client_connections":true,"enable_public_signup_user_exists_error":true,"enable_sso":true,"enforce_client_authentication_on_passwordless_start":true,"new_universal_login_experience_enabled":true,"universal_login":true,"use_scope_descriptions_for_consent":false,"no_disclose_enterprise_connections":false,"revoke_refresh_token_grant":false,"disable_fields_map_fix":true,"dashboard_new_onboarding":true,"mfa_show_factor_list_on_enrollment":true,"remove_alg_from_jwks":false,"disable_clickjack_protection_headers":false},"friendly_name":"My Test Tenant","idle_session_lifetime":72,"ephemeral_session_lifetime":1,"idle_ephemeral_session_lifetime":1,"picture_url":"https://mycompany.org/logo.png","sandbox_version":"18","session_lifetime":168,"support_email":"support@mycompany.org","support_url":"https://mycompany.org/support","sessions":{"oidc_logout_prompt_enabled":true},"oidc_logout":{"rp_logout_end_session_endpoint_discovery":false},"allow_organization_name_in_authentication_api":true,"customize_mfa_in_postlogin_action":true,"pushed_authorization_requests_supported":false,"mtls":{"enable_endpoint_aliases":true},"universal_login":{"colors":{"page_background":"#000000","primary":"#0059d6"},"is_custom_theme_set":true,"is_custom_template_set":false,"identifier_first":true,"webauthn_platform_first_factor":false},"session_cookie":{"mode":"persistent"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 652.910083ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"default_token_quota":null,"error_page":null,"mtls":null,"skip_non_verifiable_callback_uri_confirmation_prompt":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"allowed_logout_urls":[],"acr_values_supported":[],"default_audience":"","default_directory":"","enabled_locales":["de","fr"],"flags":{"allow_changing_enable_sso":false,"cannot_change_e[...]
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"default_audience":"","default_directory":"","flags":{"disable_clickjack_protection_headers":true,"enable_public_signup_user_exists_error":true,"use_scope_descriptions_for_consent":true,"no_disclose_enterprise_connections":false,"disable_management_api_sms_obfuscation":false,"disable_fields_map_fix":false,"mfa_show_factor_list_on_enrollment":false,"remove_alg_from_jwks":true},"friendly_name":"My Test Tenant","picture_url":"https://mycompany.org/logo.png","support_email":"support@mycompany.org","support_url":"https://mycompany.org/support","allowed_logout_urls":["https://mycompany.org/logoutCallback"],"session_lifetime":720,"ephemeral_session_lifetime":48,"idle_ephemeral_session_lifetime":36,"sandbox_version":"18","default_redirection_uri":"https://example.com/login","enabled_locales":["en","de","fr"],"session_cookie":{"mode":"non-persistent"},"sessions":{"oidc_logout_prompt_enabled":false},"oidc_logout":{"rp_logout_end_session_endpoint_discovery":true},"allow_organization_name_in_authentication_api":false,"customize_mfa_in_postlogin_action":false,"mtls":{"enable_endpoint_aliases":true},"pushed_authorization_requests_supported":true,"skip_non_verifiable_callback_uri_confirmation_prompt":false}
        form: {}
        headers:
   [...]
[...]
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"default_directory":"","error_page":{"html":"\u003chtml\u003e\u003c/html\u003e","show_log_link":false,"url":"https://mycompany.org/error"},"flags":{"disable_clickjack_protection_headers":false,"enable_public_signup_user_exists_error":true,"use_scope_descriptions_for_consent":false,"no_disclose_enterprise_connections":false,"disable_management_api_sms_obfuscation":true,"disable_fields_map_fix":true,"mfa_show_factor_list_on_enrollment":true,"remove_alg_from_jwks":false},"friendly_name":"My Test Tenant","picture_url":"https://mycompany.org/logo.png","support_email":"support@mycompany.org","su[...]
[...]
