---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"beacon.auth.tempdomain.com","type":"self_managed_certs"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_PBvDWrZU7zrWmSgG","domain":"beacon.auth.tempdomain.com","primary":false,"status":"pending_verification","type":"self_managed_certs","verification":{"methods":[{"name":"TXT","record":"0ff5e67d-e25a-44c6-80ce-7abe31dc69d5","domain":"_cf-custom-hostname.beacon.auth.tempdomain.com"}]},"custom_client_ip_header":null,"created_at":"2025-10-17T06:05:57.589Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 3.622715667s
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_PBvDWrZU7zrWmSgG
        method: GET
      response:
        body: '{"custom_domain_id":"cd_PBvDWrZU7zrWmSgG","domain":"beacon.auth.tempdomain.com","primary":false,"status":"pending_verification","type":"self_managed_certs","verification":{"methods":[{"name":"TXT","record":"0ff5e67d-e25a-44c6-80ce-7abe31dc69d5","domain":"_cf-custom-hostname.beacon.auth.tempdomain.com"}]},"custom_client_ip_header":null,"created_at":"2025-10-17T06:05:57.589Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 379.606625ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_TtSx4Xgc5UnEW0WX
        method: GET
      response:
        body: '{"custom_domain_id":"cd_TtSx4Xgc5UnEW0WX","domain":"authninja1.auth.tempdomain.com","primary":false,"status":"pending_verification","type":"self_managed_certs","verification":{"methods":[{"name":"TXT","record":"f1cc16c1-0f89-4543-8e1e-1a5be6999dbd","domain":"_cf-custom-hostname.authninja1.auth.tempdomain.com"}]},"custom_client_ip_header":null,"created_at":"2025-10-17T06:05:59.570Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 347.834916ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_0lR4uJNxfs7KYg5i
        method: GET
      response:
        body: '{"custom_domain_id":"cd_0lR4uJNxfs7KYg5i","domain":"authninja2.auth.tempdomain.com","primary":false,"status":"pending_verification","type":"self_managed_certs","verification":{"methods":[{"name":"TXT","record":"3bdff9cd-d6b0-47f0-b817-93127b403768","domain":"_cf-custom-hostname.authninja2.auth.tempdomain.com"}]},"custom_client_ip_header":null,"created_at":"2025-10-17T06:05:59.752Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 385.489875ms
[...]
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains?q=domain%3Aauthninja%2A&take=100
        method: GET
      response:
        body: '{"custom_domains":[{"custom_domain_id":"cd_TtSx4Xgc5UnEW0WX","domain":"authninja1.auth.tempdomain.com","primary":false,"status":"pending_verification","type":"self_managed_certs","verification":{"methods":[{"name":"TXT","record":"f1cc16c1-0f89-4543-8e1e-1a5be6999dbd","domain":"_cf-custom-hostname.authninja1.auth.tempdomain.com"}]},"custom_client_ip_header":null,"created_at":"2025-10-17T06:05:59.570Z"},{"custom_domain_id":"cd_0lR4uJNxfs7KYg5i","domain":"authninja2.auth.tempdomain.com","primary":false,"status":"pending_verification","type":"self_managed_certs","verification":{"methods":[{"name":"TXT","record":"3bdff9cd-d6b0-47f0-b817-93127b403768","domain":"_cf-custom-hostname.authninja2.auth.tempdomain.com"}]},"custom_client_ip_header":null,"created_at":"2025-10-17T06:05:59.752Z"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 345.780584ms
[...]
    - id: 16
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"testaccdatasourcecustomdomains-first.auth.tempdomain.com","type":"auth0_managed_certs","tls_policy":"recommended","domain_metadata":{"key1":"value1","key2":"value2"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_bkDiAR783bTsMbRw","domain":"testaccdatasourcecustomdomains-first.auth.tempdomain.com","primary":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"terraform-provider-auth0-dev-cd-bkdiar783btsmbrw.edge.tenants.us.auth0.com","domain":"testaccdatasourcecustomdomains-first.auth.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key1":"value1","key2":"value2"},"created_at":"2025-10-17T06:06:09.026Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 397.626166ms
    - id: 17
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_bkDiAR783bTsMbRw
        method: GET
      response:
        body: '{"custom_domain_id":"cd_bkDiAR783bTsMbRw","domain":"testaccdatasourcecustomdomains-first.auth.tempdomain.com","primary":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"terraform-provider-auth0-dev-cd-bkdiar783btsmbrw.edge.tenants.us.auth0.com","domain":"testaccdatasourcecustomdomains-first.auth.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key1":"value1","key2":"value2"},"created_at":"2025-10-17T06:06:09.026Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 322.558208ms
    - id: 18
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"testaccdatasourcecustomdomains-second.auth.tempdomain.com","type":"auth0_managed_certs","tls_policy":"recommended","domain_metadata":{"key3":"value3"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_A8cxTcRL2HZcSEJ6","domain":"testaccdatasourcecustomdomains-second.auth.tempdomain.com","primary":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"terraform-provider-auth0-dev-cd-a8cxtcrl2hzcsej6.edge.tenants.us.auth0.com","domain":"testaccdatasourcecustomdomains-second.auth.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key3":"value3"},"created_at":"2025-10-17T06:06:09.812Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 438.64175ms
    - id: 19
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_A8cxTcRL2HZcSEJ6
        method: GET
      response:
        body: '{"custom_domain_id":"cd_A8cxTcRL2HZcSEJ6","domain":"testaccdatasourcecustomdomains-second.auth.tempdomain.com","primary":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"terraform-provider-auth0-dev-cd-a8cxtcrl2hzcsej6.edge.tenants.us.auth0.com","domain":"testaccdatasourcecustomdomains-second.auth.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key3":"value3"},"created_at":"2025-10-17T06:06:09.812Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 350.527166ms
[...]
