---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Default For Grant - TestAccClientGrant_DefaultFor","identifier":"https://uat.tf.terraform-provider-auth0.com/default-for-grant/TestAccClientGrant_DefaultFor"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"69f1afe9659b98d75ab916ff","name":"Acceptance Test - Default For Grant - TestAccClientGrant_DefaultFor","identifier":"https://uat.tf.terraform-provider-auth0.com/default-for-grant/TestAccClientGrant_DefaultFor","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 366.857875ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/69f1afe9659b98d75ab916ff
        method: GET
      response:
        body: '{"id":"69f1afe9659b98d75ab916ff","name":"Acceptance Test - Default For Grant - TestAccClientGrant_DefaultFor","identifier":"https://uat.tf.terraform-provider-auth0.com/default-for-grant/TestAccClientGrant_DefaultFor","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 349.754875ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/https:%2F%2Fuat.tf.terraform-provider-auth0.com%2Fdefault-for-grant%2FTestAccClientGrant_DefaultFor
        method: GET
      response:
        body: '{"id":"69f1afe9659b98d75ab916ff","name":"Acceptance Test - Default For Grant - TestAccClientGrant_DefaultFor","identifier":"https://uat.tf.terraform-provider-auth0.com/default-for-grant/TestAccClientGrant_DefaultFor","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 365.213583ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"scopes":[{"value":"read:data","description":"Read data"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/https:%2F%2Fuat.tf.terraform-provider-auth0.com%2Fdefault-for-grant%2FTestAccClientGrant_DefaultFor
        method: PATCH
      response:
        body: '{"id":"69f1afe9659b98d75ab916ff","name":"Acceptance Test - Default For Grant - TestAccClientGrant_DefaultFor","identifier":"https://uat.tf.terraform-provider-auth0.com/default-for-grant/TestAccClientGrant_DefaultFor","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","scopes":[{"value":"read:data","description":"Read data"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 351.0945ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"audience":"https://uat.tf.terraform-provider-auth0.com/default-for-grant/TestAccClientGrant_DefaultFor","scope":["read:data"],"default_for":"third_party_clients"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants
        method: POST
      response:
        body: '{"id":"cgr_XB6ZHmjNC4RXBCpg","audience":"https://uat.tf.terraform-provider-auth0.com/default-for-grant/TestAccClientGrant_DefaultFor","scope":["read:data"],"subject_type":"client","default_for":"third_party_clients"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 358.088708ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants/cgr_XB6ZHmjNC4RXBCpg
        method: GET
      response:
        body: '{"id":"cgr_XB6ZHmjNC4RXBCpg","audience":"https://uat.tf.terraform-provider-auth0.com/default-for-grant/TestAccClientGrant_DefaultFor","scope":["read:data"],"subject_type":"client","default_for":"third_party_clients"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 331.245916ms
[...]
