---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - TestAccResourceServerRequireConsentNonRepudiation","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccResourceServerRequireConsentNonRepudiation","require_consent_non_repudiation":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"6ac290335f41d1b422359051","name":"Acceptance Test - TestAccResourceServerRequireConsentNonRepudiation","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccResourceServerRequireConsentNonRepudiation","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","require_consent_non_repudiation":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 488.006333ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/6ac290335f41d1b422359051
        method: GET
      response:
        body: '{"id":"6ac290335f41d1b422359051","name":"Acceptance Test - TestAccResourceServerRequireConsentNonRepudiation","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccResourceServerRequireConsentNonRepudiation","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","require_consent_non_repudiation":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 314.249333ms
[...]
