---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-DB-Connection-testaccorganizationconnection","strategy":"auth0"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_J9VZdQRJkbgExhXl","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"authentication_methods":{"password":{"enabled":true},"passkey":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-DB-Connection-testaccorganizationconnection","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-DB-Connection-testaccorganizationconnection"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 196.587625ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_J9VZdQRJkbgExhXl
        method: GET
      response:
        body: '{"id":"con_J9VZdQRJkbgExhXl","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"strategy_version":2,"authentication_methods":{"passkey":{"enabled":false},"password":{"enabled":true}},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-DB-Connection-testaccorganizationconnection","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-DB-Connection-testaccorganizationconnection"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 152.7965ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Enterprise-Connection-testaccorganizationconnection","display_name":"testaccorganizationconnection","strategy":"okta","options":{"client_id":"1234567","client_secret":"1234567","authorization_endpoint":"https://example.okta.com/oauth2/v1/authorize","issuer":"https://example.okta.com","jwks_uri":"https://example.okta.com/oauth2/v1/keys","userinfo_endpoint":null,"token_endpoint":"https://example.okta.com/oauth2/v1/token"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_dlQHk0YB48BKaktV","options":{"client_id":"1234567","client_secret":"1234567","authorization_endpoint":"https://example.okta.com/oauth2/v1/authorize","issuer":"https://example.okta.com","jwks_uri":"https://example.okta.com/oauth2/v1/keys","userinfo_endpoint":null,"token_endpoint":"https://example.okta.com/oauth2/v1/token","schema_version":"oidc-V4","type":"back_channel","attribute_map":{"mapping_mode":"basic_profile"},"connection_settings":{"pkce":"auto"}},"strategy":"okta","name":"Acceptance-Test-Enterprise-Connection-testaccorganizationconnection","is_domain_connection":false,"show_as_button":false,"display_name":"testaccorganizationconnection","enabled_clients":[],"realms":["Acceptance-Test-Enterprise-Connection-testaccorganizationconnection"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 201.515792ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_dlQHk0YB48BKaktV
        method: GET
      response:
        body: '{"id":"con_dlQHk0YB48BKaktV","options":{"type":"back_channel","issuer":"https://example.okta.com","jwks_uri":"https://example.okta.com/oauth2/v1/keys","client_id":"1234567","attribute_map":{"mapping_mode":"basic_profile"},"client_secret":"1234567","schema_version":"oidc-V4","token_endpoint":"https://example.okta.com/oauth2/v1/token","userinfo_endpoint":null,"connection_settings":{"pkce":"auto"},"authorization_endpoint":"https://example.okta.com/oauth2/v1/authorize"},"strategy":"okta","name":"Acceptance-Test-Enterprise-Connection-testaccorganizationconnection","is_domain_connection":false,"show_as_button":false,"display_name":"testaccorganizationconnection","enabled_clients":[],"realms":["Acceptance-Test-Enterprise-Connection-testaccorganizationconnection"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 151.258625ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"some-org-testaccorganizationconnection","display_name":"testaccorganizationconnection"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_KWfP8CViTqCnCLAY","display_name":"testaccorganizationconnection","name":"some-org-testaccorganizationconnection"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 153.662958ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_KWfP8CViTqCnCLAY
        method: GET
      response:
        body: '{"id":"org_KWfP8CViTqCnCLAY","name":"some-org-testaccorganizationconnection","display_name":"testaccorganizationconnection"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 154.16925ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"connection_id":"con_J9VZdQRJkbgExhXl"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_KWfP8CViTqCnCLAY/enabled_connections
        method: POST
      response:
        body: '{"connection_id":"con_J9VZdQRJkbgExhXl","assign_membership_on_login":false,"is_signup_enabled":false,"show_as_button":true,"connection":{"name":"Acceptance-Test-DB-Connection-testaccorganizationconnection","strategy":"auth0"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 151.678416ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_KWfP8CViTqCnCLAY/enabled_connections/con_J9VZdQRJkbgExhXl
        method: GET
      response:
        body: '{"connection_id":"con_J9VZdQRJkbgExhXl","assign_membership_on_login":false,"is_signup_enabled":false,"show_as_button":true,"connection":{"name":"Acceptance-Test-DB-Connection-testaccorganizationconnection","strategy":"auth0"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 154.071208ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_KWfP8CViTqCnCLAY/enabled_connections?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"enabled_connections":[{"connection_id":"con_J9VZdQRJkbgExhXl","assign_membership_on_login":false,"is_signup_enabled":false,"show_as_button":true,"connection":{"name":"Acceptance-Test-DB-Connection-testaccorganizationconnection","strategy":"auth0"}}],"start":0,"limit":1,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 158.28775ms
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_KWfP8CViTqCnCLAY/members?fields=user_id&include_fields=true&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 153.196ms
[...]
    - id: 45
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_KWfP8CViTqCnCLAY/enabled_connections/con_dlQHk0YB48BKaktV
        method: GET
      response:
        body: '{"connection_id":"con_dlQHk0YB48BKaktV","assign_membership_on_login":true,"show_as_button":true,"connection":{"name":"Acceptance-Test-Enterprise-Connection-testaccorganizationconnection","strategy":"okta"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 154.418542ms
[...]
    - id: 268
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_dlQHk0YB48BKaktV
        method: DELETE
      response:
        body: '{"deleted_at":"2024-06-17T17:12:28.069Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 150.898542ms
[...]
