---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"testaccorganizationmembers1@auth0.com","username":"tempusername1","password":"MyPass123$"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"user_id":"auth0|69e9cced7288eed95a7e5f58","created_at":"2026-04-23T07:40:29.537Z","email":"testaccorganizationmembers1@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"69e9cced7288eed95a7e5f58","provider":"auth0","isSocial":false}],"name":"testaccorganizationmembers1@auth0.com","nickname":"testaccorganizationmembers1","picture":"https://s.gravatar.com/avatar/4f34aa9f8f57ca4c76491ba399a9d6c2?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2026-04-23T07:40:29.537Z","username":"tempusername1"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 488.210375ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C69e9cced7288eed95a7e5f58
        method: GET
      response:
        body: '{"user_id":"auth0|69e9cced7288eed95a7e5f58","created_at":"2026-04-23T07:40:29.537Z","email":"testaccorganizationmembers1@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"69e9cced7288eed95a7e5f58","provider":"auth0","isSocial":false}],"name":"testaccorganizationmembers1@auth0.com","nickname":"testaccorganizationmembers1","picture":"https://s.gravatar.com/avatar/4f34aa9f8f57ca4c76491ba399a9d6c2?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2026-04-23T07:40:29.537Z","username":"tempusername1"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 309.719375ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"some-org-testaccorganizationmembers","display_name":"testaccorganizationmembers"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_Nuv6WsOjyU53rGyQ","display_name":"testaccorganizationmembers","name":"some-org-testaccorganizationmembers"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 378.946583ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_Nuv6WsOjyU53rGyQ
        method: GET
      response:
        body: '{"id":"org_Nuv6WsOjyU53rGyQ","name":"some-org-testaccorganizationmembers","display_name":"testaccorganizationmembers"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 285.835708ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"members":["auth0|69e9cced7288eed95a7e5f58"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_Nuv6WsOjyU53rGyQ/members
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 424.543166ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_Nuv6WsOjyU53rGyQ/members?fields=user_id&include_fields=true&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[{"user_id":"auth0|69e9cced7288eed95a7e5f58"}],"next":"MjAyNi0wNC0yMyAwNzo0MDozMS43NjgwMDBVVEMsYXV0aDB8NjllOWNjZWQ3Mjg4ZWVkOTVhN2U1ZjU4"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 396.972125ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_Nuv6WsOjyU53rGyQ/members?fields=user_id&from=MjAyNi0wNC0yMyAwNzo0MDozMS43NjgwMDBVVEMsYXV0aDB8NjllOWNjZWQ3Mjg4ZWVkOTVhN2U1ZjU4&include_fields=true&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 323.44175ms
[...]
    - id: 26
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_Nuv6WsOjyU53rGyQ/connections?include_totals=true&is_enabled=true&page=0&per_page=50
        method: GET
      response:
        body: '{"connections":[],"start":0,"limit":50,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 301.697209ms
[...]
    - id: 29
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_Nuv6WsOjyU53rGyQ/client-grants?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"client_grants":[],"start":0,"limit":50,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 299.348209ms
[...]
    - id: 50
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_Nuv6WsOjyU53rGyQ/members?fields=user_id&from=MjAyNi0wNC0yMyAwNzo0MDo1MC41OTcwMDBVVEMsYXV0aDB8NjllOWNjZWQ3Mjg4ZWVkOTVhN2U1ZjU4&include_fields=true&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 483.540292ms
[...]
    - id: 81
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_Nuv6WsOjyU53rGyQ/members?fields=user_id&from=MjAyNi0wNC0yMyAwNzo0MTowNC4yMTMwMDBVVEMsYXV0aDB8NjllOWNjZWVmY2ZiNjc2NmU4MGJjZWY2&include_fields=true&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 406.047583ms
[...]
    - id: 204
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_Nuv6WsOjyU53rGyQ/members?fields=user_id&from=MjAyNi0wNC0yMyAwNzo0MTo1OS4zNTIwMDBVVEMsYXV0aDB8NjllOWNjZWVmY2ZiNjc2NmU4MGJjZWY2&include_fields=true&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 288.455917ms
[...]
