---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"some-org-testaccorganizationmember","display_name":"testaccorganizationmember"}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"name":"some-org-testaccorganizationmember","display_name":"testaccorganizationmember","id":"org_QnNZ26V0Bfrn9rMt"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 140.822772ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Reader - testaccorganizationmember"}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"rol_HZ0ddDDbA4GpG8Um","name":"Reader - testaccorganizationmember","description":null}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 144.347572ms
  - id: 2
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_HZ0ddDDbA4GpG8Um
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"rol_HZ0ddDDbA4GpG8Um","name":"Reader - testaccorganizationmember","description":null}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 143.557054ms
  - id: 3
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_QnNZ26V0Bfrn9rMt
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"org_QnNZ26V0Bfrn9rMt","name":"some-org-testaccorganizationmember","display_name":"testaccorganizationmember"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 147.794132ms
  - id: 4
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"connection":"Username-Password-Authentication","email":"testaccorganizationmember@auth0.com","username":"testusername","password":"MyPass123$","email_verified":true}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"created_at":"2022-10-25T16:29:55.283Z","email":"testaccorganizationmember@auth0.com","email_verified":true,"identities":[{"connection":"Username-Password-Authentication","user_id":"63580f0344d2f1f163da90a4","provider":"auth0","isSocial":false}],"name":"testaccorganizationmember@auth0.com","nickname":"testaccorganizationmember","picture":"https://s.gravatar.com/avatar/fa2823a2ce146138c5a913a9963f6e45?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2022-10-25T16:29:55.283Z","user_id":"auth0|63580f0344d2f1f163da90a4","username":"testusername"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 385.069875ms
  - id: 5
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_HZ0ddDDbA4GpG8Um/permissions?include_totals=true&page=0&per_page=50
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"permissions":[],"start":0,"limit":50,"total":0}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 156.474052ms
  - id: 6
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C63580f0344d2f1f163da90a4
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"created_at":"2022-10-25T16:29:55.283Z","email":"testaccorganizationmember@auth0.com","email_verified":true,"identities":[{"connection":"Username-Password-Authentication","user_id":"63580f0344d2f1f163da90a4","provider":"auth0","isSocial":false}],"name":"testaccorganizationmember@auth0.com","nickname":"testaccorganizationmember","picture":"https://s.gravatar.com/avatar/fa2823a2ce146138c5a913a9963f6e45?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2022-10-25T16:29:55.283Z","user_id":"auth0|63580f0344d2f1f163da90a4","username":"testusername"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 102.965299ms
[...]
  - id: 8
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C63580f0344d2f1f163da90a4/roles?include_totals=true&per_page=50
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"roles":[],"start":0,"limit":50,"total":0}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 131.209693ms
  - id: 9
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_eDqerngMZ7JdFuGI
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"rol_eDqerngMZ7JdFuGI","name":"Admin - testaccorganizationmember","description":null}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 104.758094ms
  - id: 10
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"members":["auth0|63580f0344d2f1f163da90a4"]}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_QnNZ26V0Bfrn9rMt/members
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: ""
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 204 No Content
      code: 204
      duration: 123.221968ms
  - id: 11
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_eDqerngMZ7JdFuGI/permissions?include_totals=true&page=0&per_page=50
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"permissions":[],"start":0,"limit":50,"total":0}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 161.847686ms
  - id: 12
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_QnNZ26V0Bfrn9rMt/members/auth0%7C63580f0344d2f1f163da90a4/roles?include_totals=true&per_page=50
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"roles":[],"start":0,"limit":50,"total":0}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 126.801961ms
[...]
  - id: 29
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"roles":["rol_HZ0ddDDbA4GpG8Um"]}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_QnNZ26V0Bfrn9rMt/members/auth0%7C63580f0344d2f1f163da90a4/roles
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: ""
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 204 No Content
      code: 204
      duration: 225.207042ms
[...]
