---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Role - Acceptance Test - TestAccRolePermissions","identifier":"https://TestAccRolePermissions.matrix.com/","scopes":[{"value":"permission:41","description":"Permission 41"},{"value":"permission:39","description":"Permission 39"},{"value":"permission:30","description":"Permission 30"},{"value":"permission:48","description":"Permission 48"},{"value":"permission:9","description":"Permission 9"},{"value":"permission:49","description":"Permission 49"},{"value":"permission:31","description":"Permission 31"},{"value":"permission:33","description":"Permission 33"},{"value":"permission:4","description":"Permission 4"},{"value":"permission:32","description":[...]
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/630dd30c3238cfdda5d49d60
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"630dd30c3238cfdda5d49d60","name":"Role - Acceptance Test - TestAccRolePermissions","identifier":"https://TestAccRolePermissions.matrix.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","scopes":[{"value":"permission:41","description":"Permission 41"},{"value":"permission:39","description":"Permission 39"},{"value":"permission:30","description":"Permission 30"},{"value":"permission:48","description":"Permission 48"},{"value":"permission:9","description":"Permission 9"},{"value":"permission:49","description":"Permission 49"},{"value":"permission:31","description":"Permission 31"},{"value":"permission:33","description":"Permission 33"},{"value":"permission:4","description[...]
  - id: 2
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"The One - Acceptance Test - TestAccRolePermissions","description":"The One - Acceptance Test"}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"rol_de7mjoaVWOlak3MU","name":"The One - Acceptance Test - TestAccRolePermissions","description":"The One - Acceptance Test"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 3
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"permissions":[{"resource_server_identifier":"https://TestAccRolePermissions.matrix.com/","permission_name":"permission:56"},{"resource_server_identifier":"https://TestAccRolePermissions.matrix.com/","permission_name":"permission:5"},{"resource_server_identifier":"https://TestAccRolePermissions.matrix.com/","permission_name":"permission:38"},{"resource_server_identifier":"https://TestAccRolePermissions.matrix.com/","permission_name":"permission:22"},{"resource_server_identifier":"https://TestAccRolePermissions.matrix.com/","permission_name":"permission:10"},{"resource_server_identifier":"https://TestA[...]
  - id: 4
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_de7mjoaVWOlak3MU
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"rol_de7mjoaVWOlak3MU","name":"The One - Acceptance Test - TestAccRolePermissions","description":"The One - Acceptance Test"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 5
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_de7mjoaVWOlak3MU/permissions?include_totals=true&page=0&per_page=50
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"permissions":[{"permission_name":"permission:1","description":"Permission 1","resource_server_name":"Role - Acceptance Test - TestAccRolePermissions","resource_server_identifier":"https://TestAccRolePermissions.matrix.com/"},{"permission_name":"permission:10","description":"Permission 10","resource_server_name":"Role - Acceptance Test - TestAccRolePermissions","resource_server_identifier":"https://TestAccRolePermissions.matrix.com/"},{"permission_name":"permission:11","description":"Permission 11","resource_server_name":"Role - Acceptance Test - TestAccRolePermissions","resource_server_identif[...]
  - id: 6
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_de7mjoaVWOlak3MU/permissions?include_totals=true&page=1&per_page=50
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"statusCode":429,"error":"Too Many Requests","message":"Global limit has been reached","errorCode":"too_many_requests"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 429 Too Many Requests
      code: 429
      duration: 1ms
[...]
