---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-form-TestAccForm","languages":{"primary":"en"},"messages":{},"ending":{"resume_flow":true}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/forms
        method: POST
      response:
        body: '{"id":"ap_1wkRT6inFvWDLwiTKSAQJT","name":"test-form-TestAccForm","languages":{"primary":"en"},"ending":{"resume_flow":true},"created_at":"2024-10-08T05:42:46.439Z","updated_at":"2024-10-08T05:42:46.439Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 880.961541ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/forms/ap_1wkRT6inFvWDLwiTKSAQJT
        method: GET
      response:
        body: '{"id":"ap_1wkRT6inFvWDLwiTKSAQJT","name":"test-form-TestAccForm","languages":{"primary":"en"},"ending":{"resume_flow":true},"created_at":"2024-10-08T05:42:46.439Z","updated_at":"2024-10-08T05:42:46.439Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 328.283ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"nodes":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/forms/ap_1wkRT6inFvWDLwiTKSAQJT
        method: PATCH
      response:
        body: '{"id":"ap_1wkRT6inFvWDLwiTKSAQJT","name":"updated-test-form-no-node-TestAccForm","languages":{"primary":"en"},"ending":{"resume_flow":true},"created_at":"2024-10-08T05:42:46.439Z","updated_at":"2024-10-08T05:42:52.554Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 329.878042ms
[...]
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-form-style-TestAccForm","languages":{"primary":"en"},"style":{"css":"h1 {\n  color: white;\n  text-align: center;\n}"},"messages":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/forms/ap_1wkRT6inFvWDLwiTKSAQJT
        method: PATCH
      response:
        body: '{"id":"ap_1wkRT6inFvWDLwiTKSAQJT","name":"test-form-style-TestAccForm","languages":{"primary":"en"},"ending":{"resume_flow":true},"style":{"css":"h1 {\n  color: white;\n  text-align: center;\n}"},"created_at":"2024-10-08T05:42:46.439Z","updated_at":"2024-10-08T05:42:55.270Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 340.513458ms
[...]
