---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"Auth0 Managed NotMatch DS - TestAccNetworkACLDataSourceAuth0ManagedNotMatch","active":true,"priority":7,"rule":{"action":{"allow":true},"not_match":{"auth0_managed":["auth0.low_reputation","auth0.icloud_relay_proxy"]},"scope":"authentication"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls
        method: POST
      response:
        body: '{"description":"Auth0 Managed NotMatch DS - TestAccNetworkACLDataSourceAuth0ManagedNotMatch","active":true,"priority":7,"rule":{"scope":"authentication","action":{"allow":true},"not_match":{"auth0_managed":["auth0.low_reputation","auth0.icloud_relay_proxy"]}},"created_at":"2026-07-29T13:13:22.809Z","updated_at":"2026-07-29T13:13:22.809Z","id":"acl_dUXKQScULspPExycxcFMY5"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 489.241791ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_dUXKQScULspPExycxcFMY5
        method: GET
      response:
        body: '{"tenant_id":"terraform-provider-auth0-dev","description":"Auth0 Managed NotMatch DS - TestAccNetworkACLDataSourceAuth0ManagedNotMatch","active":true,"priority":7,"rule":{"scope":"authentication","action":{"allow":true},"not_match":{"auth0_managed":["auth0.low_reputation","auth0.icloud_relay_proxy"]}},"created_at":"2026-07-29T13:13:22.809Z","updated_at":"2026-07-29T13:13:22.809Z","deleted_at":null,"id":"acl_dUXKQScULspPExycxcFMY5"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 319.467833ms
[...]
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_dUXKQScULspPExycxcFMY5
        method: DELETE
      response:
        body: '{"code":204,"object":""}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 301.308083ms
