---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles?include_totals=true&name_filter=this-role-does-not-exist&page=0&per_page=100
        method: GET
      response:
        body: '{"roles":[],"start":0,"limit":100,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 491.61425ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Role - Acceptance Test - testaccdatasourcerole","identifier":"https://testaccdatasourcerole.matrix.com/"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"670d1c4b2049741b2004d5b3","name":"Role - Acceptance Test - testaccdatasourcerole","identifier":"https://testaccdatasourcerole.matrix.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 931.1905ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"authorization_details":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/670d1c4b2049741b2004d5b3
        method: PATCH
      response:
        body: '{"id":"670d1c4b2049741b2004d5b3","name":"Role - Acceptance Test - testaccdatasourcerole","identifier":"https://testaccdatasourcerole.matrix.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 393.307ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"token_encryption":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/670d1c4b2049741b2004d5b3
        method: PATCH
      response:
        body: '{"id":"670d1c4b2049741b2004d5b3","name":"Role - Acceptance Test - testaccdatasourcerole","identifier":"https://testaccdatasourcerole.matrix.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 410.672833ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"proof_of_possession":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/670d1c4b2049741b2004d5b3
        method: PATCH
      response:
        body: '{"id":"670d1c4b2049741b2004d5b3","name":"Role - Acceptance Test - testaccdatasourcerole","identifier":"https://testaccdatasourcerole.matrix.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 331.68675ms
[...]
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/https:%2F%2Ftestaccdatasourcerole.matrix.com%2F
        method: GET
      response:
        body: '{"id":"670d1c4b2049741b2004d5b3","name":"Role - Acceptance Test - testaccdatasourcerole","identifier":"https://testaccdatasourcerole.matrix.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 362.956833ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"scopes":[{"value":"bring:peace","description":"Bring peace"},{"value":"stop:bullets","description":"Stop bullets"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/https:%2F%2Ftestaccdatasourcerole.matrix.com%2F
        method: PATCH
      response:
        body: '{"id":"670d1c4b2049741b2004d5b3","name":"Role - Acceptance Test - testaccdatasourcerole","identifier":"https://testaccdatasourcerole.matrix.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","scopes":[{"value":"bring:peace","description":"Bring peace"},{"value":"stop:bullets","description":"Stop bullets"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 357.567458ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"The One - Acceptance Test - testaccdatasourcerole","description":"The One - Acceptance Test"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles
        method: POST
      response:
        body: '{"id":"rol_bY0sng8HT4GHETwy","name":"The One - Acceptance Test - testaccdatasourcerole","description":"The One - Acceptance Test"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 357.519042ms
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_bY0sng8HT4GHETwy
        method: GET
      response:
        body: '{"id":"rol_bY0sng8HT4GHETwy","name":"The One - Acceptance Test - testaccdatasourcerole","description":"The One - Acceptance Test"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 456.649208ms
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"permissions":[{"resource_server_identifier":"https://testaccdatasourcerole.matrix.com/","permission_name":"stop:bullets"},{"resource_server_identifier":"https://testaccdatasourcerole.matrix.com/","permission_name":"bring:peace"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_bY0sng8HT4GHETwy/permissions
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 395.557291ms
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_bY0sng8HT4GHETwy/permissions?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"permissions":[{"permission_name":"bring:peace","description":"Bring peace","resource_server_name":"Role - Acceptance Test - testaccdatasourcerole","resource_server_identifier":"https://testaccdatasourcerole.matrix.com/"},{"permission_name":"stop:bullets","description":"Stop bullets","resource_server_name":"Role - Acceptance Test - testaccdatasourcerole","resource_server_identifier":"https://testaccdatasourcerole.matrix.com/"}],"start":0,"limit":100,"total":2}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 556.060417ms
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"testaccdatasourcerole1@acceptance.test.com","username":"testaccdatasourcerole1","password":"passpass$12$12"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"created_at":"2024-10-14T13:27:44.558Z","email":"testaccdatasourcerole1@acceptance.test.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"670d1c50fb4359c069564cb4","provider":"auth0","isSocial":false}],"name":"testaccdatasourcerole1@acceptance.test.com","nickname":"testaccdatasourcerole1","picture":"https://s.gravatar.com/avatar/09a7904a4325b6787e81151627d9c6c1?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2024-10-14T13:27:44.558Z","user_id":"auth0|670d1c50fb4359c069564cb4","username":"testaccdatasourcerole1"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 535.839292ms
    - id: 14
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C670d1c50fb4359c069564cb4
        method: GET
      response:
        body: '{"created_at":"2024-10-14T13:27:44.558Z","email":"testaccdatasourcerole1@acceptance.test.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"670d1c50fb4359c069564cb4","provider":"auth0","isSocial":false}],"name":"testaccdatasourcerole1@acceptance.test.com","nickname":"testaccdatasourcerole1","picture":"https://s.gravatar.com/avatar/09a7904a4325b6787e81151627d9c6c1?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2024-10-14T13:27:44.558Z","user_id":"auth0|670d1c50fb4359c069564cb4","username":"testaccdatasourcerole1"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 344.645833ms
    - id: 15
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"roles":["rol_bY0sng8HT4GHETwy"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C670d1c50fb4359c069564cb4/roles
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 400.273125ms
    - id: 16
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C670d1c50fb4359c069564cb4/roles?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"roles":[{"id":"rol_bY0sng8HT4GHETwy","name":"The One - Acceptance Test - testaccdatasourcerole","description":"The One - Acceptance Test"}],"start":0,"limit":50,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 366.862875ms
[...]
    - id: 21
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles?include_totals=true&name_filter=The+One+-+Acceptance+Test+-+testaccdatasourcerole&page=0&per_page=100
        method: GET
      response:
        body: '{"roles":[{"id":"rol_bY0sng8HT4GHETwy","name":"The One - Acceptance Test - testaccdatasourcerole","description":"The One - Acceptance Test"}],"start":0,"limit":100,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 397.072208ms
[...]
    - id: 23
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_bY0sng8HT4GHETwy/users?include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"users":[{"user_id":"auth0|670d1c50fb4359c069564cb4","email":"testaccdatasourcerole1@acceptance.test.com","picture":"https://s.gravatar.com/avatar/09a7904a4325b6787e81151627d9c6c1?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","name":"testaccdatasourcerole1@acceptance.test.com"},{"user_id":"auth0|670d1c52fb4359c069564cb6","email":"testaccdatasourcerole2@acceptance.test.com","picture":"https://s.gravatar.com/avatar/24f52deaee80609c2220433ef62e2e2f?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","name":"testaccdatasourcerole2@acceptance.test.com"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 410.558958ms
[...]
