---
version: 2
interactions:
    - id: 0
      request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: |
              null
          form: {}
          headers:
              Content-Type:
                  - application/json
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/a6bc1597-1401-4635-b1df-de27e500ff3c
          method: GET
      response:
          body: '{"id":"a6bc1597-1401-4635-b1df-de27e500ff3c","name":"Test Action testacctriggeractionimport","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-05-31T16:40:01.105292821Z","updated_at":"2023-05-31T16:40:09.343114977Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node16","status":"built","secrets":[],"current_version":{"id":"bb95de58-bccd-4fd8-9ed0-8d5d06ac751c","code":"exports.onExecutePostLogin = async (event, api) => {};","runtime":"node16","status":"BUILT","number":1,"build_time":"2023-05-31T16:40:09.658862722Z","created_at":"2023-05-31T16:40:09.592913543Z","updated_at":"2023-05-31T16:40:09.660350586Z"},"deployed_version":{"code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"id":"bb95de58-bccd-4fd8-9ed0-8d5d06ac751c","deployed":true,"number":1,"built_at":"2023-05-31T16:40:09.658862722Z","secrets":[],"status":"built","created_at":"2023-05-31T16:40:09.592913543Z","updated_at":"2023-05-31T16:40:09.660350586Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status: 200 OK
          code: 200
          duration: 124.772083ms
    - id: 1
      request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: |
              null
          form: {}
          headers:
              Content-Type:
                  - application/json
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?per_page=50
          method: GET
      response:
          body: '{"bindings":[{"id":"e4256cb0-bf87-4a13-9ab5-d7280424fe4c","trigger_id":"post-login","action":{"id":"D1AD7CCF-7BAB-417F-91C0-563595A916D8","name":"Anonomatic PII Vault v1","supported_triggers":[{"id":"post-login","version":"v3","status":"CURRENT"}],"created_at":"2022-08-22T23:57:45.856907897Z","updated_at":"2022-08-22T23:57:45.856907897Z","current_version":{"id":"7284e308-1cf9-475d-94ef-d960d9af9a0b","runtime":"node16","status":"BUILT","created_at":"2023-03-20T16:29:00.733545721Z","updated_at":"2023-03-20T16:29:00.858978434Z"},"deployed_version":{"code":"","dependencies":[],"id":"7284e308-1cf9-475d-94ef-d960d9af9a0b","deployed":true,"secrets":[],"status":"built","created_at":"2023-03-20T16:29:00.733545721Z","updated_at":"2023-03-20T16:29:00.858978434Z","runtime":"node16"},"installed_integration_id":"72f156cd-e7ee-47c4-9dda-0ef751205c37","integration":{"id":"deb19c81-5510-43f2-b33b-e3c6474dc45c","catalog_id":"pii-vault-data-privacy-and-compliance","url_slug":"pii-vault-data-privacy-and-compliance","partner_id":"069ef4d3-30fe-4656-a91d-f6e4d5979b25","name":"Anonomatic PII Vault","description":"Keep Auth0, and your database, completely PII-free. PII Vault APIs allow you to store user profiles, and any other PII, in our specialized PII database so you don''t have to.\n\nRestricted re-identification allows you to ensure users and processes have access to only those PII values they need. Data privacy compliance is much easier when working only with de-identified data.\n","short_description":"PII-as-a-Service allows your product and Auth0 to be PII free","logo":"https://cdn.auth0.com/marketplace/catalog/content/assets/creators/anonomatic/anonomatic-avatar.png","terms_of_use_url":"https://anonomatic.com/legal/terms/","updated_at":"2023-03-20T16:29:00.724915633Z","created_at":"2022-08-10T17:45:26.296689356Z","feature_type":"action","current_release":{"id":"","semver":{}}},"all_changes_deployed":false},"created_at":"2023-05-31T16:46:36.497819562Z","updated_at":"2023-05-31T16:46:36.497819562Z"}],"total":1,"per_page":50}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status: 200 OK
          code: 200
          duration: 119.398583ms
[...]
    - id: 7
      request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: |
              {"bindings":[{"display_name":"","ref":{"type":"action_id","value":"D1AD7CCF-7BAB-417F-91C0-563595A916D8"}}]}
          form: {}
          headers:
              Content-Type:
                  - application/json
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings
          method: PATCH
      response:
          body: '{"bindings":[{"id":"49519bbe-5656-48e1-ab0d-849d3db8e5e8","trigger_id":"post-login","action":{"id":"D1AD7CCF-7BAB-417F-91C0-563595A916D8","name":"Anonomatic PII Vault v1","supported_trigge[...]
[...]
