---
version: 1
interactions:
- request:
    body: |
      {"name":"Test Trigger Binding Foo TestAccTriggerBinding","supported_triggers":[{"id":"post-login","version":"v2"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {\n\tconsole.log(\"foo\")\n};\"\n"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
    method: POST
  response:
    body: '{"id":"b5a39f9b-b79c-4cc9-91f1-0bf8f7ae8227","name":"Test Trigger Binding
      Foo TestAccTriggerBinding","supported_triggers":[{"id":"post-login","version":"v2"}],"created_at":"2022-06-14T12:40:48.284168805Z","updated_at":"2022-06-14T12:40:48.305996449Z","code":"exports.onContinuePostLogin
      = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node16","status":"pending","secrets":[],"all_changes_deployed":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/b5a39f9b-b79c-4cc9-91f1-0bf8f7ae8227
    method: GET
  response:
    body: '{"id":"b5a39f9b-b79c-4cc9-91f1-0bf8f7ae8227","name":"Test Trigger Binding
      Foo TestAccTriggerBinding","supported_triggers":[{"id":"post-login","version":"v2"}],"created_at":"2022-06-14T12:40:48.284168805Z","updated_at":"2022-06-14T12:40:48.305996449Z","code":"exports.onContinuePostLogin
      = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node16","status":"built","secrets":[],"all_changes_deployed":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/b5a39f9b-b79c-4cc9-91f1-0bf8f7ae8227/deploy
    method: POST
  response:
    body: '{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"3d770c39-9d16-4dcd-99a0-f68f81ed38ca","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2022-06-14T12:40:49.781678463Z","updated_at":"2022-06-14T12:40:49.781678463Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v2"}],"action":{"id":"b5a39f9b-b79c-4cc9-91f1-0bf8f7ae8227","name":"Test
      Trigger Binding Foo TestAccTriggerBinding","supported_triggers":[{"id":"post-login","version":"v2"}],"created_at":"2022-06-14T12:40:48.284168805Z","updated_at":"2022-06-14T12:40:48.284168805Z","all_changes_deployed":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/b5a39f9b-b79c-4cc9-91f1-0bf8f7ae8227
    method: GET
  response:
    body: '{"id":"b5a39f9b-b79c-4cc9-91f1-0bf8f7ae8227","name":"Test Trigger Binding
      Foo TestAccTriggerBinding","supported_triggers":[{"id":"post-login","version":"v2"}],"created_at":"2022-06-14T12:40:48.284168805Z","updated_at":"2022-06-14T12:40:48.305996449Z","code":"exports.onContinuePostLogin
      = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node16","status":"built","secrets":[],"current_version":{"id":"3d770c39-9d16-4dcd-99a0-f68f81ed38ca","code":"exports.onContinuePostLogin
      = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node16","status":"BUILT","number":1,"build_time":"2022-06-14T12:40:49.941354837Z","created_at":"2022-06-14T12:40:49.781678463Z","updated_at":"2022-06-14T12:40:49.946353827Z"},"deployed_version":{"code":"exports.onContinuePostLogin
      = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"3d770c39-9d16-4dcd-99a0-f68f81ed38ca","deployed":true,"number":1,"built_at":"2022-06-14T12:40:49.941354837Z","secrets":[],"status":"built","created_at":"2022-06-14T12:40:49.781678463Z","updated_at":"2022-06-14T12:40:49.946353827Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v2"}]},"all_changes_deployed":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: |
      {"bindings":[{"display_name":"Test Trigger Binding Foo TestAccTriggerBinding","ref":{"type":"action_id","value":"b5a39f9b-b79c-4cc9-91f1-0bf8f7ae8227"}},{"display_name":"Test Trigger Binding Bar TestAccTriggerBinding","ref":{"type":"action_id","value":"9382c763-8960-46b6-9583-9bc613965026"}}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings
    method: PATCH
  response:
    body: '{"bindings":[{"id":"9eb2e4aa-5ae2-4e39-9344-316e282ac039","trigger_id":"post-login","action":{"id":"b5a39f9b-b79c-4cc9-91f1-0bf8f7ae8227","name":"Test
      Trigger Binding Foo TestAccTriggerBinding","supported_triggers":[{"id":"post-login","version":"v2"}],"created_at":"2022-06-14T12:40:48.284168805Z","updated_at":"2022-06-14T12:40:48.284168805Z","current_version":{"id":"3d770c39-9d16-4dcd-99a0-f68f81ed38ca","code":"exports.onContinuePostLogin
      = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node16","status":"BUILT","number":1,"build_tim[...]
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?per_page=50
    method: GET
  response:
    body: '{"bindings":[{"id":"9eb2e4aa-5ae2-4e39-9344-316e282ac039","trigger_id":"post-login","action":{"id":"b5a39f9b-b79c-4cc9-91f1-0bf8f7ae8227","name":"Test
      Trigger Binding Foo TestAccTriggerBinding","supported_triggers":[{"id":"post-login",[...]
[...]
