---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {};","dependencies":[],"secrets":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"8bbf1d3d-0100-477c-97d7-428692672f5a","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-07-18T20:00:29.682773144Z","updated_at":"2023-07-18T20:00:29.695108Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node18-actions","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 136.74275ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/8bbf1d3d-0100-477c-97d7-428692672f5a
        method: GET
      response:
        body: '{"id":"8bbf1d3d-0100-477c-97d7-428692672f5a","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-07-18T20:00:29.682773144Z","updated_at":"2023-07-18T20:00:29.695108Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node18-actions","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 99.686333ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node18-actions","secrets":[{"name":"foo","value":"111111"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/8bbf1d3d-0100-477c-97d7-428692672f5a
        method: PATCH
      response:
        body: '{"id":"8bbf1d3d-0100-477c-97d7-428692672f5a","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-07-18T20:00:29.682773144Z","updated_at":"2023-07-18T20:00:31.208607861Z","code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node18-actions","status":"pending","secrets":[{"name":"foo","updated_at":"2023-07-18T20:00:31.208607861Z"}],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 111.546459ms
[...]
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/8bbf1d3d-0100-477c-97d7-428692672f5a/deploy
        method: POST
      response:
        body: '{"code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"id":"1b0d8b88-f448-4707-a699-e13dddae1c8f","deployed":false,"number":1,"secrets":[{"name":"foo","updated_at":"2023-07-18T20:00:31.208607861Z"}],"status":"built","created_at":"2023-07-18T20:00:47.700285299Z","updated_at":"2023-07-18T20:00:47.700285299Z","runtime":"node18-actions","supported_triggers":[{"id":"post-login","version":"v3"}],"action":{"id":"8bbf1d3d-0100-477c-97d7-428692672f5a","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-07-18T20:00:29.682773144Z","updated_at":"2023-07-18T20:00:31.201401593Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 166.972333ms
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/8bbf1d3d-0100-477c-97d7-428692672f5a
        method: GET
      response:
        body: '{"id":"8bbf1d3d-0100-477c-97d7-428692672f5a","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-07-18T20:00:29.682773144Z","updated_at":"2023-07-18T20:00:31.208607861Z","code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node18-actions","status":"built","secrets":[{"name":"foo","updated_at":"2023-07-18T20:00:31.208607861Z"}],"current_version":{"id":"1b0d8b88-f448-4707-a699-e13dddae1c8f","code":"exports.onContinuePostLogin = async (event, api) => {};","runtime":"node18-actions","status":"BUILT","number":1,"build_time":"2023-07-18T20:00:47.784901005Z","created_at":"2023-07-18T20:00:47.700285299Z","updated_at":"2023-07-18T20:00:47.785570887Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"id":"1b0d8b88-f448-4707-a699-e13dddae1c8f","deployed":true,"number":1,"built_at":"2023-07-18T20:00:47.784901005Z","secrets":[{"name":"foo","updated_at":"2023-07-18T20:00:31.208607861Z"}],"status":"built","created_at":"2023-07-18T20:00:47.700285299Z","updated_at":"2023-07-18T20:00:47.785570887Z","runtime":"node18-actions","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 161.307375ms
[...]
