---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-XAA-Negative-TestAccConnectionCrossAppAccessRequestingAppNegative","strategy":"auth0","cross_app_access_requesting_app":{"active":true}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"statusCode":400,"error":"Bad Request","message":"Cross App Access Requesting App is not supported for this connection.","errorCode":"operation_not_supported"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 409.243833ms
