---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C6a1847248bf80353f712d717/connected-accounts?take=50
        method: GET
      response:
        body: '{"connected_accounts":[{"id":"cac_iaFqot3M58T6uzGTNEhqvh","connection":"google-oauth2","connection_id":"con_BXvD3jxIMEDqJNN9","strategy":"google-oauth2","access_type":"offline","scopes":["https://www.googleapis.com/auth/userinfo.profile","openid"],"created_at":"2026-05-28T14:42:20.861Z"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 338.774042ms
[...]
