---
version: 1
interactions:
- request:
    body: |
      {"name":"Role - Acceptance Test - TestAccRolePermissions","identifier":"https://TestAccRolePermissions.matrix.com/","scopes":[{"value":"permission:41","description":"Permission 41"},{"value":"permission:39","description":"Permission 39"},{"value":"permission:30","description":"Permission 30"},{"value":"permission:48","description":"Permission 48"},{"value":"permission:9","description":"Permission 9"},{"value":"permission:49","description":"Permission 49"},{"value":"permission:31","description":"Permission 31"},{"value":"permission:33","description":"Permission 33"},{"value":"permission:4","description":"Permission 4"},{"value":"permission:32","description":[...]
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/62a739b89d5f35003e6b242b
    method: GET
  response:
    body: '{"id":"62a739b89d5f35003e6b242b","name":"Role - Acceptance Test - TestAccRolePermissions","identifier":"https://TestAccRolePermissions.matrix.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","scopes":[{"value":"permission:41","description":"Permission
      41"},{"value":"permission:39","description":"Permission 39"},{"value":"permission:30","description":"Permission
      30"},{"value":"permission:48","description":"Permission 48"},{"value":"permission:9","description":"Permission
      9"},{"value":"permission:49","description":"Permission 49"},{"value":"permission:31","description":"Permission
      31"},{"value":"permission:33","description":"Permission 33"},{"value":"pe[...]
- request:
    body: |
      {"name":"The One - Acceptance Test - TestAccRolePermissions","description":"The One - Acceptance Test"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles
    method: POST
  response:
    body: '{"id":"rol_Zu0lpD4CPQX2SWVx","name":"The One - Acceptance Test - TestAccRolePermissions","description":"The
      One - Acceptance Test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      {"permissions":[{"resource_server_identifier":"https://TestAccRolePermissions.matrix.com/","permission_name":"permission:56"},{"resource_server_identifier":"https://TestAccRolePermissions.matrix.com/","permission_name":"permission:5"},{"resource_server_identifier":"https://TestAccRolePermissions.matrix.com/","permission_name":"permission:38"},{"resource_server_identifier":"https://TestAccRolePermissions.matrix.com/","permission_name":"permission:22"},{"resource_server_identifier":"https://TestAccRolePermissions.matrix.com/","permission_name":"permission:10"},{"resource_server_identifier":"https://TestA[...]
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_Zu0lpD4CPQX2SWVx
    method: GET
  response:
    body: '{"id":"rol_Zu0lpD4CPQX2SWVx","name":"The One - Acceptance Test - TestAccRolePermissions","description":"The
      One - Acceptance Test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_Zu0lpD4CPQX2SWVx/permissions?include_totals=true&page=0&per_page=50
    method: GET
  response:
    body: '{"permissions":[{"permission_name":"permission:1","description":"Permission
      1","resource_server_name":"Role - Acceptance Test - TestAccRolePermissions","resource_server_identifier":"https://TestAccRolePermissions.matrix.com/"},{"permission_name":"permission:10","description":"Permission
      10","resource_server_name":"Role - Acceptance Test - TestAccRolePermissions","resource_server_identifier":"https://TestAccRolePermissions.matrix.com/"},{"permission_name":"permission:11","description":"Permission
      11","resource_server_name":"Role - Acceptance Test - TestAccRolePermissions","resource_se[...]
[...]
