---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Trigger Binding Foo TestAccTriggerActions","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"secrets":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"0ab8b31a-5ae4-4612-ba11-670db22464bd","name":"Test Trigger Binding Foo TestAccTriggerActions","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-09-02T14:43:40.116804054Z","updated_at":"2023-09-02T14:43:40.128782286Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node18-actions","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 120.578208ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/0ab8b31a-5ae4-4612-ba11-670db22464bd
        method: GET
      response:
        body: '{"id":"0ab8b31a-5ae4-4612-ba11-670db22464bd","name":"Test Trigger Binding Foo TestAccTriggerActions","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-09-02T14:43:40.116804054Z","updated_at":"2023-09-02T14:43:40.128782286Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node18-actions","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 168.757875ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/0ab8b31a-5ae4-4612-ba11-670db22464bd/deploy
        method: POST
      response:
        body: '{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"62fe7947-0f99-4809-afeb-cbd0fa92ecfc","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2023-09-02T14:43:40.404780394Z","updated_at":"2023-09-02T14:43:40.404780394Z","runtime":"node18-actions","supported_triggers":[{"id":"post-login","version":"v3"}],"action":{"id":"0ab8b31a-5ae4-4612-ba11-670db22464bd","name":"Test Trigger Binding Foo TestAccTriggerActions","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-09-02T14:43:40.116804054Z","updated_at":"2023-09-02T14:43:40.116804054Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 138.364125ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/0ab8b31a-5ae4-4612-ba11-670db22464bd
        method: GET
      response:
        body: '{"id":"0ab8b31a-5ae4-4612-ba11-670db22464bd","name":"Test Trigger Binding Foo TestAccTriggerActions","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-09-02T14:43:40.116804054Z","updated_at":"2023-09-02T14:43:40.128782286Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node18-actions","status":"built","secrets":[],"current_version":{"id":"62fe7947-0f99-4809-afeb-cbd0fa92ecfc","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node18-actions","status":"BUILT","number":1,"build_time":"2023-09-02T14:43:40.452872334Z","created_at":"2023-09-02T14:43:40.404780394Z","updated_at":"2023-09-02T14:43:40.453321625Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"62fe7947-0f99-4809-afeb-cbd0fa92ecfc","deployed":true,"number":1,"built_at":"2023-09-02T14:43:40.452872334Z","secrets":[],"status":"built","created_at":"2023-09-02T14:43:40.404780394Z","updated_at":"2023-09-02T14:43:40.453321625Z","runtime":"node18-actions","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 98.189916ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"bindings":[{"display_name":"Test Trigger Binding Foo TestAccTriggerActions","ref":{"type":"action_id","value":"0ab8b31a-5ae4-4612-ba11-670db22464bd"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings
        method: PATCH
      response:
        body: '{"bindings":[{"id":"db0f4073-5946-49b5-b53c-66ca3dc5dc99","trigger_id":"post-login","action":{"id":"0ab8b31a-5ae4-4612-ba11-670db22464bd","name":"Test Trigger Binding Foo TestAccTriggerActions","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-09-02T14:43:40.116804054Z","updated_at":"2023-09-02T14:43:40.116804054Z","current_version":{"id":"62fe7947-0f99-4809-afeb-cbd0fa92ecfc","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node18-actions","status":"BUILT","number":1,"build_time":"2023-09-02T14:43:40.452872334Z","created_at":"2023-09-02T14:43:40.404780394Z","updated_at":"2023-09-02T14:43:40.453321625Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"62fe7947-0f99-4809-afeb-cbd0fa92ecfc","deployed":true,"number":1,"built_at":"2023-09-02T14:43:40.452872334Z","secrets":[],"status":"built","created_at":"2023-09-02T14:43:40.404780394Z","updated_at":"2023-09-02T14:43:40.453321625Z","runtime":"node18-actions","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":false},"created_at":"2023-09-02T14:43:41.163990090Z","updated_at":"2023-09-02T14:43:41.163990090Z","display_name":"Test Trigger Binding Foo TestAccTriggerActions"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 155.797583ms
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?page=0&per_page=100
        method: GET
      response:
        body: '{"bindings":[{"id":"db0f4073-5946-49b5-b53c-66ca3dc5dc99","trigger_id":"post-login","action":{"id":"0ab8b31a-5a[...]
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?page=1&per_page=100
        method: GET
      response:
        body: '{"bindings":[],"page":1,"per_page":100}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 100.653542ms
[...]
    - id: 57
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?per_page=50
        method: GET
      response:
        body: '{"bindings":[],"per_page":50}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 115.951125ms
[...]
