---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance Test - SSO Integration - TestAccClientSSOIntegrationWithSAML","app_type":"sso_integration","addons":{"firebase":{"client_email":"john.doe@example.com","lifetime_in_seconds":1,"private_key":"wer","private_key_id":"qwreerwerwe"},"samlp":{"audience":"https://tableau-server-test.domain.eu.com/audience-different","createUpnClaim":false,"destination":"https://tableau-server-test.domain.eu.com/destination","digestAlgorithm":"sha256","includeAttributeNameFormat":true,"lifetimeInSeconds":3600,"logout":{"callback":"https://example.com/callback","slo_enabled":true},"mapIdentities":false,"mapUnknownClaimsAsIs":false,"mappings":{"email":"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress","name":"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"},"nameIdentifierFormat":"urn:oasis:names:tc:SAML:2.0:attrname-format:basic","nameIdentifierProbes":["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress"],"passthroughClaimsWithNoMapping":false,"recipient":"https://tableau-server-test.domain.eu.com/recipient-different","signatureAlgorithm":"rsa-sha1","signingCert":"-----BEGIN PUBLIC KEY-----\nMIGf...bpP/t3\n+JGNGIRMj1hF1rnb6QIDAQAB\n-----END PUBLIC KEY-----\n","typedAttributes":true}}}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"name":"Acceptance Test - SSO Integration - TestAccClientSSOIntegrationWithSAML","client_id":"Co1BOCHsF40hys7jQKCbpaEsYjMYKiit","client_secret":"[REDACTED]","app_type":"sso_integration","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"addons":{"firebase":{"client_email":"john.doe@example.com","lifetime_in_seconds":1,"private_key":"wer","private_key_id":"qwreerwerwe"},"samlp":{"audience":"https://tableau-server-test.domain.eu.com/audience-different","createUpnClaim":false,"destination":"https://tableau-server-test.domain.eu.com/destination","digestAlgorithm":"sha256","includeAttributeNameFormat":true,"lifetimeInSeconds":3600,"logout":{"callback":"https://example.com/callback","slo_enabled":true},"mapIdentities":false,"mapUnknownClaimsAsIs":false,"mappings":{"email":"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress","name":"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"},"nameIdentifierFormat":"urn:oasis:names:tc:SAML:2.0:attrname-format:basic","nameIdentifierProbes":["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress"],"passthroughClaimsWithNoMapping":false,"recipient":"https://tableau-server-test.domain.eu.com/recipient-different","signatureAlgorithm":"rsa-sha1","signingCert":"-----BEGIN PUBLIC KEY-----\nMIGf...bpP/t3\n+JGNGIRMj1hF1rnb6QIDAQAB\n-----END PUBLIC KEY-----\n","typedAttributes":true}},"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/Co1BOCHsF40hys7jQKCbpaEsYjMYKiit
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"name":"Acceptance Test - SSO Integration - TestAccClientSSOInt[...]
[...]
