---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/emails/provider?fields=name%2Cenabled%2Cdefault_from_address%2Ccredentials%2Csettings&include_fields=true
        method: GET
      response:
        body: '{"name":"azure_cs","enabled":false,"default_from_address":"","credentials":{}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 108.656625ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"ses","enabled":true,"default_from_address":"accounts@example.com","credentials":{"accessKeyId":"AKIAXXXXXXXXXXXXXXXX","secretAccessKey":"7e8c2148xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","region":"us-east-1"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/emails/provider
        method: PATCH
      response:
        body: '{"name":"ses","enabled":true,"default_from_address":"accounts@example.com","credentials":{"region":"us-east-1"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 115.595625ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"ses","enabled":true,"default_from_address":"accounts@example.com","credentials":{"accessKeyId":"AKIAXXXXXXXXXXXXXXXX","secretAccessKey":"7e8c2148xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","region":"us-east-1"},"settings":{"message":{"configuration_set_name":"example"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/emails/provider
        method: PATCH
      response:
        body: '{"name":"ses","enabled":true,"default_from_address":"accounts@example.com","credentials":{"region":"us-east-1"},"settings":{"message":{"configuration_set_name":"example"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 107.502042ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"mandrill","enabled":true,"default_from_address":"accounts@example.com","credentials":{"api_key":"7e8c2148xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/emails/provider
        method: PATCH
      response:
        body: '{"name":"mandrill","enabled":true,"default_from_address":"accounts@example.com","credentials":{}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 117.708417ms
[...]
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"mandrill","enabled":true,"default_from_address":"accounts@example.com","credentials":{"api_key":"7e8c2148xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"},"settings":{"message":{"view_content_link":true}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/emails/provider
        method: PATCH
      response:
        body: '{"name":"mandrill","enabled":true,"default_from_address":"accounts@example.com","credentials":{},"settings":{"message":{"view_content_link":true}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 100.997583ms
[...]
    - id: 17
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"smtp","enabled":true,"default_from_address":"accounts@example.com","credentials":{"smtp_host":"example.com","smtp_port":984,"smtp_user":"bob","smtp_pass":"secret"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/emails/provider
        method: PATCH
      response:
        body: '{"name":"smtp","enabled":true,"default_from_address":"accounts@example.com","credentials":{"smtp_host":"example.com","smtp_port":984,"smtp_user":"bob"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 112.447708ms
[...]
    - id: 21
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"smtp","enabled":true,"default_from_address":"accounts@example.com","credentials":{"smtp_host":"example.com","smtp_port":984,"smtp_user":"bob","smtp_pass":"secret"},"settings":{"headers":{"X-MC-ViewContentLink":"true", "X-SES-Configuration-Set":"example"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/emails/provider
        method: PATCH
      response:
        body: '{"name":"smtp","enabled":true,"default_from_address":"accounts@example.com","credentials":{"smtp_host":"example.com","smtp_port":984,"smtp_user":"bob"},"settings":{"headers":{"X-MC-ViewContentLink":"true", "X-SES-Configuration-Set":"example"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 104.545708ms
[...]
    - id: 25
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"mailgun","enabled":true,"default_from_address":"accounts@example.com","credentials":{"api_key":"MAILGUNXXXXXXXXXXXXXXX","domain":"example.com","region":"eu"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/emails/provider
        method: PATCH
      response:
        body: '{"name":"mailgun","enabled":true,"default_from_address":"accounts@example.com","credentials":{"domain":"example.com","region":"eu"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 182.612167ms
[...]
    - id: 33
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"azure_cs","enabled":true,"default_from_address":"accounts@example.com","credentials":{"connectionString":"azure_cs_connection_string"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/emails/provider
        method: PATCH
      response:
        body: '{"name":"azure_cs","enabled":true,"default_from_address":"accounts@example.com","credentials":{}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 113.649ms
[...]
    - id: 41
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"ms365","enabled":true,"default_from_address":"accounts@example.com","credentials":{"tenantId":"ms365_tenant_id","clientId":"ms365_client_id","clientSecret":"ms365_client_secret"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/emails/provider
        method: PATCH
      response:
        body: '{"name":"ms365","enabled":true,"default_from_address":"accounts@example.com","credentials":{}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 97.212958ms
[...]
