---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_ouKiPbGv6eONERfA
        method: GET
      response:
        body: '{"id":"con_ouKiPbGv6eONERfA","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-TestAccConnectionClientsImport","is_domain_connection":false,"enabled_clients":["TGIXl1IBOpFmwBpxuCLsoXwl5OQBa1Z7"],"realms":["Acceptance-Test-TestAccConnectionClientsImport"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 122.959625ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/TGIXl1IBOpFmwBpxuCLsoXwl5OQBa1Z7
        method: GET
      response:
        body: '{"name":"Acceptance-Test-Client-1-TestAccConnectionClientsImport","client_id":"TGIXl1IBOpFmwBpxuCLsoXwl5OQBa1Z7","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 176.210208ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_ouKiPbGv6eONERfA?fields=enabled_clients%2Cstrategy%2Cname&include_fields=true
        method: GET
      response:
        body: '{"id":"con_ouKiPbGv6eONERfA","strategy":"auth0","name":"Acceptance-Test-TestAccConnectionClientsImport","is_domain_connection":false,"enabled_clients":["TGIXl1IBOpFmwBpxuCLsoXwl5OQBa1Z7"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 120.060959ms
[...]
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_ouKiPbGv6eONERfA
        method: DELETE
      response:
        body: '{"deleted_at":"2023-05-23T09:27:27.698Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 149.468125ms
