---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"user_id":"testaccuser","connection":"Username-Password-Authentication","email":"testaccuser@acceptance.test.com","username":"testaccuser","password":"passpass$12$12"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"created_at":"2023-07-11T16:30:16.596Z","email":"testaccuser@acceptance.test.com","email_verified":false,"identities":[{"user_id":"testaccuser","connection":"Username-Password-Authentication","provider":"auth0","isSocial":false}],"name":"testaccuser@acceptance.test.com","nickname":"testaccuser","picture":"https://s.gravatar.com/avatar/324ad113b0ef6dabbb2c2c4cf8a8d108?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2023-07-11T16:30:16.596Z","user_id":"auth0|testaccuser","username":"testaccuser"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 225.793375ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuser
        method: GET
      response:
        body: '{"created_at":"2023-07-11T16:30:16.596Z","email":"testaccuser@acceptance.test.com","email_verified":false,"identities":[{"user_id":"testaccuser","connection":"Username-Password-Authentication","provider":"auth0","isSocial":false}],"name":"testaccuser@acceptance.test.com","nickname":"testaccuser","picture":"https://s.gravatar.com/avatar/324ad113b0ef6dabbb2c2c4cf8a8d108?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2023-07-11T16:30:16.596Z","user_id":"auth0|testaccuser","username":"testaccuser"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 91.6935ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Firstname Lastname","given_name":"Firstname","family_name":"Lastname","picture":"https://www.example.com/picture.jpg"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuser
        method: PATCH
      response:
        body: '{"created_at":"2023-07-11T16:30:16.596Z","email":"testaccuser@acceptance.test.com","email_verified":false,"identities":[{"user_id":"testaccuser","connection":"Username-Password-Authentication","provider":"auth0","isSocial":false}],"name":"Firstname Lastname","nickname":"testaccuser","picture":"https://www.example.com/picture.jpg","updated_at":"2023-07-11T16:30:41.518Z","user_id":"auth0|testaccuser","username":"testaccuser","family_name":"Lastname","given_name":"Firstname"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 104.198208ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"user_metadata":{"baz":"qux","foo":"bar"},"app_metadata":{"baz":"qux","foo":"bar"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuser
        method: PATCH
      response:
        body: '{"created_at":"2023-07-11T16:30:16.596Z","email":"testaccuser@acceptance.test.com","email_verified":false,"identities":[{"user_id":"testaccuser","connection":"Username-Password-Authentication","provider":"auth0","isSocial":false}],"name":"Firstname Lastname","nickname":"testaccuser","picture":"https://www.example.com/picture.jpg","updated_at":"2023-07-11T16:30:53.231Z","user_id":"auth0|testaccuser","username":"testaccuser","family_name":"Lastname","given_name":"Firstname","user_metadata":{"baz":"qux","foo":"bar"},"app_metadata":{"baz":"qux","foo":"bar"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 110.002292ms
[...]
