---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test User Attribute Profile TestSelfServiceDataSource_UserAttributeProfile","user_attributes":{"email":{"description":"User's email address","label":"Email","profile_required":false,"auth0_mapping":"email"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/user-attribute-profiles
        method: POST
      response:
        body: '{"id":"uap_1cssS44RafWtcUTG76rABi","name":"Test User Attribute Profile TestSelfServiceDataSource_UserAttributeProfile","user_id":{"oidc_mapping":"sub","saml_mapping":["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"],"scim_mapping":"externalId"},"user_attributes":{"email":{"label":"Email","description":"User''s email address","auth0_mapping":"email","profile_required":false}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 393.945083ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/user-attribute-profiles/uap_1cssS44RafWtcUTG76rABi
        method: GET
      response:
        body: '{"id":"uap_1cssS44RafWtcUTG76rABi","name":"Test User Attribute Profile TestSelfServiceDataSource_UserAttributeProfile","user_id":{"oidc_mapping":"sub","saml_mapping":["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"],"scim_mapping":"externalId"},"user_attributes":{"email":{"label":"Email","description":"User''s email address","auth0_mapping":"email","profile_required":false}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 215.568708ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"my-sso-profile","description":"sample description","allowed_strategies":["oidc","samlp"],"branding":{"colors":{"primary":"#0059d6"},"logo_url":"https://mycompany.org/v2/logo.png"},"user_attribute_profile_id":"uap_1cssS44RafWtcUTG76rABi"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/self-service-profiles
        method: POST
      response:
        body: '{"id":"ssp_3x7PCL1Xe359oNdEqxHvEM","name":"my-sso-profile","description":"sample description","user_attributes":[],"allowed_strategies":["oidc","samlp"],"created_at":"2025-09-24T20:33:43.846Z","updated_at":"2025-09-24T20:33:43.846Z","branding":{"logo_url":"https://mycompany.org/v2/logo.png","colors":{"primary":"#0059d6"}},"user_attribute_profile_id":"uap_1cssS44RafWtcUTG76rABi"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 240.890417ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"user_attributes":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/self-service-profiles/ssp_3x7PCL1Xe359oNdEqxHvEM
        method: PATCH
      response:
        body: '{"id":"ssp_3x7PCL1Xe359oNdEqxHvEM","name":"my-sso-profile","description":"sample description","user_attributes":[],"allowed_strategies":["oidc","samlp"],"created_at":"2025-09-24T20:33:43.846Z","updated_at":"2025-09-24T20:33:44.042Z","branding":{"logo_url":"https://mycompany.org/v2/logo.png","colors":{"primary":"#0059d6"}},"user_attribute_profile_id":"uap_1cssS44RafWtcUTG76rABi"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 197.173375ms
[...]
