---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"test-module-1","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules
        method: POST
      response:
        body: '{"id":"c21328dd-56e3-439c-9d4d-e9ff4d400678","name":"test-module-1","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[],"all_changes_published":false,"actions_using_module_total":0,"created_at":"2026-09-16T05:13:46.440795Z","updated_at":"2026-09-16T05:13:46.440795Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 326.779959ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/c21328dd-56e3-439c-9d4d-e9ff4d400678/versions
        method: POST
      response:
        body: '{"id":"6d6e3135-1d1c-4b28-b5ae-e54ec84f813f","module_id":"c21328dd-56e3-439c-9d4d-e9ff4d400678","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","secrets":[],"dependencies":[],"created_at":"2026-09-16T05:13:46.790999Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 344.327875ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/c21328dd-56e3-439c-9d4d-e9ff4d400678
        method: GET
      response:
        body: '{"id":"c21328dd-56e3-439c-9d4d-e9ff4d400678","name":"test-module-1","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[],"all_changes_published":true,"actions_using_module_total":0,"created_at":"2026-09-16T05:13:46.440795Z","updated_at":"2026-09-16T05:13:46.440795Z","latest_version":{"id":"6d6e3135-1d1c-4b28-b5ae-e54ec84f813f","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 309.298291ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/c21328dd-56e3-439c-9d4d-e9ff4d400678/versions?page=0&per_page=50
        method: GET
      response:
        body: '{"versions":[{"id":"6d6e3135-1d1c-4b28-b5ae-e54ec84f813f","module_id":"c21328dd-56e3-439c-9d4d-e9ff4d400678","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","secrets":[],"dependencies":[],"created_at":"2026-09-16T05:13:46.790999Z"}],"total":1,"page":0,"per_page":50}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 347.147458ms
[...]
