---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"app_id":"HTTP","name":"test-vault-connection"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections
        method: POST
      response:
        body: '{"id":"ac_hp38yv5gxVaXoEhrcPSqqL","app_id":"HTTP","name":"test-vault-connection","ready":false,"created_at":"2024-09-30T10:30:20.369Z","updated_at":"2024-09-30T10:30:20.369Z","refreshed_at":null,"fingerprint":"d80212f7aca9dbea74859811c6caddba"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 243.500583ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections/ac_hp38yv5gxVaXoEhrcPSqqL
        method: GET
      response:
        body: '{"id":"ac_hp38yv5gxVaXoEhrcPSqqL","app_id":"HTTP","name":"test-vault-connection","ready":false,"created_at":"2024-09-30T10:30:20.369Z","updated_at":"2024-09-30T10:30:20.369Z","fingerprint":"d80212f7aca9dbea74859811c6caddba"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 429.863292ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections/ac_5Cy8N47rNvNixgNBShK8fK
        method: GET
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"Connection not found"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 235.800083ms
[...]
