---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance-Test-LogStream-aws-TestAccLogStreamEventBridge","type":"eventbridge","sink":{"awsAccountId":"999999999999","awsRegion":"us-west-2"}}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"lst_0000000000010032","name":"Acceptance-Test-LogStream-aws-TestAccLogStreamEventBridge","type":"eventbridge","status":"active","sink":{"awsAccountId":"999999999999","awsRegion":"us-west-2","awsPartnerEventSource":"aws.partner/auth0.com/terraform-provider-auth0-dev-bef42318-5883-4ad6-8aeb-5c2055366676/auth0.logs"}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000010032
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"lst_0000000000010032","name":"Acceptance-Test-LogStream-aws-TestAccLogStreamEventBridge","type":"eventbridge","status":"active","sink":{"awsAccountId":"999999999999","awsRegion":"us-west-2","awsPartnerEventSource":"aws.partner/auth0.com/terraform-provider-auth0-dev-bef42318-5883-4ad6-8aeb-5c2055366676/auth0.logs"}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
