---
version: 1
interactions:
- request:
    body: |
      {"name":"Acceptance-Test-LogStream-sumo-TestAccLogStreamSumo","type":"sumo","sink":{"sumoSourceAddress":"demo.sumo.com"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams
    method: POST
  response:
    body: '{"id":"lst_0000000000009485","name":"Acceptance-Test-LogStream-sumo-TestAccLogStreamSumo","type":"sumo","status":"active","sink":{"sumoSourceAddress":"demo.sumo.com"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000009485
    method: GET
  response:
    body: '{"id":"lst_0000000000009485","name":"Acceptance-Test-LogStream-sumo-TestAccLogStreamSumo","type":"sumo","status":"active","sink":{"sumoSourceAddress":"demo.sumo.com"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: |
      {"name":"Acceptance-Test-LogStream-sumo-TestAccLogStreamSumo","status":"active","filters":[{"name":"auth.login.fail","type":"category"},{"name":"auth.signup.fail","type":"category"}],"sink":{"sumoSourceAddress":"prod.sumo.com"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000009485
    method: PATCH
  response:
    body: '{"id":"lst_0000000000009485","name":"Acceptance-Test-LogStream-sumo-TestAccLogStreamSumo","type":"sumo","status":"active","sink":{"sumoSourceAddress":"prod.sumo.com"},"filters":[{"name":"auth.login.fail","type":"category"},{"name":"auth.signup.fail","type":"category"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
