---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"TestAccEventStreamCustomHeader-my-custom-header","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"destination":{"type":"webhook","configuration":{"webhook_authorization":{"header_key":"x-auth0-webhook-secret","header_value":"initial-secret","method":"custom_header"},"webhook_endpoint":"https://eof28wtn4v4506o.m.pipedream.net"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams
        method: POST
      response:
        body: '{"id":"est_iNgzZtgd1C6DSfsv9dzBw2","status":"enabled","name":"TestAccEventStreamCustomHeader-my-custom-header","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2026-06-08T19:51:58.379Z","updated_at":"2026-06-08T19:51:58.379Z","destination":{"type":"webhook","configuration":{"webhook_endpoint":"https://eof28wtn4v4506o.m.pipedream.net","webhook_authorization":{"method":"custom_header","header_key":"x-auth0-webhook-secret"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 434.176292ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams/est_iNgzZtgd1C6DSfsv9dzBw2
        method: GET
      response:
        body: '{"id":"est_iNgzZtgd1C6DSfsv9dzBw2","status":"enabled","name":"TestAccEventStreamCustomHeader-my-custom-header","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2026-06-08T19:51:58.379Z","updated_at":"2026-06-08T19:51:58.379Z","destination":{"type":"webhook","configuration":{"webhook_endpoint":"https://eof28wtn4v4506o.m.pipedream.net","webhook_authorization":{"method":"custom_header","header_key":"x-auth0-webhook-secret"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 284.83825ms
[...]
