---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_dS4z0bPLm0DKxMHp
        method: GET
      response:
        body: '{"id":"con_dS4z0bPLm0DKxMHp","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"strategy_version":2,"authentication_methods":{"passkey":{"enabled":false},"password":{"enabled":true}},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-TestAccConnectionClientsImport","is_domain_connection":false,"enabled_clients":["Bi7U6dKB2KldpMNQGU397axHbwwKxnT9"],"realms":["Acceptance-Test-TestAccConnectionClientsImport"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 460.858375ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/Bi7U6dKB2KldpMNQGU397axHbwwKxnT9
        method: GET
      response:
        body: '{"name":"Acceptance-Test-Client-1-TestAccConnectionClientsImport","client_id":"Bi7U6dKB2KldpMNQGU397axHbwwKxnT9","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"oidc_backchannel_logout":{}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 374.988958ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_dS4z0bPLm0DKxMHp/clients
        method: GET
      response:
        body: '{"clients":[{"client_id":"Bi7U6dKB2KldpMNQGU397axHbwwKxnT9"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 378.2095ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_dS4z0bPLm0DKxMHp?fields=strategy%2Cname&include_fields=true
        method: GET
      response:
        body: '{"id":"con_dS4z0bPLm0DKxMHp","strategy":"auth0","name":"Acceptance-Test-TestAccConnectionClientsImport","is_domain_connection":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 428.823583ms
[...]
    - id: 14
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_dS4z0bPLm0DKxMHp
        method: DELETE
      response:
        body: '{"deleted_at":"2025-06-09T08:11:31.115Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 358.036125ms
