---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {};","secrets":[{"name":"foo","value":"111111"}]}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"c15fe9d4-2e1b-4566-9246-c70c08893dc8","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-08-30T08:56:02.558313085Z","updated_at":"2022-08-30T08:56:02.572151888Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node16","status":"pending","secrets":[{"name":"foo","updated_at":"2022-08-30T08:56:02.572151888Z"}],"all_changes_deployed":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/c15fe9d4-2e1b-4566-9246-c70c08893dc8
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"c15fe9d4-2e1b-4566-9246-c70c08893dc8","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-08-30T08:56:02.558313085Z","updated_at":"2022-08-30T08:56:02.572151888Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node16","status":"built","secrets":[{"name":"foo","updated_at":"2022-08-30T08:56:02.572151888Z"}],"all_changes_deployed":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
  - id: 5
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node16","secrets":[{"name":"foo","value":"123456"},{"name":"bar","value":"654321"}]}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/c15fe9d4-2e1b-4566-9246-c70c08893dc8
      method: PATCH
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"statusCode":429,"error":"Too Many Requests","message":"Global limit has been reached","errorCode":"too_many_requests"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 429 Too Many Requests
      code: 429
      duration: 1ms
[...]
  - id: 13
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/c15fe9d4-2e1b-4566-9246-c70c08893dc8/deploy
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"id":"692d0bff-d81b-43c0-b882-89f5bdf22852","deployed":false,"number":1,"secrets":[{"name":"foo","updated_at":"2022-08-30T08:56:10.824316012Z"},{"name":"bar","updated_at":"2022-08-30T08:56:10.824316012Z"}],"status":"built","created_at":"2022-08-30T08:56:27.602982243Z","updated_at":"2022-08-30T08:56:27.602982243Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v3"}],"action":{"id":"c15fe9d4-2e1b-4566-9246-c70c08893dc8","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-08-30T08:56:02.558313085Z","updated_at":"2022-08-30T08:56:10.815277135Z","all_changes_deployed":false}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 14
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/c15fe9d4-2e1b-4566-9246-c70c08893dc8
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"c15fe9d4-2e1b-4566-9246-c70c08893dc8","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-08-30T08:56:02.558313085Z","updated_at":"2022-08-30T08:56:10.824316012Z","code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node16","status":"built","secrets":[{"name":"foo","updated_at":"2022-08-30T08:56:10.824316012Z"},{"name":"bar","updated_at":"2022-08-30T08:56:10.824316012Z"}],"current_version":{"id":"692d0bff-d81b-43c0-b882-89f5bdf22852","code":"exports.onContinuePostLogin = async (event, api) => {};","runtime":"node16","status":"BUILT","number":1,"build_time":"2022-08-30T08:56:27.734059659Z","created_at":"2022-08-30T08:56:27.602982243Z","updated_at":"2022-08-30T08:56:27.734409751Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"id":"692d0bff-d81b-43c0-b882-89f5bdf22852","deployed":true,"number":1,"built_at":"2022-08-30T08:56:27.734059659Z","secrets":[{"name":"foo","updated_at":"2022-08-30T08:56:10.824316012Z"},{"name":"bar","updated_at":"2022-08-30T08:56:10.824316012Z"}],"status":"built","created_at":"2022-08-30T08:56:27.602982243Z","updated_at":"2022-08-30T08:56:27.734409751Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
