---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {};","dependencies":[],"secrets":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"7980ddc1-136e-45c5-974d-39b1c5a31a5c","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-06-20T13:33:13.599170036Z","updated_at":"2023-06-20T13:33:13.610389577Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node16","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 138.043375ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/7980ddc1-136e-45c5-974d-39b1c5a31a5c
        method: GET
      response:
        body: '{"id":"7980ddc1-136e-45c5-974d-39b1c5a31a5c","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-06-20T13:33:13.599170036Z","updated_at":"2023-06-20T13:33:13.610389577Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node16","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 102.800875ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node16","secrets":[{"name":"foo","value":"111111"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/7980ddc1-136e-45c5-974d-39b1c5a31a5c
        method: PATCH
      response:
        body: '{"id":"7980ddc1-136e-45c5-974d-39b1c5a31a5c","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-06-20T13:33:13.599170036Z","updated_at":"2023-06-20T13:33:15.182942921Z","code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node16","status":"pending","secrets":[{"name":"foo","updated_at":"2023-06-20T13:33:15.182942921Z"}],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 117.040917ms
[...]
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/7980ddc1-136e-45c5-974d-39b1c5a31a5c/deploy
        method: POST
      response:
        body: '{"code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"id":"f322a6f3-7985-464b-b3ea-5b6211ed8047","deployed":false,"number":1,"secrets":[{"name":"foo","updated_at":"2023-06-20T13:33:15.182942921Z"}],"status":"built","created_at":"2023-06-20T13:33:31.463941145Z","updated_at":"2023-06-20T13:33:31.463941145Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v3"}],"action":{"id":"7980ddc1-136e-45c5-974d-39b1c5a31a5c","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-06-20T13:33:13.599170036Z","updated_at":"2023-06-20T13:33:15.178833714Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 130.839583ms
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/7980ddc1-136e-45c5-974d-39b1c5a31a5c
        method: GET
      response:
        body: '{"id":"7980ddc1-136e-45c5-974d-39b1c5a31a5c","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-06-20T13:33:13.599170036Z","updated_at":"2023-06-20T13:33:15.182942921Z","code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node16","status":"built","secrets":[{"name":"foo","updated_at":"2023-06-20T13:33:15.182942921Z"}],"current_version":{"id":"f322a6f3-7985-464b-b3ea-5b6211ed8047","code":"exports.onContinuePostLogin = async (event, api) => {};","runtime":"node16","status":"BUILT","number":1,"build_time":"2023-06-20T13:33:31.563898186Z","created_at":"2023-06-20T13:33:31.463941145Z","updated_at":"2023-06-20T13:33:31.564918760Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"id":"f322a6f3-7985-464b-b3ea-5b6211ed8047","deployed":true,"number":1,"built_at":"2023-06-20T13:33:31.563898186Z","secrets":[{"name":"foo","updated_at":"2023-06-20T13:33:15.182942921Z"}],"status":"built","created_at":"2023-06-20T13:33:31.463941145Z","updated_at":"2023-06-20T13:33:31.564918760Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 102.441208ms
[...]
