---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-org-role-ds-testaccdatasourceorganizationrole","display_name":"Zion - Acceptance Test - testaccdatasourceorganizationrole"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_y6q6bi9dhWvgq7Xx","display_name":"Zion - Acceptance Test - testaccdatasourceorganizationrole","name":"test-org-role-ds-testaccdatasourceorganizationrole","third_party_client_access":"block","is_app_entitlement_active":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 332.710667ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_y6q6bi9dhWvgq7Xx
        method: GET
      response:
        body: '{"id":"org_y6q6bi9dhWvgq7Xx","name":"test-org-role-ds-testaccdatasourceorganizationrole","display_name":"Zion - Acceptance Test - testaccdatasourceorganizationrole","third_party_client_access":"block","is_app_entitlement_active":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 329.867667ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"The Operator - Acceptance Test - testaccdatasourceorganizationrole","description":"The Operator - Acceptance Test","type":"organization","owner_id":"org_y6q6bi9dhWvgq7Xx"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles
        method: POST
      response:
        body: '{"id":"rol_vLCUREqx3JT4QPsu","name":"The Operator - Acceptance Test - testaccdatasourceorganizationrole","description":"The Operator - Acceptance Test","type":"organization","owner_id":"org_y6q6bi9dhWvgq7Xx"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 326.998334ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_vLCUREqx3JT4QPsu
        method: GET
      response:
        body: '{"id":"rol_vLCUREqx3JT4QPsu","name":"The Operator - Acceptance Test - testaccdatasourceorganizationrole","description":"The Operator - Acceptance Test","type":"organization","owner_id":"org_y6q6bi9dhWvgq7Xx"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 312.672292ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles?include_totals=true&name_filter=The+Operator+-+Acceptance+Test+-+testaccdatasourceorganizationrole&owner_id=org_y6q6bi9dhWvgq7Xx&page=0&per_page=100&type=organization
        method: GET
      response:
        body: '{"roles":[{"id":"rol_vLCUREqx3JT4QPsu","name":"The Operator - Acceptance Test - testaccdatasourceorganizationrole","description":"The Operator - Acceptance Test","type":"organization","owner_id":"org_y6q6bi9dhWvgq7Xx"}],"start":0,"limit":100,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 321.923125ms
[...]
