---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"Test-Profile-TestAccConnectionProfileDataSource","organization":{"show_as_button":"optional","assign_membership_on_login":"required"},"connection_name_prefix_template":"template1","enabled_features":["scim","universal_logout"],"connection_config":{}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connection-profiles
        method: POST
      response:
        body: '{"id":"cop_1cu7Zq4fXypMmss6T14r8e","name":"Test-Profile-TestAccConnectionProfileDataSource","organization":{"show_as_button":"optional","assign_membership_on_login":"required"},"connection_name_prefix_template":"template1","enabled_features":["scim","universal_logout"],"connection_config":{},"strategy_overrides":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 403.965916ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connection-profiles/cop_1cu7Zq4fXypMmss6T14r8e
        method: GET
      response:
        body: '{"id":"cop_1cu7Zq4fXypMmss6T14r8e","name":"Test-Profile-TestAccConnectionProfileDataSource","organization":{"show_as_button":"optional","assign_membership_on_login":"required"},"connection_name_prefix_template":"template1","enabled_features":["scim","universal_logout"],"connection_config":{},"strategy_overrides":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 377.197458ms
[...]
