---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance Test - TestAccDataClientByName","app_type":"non_interactive"}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"name":"Acceptance Test - TestAccDataClientByName","client_id":"keZfSCwk5E7ce0UrJYAeaVjwNXOgS50T","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/keZfSCwk5E7ce0UrJYAeaVjwNXOgS50T
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"name":"Acceptance Test - TestAccDataClientByName","client_id":"keZfSCwk5E7ce0UrJYAeaVjwNXOgS50T","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 2
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients?fields=client_id%2Cname&include_fields=true&include_totals=true&page=0&per_page=50
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"total":8,"start":0,"limit":50,"clients":[{"tenant":"terraform-provider-auth0-dev","name":"Default App","client_id":"Z3FKRhWMsXg7iwljDHcNtAkUnCRXYttO"},{"tenant":"terraform-provider-auth0-dev","name":"API Explorer Application","client_id":"O6L9dP0GnD10qe4NVE6K67PiDEHxZEid"},{"tenant":"terraform-provider-auth0-dev","name":"Terraform Provider Auth0","client_id":"3tjbn4dFI04fpHKnVlGs1GYDzQKIEmbF"},{"tenant":"terraform-provider-auth0-dev","name":"Deploy CLI","client_id":"uRWKdiFmUEC3Kohfpq4HKjgKe26ynMSj"},{"tenant":"terraform-provider-auth0-dev","name":"Native App ","client_id":"8IgJbmEeGNsF7A4GXnYaiO6hScFYMjAv"},{"tenant":"terraform-provider-auth0-dev","name":"My App","client_id":"oZGzW6Pcxf3rZdzSUPv8NlPA7ij7MlM1"},{"tenant":"terraform-provider-auth0-dev","name":"Acceptance Test - TestAccDataClientByName","client_id":"keZfSCwk5E7ce0UrJYAeaVjwNXOgS50T"},{"tenant":"terraform-provider-auth0-dev","name":"All Applications","client_id":"vugiCcTHg2cZOhKIA8bwDVw3cwLZYzaf"}]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
