---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance-Test-Connection-TestAccConnectionClient","strategy":"auth0"}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_LuLO2bKCL60cX2Im","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionClient","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionClient"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 254.984472ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_LuLO2bKCL60cX2Im
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_LuLO2bKCL60cX2Im","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionClient","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionClient"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 135.640394ms
  - id: 2
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance-Test-Client-1-TestAccConnectionClient"}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"name":"Acceptance-Test-Client-1-TestAccConnectionClient","client_id":"abYGKOQlrLVr0LyQV1k2v0CeDqcNf5zv","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 320.429288ms
  - id: 3
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/abYGKOQlrLVr0LyQV1k2v0CeDqcNf5zv
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"name":"Acceptance-Test-Client-1-TestAccConnectionClient","client_id":"abYGKOQlrLVr0LyQV1k2v0CeDqcNf5zv","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 168.292771ms
[...]
  - id: 8
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/nX2U9nyu9jz53V3OdkMzoBu7Pym6xYJK
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"name":"Acceptance-Test-Client-2-TestAccConnectionClient","client_id":"nX2U9nyu9jz53V3OdkMzoBu7Pym6xYJK","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 143.127685ms
[...]
  - id: 31
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: ""
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_LuLO2bKCL60cX2Im
      method: DELETE
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"deleted_at":"2022-12-20T12:12:16.888Z"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 202 Accepted
      code: 202
      duration: 163.840626ms
[...]
