---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance Test - TestAccResourceServer","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccResourceServer","scopes":[{"value":"create:foo","description":"Create foos"},{"value":"create:bar","description":"Create bars"}],"signing_alg":"RS256","allow_offline_access":true,"token_lifetime":7200,"token_lifetime_for_web":3600,"skip_consent_for_verifiable_first_party_clients":true,"enforce_policies":true}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"630dd300881e1acece3d906f","name":"Acceptance Test - TestAccResourceServer","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccResourceServer","allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true,"token_lifetime":7200,"token_lifetime_for_web":3600,"signing_alg":"RS256","scopes":[{"value":"create:foo","description":"Create foos"},{"value":"create:bar","description":"Create bars"}],"enforce_policies":true}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/630dd300881e1acece3d906f
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"630dd300881e1acece3d906f","name":"Acceptance Test - TestAccResourceServer","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccResourceServer","allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true,"token_lifetime":7200,"token_lifetime_for_web":3600,"signing_alg":"RS256","scopes":[{"value":"create:foo","description":"Create foos"},{"value":"create:bar","description":"Create bars"}],"enforce_policies":true}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
