---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Connection-TestAccConnectionAddEmailAttributeNonUnique","strategy":"auth0","options":{"brute_force_protection":true}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_uIrULNiUbnVc6YQK","options":{"mfa":{"active":true,"return_enroll_settings":true},"brute_force_protection":true,"password_options":{"complexity":{"character_type_rule":"all","identical_characters":"allow","sequential_characters":"allow","max_length_exceeded":"error","min_length":15,"character_types":[]},"profile_data":{"active":false,"blocked_fields":["name","username","nickname","email","phone_number","user_metadata.name","user_metadata.first","user_metadata.last"]},"history":{"active":false,"size":3},"dictionary":{"active":false,"custom":[],"default":"en_100k"}},"strategy_version":2,"authentication_methods":{"password":{"enabled":true,"api_behavior":"required","signup_behavior":"allow"},"passkey":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true}},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionAddEmailAttributeNonUnique","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionAddEmailAttributeNonUnique"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 452.197584ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_uIrULNiUbnVc6YQK
        method: GET
      response:
        body: '{"id":"con_uIrULNiUbnVc6YQK","options":{"mfa":{"active":true,"return_enroll_settings":true},"passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"passwor[...]
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"options":{"brute_force_protection":true,"attributes":{"email":{"identifier":{"active":false},"profile_required":true,"signup":{"status":"required","verification":{"active":false}},"verification_method":"link","unique":false},"username":{"identifier":{"active":true},"profile_required":true,"signup":{"status":"required"},"validation":{"min_length":3,"max_length":20,"allowed_types":{"email":false,"phone_number":false}}}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_uIrULNiUbnVc6YQK
        method: PATCH
      response:
        body: '{"statusCode":400,"error":"Bad Request","message":"cannot add non-unique email attribute","errorCode":"invalid_body"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 351.180916ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_uIrULNiUbnVc6YQK
        method: DELETE
      response:
        body: '{"deleted_at":"2026-08-07T10:52:09.002Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 360.376ms
