---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"user_id":"testaccdatasourceuserconnectedaccounts","connection":"Username-Password-Authentication","email":"testaccdatasourceuserconnectedaccounts@acceptance.test.com","username":"testaccdatasourceuserconnectedaccounts","password":"passpass$12$12"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"created_at":"2024-01-01T00:00:00.000Z","email":"testaccdatasourceuserconnectedaccounts@acceptance.test.com","email_verified":false,"identities":[{"user_id":"testaccdatasourceuserconnectedaccounts","connection":"Username-Password-Authentication","provider":"auth0","isSocial":false}],"name":"testaccdatasourceuserconnectedaccounts@acceptance.test.com","nickname":"testaccdatasourceuserconnectedaccounts","picture":"https://cdn.auth0.com/avatars/te.png","updated_at":"2024-01-01T00:00:00.000Z","user_id":"auth0|testaccdatasourceuserconnectedaccounts","username":"testaccdatasourceuserconnectedaccounts"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 250ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccdatasourceuserconnectedaccounts
        method: GET
      response:
        body: '{"created_at":"2024-01-01T00:00:00.000Z","email":"testaccdatasourceuserconnectedaccounts@acceptance.test.com","email_verified":false,"identities":[{"user_id":"testaccdatasourceuserconnectedaccounts","connection":"Username-Password-Authentication","provider":"auth0","isSocial":false}],"name":"testaccdatasourceuserconnectedaccounts@acceptance.test.com","nickname":"testaccdatasourceuserconnectedaccounts","picture":"https://cdn.auth0.com/avatars/te.png","updated_at":"2024-01-01T00:00:00.000Z","user_id":"auth0|testaccdatasourceuserconnectedaccounts","username":"testaccdatasourceuserconnectedaccounts"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 100ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccdatasourceuserconnectedaccounts/connected-accounts?take=50
        method: GET
      response:
        body: '{"connected_accounts":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 100ms
[...]
