---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Trigger Binding Foo TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"secrets":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"71faaec4-d0d5-4261-81c2-a48a94501391","name":"Test Trigger Binding Foo TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-06-14T14:37:05.004946592Z","updated_at":"2023-06-14T14:37:05.028765757Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node16","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 156.239542ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/71faaec4-d0d5-4261-81c2-a48a94501391
        method: GET
      response:
        body: '{"id":"71faaec4-d0d5-4261-81c2-a48a94501391","name":"Test Trigger Binding Foo TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-06-14T14:37:05.004946592Z","updated_at":"2023-06-14T14:37:05.028765757Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node16","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 130.758791ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/71faaec4-d0d5-4261-81c2-a48a94501391/deploy
        method: POST
      response:
        body: '{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"9d17adc8-247f-4a7e-a9ed-8cc52f25d9d5","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2023-06-14T14:37:05.266930013Z","updated_at":"2023-06-14T14:37:05.266930013Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v3"}],"action":{"id":"71faaec4-d0d5-4261-81c2-a48a94501391","name":"Test Trigger Binding Foo TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-06-14T14:37:05.004946592Z","updated_at":"2023-06-14T14:37:05.004946592Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 116.8085ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/71faaec4-d0d5-4261-81c2-a48a94501391
        method: GET
      response:
        body: '{"id":"71faaec4-d0d5-4261-81c2-a48a94501391","name":"Test Trigger Binding Foo TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-06-14T14:37:05.004946592Z","updated_at":"2023-06-14T14:37:05.028765757Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node16","status":"built","secrets":[],"current_version":{"id":"9d17adc8-247f-4a7e-a9ed-8cc52f25d9d5","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node16","status":"BUILT","number":1,"build_time":"2023-06-14T14:37:05.352354246Z","created_at":"2023-06-14T14:37:05.266930013Z","updated_at":"2023-06-14T14:37:05.354048633Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"9d17adc8-247f-4a7e-a9ed-8cc52f25d9d5","deployed":true,"number":1,"built_at":"2023-06-14T14:37:05.352354246Z","secrets":[],"status":"built","created_at":"2023-06-14T14:37:05.266930013Z","updated_at":"2023-06-14T14:37:05.354048633Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 120.485792ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?per_page=50
        method: GET
      response:
        body: '{"bindings":[],"per_page":50}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 105.363167ms
[...]
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"bindings":[{"display_name":"Test Trigger Binding Foo TestAccTriggerAction","ref":{"type":"action_id","value":"71faaec4-d0d5-4261-81c2-a48a94501391"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings
        method: PATCH
      response:
        body: '{"bindings":[{"id":"06ad1df0-9aa5-4003-b72e-4ffb44ac3882","trigger_id":"post-login","action":{"id":"71faaec4-d0d5-4261-81c2-a48a94501391","name":"Test Trigger Binding Foo TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-06-14T14:37:05.004946592Z","updated_at":"2023-06-14T14:37:05.004946592Z","current_version":{"id":"9d17adc8-247f-4a7e-a9ed-8cc52f25d9d5","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node16","status":"BUILT","number":1,"build_time":"2023-06-14T14:37:05.352354246Z","created_at":"2023-06-14T14:37:05.266930013Z","updated_at":"2023-06-14T14:37:05.354048633Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"9d17adc8-247f-4a7e-a9ed-8cc52f25d9d5","deployed":true,"number":1,"built_at":"2023-06-14T14:37:05.352354246Z","secrets":[],"status":"built","created_at":"2023-06-14T14:37:05.266930013Z","updated_at":"2023-06-14T14:37:05.354048633Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":false},"created_at":"2023-06-14T14:37:06.317063276Z","updated_at":"2023-06-14T14:37:06.317063276Z","display_name":"Test Trigger Binding Foo TestAccTriggerAction"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 388.034167ms
[...]
