---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/xxxxxxxxxxxxxxxxxxxx
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"xxxxxxxxxxxxxxxxxxxx","name":"Auth0 Management API","identifier":"https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","scopes":[{"description":"Read Client Grants","value":"read:client_grants"},{"description":"Create Client Grants","value":"create:client_grants"},{"description":"Delete Client Grants","value":"delete:client_grants"},{"description":"Update Client Grants","value":"update:client_grants"},{"description":"Read Users","value":"read:users"},{"description":"Update Users","value":"update:users"},{"description":"Delete Users","value":"delete:users"},{"description":"Create Users","value":"create:users"},{"description":"Read Users App Metadata","value":"read:u[...]
[...]
