---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"Auth0 Managed Multiple - TestAccNetworkACLAuth0ManagedLifecycle","active":true,"priority":7,"rule":{"action":{"log":true},"match":{"auth0_managed":["auth0.low_reputation","auth0.icloud_relay_proxy"]},"scope":"authentication"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls
        method: POST
      response:
        body: '{"description":"Auth0 Managed Multiple - TestAccNetworkACLAuth0ManagedLifecycle","active":true,"priority":7,"rule":{"match":{"auth0_managed":["auth0.low_reputation","auth0.icloud_relay_proxy"]},"scope":"authentication","action":{"log":true}},"created_at":"2026-07-29T13:12:48.081Z","updated_at":"2026-07-29T13:12:48.081Z","id":"acl_8x2KGhJkg1jcCLVHeyNdNi"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 330.620417ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_8x2KGhJkg1jcCLVHeyNdNi
        method: GET
      response:
        body: '{"tenant_id":"terraform-provider-auth0-dev","description":"Auth0 Managed Multiple - TestAccNetworkACLAuth0ManagedLifecycle","active":true,"priority":7,"rule":{"match":{"auth0_managed":["auth0.low_reputation","auth0.icloud_relay_proxy"]},"scope":"authentication","action":{"log":true}},"created_at":"2026-07-29T13:12:48.081Z","updated_at":"2026-07-29T13:12:48.081Z","deleted_at":null,"id":"acl_8x2KGhJkg1jcCLVHeyNdNi"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 497.331542ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"Auth0 Managed With Siblings - TestAccNetworkACLAuth0ManagedLifecycle","active":true,"priority":7,"rule":{"action":{"block":true},"match":{"asns":[9453],"auth0_managed":["auth0.low_reputation"],"geo_country_codes":["US"]},"scope":"authentication"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_8x2KGhJkg1jcCLVHeyNdNi
        method: PUT
      response:
        body: '{"description":"Auth0 Managed With Siblings - TestAccNetworkACLAuth0ManagedLifecycle","active":true,"priority":7,"rule":{"match":{"asns":[9453],"auth0_managed":["auth0.low_reputation"],"geo_country_codes":["US"]},"scope":"authentication","action":{"block":true}},"created_at":"2026-07-29T13:12:48.081Z","updated_at":"2026-07-29T13:12:52.531Z","id":"acl_8x2KGhJkg1jcCLVHeyNdNi"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 492.571958ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"Auth0 Managed Mixed Blocks - TestAccNetworkACLAuth0ManagedLifecycle","active":true,"priority":7,"rule":{"action":{"block":true},"match":{"auth0_managed":["auth0.icloud_relay_proxy"]},"not_match":{"asns":[9453]},"scope":"authentication"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_8x2KGhJkg1jcCLVHeyNdNi
        method: PUT
      response:
        body: '{"description":"Auth0 Managed Mixed Blocks - TestAccNetworkACLAuth0ManagedLifecycle","active":true,"priority":7,"rule":{"match":{"auth0_managed":["auth0.icloud_relay_proxy"]},"scope":"authentication","action":{"block":true},"not_match":{"asns":[9453]}},"created_at":"2026-07-29T13:12:48.081Z","updated_at":"2026-07-29T13:12:57.429Z","id":"acl_8x2KGhJkg1jcCLVHeyNdNi"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 297.1155ms
[...]
    - id: 16
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_8x2KGhJkg1jcCLVHeyNdNi
        method: DELETE
      response:
        body: '{"code":204,"object":""}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 297.273083ms
