---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"New Fields Match - TestAccNetworkACLNewFields","active":true,"priority":2,"rule":{"action":{"block":true},"match":{"hostnames":["testA-dev.us.auth0.com","api.example.com"],"connecting_ipv4_cidrs":["192.168.1.0/24","10.0.0.1"],"connecting_ipv6_cidrs":["2001:db8::/32","::1"]},"scope":"tenant"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls
        method: POST
      response:
        body: '{"description":"New Fields Match - TestAccNetworkACLNewFields","active":true,"priority":2,"rule":{"match":{"hostnames":["testA-dev.us.auth0.com","api.example.com"],"connecting_ipv4_cidrs":["192.168.1.0/24","10.0.0.1"],"connecting_ipv6_cidrs":["2001:db8::/32","::1"]},"scope":"tenant","action":{"block":true}},"created_at":"2026-07-30T11:42:44.103Z","updated_at":"2026-07-30T11:42:44.103Z","id":"acl_4oWrXrzhXSpmREA3xN3PPz"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 280.987958ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_4oWrXrzhXSpmREA3xN3PPz
        method: GET
      response:
        body: '{"tenant_id":"terraform-provider-auth0-dev","description":"New Fields Match - TestAccNetworkACLNewFields","active":true,"priority":2,"rule":{"match":{"hostnames":["testA-dev.us.auth0.com","api.example.com"],"connecting_ipv4_cidrs":["192.168.1.0/24","10.0.0.1"],"connecting_ipv6_cidrs":["2001:db8::/32","::1"]},"scope":"tenant","action":{"block":true}},"created_at":"2026-07-30T11:42:44.103Z","updated_at":"2026-07-30T11:42:44.103Z","deleted_at":null,"id":"acl_4oWrXrzhXSpmREA3xN3PPz"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 274.791125ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"New Fields NotMatch - TestAccNetworkACLNewFields","active":true,"priority":3,"rule":{"action":{"block":true},"not_match":{"hostnames":["testB-dev.us.auth0.com"],"connecting_ipv4_cidrs":["203.0.113.0/24"],"connecting_ipv6_cidrs":["1001:d08::/32","::1"]},"scope":"tenant"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_4oWrXrzhXSpmREA3xN3PPz
        method: PUT
      response:
        body: '{"description":"New Fields NotMatch - TestAccNetworkACLNewFields","active":true,"priority":3,"rule":[...]
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_4oWrXrzhXSpmREA3xN3PPz
        method: DELETE
      response:
        body: '{"code":204,"object":""}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 284.473459ms
