---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/prompts/login-id/screen/login-id/rendering
        method: PATCH
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 405.570916ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/prompts/login-id/screen/login-id/rendering
        method: GET
      response:
        body: '{"tenant":"terraform-provider-auth0-dev","prompt":"login-id","screen":"login-id","rendering_mode":"standard","context_configuration":[],"default_head_tags_disabled":false,"head_tags":[{"tag":"script","attributes":{"src":"http://127.0.0.1:8080/index.js","defer":true}},{"tag":"link","attributes":{"rel":"stylesheet","href":"http://127.0.0.1:8090/index.css"}},{"tag":"meta","attributes":{"name":"viewport","content":"width=device-width, initial-scale=1"}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 380.146042ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"rendering_mode":"advanced","context_configuration":["branding.settings","branding.themes.default","client.description","client.logo_uri","organization.branding","organization.display_name","organization.metadata.key","screen.texts","tenant.enabled_locales","tenant.friendly_name","tenant.name","untrusted_data.authorization_params.login_hint","untrusted_data.authorization_params.screen_hint","untrusted_data.authorization_params.ui_locales","untrusted_data.submitted_form_data"],"head_tags":[{"attributes":{"async":true,"defer":true,"integrity":["sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="],"src":"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"},"tag":"script"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/prompts/logout/screen/logout/rendering
        method: PATCH
      response:
        body: '{"rendering_mode":"advanced","context_configuration":["branding.settings","branding.themes.default","client.description","client.logo_uri","organization.branding","organization.display_name","organization.metadata.key","screen.texts","tenant.enabled_locales","tenant.friendly_name","tenant.name","untrusted_data.authorization_params.login_hint","untrusted_data.authorization_params.screen_hint","untrusted_data.authorization_params.ui_locales","untrusted_data.submitted_form_data"],"head_tags":[{"attributes":{"async":true,"defer":true,"integrity":["sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="],"src":"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"},"tag":"script"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 633.048625ms
[...]
