---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"borders":{"button_border_radius":1.1,"button_border_weight":1.34,"buttons_style":"pill","input_border_radius":3.2,"input_border_weight":1.99,"inputs_style":"pill","show_widget_shadow":false,"widget_border_weight":1.11,"widget_corner_radius":3.57},"colors":{"body_text":"#FF00CC","error":"#FF00CC","header":"#FF00CC","icons":"#FF00CC","input_background":"#FF00CC","input_border":"#FF00CC","input_filled_text":"#FF00CC","input_labels_placeholders":"#FF00CC","links_focused_components":"#FF00CC","primary_button":"#FF00CC","primary_button_label":"#FF00CC","secondary_button_border":"#FF00CC","secondary_button_label":"#FF00CC","success":"#FF00CC","widget_background":"#FF00CC","widget_border":"#FF00CC"},"fonts":{"body_text":{"bold":false,"size":99.5},"buttons_text":{"bold":false,"size":99.5},"font_url":"https://google.com/font.woff","input_labels":{"bold":false,"size":99.5},"links":{"bold":false,"size":99.5},"links_style":"normal","reference_text_size":12.5,"subtitle":{"bold":false,"size":99.5},"title":{"bold":false,"size":99.5}},"page_background":{"background_color":"#000000","background_image_url":"https://google.com/background.png","page_layout":"center"},"widget":{"header_text_alignment":"center","logo_height":55.5,"logo_position":"center","logo_url":"https://google.com/logo.png","social_buttons_layout":"top"}}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/themes
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"borders":{"button_border_radius":1.1,"button_border_weight":1.34,"buttons_style":"pill","input_border_radius":3.2,"input_border_weight":1.99,"inputs_style":"pill","show_widget_shadow":false,"widget_border_weight":1.11,"widget_corner_radius":3.57},"colors":{"body_text":"#FF00CC","error":"#FF00CC","header":"#FF00CC","icons":"#FF00CC","input_background":"#FF00CC","input_border":"#FF00CC","input_filled_text":"#FF00CC","input_labels_placeholders":"#FF00CC","links_focused_components":"#FF00CC","primary_button":"#FF00CC","primary_button_label":"#FF00CC","secondary_button_border":"#FF00CC","secondary_button_label":"#FF00CC","success":"#FF00CC","widget_background":"#FF00CC","widget_border":"#FF00CC"},"fonts":{"body_text":{"bold":false,"size":99.5},"buttons_text":{"bold":false,"size":99.5},"font_url":"https://google.com/font.woff","input_labels":{"bold":false,"size":99.5},"links":{"bold":false,"size":99.5},"links_style":"normal","reference_text_size":12.5,"subtitle":{"bold":false,"size":99.5},"title":{"bold":false,"size":99.5}},"page_background":{"background_color":"#000000","background_image_url":"https://google.com/background.png","page_layout":"center"},"widget":{"header_text_alignment":"center","logo_height":55.5,"logo_position":"center","logo_url":"https://google.com/logo.png","social_buttons_layout":"top"},"themeId":"w1BL2SDwg4oWU4F83iTVzESMzbmGFgf8"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/themes/w1BL2SDwg4oWU4F83iTVzESMzbmGFgf8
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"borders":{"button_border_radius":1.1,"button_border_we[...]
[...]
  - id: 4
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"displayName":"My branding","borders":{"button_border_radius":2,"button_border_weight":2,"buttons_style":"pill","input_border_radius":2,"input_border_weight":2,"inputs_style":"pill","show_widget_shadow":true,"widget_border_weight":2,"widget_corner_radius":2},"colors":{"base_focus_color":"#BBBBBB","base_hover_color":"#CCCCCC","body_text":"#00FF00","error":"#00FF00","header":"#00FF00","icons":"#00FF00","input_background":"#00FF00","input_border":"#00FF00","input_filled_text":"#00FF00","input_labels_placeholders":"#00FF00","links_focused_components":"#00FF00","primary_button":"#00FF00","primary_button_label":"#00FF00","secondary_button_border":"#00FF00","secondary_button_label":"#00FF00","success":"#00FF00","widget_background":"#00FF00","widget_border":"#00FF00"},"fonts":{"body_text":{"bold":true,"size":100},[...]
[...]
