---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"resource":"oauth_authentication_api","consumer":"client","consumer_selector":"default","configuration":{"action":"block","limit":100}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/rate-limit-policies
        method: POST
      response:
        body: '{"id":"rlp_cBKDUnDSTcs6CWygM7U3j","resource":"oauth_authentication_api","consumer":"client","consumer_selector":"default","configuration":{"action":"block","limit":100},"created_at":"2026-07-06T10:34:38.268912Z","updated_at":"2026-07-06T10:34:38.268912Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 362.646916ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/rate-limit-policies/rlp_cBKDUnDSTcs6CWygM7U3j
        method: GET
      response:
        body: '{"id":"rlp_cBKDUnDSTcs6CWygM7U3j","resource":"oauth_authentication_api","consumer":"client","consumer_selector":"default","configuration":{"action":"block","limit":100},"created_at":"2026-07-06T10:34:38.268912Z","updated_at":"2026-07-06T10:34:38.268912Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 321.832292ms
[...]
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/rate-limit-policies?resource=oauth_authentication_api&take=50
        method: GET
      response:
        body: '{"rate_limit_policies":[{"id":"rlp_cBKDUnDSTcs6CWygM7U3j","resource":"oauth_authentication_api","consumer":"client","consumer_selector":"default","configuration":{"action":"block","limit":100},"created_at":"2026-07-06T10:34:38.268912Z","updated_at":"2026-07-06T10:34:38.268912Z"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 293.282625ms
[...]
