---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"TestAccUserAttributeProfile_OrderingDrift Ordering Drift","user_attributes":{"email":{"description":"User email","label":"Email","profile_required":true,"auth0_mapping":"email","scim_mapping":"emails[primary eq true].value"},"given_name":{"description":"User given name","label":"Given Name","profile_required":false,"auth0_mapping":"given_name","scim_mapping":"name.givenName"},"nickname":{"description":"User nickname","label":"Nickname","profile_required":false,"auth0_mapping":"nickname","scim_mapping":"nickName"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/user-attribute-profiles
        method: POST
      response:
        body: '{"id":"uap_1cE5eredQs2a75TCdYFrcT","name":"TestAccUserAttributeProfile_OrderingDrift Ordering Drift","user_id":{"oidc_mapping":"sub","saml_mapping":["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"],"scim_mapping":"externalId"},"user_attributes":{"email":{"label":"Email","description":"User email","scim_mapping":"emails[primary eq true].value","auth0_mapping":"email","profile_required":true},"nickname":{"label":"Nickname","description":"User nickname","scim_mapping":"nickName","auth0_mapping":"nickname","profile_required":false},"given_name":{"label":"Given Name","description":"User given name","scim_mapping":"name.givenName","auth0_mapping":"given_name","profile_required":false}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 468.346416ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/user-attribute-profiles/uap_1cE5eredQs2a75TCdYFrcT
        method: GET
      response:
        body: '{"id":"uap_1cE5eredQs2a75TCdYFrcT","name":"TestAccUserAttributeProfile_OrderingDrift Ordering Drift","user_id":{"oidc_mapping":"sub","saml_mapping":["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"],"scim_mapping":"externalId"},"user_attributes":{"email":{"label":"Email","description":"User email","scim_mapping":"emails[primary eq true].value","auth0_mapping":"email","profile_required":true},"nickname":{"label":"Nickname","description":"User nickname","scim_mapping":"nickName","auth0_mapping":"nickname","profile_required":false},"given_name":{"label":"Given Name","description":"User given name","scim_mapping":"name.givenName","auth0_mapping":"given_name","profile_required":false}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 416.685416ms
[...]
