---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"Test Module TestAccActionModule","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules
        method: POST
      response:
        body: '{"id":"437c498a-0574-4073-b1e1-e987fefa74da","name":"Test Module TestAccActionModule","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[],"all_changes_published":false,"actions_using_module_total":0,"created_at":"2026-02-16T16:36:00.438971Z","updated_at":"2026-02-16T16:36:00.438971Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 413.375041ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/437c498a-0574-4073-b1e1-e987fefa74da
        method: GET
      response:
        body: '{"id":"437c498a-0574-4073-b1e1-e987fefa74da","name":"Test Module TestAccActionModule","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[],"all_changes_published":false,"actions_using_module_total":0,"created_at":"2026-02-16T16:36:00.438971Z","updated_at":"2026-02-16T16:36:00.438971Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 382.832667ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"code":"const _ = require(''lodash'');\nmodule.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + _.capitalize(name) + \"!\";\n\t},\n\tgetApiKey: function() {\n\t\treturn process.env.API_KEY;\n\t}\n};\n","secrets":[{"name":"API_KEY","value":"my-secret-key"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/437c498a-0574-4073-b1e1-e987fefa74da
        method: PATCH
      response:
        body: '{"id":"437c498a-0574-4073-b1e1-e987fefa74da","name":"Test Module TestAccActionModule","code":"const _ = require(''lodash'');\nmodule.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + _.capitalize(name) + \"!\";\n\t},\n\tgetApiKey: function() {\n\t\treturn process.env.API_KEY;\n\t}\n};\n","dependencies":[{"name":"lodash","version":"4.17.21"}],"secrets":[{"name":"API_KEY","updated_at":"2026-02-16T16:36:00.438971Z"}],"all_changes_published":false,"actions_using_module_total":0,"created_at":"2026-02-16T16:36:00.438971Z","updated_at":"2026-02-16T16:36:00.438971Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 342.193416ms
[...]
