---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Resource Server - TestAccClientResourceServer","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccClientResourceServer"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"69792453785f3c9801670a9b","name":"Acceptance Test - Resource Server - TestAccClientResourceServer","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccClientResourceServer","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 418.92925ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/69792453785f3c9801670a9b
        method: GET
      response:
        body: '{"id":"69792453785f3c9801670a9b","name":"Acceptance Test - Resource Server - TestAccClientResourceServer","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccClientResourceServer","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 325.666709ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Resource Server Client - TestAccClientResourceServer","app_type":"resource_server","resource_server_identifier":"https://uat.api.terraform-provider-auth0.com/TestAccClientResourceServer"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - Resource Server Client - TestAccClientResourceServer","client_id":"x04d4U9DpigITzHS8ascCDgyODAdT3Mg","client_secret":"[REDACTED]","app_type":"resource_server","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":true,"jwt_configuration":{"secret_encoded":false,"alg":"RS256"},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":[],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"resource_server_identifier":"https://uat.api.terraform-provider-auth0.com/TestAccClientResourceServer"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 470.321ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/x04d4U9DpigITzHS8ascCDgyODAdT3Mg
        method: GET
      response:
        body: '{"name":"Acceptance Test - Resource Server Client - TestAccClientResourceServer","client_id":"x04d4U9DpigITzHS8ascCDgyODAdT3Mg","client_secret":"[REDACTED]","app_type":"resource_server","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":true,"jwt_configuration":{"secret_encoded":false,"alg":"RS256"},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":[],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"resource_server_identifier":"https://uat.api.terraform-provider-auth0.com/TestAccClientResourceServer"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 440.255375ms
[...]
