---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams/est_invalid_id_1234567890
        method: GET
      response:
        body: '{"statusCode":400,"error":"Bad Request","message":"Path validation error: ''Object didn''t pass validation for format event-stream-id: est_invalid_id_1234567890'' on property id (Unique identifier for the event stream).","errorCode":"invalid_uri"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 590.311666ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"testaccdatasourceeventstream-my-event-bridge","subscriptions":[{"event_type":"user.created"}],"destination":{"type":"eventbridge","configuration":{"aws_account_id":"242849305777","aws_region":"us-east-1"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams
        method: POST
      response:
        body: '{"id":"est_ckicFQC1jvxfmBctzSAfXd","status":"enabled","name":"testaccdatasourceeventstream-my-event-bridge","subscriptions":[{"event_type":"user.created"}],"created_at":"2025-07-19T12:23:03.451Z","updated_at":"2025-07-19T12:23:03.451Z","destination":{"type":"eventbridge","configuration":{"aws_region":"us-east-1","aws_account_id":"242849305777","aws_partner_event_source":"aws.partner/auth0.com/terraform-provider-auth0-dev-28bdb704-81e9-4fda-ac27-8ff359e9f881/auth0.events"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.765482833s
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams/est_ckicFQC1jvxfmBctzSAfXd
        method: GET
      response:
        body: '{"id":"est_ckicFQC1jvxfmBctzSAfXd","status":"enabled","name":"testaccdatasourceeventstream-my-event-bridge","subscriptions":[{"event_type":"user.created"}],"created_at":"2025-07-19T12:23:03.451Z","updated_at":"2025-07-19T12:23:03.451Z","destination":{"type":"eventbridge","configuration":{"aws_region":"us-east-1","aws_account_id":"242849305777","aws_partner_event_source":"aws.partner/auth0.com/terraform-provider-auth0-dev-28bdb704-81e9-4fda-ac27-8ff359e9f881/auth0.events"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 322.184208ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"testaccdatasourceeventstream-my-webhook","subscriptions":[{"event_type":"user.created"}],"destination":{"type":"webhook","configuration":{"webhook_authorization":{"method":"bearer","token":"123456789"},"webhook_endpoint":"https://eof28wtn4v4506o.m.pipedream.net"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams
        method: POST
      response:
        body: '{"id":"est_oCs4irZDr7YTTDvzpzC9tU","status":"enabled","name":"testaccdatasourceeventstream-my-webhook","subscriptions":[{"event_type":"user.created"}],"created_at":"2025-07-19T12:23:08.164Z","updated_at":"2025-07-19T12:23:08.164Z","destination":{"type":"webhook","configuration":{"webhook_endpoint":"https://eof28wtn4v4506o.m.pipedream.net","webhook_authorization":{"method":"bearer"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 337.615583ms
[...]
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams/est_oCs4irZDr7YTTDvzpzC9tU
        method: GET
      response:
        body: '{"id":"est_oCs4irZDr7YTTDvzpzC9tU","status":"enabled","name":"testaccdatasourceeventstream-my-webhook","subscriptions":[{"event_type":"user.created"}],"created_at":"2025-07-19T12:23:08.164Z","updated_at":"2025-07-19T12:23:08.164Z","destination":{"type":"webhook","configuration":{"webhook_endpoint":"https://eof28wtn4v4506o.m.pipedream.net","webhook_authorization":{"method":"bearer"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 329.517ms
[...]
