---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"session_lifetime":168,"idle_session_lifetime":72}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"enabled_locales":["en"],"flags":{"allow_changing_enable_sso":false,"cannot_change_enforce_client_authentication_on_passwordless_start":true,"disable_impersonation":true,"enable_sso":true,"enforce_client_authentication_on_passwordless_start":true,"universal_login":true,"revoke_refresh_token_grant":false,"disable_clickjack_protection_headers":false},"idle_session_lifetime":72,"sandbox_version":"18","session_lifetime":168,"oidc_logout":{"rp_logout_end_session_endpoint_discovery":true}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 205.767958ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption?include_totals=true&page=0&per_page=5
        method: GET
      response:
        body: '{"keys":[{"kid":"c178a38a-8111-480b-a54f-a3dfea118773","type":"tenant-master-key","state":"active","created_at":"2024-10-04T14:09:59.532Z","updated_at":"2024-10-04T14:09:59.532Z","parent_kid":"6a9a6357-6329-4265-91fc-2ab0d8434a15","public_key":null},{"kid":"6a9a6357-6329-4265-91fc-2ab0d8434a15","type":"environment-root-key","state":"active","created_at":"2024-10-04T14:09:59.517Z","updated_at":"2024-10-04T14:09:59.517Z","parent_kid":null,"public_key":null},{"kid":"cc9a475f-7452-43da-8443-67b9b2b98eec","type":"tenant-master-key","state":"destroyed","created_at":"2024-10-04T14:09:56.653Z","updated_at":"2024-10-04T14:10:00.405Z","parent_kid":"6a9a6357-6329-4265-91fc-2ab0d8434a15","public_key":null},{"kid":"571da357-4e58-4a96-9e60-8a7d284f[...]
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"mtls":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"enabled_locales":["en"],"flags":{"allow_changing_enable_sso":false,"cannot_change_enforce_client_authentication_on_passwordless_start":true,"disable_impersonation":true,"enable_sso":true,"enforce_client_authentication_on_passwordless_start":true,"universal_login":true,"revoke_refresh_token_grant":false,"disable_clickjack_protection_headers":false},"idle_session_lifetime":72,"sandbox_version":"18","session_lifetime":168,"oidc_logout":{"rp_logout_end_session_endpoint_discovery":true}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 165.550333ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: GET
      response:
        body: '{"enabled_locales":["en"],"flags":{"allow_changing_enable_sso":false,"disable_impersonation":true,"enable_sso":true,"universal_login":true,"revoke_refresh_token_grant":false,"disable_clickjack_protection_headers":false},"idle_session_lifetime":72,"sandbox_version":"18","session_lifetime":168,"oidc_logout":{"rp_logout_end_session_endpoint_discovery":true},"sandbox_versions_available":["18","16"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 181.434083ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption/rekey
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 528.019958ms
[...]
