---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance-Test-LogStream-azure-TestAccLogStreamEventGrid","type":"eventgrid","sink":{"azureSubscriptionId":"b69a6835-57c7-4d53-b0d5-1c6ae580b6d5","azureRegion":"northeurope","azureResourceGroup":"azure-logs-rg"}}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"lst_0000000000010032","name":"Acceptance-Test-LogStream-azure-TestAccLogStreamEventGrid","type":"eventgrid","status":"active","sink":{"azureSubscriptionId":"b69a6835-57c7-4d53-b0d5-1c6ae580b6d5","azureRegion":"northeurope","azureResourceGroup":"azure-logs-rg","azurePartnerTopic":"azure.partner/auth0.com/terraform-provider-auth0-dev-b69a6835-57c7-4d53-b0d5-1c6ae580b6d5/auth0.logs"}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000010032
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"lst_0000000000010032","name":"Acceptance-Test-LogStream-azure-TestAccLogStreamEventGrid","type":"eventgrid","status":"active","sink":{"azureSubscriptionId":"b69a6835-57c7-4d53-b0d5-1c6ae580b6d5","azureRegion":"northeurope","azureResourceGroup":"azure-logs-rg","azurePartnerTopic":"azure.partner/auth0.com/terraform-provider-auth0-dev-b69a6835-57c7-4d53-b0d5-1c6ae580b6d5/auth0.logs"}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
  - id: 9
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000010033
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"lst_0000000000010033","name":"Acceptance-Test-LogStream-aws-new-TestAccLogStreamEventBridge","type":"eventbridge","status":"active","sink":{"awsAccountId":"899999999998","awsRegion":"us-west-1","awsPartnerEventSource":"aws.partner/auth0.com/terraform-provider-auth0-dev-3431ee46-f02e-41bb-9ba1-efbad4ba43c6/auth0.logs"}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
