---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - TestAccClientConfig","oidc_logout":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - TestAccClientConfig","client_id":"YgbXsvSpi3sqglOvNeurgVz0P9EcAOS5","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"oidc_backchannel_logout":{},"oidc_logout":{"backchannel_logout_initiators":{"mode":"custom","selected_initiators":["rp-logout","idp-logout"]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 582.420833ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/YgbXsvSpi3sqglOvNeurgVz0P9EcAOS5
        method: GET
      response:
        body: '{"name":"Acceptance Test - TestAccClientConfig","client_id":"YgbXsvSpi3sqglOvNeurgVz0P9EcAOS5","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"oidc_backchannel_logout":{},"oidc_logout":{"backchannel_logout_initiators":{"mode":"custom","selected_initiators":["rp-logout","idp-logout"]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 390.866458ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - TestAccClientConfig","description":"Test Application Long Description","app_type":"non_interactive","logo_uri":"https://example.com/logoUri","is_first_party":true,"oidc_conformant":true,"callbacks":["https://example.com/callback"],"allowed_origins":["https://example.com"],"web_origins":["https://example.com"],"client_aliases":["https://example.com/audience"],"allowed_clients":["https://allowed.example.com"],"allowed_logout_urls":["https://example.com"],"sso":false,"sso_disabled":false,"grant_types":["authorization_code","http://auth0.com/oauth/grant-type/password-realm","implicit","password","refresh_token"],"cross_origin_loc":"https://example.com/cross-origin-loc","custom_login_page_on":true,"custom_login_page":"test","form_template":"test","client_metadata":{"foo":"zoo"},"initiate_login_uri":"https://example.com/login","organization_usage":"deny","organization_require_behavior":"no_prompt","require_pushed_authorization_requests":false,"oidc_logout":{},"skip_non_verifiable_callback_uri_confirmation_prompt":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/YgbXsvSpi3sqglOvNeurgVz0P9EcAOS5
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - TestAccClientConfig","description":"Test Application Long Description","client_id":"YgbXsvSpi3sqglOvNeurgVz0P9EcAOS5","client_secr[...]
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - TestAccClientConfig","description":"","app_type":"non_interactive","logo_uri":"https://another-example.com/logoUri","is_first_party":true,"oidc_conformant":true,"callbacks":[],"allowed_origins":[],"web_origins":[],"client_aliases":[],"allowed_clients":[],"allowed_logout_urls":[],"sso":true,"sso_disabled":true,"grant_types":[],"cross_origin_loc":"https://exampl[...]
[...]
