---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"some-org-testaccdatasourceorganizationrolegroups","display_name":"testaccdatasourceorganizationrolegroups"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_pFGURpDfALXIsZDo","display_name":"testaccdatasourceorganizationrolegroups","name":"some-org-testaccdatasourceorganizationrolegroups","third_party_client_access":"block","is_app_entitlement_active":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 322.81675ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_pFGURpDfALXIsZDo
        method: GET
      response:
        body: '{"id":"org_pFGURpDfALXIsZDo","name":"some-org-testaccdatasourceorganizationrolegroups","display_name":"testaccdatasourceorganizationrolegroups","third_party_client_access":"block","is_app_entitlement_active":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 310.98075ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Operator - testaccdatasourceorganizationrolegroups","type":"organization","owner_id":"org_pFGURpDfALXIsZDo"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles
        method: POST
      response:
        body: '{"id":"rol_rRc75O2R00GRkC9n","name":"Test Operator - testaccdatasourceorganizationrolegroups","type":"organization","owner_id":"org_pFGURpDfALXIsZDo"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 327.916417ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_rRc75O2R00GRkC9n
        method: GET
      response:
        body: '{"id":"rol_rRc75O2R00GRkC9n","name":"Test Operator - testaccdatasourceorganizationrolegroups","description":"","type":"organization","owner_id":"org_pFGURpDfALXIsZDo"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 302.955166ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_pFGURpDfALXIsZDo/roles/rol_rRc75O2R00GRkC9n/groups?take=50
        method: GET
      response:
        body: '{"groups":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 351.670916ms
[...]
