---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"domain":"testacccustomdomain.auth.uat.terraform-provider-auth0.com","type":"auth0_managed_certs"}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"custom_domain_id":"cd_qzstHJURrWCodlBe","domain":"testacccustomdomain.auth.uat.terraform-provider-auth0.com","primary":true,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"cname","record":"terraform-provider-auth0-dev-cd-qzsthjurrwcodlbe.edge.tenants.eu.auth0.com"}]},"tls_policy":"recommended"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_qzstHJURrWCodlBe
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"custom_domain_id":"cd_qzstHJURrWCodlBe","domain":"testacccustomdomain.auth.uat.terraform-provider-auth0.com","primary":true,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"cname","record":"terraform-provider-auth0-dev-cd-qzsthjurrwcodlbe.edge.tenants.eu.auth0.com"}]},"tls_policy":"recommended"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
