---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test-ResourceServer-Name","identifier":"https://terraform-provider-auth0-dev.us.auth0.com/me/","authorization_policy":{"policy_id":"019b76da-a800-73c9-b656-b349ae415c17"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"69f2dc6f1fe9298c44d9b9f3","name":"Auth0 My Account API","identifier":"https://terraform-provider-auth0-dev.us.auth0.com/me/","allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true,"subject_type_authorization":{"client":{"policy":"deny_all"},"user":{"policy":"require_client_grant"}},"token_lifetime":600,"token_lifetime_for_web":600,"signing_alg":"RS256","scopes":[{"value":"create:me:connected_accounts","description":"Create Connected Accounts"},{"value":"read:me:connected_accounts","description":"Read Connected Accounts"},{"value":"delete:me:connected_accounts","description":"Delete Connected Accounts"}],"is_system":true,"proof_of_possession":{"mechanism":"dpop","required":false},"authorization_policy":{"policy_id":"019b76da-a800-73c9-b656-b349ae415c17"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 556.285041ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/69f2dc6f1fe9298c44d9b9f3
        method: GET
      response:
        body: '{"id":"69f2dc6f1fe9298c44d9b9f3","name":"Auth0 My Account API","identifier":"https://terraform-provider-auth0-dev.us.auth0.com/me/","allow_offline_access":true,"skip_consent_for_verifiable_first_party_cl[...]
[...]
