---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"testaccorganizationmember1@auth0.com","password":"MyPass123$"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"created_at":"2023-06-14T09:28:37.669Z","email":"testaccorganizationmember1@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"648988456af6c1558527b279","provider":"auth0","isSocial":false}],"name":"testaccorganizationmember1@auth0.com","nickname":"testaccorganizationmember1","picture":"https://s.gravatar.com/avatar/a3ca1ab654eee614bf23d07037dc77c6?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2023-06-14T09:28:37.669Z","user_id":"auth0|648988456af6c1558527b279"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 266.267292ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C648988456af6c1558527b279
        method: GET
      response:
        body: '{"created_at":"2023-06-14T09:28:37.669Z","email":"testaccorganizationmember1@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"648988456af6c1558527b279","provider":"auth0","isSocial":false}],"name":"testaccorganizationmember1@auth0.com","nickname":"testaccorganizationmember1","picture":"https://s.gravatar.com/avatar/a3ca1ab654eee614bf23d07037dc77c6?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2023-06-14T09:28:37.669Z","user_id":"auth0|648988456af6c1558527b279"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 99.146417ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C648988456af6c1558527b279/roles?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"roles":[],"start":0,"limit":50,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 93.427ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C648988456af6c1558527b279/permissions?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"permissions":[],"start":0,"limit":50,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 102.754583ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"some-org-testaccorganizationmember","display_name":"testaccorganizationmember"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"name":"some-org-testaccorganizationmember","display_name":"testaccorganizationmember","id":"org_gtwE9ce1iNVTo0Qq"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 129.255959ms
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_gtwE9ce1iNVTo0Qq
        method: GET
      response:
        body: '{"id":"org_gtwE9ce1iNVTo0Qq","name":"some-org-testaccorganizationmember","display_name":"testaccorganizationmember"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 134.892209ms
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"members":["auth0|648988456af6c1558527b279"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_gtwE9ce1iNVTo0Qq/members
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 121.229125ms
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_gtwE9ce1iNVTo0Qq/members/auth0%7C648988456af6c1558527b279/roles?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"roles":[],"start":0,"limit":50,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 105.139791ms
[...]
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_gtwE9ce1iNVTo0Qq/enabled_connections?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"enabled_connections":[],"start":0,"limit":0,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 91.86525ms
    - id: 14
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_gtwE9ce1iNVTo0Qq/members?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"members":[{"user_id":"auth0|648988456af6c1558527b279","email":"testaccorganizationmember1@auth0.com","picture":"https://s.gravatar.com/avatar/a3ca1ab654eee614bf23d07037dc77c6?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","name":"testaccorganizationmember1@auth0.com"}],"start":0,"limit":100,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 96.380084ms
[...]
    - id: 116
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_gtwE9ce1iNVTo0Qq/members?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"members":[],"start":0,"limit":50,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 86.289417ms
[...]
