---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"session_lifetime":168,"idle_session_lifetime":72,"ephemeral_session_lifetime":72,"idle_ephemeral_session_lifetime":24}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"enabled_locales":["en"],"flags":{"allow_changing_enable_sso":false,"cannot_change_enforce_client_authentication_on_passwordless_start":true,"disable_impersonation":true,"enable_sso":true,"enforce_client_authentication_on_passwordless_start":true,"universal_login":true,"revoke_refresh_token_grant":false,"disable_clickjack_protection_headers":false},"idle_session_lifetime":72,"ephemeral_session_lifetime":72,"idle_ephemeral_session_lifetime":24,"sandbox_version":"22","session_lifetime":168,"oidc_logout":{"rp_logout_end_session_endpoint_discovery":true},"resource_parameter_profile":"compatibility"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 406.919584ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"default_token_quota":null,"error_page":null,"mtls":null,"skip_non_verifiable_callback_uri_confirmation_prompt":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"enabled_locales":["en"],"flags":{"allow_changing_enable_sso":false,"cannot_change_enforce_client_authentication_on_passwordless_start":true,"disable_impersonation":true,"enable_sso":true,"enforce_client_authentication_on_passwordless_start":true,"universal_login":true,"revoke_refresh_token_grant":false,"disable_clickjack_protection_headers":false},"idle_session_lifetime":72,"ephemeral_session_lifetime":72,"idle_ephemeral_session_lifetime":24,"sandbox_version":"22","session_lifetime":168,"oidc_logout":{"rp_logout_end_session_endpoint_discovery":true},"resource_parameter_profile":"compatibility"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 410.028292ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: GET
      response:
        body: '{"enabled_locales":["en"],"flags":{"allow_changing_enable_sso":false,"disable_impersonation":true,"enable_sso":true,"universal_login":true,"revoke_refresh_token_grant":false,"disable_clickjack_protection_headers":false},"idle_session_lifetime":72,"ephemeral_session_lifetime":72,"idle_ephemeral_session_lifetime":24,"sandbox_version":"22","session_lifetime":168,"oidc_logout":{"rp_logout_end_session_endpoint_discovery":true},"resource_parameter_profile":"compatibility","sandbox_versions_available":["22","18"],"client_id_metadata_document_supported":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 386.237625ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption?include_totals=true&page=0&per_page=5
        method: GET
      response:
        body: '{"keys":[{"kid":"766957ee-f428-44ff-bc53-de8aab907b97","type":"environment-root-key","state":"active","created_at":"2026-05-11T08:33:31.025Z","updated_at":"2026-05-11T08:33:31.025Z","parent_kid":null,"public_key":null},{"kid":"863938eb-3e1f-49e4-9602-c4d6a569e699","type":"tenant-master-key","state":"active","created_at":"2026-05-11T08:33:31.025Z","updated_at":"2026-05-11T08:33:31.025Z","parent_kid":"766957ee-f428-44ff-bc53-de8aab907b97","public_key":null}],"start":0,"limit":5,"total":2}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 440.090417ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"type":"customer-provided-root-key"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption
        method: POST
      response:
        body: '{"kid":"ed5ba386-413d-4d08-89f3-70fd3616e149","type":"customer-provided-root-key","state":"pre-activation","created_at":"2026-05-11T09:05:22.388Z","updated_at":"2026-05-11T09:05:22.388Z","parent_kid":null,"public_key":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 430.370583ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption/ed5ba386-413d-4d08-89f3-70fd3616e149
        method: GET
      response:
        body: '{"kid":"ed5ba386-413d-4d08-89f3-70fd3616e149","type":"customer-provided-root-key","state":"pre-activation","created_at":"2026-05-11T09:05:22.388Z","updated_at":"2026-05-11T09:05:22.388Z","parent_kid":null,"public_key":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 384.077958ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption/ed5ba386-413d-4d08-89f3-70fd3616e149/wrapping-key
        method: POST
      response:
        body: '{"public_key":"-----BEGIN PUBLIC KEY-----\nMIIBojANBgkqhkiG9w0BAQEFAAOCAY8AMIIBigKCAYEA+vtfYkj45uIw/cP8NlcG\n1kMBmZxwXYvZ2IFUOoFJiHdaXkoZTZ8dMrdR3h10jL3EZSqA5uE7TMVAhnpxHSb2\nMrMCK7sghN2wPzQ/NuCXo3QmpIGFysfYQUItduPEAOUztOxijD7HfLn7FQVOy/E0\n19KPWZ43jaBktFu9AljFzERCHhvzMUdF0J3BgIw7ahANnR3L1E+w2r9s6lEw5BaF\n4YITkI8cIu2ytuYtxELJA5BXyXkL0zbNLtc9ErHIl4oCuU4zITd4uq9t7pVzAdXc\nxn9CYM/lwnOSvHN4KZLFX9SO8rzWu/vOZyPMffvqj/oozWUWPpLuPUfAa8wZI1Ms\nJeAEwSlSercHbhO0Hm6YRu5fxW/4g+g16d0UkV5fvJnvk3daqO33T4I/Xno7KRY/\nwmHIzCXSlV0sRbS8xa3MhfF9S+vikxbh1FnmgYlCB6KCBHFrALd8ThcCYOcdqZA6\nowMKVxgLwFqpD9/57sSi72ZML03ddfGByG5Zjmrg4BLxAgMBAAE=\n-----END PUBLIC KEY-----\n","algorithm":"CKM_RSA_AES_KEY_WRAP"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 866.183041ms
[...]
    - id: 36
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"wrapped_key":"bad-key-value"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption/b3cf2a61-38a5-4eeb-bcd6-c8d69efe23cd
        method: POST
      response:
        body: '{"statusCode":400,"error":"Bad Request","message":"Invalid input. Wrapped key material is invalid or unsupported key type.","errorCode":"invalid_body"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 460.044708ms
[...]
