---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"connection":"Username-Password-Authentication","email":"testaccuser@acceptance.test.com","username":"testaccuser","password":"passpass$12$12"}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"created_at":"2022-10-06T15:17:11.685Z","email":"testaccuser@acceptance.test.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"633ef177f307a3ac8b82994c","provider":"auth0","isSocial":false}],"name":"testaccuser@acceptance.test.com","nickname":"testaccuser","picture":"https://s.gravatar.com/avatar/324ad113b0ef6dabbb2c2c4cf8a8d108?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2022-10-06T15:17:11.685Z","user_id":"auth0|633ef177f307a3ac8b82994c","username":"testaccuser"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C633ef177f307a3ac8b82994c
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"created_at":"2022-10-06T15:17:11.685Z","email":"testaccuser@acceptance.test.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"633ef177f307a3ac8b82994c","provider":"auth0","isSocial":false}],"name":"testaccuser@acceptance.test.com","nickname":"testaccuser","picture":"https://s.gravatar.com/avatar/324ad113b0ef6dabbb2c2c4cf8a8d108?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2022-10-06T15:17:11.685Z","user_id":"auth0|633ef177f307a3ac8b82994c","username":"testaccuser"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 2
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C633ef177f307a3ac8b82994c/roles?include_totals=true&per_page=50
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"roles":[],"start":0,"limit":50,"total":0}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
  - id: 7
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"connection":"Username-Password-Authentication","name":"Firstname Lastname","given_name":"Firstname","family_name":"Lastname","nickname":"testaccuser","picture":"https://www.example.com/picture.jpg"}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C633ef177f307a3ac8b82994c
      method: PATCH
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"created_at":"2022-10-06T15:17:11.685Z","email":"testaccuser@acceptance.test.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"633ef177f307a3ac8b82994c","provider":"auth0","isSocial":false}],"name":"Firstname Lastname","nickname":"testaccuser","picture":"https://www.example.com/picture.jpg","updated_at":"2022-10-06T15:17:15.327Z","user_id":"auth0|633ef177f307a3ac8b82994c","username":"testaccuser","family_name":"Lastname","given_name":"Firstname"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
  - id: 14
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"owner","description":"Owner"}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"rol_4tZgxa89BCNg8qyh","name":"owner","description":"Owner"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 15
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_4tZgxa89BCNg8qyh
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"rol_4tZgxa89BCNg8qyh","name":"owner","description":"Owner"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 16
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_4tZgxa89BCNg8qyh/permissions?include_totals=true&page=0&per_page=50
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"permissions":[],"start":0,"limit":50,"total":0}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
  - id: 18
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_39VEU9kxz1iK1gQz
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"rol_39VEU9kxz1iK1gQz","name":"admin","description":"Administrator"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 19
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_39VEU9kxz1iK1gQz/permissions?include_totals=true&page=0&per_page=50
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"permissions":[],"start":0,"limit":50,"total":0}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 20
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"connection":"Username-Password-Authentication","name":"Firstname Lastname","given_name":"Firstname","family_name":"Lastname","nickname":"testaccuser","user_metadata":{"baz":"qux","foo":"bar"},"app_metadata":{"baz":"qux","foo":"bar"},"picture":"https://www.example.com/picture.jpg"}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C633ef177f307a3ac8b82994c
      method: PATCH
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"created_at":"2022-10-06T15:17:11.685Z","email":"testaccuser@acceptance.test.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"633ef177f307a3ac8b82994c","provider":"auth0","isSocial":false}],"name":"Firstname Lastname","nickname":"testaccuser","picture":"https://www.example.com/picture.jpg","updated_at":"2022-10-06T15:17:22.337Z","user_id":"auth0|633ef177f307a3ac8b82994c","username":"testaccuser","family_name":"Lastname","given_name":"Firstname","user_metadata":{"baz":"qux","foo":"bar"},"app_metadata":{"baz":"qux","foo":"bar"}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 21
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"roles":["rol_4tZgxa89BCNg8qyh","rol_39VEU9kxz1iK1gQz"]}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C633ef177f307a3ac8b82994c/roles
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: ""
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 204 No Content
      code: 204
      duration: 1ms
[...]
  - id: 38
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"roles":["rol_4tZgxa89BCNg8qyh"]}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C633ef177f307a3ac8b82994c/roles
      method: DELETE
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"statusCode":404,"error":"Not Found","message":"The role does not exist."}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 404 Not Found
      code: 404
      duration: 1ms
  - id: 39
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C633ef177f307a3ac8b82994c
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"statusCode":429,"error":"Too Many Requests","message":"Global limit has been reached","errorCode":"too_many_requests"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 429 Too Many Requests
      code: 429
      duration: 1ms
[...]
  - id: 51
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"connection":"Username-Password-Authentication","name":"Firstname Lastname","given_name":"Firstname","family_name":"Lastname","nickname":"testaccuser","user_metadata":{"foo":"barss","foo2":"bar2"},"app_metadata":{"foo":"barss","foo2":"bar2"},"picture":"https://www.example.com/picture.jpg"}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C633ef177f307a3ac8b82994c
      method: PATCH
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"created_at":"2022-10-06T15:17:11.685Z","email":"testaccuser@acceptance.test.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"633ef177f307a3ac8b82994c","provider":"auth0","isSocial":false}],"name":"Firstname Lastname","nickname":"testaccuser","picture":"https://www.example.com/picture.jpg","updated_at":"2022-10-06T15:17:38.493Z","user_id":"auth0|633ef177f307a3ac8b82994c","username":"testaccuser","family_name":"Lastname","given_name":"Firstname","user_metadata":{"foo":"barss","foo2":"bar2"},"app_metadata":{"foo":"barss","foo2":"bar2"}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
