---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance-Test-LogStream-sumo-TestAccLogStreamSumo","type":"sumo","sink":{"sumoSourceAddress":"demo.sumo.com"}}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"lst_0000000000010354","name":"Acceptance-Test-LogStream-sumo-TestAccLogStreamSumo","type":"sumo","status":"active","sink":{"sumoSourceAddress":"demo.sumo.com"}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000010354
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"lst_0000000000010354","name":"Acceptance-Test-LogStream-sumo-TestAccLogStreamSumo","type":"sumo","status":"active","sink":{"sumoSourceAddress":"demo.sumo.com"}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
  - id: 8
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance-Test-LogStream-sumo-TestAccLogStreamSumo","filters":[{"name":"auth.login.fail","type":"category"},{"name":"auth.signup.fail","type":"category"}],"sink":{"sumoSourceAddress":"prod.sumo.com"}}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000010354
      method: PATCH
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"lst_0000000000010354","name":"Acceptance-Test-LogStream-sumo-TestAccLogStreamSumo","type":"sumo","status":"active","sink":{"sumoSourceAddress":"prod.sumo.com"},"filters":[{"name":"auth.login.fail","type":"category"},{"name":"auth.signup.fail","type":"category"}]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
