---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-dd-import-testaccorgdiscoverydomainsimport","display_name":"Test Discovery Domains Import testaccorgdiscoverydomainsimport"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_rAlY3YAPIHHkQyQh","display_name":"Test Discovery Domains Import testaccorgdiscoverydomainsimport","name":"test-dd-import-testaccorgdiscoverydomainsimport"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 303.428166ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_rAlY3YAPIHHkQyQh
        method: GET
      response:
        body: '{"id":"org_rAlY3YAPIHHkQyQh","name":"test-dd-import-testaccorgdiscoverydomainsimport","display_name":"Test Discovery Domains Import testaccorgdiscoverydomainsimport"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 310.350625ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"testaccorgdiscoverydomainsimport-domain1.example.com","status":"pending"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_rAlY3YAPIHHkQyQh/discovery-domains
        method: POST
      response:
        body: '{"id":"ord_1czkk8tT3kyzMqXW9aoHjb","domain":"testaccorgdiscoverydomainsimport-domain1.example.com","status":"pending","verification_host":"_ss-verification.org_rAlY3YAPIHHkQyQh.testaccorgdiscoverydomainsimport-domain1.example.com","verification_txt":"b07aadc0d3f9179f120011273c6c12ad","use_for_organization_discovery":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 338.275709ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_rAlY3YAPIHHkQyQh/discovery-domains/ord_1czkk8tT3kyzMqXW9aoHjb
        method: GET
      response:
        body: '{"id":"ord_1czkk8tT3kyzMqXW9aoHjb","domain":"testaccorgdiscoverydomainsimport-domain1.example.com","status":"pending","verification_host":"_ss-verification.org_rAlY3YAPIHHkQyQh.testaccorgdiscoverydomainsimport-domain1.example.com","verification_txt":"b07aadc0d3f9179f120011273c6c12ad","use_for_organization_discovery":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 311.336667ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_rAlY3YAPIHHkQyQh/discovery-domains/ord_1czkk8wCf4KDNj6CpbAPnk
        method: GET
      response:
        body: '{"id":"ord_1czkk8wCf4KDNj6CpbAPnk","domain":"testaccorgdiscoverydomainsimport-domain2.example.com","status":"verified","verification_host":"_ss-verification.org_rAlY3YAPIHHkQyQh.testaccorgdiscoverydomainsimport-domain2.example.com","verification_txt":"ce1b15da7c054a03c57aa7dae895b1fc","use_for_organization_discovery":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 292.88475ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_rAlY3YAPIHHkQyQh/discovery-domains?take=100
        method: GET
      response:
        body: '{"domains":[{"id":"ord_1czkk8tT3kyzMqXW9aoHjb","domain":"testaccorgdiscoverydomainsimport-domain1.example.com","status":"pending","verification_host":"_ss-verification.org_rAlY3YAPIHHkQyQh.testaccorgdiscoverydomainsimport-domain1.example.com","verification_txt":"b07aadc0d3f9179f120011273c6c12ad","use_for_organization_discovery":true},{"id":"ord_1czkk8wCf4KDNj6CpbAPnk","domain":"testaccorgdiscoverydomainsimport-domain2.example.com","status":"verified","verification_host":"_ss-verification.org_rAlY3YAPIHHkQyQh.testaccorgdiscoverydomainsimport-domain2.example.com","verification_txt":"ce1b15da7c054a03c57aa7dae895b1fc","use_for_organization_discovery":true}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 300.881417ms
[...]
