---
version: 1
interactions:
- request:
    body: |
      {"name":"Acceptance-Test-Facebook-TestAccConnectionFacebook","strategy":"facebook","is_domain_connection":false,"options":{"client_id":"client_id","client_secret":"client_secret","email":true,"groups_access_member_info":true,"user_birthday":true,"public_profile":true,"non_persistent_attrs":null,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_9ePJZEvwF31ICzUu","options":{"client_id":"client_id","client_secret":"client_secret","email":true,"groups_access_member_info":true,"user_birthday":true,"public_profile":true,"non_persistent_attrs":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"scope":"email,groups_access_member_info,user_birthday,public_profile"},"strategy":"facebook","name":"Acceptance-Test-Facebook-TestAccConnectionFacebook","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Facebook-TestAccConnectionFacebook"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_9ePJZEvwF31ICzUu
    method: GET
  response:
    body: '{"id":"con_9ePJZEvwF31ICzUu","options":{"email":true,"scope":"email,groups_access_member_info,user_birthday,public_profile","client_id":"client_id","client_secret":"client_secret","user_birthday":true,"public_profile":true,"upstream_params":{"screen_name":{"alias":"login_hint"}},"non_persistent_attrs":null,"groups_access_member_info":true},"strategy":"facebook","name":"Acceptance-Test-Facebook-TestAccConnectionFacebook","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Facebook-TestAccConnectionFacebook"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_9ePJZEvwF31ICzUu
    method: DELETE
  response:
    body: '{"deleted_at":"2022-07-12T14:56:41.121Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
