---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"Auth0 Managed - TestAccNetworkACLAuth0Managed","active":true,"priority":7,"rule":{"action":{"block":true},"match":{"auth0_managed":["auth0.icloud_relay_proxy"]},"scope":"authentication"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls
        method: POST
      response:
        body: '{"description":"Auth0 Managed - TestAccNetworkACLAuth0Managed","active":true,"priority":7,"rule":{"match":{"auth0_managed":["auth0.icloud_relay_proxy"]},"scope":"authentication","action":{"block":true}},"created_at":"2026-07-29T13:13:13.888Z","updated_at":"2026-07-29T13:13:13.888Z","id":"acl_mqcMfLgqMzbApocJmVJuJ3"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 327.786375ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_mqcMfLgqMzbApocJmVJuJ3
        method: GET
      response:
        body: '{"tenant_id":"terraform-provider-auth0-dev","description":"Auth0 Managed - TestAccNetworkACLAuth0Managed","active":true,"priority":7,"rule":{"match":{"auth0_managed":["auth0.icloud_relay_proxy"]},"scope":"authentication","action":{"block":true}},"created_at":"2026-07-29T13:13:13.888Z","updated_at":"2026-07-29T13:13:13.888Z","deleted_at":null,"id":"acl_mqcMfLgqMzbApocJmVJuJ3"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 319.369084ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"Auth0 Managed NotMatch - TestAccNetworkACLAuth0Managed","active":true,"priority":7,"rule":{"action":{"allow":true},"not_match":{"auth0_managed":["auth0.low_reputation"]},"scope":"authentication"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_mqcMfLgqMzbApocJmVJuJ3
        method: PUT
      response:
        body: '{"description":"Auth0 Managed NotMatch - TestAccNetworkACLAuth0Managed","active":true,"priority":7,"rule":[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_mqcMfLgqMzbApocJmVJuJ3
        method: DELETE
      response:
        body: '{"code":204,"object":""}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.320001458s
