---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"PasswordHashAction","supported_triggers":[{"id":"password-hash-migration","version":"v1"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node22"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"355d50dc-cc21-49ae-a0e5-4f427e8f51b3","name":"PasswordHashAction","supported_triggers":[{"id":"password-hash-migration","version":"v1"}],"created_at":"2026-06-03T12:30:23.520198210Z","updated_at":"2026-06-03T12:30:23.526050483Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node22","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 333.016333ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/355d50dc-cc21-49ae-a0e5-4f427e8f51b3
        method: GET
      response:
        body: '{"id":"355d50dc-cc21-49ae-a0e5-4f427e8f51b3","name":"PasswordHashAction","supported_triggers":[{"id":"password-hash-migration","version":"v1"}],"created_at":"2026-06-03T12:30:23.520198210Z","updated_at":"2026-06-03T12:30:23.526050483Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node22","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 315.254ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/355d50dc-cc21-49ae-a0e5-4f427e8f51b3/deploy
        method: POST
      response:
        body: '{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"62aae829-ab27-4535-baf9-b1591de410ba","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2026-06-03T12:30:24.155063540Z","updated_at":"2026-06-03T12:30:24.155063540Z","runtime":"node22","supported_triggers":[{"id":"password-hash-migration","version":"v1"}],"action":{"id":"355d50dc-cc21-49ae-a0e5-4f427e8f51b3","name":"PasswordHashAction","supported_triggers":[{"id":"password-hash-migration","version":"v1"}],"created_at":"2026-06-03T12:30:23.520198210Z","updated_at":"2026-06-03T12:30:23.520198210Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 321.246833ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/355d50dc-cc21-49ae-a0e5-4f427e8f51b3
        method: GET
      response:
        body: '{"id":"355d50dc-cc21-49ae-a0e5-4f427e8f51b3","name":"PasswordHashAction","supported_triggers":[{"id":"password-hash-migration","version":"v1"}],"created_at":"2026-06-03T12:30:23.520198210Z","updated_at":"2026-06-03T12:30:23.526050483Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node22","status":"built","secrets":[],"current_version":{"id":"62aae829-ab27-4535-baf9-b1591de410ba","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node22","status":"BUILT","number":1,"build_time":"2026-06-03T12:30:24.253191208Z","created_at":"2026-06-03T12:30:24.155063540Z","updated_at":"2026-06-03T12:30:24.254255721Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"62aae829-ab27-4535-baf9-b1591de410ba","deployed":true,"number":1,"built_at":"2026-06-03T12:30:24.253191208Z","secrets":[],"status":"built","created_at":"2026-06-03T12:30:24.155063540Z","updated_at":"2026-06-03T12:30:24.254255721Z","runtime":"node22","supported_triggers":[{"id":"password-hash-migration","version":"v1"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 286.135375ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"PasswordHashConn","strategy":"auth0","options":{"custom_password_hash":{"action_id":"355d50dc-cc21-49ae-a0e5-4f427e8f51b3"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_d6PeekX266daWpyo","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","custom_password_hash":{"action_id":"355d50dc-cc21-49ae-a0e5-4f427e8f51b3"},"strategy_version":2,"authentication_methods":{"password":{"enabled":true,"api_behavior":"required","signup_behavior":"allow"},"passkey":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true},"brute_force_protection":true},"strategy":"auth0","name":"PasswordHashConn","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["PasswordHashConn"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 396.783083ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_d6PeekX266daWpyo
        method: GET
      response:
        body: '{"id":"con_d6PeekX266daWpyo","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"strategy_version":2,"custom_password_hash":{"action_id":"355d50dc-cc21-49ae-a0e5-4f427e8f51b3"},"authentication_methods":{"passkey":{"enabled":false},"password":{"enabled":true,"api_behavior":"required","signup_behavior":"allow"}},"brute_force_protection":true},"strategy":"auth0","name":"PasswordHashConn","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["PasswordHashConn"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 302.799125ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_d6PeekX266daWpyo
        method: DELETE
      response:
        body: '{"deleted_at":"2026-06-03T12:30:27.526Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 326.660125ms
[...]
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/password-hash-migration/bindings?page=0&per_page=100
        method: GET
      response:
        body: '{"bindings":[],"per_page":100}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 279.536792ms
[...]
