---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions?actionName=random-name&per_page=50
        method: GET
      response:
        body: '{"actions":[],"per_page":50}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 317.071958ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/09ee2b9b-282d-4a65-87d1-f01adf007745
        method: GET
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"That action does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 325.190125ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccDataSourceAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {};","runtime":"node22"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"573625a3-e361-4696-85ad-24c56d96a30c","name":"Test Action TestAccDataSourceAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T10:30:59.650492329Z","updated_at":"2026-05-29T10:30:59.660758982Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node22","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 332.893917ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions?actionName=Test+Action+TestAccDataSourceAction&per_page=50
        method: GET
      response:
        body: '{"actions":[{"id":"573625a3-e361-4696-85ad-24c56d96a30c","name":"Test Action TestAccDataSourceAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T10:30:59.650492329Z","updated_at":"2026-05-29T10:30:59.660758982Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node22","status":"built","secrets":[],"all_changes_deployed":false}],"total":1,"per_page":50}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 298.793667ms
[...]
    - id: 14
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?page=0&per_page=100
        method: GET
      response:
        body: '{"bindings":[{"id":"2e4b7679-2ab6-4e8a-ad6a-d13020e46662","trigger_id":"post-login","action":{"id":"1d1a81d6-e70e-4423-8603-11f8567b8047","name":"Test Action Delete With Unbind TestAccActionDeleteWithUnbind","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T10:24:08.707710035Z","updated_at":"2026-05-29T10:24:08.707710035Z","current_version":{"id":"fe5f7c5a-c492-41a5-9915-a71a18c3375b","code":"exports.onExecutePostLogin = async (event, api) => {};","runtime":"node18-actions","status":"BUILT","number":1,"build_time":"2026-05-29T10:24:09.420278255Z","created_at":"2026-05-29T10:24:09.344837727Z","updated_at":"2026-05-29T10:24:09.421303642Z"},"deployed_version":{"code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"id":"fe5f7c5a-c492-41a5-9915-a71a18c3375b","deployed":true,"number":1,"built_at":"2026-05-29T10:24:09.420278255Z","secrets":[],"status":"built","created_at":"2026-05-29T10:24:09.344837727Z","updated_at":"2026-05-29T10:24:09.421303642Z","runtime":"node18-actions","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":false},"created_at":"2026-05-29T10:24:10.275890800Z","updated_at":"2026-05-29T10:24:10.275890800Z","display_name":"Test Action Delete With Unbind TestAccActionDeleteWithUnbind"}],"total":1,"per_page":100}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 367.40825ms
    - id: 15
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?page=1&per_page=100
        method: GET
      response:
        body: '{"bindings":[],"page":1,"per_page":100}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 357.469125ms
[...]
