---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Directory-SyncGroups-TestAccDirectorySynchronizedGroupsDataSource","display_name":"Acceptance-Test-Directory-SyncGroups-TestAccDirectorySynchronizedGroupsDataSource","strategy":"google-apps","is_domain_connection":false,"show_as_button":false,"options":{"client_id":"","client_secret":"","domain":"example.com","tenant_domain":"example.com","ext_profile":true,"ext_groups":true,"api_enable_users":true,"api_enable_groups":true,"set_user_root_attributes":"on_first_login","map_user_id_to_id":true,"domain_aliases":["api.example.com","example.com"],"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_VgFmP55e5swk6gqd","options":{"client_id":"","client_secret":"","domain":"example.com","tenant_domain":"example.com","ext_profile":true,"ext_groups":true,"api_enable_users":true,"api_enable_groups":true,"set_user_root_attributes":"on_first_login","map_user_id_to_id":true,"domain_aliases":["api.example.com","example.com"],"upstream_params":{"screen_name":{"alias":"login_hint"}},"email":true,"profile":true,"scope":["email","profile"],"handle_login_from_social":true},"strategy":"google-apps","name":"Acceptance-Test-Directory-SyncGroups-TestAccDirectorySynchronizedGroupsDataSource","provisioning_ticket_url":"https://login.us.auth0.com/terraform-provider-auth0-dev/p/google-apps/kWVB2pUxgBfTDXZx7c3Bbbf4cGdkKtpb","is_domain_connection":false,"show_as_button":false,"authentication":{"active":true},"connected_accounts":{"active":false},"display_name":"Acceptance-Test-Directory-SyncGroups-TestAccDirectorySynchronizedGroupsDataSource","enabled_clients":[],"realms":["Acceptance-Test-Directory-SyncGroups-TestAccDirectorySynchronizedGroupsDataSource"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 450.99025ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_VgFmP55e5swk6gqd
        method: GET
      response:
        body: '{"id":"con_VgFmP55e5swk6gqd","options":{"email":true,"scope":["email","profile"],"domain":"example.com","profile":true,"client_id":"","ext_groups":true,"ext_profile":true,"client_secret":"","tenant_domain":"example.com","domain_aliases":["api.example.com","example.com"],"upstream_params":{"screen_name":{"alias":"login_hint"}},"api_enable_users":true,"api_enable_groups":true,"map_user_id_to_id":true,"handle_login_from_social":true,"set_user_root_attributes":"on_first_login"},"strategy":"google-apps","name":"Acceptance-Test-Directory-SyncGroups-TestAccDirectorySynchronizedGroupsDataSource","provisioning_ticket_url":"https://login.us.auth0.com/terraform-provider-auth0-dev/p/google-apps/kWVB2pUxgBfTDXZx7c3Bbbf4cGdkKtpb","is_domain_connection":false,"show_as_button":false,"authentication":{"active":true},"connected_accounts":{"active":false},"display_name":"Acceptance-Test-Directory-SyncGroups-TestAccDirectorySynchronizedGroupsDataSource","realms":["Acceptance-Test-Directory-SyncGroups-TestAccDirectorySynchronizedGroupsDataSource"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 311.461208ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"synchronize_groups":"selected"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_VgFmP55e5swk6gqd/directory-provisioning
        method: POST
      response:
        body: '{"connection_id":"con_VgFmP55e5swk6gqd","connection_name":"Acceptance-Test-Directory-SyncGroups-TestAccDirectorySynchronizedGroupsDataSource","strategy":"google-apps","mapping":[{"idp":"id","auth0":"app_metadata.external_id"},{"idp":"primaryEmail","auth0":"email"},{"idp":"primaryEmail","auth0":"primaryEmail"},{"idp":"name.fullName","auth0":"name"},{"idp":"name.givenName","auth0":"given_name"},{"idp":"name.familyName","auth0":"family_name"},{"idp":"isAdmin","auth0":"isAdmin"},{"idp":"isAdmin","auth0":"is_admin"},{"idp":"isDelegatedAdmin","auth0":"isDelegatedAdmin"},{"idp":"agreedToTerms","auth0":"agreedToTerms"},{"idp":"agreedToTerms","auth0":"tou_accepted"},{"idp":"suspended","auth0":"susp[...]
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"groups":[{"id":"group2def"},{"id":"group1abc"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_VgFmP55e5swk6gqd/directory-provisioning/synchronized-groups
        method: PUT
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 332.636917ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_VgFmP55e5swk6gqd/directory-provisioning/synchronized-groups?take=50
        method: GET
      response:
        body: '{"groups":[{"id":"group1abc"},{"id":"group2def"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 303.279125ms
[...]
    - id: 14
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_VgFmP55e5swk6gqd
        method: DELETE
      response:
        body: '{"deleted_at":"2026-08-12T13:29:54.813Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 309.824ms
