---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-testaccorganizationdiscoverydomain","display_name":"Test Organization testaccorganizationdiscoverydomain"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_4pTe85B1o6LuWsC6","display_name":"Test Organization testaccorganizationdiscoverydomain","name":"test-testaccorganizationdiscoverydomain"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 356.180167ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_4pTe85B1o6LuWsC6
        method: GET
      response:
        body: '{"id":"org_4pTe85B1o6LuWsC6","name":"test-testaccorganizationdiscoverydomain","display_name":"Test Organization testaccorganizationdiscoverydomain"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 316.257708ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"testaccorganizationdiscoverydomain.example.com","status":"pending","use_for_organization_discovery":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_4pTe85B1o6LuWsC6/discovery-domains
        method: POST
      response:
        body: '{"id":"ord_1cwAngr3usy8YKuTc3UGn3","domain":"testaccorganizationdiscoverydomain.example.com","status":"pending","verification_host":"_ss-verification.org_4pTe85B1o6LuWsC6.testaccorganizationdiscoverydomain.example.com","verification_txt":"c2a88a6a2b660240f313e91cae16bd06","use_for_organization_discovery":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 335.202458ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_4pTe85B1o6LuWsC6/discovery-domains/ord_1cwAngr3usy8YKuTc3UGn3
        method: GET
      response:
        body: '{"id":"ord_1cwAngr3usy8YKuTc3UGn3","domain":"testaccorganizationdiscoverydomain.example.com","status":"pending","verification_host":"_ss-verification.org_4pTe85B1o6LuWsC6.testaccorganizationdiscoverydomain.example.com","verification_txt":"c2a88a6a2b660240f313e91cae16bd06","use_for_organization_discovery":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 331.139208ms
[...]
