---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"test-module-testaccactionmoduleversiondatasource","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules
        method: POST
      response:
        body: '{"id":"d61f618f-9c59-47a9-8ea0-55ce56ffc195","name":"test-module-testaccactionmoduleversiondatasource","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[],"all_changes_published":false,"actions_using_module_total":0,"created_at":"2026-09-16T05:14:40.173717Z","updated_at":"2026-09-16T05:14:40.173717Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 331.475417ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/d61f618f-9c59-47a9-8ea0-55ce56ffc195/versions
        method: POST
      response:
        body: '{"id":"3cf816d2-f2d8-434a-bddf-fee97627d090","module_id":"d61f618f-9c59-47a9-8ea0-55ce56ffc195","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","secrets":[],"dependencies":[],"created_at":"2026-09-16T05:14:40.513182Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 325.874583ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/d61f618f-9c59-47a9-8ea0-55ce56ffc195
        method: GET
      response:
        body: '{"id":"d61f618f-9c59-47a9-8ea0-55ce56ffc195","name":"test-module-testaccactionmoduleversiondatasource","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[],"all_changes_published":true,"actions_using_module_total":0,"created_at":"2026-09-16T05:14:40.173717Z","updated_at":"2026-09-16T05:14:40.173717Z","latest_version":{"id":"3cf816d2-f2d8-434a-bddf-fee97627d090","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 296.996709ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/d61f618f-9c59-47a9-8ea0-55ce56ffc195/versions?page=0&per_page=50
        method: GET
      response:
        body: '{"versions":[{"id":"3cf816d2-f2d8-434a-bddf-fee97627d090","module_id":"d61f618f-9c59-47a9-8ea0-55ce56ffc195","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","secrets":[],"dependencies":[],"created_at":"2026-09-16T05:14:40.513182Z"}],"total":1,"page":0,"per_page":50}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 311.982042ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/d61f618f-9c59-47a9-8ea0-55ce56ffc195/versions/3cf816d2-f2d8-434a-bddf-fee97627d090
        method: GET
      response:
        body: '{"id":"3cf816d2-f2d8-434a-bddf-fee97627d090","module_id":"d61f618f-9c59-47a9-8ea0-55ce56ffc195","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","secrets":[],"dependencies":[],"created_at":"2026-09-16T05:14:40.513182Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 297.874041ms
[...]
