version: 2
interactions:
- id: 0
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
    method: POST
  response:
    body: '{"id":"org_DSCGO01","name":"test-org-TestAccDataSourceClientGrantOrganizations","display_name":"Test
      Org TestAccDataSourceClientGrantOrganizations","is_app_entitlement_active":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- id: 1
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
    method: POST
  response:
    body: '{"id":"rs_DSCGO01","name":"Acceptance Test - TestAccDataSourceClientGrantOrganizations","identifier":"https://api.TestAccDataSourceClientGrantOrganizations.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- id: 2
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
    method: POST
  response:
    body: '{"client_id":"clientDSCGO01","name":"test-client-TestAccDataSourceClientGrantOrganizations"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- id: 3
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_DSCGO01
    method: GET
  response:
    body: '{"id":"org_DSCGO01","name":"test-org-TestAccDataSourceClientGrantOrganizations","display_name":"Test
      Org TestAccDataSourceClientGrantOrganizations","is_app_entitlement_active":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- id: 4
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/rs_DSCGO01
    method: GET
  response:
    body: '{"id":"rs_DSCGO01","name":"Acceptance Test - TestAccDataSourceClientGrantOrganizations","identifier":"https://api.TestAccDataSourceClientGrantOrganizations.com/"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- id: 5
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/clientDSCGO01
    method: GET
  response:
    body: '{"client_id":"clientDSCGO01","name":"test-client-TestAccDataSourceClientGrantOrganizations"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- id: 12
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants?audience=https%3A%2F%2Fapi.TestAccDataSourceClientGrantOrganizations.com%2F&client_id=clientDSCGO01&include_totals=true&per_page=50
    method: GET
  response:
    body: '{"client_grants":[],"start":0,"limit":50,"total":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- id: 13
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants
    method: POST
  response:
    body: '{"id":"cgrDSCGO01","client_id":"clientDSCGO01","audience":"https://api.TestAccDataSourceClientGrantOrganizations.com/","scope":[],"allow_any_organization":true,"organization_usage":"allow"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- id: 14
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants/cgrDSCGO01
    method: GET
  response:
    body: '{"id":"cgrDSCGO01","client_id":"clientDSCGO01","audience":"https://api.TestAccDataSourceClientGrantOrganizations.com/","scope":[],"allow_any_organization":true,"organization_usage":"allow"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- id: 17
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: '{"grant_id":"cgrDSCGO01"}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_DSCGO01/client-grants
    method: POST
  response:
    body: '{"grant_id":"cgrDSCGO01"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- id: 18
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_DSCGO01/client-grants?include_totals=true&per_page=50
    method: GET
  response:
    body: '{"client_grants":[{"id":"cgrDSCGO01","client_id":"clientDSCGO01","audience":"https://api.TestAccDataSourceClientGrantOrganizations.com/","scope":[],"organization_usage":"allow","allow_any_organization":true,"subject_type":"client"}],"start":0,"limit":50,"total":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- id: 21
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants/cgrDSCGO01/organizations?include_totals=true&take=50
    method: GET
  response:
    body: '{"organizations":[{"id":"org_DSCGO01","name":"test-org-TestAccDataSourceClientGrantOrganizations","display_name":"Test
      Org TestAccDataSourceClientGrantOrganizations","third_party_client_access":"block","is_app_entitlement_active":true,"branding":{"logo_url":"https://example.com/logo.png","colors":{"primary":"#000000","page_background":"#ffffff"}},"metadata":{"team":"acme"},"token_quota":{"client_credentials":{"enforce":true,"per_hour":100,"per_day":1000}}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- id: 31
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_DSCGO01/client-grants/cgrDSCGO01
    method: DELETE
  response:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 204 No Content
    code: 204
    duration: 1ms
[...]
