---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"Test Module TestAccActionModuleVersionsDataSource","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules
        method: POST
      response:
        body: '{"id":"ec850166-e024-4a9d-b822-2e0b515c4292","name":"Test Module TestAccActionModuleVersionsDataSource","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[],"all_changes_published":false,"actions_using_module_total":0,"created_at":"2026-02-16T16:37:06.395478Z","updated_at":"2026-02-16T16:37:06.395478Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.402290333s
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/ec850166-e024-4a9d-b822-2e0b515c4292/versions
        method: POST
      response:
        body: '{"id":"3908bf79-44c9-4e83-91d3-f67f3d5f268d","module_id":"ec850166-e024-4a9d-b822-2e0b515c4292","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","secrets":[],"dependencies":[],"created_at":"2026-02-16T16:37:07.838451Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 902.918625ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/ec850166-e024-4a9d-b822-2e0b515c4292
        method: GET
      response:
        body: '{"id":"ec850166-e024-4a9d-b822-2e0b515c4292","name":"Test Module TestAccActionModuleVersionsDataSource","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[],"all_changes_published":true,"actions_using_module_total":0,"created_at":"2026-02-16T16:37:06.395478Z","updated_at":"2026-02-16T16:37:06.395478Z","latest_version":{"id":"3908bf79-44c9-4e83-91d3-f67f3d5f268d","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 350.796416ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/ec850166-e024-4a9d-b822-2e0b515c4292/versions?page=0&per_page=50
        method: GET
      response:
        body: '{"versions":[{"id":"3908bf79-44c9-4e83-91d3-f67f3d5f268d","module_id":"ec850166-e024-4a9d-b822-2e0b515c4292","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","secrets":[],"dependencies":[],"created_at":"2026-02-16T16:37:07.838451Z"}],"total":1,"page":0,"per_page":50}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 930.219917ms
[...]
