---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-org-role-testaccroleorganizationlevel","display_name":"Zion - Acceptance Test - testaccroleorganizationlevel"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_9LIhThtTjpUtNUWU","display_name":"Zion - Acceptance Test - testaccroleorganizationlevel","name":"test-org-role-testaccroleorganizationlevel","third_party_client_access":"block","is_app_entitlement_active":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 378.856792ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_9LIhThtTjpUtNUWU
        method: GET
      response:
        body: '{"id":"org_9LIhThtTjpUtNUWU","name":"test-org-role-testaccroleorganizationlevel","display_name":"Zion - Acceptance Test - testaccroleorganizationlevel","third_party_client_access":"block","is_app_entitlement_active":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 324.178666ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"The Operator - Acceptance Test - testaccroleorganizationlevel","description":"The Operator - Acceptance Test","type":"organization","owner_id":"org_9LIhThtTjpUtNUWU"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles
        method: POST
      response:
        body: '{"id":"rol_ylRC1rSe1q6oQbGT","name":"The Operator - Acceptance Test - testaccroleorganizationlevel","description":"The Operator - Acceptance Test","type":"organization","owner_id":"org_9LIhThtTjpUtNUWU"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 339.657709ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_ylRC1rSe1q6oQbGT
        method: GET
      response:
        body: '{"id":"rol_ylRC1rSe1q6oQbGT","name":"The Operator - Acceptance Test - testaccroleorganizationlevel","description":"The Operator - Acceptance Test","type":"organization","owner_id":"org_9LIhThtTjpUtNUWU"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 311.76675ms
[...]
