---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {};","dependencies":[],"secrets":[]}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"0c950db9-7a0f-4a1c-9353-e89f95f3962d","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-09-21T16:40:31.748856843Z","updated_at":"2022-09-21T16:40:31.759960252Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node16","status":"pending","secrets":[],"all_changes_deployed":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/0c950db9-7a0f-4a1c-9353-e89f95f3962d
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"0c950db9-7a0f-4a1c-9353-e89f95f3962d","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-09-21T16:40:31.748856843Z","updated_at":"2022-09-21T16:40:31.759960252Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node16","status":"built","secrets":[],"all_changes_deployed":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
  - id: 5
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node16","secrets":[{"name":"foo","value":"111111"}]}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/0c950db9-7a0f-4a1c-9353-e89f95f3962d
      method: PATCH
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"0c950db9-7a0f-4a1c-9353-e89f95f3962d","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-09-21T16:40:31.748856843Z","updated_at":"2022-09-21T16:40:33.616075170Z","code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node16","status":"pending","secrets":[{"name":"foo","updated_at":"2022-09-21T16:40:33.616075170Z"}],"all_changes_deployed":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
  - id: 12
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/0c950db9-7a0f-4a1c-9353-e89f95f3962d/deploy
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"id":"73bd14de-7a17-4995-bc03-0635857a95ec","deployed":false,"number":1,"secrets":[{"name":"foo","updated_at":"2022-09-21T16:40:33.616075170Z"}],"status":"built","created_at":"2022-09-21T16:40:50.224688226Z","updated_at":"2022-09-21T16:40:50.224688226Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v3"}],"action":{"id":"0c950db9-7a0f-4a1c-9353-e89f95f3962d","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-09-21T16:40:31.748856843Z","updated_at":"2022-09-21T16:40:33.607278137Z","all_changes_deployed":false}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 13
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/0c950db9-7a0f-4a1c-9353-e89f95f3962d
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"0c950db9-7a0f-4a1c-9353-e89f95f3962d","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-09-21T16:40:31.748856843Z","updated_at":"2022-09-21T16:40:33.616075170Z","code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node16","status":"built","secrets":[{"name":"foo","updated_at":"2022-09-21T16:40:33.616075170Z"}],"current_version":{"id":"73bd14de-7a17-4995-bc03-0635857a95ec","code":"exports.onContinuePostLogin = async (event, api) => {};","runtime":"node16","status":"BUILT","number":1,"build_time":"2022-09-21T16:40:50.304564446Z","created_at":"2022-09-21T16:40:50.224688226Z","updated_at":"2022-09-21T16:40:50.304956443Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"id":"73bd14de-7a17-4995-bc03-0635857a95ec","deployed":true,"number":1,"built_at":"2022-09-21T16:40:50.304564446Z","secrets":[{"name":"foo","updated_at":"2022-09-21T16:40:33.616075170Z"}],"status":"built","created_at":"2022-09-21T16:40:50.224688226Z","updated_at":"2022-09-21T16:40:50.304956443Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
