---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/themes/default
        method: GET
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"There was an error retrieving branding settings: invalid theme ID","errorCode":"theme_not_found"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 99.227917ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"borders":{"button_border_radius":3,"button_border_weight":1,"buttons_style":"rounded","input_border_radius":3,"input_border_weight":1,"inputs_style":"rounded","show_widget_shadow":true,"widget_border_weight":0,"widget_corner_radius":5},"colors":{"base_focus_color":"#635dff","base_hover_color":"#000000","body_text":"#1e212a","error":"#d03c38","header":"#1e212a","icons":"#65676e","input_background":"#ffffff","input_border":"#c9cace","input_filled_text":"#000000","input_labels_placeholders":"#65676e","links_focused_components":"#635dff","primary_button":"#635dff","primary_button_label":"#ffffff","secondary_button_border":"#c9cace","secondary_button_label":"#1e212a","success":"#13a688","widget_background":"#ffffff","widget_border":"#c9cace"},"fonts":{"body_text":{"bold":false,"size":87.5},"buttons_text":{"bold":false,"size":100},"font_url":"","input_labels":{"bold":false,"size":100},"links":{"bold":true,"size":87.5},"links_style":"normal","reference_text_size":16,"subtitle":{"bold":false,"size":87.5},"title":{"bold":false,"size":150}},"page_background":{"background_color":"#000000","background_image_url":"","page_layout":"center"},"widget":{"header_text_alignment":"center","logo_height":52,"logo_position":"center","logo_url":"","social_buttons_layout":"bottom"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/themes
        method: POST
      response:
        body: '{"borders":{"button_border_radius":3,"button_border_weight":1,"buttons_style":"rounded","input_border_radius":3,"input_border_weight":1,"inputs_style":"rounded","show_widget_shadow":true,"widget_border_weight":0,"widget_corner_radius":5},"colors":{"base_fo[...]
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"borders":{"button_border_radius":1.1,"button_border_weight":1.34,"buttons_style":"pill","input_border_radius":3.2,"input_border_weight":1.99,"inputs_style":"pill","show_widget_shadow":false,"widget_border_weight":1.11,"widget_corner_radius":3.57},"colors":{"base_focus_color":"#635dff","base_hover_color":"#000000","body_text":"#FF00CC","error":"#FF00CC","header":"#FF00CC","icons":"#FF0[...]
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"displayName":"My branding","borders":{"button_border_radius":2,"button_border_weight":2,"buttons_style":"pill","input_border_radius":2,"input_border_weight":2,"inputs_style":"pill","show_widget_shadow":true,"widget_border_weight":2,"widget_corner_radius":2},"colors":{"base_focus_color":"#BBBBBB","base_hover_color":"#CCCCCC","body_text":"#00FF00","error":"#00FF00","header":"#00FF00","icons":"#00FF00","input_background":"#00FF00","input_border":"#00FF00","input_filled_text":"#00FF00","input_labels_placeholders[...]
[...]
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/themes/fxmAUvKuVANjZlMYcRf2464QTgE55fLl
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 89.133584ms
