---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {};"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"5e34493d-1a6b-4f98-a441-87094fff14f7","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T10:45:58.888947671Z","updated_at":"2026-05-29T10:45:58.899254176Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node22","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 385.366416ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/5e34493d-1a6b-4f98-a441-87094fff14f7
        method: GET
      response:
        body: '{"id":"5e34493d-1a6b-4f98-a441-87094fff14f7","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T10:45:58.888947671Z","updated_at":"2026-05-29T10:45:58.899254176Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node22","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 392.006208ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node18-actions","secrets":[{"name":"foo","value":"111111"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/5e34493d-1a6b-4f98-a441-87094fff14f7
        method: PATCH
      response:
        body: '{"id":"5e34493d-1a6b-4f98-a441-87094fff14f7","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T10:45:58.888947671Z","updated_at":"2026-05-29T10:46:02.594769258Z","code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node18-actions","status":"pending","secrets":[{"name":"foo","updated_at":"2026-05-29T10:46:02.594769258Z"}],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 379.564875ms
[...]
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/5e34493d-1a6b-4f98-a441-87094fff14f7/deploy
        method: POST
      response:
        body: '{"code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"id":"b5c29fd6-1270-4bf2-b389-49dfb8299b5a","deployed":false,"number":1,"secrets":[{"name":"foo","updated_at":"2026-05-29T10:46:02.594769258Z"}],"status":"built","created_at":"2026-05-29T10:46:12.322569209Z","updated_at":"2026-05-29T10:46:12.322569209Z","runtime":"node18-actions","supported_triggers":[{"id":"post-login","version":"v3"}],"action":{"id":"5e34493d-1a6b-4f98-a441-87094fff14f7","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T10:45:58.888947671Z","updated_at":"2026-05-29T10:46:02.589702814Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 391.118ms
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/5e34493d-1a6b-4f98-a441-87094fff14f7
        method: GET
      response:
        body: '{"id":"5e34493d-1a6b-4f98-a441-87094fff14f7","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T10:45:58.888947671Z","updated_at":"2026-05-29T10:46:02.594769258Z","code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node18-actions","status":"built","secrets":[{"name":"foo","updated_at":"2026-05-29T10:46:02.594769258Z"}],"current_version":{"id":"b5c29fd6-1270-4bf2-b389-49dfb8299b5a","code":"exports.onContinuePostLogin = async (event, api) => {};","runtime":"node18-actions","status":"BUILT","number":1,"build_time":"2026-05-29T10:46:12.462725442Z","created_at":"2026-05-29T10:46:12.322569209Z","updated_at":"2026-05-29T10:46:12.463228055Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"id":"b5c29fd6-1270-4bf2-b389-49dfb8299b5a","deployed":true,"number":1,"built_at":"2026-05-29T10:46:12.462725442Z","secrets":[{"name":"foo","updated_at":"2026-05-29T10:46:02.594769258Z"}],"status":"built","created_at":"2026-05-29T10:46:12.322569209Z","updated_at":"2026-05-29T10:46:12.463228055Z","runtime":"node18-actions","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 365.657208ms
[...]
    - id: 45
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?page=0&per_page=100
        method: GET
      response:
        body: '{"bindings":[{"id":"8f8dd50a-6407-4dc0-97fb-6a9d8c3bfe50","trigger_id":"post-login","action":{"id":"ab9310b4-5f8c-46ef-a65a-73e29ed7294e","name":"Test Action Delete With Unbind TestAccAction_DeleteWithUnbind","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T10:38:54.448455431Z","updated_at":"2026-05-29T10:38:54.448455431Z","current_version":{"id":"6504f669-326a-4264-8e42-1e7e25de11e1","code":"exports.onExecutePostLogin = async (event, api) => {};","runtime":"node18-actions","status":"BUILT","number":1,"build_time":"2026-05-29T10:38:55.220929882Z","created_at":"2026-05-29T10:38:55.115894223Z","updated_at":"2026-05-29T10:38:55.222070791Z"},"deployed_version":{"code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"id":"6504f669-326a-4264-8e42-1e7e25de11e1","deployed":true,"number":1,"built_at":"2026-05-29T10:38:55.220929882Z","secrets":[],"status":"built","created_at":"2026-05-29T10:38:55.115894223Z","updated_at":"2026-05-29T10:38:55.222070791Z","runtime":"node18-actions","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":false},"created_at":"2026-05-29T10:38:56.165330444Z","updated_at":"2026-05-29T10:38:56.165330444Z","display_name":"Test Action Delete With Unbind TestAccAction_DeleteWithUnbind"}],"total":1,"per_page":100}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 312.331208ms
    - id: 46
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?page=1&per_page=100
        method: GET
      response:
        body: '{"bindings":[],"page":1,"per_page":100}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 375.285791ms
[...]
