---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Connection-TestAccConnectionOptionsAttrPhoneNumber","strategy":"auth0","is_domain_connection":true,"options":{"brute_force_protection":true,"requires_username":false,"authentication_methods":{"password":{"enabled":true},"passkey":{"enabled":false},"email_otp":{"enabled":true},"phone_otp":{"enabled":true}},"precedence":["username","email","phone_number"],"attributes":{"phone_number":{"identifier":{"active":true,"default_method":"password"},"profile_required":true,"signup":{"status":"required","verification":{"active":false}}}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_iw9IOOdInxR0DkUF","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","brute_force_protection":true,"requires_username":false,"authentication_methods":{"password":{"enabled":true,"api_behavior":"required","signup_behavior":"allow"},"passkey":{"enabled":false},"email_otp":{"enabled":true},"phone_otp":{"enabled":true}},"precedence":["username","email","phone_number"],"attributes":{"phone_number":{"identifier":{"active":true,"default_method":"password"},"profile_required":true,"signup":{"status":"required","verification":{"active":false}}}},"strategy_version":2,"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true}},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionOptionsAttrPhoneNumber","is_domain_connection":true,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionOptionsAttrPhoneNumber"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 423.271583ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_iw9IOOdInxR0DkUF
        method: GET
      response:
        body: '{"id":"con_iw9IOOdInxR0DkUF","options":{"mfa":{"active":true,"return_enroll_settings":true},"attributes":{"phone_number":{"signup":{"status":"required","verification":{"active":false}},"identifier":{"active":true,"default_method":"password"},"profile_required":true}},"precedence":["username","email","phone_number"],"passwordPolicy":"good","passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"strategy_version":2,"requires_username":false,"authentication_methods":{"passkey":{"enabled":false},"password":{"enabled":true,"api_behavior":"required","signup_behavior":"allow"},"email_otp":{"enabled":true},"phone_otp":{"enabled":true}},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionOptionsAttrPhoneNumber","is_domain_connection":true,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionOptionsAttrPhoneNumber"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 413.730625ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: GET
      response:
        body: '{"allowed_logout_urls":[],"acr_values_supported":[],"change_password":{"enabled":false,"html":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n  <title>Change your password</title>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no\" />\n\n  <style type=\"text/css\">\n    body,html{\n      padding:0;\n      margin:0;\n    }\n    .table{\n      display:table;\n      position:absolute;\n      height:100%;\n      width:100%;\n      {% unless tenant.colors.page_background %}\n        background:linear-gradient(rgba(255,255,255,.3),rgba(255,255,255,0));\n      {% endunless %}\n      background-color: {{tenant.colors.page_background | default: ''#e8ebef''}};\n    }\n    .cell{\n      display:table-cell;\n      vertical-align:middle;\n    }\n    .content{\n      padding:25px 0;\n      margin-left:auto;\n      margin-right:auto;\n      width:280px;\n    }\n  </style>\n\n\n</head>\n<body>\n  <div class=\"table\">\n    <div class=\"cell\">\n      <div class=\"content\">\n        <!-- WIDGET -->\n        <div id=\"change-password-widget-container\"></div>\n        <!-- END WIDGET -->\n      </div>\n    </div>\n  </div>\n\n  <script src=\"https://cdn.auth0.com/js/change-password-1.5.min.js\"></script>\n\n  <script>\n    new Auth0ChangePassword({\n      container:         \"change-password-widget-container\",                // required\n      email:             \"{{email | escape}}\",                              // DO NOT CHANGE THIS\n      csrf_token:        \"{{csrf_token}}\",                                  // DO NOT CHANGE THIS\n      ticket:            \"{{ticket}}\",                                      // DO NOT CHA[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_iw9IOOdInxR0DkUF
        method: DELETE
      response:
        body: '{"deleted_at":"2026-03-10T07:49:14.060Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 398.55325ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"connections":[{"id":"con_NfpeQBc6WUKIK0ED","options":{"attributes":{"email":{"signup":{"status":"required","verification":{"active":true}},"unique":false,"identifier":{"active":false},"profile_required":true,"verification_method":"link"},"username":{"signup":{"status":"required"},"identifier":{"active":true},"validation":{"max_length":15,"min_length":1,"allowed_types":{"email":false,"phone_number":false}},"profile_required":true}},"passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"authentication_methods":{"passkey":{"enabled":false},"password":{"enabled":true,"api_behavior":"required","signup_behavior":"allow"}},"brute_force_protection":true,"disable_self_service_change_password":false},"strategy":"auth0","name":"1moreTime","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"realms":["1moreTime"],"enabled_clients":[]},{"id":"con_lnXFzBFiGTyT35CN","options":{"mfa":{"active":true,"return_enroll_settings":true},"attributes":{"email":{"signup":{"status":"required","verification":{"active":true}},"unique":false,"identifier":{"active":false},"profile_required":true,"verification_method":"link"},"username":{"signup":{"status":"re[...]
