---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"enabled":true,"stage":{"pre-change-password":{},"pre-user-registration":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/attack-protection/breached-password-detection
        method: PATCH
      response:
        body: '{"enabled":true,"shields":[],"admin_notification_frequency":[],"method":"standard","stage":{"pre-user-registration":{"shields":[]},"pre-change-password":{"shields":[]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 392.175709ms
[...]
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/attack-protection/brute-force-protection
        method: GET
      response:
        body: '{"enabled":false,"shields":["block","user_notification"],"mode":"count_per_identifier_and_ip","allowlist":[],"max_attempts":10}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 368.645417ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/attack-protection/suspicious-ip-throttling
        method: GET
      response:
        body: '{"enabled":false,"shields":["admin_notification","block"],"allowlist":[],"stage":{"pre-login":{"max_attempts":100,"rate":864000},"pre-user-registration":{"max_attempts":50,"rate":1200},"pre-custom-token-exchange":{"max_attempts":10,"rate":600000}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 381.229833ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/attack-protection/bot-detection
        method: GET
      response:
        body: '{"challenge_password_policy":"never","challenge_passwordless_policy":"never","challenge_password_reset_policy":"never","allowlist":[],"bot_detection_level":"medium","monitoring_mode_enabled":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 346.822167ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/attack-protection/captcha
        method: GET
      response:
        body: '{"active_provider_id":"hcaptcha","simple_captcha":{},"auth_challenge":{"fail_open":false},"recaptcha_v2":{"site_key":"test-site-key-v2"},"recaptcha_enterprise":{"site_key":"","project_id":""},"hcaptcha":{"site_key":"test-site-key-hcaptcha-5"},"friendly_captcha":{"site_key":""},"arkose":{"site_key":"","client_subdomain":"client-api","verify_subdomain":"verify-api","fail_open":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 382.132083ms
[...]
