---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"app_id":"HTTP","name":"test-v-connection"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections
        method: POST
      response:
        body: '{"id":"ac_driHxZHbTWt3zCyXRqsDFo","app_id":"HTTP","name":"test-v-connection","ready":false,"created_at":"2024-09-30T10:30:24.834Z","updated_at":"2024-09-30T10:30:24.834Z","refreshed_at":null,"fingerprint":"6879858e37a98f15e5bd92ff4d480967"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 237.560459ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/flows/vault/connections/ac_driHxZHbTWt3zCyXRqsDFo
        method: GET
      response:
        body: '{"id":"ac_driHxZHbTWt3zCyXRqsDFo","app_id":"HTTP","name":"test-v-connection","ready":false,"created_at":"2024-09-30T10:30:24.834Z","updated_at":"2024-09-30T10:30:24.834Z","fingerprint":"6879858e37a98f15e5bd92ff4d480967"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 219.13075ms
[...]
