---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"testaccorganizationmembers1@auth0.com","password":"MyPass123$"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"created_at":"2023-06-20T13:09:21.833Z","email":"testaccorganizationmembers1@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"6491a5014a5f17311d569ef6","provider":"auth0","isSocial":false}],"name":"testaccorganizationmembers1@auth0.com","nickname":"testaccorganizationmembers1","picture":"https://s.gravatar.com/avatar/4f34aa9f8f57ca4c76491ba399a9d6c2?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2023-06-20T13:09:21.833Z","user_id":"auth0|6491a5014a5f17311d569ef6"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 225.583458ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C6491a5014a5f17311d569ef6
        method: GET
      response:
        body: '{"created_at":"2023-06-20T13:09:21.833Z","email":"testaccorganizationmembers1@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"6491a5014a5f17311d569ef6","provider":"auth0","isSocial":false}],"name":"testaccorganizationmembers1@auth0.com","nickname":"testaccorganizationmembers1","picture":"https://s.gravatar.com/avatar/4f34aa9f8f57ca4c76491ba399a9d6c2?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2023-06-20T13:09:21.833Z","user_id":"auth0|6491a5014a5f17311d569ef6"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 114.466416ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C6491a5014a5f17311d569ef6/roles?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"roles":[],"start":0,"limit":50,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 100.554041ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C6491a5014a5f17311d569ef6/permissions?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"permissions":[],"start":0,"limit":50,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 120.568333ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"some-org-testaccorganizationmembers","display_name":"testaccorganizationmembers"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"name":"some-org-testaccorganizationmembers","display_name":"testaccorganizationmembers","id":"org_rLULwffaQbYevaO0"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 101.345292ms
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_rLULwffaQbYevaO0
        method: GET
      response:
        body: '{"id":"org_rLULwffaQbYevaO0","name":"some-org-testaccorganizationmembers","display_name":"testaccorganizationmembers"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 113.904042ms
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"members":["auth0|6491a5014a5f17311d569ef6"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_rLULwffaQbYevaO0/members
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 118.161833ms
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_rLULwffaQbYevaO0/members/auth0%7C6491a5014a5f17311d569ef6/roles?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"roles":[],"start":0,"limit":50,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 128.161917ms
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_rLULwffaQbYevaO0/members?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"members":[{"user_id":"auth0|6491a5014a5f17311d569ef6","email":"testaccorganizationmembers1@auth0.com","picture":"https://s.gravatar.com/avatar/4f34aa9f8f57ca4c76491ba399a9d6c2?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","name":"testaccorganizationmembers1@auth0.com"}],"start":0,"limit":50,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 118.75325ms
[...]
    - id: 25
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_rLULwffaQbYevaO0/enabled_connections?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"enabled_connections":[],"start":0,"limit":0,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 106.884959ms
    - id: 26
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_rLULwffaQbYevaO0/members?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"members":[],"start":0,"limit":100,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 106.95775ms
[...]
