---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccEventStreamAction","supported_triggers":[{"id":"event-stream","version":"v1"}],"code":"exports.onExecuteEventStream = async (event, api) =\u003e {};","runtime":"node22"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"cfc2b7a9-5441-418e-9b3b-f5d858e2daf3","name":"Test Action TestAccEventStreamAction","supported_triggers":[{"id":"event-stream","version":"v1"}],"created_at":"2026-05-29T13:12:21.098853742Z","updated_at":"2026-05-29T13:12:21.107506280Z","code":"exports.onExecuteEventStream = async (event, api) => {};","dependencies":[],"runtime":"node22","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 401.059625ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/cfc2b7a9-5441-418e-9b3b-f5d858e2daf3
        method: GET
      response:
        body: '{"id":"cfc2b7a9-5441-418e-9b3b-f5d858e2daf3","name":"Test Action TestAccEventStreamAction","supported_triggers":[{"id":"event-stream","version":"v1"}],"created_at":"2026-05-29T13:12:21.098853742Z","updated_at":"2026-05-29T13:12:21.107506280Z","code":"exports.onExecuteEventStream = async (event, api) => {};","dependencies":[],"runtime":"node22","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 383.207625ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/cfc2b7a9-5441-418e-9b3b-f5d858e2daf3/deploy
        method: POST
      response:
        body: '{"code":"exports.onExecuteEventStream = async (event, api) => {};","dependencies":[],"id":"ee0ed3bc-e5f0-4d82-8d47-e9b198c84437","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2026-05-29T13:12:21.883321319Z","updated_at":"2026-05-29T13:12:21.883321319Z","runtime":"node22","supported_triggers":[{"id":"event-stream","version":"v1"}],"action":{"id":"cfc2b7a9-5441-418e-9b3b-f5d858e2daf3","name":"Test Action TestAccEventStreamAction","supported_triggers":[{"id":"event-stream","version":"v1"}],"created_at":"2026-05-29T13:12:21.098853742Z","updated_at":"2026-05-29T13:12:21.098853742Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 401.02025ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/cfc2b7a9-5441-418e-9b3b-f5d858e2daf3
        method: GET
      response:
        body: '{"id":"cfc2b7a9-5441-418e-9b3b-f5d858e2daf3","name":"Test Action TestAccEventStreamAction","supported_triggers":[{"id":"event-stream","version":"v1"}],"created_at":"2026-05-29T13:12:21.098853742Z","updated_at":"2026-05-29T13:12:21.107506280Z","code":"exports.onExecuteEventStream = async (event, api) => {};","dependencies":[],"runtime":"node22","status":"built","secrets":[],"current_version":{"id":"ee0ed3bc-e5f0-4d82-8d47-e9b198c84437","code":"exports.onExecuteEventStream = async (event, api) => {};","runtime":"node22","status":"BUILT","number":1,"build_time":"2026-05-29T13:12:21.947486951Z","created_at":"2026-05-29T13:12:21.883321319Z","updated_at":"2026-05-29T13:12:21.948262504Z"},"deployed_version":{"code":"exports.onExecuteEventStream = async (event, api) => {};","dependencies":[],"id":"ee0ed3bc-e5f0-4d82-8d47-e9b198c84437","deployed":true,"number":1,"built_at":"2026-05-29T13:12:21.947486951Z","secrets":[],"status":"built","created_at":"2026-05-29T13:12:21.883321319Z","updated_at":"2026-05-29T13:12:21.948262504Z","runtime":"node22","supported_triggers":[{"id":"event-stream","version":"v1"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 370.141709ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"TestAccEventStreamAction-my-action","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"destination":{"type":"action","configuration":{"action_id":"cfc2b7a9-5441-418e-9b3b-f5d858e2daf3"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams
        method: POST
      response:
        body: '{"id":"est_1hdMNgm7QKxUtTa4qeTGkr","status":"enabled","name":"TestAccEventStreamAction-my-action","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2026-05-29T13:12:23.128Z","updated_at":"2026-05-29T13:12:23.128Z","destination":{"type":"action","configuration":{"action_id":"cfc2b7a9-5441-418e-9b3b-f5d858e2daf3"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 550.4385ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams/est_1hdMNgm7QKxUtTa4qeTGkr
        method: GET
      response:
        body: '{"id":"est_1hdMNgm7QKxUtTa4qeTGkr","status":"enabled","name":"TestAccEventStreamAction-my-action","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2026-05-29T13:12:23.128Z","updated_at":"2026-05-29T13:12:23.128Z","destination":{"type":"action","configuration":{"action_id":"cfc2b7a9-5441-418e-9b3b-f5d858e2daf3"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 363.329ms
[...]
    - id: 16
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/cfc2b7a9-5441-418e-9b3b-f5d858e2daf3
        method: GET
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"That action does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 339.411834ms
    - id: 17
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/
        method: DELETE
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"Not Found"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 335.661166ms
