---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_xxxxxxxxxxxxxxxx/scim-configuration
        method: POST
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"The connection does not exist","errorCode":"inexistent_connection"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 232.29625ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Non-SCIM-Connection-TestAccSCIMConfiguration","display_name":"Acceptance-Test-Non-SCIM-TestAccSCIMConfiguration","strategy":"auth0"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_LjpuhLN7TudbLvJT","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Non-SCIM-Connection-TestAccSCIMConfiguration","is_domain_connection":false,"display_name":"Acceptance-Test-Non-SCIM-TestAccSCIMConfiguration","enabled_clients":[],"realms":["Acceptance-Test-Non-SCIM-Connection-TestAccSCIMConfiguration"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 224.032292ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_LjpuhLN7TudbLvJT
        method: GET
      response:
        body: '{"id":"con_LjpuhLN7TudbLvJT","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Non-SCIM-Connection-TestAccSCIMConfiguration","is_domain_connection":false,"display_name":"Acceptance-Test-Non-SCIM-TestAccSCIMConfiguration","enabled_clients":[],"realms":["Acceptance-Test-Non-SCIM-Connection-TestAccSCIMConfiguration"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 260.203583ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_LjpuhLN7TudbLvJT/scim-configuration
        method: POST
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"scim strategy not enabled"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 244.838667ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-SCIM-Connection-TestAccSCIMConfiguration","display_name":"Acceptance-Test-SCIM-TestAccSCIMConfiguration","strategy":"okta","options":{"client_id":"1234567","client_secret":"1234567","authorization_endpoint":"https://example.okta.com/oauth2/v1/authorize","issuer":"https://example.okta.com","jwks_uri":"https://example.okta.com/oauth2/v1/keys","userinfo_endpoint":null,"token_endpoint":"https://example.okta.com/oauth2/v1/token"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_qiOVg5E84TQLWQC5","options":{"client_id":"1234567","client_secret":"1234567","authorization_endpoint":"https://example.okta.com/oauth2/v1/authorize","issuer":"https://example.okta.com","jwks_uri":"https://example.okta.com/oauth2/v1/keys","userinfo_endpoint":null,"token_endpoint":"https://example.okta.com/oauth2/v1/token","schema_version":"oidc-V4","type":"back_channel","attribute_map":{"mapping_mode":"basic_profile"},"connection_settings":{"pkce":"auto"}},"strategy":"okta","name":"Acceptance-Test-SCIM-Connection-TestAccSCIMConfiguration","is_domain_connection":false,"show_as_button":false,"display_name":"Acceptance-Test-SCIM-TestAccSCIMConfiguration","enabled_clients":[],"realms":["Acceptance-Test-SCIM-Connection-TestAccSCIMConfiguration"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 314.66475ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_LjpuhLN7TudbLvJT
        method: DELETE
      response:
        body: '{"deleted_at":"2024-07-17T18:27:43.762Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 314.728459ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_qiOVg5E84TQLWQC5
        method: GET
      response:
        body: '{"id":"con_qiOVg5E84TQLWQC5","options":{"type":"back_channel","issuer":"https://example.okta.com","jwks_uri":"https://example.okta.com/oauth2/v1/keys","client_id":"1234567","attribute_map":{"mapping_mode":"basic_profile"},"client_secret":"1234567","schema_version":"oidc-V4","token_endpoint":"https://example.okta.com/oauth2/v1/token","userinfo_endpoint":null,"connection_settings":{"pkce":"auto"},"authorization_endpoint":"https://example.okta.com/oauth2/v1/authorize"},"strategy":"okta","name":"Acceptance-Test-SCIM-Connection-TestAccSCIMConfiguration","is_domain_connection":false,"show_as_button":false,"display_name":"Acceptance-Test-SCIM-TestAccSCIMConfiguration","enabled_clients":[],"realms":["Acceptance-Test-SCIM-Connection-TestAccSCIMConfiguration"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 205.551875ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_qiOVg5E84TQLWQC5/scim-configuration
        method: POST
      response:
        body: '{"tenant_name":"terraform-provider-auth0-dev","connection_id":"con_qiOVg5E84TQLWQC5","connection_name":"Acceptance-Test-SCIM-Connection-TestAccSCIMConfiguration","strategy":"okta","mapping":[{"scim":"userName","auth0":"preferred_username"},{"scim":"emails[primary eq true].value","auth0":"email"},{"scim":"externalId","auth0":"app_metadata.external_id"},{"scim":"active","auth0":"blocked"},{"scim":"displayName","auth0":"name"},{"scim":"name.givenName","auth0":"given_name"},{"scim":"name.familyName","auth0":"family_name"},{"scim":"name.middleName","auth0":"app_metadata.middle_name"},{"scim":"name.honorificPrefix","auth0":"app_metadata.honorific_prefix"},{"scim":"name.honorificSuffix","auth0":"app_metadata.honorif[...]
[...]
    - id: 15
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_qiOVg5E84TQLWQC5/scim-configuration/default-mapping
        method: GET
      response:
        body: '{"mapping":[{"auth0":"preferred_username","scim":"userName"},{"auth0":"email","scim":"emails[primary eq true].value[...]
[...]
    - id: 19
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"user_id_attribute":"test_attribute","mapping":[{"auth0":"attr_auth0_1","scim":"scim_1"},{"auth0":"attr_auth0_2","scim":"scim_2"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_qiOVg5E84TQLWQC5/scim-configuration
        method: POST
      response:
        body: '{"tenant_name":"terraform-provider-auth0-dev","connection_id":"con_qiOVg5E84TQLWQC5","connection_name":"Acceptance-Test-SCIM-Connection-TestAccSCIMConfiguration","strategy":"okta","mapping":[{"scim":"scim_1","auth0":"attr_auth0_1"},{"scim":"scim_2","auth0":"attr_auth0_2"}],"updated_on":"2024-07-17T18:27:49.770Z","created_at":"2024-07-17T18:27:49.770Z","user_id_attribute":"test_attribute"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 286.612208ms
[...]
