---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Trigger Binding Foo TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"secrets":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"db181439-0c33-444a-9407-48a23b2da7c3","name":"Test Trigger Binding Foo TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-09-02T14:42:43.922515563Z","updated_at":"2023-09-02T14:42:43.935990412Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node18-actions","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 158.112625ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/db181439-0c33-444a-9407-48a23b2da7c3
        method: GET
      response:
        body: '{"id":"db181439-0c33-444a-9407-48a23b2da7c3","name":"Test Trigger Binding Foo TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-09-02T14:42:43.922515563Z","updated_at":"2023-09-02T14:42:43.935990412Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node18-actions","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 193.365208ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/db181439-0c33-444a-9407-48a23b2da7c3/deploy
        method: POST
      response:
        body: '{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"a661f747-4980-47e5-8c84-e51820be7476","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2023-09-02T14:42:44.274998939Z","updated_at":"2023-09-02T14:42:44.274998939Z","runtime":"node18-actions","supported_triggers":[{"id":"post-login","version":"v3"}],"action":{"id":"db181439-0c33-444a-9407-48a23b2da7c3","name":"Test Trigger Binding Foo TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-09-02T14:42:43.922515563Z","updated_at":"2023-09-02T14:42:43.922515563Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 145.452666ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/db181439-0c33-444a-9407-48a23b2da7c3
        method: GET
      response:
        body: '{"id":"db181439-0c33-444a-9407-48a23b2da7c3","name":"Test Trigger Binding Foo TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-09-02T14:42:43.922515563Z","updated_at":"2023-09-02T14:42:43.935990412Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node18-actions","status":"built","secrets":[],"current_version":{"id":"a661f747-4980-47e5-8c84-e51820be7476","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node18-actions","status":"BUILT","number":1,"build_time":"2023-09-02T14:42:44.322543334Z","created_at":"2023-09-02T14:42:44.274998939Z","updated_at":"2023-09-02T14:42:44.323301658Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"a661f747-4980-47e5-8c84-e51820be7476","deployed":true,"number":1,"built_at":"2023-09-02T14:42:44.322543334Z","secrets":[],"status":"built","created_at":"2023-09-02T14:42:44.274998939Z","updated_at":"2023-09-02T14:42:44.323301658Z","runtime":"node18-actions","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 170.030166ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?per_page=50
        method: GET
      response:
        body: '{"bindings":[],"per_page":50}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 197.420708ms
[...]
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"bindings":[{"display_name":"Test Trigger Binding Foo TestAccTriggerAction","ref":{"type":"action_id","value":"db181439-0c33-444a-9407-48a23b2da7c3"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings
        method: PATCH
      response:
        body: '{"bindings":[{"id":"4b3528be-3fc5-47a6-aed3-38cbfa2ac8a1","trigger_id":"post-login","action":{"id":"db181439-0c33-444a-9407-48a23b2da7c3","name":"Test Trigger Binding Foo TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-09-02T14:42:43.922515563Z","updated_at":"2023-09-02T14:42:43.922515563Z","current_version":{"id":"a661f747-4980-47e5-8c84-e51820be7476","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node18-actions","status":"BUILT","number":1,"build_time":"2023-09-02T14:42:44.322543334Z","created_at":"2023-09-02T14:42:44.274998939Z","updated_at":"2023-09-02T14:42:44.323301658Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"a661f747-4980-47e5-8c84-e51820be7476","deployed":true,"number":1,"built_at":"2023-09-02T14:42:44.322543334Z","secrets":[],"status":"built","created_at":"2023-09-02T14:42:44.274998939Z","updated_at":"2023-09-02T14:42:44.323301658Z","runtime":"node18-actions","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":false},"created_at":"2023-09-02T14:42:46.162178885Z","updated_at":"2023-09-02T14:42:46.162178885Z","display_name":"Test Trigger Binding Foo TestAccTriggerAction"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 320.239125ms
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?page=0&per_page=100
        method: GET
      response:
        body: '{"bindings":[{"id":"4b3528be-3fc5-47a6-aed3-38cbfa2ac8a1","trigger_id":"post-login","action":{"id":"db181439-0[...]
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?page=1&per_page=100
        method: GET
      response:
        body: '{"bindings":[],"page":1,"per_page":100}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 213.592666ms
[...]
