---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"domain":"terraform-provider.auth0.com","type":"self_managed_certs"}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: |
        {
          "custom_domain_id": "cd_selfmanaged",
          "domain": "terraform-provider.auth0.com",
          "primary": true,
          "status": "pending_verification",
          "type": "self_managed_certs",
          "verification": {
            "methods": [
              {
                "name": "txt",
                "record": "a6124756-554d-4a4b-b140-787bdea2e89c",
                "domain": "_cf-custom-hostname.terraform-provider.auth0.com"
              }
            ]
          },
          "tls_policy": "recommended"
        }
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_selfmanaged
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: |
        {
          "custom_domain_id": "cd_selfmanaged",
          "domain": "terraform-provider.auth0.com",
          "primary": true,
          "status": "pending_verification",
          "type": "self_managed_certs",
          "verification": {
            "methods": [
              {
                "name": "txt",
                "record": "a6124756-554d-4a4b-b140-787bdea2e89c",
                "domain": "_cf-custom-hostname.terraform-provider.auth0.com"
              }
            ]
          },
          "tls_policy": "recommended"
        }
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 2
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_selfmanaged/verify
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: |
        {
          "custom_domain_id": "cd_selfmanaged",
          "domain": "terraform-provider.auth0.com",
          "primary": true,
          "status": "ready",
          "type": "self_managed_certs",
          "origin_domain_name": "terraform-provider-cd-selfmanaged.edge.tenants.eu.auth0.com",
          "cname_api_key": "ee26b0dd4af7e749aa1a8ee3c10ae9923f618980772e473f8819a5d4940e0db27ac185f8a0e1d5f84f88bc887fd67b143732c304cc5fa9ad8e6f57f50028a8ff",
          "verification": {
            "methods": [
              {
                "name": "txt",
                "record": "a6124756-554d-4a4b-b140-787bdea2e89c",
                "domain": "_cf-custom-hostname.terraform-provider.auth0.com"
              }
            ]
          },
          "tls_policy": "recommended"
        }
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
[...]
