---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"Test-Profile-TestAccConnectionProfiles","organization":{"show_as_button":"required","assign_membership_on_login":"optional"},"connection_name_prefix_template":"template1","enabled_features":["scim","universal_logout"],"connection_config":{}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connection-profiles
        method: POST
      response:
        body: '{"id":"cop_1cu7ZwhXT39nUsrPPMgqqz","name":"Test-Profile-TestAccConnectionProfiles","organization":{"show_as_button":"required","assign_membership_on_login":"optional"},"connection_name_prefix_template":"template1","enabled_features":["scim","universal_logout"],"connection_config":{},"strategy_overrides":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 497.759834ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connection-profiles/cop_1cu7ZwhXT39nUsrPPMgqqz
        method: GET
      response:
        body: '{"id":"cop_1cu7ZwhXT39nUsrPPMgqqz","name":"Test-Profile-TestAccConnectionProfiles","organization":{"show_as_button":"required","assign_membership_on_login":"optional"},"connection_name_prefix_template":"template1","enabled_features":["scim","universal_logout"],"connection_config":{},"strategy_overrides":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 346.781625ms
[...]
