---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Connection-testaccdatasourceorganizationbyname","strategy":"auth0"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_TaZac3ujhOCB5DoR","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-testaccdatasourceorganizationbyname","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-testaccdatasourceorganizationbyname"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 163.242125ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_TaZac3ujhOCB5DoR
        method: GET
      response:
        body: '{"id":"con_TaZac3ujhOCB5DoR","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-testaccdatasourceorganizationbyname","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-testaccdatasourceorganizationbyname"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 127.41025ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-testaccdatasourceorganizationbyname","display_name":"Acme Inc. testaccdatasourceorganizationbyname"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"name":"test-testaccdatasourceorganizationbyname","display_name":"Acme Inc. testaccdatasourceorganizationbyname","id":"org_ITlCxjBnyGj8ZsxO"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 125.054ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_ITlCxjBnyGj8ZsxO
        method: GET
      response:
        body: '{"id":"org_ITlCxjBnyGj8ZsxO","name":"test-testaccdatasourceorganizationbyname","display_name":"Acme Inc. testaccdatasourceorganizationbyname"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 219.299875ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"connection_id":"con_TaZac3ujhOCB5DoR","assign_membership_on_login":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_ITlCxjBnyGj8ZsxO/enabled_connections
        method: POST
      response:
        body: '{"connection_id":"con_TaZac3ujhOCB5DoR","assign_membership_on_login":false,"connection":{"name":"Acceptance-Test-Connection-testaccdatasourceorganizationbyname","strategy":"auth0"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 134.763917ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_ITlCxjBnyGj8ZsxO/enabled_connections/con_TaZac3ujhOCB5DoR
        method: GET
      response:
        body: '{"connection_id":"con_TaZac3ujhOCB5DoR","assign_membership_on_login":false,"connection":{"name":"Acceptance-Test-Connection-testaccdatasourceorganizationbyname","strategy":"auth0"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 103.115917ms
[...]
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"organizations":[{"id":"org_3EE9uZhbwdFnOVqj","name":"testing","display_name":"testing"},{"id":"org_ITlCxjBnyGj8ZsxO","name":"test-testaccdatasourceorganizationbyname","display_name":"Acme Inc. testaccdatasourceorganizationbyname"}],"start":0,"limit":100,"total":2}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 108.448375ms
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_ITlCxjBnyGj8ZsxO/enabled_connections?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"enabled_connections":[{"connection_id":"con_TaZac3ujhOCB5DoR","assign_membership_on_login":false,"connection":{"name":"Acceptance-Test-Connection-testaccdatasourceorganizationbyname","strategy":"auth0"}}],"start":0,"limit":1,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 104.387166ms
[...]
