---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Application - Acceptance Test - 1 - TestAccConnectionWithEnabledClients","description":"Test Applications Long Description","app_type":"non_interactive"}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"name":"Application - Acceptance Test - 1 - TestAccConnectionWithEnabledClients","description":"Test Applications Long Description","client_id":"4diCRNqD7SImuekoIPEkE6miJeWmiXpt","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/4diCRNqD7SImuekoIPEkE6miJeWmiXpt
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"name":"Application - Acceptance Test - 1 - TestAccConnectionWithEnabledClients","description":"Test Applications Long Description","client_id":"4diCRNqD7SImuekoIPEkE6miJeWmiXpt","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
  - id: 3
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/XTZlZXwery7T2AyLHHVbKgZNiq71T86V
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"name":"Application - Acceptance Test - 2 - TestAccConnectionWithEnabledClients","description":"Test Applications Long Description","client_id":"XTZlZXwery7T2AyLHHVbKgZNiq71T86V","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
  - id: 5
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/5AP4Dmf8XRQL1HZNsOiGxfr4hy0bn38w
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"name":"Application - Acceptance Test - 3 - TestAccConnectionWithEnabledClients","description":"Test Applications Long Description","client_id":"5AP4Dmf8XRQL1HZNsOiGxfr4hy0bn38w","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
  - id: 7
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/TQp6XCSKLNQy5M1O0rM2IyexdQVvuDzS
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"name":"Application - Acceptance Test - 4 - TestAccConnectionWithEnabledClients","description":"Test Applications Long Description","client_id":"TQp6XCSKLNQy5M1O0rM2IyexdQVvuDzS","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 8
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance-Test-Connection-TestAccConnectionWithEnabledClients","strategy":"auth0","is_domain_connection":true,"enabled_clients":["TQp6XCSKLNQy5M1O0rM2IyexdQVvuDzS","4diCRNqD7SImuekoIPEkE6miJeWmiXpt","XTZlZXwery7T2AyLHHVbKgZNiq71T86V","5AP4Dmf8XRQL1HZNsOiGxfr4hy0bn38w"]}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_JYl2L164eCDuk03R","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionWithEnabledClients","is_domain_connection":true,"enabled_clients":["4diCRNqD7SImuekoIPEkE6miJeWmiXpt","XTZlZXwery7T2AyLHHVbKgZNiq71T86V","5AP4Dmf8XRQL1HZNsOiGxfr4hy0bn38w","TQp6XCSKLNQy5M1O0rM2IyexdQVvuDzS"],"realms":["Acceptance-Test-Connection-TestAccConnectionWithEnabledClients"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 9
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_JYl2L164eCDuk03R
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_JYl2L164eCDuk03R","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionWithEnabledClients","is_domain_connection":true,"enabled_clients":["4diCRNqD7SImuekoIPEkE6miJeWmiXpt","XTZlZXwery7T2AyLHHVbKgZNiq71T86V","5AP4Dmf8XRQL1HZNsOiGxfr4hy0bn38w","TQp6XCSKLNQy5M1O0rM2IyexdQVvuDzS"],"realms":["Acceptance-Test-Connection-TestAccConnectionWithEnabledClients"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
  - id: 15
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: ""
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_JYl2L164eCDuk03R
      method: DELETE
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"deleted_at":"2022-08-30T08:59:29.775Z"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 202 Accepted
      code: 202
      duration: 1ms
[...]
