---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"PasswordHashAction","supported_triggers":[{"id":"password-hash-migration","version":"v1"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node22"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"4fac14a5-840f-45fe-b25c-5bdc7ee96b60","name":"PasswordHashAction","supported_triggers":[{"id":"password-hash-migration","version":"v1"}],"created_at":"2026-01-29T04:10:39.262066991Z","updated_at":"2026-01-29T04:10:39.271121698Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node22","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 434.212833ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/4fac14a5-840f-45fe-b25c-5bdc7ee96b60
        method: GET
      response:
        body: '{"id":"4fac14a5-840f-45fe-b25c-5bdc7ee96b60","name":"PasswordHashAction","supported_triggers":[{"id":"password-hash-migration","version":"v1"}],"created_at":"2026-01-29T04:10:39.262066991Z","updated_at":"2026-01-29T04:10:39.271121698Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node22","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 427.006041ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/4fac14a5-840f-45fe-b25c-5bdc7ee96b60/deploy
        method: POST
      response:
        body: '{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"eec741dd-51d7-4049-b397-f59d0a4fde6a","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2026-01-29T04:10:40.117774627Z","updated_at":"2026-01-29T04:10:40.117774627Z","runtime":"node22","supported_triggers":[{"id":"password-hash-migration","version":"v1"}],"action":{"id":"4fac14a5-840f-45fe-b25c-5bdc7ee96b60","name":"PasswordHashAction","supported_triggers":[{"id":"password-hash-migration","version":"v1"}],"created_at":"2026-01-29T04:10:39.262066991Z","updated_at":"2026-01-29T04:10:39.262066991Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 390.110167ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/4fac14a5-840f-45fe-b25c-5bdc7ee96b60
        method: GET
      response:
        body: '{"id":"4fac14a5-840f-45fe-b25c-5bdc7ee96b60","name":"PasswordHashAction","supported_triggers":[{"id":"password-hash-migration","version":"v1"}],"created_at":"2026-01-29T04:10:39.262066991Z","updated_at":"2026-01-29T04:10:39.271121698Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node22","status":"built","secrets":[],"current_version":{"id":"eec741dd-51d7-4049-b397-f59d0a4fde6a","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node22","status":"BUILT","number":1,"build_time":"2026-01-29T04:10:40.227497591Z","created_at":"2026-01-29T04:10:40.117774627Z","updated_at":"2026-01-29T04:10:40.228845619Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"eec741dd-51d7-4049-b397-f59d0a4fde6a","deployed":true,"number":1,"built_at":"2026-01-29T04:10:40.227497591Z","secrets":[],"status":"built","created_at":"2026-01-29T04:10:40.117774627Z","updated_at":"2026-01-29T04:10:40.228845619Z","runtime":"node22","supported_triggers":[{"id":"password-hash-migration","version":"v1"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 342.642333ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"PasswordHashConn","strategy":"auth0","options":{"custom_password_hash":{"action_id":"4fac14a5-840f-45fe-b25c-5bdc7ee96b60"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_vN8HUyE5Aeo00FEl","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","custom_password_hash":{"action_id":"4fac14a5-840f-45fe-b25c-5bdc7ee96b60"},"strategy_version":2,"authentication_methods":{"password":{"enabled":true,"api_behavior":"required"},"passkey":{"enabled":false},"email_otp":{"enabled":false},"phone_otp":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true},"brute_force_protection":true},"strategy":"auth0","name":"PasswordHashConn","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["PasswordHashConn"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 474.160375ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_vN8HUyE5Aeo00FEl
        method: GET
      response:
        body: '{"id":"con_vN8HUyE5Aeo00FEl","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"strategy_version":2,"custom_password_hash":{"action_id":"4fac14a5-840f-45fe-b25c-5bdc7ee96b60"},"authentication_methods":{"passkey":{"enabled":false},"password":{"enabled":true,"api_behavior":"required"},"email_otp":{"enabled":false},"phone_otp":{"enabled":false}},"brute_force_protection":true},"strategy":"auth0","name":"PasswordHashConn","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["PasswordHashConn"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 361.371625ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_vN8HUyE5Aeo00FEl
        method: DELETE
      response:
        body: '{"deleted_at":"2026-01-29T04:10:44.108Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 423.135625ms
[...]
