---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Google-OAuth2-TestAccConnectionGoogleOAuth2","strategy":"google-oauth2","is_domain_connection":false,"options":{"client_id":"","client_secret":"","email":true,"profile":true,"gmail":true,"youtube":true,"set_user_root_attributes":"on_each_login","upstream_params":{"screen_name":{"alias":"login_hint"}},"allowed_audiences":["api.example.com","example.com"]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_SWN3mTf5i7by8ghD","options":{"client_id":"","client_secret":"","email":true,"profile":true,"gmail":true,"youtube":true,"set_user_root_attributes":"on_each_login","upstream_params":{"screen_name":{"alias":"login_hint"}},"allowed_audiences":["api.example.com","example.com"],"scope":["email","profile","https://mail.google.com/mail/feed/atom","https://gdata.youtube.com"]},"strategy":"google-oauth2","name":"Acceptance-Test-Google-OAuth2-TestAccConnectionGoogleOAuth2","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Google-OAuth2-TestAccConnectionGoogleOAuth2"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 175.281167ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_SWN3mTf5i7by8ghD
        method: GET
      response:
        body: '{"id":"con_SWN3mTf5i7by8ghD","options":{"email":true,"gmail":true,"scope":["email","profile","https://mail.google.com/mail/feed/atom","https://gdata.youtube.com"],"profile":true,"youtube":true,"client_id":"","client_secret":"","upstream_params":{"screen_name":{"alias":"login_hint"}},"allowed_audiences":["api.example.com","example.com"],"set_user_root_attributes":"on_each_login"},"strategy":"google-oauth2","name":"Acceptance-Test-Google-OAuth2-TestAccConnectionGoogleOAuth2","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Google-OAuth2-TestAccConnectionGoogleOAuth2"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 142.290584ms
[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_SWN3mTf5i7by8ghD
        method: DELETE
      response:
        body: '{"deleted_at":"2024-09-12T21:27:26.447Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 181.36175ms
