---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - 3P Client - TestAccClient_ThirdPartySecurityMode","app_type":"regular_web","is_first_party":false,"callbacks":["https://example.com/callback"],"token_endpoint_auth_method":"client_secret_post","third_party_security_mode":"strict","redirection_policy":"open_redirect_protection"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - 3P Client - TestAccClient_ThirdPartySecurityMode","client_id":"tpc_vbc2Y77hGZfbhkSi7y3gTh","client_secret":"[REDACTED]","app_type":"regular_web","is_first_party":false,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":true,"callbacks":["https://example.com/callback"],"jwt_configuration":{"secret_encoded":false,"alg":"RS256","lifetime_in_seconds":3600},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":false,"idle_token_lifetime":2592000},"third_party_security_mode":"strict","redirection_policy":"open_redirect_protection"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 544.605167ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/tpc_vbc2Y77hGZfbhkSi7y3gTh
        method: GET
      response:
        body: '{"name":"Acceptance Test - 3P Client - TestAccClient_ThirdPartySecurityMode","client_id":"tpc_vbc2Y77hGZfbhkSi7y3gTh","client_secret":"[REDACTED]","app_type":"regular_web","is_first_party":false,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":true,"callbacks":["https://example.com/callback"],"jwt_configuration":{"secret_encoded":false,"alg":"RS256","lifetime_in_seconds":3600},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":false,"idle_token_lifetime":2592000},"third_party_security_mode":"strict","redirection_policy":"open_redirect_protection"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 405.485792ms
[...]
