---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-TVPA-Google-TestAccClientTokenVaultPrivilegedAccess","strategy":"google-oauth2"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_VQscOPjKXkZFGfof","options":{"email":true,"profile":true,"scope":["email","profile"]},"strategy":"google-oauth2","name":"Acceptance-Test-TVPA-Google-TestAccClientTokenVaultPrivilegedAccess","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["Acceptance-Test-TVPA-Google-TestAccClientTokenVaultPrivilegedAccess"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 366.614083ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Token Vault Privileged Access - TestAccClientTokenVaultPrivilegedAccess","app_type":"non_interactive","token_endpoint_auth_method":"client_secret_post"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - Token Vault Privileged Access - TestAccClientTokenVaultPrivilegedAccess","client_id":"DGfm2a2Q4mEmUfFc3xHDMzi4aU3ECzpp","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 453.918292ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_VQscOPjKXkZFGfof
        method: GET
      response:
        body: '{"id":"con_VQscOPjKXkZFGfof","options":{"email":true,"scope":["email","profile"],"profile":true},"strategy":"google-oauth2","name":"Acceptance-Test-TVPA-Google-TestAccClientTokenVaultPrivilegedAccess","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"realms":["Acceptance-Test-TVPA-Google-TestAccClientTokenVaultPrivilegedAccess"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 312.804875ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/DGfm2a2Q4mEmUfFc3xHDMzi4aU3ECzpp
        method: GET
      response:
        body: '{"name":"Acceptance Test - Token Vault Privileged Access - TestAccClientTokenVaultPrivilegedAccess","client_id":"DGfm2a2Q4mEmUfFc3xHDMzi4aU3ECzpp","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 350.113625ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"credential_type":"public_key","pem":"-----BEGIN CERTIFICATE-----\nMIIFWDCCA0ACCQDXqpBo3RUhkzANBgkqhkiG9w0BAQsFADBuMQswCQYDVQQGEwJl\nczEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxDTALBgNVBAoMBE9r\ndGExDzANBgNVBAsMBkRYLUNEVDEdMBsGA1UEAwwURGV2ZWxvcGVyIEV4cGVyaWVu\nY2UwHhcNMjMwNTE2MDkzMzEzWhcNMzMwNTEzMDkzMzEzWjBuMQswCQYDVQQGEwJl\nczEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxDTALBgNVBAoMBE9r\ndGExDzANBgNVBAsMBkRYLUNEVDEdMBsGA1UEAwwURGV2ZWxvcGVyIEV4cGVyaWVu\nY2UwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQCupwRtoZtRk9qRaXD+\nYdtpM9dW[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Token Vault Privileged Access - TestAccClientTokenVaultPrivilegedAccess","app_type":"non_interactive","token_vault_privileged_access":{"credentials":[{"id":"cred_xwim3eGa1m2qAcysXUNoDX"}],"ip_allowlist":["10.0.0.1","192.168.1.0/24"],"grants":[{"connection":"Acceptance-Test-TVPA-Google-TestAccClientTokenVaultPrivilegedAccess","scopes":["openid","profile"]}]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/DGfm2a2Q4mEmUfFc3xHDMzi4aU3ECzpp
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - Token Vault Privileged Access - TestAccClientTokenVaultPrivilegedAccess","client_id":"DGfm2a2Q4mEmUfFc3xHDMzi4aU3ECzpp","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_p[...]
[...]
    - id: 15
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Token Vault Privileged Access - TestAccClientTokenVaultPrivilegedAccess","description":"Now with a description","app_type":"non_interactive"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/DGfm2a2Q4mEmUfFc3xHDMzi4aU3ECzpp
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - Token Vault Privileged Access - TestAccClientTokenVaultPrivilegedAccess","description":"Now with a description","client_id":"DGfm2a2Q4mEmUfFc3xHDMzi4aU3ECzpp",[...]
[...]
    - id: 35
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/DGfm2a2Q4mEmUfFc3xHDMzi4aU3ECzpp/credentials/cred_xwim3eGa1m2qAcysXUNoDX
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 286.704833ms
[...]
    - id: 43
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/DGfm2a2Q4mEmUfFc3xHDMzi4aU3ECzpp/credentials/cred_ddXu5e9BAg62e3WV5Zdhu3
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 299.01675ms
[...]
    - id: 47
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_VQscOPjKXkZFGfof
        method: DELETE
      response:
        body: '{"deleted_at":"2026-08-03T17:25:53.074Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 303.58125ms
[...]
