---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance-Test-Facebook-TestAccConnectionFacebook","strategy":"facebook","is_domain_connection":false,"options":{"client_id":"client_id","client_secret":"client_secret","email":true,"groups_access_member_info":true,"user_birthday":true,"public_profile":true,"non_persistent_attrs":null,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_04SJaaK5xU8k9jWC","options":{"client_id":"client_id","client_secret":"client_secret","email":true,"groups_access_member_info":true,"user_birthday":true,"public_profile":true,"non_persistent_attrs":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"scope":"email,groups_access_member_info,user_birthday,public_profile"},"strategy":"facebook","name":"Acceptance-Test-Facebook-TestAccConnectionFacebook","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Facebook-TestAccConnectionFacebook"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_04SJaaK5xU8k9jWC
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_04SJaaK5xU8k9jWC","options":{"email":true,"scope":"email,groups_access_member_info,user_birthday,public_profile","client_id":"client_id","client_secret":"client_secret","user_birthday":true,"public_profile":true,"upstream_params":{"screen_name":{"alias":"login_hint"}},"non_persistent_attrs":null,"groups_access_member_info":true},"strategy":"facebook","name":"Acceptance-Test-Facebook-TestAccConnectionFacebook","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Facebook-TestAccConnectionFacebook"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
