---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Connection-TestAccConnectionConfiguration","strategy":"auth0","is_domain_connection":true,"options":{"brute_force_protection":true,"configuration":{"bar":"zzz","foo":"xxx"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_482BTJPR5p3Q81RH","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","brute_force_protection":true,"configuration":{"bar":"2.0$ec150ff5f374e616e57dc00a339ce2db$d5d377e1ba8dbe441d3d84e1e49622f6$43c77093c2d97788eb5b1e0c36fc5150c49d6e335b170005e0707a88370aa615","foo":"2.0$e613d7a15f2aef47a8c625ac3fb153b6$5732466a75180ec0f0050034942b7852$6f7719f3349958b9aba06c06376d78ec35baf541c48a2bb359fc7190af9f5e31"},"strategy_version":2},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionConfiguration","is_domain_connection":true,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionConfiguration"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 170.936458ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_482BTJPR5p3Q81RH
        method: GET
      response:
        body: '{"id":"con_482BTJPR5p3Q81RH","options":{"mfa":{"active":true,"return_enroll_settings":true},"configuration":{"bar":"2.0$ec150ff5f374e616e57dc00a339ce2db$d5d377e1ba8dbe441d3d84e1e49622f6$43c77093c2d97788eb5b1e0c36fc5150c49d6e335b170005e0707a88370aa615","foo":"2.0$e613d7a15f2aef47a8c625ac3fb153b6$5732466a75180ec0f0050034942b7852$6f7719f3349958b9aba06c06376d78ec35baf541c48a2bb359fc7190af9f5e31"},"passwordPolicy":"good","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionConfiguration","is_domain_connection":true,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionConfiguration"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 93.186958ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"is_domain_connection":true,"options":{"brute_force_protection":true,"configuration":{"bar":"yyy","baz":"zzz","foo":"xxx"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_482BTJPR5p3Q81RH
        method: PATCH
      response:
        body: '{"id":"con_482BTJPR5p3Q81RH","options":{"configuration":{"bar":"2.0$61a2fb121da1b1be44801e6931ac4c25$299420ac6dc27de2af7c5436d49f4344$691652a3967907b88e23183348f41bdb0466f6150085d1b655f44f6209998748","baz":"2.0$a923388fdae928f19976978a69c41ff5$644796e6030d370f6a9abc92fe7cefa6$c44d867948500178342947a6df04a1bd912e576c251eaba2b800b138c35db050","foo":"2.0$f3921ad662670279ac1ed213acb6f033$0fe12d47830efc1b7be7ba2937dbda65$b7b0ca61c17afd1cf1e88ee8a29810cbf19d87cd0eebf6abb68e118200c6f1f5"},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionConfiguration","is_domain_connection":true,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionConfiguration"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 138.717708ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_482BTJPR5p3Q81RH
        method: DELETE
      response:
        body: '{"deleted_at":"2023-03-01T17:18:04.370Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 201.08275ms
