---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"identifier":"https://uat.api.terraform-provider-auth0.com/TestAccResourceServer"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"69a006b6f39293776f28ab5d","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccResourceServer","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 329.067459ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/69a006b6f39293776f28ab5d
        method: GET
      response:
        body: '{"id":"69a006b6f39293776f28ab5d","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccResourceServer","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 298.698041ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - TestAccResourceServer","signing_alg":"RS256","allow_offline_access":true,"token_lifetime":7200,"token_lifetime_for_web":3600,"skip_consent_for_verifiable_first_party_clients":true,"enforce_policies":false,"subject_type_authorization":{"user":{"policy":"allow_all"},"client":{"policy":"require_client_grant"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/69a006b6f39293776f28ab5d
        method: PATCH
      response:
        body: '{"id":"69a006b6f39293776f28ab5d","name":"Acceptance Test - TestAccResourceServer","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccResourceServer","allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true,"subject_type_authorization":{"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"}},"token_lifetime":7200,"token_lifetime_for_web":3600,"signing_alg":"RS256","enforce_policies":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 330.272084ms
[...]
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - TestAccResourceServer","signing_alg":"RS256","allow_offline_access":false,"token_lifetime":7200,"token_lifetime_for_web":3600,"skip_consent_for_verifiable_first_party_clients":true,"enforce_policies":false,"consent_policy":"transactional-authorization-with-mfa","authorization_details":[{"type":"payment"},{"type":"not-payment"}],"token_encryption":{"format":"compact-nested-jwe","encryption_key":{"name":"encryptkey","alg":"RSA-OAEP-256","pem":"-----BEGIN CERTIFICATE-----\nMIIFWDCCA0ACCQDXqpBo3RUhkzANBgkqhkiG9w0BAQsFADBuMQswCQYDVQQGEwJl\nczEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxDTALBgNVBAoMBE9r\ndGExDzANBgNVBAsMBkRYLUNEVDEdMBsGA1UEAwwURGV2ZWxvcGVyIEV4cGVyaWVu\nY2UwHhcNMjMwNTE2MDkzMzEzWhcNMzMwNTEzMDkzMzEzWjBuMQswCQYDVQQGEwJl\nczEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxDTALBgNVBAoMBE9r\ndGExDzANBgNVBAsMBkRYLUNEVDEdMBsGA1UEAwwURGV2ZWxvcGVyIEV4cGVyaWVu\nY2UwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQCupwRtoZtRk9qRaXD+\nYdtpM9dW[...]
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/69a006b6f39293776f28ab5d
        method: GET
      response:
        body: '{"id":"69a006b6f39293776f28ab5d","name":"Acceptance Test - TestAccResourceServer","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccResourceServer","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":true,"subject_type_authorization":{"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"}},"token_lifetime":7200,"token_lifetime_for_web":3600,"signing_alg":"RS256","enforce_policies":false,"token_encryption":{"encryption_key":{"name":"encryptkey","alg":"RSA-OAEP-256","thumbprint_sha256":"w0kIFOc-q7KKK-pa2Uj5b_Cl3f0hAgFeseLg8iEmWu0"},"format":"compact-nested-jwe"},"consent_policy":"transactional-authorization-with-mfa","authorization_details":[{"type":"payment"},{"type":"not-payment"}],"proof_of_possession":{"mechanism":"dpop","required":true,"required_for":"all_clients"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 308.303125ms
[...]
    - id: 21
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - TestAccResourceServer","signing_alg":"RS256","allow_offline_access":false,"token_lifetime":7200,"token_lifetime_for_web":3600,"skip_consent_for_verifiable_first_party_clients":true,"enforce_policies":false,"token_dialect":"access_token"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/69a006b6f39293776f28ab5d
        method: PATCH
      response:
        body: '{"id":"69a006b6f39293776f28ab5d","name":"Acceptance Test - TestAccResourceServer","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccResourceServer","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":true,"subject_type_authorization":{"client":{"policy":"deny_all"},"user":{"policy":"deny_all"}},"token_lifetime":7200,"token_lifetime_for_web":3600,"signing_alg":"RS256","enforce_policies":false,"token_dialect":"access_token","token_encryption":{"encryption_key":{"name":"encryptkey","alg":"RSA-OAEP-256","thumbprint_sha256":"w0kIFOc-q7KKK-pa2Uj5b_Cl3f0hAgFeseLg8iEmWu0"},"format":"compact-nested-jwe"},"consent_policy":"transactional-authorization-with-mfa","authorization_details":[{"type":"payment"},{"type":"not-payment"}],"proof_of_possession":{"mechanism":"mtls","required":true}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 333.863ms
[...]
