---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Client Credentials - TestAccClientAuthenticationMethodsTLSClientAuth","app_type":"non_interactive","token_endpoint_auth_method":"client_secret_post"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientAuthenticationMethodsTLSClientAuth","client_id":"TJKtN7JarwNJzwlEwbp6uBpl2w6MHscs","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 303.468833ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/TJKtN7JarwNJzwlEwbp6uBpl2w6MHscs
        method: GET
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientAuthenticationMethodsTLSClientAuth","client_id":"TJKtN7JarwNJzwlEwbp6uBpl2w6MHscs","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 133.338291ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/TJKtN7JarwNJzwlEwbp6uBpl2w6MHscs?fields=client_id&include_fields=true
        method: GET
      response:
        body: '{"client_id":"TJKtN7JarwNJzwlEwbp6uBpl2w6MHscs","signing_keys":[{"cert":"[REDACTED]"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 140.340584ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/TJKtN7JarwNJzwlEwbp6uBpl2w6MHscs?fields=client_id%2Capp_type&include_fields=true
        method: GET
      response:
        body: '{"client_id":"TJKtN7JarwNJzwlEwbp6uBpl2w6MHscs","app_type":"non_interactive","signing_keys":[{"cert":"[REDACTED]"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 150.600667ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/TJKtN7JarwNJzwlEwbp6uBpl2w6MHscs/credentials?include_totals=true&per_page=50
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 133.985833ms
[...]
    - id: 14
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Client Credentials - TestAccClientAuthenticationMethodsTLSClientAuth","app_type":"non_interactive","jwt_configuration":{"alg":"RS256"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/TJKtN7JarwNJzwlEwbp6uBpl2w6MHscs
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientAuthenticationMethodsTLSClientAuth","client_id":"TJKtN7JarwNJzwlEwbp6uBpl2w6MHscs","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256","lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 149.93775ms
[...]
    - id: 17
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Testing Credentials 1","credential_type":"cert_subject_dn","pem":"-----BEGIN CERTIFICATE-----\nMIIFWDCCA0ACCQDXqpBo3RUhkzANBgkqhkiG9w0BAQsFADBuMQswCQYDVQQGEwJl\nczEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxDTALBgNVBAoMBE9r\ndGExDzANBgNVBAsMBkRYLUNEVDEdMBsGA1UEAwwURGV2ZWxvcGVyIEV4cGVyaWVu\nY2UwHhcNMjMwNTE2MDkzMzEzWhcNMzMwNTEzMDkzMzEzWjBuMQswCQYDVQQGEwJl\nczEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxDTALBgNVBAoMBE9r\ndGExDzANBgNVBAsMBkRYLUNEVDEdMBsGA1UEAwwURGV2ZWxvcGVyIEV4cGVyaWVu\nY2UwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQCupwRtoZtRk9qRaXD+\nYdtpM9dW[...]
    - id: 18
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"client_authentication_methods":{"tls_client_auth":{"credentials":[{"id":"cred_3C1xrznjqgCGDhJ77haFPz"}]}},"token_endpoint_auth_method":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/TJKtN7JarwNJzwlEwbp6uBpl2w6MHscs
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientAuthenticationMethodsTLSClientAuth","client_id":"TJKtN7JarwNJzwlEwbp6uBpl2w6MHscs","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256","lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000},"client_authentication_methods":{"tls_client_auth":{"credentials":[{"id":"cred_3C1xrznjqgCGDhJ77haFPz"}]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 150.918916ms
[...]
    - id: 20
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/TJKtN7JarwNJzwlEwbp6uBpl2w6MHscs/credentials/cred_3C1xrznjqgCGDhJ77haFPz
        method: GET
      response:
        body: '{"id":"cred_3C1xrznjqgCGDhJ77haFPz","credential_type":"cert_subject_dn","name":"Testing Credentials 1","subject_dn":"C=es\nST=Madrid\nL=Madrid\nO=Okta\nOU=DX-CDT\nCN=Developer Experience","created_at":"2024-08-30T19:19:52.171Z","updated_at":"2024-08-30T19:19:52.171Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 155.795458ms
[...]
    - id: 29
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"client_authentication_methods":null,"token_endpoint_auth_method":"client_secret_post","signed_request_object":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/TJKtN7JarwNJzwlEwbp6uBpl2w6MHscs
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientAuthenticationMethodsTLSClientAuth","client_id":"TJKtN7JarwNJzwlEwbp6uBpl2w6MHscs","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256","lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 153.768292ms
[...]
    - id: 35
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/TJKtN7JarwNJzwlEwbp6uBpl2w6MHscs/credentials/cred_9X57EQHgLqq1sBvC9kXGc9
        method: GET
      response:
        body: '{"id":"cred_9X57EQHgLqq1sBvC9kXGc9","credential_type":"cert_subject_dn","name":"Testing Credentials 1","subject_dn":"C=es\nST=Madrid\nL=Madrid\nO=Okta\nOU=DX-CDT\nCN=Developer Experience","created_at":"2024-08-30T19:20:01.818Z","updated_at":"2024-08-30T19:20:01.818Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 135.162ms
[...]
    - id: 60
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/TJKtN7JarwNJzwlEwbp6uBpl2w6MHscs/credentials/cred_iMKzPfmnFh3RERkh6m4wgn
        method: GET
      response:
        body: '{"id":"cred_iMKzPfmnFh3RERkh6m4wgn","credential_type":"cert_subject_dn","name":"Testing Credentials 1","subject_dn":"C=es\nST=Madrid\nL=Madrid\nO=Okta\nOU=DX-CDT\nCN=Developer Experience","created_at":"2024-08-30T19:20:18.221Z","updated_at":"2024-08-30T19:20:18.221Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 143.022083ms
[...]
