version: 2
interactions:
- id: 0
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
    method: POST
  response:
    body: '{"id":"org_TESTORGCLIENT01","name":"test-org-TestAccOrganizationClient","display_name":"Test
      Org TestAccOrganizationClient"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- id: 1
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
    method: POST
  response:
    body: '{"client_id":"clientTESTORGCLIENT01","name":"test-client-TestAccOrganizationClient"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- id: 2
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_TESTORGCLIENT01
    method: GET
  response:
    body: '{"id":"org_TESTORGCLIENT01","name":"test-org-TestAccOrganizationClient","display_name":"Test
      Org TestAccOrganizationClient"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- id: 3
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/clientTESTORGCLIENT01
    method: GET
  response:
    body: '{"client_id":"clientTESTORGCLIENT01","name":"test-client-TestAccOrganizationClient"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- id: 8
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: '{"clients":[{"client_id":"clientTESTORGCLIENT01","use_for_member_access":true}]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_TESTORGCLIENT01/clients
    method: POST
  response:
    body: '[{"client_id":"clientTESTORGCLIENT01","use_for_member_access":true,"client":{"name":"test-client-TestAccOrganizationClient","app_type":"non_interactive","logo_uri":"","is_first_party":true,"grant_types":["client_credentials"]}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- id: 9
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_TESTORGCLIENT01/clients/clientTESTORGCLIENT01
    method: GET
  response:
    body: '{"client_id":"clientTESTORGCLIENT01","use_for_member_access":true,"client":{"name":"test-client-TestAccOrganizationClient","app_type":"non_interactive","logo_uri":"","is_first_party":true,"grant_types":["client_credentials"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- id: 16
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_TESTORGCLIENT01/clients?take=50
    method: GET
  response:
    body: '{"clients":[{"client_id":"clientTESTORGCLIENT01","use_for_member_access":false,"client":{"name":"test-client-TestAccOrganizationClient","app_type":"non_interactive","logo_uri":"","is_first_party":true,"grant_types":["client_credentials"]}}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
