---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"Acceptance Test Key - TestAccNetworkACLKey","alg":"hmac-sha256","value":"Xt3aDuBp8hiZh63ftHNIsAjH00fsEQIe3XnFIu0r1BU="}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/network-acls
        method: POST
      response:
        body: '{"name":"Acceptance Test Key - TestAccNetworkACLKey","alg":"hmac-sha256","fingerprint":"04508abab16e5762a663a0059144173e515aa56300e52c07147aab7e781da77c","created_at":"2026-09-09T05:06:30.645Z","updated_at":"2026-09-09T05:06:30.645Z","id":"key_4UXVA1FrSdDWYva4HwRHq2"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 392.331791ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/network-acls/key_4UXVA1FrSdDWYva4HwRHq2
        method: GET
      response:
        body: '{"name":"Acceptance Test Key - TestAccNetworkACLKey","alg":"hmac-sha256","fingerprint":"04508abab16e5762a663a0059144173e515aa56300e52c07147aab7e781da77c","created_at":"2026-09-09T05:06:30.645Z","updated_at":"2026-09-09T05:06:30.645Z","id":"key_4UXVA1FrSdDWYva4HwRHq2"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 324.189375ms
[...]
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/network-acls/key_9npstzqu5LNMs4a9hwEPDV
        method: GET
      response:
        body: '{"name":"Acceptance Test Key - TestAccNetworkACLKey","alg":"hmac-sha256","fingerprint":"1e31529036772fe2807118a6a05d13863d9d884afd6e9d25720fd2d1417b114f","created_at":"2026-09-09T05:06:33.999Z","updated_at":"2026-09-09T05:06:33.999Z","id":"key_9npstzqu5LNMs4a9hwEPDV"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 317.741333ms
[...]
