---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance-Test-GitHub-TestAccConnectionGitHub","strategy":"github","options":{"client_id":"client-id","client_secret":"client-secret","email":true,"read_user":true,"follow":true,"public_repo":true,"repo":true,"repo_deployment":true,"repo_status":true,"delete_repo":true,"notifications":true,"gist":true,"read_repo_hook":true,"write_repo_hook":true,"admin_repo_hook":true,"read_org":true,"admin_org":true,"read_public_key":true,"write_public_key":true,"admin_public_key":true,"write_org":true,"profile":true,"non_persistent_attrs":null,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_bwAeHiZw0hraDq4R","options":{"client_id":"client-id","client_secret":"client-secret","email":true,"read_user":true,"follow":true,"public_repo":true,"repo":true,"repo_deployment":true,"repo_status":true,"delete_repo":true,"notifications":true,"gist":true,"read_repo_hook":true,"write_repo_hook":true,"admin_repo_hook":true,"read_org":true,"admin_org":true,"read_public_key":true,"write_public_key":true,"admin_public_key":true,"write_org":true,"profile":true,"non_persistent_attrs":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"scope":["user:email","read:user","user:follow","public_repo","repo","repo_deployment","repo:status","delete_repo","notifications","gist","read:repo_hook","write:repo_hook","admin:repo_hook","read:org","admin:org","read:public_key","write:public_key","admin:public_key","write:org"]},"strategy":"github","name":"Acceptance-Test-GitHub-TestAccConnectionGitHub","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-GitHub-TestAccConnectionGitHub"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_bwAeHiZw0hraDq4R
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_bwAeHiZw0hraDq4R","options":{"gist":true,"repo":true,"email":[...]
[...]
