---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/prompts/login-id/screen/login-id/rendering
        method: PATCH
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 458.809375ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/prompts/login-id/screen/login-id/rendering
        method: GET
      response:
        body: '{"tenant":"terraform-provider-auth0-dev","prompt":"login-id","screen":"login-id","rendering_mode":"standard","context_configuration":[],"default_head_tags_disabled":false,"head_tags":[],"filters":null,"use_page_template":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 461.99825ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"rendering_mode":"advanced","context_configuration":["branding.settings","branding.themes.default","client.description","client.logo_uri","organization.branding","organization.display_name","organization.metadata.key","screen.texts","tenant.enabled_locales","tenant.friendly_name","tenant.name","untrusted_data.authorization_params.login_hint","untrusted_data.authorization_params.screen_hint","untrusted_data.authorization_params.ui_locales","untrusted_data.submitted_form_data"],"head_tags":[{"attributes":{"async":true,"defer":true,"integrity":["sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="],"src":"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"},"tag":"script"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/prompts/login-password/screen/login-password/rendering
        method: PATCH
      response:
        body: '{"rendering_mode":"advanced","context_configuration":["branding.settings","branding.themes.default","client.description","client.logo_uri","organization.branding","organization.display_name","organization.metadata.key","screen.texts","tenant.enabled_locales","tenant.friendly_name","tenant.name","untrusted_data.authorization_params.login_hint","untrusted_data.authorization_params.screen_hint","untrusted_data.authorization_params.ui_locales","untrusted_data.submitted_form_data"],"head_tags":[{"attributes":{"async":true,"defer":true,"integrity":["sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="],"src":"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"},"tag":"script"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 651.581ms
[...]
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Client-1-{{.testName}}","oidc_logout":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance-Test-Client-1-{{.testName}}","client_id":"FCyNWpdajmdwX99yyStLMjngSXKfmmsl","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"oidc_backchannel_logout":{},"oidc_logout":{"backchannel_logout_initiators":{"mode":"custom","selected_initiators":["rp-logout","idp-logout"]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 609.82625ms
[...]
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/FCyNWpdajmdwX99yyStLMjngSXKfmmsl
        method: GET
      response:
        body: '{"name":"Acceptance-Test-Client-1-{{.testName}}","client_id":"FCyNWpdajmdwX99yyStLMjngSXKfmmsl","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"oidc_backchannel_logout":{},"oidc_logout":{"backchannel_logout_initiators":{"mode":"custom","selected_initiators":["rp-logout","idp-logout"]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 447.926875ms
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/Z1qZ5AFC2cjdHOfuVJaAE92RyQwzMB5m
        method: GET
      response:
        body: '{"name":"Acceptance-Test-Client-1-{{.testName}}","client_id":"Z1qZ5AFC2cjdHOfuVJaAE92RyQwzMB5m","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"oidc_backchannel_logout":{},"oidc_logout":{"backchannel_logout_initiators":{"mode":"custom","selected_initiators":["rp-logout","idp-logout"]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 499.169459ms
    - id: 14
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"rendering_mode":"advanced","context_configuration":["branding.settings","branding.themes.default","client.description","client.logo_uri","organization.branding","organization.display_name","screen.texts","tenant.friendly_name","tenant.name","untrusted_data.authorization_params.login_hint","untrusted_data.authorization_params.ui_locales"],"filters":{"match_type":"includes_any","clients":[{"id":"Z1qZ5AFC2cjdHOfuVJaAE92RyQwzMB5m"},{"id":"FCyNWpdajmdwX99yyStLMjngSXKfmmsl"}],"organizations":[{"metadata":{"some_key":"some_value"}}]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/prompts/login-password/screen/login-password/rendering
        method: PATCH
      response:
        body: '{"rendering_mode":"advanced","context_configuration":["branding.settings","branding.themes.default","client.description","client.logo_uri","organization.branding","organization.display_name","screen.texts","tenant.friendly_name","tenant.name","untrusted_data.authorization_params.login_hint","untrusted_data.authorization_params.ui_locales"],"filters":{"match_type":"includes_any","clients":[{"id":"Z1qZ5AFC2cjdHOfuVJaAE92RyQwzMB5m"},{"id":"FCyNWpdajmdwX99yyStLMjngSXKfmmsl"}],"organizations":[{"metadata":{"some_key":"some_value"}}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 538.459416ms
[...]
