---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Twitter-TestAccConnectionTwitter","strategy":"twitter","options":{"client_id":"someClientID","client_secret":"someClientSecret","authorizationURL":null,"tokenURL":null,"set_user_root_attributes":"on_each_login"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_VjztzwMHd045xVt8","options":{"client_id":"someClientID","client_secret":"someClientSecret","authorizationURL":null,"tokenURL":null,"set_user_root_attributes":"on_each_login"},"strategy":"twitter","name":"Acceptance-Test-Twitter-TestAccConnectionTwitter","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Twitter-TestAccConnectionTwitter"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 181.085458ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_VjztzwMHd045xVt8
        method: GET
      response:
        body: '{"id":"con_VjztzwMHd045xVt8","options":{"client_id":"someClientID","client_secret":"someClientSecret","set_user_root_attributes":"on_each_login"},"strategy":"twitter","name":"Acceptance-Test-Twitter-TestAccConnectionTwitter","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Twitter-TestAccConnectionTwitter"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 168.388333ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"options":{"client_id":"someClientID","client_secret":"someClientSecret","authorizationURL":null,"tokenURL":null,"set_user_root_attributes":"on_each_login","scope":["basic_profile"]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_VjztzwMHd045xVt8
        method: PATCH
      response:
        body: '{"id":"con_VjztzwMHd045xVt8","options":[...]
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_VjztzwMHd045xVt8
        method: DELETE
      response:
        body: '{"deleted_at":"2024-09-12T21:26:27.668Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 154.267208ms
