---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"session_lifetime":168,"idle_session_lifetime":72}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"enabled_locales":["en"],"flags":{"allow_changing_enable_sso":false,"cannot_change_enforce_client_authentication_on_passwordless_start":true,"disable_impersonation":true,"enable_sso":true,"enforce_client_authentication_on_passwordless_start":true,"universal_login":true,"revoke_refresh_token_grant":false,"disable_clickjack_protection_headers":false},"idle_session_lifetime":72,"sandbox_version":"18","session_lifetime":168,"oidc_logout":{"rp_logout_end_session_endpoint_discovery":true}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 149.840708ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"mtls":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"enabled_locales":["en"],"flags":{"allow_changing_enable_sso":false,"cannot_change_enforce_client_authentication_on_passwordless_start":true,"disable_impersonation":true,"enable_sso":true,"enforce_client_authentication_on_passwordless_start":true,"universal_login":true,"revoke_refresh_token_grant":false,"disable_clickjack_protection_headers":false},"idle_session_lifetime":72,"sandbox_version":"18","session_lifetime":168,"oidc_logout":{"rp_logout_end_session_endpoint_discovery":true}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 160.996959ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: GET
      response:
        body: '{"enabled_locales":["en"],"flags":{"allow_changing_enable_sso":false,"disable_impersonation":true,"enable_sso":true,"universal_login":true,"revoke_refresh_token_grant":false,"disable_clickjack_protection_headers":false},"idle_session_lifetime":72,"sandbox_version":"18","session_lifetime":168,"oidc_logout":{"rp_logout_end_session_endpoint_discovery":true},"sandbox_versions_available":["18","16"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 119.006208ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption?include_totals=true&page=0&per_page=5
        method: GET
      response:
        body: '{"keys":[{"kid":"5b40e87a-27e3-412c-9346-a9f84537ae13","type":"tenant-master-key","state":"active","created_at":"2024-10-04T14:11:08.785Z","updated_at":"2024-10-04T14:11:08.785Z","parent_kid":"6a9a6357-6329-4265-91fc-2ab0d8434a15","public_key":null},{"kid":"4b847b04-ab89-42b0-80c0-6608d26fd867","type":"tenant-master-key","state":"destroyed","created_at":"2024-10-04T14:11:06.690Z","updated_at":"2024-10-04T14:11:09.173Z","parent_kid":"6a9a6357-6329-4265-91fc-2ab0d8434a15","public_key":null},{"kid":"c178a38a-8111-480b-a54f-a3dfea118773","type":"tenant-master-key","state":"destroyed","created_at":"2024-10-04T14:09:59.532Z","updated_at":"2024-10-04T14:11:07.073Z","parent_kid":"6a9a6357-6329-4265-91fc-2ab0d8434a15","public_key":null},{"kid"[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"type":"customer-provided-root-key"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption
        method: POST
      response:
        body: '{"kid":"a8ee2b51-6ed4-4f08-a047-205b5be08784","type":"customer-provided-root-key","state":"pre-activation","created_at":"2024-10-04T14:11:15.077Z","updated_at":"2024-10-04T14:11:15.077Z","parent_kid":null,"public_key":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 198.136667ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption/a8ee2b51-6ed4-4f08-a047-205b5be08784
        method: GET
      response:
        body: '{"kid":"a8ee2b51-6ed4-4f08-a047-205b5be08784","type":"customer-provided-root-key","state":"pre-activation","created_at":"2024-10-04T14:11:15.077Z","updated_at":"2024-10-04T14:11:15.077Z","parent_kid":null,"public_key":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 291.2855ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption/a8ee2b51-6ed4-4f08-a047-205b5be08784/wrapping-key
        method: POST
      response:
        body: '{"public_key":"-----BEGIN PUBLIC KEY-----\nMIIBojANBgkqhkiG9w0BAQEFAAOCAY8AMIIBigKCAYEAqK5lg8PF2WpDhc7JAYFQ\n6IWTtiDHEGm0r115Ji8ebd9MHSuw+DO4N0L/2EgxdVwBZS3+xu5Z7T6+dIV/RFSa\nUbLzfgo9PLOKdiu9jJSJqlGeDmlQgqfzVfCipW2aL2mLug7ny+MpPAPuVTgrxPEt\nEknjRA6XKSYwEO17hetBViRI6MsRuPq+dS/bh7hetKiawb5Jc+GbaoLN5eSqMMpy\n1soAigK6d1OH9mF6qcMrgrJcKkJlqySniIyGp169N139/JYiLIE8BhTVZeVwYQyo\n2t8SO68GMhVpA7pYyyK0gn1g3JVaoBa3NJOgNgjzEsVQ9NUtEjYtZYNOk2GKr82z\nch7lJFEd+cGn7erotsqRGWLM9j9xh0OwSZdJHY2ujedH6tQNAe8uMDiq0zamtwWg\njo9q/LZ3a694uCYg68S/DLFSGR6VRJMTRv7dcJvfj7cXXSJZF4d+q80Xagq7lYF/\ngkuAMcx3r/fGYueM7wnRkXYDTwEXxSruGNoknMfRkziLAgMBAAE=\n-----END PUBLIC KEY-----\n","algorithm":"CKM_RSA_AES_KEY_WRAP"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.14082225s
[...]
    - id: 36
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"wrapped_key":"bad-key-value"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption/9cd36af3-80e0-4821-b8e6-58eaef816b69
        method: POST
      response:
        body: '{"statusCode":400,"error":"Bad Request","message":"Invalid input. Wrapped key material is invalid or unsupported key type.","errorCode":"invalid_body"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 166.167416ms
[...]
