---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"TestAccEventStream-my-eventbridge","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"destination":{"type":"eventbridge","configuration":{"aws_account_id":"242849305777","aws_region":"us-east-1"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams
        method: POST
      response:
        body: '{"id":"est_wUTkgphswxErbrqE43gCU8","status":"enabled","name":"TestAccEventStream-my-eventbridge","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2025-07-19T12:23:29.142Z","updated_at":"2025-07-19T12:23:29.142Z","destination":{"type":"eventbridge","configuration":{"aws_region":"us-east-1","aws_account_id":"242849305777","aws_partner_event_source":"aws.partner/auth0.com/terraform-provider-auth0-dev-ed025c3d-7dee-40b6-8b3d-4e48d968abe2/auth0.events"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.691250375s
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams/est_wUTkgphswxErbrqE43gCU8
        method: GET
      response:
        body: '{"id":"est_wUTkgphswxErbrqE43gCU8","status":"enabled","name":"TestAccEventStream-my-eventbridge","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2025-07-19T12:23:29.142Z","updated_at":"2025-07-19T12:23:29.142Z","destination":{"type":"eventbridge","configuration":{"aws_region":"us-east-1","aws_account_id":"242849305777","aws_partner_event_source":"aws.partner/auth0.com/terraform-provider-auth0-dev-ed025c3d-7dee-40b6-8b3d-4e48d968abe2/auth0.events"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 329.851209ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"TestAccEventStream-my-webhook","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"destination":{"type":"webhook","configuration":{"webhook_authorization":{"method":"bearer","token":"123456789"},"webhook_endpoint":"https://eof28wtn4v4506o.m.pipedream.net"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams
        method: POST
      response:
        body: '{"id":"est_4uKHGZXGss4FPuZRx5DVyR","status":"enabled","name":"TestAccEventStream-my-webhook","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2025-07-19T12:23:36.136Z","updated_at":"2025-07-19T12:23:36.136Z","destination":{"type":"webhook","configuration":{"webhook_endpoint":"https://eof28wtn4v4506o.m.pipedream.net","webhook_authorization":{"method":"bearer"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 345.43325ms
[...]
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams/est_4uKHGZXGss4FPuZRx5DVyR
        method: GET
      response:
        body: '{"id":"est_4uKHGZXGss4FPuZRx5DVyR","status":"enabled","name":"TestAccEventStream-my-webhook","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2025-07-19T12:23:36.136Z","updated_at":"2025-07-19T12:23:36.136Z","destination":{"type":"webhook","configuration":{"webhook_endpoint":"https://eof28wtn4v4506o.m.pipedream.net","webhook_authorization":{"method":"bearer"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 456.775459ms
[...]
