---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-testaccorganizationdiscoverydomain_import","display_name":"Test Organization testaccorganizationdiscoverydomain_import"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_AZgBl4OSP5X70bJA","display_name":"Test Organization testaccorganizationdiscoverydomain_import","name":"test-testaccorganizationdiscoverydomain_import"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 337.985375ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_AZgBl4OSP5X70bJA
        method: GET
      response:
        body: '{"id":"org_AZgBl4OSP5X70bJA","name":"test-testaccorganizationdiscoverydomain_import","display_name":"Test Organization testaccorganizationdiscoverydomain_import"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 329.8855ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"testaccorganizationdiscoverydomain-import.example.com","status":"pending"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_AZgBl4OSP5X70bJA/discovery-domains
        method: POST
      response:
        body: '{"id":"ord_1cwA9qUTMMMBRrow9iCA7X","domain":"testaccorganizationdiscoverydomain-import.example.com","status":"pending","verification_host":"_ss-verification.org_AZgBl4OSP5X70bJA.testaccorganizationdiscoverydomain-import.example.com","verification_txt":"0f5e47c0944bec61527c34ab393460f3","use_for_organization_discovery":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 364.023667ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_AZgBl4OSP5X70bJA/discovery-domains/ord_1cwA9qUTMMMBRrow9iCA7X
        method: GET
      response:
        body: '{"id":"ord_1cwA9qUTMMMBRrow9iCA7X","domain":"testaccorganizationdiscoverydomain-import.example.com","status":"pending","verification_host":"_ss-verification.org_AZgBl4OSP5X70bJA.testaccorganizationdiscoverydomain-import.example.com","verification_txt":"0f5e47c0944bec61527c34ab393460f3"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 346.073458ms
[...]
