---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"HMS Test Key - TestAccNetworkACLHTTPMessageSignature","alg":"hmac-sha256","value":"dGhpcy1pcy1hLXZhbGlkLWtleS1mb3ItdGVzdGluZyE="}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/network-acls
        method: POST
      response:
        body: '{"name":"HMS Test Key - TestAccNetworkACLHTTPMessageSignature","alg":"hmac-sha256","fingerprint":"ad8086e5a92a4993507c7a7af66e649da6ad6c4362b94e4a88c46c91f0fe0424","created_at":"2026-09-04T08:04:08.814Z","updated_at":"2026-09-04T08:04:08.814Z","id":"key_8KorgMwwcA6DLp8UcbiNFa"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 378.920625ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/network-acls/key_8KorgMwwcA6DLp8UcbiNFa
        method: GET
      response:
        body: '{"name":"HMS Test Key - TestAccNetworkACLHTTPMessageSignature","alg":"hmac-sha256","fingerprint":"ad8086e5a92a4993507c7a7af66e649da6ad6c4362b94e4a88c46c91f0fe0424","created_at":"2026-09-04T08:04:08.814Z","updated_at":"2026-09-04T08:04:08.814Z","id":"key_8KorgMwwcA6DLp8UcbiNFa"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 911.155ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"HMS ACL - TestAccNetworkACLHTTPMessageSignature","active":true,"priority":99,"rule":{"action":{"block":true},"not_match":{"http_message_signature":{"keys":[{"id":"key_8KorgMwwcA6DLp8UcbiNFa"}]}},"scope":"tenant"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls
        method: POST
      response:
        body: '{"description":"HMS ACL - TestAccNetworkACLHTTPMessageSignature","active":true,"priority":99,"rule":[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_vztTxqM4rKwAzTvyLjqgvW
        method: GET
      response:
        body: '{"tenant_id":"terraform-provider-auth0-dev","description":"HMS ACL - TestAccNetworkACLHTTPMessageSignature","active":true,"priority":99,"rule":{"scope":"tenant","action":{"block":true},"not_match":{"http_message_signature":{"keys":[{"id":"key_8KorgMwwcA6DLp8UcbiNFa"}]}}},"created_at":"2026-09-04T08:04:10.473Z","updated_at":"2026-09-04T08:04:10.473Z","deleted_at":null,"id":"acl_vztTxqM4rKwAzTvyLjqgvW"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 368.539ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/network-acls/key_kuorA2WNTTDJLwjpw7P6nV
        method: GET
      response:
        body: '{"name":"HMS Test Key 2 - TestAccNetworkACLHTTPMessageSignature","alg":"hmac-sha256","fingerprint":"f7528f9a045f6b83127cbb79234ae79a65a5db9d59ea77382d1ffd912e3745eb","created_at":"2026-09-04T08:04:14.994Z","updated_at":"2026-09-04T08:04:14.994Z","id":"key_kuorA2WNTTDJLwjpw7P6nV"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 315.719959ms
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"HMS ACL Updated - TestAccNetworkACLHTTPMessageSignature","active":true,"priority":99,"rule":{"action":{"allow":true},"not_match":{"http_message_signature":{"keys":[{"id":"key_8KorgMwwcA6DLp8UcbiNFa"},{"id":"key_kuorA2WNTTDJLwjpw7P6nV"}]}},"scope":"tenant"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_vztTxqM4rKwAzTvyLjqgvW
        method: PUT
      response:
        body: '{"description":"HMS ACL Updated - TestAccNetworkACLHTTPMessageSignature","active":true,"priority":99,"rule":[...]
    - id: 16
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_vztTxqM4rKwAzTvyLjqgvW
        method: DELETE
      response:
        body: '{"code":204,"object":""}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 323.905ms
[...]
