---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        ["all-applications"]
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/policies
      method: PUT
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '["all-applications"]'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"enabled":true}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/sms
      method: PUT
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"enabled":true}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 2
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"provider":"phone-message-hook"}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/phone/selected-provider
      method: PUT
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"provider":"phone-message-hook"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 3
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"message_types":["sms"]}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/phone/message-types
      method: PUT
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"message_types":["sms"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 4
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"enabled":false}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/webauthn-roaming
      method: PUT
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"enabled":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 5
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"enabled":false}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/webauthn-platform
      method: PUT
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"enabled":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 6
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"enabled":false}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/duo
      method: PUT
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"enabled":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 7
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"enabled":false}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/push-notification
      method: PUT
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"enabled":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
  - id: 9
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '[{"name":"sms","enabled":true,"trial_expired":false},{"name":"push-notification","enabled":false,"trial_expired":false},{"name":"otp","enabled":false,"trial_expired":false},{"name":"email","enabled":false,"trial_expired":false},{"name":"duo","enabled":false,"trial_expired":false},{"name":"webauthn-roaming","enabled":false,"trial_expired":false},{"name":"webauthn-platform","enabled":false,"trial_expired":false},{"name":"recovery-code","enabled":false,"trial_expired":false}]'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
  - id: 11
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/phone/selected-provider
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"statusCode":429,"error":"Too Many Requests","message":"Global limit has been reached","errorCode":"too_many_requests"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 429 Too Many Requests
      code: 429
      duration: 1ms
[...]
  - id: 31
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"enrollment_message":"enroll foo","verification_message":"verify foo"}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/sms/templates
      method: PUT
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"enrollment_message":"enroll foo","verification_message":"verify foo"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
  - id: 55
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"from":"from bar","messaging_service_sid":"foo","auth_token":"bar","sid":"foo"}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/sms/providers/twilio
      method: PUT
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"from":"from bar","messaging_service_sid":"foo","auth_token":"bar","sid":"foo"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
  - id: 93
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"enabled":false}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/email
      method: PUT
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"enabled":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 94
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"enabled":false}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/otp
      method: PUT
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"statusCode":429,"error":"Too Many Requests","message":"Global limit has been reached","errorCode":"too_many_requests"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 429 Too Many Requests
      code: 429
      duration: 1ms
[...]
  - id: 96
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"enabled":false}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/recovery-code
      method: PUT
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"enabled":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
