---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-LogStream-datadog-TestAccLogStreamDatadog","type":"datadog","pii_config":{"log_fields":["first_name","email","phone"]},"sink":{"datadogRegion":"us","datadogApiKey":"121233123455"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams
        method: POST
      response:
        body: '{"id":"lst_0000000000012930","name":"Acceptance-Test-LogStream-datadog-TestAccLogStreamDatadog","type":"datadog","status":"active","sink":{"datadogApiKey":"121233123455","datadogRegion":"us"},"isPriority":false,"pii_config":{"log_fields":["first_name","email","phone"],"method":"hash","algorithm":"xxhash"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 384.609625ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000012930
        method: GET
      response:
        body: '{"id":"lst_0000000000012930","name":"Acceptance-Test-LogStream-datadog-TestAccLogStreamDatadog","type":"datadog","status":"active","sink":{"datadogApiKey":"121233123455","datadogRegion":"us"},"isPriority":false,"pii_config":{"log_fields":["first_name","email","phone"],"method":"hash","algorithm":"xxhash"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 352.524625ms
[...]
