---
version: 2
interactions:
    - id: 0
      request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: |
              {"name":"Acceptance-Test-Connection-TestAccConnectionOptionsAttrEmail","strategy":"auth0","is_domain_connection":true,"options":{"brute_force_protection":true,"requires_username":false,"precedence":["username","email","phone_number"],"attributes":{"email":{"identifier":{"active":true},"profile_required":true,"signup":{"status":"required","verification":{"active":false}},"verification_method":"otp"}}}}
          form: {}
          headers:
              Content-Type:
                  - application/json
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
          method: POST
      response:
          body: '{"id":"con_Czze8lJ9J8dZtzMc","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","brute_force_protection":true,"requires_username":false,"precedence":["username","email","phone_number"],"attributes":{"email":{"identifier":{"active":true},"profile_required":true,"signup":{"status":"required","verification":{"active":false}},"verification_method":"otp"}},"strategy_version":2,"authentication_methods":{"password":{"enabled":true},"passkey":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true}},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionOptionsAttrEmail","is_domain_connection":true,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionOptionsAttrEmail"]}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status: 201 Created
          code: 201
          duration: 396.520292ms
    - id: 1
      request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: ""
          form: {}
          headers:
              Content-Type:
                  - application/json
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_Czze8lJ9J8dZtzMc
          method: GET
      response:
          body: '{"id":"con_Czze8lJ9J8dZtzMc","options":{"mfa":{"active":true,"return_enroll_settings":true},"attributes":{"email":{"signup":{"status":"required","verification":{"active":false}},"identifier":{"active":true},"profile_required":true,"verification_method":"otp"}},"precedence":["username","email","phone_number"],"passwordPolicy":"good","passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"strategy_version":2,"requires_username":false,"authentication_methods":{"passkey":{"enabled":false},"password":{"enabled":true}},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionOptionsAttrEmail","is_domain_connection":true,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionOptionsAttrEmail"]}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status: 200 OK
          code: 200
          duration: 332.07075ms
[...]
    - id: 3
      request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: ""
          form: {}
          headers:
              Content-Type:
                  - application/json
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
          method: GET
      response:
          body: '{"enabled_locales":["en"],"flags":{"allow_changing_enable_sso":false,"disable_impersonation":true,"enable_sso":true,"universal_login":true,"revoke_refresh_token_grant":false,"dashboard_new_onboarding":true,"disable_clickjack_protection_headers":false},"picture_url":"https://example.com/logo.png","sandbox_version":"16","universal_login":{"colors":{"page_background":"#FF4F40","primary":"#2A2E35"}},"sandbox_versions_available":["18","16"]}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status: 200 OK
          code: 200
          duration: 336.07175ms
[...]
    - id: 5
      request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: ""
          form: {}
          headers:
              Content-Type:
                  - application/json
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_Czze8lJ9J8dZtzMc
          method: DELETE
      response:
          body: '{"deleted_at":"2025-01-09T06:01:20.047Z"}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status: 202 Accepted
          code: 202
          duration: 333.875041ms
[...]
    - id: 8
      request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: ""
          form: {}
          headers:
              Content-Type:
                  - application/json
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&page=0&per_page=50
          method: GET
      response:
          body: '{"total":3,"start":0,"limit":50,"connections":[{"id":"con_NgUj1aAYUvMI1smy","options":{"type":"back_channel","issuer":"https://example.okta.com","jwks_uri":"https://example.okta.com/oauth2/v1/keys","client_id":"1234567","attribute_map":{"mapping_mode":"basic_profile"},"client_secret":"1234567","schema_version":"oidc-V4","token_endpoint":"https://example.okta.com/oauth2/v1/token","userinfo_endpoint":null,"connection_settings":{"pkce":"auto"},"authorization_endpoint":"https://example.okta.com/oauth2/v1/authorize"},"strategy":"okta","name":"craig-test-okta-connection","is_domain_connection":false,"show_as_button":false,"display_name":"Craig Test Okta Workforce Connection","realms":["craig-test-okta-connection"],"enabled_clients":[]},{"id":"con_nxtsVa2XBrGFWqrj","options":{"email":true,"scope":["email","profile"],"profile":true},"strategy":"google-oauth2","name":"google-oauth2","is_domain_connection":false,"realms":["google-oauth2"],"enabled_clients":["i4LnBZLIAarAMmWvIJdXwFhwDGs9wlEW","CD7KYYaQgl5CKjfoV5NMVljTPxJlOFs9"]},{"id":"con_cerN9Nsm83juEPcC","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","name":"Username-Password-Authentication","is_domain_connection":false,"realms":["Username-Password-Authentication"],"enabled_clients":["i4LnBZLIAarAMmWvIJdXwFhwDGs9wlEW","CD7KYYaQgl5CKjfoV5NMVljTPxJlOFs9"]}]}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status: 200 OK
          code: 200
          duration: 347.7365ms
