---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Owner testaccuserroles","description":"Owner testaccuserroles"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles
        method: POST
      response:
        body: '{"id":"rol_X1qnfVcQoD86UtWx","name":"Test Owner testaccuserroles","description":"Owner testaccuserroles"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 257.933084ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_X1qnfVcQoD86UtWx
        method: GET
      response:
        body: '{"id":"rol_X1qnfVcQoD86UtWx","name":"Test Owner testaccuserroles","description":"Owner testaccuserroles"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 219.63375ms
[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_0bwwCJ6v2x8fYcfz
        method: GET
      response:
        body: '{"id":"rol_0bwwCJ6v2x8fYcfz","name":"Test Admin testaccuserroles","description":"Administrator testaccuserroles"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 484.064083ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"testaccuserroles@acceptance.test.com","username":"testaccuserroles","password":"passpass$12$12"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"created_at":"2023-12-19T14:01:35.711Z","email":"testaccuserroles@acceptance.test.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"6581a23fcd2007f80689a507","provider":"auth0","isSocial":false}],"name":"testaccuserroles@acceptance.test.com","nickname":"testaccuserroles","picture":"https://s.gravatar.com/avatar/3c61de0d67bf4b07b9fe360d9cacf04c?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2023-12-19T14:01:35.711Z","user_id":"auth0|6581a23fcd2007f80689a507","username":"testaccuserroles"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 525.225083ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C6581a23fcd2007f80689a507
        method: GET
      response:
        body: '{"created_at":"2023-12-19T14:01:35.711Z","email":"testaccuserroles@acceptance.test.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"6581a23fcd2007f80689a507","provider":"auth0","isSocial":false}],"name":"testaccuserroles@acceptance.test.com","nickname":"testaccuserroles","picture":"https://s.gravatar.com/avatar/3c61de0d67bf4b07b9fe360d9cacf04c?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2023-12-19T14:01:35.711Z","user_id":"auth0|6581a23fcd2007f80689a507","username":"testaccuserroles"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 523.867833ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"roles":["rol_X1qnfVcQoD86UtWx"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C6581a23fcd2007f80689a507/roles
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 348.608542ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C6581a23fcd2007f80689a507/roles?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"roles":[{"id":"rol_X1qnfVcQoD86UtWx","name":"Test Owner testaccuserroles","description":"Owner testaccuserroles"}],"start":0,"limit":100,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 454.260292ms
[...]
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C6581a23fcd2007f80689a507/permissions?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"permissions":[],"start":0,"limit":100,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 405.145125ms
[...]
    - id: 111
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C6581a23fcd2007f80689a507/roles?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"roles":[{"id":"rol_X1qnfVcQoD86UtWx","name":"Test Owner testaccuserroles","description":"Owner testaccuserroles"}],"start":0,"limit":50,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 251.414084ms
[...]
