---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-testaccorganizationdiscoverydomain","display_name":"Test Organization testaccorganizationdiscoverydomain"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_2P7yYVJxI4of7Kl8","display_name":"Test Organization testaccorganizationdiscoverydomain","name":"test-testaccorganizationdiscoverydomain"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 383.693375ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_2P7yYVJxI4of7Kl8
        method: GET
      response:
        body: '{"id":"org_2P7yYVJxI4of7Kl8","name":"test-testaccorganizationdiscoverydomain","display_name":"Test Organization testaccorganizationdiscoverydomain"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 359.532042ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"testaccorganizationdiscoverydomain.example.com","status":"pending","use_for_organization_discovery":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_2P7yYVJxI4of7Kl8/discovery-domains
        method: POST
      response:
        body: '{"id":"ord_1cwA9qfowshuJt45KASSNf","domain":"testaccorganizationdiscoverydomain.example.com","status":"pending","verification_host":"_ss-verification.org_2P7yYVJxI4of7Kl8.testaccorganizationdiscoverydomain.example.com","verification_txt":"9eedcae35d5a70e2f7bd1b8e60b7b79b","use_for_organization_discovery":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 353.015ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_2P7yYVJxI4of7Kl8/discovery-domains/ord_1cwA9qfowshuJt45KASSNf
        method: GET
      response:
        body: '{"id":"ord_1cwA9qfowshuJt45KASSNf","domain":"testaccorganizationdiscoverydomain.example.com","status":"pending","verification_host":"_ss-verification.org_2P7yYVJxI4of7Kl8.testaccorganizationdiscoverydomain.example.com","verification_txt":"9eedcae35d5a70e2f7bd1b8e60b7b79b"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 363.769041ms
[...]
