---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"testaccorganizationmember1@auth0.com","username":"testaccorganizationmember11","password":"MyPass123$"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"created_at":"2024-09-23T06:29:34.151Z","email":"testaccorganizationmember1@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"66f10ace013dcad0c0dd0491","provider":"auth0","isSocial":false}],"name":"testaccorganizationmember1@auth0.com","nickname":"testaccorganizationmember1","picture":"https://s.gravatar.com/avatar/a3ca1ab654eee614bf23d07037dc77c6?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2024-09-23T06:29:34.151Z","user_id":"auth0|66f10ace013dcad0c0dd0491","username":"testaccorganizationmember11"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 500.749375ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C66f10ace013dcad0c0dd0491
        method: GET
      response:
        body: '{"created_at":"2024-09-23T06:29:34.151Z","email":"testaccorganizationmember1@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"66f10ace013dcad0c0dd0491","provider":"auth0","isSocial":false}],"name":"testaccorganizationmember1@auth0.com","nickname":"testaccorganizationmember1","picture":"https://s.gravatar.com/avatar/a3ca1ab654eee614bf23d07037dc77c6?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2024-09-23T06:29:34.151Z","user_id":"auth0|66f10ace013dcad0c0dd0491","username":"testaccorganizationmember11"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 413.2335ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"some-org-testaccorganizationmember","display_name":"testaccorganizationmember"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_kqWAstQju59VaVbD","display_name":"testaccorganizationmember","name":"some-org-testaccorganizationmember"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 362.428333ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_kqWAstQju59VaVbD
        method: GET
      response:
        body: '{"id":"org_kqWAstQju59VaVbD","name":"some-org-testaccorganizationmember","display_name":"testaccorganizationmember"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 429.290459ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"members":["auth0|66f10ace013dcad0c0dd0491"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_kqWAstQju59VaVbD/members
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 370.236792ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_kqWAstQju59VaVbD/members?fields=user_id&include_fields=true&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[{"user_id":"auth0|66f10ace013dcad0c0dd0491"}],"next":"MjAyNC0wOS0yMyAwNjoyOTozNi42NjQwMDBVVEMsYXV0aDB8NjZmMTBhY2UwMTNkY2FkMGMwZGQwNDkx"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 352.35925ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_kqWAstQju59VaVbD/members?fields=user_id&from=MjAyNC0wOS0yMyAwNjoyOTozNi42NjQwMDBVVEMsYXV0aDB8NjZmMTBhY2UwMTNkY2FkMGMwZGQwNDkx&include_fields=true&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 387.767458ms
[...]
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_kqWAstQju59VaVbD/enabled_connections?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"enabled_connections":[],"start":0,"limit":0,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 408.439208ms
[...]
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_kqWAstQju59VaVbD/client-grants?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"client_grants":[],"start":0,"limit":50,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 387.004625ms
[...]
    - id: 36
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_kqWAstQju59VaVbD/members?fields=user_id&from=MjAyNC0wOS0yMyAwNjoyOTo0OC44ODYwMDBVVEMsYXV0aDB8NjZmMTBhY2Y3NjNlZmY1MThkMTg4MDJh&include_fields=true&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 384.6805ms
[...]
    - id: 104
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_kqWAstQju59VaVbD/members?fields=user_id&from=MjAyNC0wOS0yMyAwNjozMDoxNi41OTEwMDBVVEMsYXV0aDB8NjZmMTBhY2Y3NjNlZmY1MThkMTg4MDJh&include_fields=true&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 340.388208ms
[...]
