---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"status":"disabled","name":"TestAccEventStreamStatus-my-webhook-disabled","subscriptions":[{"event_type":"user.created"}],"destination":{"type":"webhook","configuration":{"webhook_authorization":{"method":"bearer","token":"123456789"},"webhook_endpoint":"https://eof28wtn4v4506o.m.pipedream.net"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams
        method: POST
      response:
        body: '{"id":"est_sQnKrCmhBUamEMn5CCD7Cd","status":"disabled","name":"TestAccEventStreamStatus-my-webhook-disabled","subscriptions":[{"event_type":"user.created"}],"created_at":"2026-05-07T06:39:02.044Z","updated_at":"2026-05-07T06:39:02.044Z","destination":{"type":"webhook","configuration":{"webhook_endpoint":"https://eof28wtn4v4506o.m.pipedream.net","webhook_authorization":{"method":"bearer"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 403.043042ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams/est_sQnKrCmhBUamEMn5CCD7Cd
        method: GET
      response:
        body: '{"id":"est_sQnKrCmhBUamEMn5CCD7Cd","status":"disabled","name":"TestAccEventStreamStatus-my-webhook-disabled","subscriptions":[{"event_type":"user.created"}],"created_at":"2026-05-07T06:39:02.044Z","updated_at":"2026-05-07T06:39:02.044Z","destination":{"type":"webhook","configuration":{"webhook_endpoint":"https://eof28wtn4v4506o.m.pipedream.net","webhook_authorization":{"method":"bearer"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 944.770875ms
[...]
