---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"Acceptance Test - TestAccNetworkACLDataSource","active":true,"priority":10,"rule":{"action":{"block":true},"match":{"anonymous_proxy":true},"scope":"tenant"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls
        method: POST
      response:
        body: '{"id":"ea8082da-2924-4bbf-aa5c-aef5db2687d5","description":"Acceptance Test - TestAccNetworkACLDataSource","active":true,"priority":10,"rule":{"match":{"anonymous_proxy":true},"scope":"tenant","action":{"block":true}},"created_at":"2025-03-26T13:54:27.613Z","updated_at":"2025-03-26T13:54:27.613Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 261.329541ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/ea8082da-2924-4bbf-aa5c-aef5db2687d5
        method: GET
      response:
        body: '{"id":"ea8082da-2924-4bbf-aa5c-aef5db2687d5","tenant_id":"terraform-provider-auth0-dev","description":"Acceptance Test - TestAccNetworkACLDataSource","active":true,"priority":10,"rule":{"match":{"anonymous_proxy":true},"scope":"tenant","action":{"block":true}},"created_at":"2025-03-26T13:54:27.613Z","updated_at":"2025-03-26T13:54:27.613Z","deleted_at":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 240.4945ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_invalid_id
        method: GET
      response:
        body: '{"statusCode":400,"error":"Bad Request","message":"Network ACL id is not a valid UUID","errorCode":"invalid_uri"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 240.926833ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/ea8082da-2924-4bbf-aa5c-aef5db2687d5
        method: DELETE
      response:
        body: '{"code":204,"object":""}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 241.684667ms
