---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"session_lifetime":168,"idle_session_lifetime":72}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"allowed_logout_urls":[],"default_audience":"","default_directory":"","enabled_locales":["en"],"flags":{"allow_changing_enable_sso":true,"cannot_change_enforce_client_authentication_on_passwordless_start":true,"disable_impersonation":true,"disable_management_api_sms_obfuscation":true,"enable_client_connections":false,"enable_public_signup_user_exists_error":true,"enable_sso":true,"enforce_client_authentication_on_passwordless_start":true,"new_universal_login_experience_enabled":true,"universal_login":true,"use_scope_descriptions_for_consent":false,"no_disclose_enterprise_connections":false,"revoke_refresh_token_grant":false,"disable_fields_map_fix":true,"dashboard_new_onboarding":false,"mfa_show_factor_list_on_enrollment":true,"custom_domains_provisioning":true,"disable_clickjack_protection_headers":false},"friendly_name":"My Test Tenant","guardian_mfa_page":{"enabled":true,"html":"<!DOCTYPE html>\n<html>\n<head>\n  <title>2nd Factor Authentication</title>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no\" />\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n  <style type=\"text/css\">\n\n    html, body { padding: 0; margin: 0; }\n\n    .table {\n      display: table;\n      position: absolute;\n      height: 100%;\n      width: 100%;\n      background-color: {{ pageBackgroundColor | default: ''#2b2b33'' }};\n    }\n\n    .cell {\n      display: table-cell;\n      vertical-align: middle;\n    }\n\n    .content {\n      padding: 25px 0px 25px 0px;\n      margin-left: auto;\n      margin-right: auto;\n      width: 280px; /* login widget width */\n    }\n\n  </style>\n</head>\n\n<body>\n\n  <div class=\"table\">\n    <div class=\"cell\">\n      <div class=\"content\">\n        <!-- WIDGET -->\n        <div class=\"js-mfa-container mfa-container\" id=\"container\"></div>\n      </div>\n    </div>\n  </div>\n\n  <script src=\"//cdn.auth0.com/js/mfa-widget/mfa-widget-1.8.min.js\"></script>\n\n  <script>\n    (function() {\n      return new Auth0MFAWidget({\n        container: \"container\",\n\n        theme: {\n          icon: \"{{ iconUrl | default: ''//cdn.auth0.com/styleguide/1.0.0/img/badge.png'' }}\",\n          primaryColor: \"{{ primaryColor | default: ''#ea5323'' }}\"\n        },\n\n        requesterErrors: [\n          {% for error in errors %}\n            { message: \"{{ error.message }}\", errorCode:[...]
[...]
