---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance-Test-Custom-SMS-TestAccConnectionCustomSMS","strategy":"sms","is_domain_connection":false,"options":{"name":"sms","from":"+12345678","syntax":"md_with_macros","template":"@@password@@","totp":{"time_step":300,"length":6},"provider":"sms_gateway","gateway_url":"https://somewhere.com/sms-gateway","gateway_authentication":{"method":"bearer","subject":"test.us.auth0.com:sms","audience":"https://somewhere.com/sms-gateway","secret":"4e2680bb72ec2ae24836476dd37ed6c2","secret_base64_encoded":false},"forward_request_info":true,"disable_signup":false,"brute_force_protection":true,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_J3syXgCMcrkKzMoZ","options":{"name":"sms","from":"+12345678","syntax":"md_with_macros","template":"@@password@@","totp":{"time_step":300,"length":6},"provider":"sms_gateway","gateway_url":"https://somewhere.com/sms-gateway","gateway_authentication":{"method":"bearer","subject":"test.us.auth0.com:sms","audience":"https://somewhere.com/sms-gateway","secret":"4e2680bb72ec2ae24836476dd37ed6c2","secret_base64_encoded":false},"forward_request_info":true,"disable_signup":false,"brute_force_protection":true,"upstream_params":{"screen_name":{"alias":"login_hint"}}},"strategy":"sms","name":"Acceptance-Test-Custom-SMS-TestAccConnectionCustomSMS","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Custom-SMS-TestAccConnectionCustomSMS"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_J3syXgCMcrkKzMoZ
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_J3syXgCMcrkKzMoZ","options":{"from":"+12345678","name":"sms","totp":{"length":6,"time_step":300},"syntax":"md_with_macros","provider":"sms_gateway","template":"@@password@@","gateway_url":"https://somewhere.com/sms-gateway","disable_signup":false,"upstream_params":{"screen_name":{"alias":"login_hint"}},"forward_request_info":true,"brute_force_protection":true,"gateway_authentication":{"method":"bearer","secret":"4e2680bb72ec2ae24836476dd37ed6c2","subject":"test.us.auth0.com:sms","audience":"https://somewhere.com/sms-gateway","secret_base64_encoded":false}},"strategy":"sms","name":"Acceptance-Test-Custom-SMS-TestAccConnectionCustomSMS","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Custom-SMS-TestAccConnectionCustomSMS"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
