---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-LogStream-segment-TestAccLogStreamSegment","type":"segment","sink":{"segmentWriteKey":"121233123455"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams
        method: POST
      response:
        body: '{"id":"lst_0000000000011691","name":"Acceptance-Test-LogStream-segment-TestAccLogStreamSegment","type":"segment","status":"active","sink":{"segmentWriteKey":"121233123455"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 138.558875ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000011691
        method: GET
      response:
        body: '{"id":"lst_0000000000011691","name":"Acceptance-Test-LogStream-segment-TestAccLogStreamSegment","type":"segment","status":"active","sink":{"segmentWriteKey":"121233123455"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 122.15475ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-LogStream-segment-TestAccLogStreamSegment","filters":[{"name":"auth.login.fail","type":"category"},{"name":"auth.signup.fail","type":"category"}],"sink":{"segmentWriteKey":"12120908909089"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000011691
        method: PATCH
      response:
        body: '{"id":"lst_0000000000011691","name":"Acceptance-Test-LogStream-segment-TestAccLogStreamSegment","type":"segment","status":"active","sink":{"segmentWriteKey":"12120908909089"},"filters":[{"name":"auth.login.fail","type":"category"},{"name":"auth.signup.fail","type":"category"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 123.414583ms
[...]
