---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"Test Module TestAccActionModuleVersionDataSource","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules
        method: POST
      response:
        body: '{"id":"815888f9-2ea2-438c-bba0-209181155815","name":"Test Module TestAccActionModuleVersionDataSource","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[],"all_changes_published":false,"actions_using_module_total":0,"created_at":"2026-02-16T16:36:54.988656Z","updated_at":"2026-02-16T16:36:54.988656Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 573.369166ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/815888f9-2ea2-438c-bba0-209181155815/versions
        method: POST
      response:
        body: '{"id":"1302c28a-be90-482b-9535-adb54df8a527","module_id":"815888f9-2ea2-438c-bba0-209181155815","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","secrets":[],"dependencies":[],"created_at":"2026-02-16T16:36:55.345194Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 348.103375ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/815888f9-2ea2-438c-bba0-209181155815
        method: GET
      response:
        body: '{"id":"815888f9-2ea2-438c-bba0-209181155815","name":"Test Module TestAccActionModuleVersionDataSource","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[],"all_changes_published":true,"actions_using_module_total":0,"created_at":"2026-02-16T16:36:54.988656Z","updated_at":"2026-02-16T16:36:54.988656Z","latest_version":{"id":"1302c28a-be90-482b-9535-adb54df8a527","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 501.081875ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/815888f9-2ea2-438c-bba0-209181155815/versions?page=0&per_page=50
        method: GET
      response:
        body: '{"versions":[{"id":"1302c28a-be90-482b-9535-adb54df8a527","module_id":"815888f9-2ea2-438c-bba0-209181155815","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","secrets":[],"dependencies":[],"created_at":"2026-02-16T16:36:55.345194Z"}],"total":1,"page":0,"per_page":50}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 353.142167ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/815888f9-2ea2-438c-bba0-209181155815/versions/1302c28a-be90-482b-9535-adb54df8a527
        method: GET
      response:
        body: '{"id":"1302c28a-be90-482b-9535-adb54df8a527","module_id":"815888f9-2ea2-438c-bba0-209181155815","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","secrets":[],"dependencies":[],"created_at":"2026-02-16T16:36:55.345194Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 349.159708ms
[...]
