---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-OIDC-TestAccConnectionOIDC","display_name":"Acceptance-Test-OIDC-TestAccConnectionOIDC","strategy":"oidc","show_as_button":true,"options":{"client_id":"123456","client_secret":"123456","domain_aliases":["api.example.com","example.com"],"discovery_url":"https://api.login.yahoo.com/.well-known/openid-configuration","authorization_endpoint":"https://api.login.yahoo.com/oauth2/request_auth","issuer":"https://api.login.yahoo.com","jwks_uri":"https://api.login.yahoo.com/openid/v1/certs","type":"back_channel","userinfo_endpoint":"https://api.login.yahoo.com/openid/v1/userinfo","token_endpoint":"https://api.login.yahoo.com/oauth2/get_token","scope":"email openid profile","set_user_root_attributes":"on_each_login","non_persistent_attrs":["gender","hair_color"],"upstream_params":{"screen_name":{"alias":"login_hint"}},"connection_settings":{"pkce":"disabled"},"attribute_map":{"mapping_mode":"bind_all"},"token_endpoint_auth_signing_alg":"RS256","id_token_signed_response_algs":["RS256","ES256"],"send_back_channel_nonce":true,"dpop_signing_alg":"ES256","token_endpoint_jwtca_aud_format":"issuer"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_igSsQOh4WCEVFZJZ","options":{"client_id":"123456","client_secret":"123456","domain_aliases":["api.example.com","example.com"],"discovery_url":"https://api.login.yahoo.com/.well-known/openid-configuration","authorization_endpoint":"https://api.login.yahoo.com/oauth2/request_auth","issuer":"https://api.login.yahoo.com","jwks_uri":"https://api.login.yahoo.com/openid/v1/certs","type":"back_channel","userinfo_endpoint":"https://api.login.yahoo.com/openid/v1/userinfo","token_endpoint":"https://api.login.yahoo.com/oauth2/get_token","scope":"email openid profile","set_user_root_attributes":"on_each_login","non_persistent_attrs":["gender","hair_color"],"upstream_params":{"screen_name":{"alias":"login_hint"}},"connection_settings":{"pkce":"disabled"},"attribute_map":{"mapping_mode":"bind_all"},"token_endpoint_auth_signing_alg":"RS256","id_token_signed_response_algs":["RS256","ES256"],"send_back_channel_nonce":true,"dpop_signing_alg":"ES256","token_endpoint_jwtca_aud_format":"issuer","oidc_metadata":{"issuer":"https://api.login.yahoo.com","authorization_endpoint":"https://api.login.yahoo.com/oauth2/request_auth","token_endpoint":"https://api.login.yahoo.com/oauth2/get_token","introspection_endpoint":"https://api.login.yahoo.com/oauth2/introspect","userinfo_endpoint":"https://api.login.yahoo.com/openid/v1/userinfo","token_revocation_endpoint":"https://api.login.yahoo.com/oauth2/revoke","jwks_uri":"https://api.login.yahoo.com/openid/v1/certs","response_types_supported":["code","token","id_token","code token","code id_token","token id_token","code token id_token"],"subject_types_supported":["public"],"grant_types_supported":["authorization_code","refresh_token"],"id_token_signing_alg_values_supported":["ES256","RS256"],"scopes_supported":["openid","openid2","profile","email"],"acr_values_supported":["AAL1","AAL2"],"token_endpoint_auth_methods_supported":["client_secret_basic","client_secret_post"],"claims_supported":["aud","email","email_verified","birthdate","exp","family_name","given_name","iat","iss","locale","name","sub","auth_time"],"response_modes_supported":["query"],"display_values_supported":["page"],"claims_parameter_supported":false,"request_parameter_supported":false,"request_uri_parameter_supported":false,"require_request_uri_registration":false},"schema_version":"oidc-V4"},"strategy":"oidc","name":"Acceptance-Test-OIDC-TestAccConnectionOIDC","is_domain_connection":false,"show_as_button":true,"authentication":{"active":true},"connected_accounts":{"active":false},"display_name":"Acceptance-Test-OIDC-TestAccConnectionOIDC","enabled_clients":[],"realms":["Acceptance-Test-OIDC-TestAccConnectionOIDC"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 649.674ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_igSsQOh4WCEVFZJZ
        method: GET
      response:
        body: '{"id":"con_igSsQOh4WCEVFZJZ","options":{"type":"back_channel","scope":"email openid profile","issuer":"https://api.login.yahoo.com","jwks_uri":"https://api.login.yahoo.com/openid/v1/certs","client_id":"123456","a[...]
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"display_name":"Acceptance-Test-OIDC-TestAccConnectionOIDC","show_as_button":false,"options":{"client_id":"1234567","client_secret":"1234567","domain_aliases":["example.com"],"discovery_url":"https://www.paypalobjects.com/.well-known/openid-configuration","authorization_endpoint":"https://www.paypal.com/signin/authorize","issuer":"https://www.paypalobjects.com","jwks_uri":"https://api.paypal.com/v1/oauth2/certs","type":"back_channel","userinfo_endpoint":"https://api.paypal.com/v1/oauth2/token/userinfo","token_endpoint":"https://api.paypal.com/v1/oauth2/token","scope":"email openid","set_user_root_attributes":"on_first_login","connection_settings":{"pkce":"auto"},"attribute_map":{"userinfo_scope":"openid email profile groups","mapping_mode":"use_map","attributes":{"email":"${context.tokenset.email}","email_verified":"${context.tokenset.email_verified}","family_name":"${context.tokenset.family_name}","given_name":"${context.tokenset.given_name}","name":"${context.tokenset.name}","nickname":"${context.tokenset.nickname}","picture":"${context.tokenset.picture}"}},"token_endpoint_auth_signing_alg":"RS384","id_token_signed_response_algs":["RS256","RS384","ES256"],"dpop_signing_alg":"Ed25519","token_endpoint_jwtca_aud_format":"token_endpoint"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_igSsQOh4WCEVFZJZ
        method: PATCH
      response:
        body: '{"id":"con_igSsQOh4WCEVFZJZ","optio[...]
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_igSsQOh4WCEVFZJZ
        method: GET
      response:
        body: '{"id":"con_igSsQOh4WCEVFZJZ","options":{"type":"back_channel","scope":"email openid","issuer":"https://www.paypalobjects.com","jwks_uri":"https://api.paypal.com/v1/oauth2/certs","client_id":"1234567","attribute_map":{"mapping_mode":"bind_all"},"client_secret":"1234567","discovery_url":"https://www.paypalobjects.com/.well-known/openid-configuration","oidc_metadata":{"issuer":"https://www.paypal.com","jwks_uri":"https://api.paypal.com/v1/oauth2/certs","token_endpoint":"https://api.paypal.com/v1/oauth2/token","claims_supported":["aud","iss","iat","exp","auth_time","nonce","sessionIndex","user_id"],"scopes_supported":["email","address","phone","openid","profile","https://uri.paypal.com/services/wallet/sendmoney","https://uri.paypal.com/services/payments/futurepayments","https://uri.paypal.com/services/expresscheckout"],"userinfo_endpoint":"https://api.paypal.com/v1/oauth2/token/userinfo","revocation_endpoint":"https://api.paypal.com/v1/oauth2/revoke","grant_types_supported":["authorization_code","refresh_token"],"registration_endpoint":"https://api.paypal.com/v1/oauth2/applications","authorization_endpoint":"https://www.paypal.com/signin/authorize","subject_types_supported":["pairwise"],"response_modes_supported":["query","form_post"],"response_types_supported":["code","code id_token"],"claims_parameter_supported":false,"request_parameter_supported":false,"request_uri_parameter_supported":false,"code_challenge_methods_supported":["RS256","ES256","S256"],"require_request_uri_registration":false,"id_token_signing_alg_values_supported":["HS256","RS256"],"token_endpoint_auth_methods_supported":["client_secret_basic"]},"domain_aliases":["example.com"],"schema_version":"oidc-V4","token_endpoint":"https://api.paypal.com/v1/oauth2/token","dpop_signing_alg":"ES384","userinfo_endpoint":"https://api.paypal.com/v1/oauth2/token/userinfo","connection_settings":{"pkce":"auto"},"authorization_endpoint":"https://www.paypal.com/signin/authorize","set_user_root_attributes":"on_first_login"},"strategy":"oidc","name":"Acceptance-Test-OIDC-TestAccConnectionOIDC","is_domain_connection":false,"show_as_button":false,"authentication":{"active":true},"connected_accounts":{"active":false},"display_name":"Acceptance-Test-OIDC-TestAccConnectionOIDC","enabled_clients":[],"realms":["Acceptance-Test-OIDC-TestAccConnectionOIDC"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 385.306625ms
[...]
    - id: 21
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_igSsQOh4WCEVFZJZ
        method: DELETE
      response:
        body: '{"deleted_at":"2026-06-02T13:11:29.691Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 378.164542ms
