---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Connection-TestAccDataSourceConnectionByName","strategy":"auth0"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_IEON2T18ithSdwWl","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccDataSourceConnectionByName","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccDataSourceConnectionByName"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 154.0815ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_IEON2T18ithSdwWl
        method: GET
      response:
        body: '{"id":"con_IEON2T18ithSdwWl","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccDataSourceConnectionByName","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccDataSourceConnectionByName"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 119.723292ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - TestAccDataSourceConnectionByName","app_type":"non_interactive"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - TestAccDataSourceConnectionByName","client_id":"WALBdAB4e2VJIEsBo57H8V5wa1HHeeI9","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 454.976291ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/WALBdAB4e2VJIEsBo57H8V5wa1HHeeI9
        method: GET
      response:
        body: '{"name":"Acceptance Test - TestAccDataSourceConnectionByName","client_id":"WALBdAB4e2VJIEsBo57H8V5wa1HHeeI9","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 222.622583ms
[...]
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections?fields=id%2Cname&include_fields=true&include_totals=true&page=0&per_page=50
        method: GET
      response:
        body: '{"total":11,"start":0,"limit":50,"connections":[{"id":"con_IEON2T18ithSdwWl","name":"Acceptance-Test-Connection-TestAccDataSourceConnectionByName","is_domain_connection":false},{"id":"con_pW1jryNOoxaNcTT0","name":"adfs-test-issue-455","is_domain_connection":true},{"id":"con_HMVQGtsmSqSxkSVh","name":"asdasd","is_domain_connection":false},{"id":"con_47S3hqmuxbaOvPiB","name":"email","is_domain_connection":false},{"id":"con_OX3PbtQiHlGEFyjC","name":"google-oauth2","is_domain_connection":false},{"id":"con_rcKUnou1ogQWBgBZ","name":"mycompany-sso","is_domain_connection":false},{"id":"con_bj23KQ8QtEd1l4EV","name":"oktaWork","is_domain_connection":false},{"id":"con_AyuS1yvUEQjoFaoX","name":"sms","is_domain_connection":false},{"id":"con_vdBe5gMM9KrNxicl","name":"test","is_domain_connection":false},{"id":"con_GlgUxPb6Q7YCMMCD","name":"testing-1-23","is_domain_connection":false},{"id":"con_ftSSLHb0O7rcUGmF","name":"Username-Password-Authentication","is_domain_connection":false}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 113.215416ms
[...]
