---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Test Trigger Binding Foo TestAccTriggerBinding","supported_triggers":[{"id":"post-login","version":"v2"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {\n\tconsole.log(\"foo\")\n};\"\n"}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"82037cb2-798b-4611-8b05-95005ececa77","name":"Test Trigger Binding Foo TestAccTriggerBinding","supported_triggers":[{"id":"post-login","version":"v2"}],"created_at":"2022-08-30T09:06:48.760439017Z","updated_at":"2022-08-30T09:06:48.775545147Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node16","status":"pending","secrets":[],"all_changes_deployed":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/82037cb2-798b-4611-8b05-95005ececa77
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"82037cb2-798b-4611-8b05-95005ececa77","name":"Test Trigger Binding Foo TestAccTriggerBinding","supported_triggers":[{"id":"post-login","version":"v2"}],"created_at":"2022-08-30T09:06:48.760439017Z","updated_at":"2022-08-30T09:06:48.775545147Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node16","status":"built","secrets":[],"all_changes_deployed":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 2
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/82037cb2-798b-4611-8b05-95005ececa77/deploy
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"4a19f44a-07a5-40bf-a740-b7ac0b9653a2","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2022-08-30T09:06:49.026968137Z","updated_at":"2022-08-30T09:06:49.026968137Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v2"}],"action":{"id":"82037cb2-798b-4611-8b05-95005ececa77","name":"Test Trigger Binding Foo TestAccTriggerBinding","supported_triggers":[{"id":"post-login","version":"v2"}],"created_at":"2022-08-30T09:06:48.760439017Z","updated_at":"2022-08-30T09:06:48.760439017Z","all_changes_deployed":false}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 3
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/82037cb2-798b-4611-8b05-95005ececa77
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"82037cb2-798b-4611-8b05-95005ececa77","name":"Test Trigger Binding Foo TestAccTriggerBinding","supported_triggers":[{"id":"post-login","version":"v2"}],"created_at":"2022-08-30T09:06:48.760439017Z","updated_at":"2022-08-30T09:06:48.775545147Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node16","status":"built","secrets":[],"current_version":{"id":"4a19f44a-07a5-40bf-a740-b7ac0b9653a2","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node16","status":"BUILT","number":1,"build_time":"2022-08-30T09:06:49.154987512Z","created_at":"2022-08-30T09:06:49.026968137Z","updated_at":"2022-08-30T09:06:49.156684192Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"4a19f44a-07a5-40bf-a740-b7ac0b9653a2","deployed":true,"number":1,"built_at":"2022-08-30T09:06:49.154987512Z","secrets":[],"status":"built","created_at":"2022-08-30T09:06:49.026968137Z","updated_at":"2022-08-30T09:06:49.156684192Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v2"}]},"all_changes_deployed":true}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
  - id: 8
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"bindings":[{"display_name":"Test Trigger Binding Foo TestAccTriggerBinding","ref":{"type":"action_id","value":"82037cb2-798b-4611-8b05-95005ececa77"}},{"display_name":"Test Trigger Binding Bar TestAccTriggerBinding","ref":{"type":"action_id","value":"06983eec-e3a8-48be-9fe8-c68da376476e"}}]}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings
      method: PATCH
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"bindings":[{"id":"bef9ee81-4fde-4d65-8f60-c3fec277b5e8","trigger_id":"post-login","action":{"id":"82037cb2-798b-4611-8b05-95005ececa77","name":"Test Trigger Binding Foo TestAccTriggerBinding","supported_triggers":[{"id":"post-login","version":"v2"}],"created_at":"2022-08-30T09:06:48.760439017Z","updated_at":"2022-08-30T09:06:48.760439017Z","current_version":{"id":"4a19f44a-07a5-40bf-a740-b7ac0b9653a2","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node16","status":"BUILT","number":1,"build_time":"2022-08-[...]
  - id: 9
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?per_page=50
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"bindings":[{"id":"bef9ee81-4fde-4d65-8f60-c3fec277b5e8[...]
[...]
