---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"Test-Profile-TestAccConnectionProfileXAA","connection_name_prefix_template":"template1","connection_config":{},"cross_app_access_resource_app":{"status":{"default_value":"enabled","allowed_values":["enabled","disabled"]}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connection-profiles
        method: POST
      response:
        body: '{"id":"cop_1cDqgmniGTzcEDXP8VwJ7q","name":"Test-Profile-TestAccConnectionProfileXAA","organization":{"show_as_button":"none","assign_membership_on_login":"none"},"connection_name_prefix_template":"template1","enabled_features":["scim","universal_logout"],"connection_config":{},"cross_app_access_resource_app":{"status":{"default_value":"enabled","allowed_values":["enabled","disabled"]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 319.12025ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connection-profiles/cop_1cDqgmniGTzcEDXP8VwJ7q
        method: GET
      response:
        body: '{"id":"cop_1cDqgmniGTzcEDXP8VwJ7q","name":"Test-Profile-TestAccConnectionProfileXAA","organization":{"show_as_button":"none","assign_membership_on_login":"none"},"connection_name_prefix_template":"template1","enabled_features":["scim","universal_logout"],"connection_config":{},"cross_app_access_resource_app":{"status":{"default_value":"enabled","allowed_values":["enabled","disabled"]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 311.738584ms
[...]
