---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-form-TestAccFormDataSource","languages":{"primary":"en"},"messages":{},"ending":{"resume_flow":true}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/forms
        method: POST
      response:
        body: '{"id":"ap_hp33m8CBGwEBdsKyG63ZPr","name":"test-form-TestAccFormDataSource","languages":{"primary":"en"},"ending":{"resume_flow":true},"created_at":"2024-09-30T10:29:23.747Z","updated_at":"2024-09-30T10:29:23.747Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 242.18125ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/forms/ap_hp33m8CBGwEBdsKyG63ZPr
        method: GET
      response:
        body: '{"id":"ap_hp33m8CBGwEBdsKyG63ZPr","name":"test-form-TestAccFormDataSource","languages":{"primary":"en"},"ending":{"resume_flow":true},"created_at":"2024-09-30T10:29:23.747Z","updated_at":"2024-09-30T10:29:23.747Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 246.654875ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/forms/ap_9AXxPP59pJx5ZtA471cSBx
        method: GET
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"Form not found"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 232.683417ms
[...]
