---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"session_lifetime":168,"idle_session_lifetime":72}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"enabled_locales":["en"],"flags":{"allow_changing_enable_sso":false,"cannot_change_enforce_client_authentication_on_passwordless_start":true,"disable_impersonation":true,"enable_sso":true,"enforce_client_authentication_on_passwordless_start":true,"universal_login":true,"revoke_refresh_token_grant":false,"disable_clickjack_protection_headers":false},"idle_session_lifetime":72,"sandbox_version":"18","session_lifetime":168,"oidc_logout":{"rp_logout_end_session_endpoint_discovery":true}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 184.355084ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"mtls":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"enabled_locales":["en"],"flags":{"allow_changing_enable_sso":false,"cannot_change_enforce_client_authentication_on_passwordless_start":true,"disable_impersonation":true,"enable_sso":true,"enforce_client_authentication_on_passwordless_start":true,"universal_login":true,"revoke_refresh_token_grant":false,"disable_clickjack_protection_headers":false},"idle_session_lifetime":72,"sandbox_version":"18","session_lifetime":168,"oidc_logout":{"rp_logout_end_session_endpoint_discovery":true}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 172.388792ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: GET
      response:
        body: '{"enabled_locales":["en"],"flags":{"allow_changing_enable_sso":false,"disable_impersonation":true,"enable_sso":true,"universal_login":true,"revoke_refresh_token_grant":false,"disable_clickjack_protection_headers":false},"idle_session_lifetime":72,"sandbox_version":"18","session_lifetime":168,"oidc_logout":{"rp_logout_end_session_endpoint_discovery":true},"sandbox_versions_available":["18","16"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 151.445708ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"type":"customer-provided-root-key"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption
        method: POST
      response:
        body: '{"kid":"e1132aad-8134-4af3-b760-2054cc019ac6","type":"customer-provided-root-key","state":"pre-activation","created_at":"2024-10-28T16:41:33.969Z","updated_at":"2024-10-28T16:41:33.969Z","parent_kid":null,"public_key":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 149.472292ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption/e1132aad-8134-4af3-b760-2054cc019ac6
        method: GET
      response:
        body: '{"kid":"e1132aad-8134-4af3-b760-2054cc019ac6","type":"customer-provided-root-key","state":"pre-activation","created_at":"2024-10-28T16:41:33.969Z","updated_at":"2024-10-28T16:41:33.969Z","parent_kid":null,"public_key":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 165.87575ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption/e1132aad-8134-4af3-b760-2054cc019ac6/wrapping-key
        method: POST
      response:
        body: '{"public_key":"-----BEGIN PUBLIC KEY-----\nMIIBojANBgkqhkiG9w0BAQEFAAOCAY8AMIIBigKCAYEA4V5V1VuWYHbt9HFD58/f\n3lLwE1seftBjl5hT2StAQa4AjjJjxMHyWuQ41L7/y/Aq6nHOkGrw6KVTZw3F04lF\nmL8bV0onMcGYzEFOThG8/LVX8X4Z1S5MBqaxLV0EoCV8uQfBgLWD8PlLMc1YVDRx\nO/IWblSkXxdpW9eZvuBhtvE5PzHRR7awPMIeNGxObteYheBqKxwQwhBMS0Wix/As\nCqSE2GCiXq0n+hDNp3Kt0Gs1WzngrXMtGqHFZSkyNGszD134ZaKnRE10Js6AoT0t\nirebqRCK9PiBclAgWIUgX2V/f3MXx7pXyXdBtcDRguUgbNqa2QI35Ln/Co/5PsSJ\nHSc3fEu5QVNewrfZzdWgDXl/X1F2v8McWv5ZoPe39HyRRJUHTbMVc4gY7NuuetSG\nb16eviJoMNKFHBIkUvw9MhLFs8OAgAzCrf7nxsx9uMJljrMPi1zkHCYurj633c75\nqxr2AtdwVek7HucjmJtXoVNAIX4sJluw2tDgXgp5GJ9lAgMBAAE=\n-----END PUBLIC KEY-----\n","algorithm":"CKM_RSA_AES_KEY_WRAP"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.003830709s
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"keys":[{"kid":"e1132aad-8134-4af3-b760-2054cc019ac6","type":"customer-provided-root-key","state":"pre-activation","created_at":"2024-10-28T16:41:33.969Z","updated_at":"2024-10-28T16:41:33.969Z","parent_kid":null,"public_key":null},{"kid":"53f10cae-356b-4159-b1c6-0b2eb15c5499","type":"tenant-master-key","state":"active","created_at":"2024-10-28T16:41:27.570Z","updated_at":"2024-10-28T16:41:27.570Z","parent_kid":"383248b1-e69c-4bc5-90eb-446d722e3f8d","public_key":null},{"kid":"3fbb6b2c-0a36-4379-b6dc-3a[...]
[...]
    - id: 35
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"wrapped_key":"bad-key-value"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption/abb49d50-3fd8-4521-acf3-3528b8be1764
        method: POST
      response:
        body: '{"statusCode":400,"error":"Bad Request","message":"Invalid input. Wrapped key material is invalid or unsupported key type.","errorCode":"invalid_body"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 214.545208ms
[...]
