---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-org-testaccdatasourceorganizations","display_name":"Test Org testaccdatasourceorganizations","is_app_entitlement_active":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_tLjrYbdZdzAPsGq8","display_name":"Test Org testaccdatasourceorganizations","name":"test-org-testaccdatasourceorganizations","third_party_client_access":"block","is_app_entitlement_active":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 329.405416ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-client-testaccdatasourceorganizations"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"test-client-testaccdatasourceorganizations","client_id":"cREXay9bCfTSpixNXRG5qnWEtPwRc8Ay","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 574.85925ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_tLjrYbdZdzAPsGq8
        method: GET
      response:
        body: '{"id":"org_tLjrYbdZdzAPsGq8","name":"test-org-testaccdatasourceorganizations","display_name":"Test Org testaccdatasourceorganizations","third_party_client_access":"block","is_app_entitlement_active":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 298.980792ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/cREXay9bCfTSpixNXRG5qnWEtPwRc8Ay
        method: GET
      response:
        body: '{"name":"test-client-testaccdatasourceorganizations","client_id":"cREXay9bCfTSpixNXRG5qnWEtPwRc8Ay","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 310.902459ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"clients":[{"client_id":"cREXay9bCfTSpixNXRG5qnWEtPwRc8Ay","use_for_member_access":true}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_tLjrYbdZdzAPsGq8/clients
        method: POST
      response:
        body: '[{"client_id":"cREXay9bCfTSpixNXRG5qnWEtPwRc8Ay","use_for_member_access":true,"client":{"name":"test-client-testaccdatasourceorganizations","is_first_party":true,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"]}}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 324.677708ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_tLjrYbdZdzAPsGq8/clients/cREXay9bCfTSpixNXRG5qnWEtPwRc8Ay
        method: GET
      response:
        body: '{"client_id":"cREXay9bCfTSpixNXRG5qnWEtPwRc8Ay","use_for_member_access":true,"client":{"name":"test-client-testaccdatasourceorganizations","is_first_party":true,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 336.329416ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations?include_client_association_for=cREXay9bCfTSpixNXRG5qnWEtPwRc8Ay&include_totals=true&take=50
        method: GET
      response:
        body: '{"organizations":[{"id":"org_xGYLkGMyduKlQ7wP","name":"organization-1","display_name":"Acme Users","branding":{"logo_url":"https://test.com"},"token_quota":{"client_credentials":{"per_hour":1073741824,"per_day":1073741824,"enforce":true}},"third_party_client_access":"block","is_app_entitlement_active":true},{"id":"org_tLjrYbdZdzAPsGq8","name":"test-org-testaccdatasourceorganizations","display_name":"Test Org testaccdatasourceorganizations","third_party_client_access":"block","is_app_entitlement_active":true,"client":{"use_for_member_access":true}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 328.029583ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations?include_totals=true&take=50
        method: GET
      response:
        body: '{"organizations":[{"id":"org_xGYLkGMyduKlQ7wP","name":"organization-1","display_name":"Acme Users","branding":{"logo_url":"https://test.com"},"token_quota":{"client_credentials":{"per_hour":1073741824,"per_day":1073741824,"enforce":true}},"third_party_client_access":"block","is_app_entitlement_active":true},{"id":"org_tLjrYbdZdzAPsGq8","name":"test-org-testaccdatasourceorganizations","display_name":"Test Org testaccdatasourceorganizations","third_party_client_access":"block","is_app_entitlement_active":true}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 328.981375ms
[...]
