---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Trigger Binding Foo TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {\n\tconsole.log(\"foo\")\n};\"\n"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"8b9c6e1e-9424-4ac9-aa78-fdb121bd42b1","name":"Test Trigger Binding Foo TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T10:52:37.131474951Z","updated_at":"2026-05-29T10:52:37.140362652Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node22","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 366.082625ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/8b9c6e1e-9424-4ac9-aa78-fdb121bd42b1
        method: GET
      response:
        body: '{"id":"8b9c6e1e-9424-4ac9-aa78-fdb121bd42b1","name":"Test Trigger Binding Foo TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T10:52:37.131474951Z","updated_at":"2026-05-29T10:52:37.140362652Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node22","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 350.648416ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/8b9c6e1e-9424-4ac9-aa78-fdb121bd42b1/deploy
        method: POST
      response:
        body: '{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"71b5c3ac-c5a0-49b2-bdfa-7c82990be637","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2026-05-29T10:52:37.845919340Z","updated_at":"2026-05-29T10:52:37.845919340Z","runtime":"node22","supported_triggers":[{"id":"post-login","version":"v3"}],"action":{"id":"8b9c6e1e-9424-4ac9-aa78-fdb121bd42b1","name":"Test Trigger Binding Foo TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T10:52:37.131474951Z","updated_at":"2026-05-29T10:52:37.131474951Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 427.015833ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/8b9c6e1e-9424-4ac9-aa78-fdb121bd42b1
        method: GET
      response:
        body: '{"id":"8b9c6e1e-9424-4ac9-aa78-fdb121bd42b1","name":"Test Trigger Binding Foo TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T10:52:37.131474951Z","updated_at":"2026-05-29T10:52:37.140362652Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node22","status":"built","secrets":[],"current_version":{"id":"71b5c3ac-c5a0-49b2-bdfa-7c82990be637","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node22","status":"BUILT","number":1,"build_time":"2026-05-29T10:52:37.939398093Z","created_at":"2026-05-29T10:52:37.845919340Z","updated_at":"2026-05-29T10:52:37.941134816Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"71b5c3ac-c5a0-49b2-bdfa-7c82990be637","deployed":true,"number":1,"built_at":"2026-05-29T10:52:37.939398093Z","secrets":[],"status":"built","created_at":"2026-05-29T10:52:37.845919340Z","updated_at":"2026-05-29T10:52:37.941134816Z","runtime":"node22","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 294.855167ms
[...]
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?per_page=50
        method: GET
      response:
        body: '{"bindings":[],"per_page":50}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 362.345542ms
[...]
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"bindings":[{"display_name":"Test Trigger Binding Foo TestAccTriggerAction","ref":{"type":"action_id","value":"8b9c6e1e-9424-4ac9-aa78-fdb121bd42b1"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings
        method: PATCH
      response:
        body: '{"bindings":[{"id":"c055cb21-ba00-465a-b26d-2624044380fb","trigger_id":"post-login","action":{"id":"8b9c6e1e-9424-4ac9-aa78-fdb121bd42b1","name":"Test Trigger Binding Foo TestAccTriggerAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T10:52:37.131474951Z","updated_at":"2026-05-29T10:52:37.131474951Z","current_version":{"id":"71b5c3ac-c5a0-49b2-bdfa-7c82990be637","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node22","status":"BUILT","number":1,"build_time":"2026-05-29T10:52:37.939398093Z","created_at":"2026-05-29T10:52:37.845919340Z","updated_at":"2026-05-29T10:52:37.941134816Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"71b5c3ac-c5a0-49b2-bdfa-7c82990be637","deployed":true,"number":1,"built_at":"2026-05-29T10:52:37.939398093Z","secrets":[],"status":"built","created_at":"2026-05-29T10:52:37.845919340Z","updated_at":"2026-05-29T10:52:37.941134816Z","runtime":"node22","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":false},"created_at":"2026-05-29T10:52:41.311270281Z","updated_at":"2026-05-29T10:52:41.311270281Z","display_name":"Test Trigger Binding Foo TestAccTriggerAction"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 344.54475ms
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?page=0&per_page=100
        method: GET
      response:
        body: '{"bindings":[{"id":"c055cb21-ba00-465a-b26d-2624044380fb","trigger_id":"post-login","action":{"id":"8b9c6e1e-9424-4ac9-aa78-fdb121bd42b1","name":"Test Trigger Binding Foo TestAccTriggerAc[...]
    - id: 14
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?page=1&per_page=100
        method: GET
      response:
        body: '{"bindings":[],"page":1,"per_page":100}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 311.590333ms
[...]
