---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Reader - testaccorganizationmemberroles"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles
        method: POST
      response:
        body: '{"id":"rol_ABedFgiVlTEOMPG4","name":"Test Reader - testaccorganizationmemberroles","description":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.034115542s
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_ABedFgiVlTEOMPG4
        method: GET
      response:
        body: '{"id":"rol_ABedFgiVlTEOMPG4","name":"Test Reader - testaccorganizationmemberroles","description":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 879.519375ms
[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_SiWgfLxASb03igbX
        method: GET
      response:
        body: '{"id":"rol_SiWgfLxASb03igbX","name":"Test Writer - testaccorganizationmemberroles","description":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 746.146917ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"testaccorganizationmemberroles@auth0.com","username":"testaccorganizationmemberroles","password":"MyPass123$"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"created_at":"2024-05-24T13:09:06.276Z","email":"testaccorganizationmemberroles@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"66509172d5f365249bd2aa2a","provider":"auth0","isSocial":false}],"name":"testaccorganizationmemberroles@auth0.com","nickname":"testaccorganizationmemberroles","picture":"https://s.gravatar.com/avatar/53048e95790ce1a9876aed96af03fbf1?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2024-05-24T13:09:06.276Z","user_id":"auth0|66509172d5f365249bd2aa2a","username":"testaccorganizationmemberroles"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 533.71525ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C66509172d5f365249bd2aa2a
        method: GET
      response:
        body: '{"created_at":"2024-05-24T13:09:06.276Z","email":"testaccorganizationmemberroles@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"66509172d5f365249bd2aa2a","provider":"auth0","isSocial":false}],"name":"testaccorganizationmemberroles@auth0.com","nickname":"testaccorganizationmemberroles","picture":"https://s.gravatar.com/avatar/53048e95790ce1a9876aed96af03fbf1?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2024-05-24T13:09:06.276Z","user_id":"auth0|66509172d5f365249bd2aa2a","username":"testaccorganizationmemberroles"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 373.375208ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"some-org-testaccorganizationmemberroles","display_name":"testaccorganizationmemberroles"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_jmDNrVOAph31K1ev","display_name":"testaccorganizationmemberroles","name":"some-org-testaccorganizationmemberroles"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 362.524792ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_jmDNrVOAph31K1ev
        method: GET
      response:
        body: '{"id":"org_jmDNrVOAph31K1ev","name":"some-org-testaccorganizationmemberroles","display_name":"testaccorganizationmemberroles"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 363.574042ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"members":["auth0|66509172d5f365249bd2aa2a"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_jmDNrVOAph31K1ev/members
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 369.343583ms
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_jmDNrVOAph31K1ev/members?fields=user_id&from=&include_fields=true&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[{"user_id":"auth0|66509172d5f365249bd2aa2a"}],"next":"MjAyNC0wNS0yNCAxMzowOTowNy43ODQwMDBVVEMsYXV0aDB8NjY1MDkxNzJkNWYzNjUyNDliZDJhYTJh"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 910.166459ms
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_jmDNrVOAph31K1ev/members?fields=user_id&from=MjAyNC0wNS0yNCAxMzowOTowNy43ODQwMDBVVEMsYXV0aDB8NjY1MDkxNzJkNWYzNjUyNDliZDJhYTJh&include_fields=true&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 915.233792ms
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"roles":["rol_ABedFgiVlTEOMPG4"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_jmDNrVOAph31K1ev/members/auth0%7C66509172d5f365249bd2aa2a/roles
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 390.317833ms
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_jmDNrVOAph31K1ev/members/auth0%7C66509172d5f365249bd2aa2a/roles?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"roles":[{"id":"rol_ABedFgiVlTEOMPG4","name":"Test Reader - testaccorganizationmemberroles","description":null}],"start":0,"limit":100,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 371.4ms
[...]
