---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Connection-1-testaccorganizationconnection","strategy":"auth0"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_kSmtGDoqQZJnQXwY","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"authentication_methods":{"password":{"enabled":true},"passkey":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-1-testaccorganizationconnection","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-1-testaccorganizationconnection"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 550.445375ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_kSmtGDoqQZJnQXwY
        method: GET
      response:
        body: '{"id":"con_kSmtGDoqQZJnQXwY","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"strategy_version":2,"authentication_methods":{"passkey":{"enabled":false},"password":{"enabled":true}},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-1-testaccorganizationconnection","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-1-testaccorganizationconnection"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 450.420458ms
[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_mqNWICASGv8ApKru
        method: GET
      response:
        body: '{"id":"con_mqNWICASGv8ApKru","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"strategy_version":2,"authentication_methods":{"passkey":{"enabled":false},"password":{"enabled":true}},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-2-testaccorganizationconnection","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-2-testaccorganizationconnection"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 217.926ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"some-org-testaccorganizationconnection","display_name":"testaccorganizationconnection"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"name":"some-org-testaccorganizationconnection","display_name":"testaccorganizationconnection","id":"org_RMHyUPzcaccyanue"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 284.190209ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_RMHyUPzcaccyanue
        method: GET
      response:
        body: '{"id":"org_RMHyUPzcaccyanue","name":"some-org-testaccorganizationconnection","display_name":"testaccorganizationconnection"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 465.653125ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"connection_id":"con_kSmtGDoqQZJnQXwY","assign_membership_on_login":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_RMHyUPzcaccyanue/enabled_connections
        method: POST
      response:
        body: '{"connection_id":"con_kSmtGDoqQZJnQXwY","assign_membership_on_login":false,"connection":{"name":"Acceptance-Test-Connection-1-testaccorganizationconnection","strategy":"auth0"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 397.911708ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_RMHyUPzcaccyanue/enabled_connections/con_kSmtGDoqQZJnQXwY
        method: GET
      response:
        body: '{"connection_id":"con_kSmtGDoqQZJnQXwY","assign_membership_on_login":false,"connection":{"name":"Acceptance-Test-Connection-1-testaccorganizationconnection","strategy":"auth0"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 233.691375ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_RMHyUPzcaccyanue/enabled_connections?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"enabled_connections":[{"connection_id":"con_kSmtGDoqQZJnQXwY","assign_membership_on_login":false,"connection":{"name":"Acceptance-Test-Connection-1-testaccorganizationconnection","strategy":"auth0"}}],"start":0,"limit":1,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 314.801792ms
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_RMHyUPzcaccyanue/members?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"members":[],"start":0,"limit":100,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 250.1735ms
[...]
    - id: 45
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_RMHyUPzcaccyanue/enabled_connections/con_mqNWICASGv8ApKru
        method: GET
      response:
        body: '{"connection_id":"con_mqNWICASGv8ApKru","assign_membership_on_login":true,"connection":{"name":"Acceptance-Test-Connection-2-testaccorganizationconnection","strategy":"auth0"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 250.234209ms
[...]
    - id: 136
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_mqNWICASGv8ApKru
        method: DELETE
      response:
        body: '{"deleted_at":"2023-12-19T13:50:21.020Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 285.649584ms
[...]
