---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccActionWithSecretsWO","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {};","secrets":[{"name":"foo","value":"wo_value_1"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"04b7bf62-93a2-4859-b72e-163b1741b7e6","name":"Test Action TestAccActionWithSecretsWO","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-07-07T11:42:45.062315674Z","updated_at":"2026-07-07T11:42:45.069038276Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node22","status":"pending","secrets":[{"name":"foo","updated_at":"2026-07-07T11:42:45.069038276Z"}],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 449.421417ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/04b7bf62-93a2-4859-b72e-163b1741b7e6
        method: GET
      response:
        body: '{"id":"04b7bf62-93a2-4859-b72e-163b1741b7e6","name":"Test Action TestAccActionWithSecretsWO","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-07-07T11:42:45.062315674Z","updated_at":"2026-07-07T11:42:45.069038276Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node22","status":"built","secrets":[{"name":"foo","updated_at":"2026-07-07T11:42:45.069038276Z"}],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 378.088167ms
[...]
