---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - OIDC Logout - TestAccClientOIDCLogout","app_type":"spa","token_endpoint_auth_method":"none","oidc_logout":{"backchannel_logout_urls":["https://auth0.test/all/logout"],"backchannel_logout_initiators":{"mode":"all"},"backchannel_logout_session_metadata":{"include":true}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - OIDC Logout - TestAccClientOIDCLogout","client_id":"QXKW8CxcUgkPUa4QXiYDtZflSlFBM3xu","client_secret":"[REDACTED]","app_type":"spa","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token"],"custom_login_page_on":true,"token_endpoint_auth_method":"none","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"oidc_backchannel_logout":{"backchannel_logout_urls":["https://auth0.test/all/logout"]},"oidc_logout":{"backchannel_logout_urls":["https://auth0.test/all/logout"],"backchannel_logout_initiators":{"mode":"all"},"backchannel_logout_session_metadata":{"include":true}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 436.154042ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/QXKW8CxcUgkPUa4QXiYDtZflSlFBM3xu
        method: GET
      response:
        body: '{"name":"Acceptance Test - OIDC Logout - TestAccClientOIDCLogout","client_id":"QXKW8CxcUgkPUa4QXiYDtZflSlFBM3xu","client_secret":"[REDACTED]","app_type":"spa","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token"],"custom_login_page_on":true,"token_endpoint_auth_method":"none","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"oidc_backchannel_logout":{"backchannel_logout_urls":["https://auth0.test/all/logout"]},"oidc_logout":{"backchannel_logout_urls":["https://auth0.test/all/logout"],"backchannel_logout_initiators":{"mode":"all"},"backchannel_logout_session_metadata":{"include":true}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 311.748833ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - OIDC Logout - TestAccClientOIDCLogout","app_type":"spa","oidc_logout":{"backchannel_logout_urls":["https://auth0.test/custom/logout"],"backchannel_logout_initiators":{"mode":"custom","selected_initiators":["idp-logout","password-changed","rp-logout","session-expired"]},"backchannel_logout_session_metadata":{"include":false}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/QXKW8CxcUgkPUa4QXiYDtZflSlFBM3xu
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - OIDC Logout - TestAccClientOIDCLogout","client_id":"QXKW8CxcUgkPUa4QXiYDtZflSlFBM3xu","clie[...]
[...]
