---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"testacccustomdomain.auth.tempdomain.com","type":"self_managed_certs"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_ya05HJJH397icR0C","domain":"testacccustomdomain.auth.tempdomain.com","primary":false,"status":"pending_verification","type":"self_managed_certs","verification":{"methods":[{"name":"TXT","record":"fc5ff9c8-07b7-4593-b4b4-02d5277064f7","domain":"_cf-custom-hostname.testacccustomdomain.auth.tempdomain.com"}]},"custom_client_ip_header":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.026762916s
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_ya05HJJH397icR0C
        method: GET
      response:
        body: '{"custom_domain_id":"cd_ya05HJJH397icR0C","domain":"testacccustomdomain.auth.tempdomain.com","primary":false,"status":"pending_verification","type":"self_managed_certs","verification":{"methods":[{"name":"TXT","record":"fc5ff9c8-07b7-4593-b4b4-02d5277064f7","domain":"_cf-custom-hostname.testacccustomdomain.auth.tempdomain.com"}]},"custom_client_ip_header":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 360.734916ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"testacccustomdomain.auth.tempdomain.com","type":"auth0_managed_certs","domain_metadata":{"key1":"value1","key2":"value2"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_lGS7DkspM40Rt9IU","domain":"testacccustomdomain.auth.tempdomain.com","primary":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"terraform-provider-auth0-dev-cd-lgs7dkspm40rt9iu.edge.tenants.us.auth0.com","domain":"testacccustomdomain.auth.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key1":"value1","key2":"value2"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 434.893958ms
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_lGS7DkspM40Rt9IU
        method: GET
      response:
        body: '{"custom_domain_id":"cd_lGS7DkspM40Rt9IU","domain":"testacccustomdomain.auth.tempdomain.com","primary":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"terraform-provider-auth0-dev-cd-lgs7dkspm40rt9iu.edge.tenants.us.auth0.com","domain":"testacccustomdomain.auth.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key1":"value1","key2":"value2"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 364.310208ms
[...]
