---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"The Architect - Acceptance Test - testaccroletypeandowneridarecreateonly"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles
        method: POST
      response:
        body: '{"id":"rol_FcLsx5QChRTB9SpU","name":"The Architect - Acceptance Test - testaccroletypeandowneridarecreateonly","type":"tenant"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 379.997ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_FcLsx5QChRTB9SpU
        method: GET
      response:
        body: '{"id":"rol_FcLsx5QChRTB9SpU","name":"The Architect - Acceptance Test - testaccroletypeandowneridarecreateonly","description":"","type":"tenant"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 316.58425ms
[...]
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"org-testaccroletypeandowneridarecreateonly","display_name":"Zion - Acceptance Test - testaccroletypeandowneridarecreateonly"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_Fe2szEFJqdOVfin7","display_name":"Zion - Acceptance Test - testaccroletypeandowneridarecreateonly","name":"org-testaccroletypeandowneridarecreateonly","third_party_client_access":"block","is_app_entitlement_active":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 486.05775ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_Fe2szEFJqdOVfin7
        method: GET
      response:
        body: '{"id":"org_Fe2szEFJqdOVfin7","name":"org-testaccroletypeandowneridarecreateonly","display_name":"Zion - Acceptance Test - testaccroletypeandowneridarecreateonly","third_party_client_access":"block","is_app_entitlement_active":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 308.103792ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"The Architect - Acceptance Test - testaccroletypeandowneridarecreateonly","type":"organization","owner_id":"org_Fe2szEFJqdOVfin7"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles
        method: POST
      response:
        body: '{"id":"rol_dciq3Xd2HNDOkWrW","name":"The Architect - Acceptance Test - testaccroletypeandowneridarecreateonly","type":"organization","owner_id":"org_Fe2szEFJqdOVfin7"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 373.349625ms
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_dciq3Xd2HNDOkWrW
        method: GET
      response:
        body: '{"id":"rol_dciq3Xd2HNDOkWrW","name":"The Architect - Acceptance Test - testaccroletypeandowneridarecreateonly","description":"","type":"organization","owner_id":"org_Fe2szEFJqdOVfin7"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 295.693125ms
[...]
    - id: 18
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_ppiMondM3XZ0Mb4y
        method: GET
      response:
        body: '{"id":"rol_ppiMondM3XZ0Mb4y","name":"The Architect - Acceptance Test - testaccroletypeandowneridarecreateonly","description":"","type":"tenant"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 311.090167ms
[...]
