---
version: 1
interactions:
- request:
    body: |
      {"name":"Acceptance-Test-OIDC-TestAccConnectionOIDC","display_name":"Acceptance-Test-OIDC-TestAccConnectionOIDC","strategy":"oidc","show_as_button":true,"options":{"client_id":"123456","client_secret":"123456","domain_aliases":["api.example.com","example.com"],"discovery_url":"https://api.login.yahoo.com/.well-known/openid-configuration","authorization_endpoint":"https://api.login.yahoo.com/oauth2/request_auth","issuer":"https://api.login.yahoo.com","jwks_uri":"https://api.login.yahoo.com/openid/v1/certs","type":"back_channel","userinfo_endpoint":"https://api.login.yahoo.com/openid/v1/userinfo","token_endpoint":"https://api.login.yahoo.com/oauth2/get_token","scope":"email openid profile","set_user_root_attributes":"on_each_login","non_persistent_attrs":["hair_color","gender"],"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_osIb33nyk4BMdRP8","options":{"client_id":"123456","client_secret":"123456","domain_aliases":["api.example.com","example.com"],"discovery_url":"https://api.login.yahoo.com/.well-known/openid-configuration","authorization_endpoint":"https://api.login.yahoo.com/oauth2/request_auth","issuer":"https://api.login.yahoo.com","jwks_uri":"https://api.login.yahoo.com/openid/v1/certs","type":"back_channel","userinfo_endpoint":"https://api.login.yahoo.com/openid/v1/userinfo","token_endpoint":"https://api.login.yahoo.com/oauth2/get_token","scope":"email
      openid profile","set_user_root_attributes":"on_each_login","non_persistent_attrs":["hair_color","gender"],"upstream_params":{"screen_name":{"alias":"login_hint"}}},"strategy":"oidc","name":"Acceptance-Test-OIDC-TestAccConnectionOIDC","is_domain_connection":false,"show_as_button":true,"display_name":"Acceptance-Test-OIDC-TestAccConnectionOIDC","enabled_clients":[],"realms":["Acceptance-Test-OIDC-TestAccConnectionOIDC"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_osIb33nyk4BMdRP8
    method: GET
  response:
    body: '{"id":"con_osIb33nyk4BMdRP8","options":{"type":"back_channel","scope":"email
      openid profile","issuer":"https://api.login.yahoo.com","jwks_uri":"https://api.login.yahoo.com/openid/v1/certs","client_id":"123456","client_secret":"123456","discovery_url":"https://api.login.yahoo.com/.well-known/openid-configuration","domain_aliases":["api.example.com","example.com"],"token_endpoint":"https://api.login.yahoo.com/oauth2/get_token","upstream_params":{"screen_name":{"alias":"login_hint"}},"userinfo_endpoint":"https://api.login.yahoo.com/openid/v1/userinfo","non_persistent_attrs":["hair_color","gender"],"authorization_endpoint":"https://api.login.yahoo.com/oauth2/request_auth","set_user_root_attributes":"on_each_login"},"strategy":"oidc","name":"Acceptance-Test-OIDC-TestAccConnectionOIDC","is_domain_connection":false,"show_as_button":true,"display_name":"Acceptance-Test-OIDC-TestAccConnectionOIDC","enabled_clients":[],"realms":["Acceptance-Test-OIDC-TestAccConnectionOIDC"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: |
      {"display_name":"Acceptance-Test-OIDC-TestAccConnectionOIDC","is_domain_connection":false,"show_as_button":false,"options":{"client_id":"1234567","client_secret":"1234567","domain_aliases":["example.com"],"discovery_url":"https://www.paypalobjects.com/.well-known/openid-configuration","authorization_endpoint":"https://www.paypal.com/signin/authorize","issuer":"https://www.paypalobjects.com","jwks_uri":"https://api.paypal.com/v1/oauth2/certs","type":"front_channel","u[...]
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_osIb33nyk4BMdRP8
    method: DELETE
  response:
    body: '{"deleted_at":"2022-07-12T14:55:51.895Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
