---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Client Grant - TestAccClientGrant","identifier":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccClientGrant","scopes":[{"value":"create:bar","description":"Create bars"},{"value":"create:foo","description":"Create foos"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"640f37dbe1152eb55d71dd95","name":"Acceptance Test - Client Grant - TestAccClientGrant","identifier":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccClientGrant","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","scopes":[{"value":"create:bar","description":"Create bars"},{"value":"create:foo","description":"Create foos"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 96.741917ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/640f37dbe1152eb55d71dd95
        method: GET
      response:
        body: '{"id":"640f37dbe1152eb55d71dd95","name":"Acceptance Test - Client Grant - TestAccClientGrant","identifier":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccClientGrant","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","scopes":[{"value":"create:bar","description":"Create bars"},{"value":"create:foo","description":"Create foos"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 100.839834ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Client Grant - TestAccClientGrant","is_first_party":true,"custom_login_page_on":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - Client Grant - TestAccClientGrant","client_id":"C7vDICQRlIxjlaELvVTT1QxZIQYLUo68","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 324.0775ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/C7vDICQRlIxjlaELvVTT1QxZIQYLUo68
        method: GET
      response:
        body: '{"name":"Acceptance Test - Client Grant - TestAccClientGrant","client_id":"C7vDICQRlIxjlaELvVTT1QxZIQYLUo68","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 98.137083ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants?audience=https%3A%2F%2Fuat.tf.terraform-provider-auth0.com%2Fclient-grant%2FTestAccClientGrant&client_id=C7vDICQRlIxjlaELvVTT1QxZIQYLUo68&include_totals=true&per_page=50
        method: GET
      response:
        body: '{"total":0,"start":0,"limit":50,"client_grants":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 102.079334ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"client_id":"C7vDICQRlIxjlaELvVTT1QxZIQYLUo68","audience":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccClientGrant","scope":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants
        method: POST
      response:
        body: '{"id":"cgr_T1WStRv9XYWsUnps","client_id":"C7vDICQRlIxjlaELvVTT1QxZIQYLUo68","audience":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccClientGrant","scope":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 129.235416ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants?include_totals=true&page=0&per_page=50
        method: GET
      response:
        body: '{"total":6,"start":0,"limit":50,"client_grants":[{"id":"cgr_0mFL9uyHCIFOGsZ4","client_id":"Ez8NiFj9yhKBK2bRcR28rKYV[...]
[...]
{"scope":["create:foo"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants/cgr_T1WStRv9XYWsUnps
        method: PATCH
      response:
        body: '{"id":"cgr_T1WStRv9XYWsUnps","client_id":"C7vDICQRlIxjlaELvVTT1QxZIQYLUo68","audience":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccClientGrant","scope":["create:foo"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 90.141334ms
[...]
    - id: 31
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/wVy4vECD3PPIqDUK4FhDJGYkfqM8Qadq
        method: GET
      response:
        body: '{"name":"Acceptance Test - Client Grant Alt - TestAccClientGrant","client_id":"wVy4vECD3PPIqDUK4FhDJGYkfqM8Qadq","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 100.979041ms
    - id: 32
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants?audience=https%3A%2F%2Fuat.tf.terraform-provider-auth0.com%2Fclient-grant%2FTestAccClientGrant&client_id=wVy4vECD3PPIqDUK4FhDJGYkfqM8Qadq&include_totals=true&per_page=50
        method: GET
      response:
        body: '{"total":0,"start":0,"limit":50,"client_grants":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 97.922ms
[...]
    - id: 51
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants/cgr_zw1V26ZZYGMlzWsl
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 123.849958ms
[...]
