---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Connection-1-testaccorganizationconnection","strategy":"auth0"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_SfpICEziRzZhAAas","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"authentication_methods":{"password":{"enabled":true},"passkey":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-1-testaccorganizationconnection","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-1-testaccorganizationconnection"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 367.270417ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_SfpICEziRzZhAAas
        method: GET
      response:
        body: '{"id":"con_SfpICEziRzZhAAas","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"strategy_version":2,"authentication_methods":{"passkey":{"enabled":false},"password":{"enabled":true}},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-1-testaccorganizationconnection","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-1-testaccorganizationconnection"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 306.59125ms
[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_QfOdEMtUFf87anya
        method: GET
      response:
        body: '{"id":"con_QfOdEMtUFf87anya","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"strategy_version":2,"authentication_methods":{"passkey":{"enabled":false},"password":{"enabled":true}},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-2-testaccorganizationconnection","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-2-testaccorganizationconnection"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 285.931959ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"some-org-testaccorganizationconnection","display_name":"testaccorganizationconnection"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_SICOIpoOJDK4VGL8","display_name":"testaccorganizationconnection","name":"some-org-testaccorganizationconnection"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 329.77925ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_SICOIpoOJDK4VGL8
        method: GET
      response:
        body: '{"id":"org_SICOIpoOJDK4VGL8","name":"some-org-testaccorganizationconnection","display_name":"testaccorganizationconnection"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 306.029042ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"connection_id":"con_SfpICEziRzZhAAas","assign_membership_on_login":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_SICOIpoOJDK4VGL8/enabled_connections
        method: POST
      response:
        body: '{"connection_id":"con_SfpICEziRzZhAAas","assign_membership_on_login":false,"show_as_button":true,"connection":{"name":"Acceptance-Test-Connection-1-testaccorganizationconnection","strategy":"auth0"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 307.64575ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_SICOIpoOJDK4VGL8/enabled_connections/con_SfpICEziRzZhAAas
        method: GET
      response:
        body: '{"connection_id":"con_SfpICEziRzZhAAas","assign_membership_on_login":false,"show_as_button":true,"connection":{"name":"Acceptance-Test-Connection-1-testaccorganizationconnection","strategy":"auth0"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 318.49375ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_SICOIpoOJDK4VGL8/enabled_connections?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"enabled_connections":[{"connection_id":"con_SfpICEziRzZhAAas","assign_membership_on_login":false,"show_as_button":true,"connection":{"name":"Acceptance-Test-Connection-1-testaccorganizationconnection","strategy":"auth0"}}],"start":0,"limit":1,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 321.230625ms
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_SICOIpoOJDK4VGL8/members?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"members":[],"start":0,"limit":100,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 280.6005ms
[...]
    - id: 45
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_SICOIpoOJDK4VGL8/enabled_connections/con_QfOdEMtUFf87anya
        method: GET
      response:
        body: '{"connection_id":"con_QfOdEMtUFf87anya","assign_membership_on_login":true,"show_as_button":true,"connection":{"name":"Acceptance-Test-Connection-2-testaccorganizationconnection","strategy":"auth0"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 306.489833ms
[...]
    - id: 136
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_QfOdEMtUFf87anya
        method: DELETE
      response:
        body: '{"deleted_at":"2024-05-27T09:23:25.127Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 303.207125ms
[...]
