---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"content":{"from":"+1234567890","body":{"text":"Your enrollment code is: @{code}","voice":"Your enrollment code is @{code}"}},"type":"otp_enroll","disabled":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/phone/templates
        method: POST
      response:
        body: '{"id":"tem_8pL3hxcTvbEzKcnsrikpM5","tenant":"terraform-provider-auth0-dev","channel":"phone","type":"otp_enroll","disabled":false,"created_at":"2025-12-05T15:30:47.600Z","updated_at":"2025-12-05T15:30:47.600Z","content":{"syntax":"liquid","body":{"text":"Your enrollment code is: @{code}","voice":"Your enrollment code is @{code}"},"from":"+1234567890"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 376.761583ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/phone/templates/tem_8pL3hxcTvbEzKcnsrikpM5
        method: GET
      response:
        body: '{"id":"tem_8pL3hxcTvbEzKcnsrikpM5","tenant":"terraform-provider-auth0-dev","channel":"phone","type":"otp_enroll","disabled":false,"created_at":"2025-12-05T15:30:47.600Z","updated_at":"2025-12-05T15:30:47.600Z","content":{"syntax":"liquid","body":{"text":"Your enrollment code is: @{code}","voice":"Your enrollment code is @{code}"},"from":"+1234567890"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 383.176625ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/phone/templates/tem_1wn2r31HdSEYFEyHC1BC85
        method: GET
      response:
        body: '{"id":"tem_1wn2r31HdSEYFEyHC1BC85","tenant":"terraform-provider-auth0-dev","channel":"phone","type":"change_password","disabled":true,"created_at":"2025-12-05T15:30:52.583Z","updated_at":"2025-12-05T15:30:52.583Z","content":{"syntax":"liquid","body":{"text":"Your password has been changed","voice":"Your password has been changed"},"from":"+918095250531"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 360.104459ms
[...]
