---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"testaccdatasourcecustomdomain.auth.tempdomain.com","type":"auth0_managed_certs","tls_policy":"recommended","domain_metadata":{"key1":"value1","key2":"value2"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_Ba1YyiXH73lRPgxN","domain":"testaccdatasourcecustomdomain.auth.tempdomain.com","primary":true,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"terraform-provider-auth0-dev-cd-ba1yyixh73lrpgxn.edge.tenants.us.auth0.com","domain":"testaccdatasourcecustomdomain.auth.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key1":"value1","key2":"value2"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 420.444334ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_Ba1YyiXH73lRPgxN
        method: GET
      response:
        body: '{"custom_domain_id":"cd_Ba1YyiXH73lRPgxN","domain":"testaccdatasourcecustomdomain.auth.tempdomain.com","primary":true,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"terraform-provider-auth0-dev-cd-ba1yyixh73lrpgxn.edge.tenants.us.auth0.com","domain":"testaccdatasourcecustomdomain.auth.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key1":"value1","key2":"value2"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 374.103708ms
[...]
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"testaccdatasourcecustomdomain-second.auth.tempdomain.com","type":"auth0_managed_certs","tls_policy":"recommended","domain_metadata":{"key3":"value3"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_vpTWYl0xlfY9nCd6","domain":"testaccdatasourcecustomdomain-second.auth.tempdomain.com","primary":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"terraform-provider-auth0-dev-cd-vptwyl0xlfy9ncd6.edge.tenants.us.auth0.com","domain":"testaccdatasourcecustomdomain-second.auth.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key3":"value3"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 438.559459ms
[...]
    - id: 15
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_vpTWYl0xlfY9nCd6
        method: GET
      response:
        body: '{"custom_domain_id":"cd_vpTWYl0xlfY9nCd6","domain":"testaccdatasourcecustomdomain-second.auth.tempdomain.com","primary":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"terraform-provider-auth0-dev-cd-vptwyl0xlfy9ncd6.edge.tenants.us.auth0.com","domain":"testaccdatasourcecustomdomain-second.auth.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key3":"value3"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 359.225292ms
    - id: 16
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_cAh3Wxt4CbMEAC81
        method: GET
      response:
        body: '{"custom_domain_id":"cd_cAh3Wxt4CbMEAC81","domain":"testaccdatasourcecustomdomain-first.auth.tempdomain.com","primary":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"terraform-provider-auth0-dev-cd-cah3wxt4cbmeac81.edge.tenants.us.auth0.com","domain":"testaccdatasourcecustomdomain-first.auth.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key1":"value1","key2":"value2"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 346.143208ms
[...]
