---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"tf-flag-TestAccExperimentFeatureFlag","description":"created by acceptance test","parameters":{"show_feature":{"type":"boolean","value":false,"description":"Whether to show the feature."},"variant_name":{"type":"string","value":"control"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/experimentation/feature-flags
        method: POST
      response:
        body: '{"id":"flg_fQUxxKqVGjBAEGXU3hBAB7","name":"tf-flag-TestAccExperimentFeatureFlag","description":"created by acceptance test","type":"self","status":"draft","parameters":{"show_feature":{"type":"boolean","value":false,"description":"Whether to show the feature."},"variant_name":{"type":"string","value":"control"}},"created_at":"2026-10-10T12:55:55.334Z","updated_at":"2026-10-10T12:55:55.334Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 306.7005ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/experimentation/feature-flags/flg_fQUxxKqVGjBAEGXU3hBAB7
        method: GET
      response:
        body: '{"id":"flg_fQUxxKqVGjBAEGXU3hBAB7","name":"tf-flag-TestAccExperimentFeatureFlag","description":"created by acceptance test","type":"self","status":"draft","parameters":{"show_feature":{"type":"boolean","value":false,"description":"Whether to show the feature."},"variant_name":{"type":"string","value":"control"}},"created_at":"2026-10-10T12:55:55.334Z","updated_at":"2026-10-10T12:55:55.334Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 352.069334ms
[...]
