---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"tf-flag-TestAccDataSourceExperimentFeatureFlag","description":"created by acceptance test","parameters":{"show_feature":{"type":"boolean","value":false}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/experimentation/feature-flags
        method: POST
      response:
        body: '{"id":"flg_9oQv8NkHDcAwkEsd75VDCp","name":"tf-flag-TestAccDataSourceExperimentFeatureFlag","description":"created by acceptance test","type":"self","status":"draft","parameters":{"show_feature":{"type":"boolean","value":false}},"created_at":"2026-10-10T12:57:41.731Z","updated_at":"2026-10-10T12:57:41.731Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 357.062875ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/experimentation/feature-flags/flg_9oQv8NkHDcAwkEsd75VDCp
        method: GET
      response:
        body: '{"id":"flg_9oQv8NkHDcAwkEsd75VDCp","name":"tf-flag-TestAccDataSourceExperimentFeatureFlag","description":"created by acceptance test","type":"self","status":"draft","parameters":{"show_feature":{"type":"boolean","value":false}},"created_at":"2026-10-10T12:57:41.731Z","updated_at":"2026-10-10T12:57:41.731Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 293.614041ms
[...]
