---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"keys":[{"kid":"6f09becd-6cd2-448e-a9a9-3fcf3159a00b","type":"tenant-master-key","state":"active","created_at":"2024-09-25T15:09:32.169Z","updated_at":"2024-09-25T15:09:32.169Z","parent_kid":"51239e1c-b53c-441b-99c8-66bcdfda7e14"},{"kid":"43009337-5317-470f-9aa2-5f23ef484f56","type":"tenant-master-key","state":"destroyed","created_at":"2024-09-25T15:09:30.247Z","updated_at":"2024-09-25T15:09:32.421Z","parent_kid":"51239e1c-b53c-441b-99c8-66bcdfda7e14"},{"kid":"7ca3ae2d-b385-43a8-8832-2b7bb342dc5c","type":"customer-provided-root-key","state":"pre-activation","created_at":"2024-09-23T17:20:55.884Z","updated_at":"2024-09-23T17:20:55.884Z","parent_kid":null},{"kid":"ca3a67c9-f143-4fcf-853e-cbe7c548375f","type":"tenant-master-key","state":"destroyed","created_at":"2024-09-20T20:31:30.272Z","updated_at":"2024-09-25T15:09:30.510Z","parent_kid":"51239e1c-b53c-441b-99c8-66bcdfda7e14"},{"kid":"5bfb6eaa-cfb4-43ac-9398-ccfb138159a1","type":"tenant-master-key","state":"destroyed","created_at":"2024-09-20T20:30:56.154Z","updated_at":"2024-09-20T20:31:30.525Z","parent_kid":"51239e1c-b53c-441b-99c8-66bcdfda7e14"},{"kid":"51239e1c-b53c-441b-99c8-66bcdfda7e14","type":"environment-root-key","state":"active","created_at":"2024-09-20T19:10:35.858Z","updated_at":"2024-09-20T19:10:35.858Z","parent_kid":null},{"kid":"b437af51-6250-4823-a3bd-33e4696a35d6","type":"tenant-master-key","state":"destroyed","created_at":"2024-09-20T19:10:35.858Z","updated_at":"2024-09-20T20:30:56.395Z","parent_kid":"51239e1c-b53c-441b-99c8-66bcdfda7e14"}],"start":0,"limit":50,"total":7}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 200.30475ms
[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption/rekey
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 539.058417ms
[...]
