---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-flow-TestAccFlowDataSource"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/flows
        method: POST
      response:
        body: '{"id":"af_69Ldq8GBHxphmyUzursmBe","name":"test-flow-TestAccFlowDataSource","created_at":"2024-09-28T09:51:22.479Z","updated_at":"2024-09-28T09:51:22.479Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 450.206958ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/flows/af_69Ldq8GBHxphmyUzursmBe
        method: GET
      response:
        body: '{"id":"af_69Ldq8GBHxphmyUzursmBe","name":"test-flow-TestAccFlowDataSource","created_at":"2024-09-28T09:51:22.479Z","updated_at":"2024-09-28T09:51:22.479Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 426.387708ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/flows/af_bskks8aGbiq7qS13umnuvX
        method: GET
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"Flow not found"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 366.761375ms
[...]
