---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"pre-user-reg-hook","script":"function (user, context, callback) { callback(null, { user }); }","triggerId":"pre-user-registration","enabled":true}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/hooks
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"01GBPZWEFDT9RFR6PN6939RZZE","name":"pre-user-reg-hook","script":"function (user, context, callback) { callback(null, { user }); }","dependencies":{},"triggerId":"pre-user-registration","enabled":true}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/hooks/01GBPZWEFDT9RFR6PN6939RZZE/secrets
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
  - id: 2
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/hooks/01GBPZWEFDT9RFR6PN6939RZZE
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"01GBPZWEFDT9RFR6PN6939RZZE","name":"pre-user-reg-hook","script":"function (user, context, callback) { callback(null, { user }); }","dependencies":{},"enabled":true,"triggerId":"pre-user-registration"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
