---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients?fields=client_id&include_fields=true&include_totals=true&is_global=true&per_page=50
        method: GET
      response:
        body: '{"total":1,"start":0,"limit":50,"clients":[{"tenant":"terraform-provider-auth0-dev","client_id":"AgEuCtc7HMsJUuULVtmJbnKiIb9cOiwV"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 161.598958ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"custom_login_page_on":true,"custom_login_page":"\u003chtml\u003e\u003cbody\u003eMy Custom Login Page\u003c/body\u003e\u003c/html\u003e"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/AgEuCtc7HMsJUuULVtmJbnKiIb9cOiwV
        method: PATCH
      response:
        body: '{"name":"All Applications","client_id":"AgEuCtc7HMsJUuULVtmJbnKiIb9cOiwV","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"callbacks":[],"jwt_configuration":{},"signing_keys":[{"cert":"[REDACTED]"}],"sso":false,"sso_disabled":false,"custom_login_page_on":true,"custom_login_page":"\u003chtml\u003e\u003cbody\u003eMy Custom Login Page\u003c/body\u003e\u003c/html\u003e","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 163.112042ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"change_password":{"enabled":true,"html":"\u003chtml\u003e\u003cbody\u003eMy Custom Reset Password Page\u003c/body\u003e\u003c/html\u003e"},"guardian_mfa_page":{"enabled":true,"html":"\u003chtml\u003e\u003cbody\u003eMy Custom MFA Page\u003c/body\u003e\u003c/html\u003e"},"error_page":{"html":"\u003chtml\u003e\u003cbody\u003eMy Custom Error Page\u003c/body\u003e\u003c/html\u003e","show_log_link":true,"url":"https://example.com"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"allowed_logout_urls":["https://travel0.com/logout","https:localhost:3000/logout"],"change_password":{"enabled":true,"html":"<html><body>My Custom Reset Password Page</body></html>"},"default_audience":"","default_directory":"","enabled_locales":["en","eu-ES","bs","bg","ca-ES","zh-CN","zh-TW","hr","cs","da","nl","et","fi","fr-CA","fr","gl-ES","de","el","hi","hu","is","id","it","ja","ko","lv","lt","no","nb","nn","pl","pt","pt-PT","ro","ru","sr","sk","sl","es","sv","th","tr","uk","vi","cy"],"error_page":{"html":"<html><body>My Custom Error Page</body></html>","show_log_link":true,"url":"https://example.com"},"flags":{"allow_changing_enable_sso":false,"allow_legacy_delegation_grant_types":false,"allow_legacy_ro_grant_types":false,"allow_legacy_tokeninfo_endpoint":false,"cannot_change_enforce_client_authentication_on_passwordless_start":true,"change_pwd_flow_v1":false,"disable_impersonation":true,"disable_management_api_sms_obfuscation":false,"enable_adfs_waad_email_verification":false,"enable_apis_section":false,"enable_client_connections":false,"enable_custom_domain_in_emails":false,"enable_dynamic_client_registration":false,"enable_idtoken_api2":false,"enable_legacy_logs_search_v2":false,"enable_legacy_profile":false,"enable_public_signup_user_exists_error":false,"enable_sso":true,"enforce_client_authentication_on_passwordless_start":true,"new_universal_login_experience_enabled":false,"non_oidc_conformant_updated_at":false,"universal_login":false,"use_scope_descriptions_for_consent":false,"no_disclose_enterprise_connections":false,"revoke_refresh_token_grant":false,"dashboard_log_streams_next":false,"disable_fields_map_fix":false,"disable_clickjack_protection_headers":false,"enable_pipeline2":false},"friendly_name":"Will''s Kingdom","guardian_mfa_page":{"html":"<html><body>My Custom MFA Page</body></html>","enabled":true},"idle_session_lifetime":1,"picture_url":"https://example.com/logo-updated-2.png","sandbox_version":"12","session_lifetime":3.0166666666666666,"support_email":"support@mycompany.org","support_url":"https://mycompany.org/support","sessions":{"oidc_logout_prompt_enabled":false},"universal_login":{"colors":{"primary":"#2A2E35","page_background":"#FF4F40"},"passwordless":{"allow_magiclink_verify_without_session":true},"is_custom_template_set":true},"session_cookie":{"mode":"non-persistent"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 296.82875ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: GET
      response:
        body: '{"allowed_logout_urls":["https://travel0.com/logout","https:localhost:3000/logout"],"change_password":{"enabled":true,"html":"<html><body>My Custom Res[...]
[...]
