---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Application - Acceptance Test - 1 - TestAccConnectionWithEnabledClients","description":"Test Applications Long Description","app_type":"non_interactive"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Application - Acceptance Test - 1 - TestAccConnectionWithEnabledClients","description":"Test Applications Long Description","client_id":"cdPcMlObMXFX1LqDMIAxP5l2GgIq4wPp","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/cdPcMlObMXFX1LqDMIAxP5l2GgIq4wPp
        method: GET
      response:
        body: '{"name":"Application - Acceptance Test - 1 - TestAccConnectionWithEnabledClients","description":"Test Applications Long Description","client_id":"cdPcMlObMXFX1LqDMIAxP5l2GgIq4wPp","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/TArmqNGXckI8QgBGrjGaCKZPXpDIPy0k
        method: GET
      response:
        body: '{"name":"Application - Acceptance Test - 2 - TestAccConnectionWithEnabledClients","description":"Test Applications Long Description","client_id":"TArmqNGXckI8QgBGrjGaCKZPXpDIPy0k","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/9NoYmbEtWODJ4G1zVWJxpLEEMBU0SzuG
        method: GET
      response:
        body: '{"name":"Application - Acceptance Test - 3 - TestAccConnectionWithEnabledClients","description":"Test Applications Long Description","client_id":"9NoYmbEtWODJ4G1zVWJxpLEEMBU0SzuG","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
[...]
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/kduvSYzOvync9opeW5KHP10LsPFFbMiJ
        method: GET
      response:
        body: '{"name":"Application - Acceptance Test - 4 - TestAccConnectionWithEnabledClients","description":"Test Applications Long Description","client_id":"kduvSYzOvync9opeW5KHP10LsPFFbMiJ","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Connection-TestAccConnectionWithEnabledClients","strategy":"auth0","is_domain_connection":true,"enabled_clients":["9NoYmbEtWODJ4G1zVWJxpLEEMBU0SzuG","TArmqNGXckI8QgBGrjGaCKZPXpDIPy0k","cdPcMlObMXFX1LqDMIAxP5l2GgIq4wPp","kduvSYzOvync9opeW5KHP10LsPFFbMiJ"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_qsGQirRSlRRYeluB","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionWithEnabledClients","is_domain_connection":true,"enabled_clients":["cdPcMlObMXFX1LqDMIAxP5l2GgIq4wPp","TArmqNGXckI8QgBGrjGaCKZPXpDIPy0k","9NoYmbEtWODJ4G1zVWJxpLEEMBU0SzuG","kduvSYzOvync9opeW5KHP10LsPFFbMiJ"],"realms":["Acceptance-Test-Connection-TestAccConnectionWithEnabledClients"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1ms
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_qsGQirRSlRRYeluB
        method: GET
      response:
        body: '{"id":"con_qsGQirRSlRRYeluB","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionWithEnabledClients","is_domain_connection":true,"enabled_clients":["cdPcMlObMXFX1LqDMIAxP5l2GgIq4wPp","TArmqNGXckI8QgBGrjGaCKZPXpDIPy0k","9NoYmbEtWODJ4G1zVWJxpLEEMBU0SzuG","kduvSYzOvync9opeW5KHP10LsPFFbMiJ"],"realms":["Acceptance-Test-Connection-TestAccConnectionWithEnabledClients"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
[...]
    - id: 27
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_qsGQirRSlRRYeluB
        method: DELETE
      response:
        body: '{"deleted_at":"2022-09-20T18:25:10.294Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 1ms
