---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance-Test-Linkedin-TestAccConnectionLinkedin","strategy":"linkedin","is_domain_connection":false,"options":{"client_id":"client_id","client_secret":"client_secret","strategy_version":2,"email":true,"profile":true,"basic_profile":true,"non_persistent_attrs":null,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_DUbnzTUJXSQilo5b","options":{"client_id":"client_id","client_secret":"client_secret","strategy_version":2,"email":true,"profile":true,"basic_profile":true,"non_persistent_attrs":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"scope":["r_emailaddress","r_liteprofile","r_basicprofile"]},"strategy":"linkedin","name":"Acceptance-Test-Linkedin-TestAccConnectionLinkedin","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Linkedin-TestAccConnectionLinkedin"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_DUbnzTUJXSQilo5b
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_DUbnzTUJXSQilo5b","options":{"email":true,"scope":["r_emailaddress","r_liteprofile","r_basicprofile"],"profile":true,"client_id":"client_id","basic_profile":true,"client_secret":"client_secret","upstream_params":{"screen_name":{"alias":"login_hint"}},"strategy_version":2,"non_persistent_attrs":null},"strategy":"linkedin","name":"Acceptance-Test-Linkedin-TestAccConnectionLinkedin","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Linkedin-TestAccConnectionLinkedin"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
