---
version: 1
interactions:
- request:
    body: |
      {"name":"Test Action TestAccAction_FailedBuild","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {\n\tconsole.log(event)\n};\"\n","dependencies":[{"name":"crypto","version":"17.7.1"}],"runtime":"node16"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
    method: POST
  response:
    body: '{"id":"a9074e14-5a9f-4ef9-9b9b-035abeac18e4","name":"Test Action TestAccAction_FailedBuild","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-07-18T16:16:20.085202535Z","updated_at":"2022-07-18T16:16:20.095334339Z","code":"exports.onContinuePostLogin
      = async (event, api) => {\n\tconsole.log(event)\n};\"\n","dependencies":[{"name":"crypto","version":"17.7.1"}],"runtime":"node16","status":"pending","secrets":[],"all_changes_deployed":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/a9074e14-5a9f-4ef9-9b9b-035abeac18e4
    method: GET
  response:
    body: '{"id":"a9074e14-5a9f-4ef9-9b9b-035abeac18e4","name":"Test Action TestAccAction_FailedBuild","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-07-18T16:16:20.085202535Z","updated_at":"2022-07-18T16:16:20.095334339Z","code":"exports.onContinuePostLogin
      = async (event, api) => {\n\tconsole.log(event)\n};\"\n","dependencies":[{"name":"crypto","version":"17.7.1"}],"runtime":"node16","status":"building","secrets":[],"all_changes_deployed":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
