---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - MemberMgmt - TestAccClientMyOrganizationConfigurationMemberManagement","description":"Client for member management EA test.","my_organization_configuration":{"allowed_strategies":["oidc","samlp"],"connection_deletion_behavior":"allow","enforce_permission_ceiling":false,"enforce_self_assignment_restriction":false}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - MemberMgmt - TestAccClientMyOrganizationConfigurationMemberManagement","description":"Client for member management EA test.","client_id":"R9tLSURbskyQo6RL7Q4w1zIppaWDvylE","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"my_organization_configuration":{"allowed_strategies":["oidc","samlp"],"connection_deletion_behavior":"allow","enforce_permission_ceiling":false,"enforce_self_assignment_restriction":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 993.028209ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/R9tLSURbskyQo6RL7Q4w1zIppaWDvylE
        method: GET
      response:
        body: '{"name":"Acceptance Test - MemberMgmt - TestAccClientMyOrganizationConfigurationMemberManagement","description":"Client for member management EA test.","client_id":"R9tLSURbskyQo6RL7Q4w1zIppaWDvylE","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"my_organization_configuration":{"allowed_strategies":["oidc","samlp"],"connection_deletion_behavior":"allow","enforce_permission_ceiling":false,"enforce_self_assignment_restriction":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 434.036916ms
[...]
