---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"change.username.terra@acceptance.test.com","username":"user_terra","password":"MyPass123$","email_verified":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"created_at":"2023-07-11T16:30:16.736Z","email":"change.username.terra@acceptance.test.com","email_verified":true,"identities":[{"connection":"Username-Password-Authentication","user_id":"64ad8398c5c61f16f5d65921","provider":"auth0","isSocial":false}],"name":"change.username.terra@acceptance.test.com","nickname":"change.username.terra","picture":"https://s.gravatar.com/avatar/62acb990858a2c9075eb1d3beb6f5baa?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fch.png","updated_at":"2023-07-11T16:30:16.736Z","user_id":"auth0|64ad8398c5c61f16f5d65921","username":"user_terra"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 326.085458ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C64ad8398c5c61f16f5d65921
        method: GET
      response:
        body: '{"created_at":"2023-07-11T16:30:16.736Z","email":"change.username.terra@acceptance.test.com","email_verified":true,"identities":[{"connection":"Username-Password-Authentication","user_id":"64ad8398c5c61f16f5d65921","provider":"auth0","isSocial":false}],"name":"change.username.terra@acceptance.test.com","nickname":"change.username.terra","picture":"https://s.gravatar.com/avatar/62acb990858a2c9075eb1d3beb6f5baa?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fch.png","updated_at":"2023-07-11T16:30:16.736Z","user_id":"auth0|64ad8398c5c61f16f5d65921","username":"user_terra"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 94.972042ms
[...]
