---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Connection-TestAccConnectionOptionsAttrInactiveSignUpNegative","strategy":"auth0","is_domain_connection":true,"options":{"brute_force_protection":true,"requires_username":false,"precedence":["username","email","phone_number"],"attributes":{"phone_number":{"identifier":{"active":true},"profile_required":true,"signup":{"status":"inactive","verification":{"active":false}}}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"statusCode":400,"error":"Bad Request","message":"Bad HTTP authentication header format","errorCode":"Bearer"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 434.574708ms
