---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Connection-TestAccDataSourceConnectionHideClientSecret","strategy":"github","options":{"client_id":"my-client-id","client_secret":"my-client-secret"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_LHPcV4aRX6MBogUW","options":{"client_id":"my-client-id","client_secret":"my-client-secret","scope":[]},"strategy":"github","name":"Acceptance-Test-Connection-TestAccDataSourceConnectionHideClientSecret","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccDataSourceConnectionHideClientSecret"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 460.657292ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_LHPcV4aRX6MBogUW
        method: GET
      response:
        body: '{"id":"con_LHPcV4aRX6MBogUW","options":[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_LHPcV4aRX6MBogUW/clients
        method: GET
      response:
        body: '{"clients":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 387.776625ms
[...]
    - id: 17
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_LHPcV4aRX6MBogUW
        method: DELETE
      response:
        body: '{"deleted_at":"2026-08-24T14:44:19.004Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 357.744125ms
