---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Trigger Binding Foo TestAccTriggerActions","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"secrets":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"60ffdfac-1793-4bd5-8fa7-e34e5a20e132","name":"Test Trigger Binding Foo TestAccTriggerActions","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-06-14T14:36:34.649986079Z","updated_at":"2023-06-14T14:36:34.667029677Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node16","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 145.320792ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/60ffdfac-1793-4bd5-8fa7-e34e5a20e132
        method: GET
      response:
        body: '{"id":"60ffdfac-1793-4bd5-8fa7-e34e5a20e132","name":"Test Trigger Binding Foo TestAccTriggerActions","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-06-14T14:36:34.649986079Z","updated_at":"2023-06-14T14:36:34.667029677Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node16","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 107.846708ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/60ffdfac-1793-4bd5-8fa7-e34e5a20e132/deploy
        method: POST
      response:
        body: '{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"92518e07-6aba-4635-8860-02599be42e37","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2023-06-14T14:36:34.900273Z","updated_at":"2023-06-14T14:36:34.900273Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v3"}],"action":{"id":"60ffdfac-1793-4bd5-8fa7-e34e5a20e132","name":"Test Trigger Binding Foo TestAccTriggerActions","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-06-14T14:36:34.649986079Z","updated_at":"2023-06-14T14:36:34.649986079Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 126.065292ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/60ffdfac-1793-4bd5-8fa7-e34e5a20e132
        method: GET
      response:
        body: '{"id":"60ffdfac-1793-4bd5-8fa7-e34e5a20e132","name":"Test Trigger Binding Foo TestAccTriggerActions","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-06-14T14:36:34.649986079Z","updated_at":"2023-06-14T14:36:34.667029677Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node16","status":"built","secrets":[],"current_version":{"id":"92518e07-6aba-4635-8860-02599be42e37","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node16","status":"BUILT","number":1,"build_time":"2023-06-14T14:36:34.980031624Z","created_at":"2023-06-14T14:36:34.900273Z","updated_at":"2023-06-14T14:36:34.981801846Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"92518e07-6aba-4635-8860-02599be42e37","deployed":true,"number":1,"built_at":"2023-06-14T14:36:34.980031624Z","secrets":[],"status":"built","created_at":"2023-06-14T14:36:34.900273Z","updated_at":"2023-06-14T14:36:34.981801846Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 114.256959ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"bindings":[{"display_name":"Test Trigger Binding Foo TestAccTriggerActions","ref":{"type":"action_id","value":"60ffdfac-1793-4bd5-8fa7-e34e5a20e132"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings
        method: PATCH
      response:
        body: '{"bindings":[{"id":"c5bb63b7-1687-455f-b658-ecb4c8f60e02","trigger_id":"post-login","action":{"id":"60ffdfac-1793-4bd5-8fa7-e34e5a20e132","name":"Test Trigger Binding Foo TestAccTriggerActions","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-06-14T14:36:34.649986079Z","updated_at":"2023-06-14T14:36:34.649986079Z","current_version":{"id":"92518e07-6aba-4635-8860-02599be42e37","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node16","status":"BUILT","number":1,"build_time":"2023-06-14T14:36:34.980031624Z","created_at":"2023-06-14T14:36:34.900273Z","updated_at":"2023-06-14T14:36:34.981801846Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"92518e07-6aba-4635-8860-02599be42e37","deployed":true,"number":1,"built_at":"2023-06-14T14:36:34.980031624Z","secrets":[],"status":"built","created_at":"2023-06-14T14:36:34.900273Z","updated_at":"2023-06-14T14:36:34.981801846Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":false},"created_at":"2023-06-14T14:36:35.681136136Z","updated_at":"2023-06-14T14:36:35.681136136Z","display_name":"Test Trigger Binding Foo TestAccTriggerActions"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 106.670041ms
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?per_page=50
        method: GET
      response:
        body: '{"bindings":[{"id":"c5bb63b7-1687-455f-b658-ecb4c8f60e02","trigger_id":"post-login","action":{"id":"60ffdfac-1793-4bd5-[...]
[...]
    - id: 45
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?per_page=50
        method: GET
      response:
        body: '{"bindings":[],"per_page":50}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 102.70725ms
[...]
