---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test IP Header Trusted - TestAccClientGetsCreatedWithoutSettingIsTokenEndpointIPHeaderTrustedOnCreate"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Test IP Header Trusted - TestAccClientGetsCreatedWithoutSettingIsTokenEndpointIPHeaderTrustedOnCreate","client_id":"w6rwi7QVCxmhqUrg2cllOOk8BrRdCEcD","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 564.524375ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/w6rwi7QVCxmhqUrg2cllOOk8BrRdCEcD
        method: GET
      response:
        body: '{"name":"Test IP Header Trusted - TestAccClientGetsCreatedWithoutSettingIsTokenEndpointIPHeaderTrustedOnCreate","client_id":"w6rwi7QVCxmhqUrg2cllOOk8BrRdCEcD","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 101.871667ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/w6rwi7QVCxmhqUrg2cllOOk8BrRdCEcD?fields=client_id&include_fields=true
        method: GET
      response:
        body: '{"client_id":"w6rwi7QVCxmhqUrg2cllOOk8BrRdCEcD","signing_keys":[{"cert":"[REDACTED]"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 90.994292ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"token_endpoint_auth_method":"client_secret_post"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/w6rwi7QVCxmhqUrg2cllOOk8BrRdCEcD
        method: PATCH
      response:
        body: '{"name":"Test IP Header Trusted - TestAccClientGetsCreatedWithoutSettingIsTokenEndpointIPHeaderTrustedOnCreate","client_id":"w6rwi7QVCxmhqUrg2cllOOk8BrRdCEcD","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 131.992875ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/w6rwi7QVCxmhqUrg2cllOOk8BrRdCEcD?fields=client_id%2Cclient_secret%2Ctoken_endpoint_auth_method%2Cclient_authentication_methods&include_fields=true
        method: GET
      response:
        body: '{"client_id":"w6rwi7QVCxmhqUrg2cllOOk8BrRdCEcD","client_secret":"[REDACTED]","signing_keys":[{"cert":"[REDACTED]"}],"token_endpoint_auth_method":"client_secret_post"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 250.113ms
[...]
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/w6rwi7QVCxmhqUrg2cllOOk8BrRdCEcD?fields=client_id%2Capp_type&include_fields=true
        method: GET
      response:
        body: '{"client_id":"w6rwi7QVCxmhqUrg2cllOOk8BrRdCEcD","signing_keys":[{"cert":"[REDACTED]"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 109.580209ms
[...]
