---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"Test Module TestAccActionModuleActionsDataSource","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules
        method: POST
      response:
        body: '{"id":"ad94ed26-d51f-4c4a-8eca-4b84eeb48c50","name":"Test Module TestAccActionModuleActionsDataSource","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[],"all_changes_published":false,"actions_using_module_total":0,"created_at":"2026-02-16T16:36:15.781102Z","updated_at":"2026-02-16T16:36:15.781102Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 378.016084ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/ad94ed26-d51f-4c4a-8eca-4b84eeb48c50/versions
        method: POST
      response:
        body: '{"id":"f9185f8b-1a9b-4c34-bcbe-d9c952d04d55","module_id":"ad94ed26-d51f-4c4a-8eca-4b84eeb48c50","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","secrets":[],"dependencies":[],"created_at":"2026-02-16T16:36:16.143698Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 659.783875ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/ad94ed26-d51f-4c4a-8eca-4b84eeb48c50
        method: GET
      response:
        body: '{"id":"ad94ed26-d51f-4c4a-8eca-4b84eeb48c50","name":"Test Module TestAccActionModuleActionsDataSource","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[],"all_changes_published":true,"actions_using_module_total":0,"created_at":"2026-02-16T16:36:15.781102Z","updated_at":"2026-02-16T16:36:15.781102Z","latest_version":{"id":"f9185f8b-1a9b-4c34-bcbe-d9c952d04d55","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 347.174833ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/ad94ed26-d51f-4c4a-8eca-4b84eeb48c50/versions?page=0&per_page=50
        method: GET
      response:
        body: '{"versions":[{"id":"f9185f8b-1a9b-4c34-bcbe-d9c952d04d55","module_id":"ad94ed26-d51f-4c4a-8eca-4b84eeb48c50","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","secrets":[],"dependencies":[],"created_at":"2026-02-16T16:36:16.143698Z"}],"total":1,"page":0,"per_page":50}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 387.454083ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccActionModuleActionsDataSource","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"const myModule = require('my-module');\nexports.onExecutePostLogin = async (event, api) =\u003e {\n\tconsole.log(myModule.greet(event.user.name));\n};\n","modules":[{"module_id":"ad94ed26-d51f-4c4a-8eca-4b84eeb48c50","module_version_id":"f9185f8b-1a9b-4c34-bcbe-d9c952d04d55"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"5d89bdb9-5ef5-4764-8690-1019237bb775","name":"Test Action TestAccActionModuleActionsDataSource","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-02-16T16:36:21.932142822Z","updated_at":"2026-02-16T16:36:21.938430364Z","code":"const myModule = require(''my-module'');\nexports.onExecutePostLogin = async (event, api) => {\n\tconsole.log(myModule.greet(event.user.name));\n};\n","dependencies":[],"runtime":"node22","status":"pending","secrets":[],"modules":[{"module_id":"ad94ed26-d51f-4c4a-8eca-4b84eeb48c50","module_name":"Test Module TestAccActionModuleActionsDataSource","module_version_id":"f9185f8b-1a9b-4c34-bcbe-d9c952d04d55","module_version_number":1}],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 391.5845ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/5d89bdb9-5ef5-4764-8690-1019237bb775
        method: GET
      response:
        body: '{"id":"5d89bdb9-5ef5-4764-8690-1019237bb775","name":"Test Action TestAccActionModuleActionsDataSource","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-02-16T16:36:21.932142822Z","updated_at":"2026-02-16T16:36:21.938430364Z","code":"const myModule = require(''my-module'');\nexports.onExecutePostLogin = async (event, api) => {\n\tconsole.log(myModule.greet(event.user.name));\n};\n","dependencies":[],"runtime":"node22","status":"built","secrets":[],"modules":[{"module_id":"ad94ed26-d51f-4c4a-8eca-4b84eeb48c50","module_name":"Test Module TestAccActionModuleActionsDataSource","module_version_id":"f9185f8b-1a9b-4c34-bcbe-d9c952d04d55","module_version_number":1}],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 380.174334ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/5d89bdb9-5ef5-4764-8690-1019237bb775/deploy
        method: POST
      response:
        body: '{"code":"const myModule = require(''my-module'');\nexports.onExecutePostLogin = async (event, api) => {\n\tconsole.log(myModule.greet(event.user.name));\n};\n","dependencies":[],"id":"d2f200b4-0f02-453e-b27f-ec68e516e15d","deployed":false,"number":1,"secrets":[],"modules":[{"module_id":"ad94ed26-d51f-4c4a-8eca-4b84eeb48c50","module_name":"Test Module TestAccActionModuleActionsDataSource","module_version_id":"f9185f8b-1a9b-4c34-bcbe-d9c952d04d55","module_version_number":1}],"status":"built","created_at":"2026-02-16T16:36:22.677209866Z","updated_at":"2026-02-16T16:36:22.677209866Z","runtime":"node22","supported_triggers":[{"id":"post-login","version":"v3"}],"action":{"id":"5d89bdb9-5ef5-4764-8690-1019237bb775","name":"Test Action TestAccActionModuleActionsDataSource","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-02-16T16:36:21.932142822Z","updated_at":"2026-02-16T16:36:21.932142822Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 347.402708ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/5d89bdb9-5ef5-4764-8690-1019237bb775
        method: GET
      response:
        body: '{"id":"5d89bdb9-5ef5-4764-8690-1019237bb775","name":"Test Action TestAccActionModuleActionsDataSource","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-02-16T16:36:21.932142822Z","updated_at":"2026-02-16T16:36:21.938430364Z","code":"const myModule = require(''my-module'');\nexports.onExecutePostLogin = async (event, api) => {\n\tconsole.log(myModule.greet(event.user.name));\n};\n","dependencies":[],"runtime":"node22","status":"built","secrets":[],"modules":[{"module_id":"ad94ed26-d51f-4c4a-8eca-4b84eeb48c50","module_name":"Test Module TestAccActionModuleActionsDataSource","module_version_id":"f9185f8b-1a9b-4c34-bcbe-d9c952d04d55","module_version_number":1}],"current_version":{"id":"d2f200b4-0f02-453e-b27f-ec68e516e15d","code":"const myModule = require(''my-module'');\nexports.onExecutePostLogin = async (event, api) => {\n\tconsole.log(myModule.greet(event.user.name));\n};\n","runtime":"node22","status":"BUILT","number":1,"build_time":"2026-02-16T16:36:22.781355264Z","created_at":"2026-02-16T16:36:22.677209866Z","updated_at":"2026-02-16T16:36:22.782141175Z"},"deployed_version":{"code":"const myModule = require(''my-module'');\nexports.onExecutePostLogin = async (event, api) => {\n\tconsole.log(myModule.greet(event.user.name));\n};\n","dependencies":[],"id":"d2f200b4-0f02-453e-b27f-ec68e516e15d","deployed":true,"number":1,"built_at":"2026-02-16T16:36:22.781355264Z","secrets":[],"modules":[{"module_id":"ad94ed26-d51f-4c4a-8eca-4b84eeb48c50","module_name":"Test Module TestAccActionModuleActionsDataSource","module_version_id":"f9185f8b-1a9b-4c34-bcbe-d9c952d04d55","module_version_number":1}],"status":"built","created_at":"2026-02-16T16:36:22.677209866Z","updated_at":"2026-02-16T16:36:22.782141175Z","runtime":"node22","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 338.182416ms
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/ad94ed26-d51f-4c4a-8eca-4b84eeb48c50/actions?page=0&per_page=50
        method: GET
      response:
        body: '{"actions":[{"action_id":"5d89bdb9-5ef5-4764-8690-1019237bb775","action_name":"Test Action TestAccActionModuleActionsDataSource","module_version_id":"f9185f8b-1a9b-4c34-bcbe-d9c952d04d55","module_version_number":1}],"total":1,"per_page":50}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 660.217125ms
[...]
