---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test 2 - TestAccDataClients","description":"Description for client 2 TestAccDataClients","app_type":"spa","is_first_party":false,"token_endpoint_auth_method":"none"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test 2 - TestAccDataClients","description":"Description for client 2 TestAccDataClients","client_id":"snuQiP9rJE2GZmp1zQw1U9weMwwKGWfH","client_secret":"[REDACTED]","app_type":"spa","is_first_party":false,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":true,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token"],"custom_login_page_on":true,"token_endpoint_auth_method":"none","refresh_token":{"rotation_type":"rotating","expiration_type":"expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":false,"infinite_idle_token_lifetime":false,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 561.153625ms
[...]
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/snuQiP9rJE2GZmp1zQw1U9weMwwKGWfH
        method: GET
      response:
        body: '{"name":"Acceptance Test 2 - TestAccDataClients","description":"Description for client 2 TestAccDataClients","client_id":"snuQiP9rJE2GZmp1zQw1U9weMwwKGWfH","client_secret":"[REDACTED]","app_type":"spa","is_first_party":false,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":true,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token"],"custom_login_page_on":true,"token_endpoint_auth_method":"none","refresh_token":{"rotation_type":"rotating","expiration_type":"expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":false,"infinite_idle_token_lifetime":false,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 332.568625ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/pXbcIR28YGi2V2vEtXSGrmTrLC5w6DiZ
        method: GET
      response:
        body: '{"name":"Acceptance Test 1 - TestAccDataClients","description":"Description for client 1 TestAccDataClients","client_id":"pXbcIR28YGi2V2vEtXSGrmTrLC5w6DiZ","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 379.270833ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"start":0,"limit":100,"length":0,"total":31,"next":"","clients":[{"name":"Default App","client_id":"cQIkSecBkjcSl6vGlorXeFsY5RxOOX4c","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":true,"callbacks":[],"jwt_configuration":{"secret_encoded":false,"alg":"RS256","lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":true,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}},{"name":"terraform-e2e-auth0","client_id":"Mt2OyVN7QphPhmFWgJMXtzzethEatko0","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token[...]
[...]
    - id: 15
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients?app_type=non_interactive&include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"start":0,"limit":100,"length":0,"total":5,"next":"","clients":[{"name":"terraform-e2e-auth0","client_id":"Mt[...]
[...]
    - id: 22
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients?include_totals=true&is_first_party=true&page=0&per_page=100
        method: GET
      response:
        body: '{"start":0,"limit":100,"length":0,"total":30,"next":"","clients":[{"name":"Default App","client_id":"cQIkSecBkjcSl6[...]
[...]
