---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"TestAccUserAttributeProfile","user_attributes":{"email":{"description":"User's email address","label":"Email","profile_required":true,"auth0_mapping":"email"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/user-attribute-profiles
        method: POST
      response:
        body: '{"id":"uap_1css47cCzXvXLC4pJ8KBaa","name":"TestAccUserAttributeProfile","user_id":{"oidc_mapping":"sub","saml_mapping":["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"],"scim_mapping":"externalId"},"user_attributes":{"email":{"label":"Email","description":"User''s email address","auth0_mapping":"email","profile_required":true}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 432.75575ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/user-attribute-profiles/uap_1css47cCzXvXLC4pJ8KBaa
        method: GET
      response:
        body: '{"id":"uap_1css47cCzXvXLC4pJ8KBaa","name":"TestAccUserAttributeProfile","user_id":{"oidc_mapping":"sub","saml_mapping":["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"],"scim_mapping":"externalId"},"user_attributes":{"email":{"label":"Email","description":"User''s email address","auth0_mapping":"email","profile_required":true}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 420.385208ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"TestAccUserAttributeProfile Updated","user_id":{},"user_attributes":{"email":{"description":"User's updated email address","label":"Email Address","profile_required":false,"auth0_mapping":"email","saml_mapping":["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"]},"given_name":{"description":"User's first name","label":"First Name","profile_required":true,"auth0_mapping":"given_name","scim_mapping":"name.givenName"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/user-attribute-profiles/uap_1css47cCzXvXLC4pJ8KBaa
        method: PATCH
      response:
        body: '{"id":"uap_1css47cCzXvXLC4pJ8KBaa","name":"TestAccUserAttributeProfile Updated","user_id":{"oidc_mapping":"sub","saml_mapping":["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn","http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"],"scim_mapping":"externalId"},"user_attributes":{"email":{"label":"Email Address","description":"User''s updated email address","saml_mapping":["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"],"auth0_mapping":"email","profile_required":false},"given_name":{"label":"First Name","description":"User''s first name","scim_mapping":"name.givenName","auth0_mapping":"given_name","profile_required":true}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 350.849375ms
[...]
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"TestAccUserAttributeProfile Updated with Computed","user_id":{},"user_attributes":{"email":{"description":"User's email with updated mappings","label":"Updated Email","profile_required":true,"auth0_mapping":"email","oidc_mapping":{"mapping":"email_verified","display_name":"Email Verified Status"},"saml_mapping":["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress","http://schemas.microsoft.com/ws/2008/06/identity/claims/windowsaccountname"],"scim_mapping":"emails[primary eq true].value"},"given_name":{"description":"Updated first name attribute","label":"Updated First Name","profile_required":false,"auth0_mapping":"given_name","saml_mapping":["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname"],"scim_mapping":"name.familyName"}}}
   [...]
[...]
