---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - TestAccDataSourceResourceServerNonexistentIdentifier","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccDataSourceResourceServerNonexistentIdentifier","scopes":[{"value":"create:bar","description":"Create bars"},{"value":"create:foo","description":"Create foos"}],"signing_alg":"RS256","allow_offline_access":true,"token_lifetime":7200,"token_lifetime_for_web":3600,"skip_consent_for_verifiable_first_party_clients":true,"enforce_policies":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"64a8817dbede92adc4d8c5ea","name":"Acceptance Test - TestAccDataSourceResourceServerNonexistentIdentifier","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccDataSourceResourceServerNonexistentIdentifier","allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true,"token_lifetime":7200,"token_lifetime_for_web":3600,"signing_alg":"RS256","scopes":[{"value":"create:bar","description":"Create bars"},{"value":"create:foo","description":"Create foos"}],"enforce_policies":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 73.736041ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/64a8817dbede92adc4d8c5ea
        method: GET
      response:
        body: '{"id":"64a8817dbede92adc4d8c5ea","name":"Acceptance Test - TestAccDataSourceResourceServerNonexistentIdentifier","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccDataSourceResourceServerNonexistentIdentifier","allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true,"token_lifetime":7200,"token_lifetime_for_web":3600,"signing_alg":"RS256","scopes":[{"value":"create:bar","description":"Create bars"},{"value":"create:foo","description":"Create foos"}],"enforce_policies":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 122.176166ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/this-resource-server-does-not-exist
        method: GET
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"The resource server does not exist","errorCode":"inexistent_resource_server"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 121.253667ms
[...]
