---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"keys":[{"kid":"adeec1e0-fb57-4318-8a81-209fa8ff8fc4","type":"tenant-master-key","state":"active","created_at":"2024-09-20T17:02:45.765Z","updated_at":"2024-09-20T17:02:45.765Z","parent_kid":"b80a8d80-0e17-49dd-9ce6-50a634a31816"},{"kid":"f882b562-89f7-4aa6-803b-a463f01edfce","type":"tenant-master-key","state":"destroyed","created_at":"2024-09-20T16:40:38.945Z","updated_at":"2024-09-20T17:02:45.965Z","parent_kid":"b80a8d80-0e17-49dd-9ce6-50a634a31816"},{"kid":"439961ac-4d04-4547-ba39-b5b62c026cd0","type":"tenant-master-key","state":"destroyed","created_at":"2024-09-20T16:34:36.755Z","updated_at":"2024-09-20T16:40:39.113Z","parent_kid":"b80a8d80-0e17-49dd-9ce6-50a634a31816"},{"kid":"[...]
[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption/rekey
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 400.169ms
[...]
