---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Client Credentials - TestAccClientCredentialsTokenVaultPrivilegedAccess","app_type":"non_interactive","jwt_configuration":{"alg":"RS256"},"token_endpoint_auth_method":"client_secret_post"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientCredentialsTokenVaultPrivilegedAccess","client_id":"WvtEMV52tLkaDKLNGDi7Hdih9jDuY7Fk","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256"},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 519.910708ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/WvtEMV52tLkaDKLNGDi7Hdih9jDuY7Fk
        method: GET
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientCredentialsTokenVaultPrivilegedAccess","client_id":"WvtEMV52tLkaDKLNGDi7Hdih9jDuY7Fk","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256"},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 359.695542ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/WvtEMV52tLkaDKLNGDi7Hdih9jDuY7Fk?fields=client_id&include_fields=true
        method: GET
      response:
        body: '{"client_id":"WvtEMV52tLkaDKLNGDi7Hdih9jDuY7Fk","signing_keys":[{"cert":"[REDACTED]"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 300.637667ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Token Vault Credentials 1","credential_type":"public_key","pem":"-----BEGIN CERTIFICATE-----\nMIIFWDCCA0ACCQDXqpBo3RUhkzANBgkqhkiG9w0BAQsFADBuMQswCQYDVQQGEwJl\nczEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxDTALBgNVBAoMBE9r\ndGExDzANBgNVBAsMBkRYLUNEVDEdMBsGA1UEAwwURGV2ZWxvcGVyIEV4cGVyaWVu\nY2UwHhcNMjMwNTE2MDkzMzEzWhcNMzMwNTEzMDkzMzEzWjBuMQswCQYDVQQGEwJl\nczEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxDTALBgNVBAoMBE9r\ndGExDzANBgNVBAsMBkRYLUNEVDEdMBsGA1UEAwwURGV2ZWxvcGVyIEV4cGVyaWVu\nY2UwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQCupwRtoZtRk9qRaXD+\nYdtpM9dW[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/WvtEMV52tLkaDKLNGDi7Hdih9jDuY7Fk?fields=client_id%2Capp_type&include_fields=true
        method: GET
      response:
        body: '{"client_id":"WvtEMV52tLkaDKLNGDi7Hdih9jDuY7Fk","app_type":"non_interactive","signing_keys":[{"cert":"[REDACTED]"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 326.282167ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"token_vault_privileged_access":{"credentials":[{"id":"cred_dENmTtbqqp5hPBUdJW9s31"}],"grants":[{"connection":"google-oauth2","scopes":["https://www.googleapis.com/auth/calendar.readonly"]}],"ip_allowlist":["10.0.0.1"]}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/WvtEMV52tLkaDKLNGDi7Hdih9jDuY7Fk
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientCredentialsTokenVaultPrivilegedAccess","client_id":"WvtEMV52tLkaDKLNGDi7Hdih9jDuY7Fk","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256"},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000},"token_vault_privileged_access":{"credentials":[{"id":"cred_dENmTtbqqp5hPBUdJW9s31"}],"ip_allowlist":["10.0.0.1"],"grants":[{"connection":"google-oauth2","scopes":["https://www.googleapis.com/auth/calendar.readonly"]}]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 322.946667ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/WvtEMV52tLkaDKLNGDi7Hdih9jDuY7Fk/credentials/cred_dENmTtbqqp5hPBUdJW9s31
        method: GET
      response:
        body: '{"id":"cred_dENmTtbqqp5hPBUdJW9s31","credential_type":"public_key","kid":"w0kIFOc-q7KKK-pa2Uj5b_Cl3f0hAgFeseLg8iEmWu0","alg":"RS256","name":"Token Vault Credentials 1","created_at":"2026-08-10T04:59:52.814Z","updated_at":"2026-08-10T04:59:52.814Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 296.231458ms
[...]
    - id: 27
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/WvtEMV52tLkaDKLNGDi7Hdih9jDuY7Fk/credentials?include_totals=true&per_page=50
        method: GET
      response:
        body: '[{"id":"cred_dENmTtbqqp5hPBUdJW9s31","credential_type":"public_key","kid":"w0kIFOc-q7KKK-pa2Uj5b_Cl3f0hAgFeseLg8iEmWu0","alg":"RS256","name":"Token Vault Credentials 1","created_at":"2026-08-10T04:59:52.814Z","updated_at":"2026-08-10T04:59:52.814Z"}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 299.295042ms
[...]
    - id: 35
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/WvtEMV52tLkaDKLNGDi7Hdih9jDuY7Fk/credentials/cred_9K9xzmMogXcssmFCwDTgYN
        method: GET
      response:
        body: '{"id":"cred_9K9xzmMogXcssmFCwDTgYN","credential_type":"public_key","kid":"FnNtsjkgcpkHjrTJqenDiJx31_g8n_-wWtYUUPn4FyM","alg":"RS256","name":"Token Vault Credentials 2","created_at":"2026-08-10T05:00:04.228Z","updated_at":"2026-08-10T05:00:04.228Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 275.466667ms
[...]
    - id: 57
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/WvtEMV52tLkaDKLNGDi7Hdih9jDuY7Fk/credentials/cred_i4QNhyxsaQUNEcvn8BMGZP
        method: GET
      response:
        body: '{"id":"cred_i4QNhyxsaQUNEcvn8BMGZP","credential_type":"public_key","kid":"w0kIFOc-q7KKK-pa2Uj5b_Cl3f0hAgFeseLg8iEmWu0","alg":"RS256","name":"Token Vault Credentials 1","created_at":"2026-08-10T05:00:15.845Z","updated_at":"2026-08-10T05:00:15.845Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 276.722459ms
[...]
    - id: 67
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"client_authentication_methods":null,"token_endpoint_auth_method":"client_secret_post"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/WvtEMV52tLkaDKLNGDi7Hdih9jDuY7Fk
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientCredentialsTokenVaultPrivilegedAccess","client_id":"WvtEMV52tLkaDKLNGDi7Hdih9jDuY7Fk","client_secret":"[REDACTED]","app_type[...]
[...]
