---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"friendly_name":"Country Codes Test","country_codes":{"list":["CA","US"],"mode":"allow"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"enabled_locales":["en"],"flags":{"allow_changing_enable_sso":false,"cannot_change_enforce_client_authentication_on_passwordless_start":true,"disable_impersonation":true,"enable_sso":true,"enforce_client_authentication_on_passwordless_start":true,"new_universal_login_experience_enabled":true,"universal_login":true,"revoke_refresh_token_grant":false,"disable_clickjack_protection_headers":false},"friendly_name":"Country Codes Test","picture_url":"https://example2.com/logo.svg","sandbox_version":"22","oidc_logout":{"rp_logout_end_session_endpoint_discovery":true},"universal_login":{"is_custom_theme_set":true},"resource_parameter_profile":"audience","phone_consolidated_experience":false,"client_id_metadata_document_supported":false,"country_codes":{"list":["CA","US"],"mode":"allow"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 320.557125ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"default_token_quota":null,"error_page":null,"mtls":null,"skip_non_verifiable_callback_uri_confirmation_prompt":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"enabled_locales":["en"],"flags":{"allow_changing_enable_sso":false,"cannot_change_enforce_client_authentication_on_passwordless_start":true,"disable_impersonation":true,"enable_sso":true,"enforce_client_authentication_on_passwordless_start":true,"new_universal_login_experience_enabled":true,"universal_login":true,"revoke_refresh_token_grant":false,"disable_clickjack_protection_headers":false},"friendly_name":"Country Codes Test","picture_url":"https://example2.com/logo.svg","sandbox_version":"22","oidc_logout":{"rp_logout_end_session_endpoint_discovery":true},"universal_login":{"is_custom_theme_set":true},"resource_parameter_profile":"audience","phone_consolidated_experience":false,"client_id_metadata_document_supported":false,"country_codes":{"list":["CA","US"],"mode":"allow"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 311.403958ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: GET
      response:
        body: '{"enabled_locales":["en"],"flags":{"allow_changing_enable_sso":false,"disable_impersonation":true,"enable_sso":true,"new_universal_login_experience_enabled":true,"universal_login":true,"revoke_refresh_token_grant":false,"disable_clickjack_protection_headers":false},"friendly_name":"Country Codes Test","picture_url":"https://example2.com/logo.svg","sandbox_version":"22","oidc_logout":{"rp_logout_end_session_endpoint_discovery":true},"universal_login":{},"resource_parameter_profile":"audience","phone_consolidated_experience":false,"client_id_metadata_document_supported":false,"country_codes":{"list":["CA","US"],"mode":"allow"},"sandbox_versions_available":["22","18"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 275.893708ms
[...]
