---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Connection-1-testaccorganizationconnections","strategy":"auth0"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_SmIJmENhimuTbsoF","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"authentication_methods":{"password":{"enabled":true},"passkey":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-1-testaccorganizationconnections","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-1-testaccorganizationconnections"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 336.77175ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_SmIJmENhimuTbsoF
        method: GET
      response:
        body: '{"id":"con_SmIJmENhimuTbsoF","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"strategy_version":2,"authentication_methods":{"passkey":{"enabled":false},"password":{"enabled":true}},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-1-testaccorganizationconnections","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-1-testaccorganizationconnections"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 309.177208ms
[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_nAEHqsphtqmZMm5d
        method: GET
      response:
        body: '{"id":"con_nAEHqsphtqmZMm5d","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"strategy_version":2,"authentication_methods":{"passkey":{"enabled":false},"password":{"enabled":true}},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-2-testaccorganizationconnections","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-2-testaccorganizationconnections"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 274.417875ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"some-org-testaccorganizationconnections","display_name":"testaccorganizationconnections"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_IPuPgllFxtjaKHaf","display_name":"testaccorganizationconnections","name":"some-org-testaccorganizationconnections"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 462.735375ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_IPuPgllFxtjaKHaf
        method: GET
      response:
        body: '{"id":"org_IPuPgllFxtjaKHaf","name":"some-org-testaccorganizationconnections","display_name":"testaccorganizationconnections"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 290.02775ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"connection_id":"con_SmIJmENhimuTbsoF","assign_membership_on_login":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_IPuPgllFxtjaKHaf/enabled_connections
        method: POST
      response:
        body: '{"connection_id":"con_SmIJmENhimuTbsoF","assign_membership_on_login":false,"show_as_button":true,"connection":{"name":"Acceptance-Test-Connection-1-testaccorganizationconnections","strategy":"auth0"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 303.938625ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_IPuPgllFxtjaKHaf/enabled_connections/con_SmIJmENhimuTbsoF
        method: GET
      response:
        body: '{"connection_id":"con_SmIJmENhimuTbsoF","assign_membership_on_login":false,"show_as_button":true,"connection":{"name":"Acceptance-Test-Connection-1-testaccorganizationconnections","strategy":"auth0"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 290.690042ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_IPuPgllFxtjaKHaf/enabled_connections?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"enabled_connections":[{"connection_id":"con_SmIJmENhimuTbsoF","assign_membership_on_login":false,"show_as_button":true,"connection":{"name":"Acceptance-Test-Connection-1-testaccorganizationconnections","strategy":"auth0"}}],"start":0,"limit":1,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 280.344333ms
[...]
    - id: 15
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_IPuPgllFxtjaKHaf/members?fields=user_id&from=&include_fields=true&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 304.172375ms
[...]
    - id: 96
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_IPuPgllFxtjaKHaf/enabled_connections/con_nAEHqsphtqmZMm5d
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 352.414042ms
[...]
    - id: 232
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_nAEHqsphtqmZMm5d
        method: DELETE
      response:
        body: '{"deleted_at":"2024-05-27T09:40:56.452Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 279.589208ms
[...]
