---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{"principal":"arn:aws:iam::010616021751:saml-provider/idpname","role":"arn:aws:iam::010616021751:role/foo","lifetime_in_seconds":32000},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"newrelic":{},"office365":{},"salesforce":{},"salesforce_api":{},"salesforce_sandbox_api":{},"samlp":{},"sap_api":{},"sharepoint":{},"sentry":{},"springcm":{},"sso_integration":{},"wams":{},"zendesk":{},"zoom":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - SSO Integration - TestAccClientAddons","client_id":"q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c","client_secret":"[REDACTED]","app_type":"sso_integration","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"addons":{"aws":{"principal":"arn:aws:iam::010616021751:saml-provider/idpname","role":"arn:aws:iam::010616021751:role/foo","lifetime_in_seconds":32000},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"newrelic":{},"office365":{},"salesforce":{},"salesforce_api":{},"salesforce_sandbox_api":{},"samlp":{},"sap_api":{},"sharepoint":{},"sentry":{},"springcm":{},"sso_integration":{},"wams":{},"zendesk":{},"zoom":{}},"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 435.883958ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c
        method: GET
      response:
        body: '{"name":"Acceptance Test - SSO Integration - TestAccClientAddons","client_id":"q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c","client_secret[...]
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{"accountName":"acmeorg","storageAccessKey":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa==","containerName":"my-container","blobName":"my-blob","expiration":10,"signedIdentifier":"id123","blob_read":true,"blob_write":true,"blob_delete":true,"container_read":true,"container_write":true,"container_delete":true,"container_list":true},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"newrelic":{},"office365":{},"salesforce":{},"salesforce_api":{},"salesforce_sandbox_api":{},"samlp":{},"sap_api":{},"sharepoint":{},"sentry":{},"springcm":{},"sso_integration":{},"wams":{},"zendesk":{},"zoom":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c
        method: PAT[...]
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{"namespace":"acmeorg","sasKeyName":"my-policy","sasKey":"my-key","entityPath":"my-queue","expiration":10},"echosign":{},"egnyte":{},"firebase":{},"newrelic":{},"office365":{},"salesforce":{},"salesforce_api":{},"salesforce_sandbox_api":{},"samlp":{},"sap_api":{},"sharepoint":{},"sentry":{},"springcm":{},"sso_integration":{},"wams":{},"zendesk":{},"zoom":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c
        met[...]
[...]
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"newrelic":{},"office365":{},"rms":{"url":"https://example.com"},"salesforce":{},"salesforce_api":{},"salesforce_sandbox_api":{},"samlp":{},"sap_api":{},"sharepoint":{},"sentry":{},"springcm":{},"sso_integration":{},"wams":{},"zendesk":{},"zoom":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c
        method: PATCH
      response:
        body: '{"name":"Acceptance Test [...]
[...]
    - id: 16
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"mscrm":{"url":"https://example.com"},"newrelic":{},"office365":{},"salesforce":{},"salesforce_api":{},"salesforce_sandbox_api":{},"samlp":{},"sap_api":{},"sharepoint":{},"sentry":{},"springcm":{},"sso_integration":{},"wams":{},"zendesk":{},"zoom":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c
        method: PATCH
      response:
        bod[...]
[...]
    - id: 20
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"newrelic":{},"office365":{},"salesforce":{},"salesforce_api":{},"salesforce_sandbox_api":{},"samlp":{},"sap_api":{},"sharepoint":{},"sentry":{},"slack":{"team":"acmeorg"},"springcm":{},"sso_integration":{},"wams":{},"zendesk":{},"zoom":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - SSO Integration - TestAccClientAddons","client_id":"q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c","client_secret":"[REDACTED]","app_type":"sso_in[...]
[...]
    - id: 24
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"newrelic":{},"office365":{},"salesforce":{},"salesforce_api":{},"salesforce_sandbox_api":{},"samlp":{},"sap_api":{},"sharepoint":{},"sentry":{"org_slug":"acmeorg","base_url":""},"springcm":{},"sso_integration":{},"wams":{},"zendesk":{},"zoom":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - SSO Integration - TestAccClientAddons","client_id":"q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c","client_secret":"[REDACTED]","app_type":"sso_integrati[...]
[...]
    - id: 28
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{"domain":"acmeorg"},"egnyte":{},"firebase":{},"newrelic":{},"office365":{},"salesforce":{},"salesforce_api":{},"salesforce_sandbox_api":{},"samlp":{},"sap_api":{},"sharepoint":{},"sentry":{},"springcm":{},"sso_integration":{},"wams":{},"zendesk":{},"zoom":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c
        method: PATCH
      response:
    [...]
[...]
    - id: 36
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{"secret":"secret","private_key_id":"private-key-id","private_key":"private-key","client_email":"service-account","lifetime_in_seconds":7200},"newrelic":{},"office365":{},"salesforce":{},"salesforce_api":{},"salesforce_sandbox_api":{},"samlp":{},"sap_api":{},"sharepoint":{},"sentry":{},"springcm":{},"sso_integration":{},"wams":{},"zendesk":{},"zoom":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c
        method: PATCH
      respo[...]
[...]
    - id: 40
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"newrelic":{"account":"123456"},"office365":{},"salesforce":{},"salesforce_api":{},"salesforce_sandbox_api":{},"samlp":{},"sap_api":{},"sharepoint":{},"sentry":{},"springcm":{},"sso_integration":{},"wams":{},"zendesk":{},"zoom":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - SSO[...]
[...]
    - id: 44
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"newrelic":{},"office365":{"domain":"acmeorg","connection":"Username-Password-Authentication"},"salesforce":{},"salesforce_api":{},"salesforce_sandbox_api":{},"samlp":{},"sap_api":{},"sharepoint":{},"sentry":{},"springcm":{},"sso_integration":{},"wams":{},"zendesk":{},"zoom":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c
        method: PATCH
      response:
        body: '{"name":"Acceptance[...]
[...]
    - id: 48
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"newrelic":{},"office365":{},"salesforce":{"entity_id":"https://acme-org.com"},"salesforce_api":{"clientid":"client-id","principal":"principal","communityName":"community-name","community_url_section":"community-url-section"},"salesforce_sandbox_api":{"clientid":"client-id","principal":"principal","communityName":"community-name","community_url_section":"community-url-section"},"samlp":{},"sap_api":{},"sharepoint":{},"sentry":{},"springcm":{},"sso_integration":{},"wams":{},"zendesk":{},"zoom":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/q9G3Jy5K6Klv7l5IrzJW2jvDQ[...]
[...]
    - id: 52
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"layer":{"providerId":"provider-id","keyId":"key-id","privateKey":"private-key","principal":"principal","expiration":10},"newrelic":{},"office365":{},"salesforce":{},"salesforce_api":{},"salesforce_sandbox_api":{},"samlp":{},"sap_api":{},"sharepoint":{},"sentry":{},"springcm":{},"sso_integration":{},"wams":{},"zendesk":{},"zoom":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c
        method: PATCH
  [...]
[...]
    - id: 56
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"newrelic":{},"office365":{},"salesforce":{},"salesforce_api":{},"salesforce_sandbox_api":{},"samlp":{},"sap_api":{"clientid":"client-id","usernameAttribute":"email","tokenEndpointUrl":"https://example.com","scope":"use:api","servicePassword":"123456","nameIdentifierFormat":"urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified"},"sharepoint":{},"sentry":{},"springcm":{},"sso_integration":{},"wams":{},"zendesk":{},"zoom":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - SSO Integration - TestAccClientAddons","client_id":"q9G3Jy5[...]
[...]
    - id: 60
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"newrelic":{},"office365":{},"salesforce":{},"salesforce_api":{},"salesforce_sandbox_api":{},"samlp":{},"sap_api":{},"sharepoint":{"url":"https://example.com:123","external_url":["https://example.com/v2"]},"sentry":{},"springcm":{},"sso_integration":{},"wams":{},"zendesk":{},"zoom":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - SSO Integration - TestAccClientAddons","client_id":"q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c","client_secret":"[[...]
[...]
    - id: 64
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"newrelic":{},"office365":{},"salesforce":{},"salesforce_api":{},"salesforce_sandbox_api":{},"samlp":{},"sap_api":{},"sharepoint":{},"sentry":{},"springcm":{"acsurl":"https://example.com"},"sso_integration":{},"wams":{},"zendesk":{},"zoom":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - SSO Integration - TestAccClientAddons","client_id":"q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c","client_secret":"[REDACTED]","app_type":"sso_inte[...]
[...]
    - id: 68
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"newrelic":{},"office365":{},"salesforce":{},"salesforce_api":{},"salesforce_sandbox_api":{},"samlp":{},"sap_api":{},"sharepoint":{},"sentry":{},"springcm":{},"sso_integration":{},"wams":{"masterkey":"master-key"},"zendesk":{},"zoom":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - SSO Integration - TestAccClientAddons","client_id":"q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c","client_secret":"[REDACTED]","app_type":"sso_integration","is_first_party":true,"is_token[...]
[...]
    - id: 84
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"newrelic":{},"office365":{},"salesforce":{},"salesforce_api":{},"salesforce_sandbox_api":{},"samlp":{"mappings":{"email":"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress","name":"http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"},"audience":"https://tableau-server-test.domain.eu.com/audience-different","recipient":"https://tableau-server-test.domain.eu.com/recipient-different","create_upn_claim":false,"map_unknown_claims_as_is":false,"passthrough_claims_with_no_mapping":false,"map_identities":false,"signature_algorithm":"rsa-sha256","digest_algorithm":"sha256","issuer":"https://tableau-server-test.domain.eu.com/api/v1","destination":"https://tableau-server-test.domain.eu.com/destination","lifetime_in_seconds":3600,"sign_response":false,"name_identifier_format":"urn:oasis:names:tc:SAML:2.0:attrname-format:basic","name_identifier_probes":["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress"],"authn_context_class_ref":"context","typed_attributes":false,"include_attribute_name_format":false,"binding":"binding","signing_cert":"-----BEGIN PUBLIC KEY-----\nMIGf...bpP/t3\n+JGNGIRMj1hF1rnb6QIDAQAB\n-----END PUBLIC KEY-----\n","logout":{"callback":"https://example.com/callback","slo_enabled":true}},"sap_api":{},"sharepoint":{},"sentry":{},"springcm":{},"sso_integration":{},"wams":{},"zendesk":{},"zoom":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - SSO Integration - TestAccClientAddons","client_id":"q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c","client_se[...]
[...]
    - id: 92
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{},"box":{},"cloudbees":{},"concur":{},"dropbox":{},"echosign":{},"egnyte":{},"firebase":{},"newrelic":{},"office365":{},"salesforce":{},"salesforce_api":{},"salesforce_sandbox_api":{},"samlp":{},"sap_api":{},"sharepoint":{},"sentry":{},"springcm":{},"sso_integration":{},"wams":{},"wsfed":{},"zendesk":{},"zoom":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - SSO Integration - TestAccClientAddons","client_id":"q9G3Jy5K6Klv7l5IrzJW2jvDQcWnh92c","client_secret":"[REDACTED]","app_type":"sso_integration","is_first_party":true,"is_token_endpoint_i[...]
[...]
