---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-org-acceptance-testing","display_name":"Test Org Acceptance Testing"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_Y0maCy2XMFjLvL3H","display_name":"Test Org Acceptance Testing","name":"test-org-acceptance-testing"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 698.689917ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_Y0maCy2XMFjLvL3H
        method: GET
      response:
        body: '{"id":"org_Y0maCy2XMFjLvL3H","name":"test-org-acceptance-testing","display_name":"Test Org Acceptance Testing"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 355.501042ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Example API","identifier":"https://api.travel00123.com/"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"69799c4f5cd45125457afc93","name":"Example API","identifier":"https://api.travel00123.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 670.49825ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/69799c4f5cd45125457afc93
        method: GET
      response:
        body: '{"id":"69799c4f5cd45125457afc93","name":"Example API","identifier":"https://api.travel00123.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 351.84775ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test_client","organization_usage":"allow","default_organization":{"flows":["client_credentials"],"organization_id":"org_Y0maCy2XMFjLvL3H"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"test_client","client_id":"mJlCCK32T8ulhflBJF8nGIMESVN5X0aq","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"organization_usage":"allow","default_organization":{"flows":["client_credentials"],"organization_id":"org_Y0maCy2XMFjLvL3H"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 565.671ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/mJlCCK32T8ulhflBJF8nGIMESVN5X0aq
        method: GET
      response:
        body: '{"name":"test_client","client_id":"mJlCCK32T8ulhflBJF8nGIMESVN5X0aq","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"organization_usage":"allow","default_organization":{"flows":["client_credentials"],"organization_id":"org_Y0maCy2XMFjLvL3H"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 682.547ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants?audience=https%3A%2F%2Fapi.travel00123.com%2F&client_id=mJlCCK32T8ulhflBJF8nGIMESVN5X0aq&include_totals=true&per_page=50
        method: GET
      response:
        body: '{"total":0,"start":0,"limit":50,"client_grants":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 672.180792ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"client_id":"mJlCCK32T8ulhflBJF8nGIMESVN5X0aq","audience":"https://api.travel00123.com/","scope":["create:organization_client_grants","create:resource"],"allow_any_organization":true,"organization_usage":"allow"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants
        method: POST
      response:
        body: '{"id":"cgr_NIBzx3io0MbRs259","client_id":"mJlCCK32T8ulhflBJF8nGIMESVN5X0aq","audience":"https://api.travel00123.com/","scope":["create:organization_client_grants","create:resource"],"organization_usage":"allow","allow_any_organization":true,"subject_type":"client"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 439.852667ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants?include_totals=true&page=0&per_page=50
        method: GET
      response:
        body: '{"total":17,"start":0,"limit":50,"client_grants":[{"id":"cgr_28utLhsfouDJMiN1","client_id":"1EsEae9LfngLclvKQe4xsRitMRhz6IbI","audience":"https://uat.tf.terraform-provider-auth0.com/client-grant/TestAccDataSourceClientGrants","scope":["create:bar"],"subject_type":"user","authorization_details_types":["payment","shipping"]},{"id":"cgr_61ybpwQNVE1RrLOb","client_id":"LeBGFyt7y2ZjvlBhqPBJwTn3dLoEhCGB","audience":"http://localhost:3010","scope":[],"organization_usage":"deny","allow_any_organization":false,"subject_type":"client"},{"id":"cgr_7wfAwQkUNWmNpeTW","client_id":"y8zHiIOI5UciKi6yh6yPAQ3FpxvghHFb","audience":"https://test-api.com","scope":[],"subject_type":"client"},{"id":"cgr_AkA0k8QxCyENOwNa","client_id":"y8zHiIOI5UciKi6yh6yPAQ3FpxvghHFb","audience":"https://terraform-provider-auth0-dev.us.auth0.com/api/v2/","scope":[],"subject_type":"client"},{"id":"cgr_Cl46DcCt0ko7qsU0","client_id":"pZQmotfQIQPrLH5Yz3bgnkvqqrOkokoi","audience":"https://terraform-provider-auth0-dev.us.auth0.com/api/v2/","scope":["read:clients","read:user_attribute_profiles","read:connection_profiles","read:organizations_summary","read:connections","create:connections","update:connections","read:connections_options","update:connections_options","read:organization_connections","create:organization_connections","update:organization_connections","create:scim_config","read:scim_token","create:scim_token","delete:scim_token"],"is_system":true,"subject_type":"client"},{"id":"cgr_EcaLeRkLbOY4lPzu","client_id":"LeBGFyt7y2ZjvlBhqPBJwTn3dLoEhCGB","audience":"https://test-api.com","scope":[],"subject_type":"client"},{"id":"cgr_LkuhYmpyVAAjHzcU","client_id":"irIQaLy0NeHzbzNHdxqMpaDaTO2fBEEE","audience":"https://terraform-provider-auth0-dev.us.auth0.com/api/v2/","scope":["read:client_grants","create:client_grants","delete:client_grants","update:client_grants","read:users","update:users","delete:users","create:users","read:users_app_meta[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"grant_id":"cgr_NIBzx3io0MbRs259"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_Y0maCy2XMFjLvL3H/client-grants
        method: POST
      response:
        body: '{"grant_id":"cgr_NIBzx3io0MbRs259","client_id":"mJlCCK32T8ulhflBJF8nGIMESVN5X0aq","audience":"https://api.travel00123.com/","scope":["create:organization_client_grants","create:resource"],"organization_usage":"allow","allow_any_organization":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 374.233ms
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_Y0maCy2XMFjLvL3H/client-grants?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"client_grants":[{"id":"cgr_NIBzx3io0MbRs259","client_id":"mJlCCK32T8ulhflBJF8nGIMESVN5X0aq","audience":"https://api.travel00123.com/","scope":["create:organization_client_grants","create:resource"],"organization_usage":"allow","allow_any_organization":true,"subject_type":"client"}],"start":0,"limit":50,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 440.103792ms
[...]
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_Y0maCy2XMFjLvL3H/enabled_connections?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"enabled_connections":[],"start":0,"limit":0,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 358.5845ms
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_Y0maCy2XMFjLvL3H/members?fields=user_id&include_fields=true&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 996.144792ms
[...]
    - id: 28
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_Y0maCy2XMFjLvL3H/client-grants/cgr_NIBzx3io0MbRs259
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 322.755625ms
    - id: 29
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants/cgr_NIBzx3io0MbRs259
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 634.720917ms
[...]
