---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"acceptance-test-TestAccRule","script":"function (user, context, callback) { callback(null, user, context); }","enabled":true}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/rules
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"rul_1yQAfKAs8K06Yyuo","enabled":true,"script":"function (user, context, callback) { callback(null, user, context); }","name":"acceptance-test-TestAccRule","order":1,"stage":"login_success"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/rules/rul_1yQAfKAs8K06Yyuo
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"rul_1yQAfKAs8K06Yyuo","enabled":true,"script":"function (user, context, callback) { callback(null, user, context); }","name":"acceptance-test-TestAccRule","order":1,"stage":"login_success"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
