---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance Test - TestAccClient"}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"name":"Acceptance Test - TestAccClient","client_id":"DoaU3b5c9h7jmsAqx0S9KrGsK151JY1s","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/DoaU3b5c9h7jmsAqx0S9KrGsK151JY1s
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"name":"Acceptance Test - TestAccClient","client_id":"DoaU3b5c9h7jmsAqx0S9KrGsK151JY1s","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
  - id: 4
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance Test - TestAccClient","description":"Test Application Long Description","app_type":"non_interactive","logo_uri":"https://example.com/logoUri","is_first_party":true,"is_token_endpoint_ip_header_trusted":true,"oidc_conformant":true,"callbacks":["https://example.com/callback"],"allowed_origins":["https://example.com"],"web_origins":["https://example.com"],"allowed_clients":["https://allowed.example.com"],"allowed_logout_urls":["https://example.com"],"sso":false,"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","http://auth0.com/oauth/grant-type/password-realm","implicit","password","refresh_token"],"cross_origin_loc":"https://example.com/cross-origin-loc","custom_login_page_on":true,"custom_login_page":"test","form_template":"test","token_endpoint_auth_method":"client_secret_post","client_metadata":{"foo":"zoo"},"initiate_login_uri":"https://example.com/login","organization_usage":"deny","organization_require_behavior":"no_prompt"}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/DoaU3b5c9h7jmsAqx0S9KrGsK151JY1s
      method: PATCH
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"name":"Acceptance Test - TestAccClient","description":"Test Application Long Description","client_id":"DoaU3b5c9h7jmsAqx0S9KrGsK151JY1s","client_secret":"[REDACTED]","app_type":"non_interactive","log[...]
[...]
  - id: 8
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance Test - TestAccClient","description":"","app_type":"non_interactive","logo_uri":"https://another-example.com/logoUri","is_first_party":true,"is_token_endpoint_ip_header_trusted":true,"oidc_conformant":true,"callbacks":[],"allowed_origins":[],"web_origins":[],"allowed_clients":[],"allowed_logout_urls":[],"sso":true,"sso_disabled":tru[...]
[...]
