---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/prompts/login/custom-text/en
        method: PUT
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 154.318375ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"login":{"alertListTitle":"Alerts","buttonText":"Continue","emailPlaceholder":"Email address","title":"Welcome to ${companyName}"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/prompts/login/custom-text/en
        method: PUT
      response:
        body: '{"login":{"alertListTitle":"Alerts","buttonText":"Continue","emailPlaceholder":"Email address","title":"Welcome to ${companyName}"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 170.454667ms
[...]
