---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"TestAccEventStream-my-eventbridge","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"destination":{"type":"eventbridge","configuration":{"aws_account_id":"242849305777","aws_region":"us-east-1"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams
        method: POST
      response:
        body: '{"id":"est_jmj7QpymGFqmysiCpWAcZe","status":"enabled","name":"TestAccEventStream-my-eventbridge","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2026-01-16T08:50:33.955Z","updated_at":"2026-01-16T08:50:33.955Z","destination":{"type":"eventbridge","configuration":{"aws_region":"us-east-1","aws_account_id":"242849305777","aws_partner_event_source":"aws.partner/auth0.com/terraform-provider-auth0-dev-fbedbd06-5747-42cc-afde-016050660582/auth0.events"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 928.071167ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams/est_jmj7QpymGFqmysiCpWAcZe
        method: GET
      response:
        body: '{"id":"est_jmj7QpymGFqmysiCpWAcZe","status":"enabled","name":"TestAccEventStream-my-eventbridge","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2026-01-16T08:50:33.955Z","updated_at":"2026-01-16T08:50:33.955Z","destination":{"type":"eventbridge","configuration":{"aws_region":"us-east-1","aws_account_id":"242849305777","aws_partner_event_source":"aws.partner/auth0.com/terraform-provider-auth0-dev-fbedbd06-5747-42cc-afde-016050660582/auth0.events"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 523.022125ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"TestAccEventStream-my-webhook","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"destination":{"type":"webhook","configuration":{"webhook_authorization":{"method":"bearer","token":"123456789"},"webhook_endpoint":"https://eof28wtn4v4506o.m.pipedream.net"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams
        method: POST
      response:
        body: '{"id":"est_bSyCiCTw7GZytCg35xfTyp","status":"enabled","name":"TestAccEventStream-my-webhook","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2026-01-16T08:50:41.432Z","updated_at":"2026-01-16T08:50:41.432Z","destination":{"type":"webhook","configuration":{"webhook_endpoint":"https://eof28wtn4v4506o.m.pipedream.net","webhook_authorization":{"method":"bearer"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 474.17825ms
[...]
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams/est_bSyCiCTw7GZytCg35xfTyp
        method: GET
      response:
        body: '{"id":"est_bSyCiCTw7GZytCg35xfTyp","status":"enabled","name":"TestAccEventStream-my-webhook","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2026-01-16T08:50:41.432Z","updated_at":"2026-01-16T08:50:41.432Z","destination":{"type":"webhook","configuration":{"webhook_endpoint":"https://eof28wtn4v4506o.m.pipedream.net","webhook_authorization":{"method":"bearer"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 493.80325ms
[...]
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"TestAccEventStream-my-webhook-updated","subscriptions":[{"event_type":"user.updated"}],"destination":{"type":"webhook","configuration":{"webhook_authorization":{"method":"basic","password":"securepass","username":"admin"},"webhook_endpoint":"https://webhook.site/updated-endpoint"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams/est_bSyCiCTw7GZytCg35xfTyp
        method: PATCH
      response:
        body: '{"id":"est_bSyCiCTw7GZytCg35xfTyp","status":"enabled","name":"TestAccEventStream-my-webhook-updated","subscriptions":[{"event_type":"user.updated"}],"created_at":"2026-01-16T08:50:41.432Z","updated_at":"2026-01-16T08:50:44.797Z","destination":{"type":"webhook","configuration":{"webhook_endpoint":"https://webhook.site/updated-endpoint","webhook_authorization":{"method":"basic","username":"admin"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 449.834792ms
[...]
