---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Directory-SyncGroups-TestAccDirectorySynchronizedGroupsMetadata","display_name":"Acceptance-Test-Directory-SyncGroups-TestAccDirectorySynchronizedGroupsMetadata","strategy":"google-apps","is_domain_connection":false,"show_as_button":false,"options":{"client_id":"","client_secret":"","domain":"example.com","tenant_domain":"example.com","ext_profile":true,"ext_groups":true,"api_enable_users":true,"api_enable_groups":true,"set_user_root_attributes":"on_first_login","map_user_id_to_id":true,"domain_aliases":["api.example.com","example.com"],"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_vW4Wz5jV3mK2e2e4","options":{"client_id":"","client_secret":"","domain":"example.com","tenant_domain":"example.com","ext_profile":true,"ext_groups":true,"api_enable_users":true,"api_enable_groups":true,"set_user_root_attributes":"on_first_login","map_user_id_to_id":true,"domain_aliases":["api.example.com","example.com"],"upstream_params":{"screen_name":{"alias":"login_hint"}},"email":true,"profile":true,"scope":["email","profile"],"handle_login_from_social":true},"strategy":"google-apps","name":"Acceptance-Test-Directory-SyncGroups-TestAccDirectorySynchronizedGroupsMetadata","provisioning_ticket_url":"https://login.us.auth0.com/terraform-provider-auth0-dev/p/google-apps/mgSpH2Vrd4spOKEn3c2kn7jgd1wMkOZR","is_domain_connection":false,"show_as_button":false,"authentication":{"active":true},"connected_accounts":{"active":false},"display_name":"Acceptance-Test-Directory-SyncGroups-TestAccDirectorySynchronizedGroupsMetadata","enabled_clients":[],"realms":["Acceptance-Test-Directory-SyncGroups-TestAccDirectorySynchronizedGroupsMetadata"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 525.882375ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_vW4Wz5jV3mK2e2e4
        method: GET
      response:
        body: '{"id":"con_vW4Wz5jV3mK2e2e4","options":{"email":true,"scope":["email","profile"],"domain":"example.com","profile":true,"client_id":"","ext_groups":true,"ext_profile":true,"client_secret":"","tenant_domain":"example.com","domain_aliases":["api.example.com","example.com"],"upstream_params":{"screen_name":{"alias":"login_hint"}},"api_enable_users":true,"api_enable_groups":true,"map_user_id_to_id":true,"handle_login_from_social":true,"set_user_root_attributes":"on_first_login"},"strategy":"google-apps","name":"Acceptance-Test-Directory-SyncGroups-TestAccDirectorySynchronizedGroupsMetadata","provisioning_ticket_url":"https://login.us.auth0.com/terraform-provider-auth0-dev/p/google-apps/mgSpH2Vrd4spOKEn3c2kn7jgd1wMkOZR","is_domain_connection":false,"show_as_button":false,"authentication":{"active":true},"connected_accounts":{"active":false},"display_name":"Acceptance-Test-Directory-SyncGroups-TestAccDirectorySynchronizedGroupsMetadata","realms":["Acceptance-Test-Directory-SyncGroups-TestAccDirectorySynchronizedGroupsMetadata"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 350.66425ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"synchronize_groups":"selected"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_vW4Wz5jV3mK2e2e4/directory-provisioning
        method: POST
      response:
        body: '{"connection_id":"con_vW4Wz5jV3mK2e2e4","connection_name":"Acceptance-Test-Directory-SyncGroups-TestAccDirectorySynchronizedGroupsMetadata","strategy":"google-apps","mapping":[{"idp":"id","auth0":"app_metadata.external_id"},{"idp":"primaryEmail","auth0":"email"},{"idp":"primaryEmail","auth0":"primaryEmail"},{"idp":"name.fullName","auth0":"name"},{"idp":"name.givenName","auth0":"given_name"},{"idp":"name.familyName","auth0":"family_name"},{"idp":"isAdmin","auth0":"isAdmin"},{"idp":"isAdmin","auth0":"is_admin"},{"idp":"isDelegatedAdmin","auth0":"isDelegatedAdmin"},{"idp":"agreedToTerms","auth0":"agreedToTerms"},{"idp":"agreedToTerms","auth0":"tou_accepted"},{"idp":"suspended","auth0":"susp[...]
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"groups":[{"id":"group1abc","name":"Engineering","email":"engineering@example.com","direct_members_count":7},{"id":"group2def"}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_vW4Wz5jV3mK2e2e4/directory-provisioning/synchronized-groups
        method: PUT
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 387.846083ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_vW4Wz5jV3mK2e2e4/directory-provisioning/synchronized-groups?take=50
        method: GET
      response:
        body: '{"groups":[{"id":"group1abc","name":"Engineering","email":"engineering@example.com","direct_members_count":7},{"id":"group2def"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 359.085875ms
[...]
    - id: 22
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"groups":[{"id":"group1abc","name":"","email":"","direct_members_count":0}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_vW4Wz5jV3mK2e2e4/directory-provisioning/synchronized-groups
        method: POST
      response:
        body: '{"statusCode":400,"error":"Bad Request","message":"Payload validation error: ''Object didn''t pass validation for format email: '' on property groups[0].email (Google Workspace Directory group email).","errorCode":"invalid_body"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 328.026583ms
[...]
    - id: 38
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_vW4Wz5jV3mK2e2e4
        method: DELETE
      response:
        body: '{"deleted_at":"2026-08-13T12:00:13.041Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 353.346625ms
