---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_xxxxxxxxxxxxxxxx
        method: GET
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"The connection does not exist","errorCode":"inexistent_connection"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 489.277708ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Connection-TestAccDataSourceConnection","strategy":"auth0"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_U8mDnLnF5ozanInI","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"authentication_methods":{"password":{"enabled":true},"passkey":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccDataSourceConnection","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccDataSourceConnection"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 485.926083ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_U8mDnLnF5ozanInI
        method: GET
      response:
        body: '{"id":"con_U8mDnLnF5ozanInI","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"strategy_version":2,"authentication_methods":{"passkey":{"enabled":false},"password":{"enabled":true}},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccDataSourceConnection","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccDataSourceConnection"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 388.365ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - TestAccDataSourceConnection","app_type":"non_interactive","token_endpoint_auth_method":"client_secret_post","oidc_logout":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - TestAccDataSourceConnection","client_id":"19D5ubkqXpHD9QC6ye2dU7dzDxyjlE7D","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000},"oidc_backchannel_logout":{},"oidc_logout":{"backchannel_logout_initiators":{"mode":"custom","selected_initiators":["rp-logout","idp-logout"]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 630.380917ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/19D5ubkqXpHD9QC6ye2dU7dzDxyjlE7D
        method: GET
      response:
        body: '{"name":"Acceptance Test - TestAccDataSourceConnection","client_id":"19D5ubkqXpHD9QC6ye2dU7dzDxyjlE7D","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000},"oidc_backchannel_logout":{},"oidc_logout":{"backchannel_logout_initiators":{"mode":"custom","selected_initiators":["rp-logout","idp-logout"]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 440.747375ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"connections":[{"id":"con_U8mDnLnF5ozanInI","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"strategy_version":2,"authentication_methods":{"passkey":{"enabled":false},"password":{"enabled":true}},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccDataSourceConnection","is_domain_connection":false,"realms":["Acceptance-Test-Connection-TestAccDataSourceConnection"],"enabled_clients":["19D5ubkqXpHD9QC6ye2dU7dzDxyjlE7D"]},{"id":"con_1UIbZoO6NXBz5Byh","options":{"type":"back_channel","issuer":"https://example.okta.com","jwks_uri":"https://example.okta.com/oauth2/v1/keys","client_id":"1234567","attribute_map":{"mapping_mode":"basic_profile"},"client_secret":"1234567","schema_version":"oidc-V4","token_endpoint":"https://example.okta.com/oauth2/v1/token","userinfo_endpoint":null,"connection_settings":{"pkce":"auto"},"authorization_endpoint":"https://example.okta.com/oauth2/v1/authorize"},"strategy":"okta","name":"Acceptance-Test-Enterprise-Connection-testaccorganizationconnection","is_domain_connection":false,"show_as_button":false,"display_name":"testaccorganizationconnection","realms":["Acceptance-Test-Enterprise-Connection-testaccorganizationconnection"],"enabled_clients":["JYE53yAO8J2enpkewUMxoo4LZe4r4mB0","mJ4H8mBMeboyLIEXmV8PyWkjlDW2gym1","kfmLFsrSXjozNns72iTdhHKwb0rUHZxJ","19D5ubkqXpHD9QC6ye2dU7dzDxyjlE7D","qsH163u8AoZy8z1o6nTV3TgiZUtSfwS1","yw7HonxAl9A6tkILSUEy1mfjQBhqAxld","ddT9G458CwFyq6gqBaKcLuazBhs2M5Op"]},{"id":"con_qGfQLHT8pZxc1Pak","options":{"type":"back_channel","issuer":"https://example.okta.com","jwks_uri":"https://example.okta.com/oauth2/v1/keys","client_id":"1234567","attribute_map":{"mapping_mode":"basic_profile"},"client_secret":"1234567","schema_version":"oidc-V4","token_endpoint":"https://example.okta.com/oauth2/v1/token","userinfo_endpoint":null,"connection_settings":{"pkce":"auto"},"authorization_endpoint":"https://example.okta.com/oauth2/v1/authorize"},"strategy":"okta","name":"Acceptance-Test-SCIM-Connection-TestAccDataSCIMConfiguration","is_domain_connection":false,"show_as_button":false,"display_name":"Acceptance-Test-SCIM-TestAccDataSCIMConfiguration","realms":["Acceptance-Test-SCIM-Connection-TestAccDataSCIMConfiguration"],"enabled_clients":["JYE53yAO8J2enpkewUMxoo4LZe4r4mB0","mJ4H8mBMeboyLIEXmV8PyWkjlDW2gym1","kfmLFsrSXjozNns72iTdhHKwb0rUHZxJ","19D5ubkqXpHD9QC6ye2dU7dzDxyjlE7D","qsH163u8AoZy8z1o6nTV3TgiZUtSfwS1","yw7HonxAl9A6tkILSUEy1mfjQBhqAxld","ddT9G458CwFyq6gqBaKcLuazBhs2M5Op"]},{"id":"con_OS2XtCL9M7i8jant","options":{"mfa":{"active":true,"return_enroll_settings":true},"attributes":{"email":{"signup":{"status":"required","verification":{"active":true}},"identifier":{"active":true},"profile_required":true,"verification_method":"link"}},"import_mode":false,"configuration":{},"customScripts":{"login":"function login(email, password, callback) {\n  // This script should authenticate a user against the credentials stored in\n  // your database.\n  // It is executed when a user attempts to log in or immediately after signing\n  // up (as a verification that the user was successfully signed up).\n  //\n  // Everything returned by this script will be set as part of the user profile\n  // and will be visible by any of the tenant admins. Avoid adding attributes\n  // with values such as passwords, [...]
[...]
    - id: 26
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_U8mDnLnF5ozanInI
        method: DELETE
      response:
        body: '{"deleted_at":"2025-04-11T12:42:49.434Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 383.466709ms
