---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"test-module-testaccactionmoduleactionsdatasource","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules
        method: POST
      response:
        body: '{"id":"4ae032c0-a617-407a-86d4-465edd5749c7","name":"test-module-testaccactionmoduleactionsdatasource","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[],"all_changes_published":false,"actions_using_module_total":0,"created_at":"2026-05-29T11:28:30.674714Z","updated_at":"2026-05-29T11:28:30.674714Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 326.504291ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/4ae032c0-a617-407a-86d4-465edd5749c7/versions
        method: POST
      response:
        body: '{"id":"ab8176c4-25bf-4e65-810e-c448497f6bcc","module_id":"4ae032c0-a617-407a-86d4-465edd5749c7","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","secrets":[],"dependencies":[],"created_at":"2026-05-29T11:28:31.043837Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 396.170458ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/4ae032c0-a617-407a-86d4-465edd5749c7
        method: GET
      response:
        body: '{"id":"4ae032c0-a617-407a-86d4-465edd5749c7","name":"test-module-testaccactionmoduleactionsdatasource","code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[],"all_changes_published":true,"actions_using_module_total":0,"created_at":"2026-05-29T11:28:30.674714Z","updated_at":"2026-05-29T11:28:30.674714Z","latest_version":{"id":"ab8176c4-25bf-4e65-810e-c448497f6bcc","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","dependencies":[],"secrets":[]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 311.55475ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/4ae032c0-a617-407a-86d4-465edd5749c7/versions?page=0&per_page=50
        method: GET
      response:
        body: '{"versions":[{"id":"ab8176c4-25bf-4e65-810e-c448497f6bcc","module_id":"4ae032c0-a617-407a-86d4-465edd5749c7","version_number":1,"code":"module.exports = {\n\tgreet: function(name) {\n\t\treturn \"Hello, \" + name + \"!\";\n\t}\n};\n","secrets":[],"dependencies":[],"created_at":"2026-05-29T11:28:31.043837Z"}],"total":1,"page":0,"per_page":50}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 346.570833ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccActionModuleActionsDataSource","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"const myModule = require('my-module');\nexports.onExecutePostLogin = async (event, api) =\u003e {\n\tconsole.log(myModule.greet(event.user.name));\n};\n","modules":[{"module_id":"4ae032c0-a617-407a-86d4-465edd5749c7","module_version_id":"ab8176c4-25bf-4e65-810e-c448497f6bcc"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"aeb5f827-4f8e-434e-8a93-c1f4e91081a6","name":"Test Action TestAccActionModuleActionsDataSource","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T11:28:32.723270871Z","updated_at":"2026-05-29T11:28:32.729132617Z","code":"const myModule = require(''my-module'');\nexports.onExecutePostLogin = async (event, api) => {\n\tconsole.log(myModule.greet(event.user.name));\n};\n","dependencies":[],"runtime":"node22","status":"pending","secrets":[],"modules":[{"module_id":"4ae032c0-a617-407a-86d4-465edd5749c7","module_name":"test-module-testaccactionmoduleactionsdatasource","module_version_id":"ab8176c4-25bf-4e65-810e-c448497f6bcc","module_version_number":1}],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 375.962625ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/aeb5f827-4f8e-434e-8a93-c1f4e91081a6
        method: GET
      response:
        body: '{"id":"aeb5f827-4f8e-434e-8a93-c1f4e91081a6","name":"Test Action TestAccActionModuleActionsDataSource","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T11:28:32.723270871Z","updated_at":"2026-05-29T11:28:32.729132617Z","code":"const myModule = require(''my-module'');\nexports.onExecutePostLogin = async (event, api) => {\n\tconsole.log(myModule.greet(event.user.name));\n};\n","dependencies":[],"runtime":"node22","status":"built","secrets":[],"modules":[{"module_id":"4ae032c0-a617-407a-86d4-465edd5749c7","module_name":"test-module-testaccactionmoduleactionsdatasource","module_version_id":"ab8176c4-25bf-4e65-810e-c448497f6bcc","module_version_number":1}],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 316.539958ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/aeb5f827-4f8e-434e-8a93-c1f4e91081a6/deploy
        method: POST
      response:
        body: '{"code":"const myModule = require(''my-module'');\nexports.onExecutePostLogin = async (event, api) => {\n\tconsole.log(myModule.greet(event.user.name));\n};\n","dependencies":[],"id":"e2d0fbe0-f7fe-423b-93ad-6350144c4f3c","deployed":false,"number":1,"secrets":[],"modules":[{"module_id":"4ae032c0-a617-407a-86d4-465edd5749c7","module_name":"test-module-testaccactionmoduleactionsdatasource","module_version_id":"ab8176c4-25bf-4e65-810e-c448497f6bcc","module_version_number":1}],"status":"built","created_at":"2026-05-29T11:28:33.413973202Z","updated_at":"2026-05-29T11:28:33.413973202Z","runtime":"node22","supported_triggers":[{"id":"post-login","version":"v3"}],"action":{"id":"aeb5f827-4f8e-434e-8a93-c1f4e91081a6","name":"Test Action TestAccActionModuleActionsDataSource","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T11:28:32.723270871Z","updated_at":"2026-05-29T11:28:32.723270871Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 319.991167ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/aeb5f827-4f8e-434e-8a93-c1f4e91081a6
        method: GET
      response:
        body: '{"id":"aeb5f827-4f8e-434e-8a93-c1f4e91081a6","name":"Test Action TestAccActionModuleActionsDataSource","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2026-05-29T11:28:32.723270871Z","updated_at":"2026-05-29T11:28:32.729132617Z","code":"const myModule = require(''my-module'');\nexports.onExecutePostLogin = async (event, api) => {\n\tconsole.log(myModule.greet(event.user.name));\n};\n","dependencies":[],"runtime":"node22","status":"built","secrets":[],"modules":[{"module_id":"4ae032c0-a617-407a-86d4-465edd5749c7","module_name":"test-module-testaccactionmoduleactionsdatasource","module_version_id":"ab8176c4-25bf-4e65-810e-c448497f6bcc","module_version_number":1}],"current_version":{"id":"e2d0fbe0-f7fe-423b-93ad-6350144c4f3c","code":"const myModule = require(''my-module'');\nexports.onExecutePostLogin = async (event, api) => {\n\tconsole.log(myModule.greet(event.user.name));\n};\n","runtime":"node22","status":"BUILT","number":1,"build_time":"2026-05-29T11:28:33.540734838Z","created_at":"2026-05-29T11:28:33.413973202Z","updated_at":"2026-05-29T11:28:33.541326390Z"},"deployed_version":{"code":"const myModule = require(''my-module'');\nexports.onExecutePostLogin = async (event, api) => {\n\tconsole.log(myModule.greet(event.user.name));\n};\n","dependencies":[],"id":"e2d0fbe0-f7fe-423b-93ad-6350144c4f3c","deployed":true,"number":1,"built_at":"2026-05-29T11:28:33.540734838Z","secrets":[],"modules":[{"module_id":"4ae032c0-a617-407a-86d4-465edd5749c7","module_name":"test-module-testaccactionmoduleactionsdatasource","module_version_id":"ab8176c4-25bf-4e65-810e-c448497f6bcc","module_version_number":1}],"status":"built","created_at":"2026-05-29T11:28:33.413973202Z","updated_at":"2026-05-29T11:28:33.541326390Z","runtime":"node22","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 298.601458ms
[...]
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/modules/4ae032c0-a617-407a-86d4-465edd5749c7/actions?page=0&per_page=50
        method: GET
      response:
        body: '{"actions":[{"action_id":"aeb5f827-4f8e-434e-8a93-c1f4e91081a6","action_name":"Test Action TestAccActionModuleActionsDataSource","module_version_id":"ab8176c4-25bf-4e65-810e-c448497f6bcc","module_version_number":1}],"total":1,"per_page":50}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 341.334ms
[...]
    - id: 23
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?page=0&per_page=100
        method: GET
      response:
        body: '{"bindings":[],"per_page":100}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 335.37175ms
[...]
