---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-form-TestAccForm","languages":{"primary":"en"},"messages":{},"ending":{"resume_flow":true}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/forms
        method: POST
      response:
        body: '{"id":"ap_4Sdqp7SJyC2d2SJ5ACAXYg","name":"test-form-TestAccForm","languages":{"primary":"en"},"ending":{"resume_flow":true},"created_at":"2024-09-30T10:30:03.587Z","updated_at":"2024-09-30T10:30:03.587Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 253.5465ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/forms/ap_4Sdqp7SJyC2d2SJ5ACAXYg
        method: GET
      response:
        body: '{"id":"ap_4Sdqp7SJyC2d2SJ5ACAXYg","name":"test-form-TestAccForm","languages":{"primary":"en"},"ending":{"resume_flow":true},"created_at":"2024-09-30T10:30:03.587Z","updated_at":"2024-09-30T10:30:03.587Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 383.491ms
[...]
