---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance Test - Mobile - TestAccClientMobile","app_type":"native","mobile":{"android":{"app_package_name":"com.example","sha256_cert_fingerprints":["DE:AD:BE:EF"]},"ios":{"app_bundle_identifier":"com.my.bundle.id","team_id":"9JA89QQLNQ"}},"native_social_login":{"apple":{"enabled":true},"facebook":{"enabled":false}}}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"name":"Acceptance Test - Mobile - TestAccClientMobile","client_id":"eSGAUdxQ2qz9ikZKcQ1IeThhIqYTxboM","client_secret":"[REDACTED]","app_type":"native","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"mobile":{"android":{"app_package_name":"com.example","sha256_cert_fingerprints":["DE:AD:BE:EF"]},"ios":{"app_bundle_identifier":"com.my.bundle.id","team_id":"9JA89QQLNQ"}},"native_social_login":{"apple":{"enabled":true},"facebook":{"enabled":false}},"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/eSGAUdxQ2qz9ikZKcQ1IeThhIqYTxboM
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"name":"Acceptance Test - Mobile - TestAccClientMobile","client[...]
[...]
  - id: 4
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance Test - Mobile - TestAccClientMobile","app_type":"native","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"lifetime_in_seconds":36000},"sso":false,"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"mobile":{"android":{"app_package_name":"com.example"},"ios":{"app_bundle_identifier":"com.my.auth0.bundle","team_id":"1111111111"}},"native_social_login":{"apple":{"enabled":false},"facebook":{"enabled":true}}}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-au[...]
[...]
