---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"testaccdatasourceuserorganizations@auth0.com","password":"MyPass123$"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"user_id":"auth0|6a7db08e1e2efab48811c5f2","created_at":"2026-08-13T11:54:54.332Z","email":"testaccdatasourceuserorganizations@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"6a7db08e1e2efab48811c5f2","provider":"auth0","isSocial":false}],"name":"testaccdatasourceuserorganizations@auth0.com","nickname":"testaccdatasourceuserorganizations","picture":"https://s.gravatar.com/avatar/dee3a8ddc49cdb6462cc83cc26e61816?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2026-08-13T11:54:54.333Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 572.959875ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C6a7db08e1e2efab48811c5f2
        method: GET
      response:
        body: '{"user_id":"auth0|6a7db08e1e2efab48811c5f2","created_at":"2026-08-13T11:54:54.332Z","email":"testaccdatasourceuserorganizations@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"6a7db08e1e2efab48811c5f2","provider":"auth0","isSocial":false}],"name":"testaccdatasourceuserorganizations@auth0.com","nickname":"testaccdatasourceuserorganizations","picture":"https://s.gravatar.com/avatar/dee3a8ddc49cdb6462cc83cc26e61816?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2026-08-13T11:54:54.333Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 307.817416ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-org-testaccdatasourceuserorganizations","display_name":"Test Org testaccdatasourceuserorganizations","is_app_entitlement_active":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_D3pK7Pd1YoTGLpS8","display_name":"Test Org testaccdatasourceuserorganizations","name":"test-org-testaccdatasourceuserorganizations","third_party_client_access":"block","is_app_entitlement_active":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 387.374042ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_D3pK7Pd1YoTGLpS8
        method: GET
      response:
        body: '{"id":"org_D3pK7Pd1YoTGLpS8","name":"test-org-testaccdatasourceuserorganizations","display_name":"Test Org testaccdatasourceuserorganizations","third_party_client_access":"block","is_app_entitlement_active":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 295.2525ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"members":["auth0|6a7db08e1e2efab48811c5f2"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_D3pK7Pd1YoTGLpS8/members
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 315.481875ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_D3pK7Pd1YoTGLpS8/members?fields=user_id&include_fields=true&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[{"user_id":"auth0|6a7db08e1e2efab48811c5f2"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 378.519458ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C6a7db08e1e2efab48811c5f2/organizations?include_totals=true&page=0&per_page=50
        method: GET
      response:
        body: '{"organizations":[{"id":"org_D3pK7Pd1YoTGLpS8","display_name":"Test Org testaccdatasourceuserorganizations","name":"test-org-testaccdatasourceuserorganizations","third_party_client_access":"block","is_app_entitlement_active":true}],"start":0,"limit":50,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 334.411125ms
[...]
