---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"testacccustomdomain.auth.terraform-provider-auth0.com","type":"self_managed_certs"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_4NComvppXPHyHQoj","domain":"testacccustomdomain.auth.terraform-provider-auth0.com","primary":true,"status":"pending_verification","type":"self_managed_certs","verification":{"methods":[{"name":"txt","record":"14873719-a639-43d0-9fe9-773c2b956f2a","domain":"_cf-custom-hostname.testacccustomdomain.auth.terraform-provider-auth0.com"}]},"custom_client_ip_header":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_4NComvppXPHyHQoj
        method: GET
      response:
        body: '{"custom_domain_id":"cd_4NComvppXPHyHQoj","domain":"testacccustomdomain.auth.terraform-provider-auth0.com","primary":true,"status":"pending_verification","type":"self_managed_certs","verification":{"methods":[{"name":"txt","record":"14873719-a639-43d0-9fe9-773c2b956f2a","domain":"_cf-custom-hostname.testacccustomdomain.auth.terraform-provider-auth0.com"}]},"custom_client_ip_header":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
[...]
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"testacccustomdomain.auth.terraform-provider-auth0.com","type":"auth0_managed_certs"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_5ZpinEMdthgSAg3Q","domain":"testacccustomdomain.auth.terraform-provider-auth0.com","primary":true,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"cname","record":"terraform-provider-auth0-dev-cd-5zpinemdthgsag3q.edge.tenants.eu.auth0.com"}]},"tls_policy":"recommended"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1ms
    - id: 14
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_5ZpinEMdthgSAg3Q
        method: GET
      response:
        body: '{"custom_domain_id":"cd_5ZpinEMdthgSAg3Q","domain":"testacccustomdomain.auth.terraform-provider-auth0.com","primary":true,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"cname","record":"terraform-provider-auth0-dev-cd-5zpinemdthgsag3q.edge.tenants.eu.auth0.com"}]},"tls_policy":"recommended"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
[...]
