---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-OIDCMeta-Okta-TestAccConnectionOIDCMetadataOnOkta","strategy":"okta","options":{"client_id":"123456","client_secret":"123456","domain":"oidcmeta.okta.com","authorization_endpoint":"https://oidcmeta.okta.com/oauth2/v1/authorize","issuer":"https://oidcmeta.okta.com","jwks_uri":"https://oidcmeta.okta.com/oauth2/v1/keys","userinfo_endpoint":"https://oidcmeta.okta.com/oauth2/v1/userinfo","token_endpoint":"https://oidcmeta.okta.com/oauth2/v1/token","scope":"email openid profile","oidc_metadata":{"authorization_endpoint":"https://oidcmeta.okta.com/oauth2/v1/authorize","id_token_signing_alg_values_supported":["RS256"],"issuer":"https://oidcmeta.okta.com","jwks_uri":"https://oidcmeta.okta.com/oauth2/v1/keys","response_types_supported":["code"],"subject_types_supported":["public"],"token_endpoint":"https://oidcmeta.okta.com/oauth2/v1/token"},"type":"back_channel"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_dmYBawiBC2FVJAK1","options":{"client_id":"123456","client_secret":"123456","domain":"oidcmeta.okta.com","authorization_endpoint":"https://oidcmeta.okta.com/oauth2/v1/authorize","issuer":"https://oidcmeta.okta.com","jwks_uri":"https://oidcmeta.okta.com/oauth2/v1/keys","userinfo_endpoint":"https://oidcmeta.okta.com/oauth2/v1/userinfo","token_endpoint":"https://oidcmeta.okta.com/oauth2/v1/token","scope":"email openid profile","oidc_metadata":{"authorization_endpoint":"https://oidcmeta.okta.com/oauth2/v1/authorize","id_token_signing_alg_values_supported":["RS256"],"issuer":"https://oidcmeta.okta.com","jwks_uri":"https://oidcmeta.okta.com/oauth2/v1/keys","response_types_supported":["code"],"subject_types_supported":["public"],"token_endpoint":"https://oidcmeta.okta.com/oauth2/v1/token","claims_parameter_supported":false,"request_parameter_supported":false,"request_uri_parameter_supported":false,"require_request_uri_registration":false},"type":"back_channel","schema_version":"oidc-V4","attribute_map":{"mapping_mode":"basic_profile"},"connection_settings":{"pkce":"auto"}},"strategy":"okta","name":"Acceptance-Test-OIDCMeta-Okta-TestAccConnectionOIDCMetadataOnOkta","is_domain_connection":false,"show_as_button":false,"authentication":{"active":true},"connected_accounts":{"active":false},"display_name":"Acceptance-Test-OIDCMeta-Okta-TestAccConnectionOIDCMetadataOnOkta","enabled_clients":[],"realms":["Acceptance-Test-OIDCMeta-Okta-TestAccConnectionOIDCMetadataOnOkta"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 824.989917ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_dmYBawiBC2FVJAK1
        method: GET
      response:
        body: '{"id":"con_dmYBawiBC2FVJAK1","options":{"type":"back_channel","scope":"email openid profile","domain":"oidcmeta.okta.com","issuer":"https://oidcmeta.okta.com","jwks_uri":"https://oidcmeta.okta.com/oauth2/v1/keys"[...]
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_dmYBawiBC2FVJAK1
        method: DELETE
      response:
        body: '{"deleted_at":"2026-08-17T13:58:26.337Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 552.085375ms
