---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Mixed Token Exchange - TestAccClientMixedTokenExchangeProfiles","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccClientMixedTokenExchangeProfiles"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"69e60fab86fab2096bff9f25","name":"Acceptance Test - Mixed Token Exchange - TestAccClientMixedTokenExchangeProfiles","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccClientMixedTokenExchangeProfiles","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 414.401708ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/69e60fab86fab2096bff9f25
        method: GET
      response:
        body: '{"id":"69e60fab86fab2096bff9f25","name":"Acceptance Test - Mixed Token Exchange - TestAccClientMixedTokenExchangeProfiles","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccClientMixedTokenExchangeProfiles","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 372.266ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Mixed Token Exchange - TestAccClientMixedTokenExchangeProfiles","app_type":"resource_server","oidc_conformant":true,"token_exchange":{"allow_any_profile_of_type":["custom_authentication","on_behalf_of_token_exchange"]},"resource_server_identifier":"https://uat.api.terraform-provider-auth0.com/TestAccClientMixedTokenExchangeProfiles"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - Mixed Token Exchange - TestAccClientMixedTokenExchangeProfiles","client_id":"r6Pn7alWVKmUrEfHYn3Tb7MKhsMoCZIy","client_secret":"[REDACTED]","app_type":"resource_server","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":true,"jwt_configuration":{"secret_encoded":false,"alg":"RS256"},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":[],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"token_exchange":{"allow_any_profile_of_type":["custom_authentication","on_behalf_of_token_exchange"]},"resource_server_identifier":"https://uat.api.terraform-provider-auth0.com/TestAccClientMixedTokenExchangeProfiles"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 604.393709ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/r6Pn7alWVKmUrEfHYn3Tb7MKhsMoCZIy
        method: GET
      response:
        body: '{"name":"Acceptance Test - Mixed Token Exchange - TestAccClientMixedTokenExchangeProfiles","client_id":"r6Pn7alWVKmUrEfHYn3Tb7MKhsMoCZIy","client_secret":"[REDACTED]","app_type":"resource_server","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":true,"jwt_configuration":{"secret_encoded":false,"alg":"RS256"},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":[],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"token_exchange":{"allow_any_profile_of_type":["custom_authentication","on_behalf_of_token_exchange"]},"resource_server_identifier":"https://uat.api.terraform-provider-auth0.com/TestAccClientMixedTokenExchangeProfiles"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 383.771625ms
[...]
