---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance-Test-Twitter-TestAccConnectionTwitter","strategy":"twitter","options":{"client_id":"someClientID","client_secret":"someClientSecret","authorizationURL":null,"tokenURL":null,"set_user_root_attributes":"on_each_login","non_persistent_attrs":null}}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_ybYrfHIpKNl3wJwN","options":{"client_id":"someClientID","client_secret":"someClientSecret","authorizationURL":null,"tokenURL":null,"set_user_root_attributes":"on_each_login","non_persistent_attrs":null},"strategy":"twitter","name":"Acceptance-Test-Twitter-TestAccConnectionTwitter","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Twitter-TestAccConnectionTwitter"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_ybYrfHIpKNl3wJwN
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_ybYrfHIpKNl3wJwN","options":{"tokenURL":null,"client_id":"someClientID","client_secret":"someClientSecret","authorizationURL":null,"non_persistent_attrs":null,"set_user_root_attributes":"on_each_login"},"strategy":"twitter","name":"Acceptance-Test-Twitter-TestAccConnectionTwitter","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Twitter-TestAccConnectionTwitter"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
  - id: 4
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"is_domain_connection":false,"options":{"client_id":"someClientID","client_secret":"someClientSecret","authorizationURL":null,"tokenURL":null,"scope":"basic_profile","set_user_root_attributes":"on_each_login","non_persistent_attrs":null,"pkce_enabled":false}}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_ybYrfHIpKNl3wJwN
      method: PATCH
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_ybYrfHIpKNl3wJwN","options":[...]
