---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-flow-TestAccFlow"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/flows
        method: POST
      response:
        body: '{"id":"af_aj9fK5JBVy9Uo1eSnwCeMS","name":"test-flow-TestAccFlow","created_at":"2024-10-08T05:43:46.716Z","updated_at":"2024-10-08T05:43:46.716Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 362.872708ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/flows/af_aj9fK5JBVy9Uo1eSnwCeMS
        method: GET
      response:
        body: '{"id":"af_aj9fK5JBVy9Uo1eSnwCeMS","name":"test-flow-TestAccFlow","created_at":"2024-10-08T05:43:46.716Z","updated_at":"2024-10-08T05:43:46.716Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 329.766375ms
[...]
