---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"some-org-testaccdatasourceorganizationrolemembers","display_name":"testaccdatasourceorganizationrolemembers"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_qbPN9XRE7AMXWqpj","display_name":"testaccdatasourceorganizationrolemembers","name":"some-org-testaccdatasourceorganizationrolemembers","third_party_client_access":"block","is_app_entitlement_active":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 319.642292ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_qbPN9XRE7AMXWqpj
        method: GET
      response:
        body: '{"id":"org_qbPN9XRE7AMXWqpj","name":"some-org-testaccdatasourceorganizationrolemembers","display_name":"testaccdatasourceorganizationrolemembers","third_party_client_access":"block","is_app_entitlement_active":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 317.481875ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Operator - testaccdatasourceorganizationrolemembers","type":"organization","owner_id":"org_qbPN9XRE7AMXWqpj"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles
        method: POST
      response:
        body: '{"id":"rol_OOlnUJIhq3dby6d8","name":"Test Operator - testaccdatasourceorganizationrolemembers","type":"organization","owner_id":"org_qbPN9XRE7AMXWqpj"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 360.581417ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_OOlnUJIhq3dby6d8
        method: GET
      response:
        body: '{"id":"rol_OOlnUJIhq3dby6d8","name":"Test Operator - testaccdatasourceorganizationrolemembers","description":"","type":"organization","owner_id":"org_qbPN9XRE7AMXWqpj"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 320.093ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_qbPN9XRE7AMXWqpj/roles/rol_OOlnUJIhq3dby6d8/members?include_fields=true&take=50
        method: GET
      response:
        body: '{"members":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 321.948208ms
[...]
