---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"tf-flag-TestAccExperimentFeatureFlag","description":"created by acceptance test","parameters":{"show_feature":{"type":"boolean","value":false,"description":"Whether to show the feature."},"variant_name":{"type":"string","value":"control"}}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/experimentation/feature-flags
        method: POST
      response:
        body: '{"id":"flg_jSS4vi8abVGJz8dGndpUDP","name":"tf-flag-TestAccExperimentFeatureFlag","description":"created by acceptance test","type":"self","status":"draft","parameters":{"show_feature":{"type":"boolean","value":false,"description":"Whether to show the feature."},"variant_name":{"type":"string","value":"control"}},"created_at":"2026-09-25T13:46:45.557Z","updated_at":"2026-09-25T13:46:45.557Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 380.442625ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"test","description":"the test variation","overrides":{"variant_name":"test"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/experimentation/feature-flags/flg_jSS4vi8abVGJz8dGndpUDP/variations
        method: POST
      response:
        body: '{"id":"var_vD4pZwefS5KtDGJcS1iXLh","feature_flag_id":"flg_jSS4vi8abVGJz8dGndpUDP","name":"test","description":"the test variation","overrides":{"variant_name":"test"},"created_at":"2026-09-25T13:46:45.881Z","updated_at":"2026-09-25T13:46:45.881Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 315.066916ms
[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/experimentation/feature-flags/flg_jSS4vi8abVGJz8dGndpUDP
        method: GET
      response:
        body: '{"id":"flg_jSS4vi8abVGJz8dGndpUDP","name":"tf-flag-TestAccExperimentFeatureFlag","description":"created by acceptance test","type":"self","status":"draft","parameters":{"show_feature":{"type":"boolean","value":false,"description":"Whether to show the feature."},"variant_name":{"type":"string","value":"control"}},"created_at":"2026-09-25T13:46:45.557Z","updated_at":"2026-09-25T13:46:45.557Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 272.257833ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/experimentation/feature-flags/flg_jSS4vi8abVGJz8dGndpUDP/variations
        method: GET
      response:
        body: '{"variations":[{"id":"var_vD4pZwefS5KtDGJcS1iXLh","feature_flag_id":"flg_jSS4vi8abVGJz8dGndpUDP","name":"test","description":"the test variation","overrides":{"variant_name":"test"},"created_at":"2026-09-25T13:46:45.881Z","updated_at":"2026-09-25T13:46:45.881Z"},{"id":"var_xcxBeX3YXemBxDBb84JbZp","feature_flag_id":"flg_jSS4vi8abVGJz8dGndpUDP","name":"treatment","overrides":{"show_feature":true,"variant_name":"treatment"},"created_at":"2026-09-25T13:46:46.169Z","updated_at":"2026-09-25T13:46:46.169Z"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 293.35175ms
[...]
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"status":"active"}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/experimentation/feature-flags/flg_jSS4vi8abVGJz8dGndpUDP/status
        method: POST
      response:
        body: '{"id":"flg_jSS4vi8abVGJz8dGndpUDP","name":"tf-flag-TestAccExperimentFeatureFlag","description":"updated by acceptance test","type":"self","status":"active","parameters":{"show_feature":{"type":"boolean","value":false,"description":"Whether to show the feature."},"variant_name":{"type":"string","value":"control"}},"created_at":"2026-09-25T13:46:45.557Z","updated_at":"2026-09-25T13:46:50.488Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 282.652833ms
[...]
