---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/phone/providers
        method: GET
      response:
        body: '{"providers":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 373.463875ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"twilio","disabled":false,"configuration":{"default_from":"+1234567890","sid":"sid1","delivery_methods":["text","voice"]},"credentials":{"auth_token":"auth123"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/phone/providers
        method: POST
      response:
        body: '{"id":"pro_kNbYxancE2Dz1K3MeXfLeQ","tenant":"terraform-provider-auth0-dev","name":"twilio","channel":"phone","disabled":false,"configuration":{"sid":"sid1","default_from":"+1234567890","delivery_methods":["text","voice"]},"created_at":"2025-02-14T05:04:57.379Z","updated_at":"2025-02-14T05:04:57.379Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 364.174666ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/phone/providers/pro_kNbYxancE2Dz1K3MeXfLeQ
        method: GET
      response:
        body: '{"id":"pro_kNbYxancE2Dz1K3MeXfLeQ","tenant":"terraform-provider-auth0-dev","name":"twilio","channel":"phone","disabled":false,"configuration":{"sid":"sid1","default_from":"+1234567890","delivery_methods":["text","voice"]},"created_at":"2025-02-14T05:04:57.379Z","updated_at":"2025-02-14T05:04:57.379Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 360.137125ms
[...]
