---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - testaccrolepermissions","identifier":"https://uat.api.terraform-provider-auth0.com/testaccrolepermissions"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"64af4a2403c3f299c769805f","name":"Acceptance Test - testaccrolepermissions","identifier":"https://uat.api.terraform-provider-auth0.com/testaccrolepermissions","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 104.202542ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/64af4a2403c3f299c769805f
        method: GET
      response:
        body: '{"id":"64af4a2403c3f299c769805f","name":"Acceptance Test - testaccrolepermissions","identifier":"https://uat.api.terraform-provider-auth0.com/testaccrolepermissions","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 99.147583ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/https:%2F%2Fuat.api.terraform-provider-auth0.com%2Ftestaccrolepermissions
        method: GET
      response:
        body: '{"id":"64af4a2403c3f299c769805f","name":"Acceptance Test - testaccrolepermissions","identifier":"https://uat.api.terraform-provider-auth0.com/testaccrolepermissions","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 83.829875ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"scopes":[{"value":"create:foo","description":"Can create Foo"},{"value":"read:foo","description":"Can read Foo"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/https:%2F%2Fuat.api.terraform-provider-auth0.com%2Ftestaccrolepermissions
        method: PATCH
      response:
        body: '{"id":"64af4a2403c3f299c769805f","name":"Acceptance Test - testaccrolepermissions","identifier":"https://uat.api.terraform-provider-auth0.com/testaccrolepermissions","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","scopes":[{"value":"create:foo","description":"Can create Foo"},{"value":"read:foo","description":"Can read Foo"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 92.102834ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - testaccrolepermissions","description":"Acceptance Test Role - testaccrolepermissions"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles
        method: POST
      response:
        body: '{"id":"rol_vlyiBrIb3fupbDEV","name":"Acceptance Test - testaccrolepermissions","description":"Acceptance Test Role - testaccrolepermissions"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 97.900875ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_vlyiBrIb3fupbDEV
        method: GET
      response:
        body: '{"id":"rol_vlyiBrIb3fupbDEV","name":"Acceptance Test - testaccrolepermissions","description":"Acceptance Test Role - testaccrolepermissions"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 117.42975ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"permissions":[{"resource_server_identifier":"https://uat.api.terraform-provider-auth0.com/testaccrolepermissions","permission_name":"read:foo"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_vlyiBrIb3fupbDEV/permissions
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 97.252417ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_vlyiBrIb3fupbDEV/permissions?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"permissions":[{"permission_name":"read:foo","description":"Can read Foo","resource_server_name":"Acceptance Test - testaccrolepermissions","resource_server_identifier":"https://uat.api.terraform-provider-auth0.com/testaccrolepermissions"}],"start":0,"limit":100,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 112.400625ms
[...]
    - id: 86
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_vlyiBrIb3fupbDEV/permissions?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"permissions":[{"permission_name":"read:foo","description":"Can read Foo","resource_server_name":"Acceptance Test - testaccrolepermissions","resource_server_identifier":"https://uat.api.terraform-provider-auth0.com/testaccrolepermissions"}],"start":0,"limit":50,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 100.109792ms
[...]
