---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - testaccuserpermissions","identifier":"https://uat.api.terraform-provider-auth0.com/testaccuserpermissions"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"66e0a245e5d56cfb7a9a50fb","name":"Acceptance Test - testaccuserpermissions","identifier":"https://uat.api.terraform-provider-auth0.com/testaccuserpermissions","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 193.7235ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"authorization_details":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/66e0a245e5d56cfb7a9a50fb
        method: PATCH
      response:
        body: '{"id":"66e0a245e5d56cfb7a9a50fb","name":"Acceptance Test - testaccuserpermissions","identifier":"https://uat.api.terraform-provider-auth0.com/testaccuserpermissions","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 196.84975ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"token_encryption":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/66e0a245e5d56cfb7a9a50fb
        method: PATCH
      response:
        body: '{"id":"66e0a245e5d56cfb7a9a50fb","name":"Acceptance Test - testaccuserpermissions","identifier":"https://uat.api.terraform-provider-auth0.com/testaccuserpermissions","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 163.5735ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"proof_of_possession":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/66e0a245e5d56cfb7a9a50fb
        method: PATCH
      response:
        body: '{"id":"66e0a245e5d56cfb7a9a50fb","name":"Acceptance Test - testaccuserpermissions","identifier":"https://uat.api.terraform-provider-auth0.com/testaccuserpermissions","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 178.140583ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/https:%2F%2Fuat.api.terraform-provider-auth0.com%2Ftestaccuserpermissions
        method: GET
      response:
        body: '{"id":"66e0a245e5d56cfb7a9a50fb","name":"Acceptance Test - testaccuserpermissions","identifier":"https://uat.api.terraform-provider-auth0.com/testaccuserpermissions","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 166.062458ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"scopes":[{"value":"create:foo","description":"Can create Foo"},{"value":"read:foo","description":"Can read Foo"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/https:%2F%2Fuat.api.terraform-provider-auth0.com%2Ftestaccuserpermissions
        method: PATCH
      response:
        body: '{"id":"66e0a245e5d56cfb7a9a50fb","name":"Acceptance Test - testaccuserpermissions","identifier":"https://uat.api.terraform-provider-auth0.com/testaccuserpermissions","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","scopes":[{"value":"create:foo","description":"Can create Foo"},{"value":"read:foo","description":"Can read Foo"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 166.392375ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"user_id":"testaccuserpermissions","connection":"Username-Password-Authentication","email":"testaccuserpermissions@acceptance.test.com","username":"testaccuserpermissions","password":"passpass$12$12"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"created_at":"2024-09-10T19:47:19.028Z","email":"testaccuserpermissions@acceptance.test.com","email_verified":false,"identities":[{"user_id":"testaccuserpermissions","connection":"Username-Password-Authentication","provider":"auth0","isSocial":false}],"name":"testaccuserpermissions@acceptance.test.com","nickname":"testaccuserpermissions","picture":"https://s.gravatar.com/avatar/d97e25d60bb8202f963e535364a40cb1?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2024-09-10T19:47:19.028Z","user_id":"auth0|testaccuserpermissions","username":"testaccuserpermissions"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 423.309958ms
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuserpermissions
        method: GET
      response:
        body: '{"created_at":"2024-09-10T19:47:19.028Z","email":"testaccuserpermissions@acceptance.test.com","email_verified":false,"identities":[{"user_id":"testaccuserpermissions","connection":"Username-Password-Authentication","provider":"auth0","isSocial":false}],"name":"testaccuserpermissions@acceptance.test.com","nickname":"testaccuserpermissions","picture":"https://s.gravatar.com/avatar/d97e25d60bb8202f963e535364a40cb1?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2024-09-10T19:47:19.028Z","user_id":"auth0|testaccuserpermissions","username":"testaccuserpermissions"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 164.548042ms
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"permissions":[{"resource_server_identifier":"https://uat.api.terraform-provider-auth0.com/testaccuserpermissions","permission_name":"read:foo"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuserpermissions/permissions
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 217.149625ms
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuserpermissions/permissions?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"permissions":[{"permission_name":"read:foo","description":"Can read Foo","resource_server_name":"Acceptance Test - testaccuserpermissions","resource_server_identifier":"https://uat.api.terraform-provider-auth0.com/testaccuserpermissions","sources":[{"source_id":"","source_name":"","source_type":"DIRECT"}]}],"start":0,"limit":100,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 166.311417ms
[...]
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuserpermissions/roles?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"roles":[],"start":0,"limit":100,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 193.430292ms
[...]
    - id: 96
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuserpermissions/permissions?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"permissions":[{"permission_name":"read:foo","description":"Can read Foo","resource_server_name":"Acceptance Test - testaccuserpermissions","resource_server_identifier":"https://uat.api.terraform-provider-auth0.com/testaccuserpermissions","sources":[{"source_id":"","source_name":"","source_type":"DIRECT"}]}],"start":0,"limit":50,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 170.548042ms
[...]
