---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance-Test-Connection-TestAccConnectionConfiguration","strategy":"auth0","is_domain_connection":true,"options":{"brute_force_protection":true,"configuration":{"bar":"zzz","foo":"xxx"},"non_persistent_attrs":null}}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_fhZ8AqTux2rt3WgD","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","brute_force_protection":true,"non_persistent_attrs":null,"configuration":{"bar":"2.0$daa3e5be6981b34e0ddb66b8c845a76c$722d4b7f3947d21c406073d81cb96123$3ec959fd69de8cce040f3b4da4f091d0f37c76688cebd3286a3319e4dcc6c02c","foo":"2.0$71f4f55fc787515835d311ec9205c8e0$9407bdfb5d812e0aa8029371a7b309b3$85ae06024cf84bbdb982f289309e6c0dfb3afa6a3bb21c58c7d97bc7dd8dff8b"},"strategy_version":2},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionConfiguration","is_domain_connection":true,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionConfiguration"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_fhZ8AqTux2rt3WgD
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_fhZ8AqTux2rt3WgD","options":{"mfa":{"active":true,"return_enroll_settings":true},"configuration":{"bar":"2.0$daa3e5be6981b34e0ddb66b8c845a76c$722d4b7f3947d21c406073d81cb96123$3ec959fd69de8cce040f3b4da4f091d0f37c76688cebd3286a3319e4dcc6c02c","foo":"2.0$71f4f55fc787515835d311ec9205c8e0$9407bdfb5d812e0aa8029371a7b309b3$85ae06024cf84bbdb982f289309e6c0dfb3afa6a3bb21c58c7d97bc7dd8dff8b"},"passwordPolicy":"good","strategy_version":2,"non_persistent_attrs":null,"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionConfiguration","is_domain_connection":true,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionConfiguration"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
  - id: 4
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"is_domain_connection":true,"options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","enabledDatabaseCustomization":false,"brute_force_protection":true,"import_mode":false,"disable_signup":false,"requires_username":false,"configuration":{"bar":"yyy","baz":"zzz","foo":"xxx"},"non_persistent_attrs":null}}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_fhZ8AqTux2rt3WgD
      method: PATCH
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_fhZ8AqTux2rt3WgD","options":{"mfa":{"active":true,"return_enroll_settings":true},"import_mode":false,"configuration":{"bar":"2.0$4d0bd576d66ce33b2a2ebb316cdd4148$2ccc242025406ca0f710743905f0f4ba$cac76cf51938f8fab6ba03f79c5cda88e1205bfc0b477c5c922d15bf6b705114","baz":"2.0$db4325c26265e77c66bf7826714bebd8$0755ea544521a7caf5e7e2f1b0e6d537$c1a95f3560cea4c819deb4b271f3ec5eac1f24d1c514b54a3ddad9e090bb4ef8","foo":"2.0$7403c8009d61963d4776d3b57d0ffc22$38d890e31e0bc3a1c1a365cd16cbbde4$a808734e905010dacdd2b314dad2dffbd551e06a1552d90adab1a82dd3e213e9"},"disable_signup":false,"passwordPolicy":"good","requires_username":false,"non_persistent_attrs":null,"brute_force_protection":true,"enabledDatabaseCustomization":false},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionConfiguration","is_domain_connection":true,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionConfiguration"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
  - id: 7
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: ""
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_fhZ8AqTux2rt3WgD
      method: DELETE
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"deleted_at":"2022-08-30T09:00:15.311Z"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 202 Accepted
      code: 202
      duration: 1ms
