---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"identifier":"https://uat.api.terraform-provider-auth0.com/TestAccFrameworkResourceServer"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"67905e567a3196602a0e2c34","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccFrameworkResourceServer","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 161.4275ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/67905e567a3196602a0e2c34
        method: GET
      response:
        body: '{"id":"67905e567a3196602a0e2c34","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccFrameworkResourceServer","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 177.242083ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - TestAccFrameworkResourceServer","signing_alg":"RS256","allow_offline_access":true,"token_lifetime":7200,"token_lifetime_for_web":3600,"skip_consent_for_verifiable_first_party_clients":true,"enforce_policies":false}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/67905e567a3196602a0e2c34
        method: PATCH
      response:
        body: '{"id":"67905e567a3196602a0e2c34","name":"Acceptance Test - TestAccFrameworkResourceServer","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccFrameworkResourceServer","allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true,"token_lifetime":7200,"token_lifetime_for_web":3600,"signing_alg":"RS256","enforce_policies":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 161.442459ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"authorization_details":null,"consent_policy":null,"proof_of_possession":null,"token_encryption":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/67905e567a3196602a0e2c34
        method: PATCH
      response:
        body: '{"id":"67905e567a3196602a0e2c34","name":"Acceptance Test - TestAccFrameworkResourceServer","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccFrameworkResourceServer","allow_offline_access":true,"skip_consent_for_verifiable_first_party_clients":true,"token_lifetime":7200,"token_lifetime_for_web":3600,"signing_alg":"RS256","enforce_policies":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 164.013125ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - TestAccFrameworkResourceServer","signing_alg":"RS256","allow_offline_access":false,"token_lifetime":7200,"token_lifetime_for_web":3600,"skip_consent_for_verifiable_first_party_clients":true,"enforce_policies":false,"consent_policy":"transactional-authorization-with-mfa","authorization_details":[{"type":"payment"},{"type":"not-payment"}],"token_encryption":{"format":"compact-nested-jwe","encryption_key":{"name":"encryptkey","alg":"RSA-OAEP-256","pem":"-----BEGIN CERTIFICATE-----\nMIIFWDCCA0ACCQDXqpBo3RUhkzANBgkqhkiG9w0BAQsFADBuMQswCQYDVQQGEwJl\nczEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxDTALBgNVBAoMBE9r\ndGExDzANBgNVBAsMBkRYLUNEVDEdMBsGA1UEAwwURGV2ZWxvcGVyIEV4cGVyaWVu\nY2UwHhcNMjMwNTE2MDkzMzEzWhcNMzMwNTEzMDkzMzEzWjBuMQswCQYDVQQGEwJl\nczEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxDTALBgNVBAoMBE9r\ndGExDzANBgNVBAsMBkRYLUNEVDEdMBsGA1UEAwwURGV2ZWxvcGVyIEV4cGVyaWVu\nY2UwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQCupwRtoZtRk9qRaXD+\nYdtpM9dW[...]
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/67905e567a3196602a0e2c34
        method: GET
      response:
        body: '{"id":"67905e567a3196602a0e2c34","name":"Acceptance Test - TestAccFrameworkResourceServer","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccFrameworkResourceServer","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":true,"token_lifetime":7200,"token_lifetime_for_web":3600,"signing_alg":"RS256","enforce_policies":false,"token_encryption":{"encryption_key":{"name":"encryptkey","alg":"RSA-OAEP-256","thumbprint_sha256":"w0kIFOc-q7KKK-pa2Uj5b_Cl3f0hAgFeseLg8iEmWu0"},"format":"compact-nested-jwe"},"consent_policy":"transactional-authorization-with-mfa","authorization_details":[{"type":"payment"},{"type":"not-payment"}],"proof_of_possession":{"mechanism":"mtls","required":true}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 158.411666ms
[...]
    - id: 18
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - TestAccFrameworkResourceServer","signing_alg":"RS256","allow_offline_access":false,"token_lifetime":7200,"token_lifetime_for_web":3600,"skip_consent_for_verifiable_first_party_clients":true,"enforce_policies":false,"token_dialect":"access_token"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/67905e567a3196602a0e2c34
        method: PATCH
      response:
        body: '{"id":"67905e567a3196602a0e2c34","name":"Acceptance Test - TestAccFrameworkResourceServer","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccFrameworkResourceServer","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":true,"token_lifetime":7200,"token_lifetime_for_web":3600,"signing_alg":"RS256","enforce_policies":false,"token_dialect":"access_token"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 150.34075ms
[...]
