---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Connection-TestAccConnectionOptionsAttrEmail","strategy":"auth0","is_domain_connection":true,"options":{"brute_force_protection":true,"requires_username":false,"precedence":["username","email","phone_number"],"attributes":{"email":{"identifier":{"active":true},"profile_required":true,"signup":{"status":"required","verification":{"active":false}},"verification_method":"otp"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_QxpRtqfgW2zFe4eI","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","brute_force_protection":true,"requires_username":false,"precedence":["username","email","phone_number"],"attributes":{"email":{"identifier":{"active":true},"profile_required":true,"signup":{"status":"required","verification":{"active":false}},"verification_method":"otp"}},"strategy_version":2,"authentication_methods":{"password":{"enabled":true},"passkey":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true}},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionOptionsAttrEmail","is_domain_connection":true,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionOptionsAttrEmail"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 435.973625ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_QxpRtqfgW2zFe4eI
        method: GET
      response:
        body: '{"id":"con_QxpRtqfgW2zFe4eI","options":{"mfa":{"active":true,"return_enroll_settings":true},"attributes":{"email":{"signup":{"status":"required","verification":{"active":false}},"identifier":{"active":true},"profile_required":true,"verification_method":"otp"}},"precedence":["username","email","phone_number"],"passwordPolicy":"good","passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"strategy_version":2,"requires_username":false,"authentication_methods":{"passkey":{"enabled":false},"password":{"enabled":true}},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionOptionsAttrEmail","is_domain_connection":true,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionOptionsAttrEmail"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 566.713167ms
[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: GET
      response:
        body: '{"allowed_logout_urls":[],"acr_values_supported":[],"change_password":{"enabled":false,"html":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n  <title>Change your password</title>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no\" />\n\n  <style type=\"text/css\">\n    body,html{\n      padding:0;\n      margin:0;\n    }\n    .table{\n      display:table;\n      position:absolute;\n      height:100%;\n      width:100%;\n      {% unless tenant.colors.page_background %}\n        background:linear-gradient(rgba(255,255,255,.3),rgba(255,255,255,0));\n      {% endunless %}\n      background-color: {{tenant.colors.page_background | default: ''#e8ebef''}};\n    }\n    .cell{\n      display:table-cell;\n      vertical-align:middle;\n    }\n    .content{\n      padding:25px 0;\n      margin-left:auto;\n      margin-right:auto;\n      width:280px;\n    }\n  </style>\n\n\n</head>\n<body>\n  <div class=\"table\">\n    <div class=\"cell\">\n      <div class=\"content\">\n        <!-- WIDGET -->\n        <div id=\"change-password-widget-container\"></div>\n        <!-- END WIDGET -->\n      </div>\n    </div>\n  </div>\n\n  <script src=\"https://cdn.auth0.com/js/change-password-1.5.min.js\"></script>\n\n  <script>\n    new Auth0ChangePassword({\n      container:         \"change-password-widget-container\",                // required\n      email:             \"{{email | escape}}\",                              // DO NOT CHANGE THIS\n      csrf_token:        \"{{csrf_token}}\",                                  // DO NOT CHANGE THIS\n      ticket:            \"{{ticket}}\",                                      // DO NOT CHA[...]
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_QxpRtqfgW2zFe4eI
        method: DELETE
      response:
        body: '{"deleted_at":"2025-04-11T12:40:45.526Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 924.474583ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"connections":[{"id":"con_1UIbZoO6NXBz5Byh","options":{"type":"back_channel","issuer":"https://example.okta.com","jwks_uri":"https://example.okta.com/oauth2/v1/keys","client_id":"1234567","attribute_map":{"mapping_mode":"basic_profile"},"client_secret":"1234567","schema_version":"oidc-V4","token_endpoint":"https://example.okta.com/oauth2/v1/token","userinfo_endpoint":null,"connection_settings":{"pkce":"auto"},"authorization_endpoint":"https://example.okta.com/oauth2/v1/authorize"},"strategy":"okta","name":"Acceptance-Test-Enterprise-Connection-testaccorganizationconnection","is_domain_connection":false,"show_as_button":false,"display_name":"testaccorganizationconnection","realms":["Acceptance-Test-Enterprise-Connection-testaccorganizationconnection"],"enabled_clients":["JYE53yAO8J2enpkewUMxoo4LZe4r4mB0","mJ4H8mBMeboyLIEXmV8PyWkjlDW2gym1","kfmLFsrSXjozNns72iTdhHKwb0rUHZxJ","qsH163u8AoZy8z1o6nTV3TgiZUtSfwS1","yw7HonxAl9A6tkILSUEy1mfjQBhqAxld","ddT9G458CwFyq6gqBaKcLuazBhs2M5Op"]},{"id":"con_qGfQLHT8pZxc1Pak","options":{"type":"back_channel","issuer":"https://example.okta.com","jwks_uri":"https://example.okta.com/oauth2/v1/keys","clie[...]
