---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance-Test-SMS-TestAccConnectionSMS","strategy":"sms","is_domain_connection":false,"options":{"name":"SMS OTP","from":"+12345678","syntax":"md_with_macros","template":"@@password@@","totp":{"time_step":300,"length":6},"twilio_sid":"ABC123","twilio_token":"DEF456","messaging_service_sid":"GHI789","disable_signup":false,"brute_force_protection":true,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_Bz89yP7X0T9Hssqh","options":{"name":"SMS OTP","from":"+12345678","syntax":"md_with_macros","template":"@@password@@","totp":{"time_step":300,"length":6},"twilio_sid":"ABC123","twilio_token":"DEF456","messaging_service_sid":"GHI789","disable_signup":false,"brute_force_protection":true,"upstream_params":{"screen_name":{"alias":"login_hint"}}},"strategy":"sms","name":"Acceptance-Test-SMS-TestAccConnectionSMS","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-SMS-TestAccConnectionSMS"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_Bz89yP7X0T9Hssqh
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_Bz89yP7X0T9Hssqh","options":{"from":"+12345678","name":"SMS OTP","totp":{"length":6,"time_step":300},"syntax":"md_with_macros","template":"@@password@@","twilio_sid":"ABC123","twilio_token":"DEF456","disable_signup":false,"upstream_params":{"screen_name":{"alias":"login_hint"}},"messaging_service_sid":"GHI789","brute_force_protection":true},"strategy":"sms","name":"Acceptance-Test-SMS-TestAccConnectionSMS","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-SMS-TestAccConnectionSMS"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
  - id: 3
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: ""
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_Bz89yP7X0T9Hssqh
      method: DELETE
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"deleted_at":"2022-08-30T08:59:32.779Z"}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 202 Accepted
      code: 202
      duration: 1ms
