---
version: 1
interactions:
- request:
    body: |
      {"name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {};","secrets":[{"name":"foo","value":"111111"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
    method: POST
  response:
    body: '{"id":"b940a6d4-ee7e-4e13-b456-84d2fe6350f3","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-07-20T12:48:50.859629600Z","updated_at":"2022-07-20T12:48:50.874486144Z","code":"exports.onExecutePostLogin
      = async (event, api) => {};","dependencies":[],"runtime":"node16","status":"pending","secrets":[{"name":"foo","updated_at":"2022-07-20T12:48:50.874486144Z"}],"all_changes_deployed":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/b940a6d4-ee7e-4e13-b456-84d2fe6350f3
    method: GET
  response:
    body: '{"id":"b940a6d4-ee7e-4e13-b456-84d2fe6350f3","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-07-20T12:48:50.859629600Z","updated_at":"2022-07-20T12:48:50.874486144Z","code":"exports.onExecutePostLogin
      = async (event, api) => {};","dependencies":[],"runtime":"node16","status":"built","secrets":[{"name":"foo","updated_at":"2022-07-20T12:48:50.874486144Z"}],"all_changes_deployed":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/b940a6d4-ee7e-4e13-b456-84d2fe6350f3/deploy
    method: POST
  response:
    body: '{"code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"id":"909d3d1d-6e0d-4b5c-b93d-072ce9933e44","deployed":false,"number":1,"secrets":[{"name":"foo","updated_at":"2022-07-20T12:48:54.184782746Z"},{"name":"bar","updated_at":"2022-07-20T12:48:54.184782746Z"}],"status":"built","created_at":"2022-07-20T12:49:12.191490926Z","updated_at":"2022-07-20T12:49:12.191490926Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v3"}],"action":{"id":"b940a6d4-ee7e-4e13-b456-84d2fe6350f3","name":"Test
      Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-07-20T12:48:50.859629600Z","updated_at":"2022-07-20T12:48:54.174102016Z","all_changes_deployed":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/b940a6d4-ee7e-4e13-b456-84d2fe6350f3
    method: GET
  response:
    body: '{"id":"b940a6d4-ee7e-4e13-b456-84d2fe6350f3","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-07-20T12:48:50.859629600Z","updated_at":"2022-07-20T12:48:54.184782746Z","code":"exports.onContinuePostLogin
      = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node16","status":"built","secrets":[{"name":"foo","updated_at":"2022-07-20T12:48:54.184782746Z"},{"name":"bar","updated_at":"2022-07-20T12:48:54.184782746Z"}],"current_version":{"id":"909d3d1d-6e0d-4b5c-b93d-072ce9933e44","code":"exports.onContinuePostLogin
      = async (event, api) => {};","runtime":"node16","status":"BUILT","number":1,"build_time":"2022-07-20T12:49:12.305518429Z","created_at":"2022-07-20T12:49:12.191490926Z","updated_at":"2022-07-20T12:49:12.306761397Z"},"deployed_version":{"code":"exports.onContinuePostLogin
      = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"id":"909d3d1d-6e0d-4b5c-b93d-072ce9933e44","deployed":true,"number":1,"built_at":"2022-07-20T12:49:12.305518429Z","secrets":[{"name":"foo","updated_at":"2022-07-20T12:48:54.184782746Z"},{"name":"bar","updated_at":"2022-07-20T12:48:54.184782746Z"}],"status":"built","created_at":"2022-07-20T12:49:12.191490926Z","updated_at":"2022-07-20T12:49:12.306761397Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
