---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Test Action TestAccAction_FailedBuild","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {\n\tconsole.log(event)\n};\"\n","dependencies":[{"name":"crypto","version":"17.7.1"}],"runtime":"node16"}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"a0d81042-7ed3-4e78-b647-438ffe45ecfe","name":"Test Action TestAccAction_FailedBuild","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-08-30T08:56:49.272839364Z","updated_at":"2022-08-30T08:56:49.286750680Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(event)\n};\"\n","dependencies":[{"name":"crypto","version":"17.7.1"}],"runtime":"node16","status":"pending","secrets":[],"all_changes_deployed":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/a0d81042-7ed3-4e78-b647-438ffe45ecfe
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"a0d81042-7ed3-4e78-b647-438ffe45ecfe","name":"Test Action TestAccAction_FailedBuild","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-08-30T08:56:49.272839364Z","updated_at":"2022-08-30T08:56:49.286750680Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(event)\n};\"\n","dependencies":[{"name":"crypto","version":"17.7.1"}],"runtime":"node16","status":"building","secrets":[],"all_changes_deployed":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
