---
version: 1
interactions:
- request:
    body: |
      {"name":"Role - Acceptance Test - TestAccRole","identifier":"https://TestAccRole.matrix.com/","scopes":[{"value":"stop:bullets","description":"Stop bullets"},{"value":"bring:peace","description":"Bring peace"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
    method: POST
  response:
    body: '{"id":"62a739aa205468003f338566","name":"Role - Acceptance Test - TestAccRole","identifier":"https://TestAccRole.matrix.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","scopes":[{"value":"stop:bullets","description":"Stop
      bullets"},{"value":"bring:peace","description":"Bring peace"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/62a739aa205468003f338566
    method: GET
  response:
    body: '{"id":"62a739aa205468003f338566","name":"Role - Acceptance Test - TestAccRole","identifier":"https://TestAccRole.matrix.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","scopes":[{"value":"stop:bullets","description":"Stop
      bullets"},{"value":"bring:peace","description":"Bring peace"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      {"name":"The One - Acceptance Test - TestAccRole","description":"The One - Acceptance Test"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles
    method: POST
  response:
    body: '{"id":"rol_eONTdulrLRtQ1t1i","name":"The One - Acceptance Test - TestAccRole","description":"The
      One - Acceptance Test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      {"permissions":[{"resource_server_identifier":"https://TestAccRole.matrix.com/","permission_name":"stop:bullets"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_eONTdulrLRtQ1t1i/permissions
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_eONTdulrLRtQ1t1i
    method: GET
  response:
    body: '{"id":"rol_eONTdulrLRtQ1t1i","name":"The One - Acceptance Test - TestAccRole","description":"The
      One - Acceptance Test"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_eONTdulrLRtQ1t1i/permissions?include_totals=true&page=0&per_page=50
    method: GET
  response:
    body: '{"permissions":[{"permission_name":"stop:bullets","description":"Stop bullets","resource_server_name":"Role
      - Acceptance Test - TestAccRole","resource_server_identifier":"https://TestAccRole.matrix.com/"}],"start":0,"limit":50,"total":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
