---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"testacccustomdomain.auth.tempdomain.com","type":"self_managed_certs"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_WnMYNzbzlAEewTHL","domain":"testacccustomdomain.auth.tempdomain.com","primary":false,"is_default":false,"status":"pending_verification","type":"self_managed_certs","verification":{"methods":[{"name":"TXT","record":"d25acff6-575d-4c27-af40-02f3880a0c4c","domain":"_cf-custom-hostname.testacccustomdomain.auth.tempdomain.com"}]},"custom_client_ip_header":null,"created_at":"2026-01-27T13:59:53.172Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.700183s
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_WnMYNzbzlAEewTHL
        method: GET
      response:
        body: '{"custom_domain_id":"cd_WnMYNzbzlAEewTHL","domain":"testacccustomdomain.auth.tempdomain.com","primary":false,"is_default":false,"status":"pending_verification","type":"self_managed_certs","verification":{"methods":[{"name":"TXT","record":"d25acff6-575d-4c27-af40-02f3880a0c4c","domain":"_cf-custom-hostname.testacccustomdomain.auth.tempdomain.com"}]},"custom_client_ip_header":null,"created_at":"2026-01-27T13:59:53.172Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 376.8785ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"testacccustomdomain.auth.tempdomain.com","type":"auth0_managed_certs","domain_metadata":{"key1":"value1","key2":"value2"},"relying_party_identifier":"tempdomain.com"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_filGQVv2PU5O7u0O","domain":"testacccustomdomain.auth.tempdomain.com","primary":false,"is_default":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"terraform-provider-auth0-dev-cd-filgqvv2pu5o7u0o.edge.tenants.us.auth0.com","domain":"testacccustomdomain.auth.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key1":"value1","key2":"value2"},"created_at":"2026-01-27T14:00:01.099Z","relying_party_identifier":"tempdomain.com"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 540.925292ms
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_filGQVv2PU5O7u0O
        method: GET
      response:
        body: '{"custom_domain_id":"cd_filGQVv2PU5O7u0O","domain":"testacccustomdomain.auth.tempdomain.com","primary":false,"is_default":false,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"terraform-provider-auth0-dev-cd-filgqvv2pu5o7u0o.edge.tenants.us.auth0.com","domain":"testacccustomdomain.auth.tempdomain.com"}]},"tls_policy":"recommended","domain_metadata":{"key1":"value1","key2":"value2"},"created_at":"2026-01-27T14:00:01.099Z","relying_party_identifier":"tempdomain.com"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 370.62775ms
[...]
