---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        ["all-applications"]
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/policies
      method: PUT
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '["all-applications"]'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 101.236285ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"enabled":false}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/sms
      method: PUT
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"enabled":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 120.70664ms
  - id: 2
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"enabled":false}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/webauthn-roaming
      method: PUT
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"enabled":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 117.021103ms
  - id: 3
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"enabled":true}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/webauthn-platform
      method: PUT
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"enabled":true}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 132.113961ms
  - id: 4
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"enabled":false}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/duo
      method: PUT
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"enabled":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 121.986272ms
  - id: 5
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"enabled":false}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/push-notification
      method: PUT
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"enabled":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 123.760253ms
[...]
  - id: 7
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '[{"name":"sms","enabled":false,"trial_expired":false},{"name":"push-notification","enabled":false,"trial_expired":false},{"name":"otp","enabled":false,"trial_expired":false},{"name":"email","enabled":false,"trial_expired":false},{"name":"duo","enabled":false,"trial_expired":false},{"name":"webauthn-roaming","enabled":false,"trial_expired":false},{"name":"webauthn-platform","enabled":true,"trial_expired":false},{"name":"recovery-code","enabled":false,"trial_expired":false}]'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 129.928842ms
  - id: 8
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/webauthn-platform/settings
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"overrideRelyingParty":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 119.210878ms
[...]
  - id: 26
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"enabled":false}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/email
      method: PUT
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"enabled":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 116.711339ms
  - id: 27
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"enabled":false}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/otp
      method: PUT
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"enabled":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 135.599908ms
  - id: 28
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"enabled":false}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/guardian/factors/recovery-code
      method: PUT
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"enabled":false}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 114.926899ms
[...]
