---
version: 2
interactions:
  - id: 0
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        {"name":"Acceptance-Test-Google-OAuth2-TestAccConnectionGoogleOAuth2","strategy":"google-oauth2","is_domain_connection":false,"options":{"allowed_audiences":["api.example.com","example.com"],"email":true,"profile":true,"gmail":true,"youtube":true,"set_user_root_attributes":"on_each_login","non_persistent_attrs":null,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
      method: POST
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_2cUel3D6VfYcZHtp","options":{"allowed_audiences":["api.example.com","example.com"],"email":true,"profile":true,"gmail":true,"youtube":true,"set_user_root_attributes":"on_each_login","non_persistent_attrs":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"scope":["email","profile","https://mail.google.com/mail/feed/atom","https://gdata.youtube.com"]},"strategy":"google-oauth2","name":"Acceptance-Test-Google-OAuth2-TestAccConnectionGoogleOAuth2","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Google-OAuth2-TestAccConnectionGoogleOAuth2"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 201 Created
      code: 201
      duration: 1ms
  - id: 1
    request:
      transfer_encoding: [ ]
      trailer: { }
      host: terraform-provider-auth0-dev.eu.auth0.com
      body: |
        null
      form: { }
      headers:
        Content-Type:
          - application/json
      url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_2cUel3D6VfYcZHtp
      method: GET
    response:
      transfer_encoding: [ ]
      trailer: { }
      body: '{"id":"con_2cUel3D6VfYcZHtp","options":{"email":true,"gmail":true,"scope":["email","profile","https://mail.google.com/mail/feed/atom","https://gdata.youtube.com"],"profile":true,"youtube":true,"upstream_params":{"screen_name":{"alias":"login_hint"}},"allowed_audiences":["api.example.com","example.com"],"non_persistent_attrs":null,"set_user_root_attributes":"on_each_login"},"strategy":"google-oauth2","name":"Acceptance-Test-Google-OAuth2-TestAccConnectionGoogleOAuth2","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Google-OAuth2-TestAccConnectionGoogleOAuth2"]}'
      headers:
        Content-Type:
          - application/json; charset=utf-8
      status: 200 OK
      code: 200
      duration: 1ms
[...]
