---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - TestAccResourceServerAnonymousUser","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccResourceServerAnonymousUser","token_lifetime_for_anonymous_access_tokens":86400,"subject_type_authorization":{"anonymous_user":{"policy":"require_client_grant"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"6aa951c565ef8e37c511bf35","name":"Acceptance Test - TestAccResourceServerAnonymousUser","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccResourceServerAnonymousUser","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"allow_online_access":false,"allow_online_access_with_ephemeral_sessions":false,"token_lifetime_for_anonymous_access_tokens":86400,"subject_type_authorization":{"anonymous_user":{"policy":"require_client_grant"},"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 378.586792ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/6aa951c565ef8e37c511bf35
        method: GET
      response:
        body: '{"id":"6aa951c565ef8e37c511bf35","name":"Acceptance Test - TestAccResourceServerAnonymousUser","identifier":"https://uat.api.terraform-provider-auth0.com/TestAccResourceServerAnonymousUser","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"allow_online_access":false,"allow_online_access_with_ephemeral_sessions":false,"token_lifetime_for_anonymous_access_tokens":86400,"subject_type_authorization":{"anonymous_user":{"policy":"require_client_grant"},"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 306.655584ms
[...]
