---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Client Credentials - TestAccClientCredentialsPrivateKeyJWTRenameWithSameKeyRotates","app_type":"non_interactive","jwt_configuration":{"alg":"RS256"},"token_endpoint_auth_method":"client_secret_post"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientCredentialsPrivateKeyJWTRenameWithSameKeyRotates","client_id":"gCBVFmzzKRpetD7obgI37Yn1CIbKp417","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256"},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 683.66625ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/gCBVFmzzKRpetD7obgI37Yn1CIbKp417
        method: GET
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientCredentialsPrivateKeyJWTRenameWithSameKeyRotates","client_id":"gCBVFmzzKRpetD7obgI37Yn1CIbKp417","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256"},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 317.451666ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/gCBVFmzzKRpetD7obgI37Yn1CIbKp417?fields=client_id&include_fields=true
        method: GET
      response:
        body: '{"client_id":"gCBVFmzzKRpetD7obgI37Yn1CIbKp417","signing_keys":[{"cert":"[REDACTED]"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 438.975958ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Credential A","credential_type":"public_key","pem":"-----BEGIN CERTIFICATE-----\nMIIFZDCCA0wCCQDNZ2SmDG1sdTANBgkqhkiG9w0BAQsFADB0MQswCQYDVQQGEwJl\nczESMBAGA1UECAwJQmFyY2Vsb25hMRIwEAYDVQQHDAlCYXJjZWxvbmExDTALBgNV\nBAoMBE9rdGExDzANBgNVBAsMBkRYLUNEVDEdMBsGA1UEAwwURGV2ZWxvcGVyIEV4\ncGVyaWVuY2UwHhcNMjMwNTE2MTEyOTA4WhcNMzMwNTEzMTEyOTA4WjB0MQswCQYD\nVQQGEwJlczESMBAGA1UECAwJQmFyY2Vsb25hMRIwEAYDVQQHDAlCYXJjZWxvbmEx\nDTALBgNVBAoMBE9rdGExDzANBgNVBAsMBkRYLUNEVDEdMBsGA1UEAwwURGV2ZWxv\ncGVyIEV4cGVyaWVuY2UwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDs\nY0FIvVc7[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/gCBVFmzzKRpetD7obgI37Yn1CIbKp417?fields=client_id%2Capp_type&include_fields=true
        method: GET
      response:
        body: '{"client_id":"gCBVFmzzKRpetD7obgI37Yn1CIbKp417","app_type":"non_interactive","signing_keys":[{"cert":"[REDACTED]"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 429.202125ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"client_authentication_methods":{"private_key_jwt":{"credentials":[{"id":"cred_fNYVZtDT5757Z2m3VtWupp"}]}},"token_endpoint_auth_method":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/gCBVFmzzKRpetD7obgI37Yn1CIbKp417
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientCredentialsPrivateKeyJWTRenameWithSameKeyRotates","client_id":"gCBVFmzzKRpetD7obgI37Yn1CIbKp417","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256"},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000},"client_authentication_methods":{"private_key_jwt":{"credentials":[{"id":"cred_fNYVZtDT5757Z2m3VtWupp"}]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 435.821625ms
[...]
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/gCBVFmzzKRpetD7obgI37Yn1CIbKp417/credentials/cred_fNYVZtDT5757Z2m3VtWupp
        method: GET
      response:
        body: '{"id":"cred_fNYVZtDT5757Z2m3VtWupp","credential_type":"public_key","kid":"FnNtsjkgcpkHjrTJqenDiJx31_g8n_-wWtYUUPn4FyM","alg":"RS256","name":"Credential A","created_at":"2026-08-13T04:50:59.112Z","updated_at":"2026-08-13T04:50:59.112Z","expires_at":"2096-05-13T09:33:13.000Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 382.414875ms
[...]
    - id: 15
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/gCBVFmzzKRpetD7obgI37Yn1CIbKp417/credentials?include_totals=true&per_page=50
        method: GET
      response:
        body: '[{"id":"cred_fNYVZtDT5757Z2m3VtWupp","credential_type":"public_key","kid":"FnNtsjkgcpkHjrTJqenDiJx31_g8n_-wWtYUUPn4FyM","alg":"RS256","name":"Credential A","created_at":"2026-08-13T04:50:59.112Z","updated_at":"2026-08-13T04:50:59.112Z","expires_at":"2096-05-13T09:33:13.000Z"}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 308.476667ms
[...]
    - id: 23
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/gCBVFmzzKRpetD7obgI37Yn1CIbKp417/credentials/cred_3CYNcu349ZoGze47FwLdpP
        method: GET
      response:
        body: '{"id":"cred_3CYNcu349ZoGze47FwLdpP","credential_type":"public_key","kid":"FnNtsjkgcpkHjrTJqenDiJx31_g8n_-wWtYUUPn4FyM","alg":"RS256","name":"Credential B","created_at":"2026-08-13T04:51:07.364Z","updated_at":"2026-08-13T04:51:07.364Z","expires_at":"2096-05-13T09:33:13.000Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 301.13425ms
[...]
