---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Client Credentials - TestAccClientAuthenticationMethods","app_type":"non_interactive","token_endpoint_auth_method":"client_secret_post"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientAuthenticationMethods","client_id":"a8V51fh8QmZSN11Veb9tc1vrvzsHn7nz","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 768.869166ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/a8V51fh8QmZSN11Veb9tc1vrvzsHn7nz
        method: GET
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientAuthenticationMethods","client_id":"a8V51fh8QmZSN11Veb9tc1vrvzsHn7nz","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 324.192458ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/a8V51fh8QmZSN11Veb9tc1vrvzsHn7nz?fields=client_id&include_fields=true
        method: GET
      response:
        body: '{"client_id":"a8V51fh8QmZSN11Veb9tc1vrvzsHn7nz","signing_keys":[{"cert":"[REDACTED]"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 3.124887959s
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/a8V51fh8QmZSN11Veb9tc1vrvzsHn7nz?fields=client_id%2Capp_type&include_fields=true
        method: GET
      response:
        body: '{"client_id":"a8V51fh8QmZSN11Veb9tc1vrvzsHn7nz","app_type":"non_interactive","signing_keys":[{"cert":"[REDACTED]"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 2.380279s
[...]
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Client Credentials - TestAccClientAuthenticationMethods","app_type":"non_interactive","jwt_configuration":{"alg":"RS256"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/a8V51fh8QmZSN11Veb9tc1vrvzsHn7nz
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientAuthenticationMethods","client_id":"a8V51fh8QmZSN11Veb9tc1vrvzsHn7nz","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256","lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 2.161564208s
[...]
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Testing Credentials 1","credential_type":"public_key","pem":"-----BEGIN CERTIFICATE-----\nMIIFWDCCA0ACCQDXqpBo3RUhkzANBgkqhkiG9w0BAQsFADBuMQswCQYDVQQGEwJl\nczEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxDTALBgNVBAoMBE9r\ndGExDzANBgNVBAsMBkRYLUNEVDEdMBsGA1UEAwwURGV2ZWxvcGVyIEV4cGVyaWVu\nY2UwHhcNMjMwNTE2MDkzMzEzWhcNMzMwNTEzMDkzMzEzWjBuMQswCQYDVQQGEwJl\nczEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxDTALBgNVBAoMBE9r\ndGExDzANBgNVBAsMBkRYLUNEVDEdMBsGA1UEAwwURGV2ZWxvcGVyIEV4cGVyaWVu\nY2UwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQCupwRtoZtRk9qRaXD+\nYdtpM9dW[...]
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"client_authentication_methods":{"private_key_jwt":{"credentials":[{"id":"cred_pTAtpi8GnpdCXDu47QUuJb"}]}},"token_endpoint_auth_method":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/a8V51fh8QmZSN11Veb9tc1vrvzsHn7nz
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientAuthenticationMethods","client_id":"a8V51fh8QmZSN11Veb9tc1vrvzsHn7nz","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256","lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000},"client_authentication_methods":{"private_key_jwt":{"credentials":[{"id":"cred_pTAtpi8GnpdCXDu47QUuJb"}]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 3.307702917s
[...]
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/a8V51fh8QmZSN11Veb9tc1vrvzsHn7nz/credentials/cred_pTAtpi8GnpdCXDu47QUuJb
        method: GET
      response:
        body: '{"id":"cred_pTAtpi8GnpdCXDu47QUuJb","credential_type":"public_key","kid":"w0kIFOc-q7KKK-pa2Uj5b_Cl3f0hAgFeseLg8iEmWu0","alg":"RS256","name":"Testing Credentials 1","created_at":"2023-12-19T13:33:06.674Z","updated_at":"2023-12-19T13:33:06.674Z","expires_at":"2033-05-13T09:33:13.000Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 958.817166ms
[...]
    - id: 21
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/a8V51fh8QmZSN11Veb9tc1vrvzsHn7nz/credentials?include_totals=true&per_page=50
        method: GET
      response:
        body: '[{"id":"cred_pTAtpi8GnpdCXDu47QUuJb","credential_type":"public_key","kid":"w0kIFOc-q7KKK-pa2Uj5b_Cl3f0hAgFeseLg8iEmWu0","alg":"RS256","name":"Testing Credentials 1","created_at":"2023-12-19T13:33:06.674Z","updated_at":"2023-12-19T13:33:06.674Z","expires_at":"2033-05-13T09:33:13.000Z"}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.10779425s
[...]
    - id: 29
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/a8V51fh8QmZSN11Veb9tc1vrvzsHn7nz/credentials/cred_qyRW9MoALpYMcLmGZmy1wv
        method: GET
      response:
        body: '{"id":"cred_qyRW9MoALpYMcLmGZmy1wv","credential_type":"public_key","kid":"w0kIFOc-q7KKK-pa2Uj5b_Cl3f0hAgFeseLg8iEmWu0","alg":"RS256","name":"Testing Credentials 1","created_at":"2023-12-19T13:33:28.899Z","updated_at":"2023-12-19T13:33:28.899Z","expires_at":"2033-05-13T09:33:13.000Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 880.312625ms
    - id: 30
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/a8V51fh8QmZSN11Veb9tc1vrvzsHn7nz/credentials/cred_oLRodNDyFDMghGcQvf1m1a
        method: GET
      response:
        body: '{"id":"cred_oLRodNDyFDMghGcQvf1m1a","credential_type":"public_key","kid":"FnNtsjkgcpkHjrTJqenDiJx31_g8n_-wWtYUUPn4FyM","alg":"RS256","name":"Testing Credentials 2","created_at":"2023-12-19T13:33:32.372Z","updated_at":"2023-12-19T13:33:32.372Z","expires_at":"2025-05-13T09:33:13.000Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 938.58925ms
[...]
    - id: 61
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/a8V51fh8QmZSN11Veb9tc1vrvzsHn7nz/credentials/cred_2u7YAyH8mEUiujDENG9hLK
        method: GET
      response:
        body: '{"id":"cred_2u7YAyH8mEUiujDENG9hLK","credential_type":"public_key","kid":"FnNtsjkgcpkHjrTJqenDiJx31_g8n_-wWtYUUPn4FyM","alg":"RS256","name":"Testing Credentials 2","created_at":"2023-12-19T13:34:08.438Z","updated_at":"2023-12-19T13:34:08.438Z","expires_at":"2025-05-13T09:33:13.000Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.779517375s
[...]
    - id: 85
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/a8V51fh8QmZSN11Veb9tc1vrvzsHn7nz/credentials/cred_jajddCZxz1cEDqM4ZGdy2h
        method: GET
      response:
        body: '{"id":"cred_jajddCZxz1cEDqM4ZGdy2h","credential_type":"public_key","kid":"FnNtsjkgcpkHjrTJqenDiJx31_g8n_-wWtYUUPn4FyM","alg":"RS256","name":"Testing Credentials 2","created_at":"2023-12-19T13:34:55.017Z","updated_at":"2023-12-19T13:34:55.017Z","expires_at":"2025-05-13T09:33:13.000Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1.06915525s
[...]
