---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"TestTokenExchangeProfile-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {\n\tconsole.log(\"foo\")\n};\"\n"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"5d110643-a54e-432b-a0b7-e58bbf1fae77","name":"TestTokenExchangeProfile-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2026-06-02T09:23:39.555512798Z","updated_at":"2026-06-02T09:23:39.561952195Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node22","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 584.249917ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/5d110643-a54e-432b-a0b7-e58bbf1fae77
        method: GET
      response:
        body: '{"id":"5d110643-a54e-432b-a0b7-e58bbf1fae77","name":"TestTokenExchangeProfile-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2026-06-02T09:23:39.555512798Z","updated_at":"2026-06-02T09:23:39.561952195Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node22","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 456.324916ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/5d110643-a54e-432b-a0b7-e58bbf1fae77/deploy
        method: POST
      response:
        body: '{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"d56abe9a-1f74-449f-9750-c33432797bd7","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2026-06-02T09:23:40.606554840Z","updated_at":"2026-06-02T09:23:40.606554840Z","runtime":"node22","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"action":{"id":"5d110643-a54e-432b-a0b7-e58bbf1fae77","name":"TestTokenExchangeProfile-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2026-06-02T09:23:39.555512798Z","updated_at":"2026-06-02T09:23:39.555512798Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 599.552375ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/5d110643-a54e-432b-a0b7-e58bbf1fae77
        method: GET
      response:
        body: '{"id":"5d110643-a54e-432b-a0b7-e58bbf1fae77","name":"TestTokenExchangeProfile-Action","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}],"created_at":"2026-06-02T09:23:39.555512798Z","updated_at":"2026-06-02T09:23:39.561952195Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node22","status":"built","secrets":[],"current_version":{"id":"d56abe9a-1f74-449f-9750-c33432797bd7","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node22","status":"BUILT","number":1,"build_time":"2026-06-02T09:23:40.722622079Z","created_at":"2026-06-02T09:23:40.606554840Z","updated_at":"2026-06-02T09:23:40.724264101Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"d56abe9a-1f74-449f-9750-c33432797bd7","deployed":true,"number":1,"built_at":"2026-06-02T09:23:40.722622079Z","secrets":[],"status":"built","created_at":"2026-06-02T09:23:40.606554840Z","updated_at":"2026-06-02T09:23:40.724264101Z","runtime":"node22","supported_triggers":[{"id":"custom-token-exchange","version":"v1"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 542.169292ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"token-prof-TestTokenExchangeProfile","subject_token_type":"https://acme.com/cis-token","action_id":"5d110643-a54e-432b-a0b7-e58bbf1fae77","type":"custom_authentication"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/token-exchange-profiles
        method: POST
      response:
        body: '{"id":"tep_YGHxatF4SVyjeMyp","name":"token-prof-TestTokenExchangeProfile","type":"custom_authentication","subject_token_type":"https://acme.com/cis-token","action_id":"5d110643-a54e-432b-a0b7-e58bbf1fae77","created_at":"2026-06-02T09:23:42.406Z","updated_at":"2026-06-02T09:23:42.406Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 615.215958ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/token-exchange-profiles/tep_YGHxatF4SVyjeMyp
        method: GET
      response:
        body: '{"id":"tep_YGHxatF4SVyjeMyp","name":"token-prof-TestTokenExchangeProfile","type":"custom_authentication","subject_token_type":"https://acme.com/cis-token","action_id":"5d110643-a54e-432b-a0b7-e58bbf1fae77","created_at":"2026-06-02T09:23:42.406Z","updated_at":"2026-06-02T09:23:42.406Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 510.275916ms
[...]
    - id: 19
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/custom-token-exchange/bindings?page=0&per_page=100
        method: GET
      response:
        body: '{"bindings":[],"per_page":100}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 590.079083ms
[...]
