---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-GitHub-TestAccConnectionGitHub","strategy":"github","options":{"client_id":"client-id","client_secret":"client-secret","email":true,"read_user":true,"follow":true,"public_repo":true,"repo":true,"repo_deployment":true,"repo_status":true,"delete_repo":true,"notifications":true,"gist":true,"read_repo_hook":true,"write_repo_hook":true,"admin_repo_hook":true,"read_org":true,"admin_org":true,"read_public_key":true,"write_public_key":true,"admin_public_key":true,"write_org":true,"profile":true,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_GygIghrm349rvPEP","options":{"client_id":"client-id","client_secret":"client-secret","email":true,"read_user":true,"follow":true,"public_repo":true,"repo":true,"repo_deployment":true,"repo_status":true,"delete_repo":true,"notifications":true,"gist":true,"read_repo_hook":true,"write_repo_hook":true,"admin_repo_hook":true,"read_org":true,"admin_org":true,"read_public_key":true,"write_public_key":true,"admin_public_key":true,"write_org":true,"profile":true,"upstream_params":{"screen_name":{"alias":"login_hint"}},"scope":["user:email","read:user","user:follow","public_repo","repo","repo_deployment","repo:status","delete_repo","notifications","gist","read:repo_hook","write:repo_hook","admin:repo_hook","read:org","admin:org","read:public_key","write:public_key","admin:public_key","write:org"]},"strategy":"github","name":"Acceptance-Test-GitHub-TestAccConnectionGitHub","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-GitHub-TestAccConnectionGitHub"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 188.640083ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_GygIghrm349rvPEP
        method: GET
      response:
        body: '{"id":"con_GygIghrm349rvPEP","options":{"gist":true,"repo":true,"email":true,"scope":["user:email","read:user","user:follow","public_re[...]
[...]
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_GygIghrm349rvPEP
        method: DELETE
      response:
        body: '{"deleted_at":"2023-06-21T18:01:37.205Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 156.156333ms
