---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"keys":[{"kid":"33c5e613-663d-4e54-8390-75a3f8bd3f12","type":"tenant-master-key","state":"active","created_at":"2024-10-28T16:40:40.402Z","updated_at":"2024-10-28T16:40:40.402Z","parent_kid":"383248b1-e69c-4bc5-90eb-446d722e3f8d","public_key":null},{"kid":"87fb50fb-33a7-4cb7-b454-1e118e07cad0","type":"customer-provided-root-key","state":"destroyed","created_at":"2024-10-28T16:40:26.171Z","updated_at":"2024-10-28T16:40:40.389Z","parent_kid":null,"public_key":null},{"kid":"ec5ca435-e0a9-4e83-b4db-a5bcf11fd59d","type":"tenant-master-key","state":"destroyed","created_at":"2024-10-28T16:40:23.810Z","updated_at":"2024-10-28T16:40:40.904Z","parent_kid":"383248b1-e69c-4bc5-90eb-446d722e3f8d","public_key":null},{"kid":"3baeda25-6c37-4a07-9091[...]
[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption/rekey
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 454.236666ms
[...]
