---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Client Credentials - TestAccClientCredentialsPrivateKeyJWTFullRotation","app_type":"non_interactive","jwt_configuration":{"alg":"RS256"},"token_endpoint_auth_method":"client_secret_post"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientCredentialsPrivateKeyJWTFullRotation","client_id":"AvXWonRB4kwqYaQKIGQNEcl1K9kUlRL4","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256"},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 631.025917ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/AvXWonRB4kwqYaQKIGQNEcl1K9kUlRL4
        method: GET
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientCredentialsPrivateKeyJWTFullRotation","client_id":"AvXWonRB4kwqYaQKIGQNEcl1K9kUlRL4","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256"},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 449.270833ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/AvXWonRB4kwqYaQKIGQNEcl1K9kUlRL4?fields=client_id&include_fields=true
        method: GET
      response:
        body: '{"client_id":"AvXWonRB4kwqYaQKIGQNEcl1K9kUlRL4","signing_keys":[{"cert":"[REDACTED]"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 433.577958ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Testing Credentials 1","credential_type":"public_key","pem":"-----BEGIN CERTIFICATE-----\nMIIFWDCCA0ACCQDXqpBo3RUhkzANBgkqhkiG9w0BAQsFADBuMQswCQYDVQQGEwJl\nczEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxDTALBgNVBAoMBE9r\ndGExDzANBgNVBAsMBkRYLUNEVDEdMBsGA1UEAwwURGV2ZWxvcGVyIEV4cGVyaWVu\nY2UwHhcNMjMwNTE2MDkzMzEzWhcNMzMwNTEzMDkzMzEzWjBuMQswCQYDVQQGEwJl\nczEPMA0GA1UECAwGTWFkcmlkMQ8wDQYDVQQHDAZNYWRyaWQxDTALBgNVBAoMBE9r\ndGExDzANBgNVBAsMBkRYLUNEVDEdMBsGA1UEAwwURGV2ZWxvcGVyIEV4cGVyaWVu\nY2UwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQCupwRtoZtRk9qRaXD+\nYdtpM9dW[...]
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/AvXWonRB4kwqYaQKIGQNEcl1K9kUlRL4?fields=client_id%2Capp_type&include_fields=true
        method: GET
      response:
        body: '{"client_id":"AvXWonRB4kwqYaQKIGQNEcl1K9kUlRL4","app_type":"non_interactive","signing_keys":[{"cert":"[REDACTED]"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 409.765459ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"client_authentication_methods":{"private_key_jwt":{"credentials":[{"id":"cred_fquyqiJaDoUm1ZCWhwUzUZ"},{"id":"cred_xxZHKAnUa3d9h3U1Cq8MKE"}]}},"token_endpoint_auth_method":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/AvXWonRB4kwqYaQKIGQNEcl1K9kUlRL4
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientCredentialsPrivateKeyJWTFullRotation","client_id":"AvXWonRB4kwqYaQKIGQNEcl1K9kUlRL4","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256"},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000},"client_authentication_methods":{"private_key_jwt":{"credentials":[{"id":"cred_fquyqiJaDoUm1ZCWhwUzUZ"},{"id":"cred_xxZHKAnUa3d9h3U1Cq8MKE"}]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 436.276708ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/AvXWonRB4kwqYaQKIGQNEcl1K9kUlRL4/credentials/cred_fquyqiJaDoUm1ZCWhwUzUZ
        method: GET
      response:
        body: '{"id":"cred_fquyqiJaDoUm1ZCWhwUzUZ","credential_type":"public_key","kid":"w0kIFOc-q7KKK-pa2Uj5b_Cl3f0hAgFeseLg8iEmWu0","alg":"RS256","name":"Testing Credentials 1","created_at":"2026-07-01T12:29:31.850Z","updated_at":"2026-07-01T12:29:31.850Z","expires_at":"2033-05-13T09:33:13.000Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 399.412083ms
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/AvXWonRB4kwqYaQKIGQNEcl1K9kUlRL4/credentials/cred_xxZHKAnUa3d9h3U1Cq8MKE
        method: GET
      response:
        body: '{"id":"cred_xxZHKAnUa3d9h3U1Cq8MKE","credential_type":"public_key","kid":"FnNtsjkgcpkHjrTJqenDiJx31_g8n_-wWtYUUPn4FyM","alg":"RS256","name":"Testing Credentials 2","created_at":"2026-07-01T12:29:32.288Z","updated_at":"2026-07-01T12:29:32.288Z","expires_at":"2033-05-13T11:29:08.000Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 395.03925ms
[...]
    - id: 19
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/AvXWonRB4kwqYaQKIGQNEcl1K9kUlRL4/credentials?include_totals=true&per_page=50
        method: GET
      response:
        body: '[{"id":"cred_xxZHKAnUa3d9h3U1Cq8MKE","credential_type":"public_key","kid":"FnNtsjkgcpkHjrTJqenDiJx31_g8n_-wWtYUUPn4FyM","alg":"RS256","name":"Testing Credentials 2","created_at":"2026-07-01T12:29:32.288Z","updated_at":"2026-07-01T12:29:32.288Z","expires_at":"2033-05-13T11:29:08.000Z"},{"id":"cred_fquyqiJaDoUm1ZCWhwUzUZ","credential_type":"public_key","kid":"w0kIFOc-q7KKK-pa2Uj5b_Cl3f0hAgFeseLg8iEmWu0","alg":"RS256","name":"Testing Credentials 1","created_at":"2026-07-01T12:29:31.850Z","updated_at":"2026-07-01T12:29:31.850Z","expires_at":"2033-05-13T09:33:13.000Z"}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 397.987334ms
[...]
    - id: 23
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Testing Credentials 3","credential_type":"public_key","pem":"-----BEGIN CERTIFICATE-----\nMIIDNTCCAh2gAwIBAgIUfzG1l1uBFGUAucOi8SkTUOUpiMUwDQYJKoZIhvcNAQEL\nBQAwKjEoMCYGA1UEAwwfdGVycmFmb3JtLXByb3ZpZGVyLWF1dGgwLXRlc3QtMzAe\nFw0yNjA3MDExMTE4MTBaFw0zNjA2MjgxMTE4MTBaMCoxKDAmBgNVBAMMH3RlcnJh\nZm9ybS1wcm92aWRlci1hdXRoMC10ZXN0LTMwggEiMA0GCSqGSIb3DQEBAQUAA4IB\nDwAwggEKAoIBAQC2UCJwJ/B5/VttSN4StvOPo84UQmxGRRgpszIxUAcDa+jVEZfk\n76QIeybLN3QPsWEoGdTtPY7jrLQ5CT4ZdjJWs08oI1lZcYnXPoN11h5N6XXnahwk\nNTTibBTitglf1dxfZAPOfoK/oCef/YDoPZItyBU0d1f+MuazabsuXFBGcSTbPorp\nAwv1NUhjweQgkloR9hmRk+YejQXUHffkSjnkHTTKqDOKiP2133Ex0vVeUjFKbMxF\ngbZ0w/jcB9i5PluHzLLpoNOEg7XzI6a1T2n97aBOmnA0I1kXVvgXVcLSXoEvkHAc\nWpZhmO5G+x2alFzOd8gBvo/AG5nNCNo3ViofAgMBAAGjUzBRMB0GA1UdDgQWBBRR\no6HE+jOItuGq3r3MlQQUfgFvqjAfBgNVHSMEGDAWgBRRo6HE+jOItuGq3r3MlQQU\nfgFvqjAPBgNVHRMBAf8EBTADAQH/MA0GCSqGSIb3DQEBCwUAA4IBAQAxqp3369/+\n6zJc46TkPN5RvHOpinbtl413oq4CLEvUZJyjh8xvjM995w1Y6f4ihaRMO+Ncsyzk\nKk4e1mCazm0YaSSYFYPZJrJwoc1Y/ruHEpzixJIXTlt93FT2oYdjtjXHI5YbkTQv\nGMvXBEVyyAO7lrntq3CwraYO1/cq6IhupCu65eM2pPWEhJoeTRVCtp/bMmc1A7ID\n3Uv96QeQJ+i/1ozEIup9y0MBOJ3k8lABOP8iBTlOp9RIwNsyuIsdulba3w+IPWmk\ng2Dexbia5hbYMAUgydTCriObuJeif4wIsiWPF06m26iS15Z1Osn09/Ra8FRuU9Au\nuxAxZTImeD55\n-----END CERTIFICATE-----\n\n","alg":"RS256","parse_expiry_from_cert":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/AvXWonRB4kwqYaQKIGQNEcl1K9kUlRL4/credentials
        method: POST
      response:
        body: '{"id":"cred_2hBTGre7ksuaprAPZ7vdep","credential_type":"public_key","kid":"-BytQCzAFJsUuNOzZI5OlJyrOc0PyQCzgExAN0AhbWk","alg":"RS256","name":"Testing Credentials 3","created_at":"2026-07-01T12:29:43.214Z","updated_at":"2026-07-01T12:29:43.214Z","expires_at":"2036-06-28T11:18:10.000Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.060379625s
[...]
    - id: 33
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/AvXWonRB4kwqYaQKIGQNEcl1K9kUlRL4/credentials/cred_2hBTGre7ksuaprAPZ7vdep
        method: GET
      response:
        body: '{"id":"cred_2hBTGre7ksuaprAPZ7vdep","credential_type":"public_key","kid":"-BytQCzAFJsUuNOzZI5OlJyrOc0PyQCzgExAN0AhbWk","alg":"RS256","name":"Testing Credentials 3","created_at":"2026-07-01T12:29:43.214Z","updated_at":"2026-07-01T12:29:43.214Z","expires_at":"2036-06-28T11:18:10.000Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 399.844666ms
    - id: 34
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/AvXWonRB4kwqYaQKIGQNEcl1K9kUlRL4/credentials/cred_fWTQg7PLaqUEHVJoah4TAC
        method: GET
      response:
        body: '{"id":"cred_fWTQg7PLaqUEHVJoah4TAC","credential_type":"public_key","kid":"6_8nGB2L_FIw-VzpeE8yZftLPeL2r62zPqxMTkRT52k","alg":"RS256","name":"Testing Credentials 4","created_at":"2026-07-01T12:29:46.082Z","updated_at":"2026-07-01T12:29:46.082Z","expires_at":"2036-06-28T11:18:10.000Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 390.491167ms
[...]
    - id: 42
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"client_authentication_methods":null,"signed_request_object":null,"token_endpoint_auth_method":"client_secret_post"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/AvXWonRB4kwqYaQKIGQNEcl1K9kUlRL4
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - Client Credentials - TestAccClientCredentialsPrivateKeyJWTFullRotation","client_id":"AvXWonRB4kwqYaQKIGQNEcl1K9kUlRL4","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"alg":"RS256"},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 414.1525ms
[...]
