---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/phone/providers
        method: GET
      response:
        body: '{"providers":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 389.895ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"twilio","disabled":false,"configuration":{"sid":"sid1","delivery_methods":["text","voice"]},"credentials":{"auth_token":"auth123"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/phone/providers
        method: POST
      response:
        body: '{"statusCode":400,"error":"Bad Request","message":"Bad Operation on Notification Resource"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 864.6895ms
[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"twilio","disabled":false,"configuration":{"default_from":"+1234567890","sid":"sid1","delivery_methods":["text","voice"]},"credentials":{"auth_token":"auth123"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/phone/providers
        method: POST
      response:
        body: '{"id":"pro_3UzyS4veHQLMTCt3EzXgTt","tenant":"terraform-provider-auth0-dev","name":"twilio","channel":"phone","disabled":false,"configuration":{"sid":"sid1","default_from":"+1234567890","delivery_methods":["text","voice"]},"created_at":"2025-07-10T06:25:58.824Z","updated_at":"2025-07-10T06:25:58.824Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 378.892583ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/phone/providers/pro_3UzyS4veHQLMTCt3EzXgTt
        method: GET
      response:
        body: '{"id":"pro_3UzyS4veHQLMTCt3EzXgTt","tenant":"terraform-provider-auth0-dev","name":"twilio","channel":"phone","disabled":false,"configuration":{"sid":"sid1","default_from":"+1234567890","delivery_methods":["text","voice"]},"created_at":"2025-07-10T06:25:58.824Z","updated_at":"2025-07-10T06:25:58.824Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 386.854042ms
[...]
