---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {};"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"41cf2991-7810-44d7-8dba-f26965735637","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-12-20T09:21:15.306715923Z","updated_at":"2023-12-20T09:21:15.329315915Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node18-actions","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 243.083083ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/41cf2991-7810-44d7-8dba-f26965735637
        method: GET
      response:
        body: '{"id":"41cf2991-7810-44d7-8dba-f26965735637","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-12-20T09:21:15.306715923Z","updated_at":"2023-12-20T09:21:15.329315915Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node18-actions","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 196.184916ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node18-actions","secrets":[{"name":"foo","value":"111111"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/41cf2991-7810-44d7-8dba-f26965735637
        method: PATCH
      response:
        body: '{"id":"41cf2991-7810-44d7-8dba-f26965735637","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-12-20T09:21:15.306715923Z","updated_at":"2023-12-20T09:21:18.374576116Z","code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node18-actions","status":"pending","secrets":[{"name":"foo","updated_at":"2023-12-20T09:21:18.374576116Z"}],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 291.181917ms
[...]
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/41cf2991-7810-44d7-8dba-f26965735637/deploy
        method: POST
      response:
        body: '{"code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"id":"11480121-3b68-4597-a5b1-2f7933fa6a4a","deployed":false,"number":1,"secrets":[{"name":"foo","updated_at":"2023-12-20T09:21:18.374576116Z"}],"status":"built","created_at":"2023-12-20T09:21:27.395460722Z","updated_at":"2023-12-20T09:21:27.395460722Z","runtime":"node18-actions","supported_triggers":[{"id":"post-login","version":"v3"}],"action":{"id":"41cf2991-7810-44d7-8dba-f26965735637","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-12-20T09:21:15.306715923Z","updated_at":"2023-12-20T09:21:18.341751065Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 359.583709ms
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/41cf2991-7810-44d7-8dba-f26965735637
        method: GET
      response:
        body: '{"id":"41cf2991-7810-44d7-8dba-f26965735637","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-12-20T09:21:15.306715923Z","updated_at":"2023-12-20T09:21:18.374576116Z","code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node18-actions","status":"built","secrets":[{"name":"foo","updated_at":"2023-12-20T09:21:18.374576116Z"}],"current_version":{"id":"11480121-3b68-4597-a5b1-2f7933fa6a4a","code":"exports.onContinuePostLogin = async (event, api) => {};","runtime":"node18-actions","status":"BUILT","number":1,"build_time":"2023-12-20T09:21:27.568471462Z","created_at":"2023-12-20T09:21:27.395460722Z","updated_at":"2023-12-20T09:21:27.578943576Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"id":"11480121-3b68-4597-a5b1-2f7933fa6a4a","deployed":true,"number":1,"built_at":"2023-12-20T09:21:27.568471462Z","secrets":[{"name":"foo","updated_at":"2023-12-20T09:21:18.374576116Z"}],"status":"built","created_at":"2023-12-20T09:21:27.395460722Z","updated_at":"2023-12-20T09:21:27.578943576Z","runtime":"node18-actions","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 237.295583ms
[...]
