---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccEventStreamAction","supported_triggers":[{"id":"event-stream","version":"v1"}],"code":"exports.onExecuteEventStream = async (event, api) =\u003e {};","runtime":"node22"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"6018e89f-245f-4da3-ac9f-e22fc6d8b0d1","name":"Test Action TestAccEventStreamAction","supported_triggers":[{"id":"event-stream","version":"v1"}],"created_at":"2026-06-08T11:29:48.920442169Z","updated_at":"2026-06-08T11:29:48.931868827Z","code":"exports.onExecuteEventStream = async (event, api) => {};","dependencies":[],"runtime":"node22","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 329.650291ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/6018e89f-245f-4da3-ac9f-e22fc6d8b0d1
        method: GET
      response:
        body: '{"id":"6018e89f-245f-4da3-ac9f-e22fc6d8b0d1","name":"Test Action TestAccEventStreamAction","supported_triggers":[{"id":"event-stream","version":"v1"}],"created_at":"2026-06-08T11:29:48.920442169Z","updated_at":"2026-06-08T11:29:48.931868827Z","code":"exports.onExecuteEventStream = async (event, api) => {};","dependencies":[],"runtime":"node22","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 730.325667ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/6018e89f-245f-4da3-ac9f-e22fc6d8b0d1/deploy
        method: POST
      response:
        body: '{"code":"exports.onExecuteEventStream = async (event, api) => {};","dependencies":[],"id":"11005994-0284-48e3-9119-03954827cc0f","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2026-06-08T11:29:49.964054313Z","updated_at":"2026-06-08T11:29:49.964054313Z","runtime":"node22","supported_triggers":[{"id":"event-stream","version":"v1"}],"action":{"id":"6018e89f-245f-4da3-ac9f-e22fc6d8b0d1","name":"Test Action TestAccEventStreamAction","supported_triggers":[{"id":"event-stream","version":"v1"}],"created_at":"2026-06-08T11:29:48.920442169Z","updated_at":"2026-06-08T11:29:48.920442169Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 310.889542ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/6018e89f-245f-4da3-ac9f-e22fc6d8b0d1
        method: GET
      response:
        body: '{"id":"6018e89f-245f-4da3-ac9f-e22fc6d8b0d1","name":"Test Action TestAccEventStreamAction","supported_triggers":[{"id":"event-stream","version":"v1"}],"created_at":"2026-06-08T11:29:48.920442169Z","updated_at":"2026-06-08T11:29:48.931868827Z","code":"exports.onExecuteEventStream = async (event, api) => {};","dependencies":[],"runtime":"node22","status":"built","secrets":[],"current_version":{"id":"11005994-0284-48e3-9119-03954827cc0f","code":"exports.onExecuteEventStream = async (event, api) => {};","runtime":"node22","status":"BUILT","number":1,"build_time":"2026-06-08T11:29:50.030135483Z","created_at":"2026-06-08T11:29:49.964054313Z","updated_at":"2026-06-08T11:29:50.030811813Z"},"deployed_version":{"code":"exports.onExecuteEventStream = async (event, api) => {};","dependencies":[],"id":"11005994-0284-48e3-9119-03954827cc0f","deployed":true,"number":1,"built_at":"2026-06-08T11:29:50.030135483Z","secrets":[],"status":"built","created_at":"2026-06-08T11:29:49.964054313Z","updated_at":"2026-06-08T11:29:50.030811813Z","runtime":"node22","supported_triggers":[{"id":"event-stream","version":"v1"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 311.357458ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"TestAccEventStreamAction-my-action","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"destination":{"type":"action","configuration":{"action_id":"6018e89f-245f-4da3-ac9f-e22fc6d8b0d1"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams
        method: POST
      response:
        body: '{"id":"est_vXzQUKP6y9YpS6csbsNx9N","status":"enabled","name":"TestAccEventStreamAction-my-action","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2026-06-08T11:29:50.921Z","updated_at":"2026-06-08T11:29:50.921Z","destination":{"type":"action","configuration":{"action_id":"6018e89f-245f-4da3-ac9f-e22fc6d8b0d1"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 364.1375ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams/est_vXzQUKP6y9YpS6csbsNx9N
        method: GET
      response:
        body: '{"id":"est_vXzQUKP6y9YpS6csbsNx9N","status":"enabled","name":"TestAccEventStreamAction-my-action","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2026-06-08T11:29:50.921Z","updated_at":"2026-06-08T11:29:50.921Z","destination":{"type":"action","configuration":{"action_id":"6018e89f-245f-4da3-ac9f-e22fc6d8b0d1"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 293.785792ms
[...]
    - id: 16
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/6018e89f-245f-4da3-ac9f-e22fc6d8b0d1
        method: DELETE
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"That action does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 293.791292ms
