---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Trigger Binding Foo TestAccTriggerBinding","supported_triggers":[{"id":"post-login","version":"v2"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"secrets":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"f4f6fd74-7107-48c8-b254-3f7055da2640","name":"Test Trigger Binding Foo TestAccTriggerBinding","supported_triggers":[{"id":"post-login","version":"v2"}],"created_at":"2022-09-22T20:33:05.653193398Z","updated_at":"2022-09-22T20:33:05.670045746Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node16","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/f4f6fd74-7107-48c8-b254-3f7055da2640
        method: GET
      response:
        body: '{"id":"f4f6fd74-7107-48c8-b254-3f7055da2640","name":"Test Trigger Binding Foo TestAccTriggerBinding","supported_triggers":[{"id":"post-login","version":"v2"}],"created_at":"2022-09-22T20:33:05.653193398Z","updated_at":"2022-09-22T20:33:05.670045746Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node16","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/f4f6fd74-7107-48c8-b254-3f7055da2640/deploy
        method: POST
      response:
        body: '{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"9ffa4d7b-74c7-4f34-a15a-5c1d26eb8607","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2022-09-22T20:33:05.870712257Z","updated_at":"2022-09-22T20:33:05.870712257Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v2"}],"action":{"id":"f4f6fd74-7107-48c8-b254-3f7055da2640","name":"Test Trigger Binding Foo TestAccTriggerBinding","supported_triggers":[{"id":"post-login","version":"v2"}],"created_at":"2022-09-22T20:33:05.653193398Z","updated_at":"2022-09-22T20:33:05.653193398Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/f4f6fd74-7107-48c8-b254-3f7055da2640
        method: GET
      response:
        body: '{"id":"f4f6fd74-7107-48c8-b254-3f7055da2640","name":"Test Trigger Binding Foo TestAccTriggerBinding","supported_triggers":[{"id":"post-login","version":"v2"}],"created_at":"2022-09-22T20:33:05.653193398Z","updated_at":"2022-09-22T20:33:05.670045746Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"runtime":"node16","status":"built","secrets":[],"current_version":{"id":"9ffa4d7b-74c7-4f34-a15a-5c1d26eb8607","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node16","status":"BUILT","number":1,"build_time":"2022-09-22T20:33:05.929287136Z","created_at":"2022-09-22T20:33:05.870712257Z","updated_at":"2022-09-22T20:33:05.929661854Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"9ffa4d7b-74c7-4f34-a15a-5c1d26eb8607","deployed":true,"number":1,"built_at":"2022-09-22T20:33:05.929287136Z","secrets":[],"status":"built","created_at":"2022-09-22T20:33:05.870712257Z","updated_at":"2022-09-22T20:33:05.929661854Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v2"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"bindings":[{"display_name":"Test Trigger Binding Foo TestAccTriggerBinding","ref":{"type":"action_id","value":"f4f6fd74-7107-48c8-b254-3f7055da2640"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings
        method: PATCH
      response:
        body: '{"bindings":[{"id":"a96661a2-bb35-4eee-93a5-27fe2f16e36d","trigger_id":"post-login","action":{"id":"f4f6fd74-7107-48c8-b254-3f7055da2640","name":"Test Trigger Binding Foo TestAccTriggerBinding","supported_triggers":[{"id":"post-login","version":"v2"}],"created_at":"2022-09-22T20:33:05.653193398Z","updated_at":"2022-09-22T20:33:05.653193398Z","current_version":{"id":"9ffa4d7b-74c7-4f34-a15a-5c1d26eb8607","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","runtime":"node16","status":"BUILT","number":1,"build_time":"2022-09-22T20:33:05.929287136Z","created_at":"2022-09-22T20:33:05.870712257Z","updated_at":"2022-09-22T20:33:05.929661854Z"},"deployed_version":{"code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(\"foo\")\n};\"\n","dependencies":[],"id":"9ffa4d7b-74c7-4f34-a15a-5c1d26eb8607","deployed":true,"number":1,"built_at":"2022-09-22T20:33:05.929287136Z","secrets":[],"status":"built","created_at":"2022-09-22T20:33:05.870712257Z","updated_at":"2022-09-22T20:33:05.929661854Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v2"}]},"all_changes_deployed":false},"created_at":"2022-09-22T20:33:06.189456087Z","updated_at":"2022-09-22T20:33:06.189456087Z","display_name":"Test Trigger Binding Foo TestAccTriggerBinding"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 1ms
[...]
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?per_page=50
        method: GET
      response:
        body: '{"bindings":[{"id":"a96661a2-bb35-4eee-93a5-27fe2f16e36d","trigger_id":"post-login","action":{"id":"f4f6fd74-7107-48c8-[...]
[...]
