---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"session_lifetime":168,"idle_session_lifetime":72,"ephemeral_session_lifetime":1,"idle_ephemeral_session_lifetime":1}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"allowed_logout_urls":[],"acr_values_supported":[],"default_audience":"","default_directory":"","enabled_locales":["de","fr"],"flags":{"allow_changing_enable_sso":false,"cannot_change_enforce_client_authentication_on_passwordless_start":true,"disable_impersonation":true,"disable_management_api_sms_obfuscation":true,"enable_client_connections":true,"enable_public_signup_user_exists_error":true,"enable_sso":true,"enforce_client_authentication_on_passwordless_start":true,"new_universal_login_experience_enabled":true,"universal_login":true,"use_scope_descriptions_for_consent":false,"no_disclose_enterprise_connections":false,"revoke_refresh_token_grant":false,"disable_fields_map_fix":true,"dashboard_new_onboarding":true,"mfa_show_factor_list_on_enrollment":true,"remove_alg_from_jwks":false,"disable_clickjack_protection_headers":false},"friendly_name":"My Test Tenant","idle_session_lifetime":72,"ephemeral_session_lifetime":1,"idle_ephemeral_session_lifetime":1,"picture_url":"https://mycompany.org/logo.png","sandbox_version":"18","session_lifetime":168,"support_email":"support@mycompany.org","support_url":"https://mycompany.org/support","sessions":{"oidc_logout_prompt_enabled":true},"oidc_logout":{"rp_logout_end_session_endpoint_discovery":false},"allow_organization_name_in_authentication_api":true,"customize_mfa_in_postlogin_action":true,"pushed_authorization_requests_supported":false,"mtls":{"enable_endpoint_aliases":true},"universal_login":{"colors":{"page_background":"#000000","primary":"#0059d6"},"is_custom_theme_set":true,"is_custom_template_set":false,"identifier_first":true,"webauthn_platform_first_factor":false},"session_cookie":{"mode":"persistent"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 458.2035ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"default_token_quota":null,"error_page":null,"mtls":null,"skip_non_verifiable_callback_uri_confirmation_prompt":null}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"allowed_logout_urls":[],"acr_values_supported":[],"default_audience":"","default_directory":"","enabled_locales":["de","fr"],"flags":{"allow_changing_enable_sso":false,"cannot_change_e[...]
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption?include_totals=true&page=0&per_page=5
        method: GET
      response:
        body: '{"keys":[{"kid":"3a1bdb7e-f6ae-4444-ab98-7fbd1463f4c1","type":"tenant-master-key","state":"active","created_at":"2025-07-03T16:11:56.445Z","updated_at":"2025-07-03T16:11:56.445Z","parent_kid":"aded915b-6272-4042-951a-7bf9a0550285","public_key":null},{"kid":"aded915b-6272-4042-951a-7bf9a0550285","type":"environment-root-key","state":"active","created_at":"2024-07-04T13:37:35.593Z","updated_at":"2024-07-04T13:37:35.593Z","parent_kid":null,"public_key":null},{"kid":"77a17bdc-ea2f-459c-9e6b-661bef01a7eb","type":"tenant-master-key","state":"destroyed","created_at":"2024-07-04T13:37:35.593Z","updated_at":"2025-07-03T16:11:56.476Z","parent_kid":"aded915b-6272-4042-951a-7bf9a0550285","public_key":null}],"start":0,"limit":5,"total":3}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 599.696875ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"type":"customer-provided-root-key"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption
        method: POST
      response:
        body: '{"kid":"420ff04e-de3c-4288-8a5a-5caf1f035af7","type":"customer-provided-root-key","state":"pre-activation","created_at":"2026-02-19T06:06:41.596Z","updated_at":"2026-02-19T06:06:41.596Z","parent_kid":null,"public_key":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 428.491917ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption/420ff04e-de3c-4288-8a5a-5caf1f035af7
        method: GET
      response:
        body: '{"kid":"420ff04e-de3c-4288-8a5a-5caf1f035af7","type":"customer-provided-root-key","state":"pre-activation","created_at":"2026-02-19T06:06:41.596Z","updated_at":"2026-02-19T06:06:41.596Z","parent_kid":null,"public_key":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 360.310959ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption/420ff04e-de3c-4288-8a5a-5caf1f035af7/wrapping-key
        method: POST
      response:
        body: '{"public_key":"-----BEGIN PUBLIC KEY-----\nMIIBojANBgkqhkiG9w0BAQEFAAOCAY8AMIIBigKCAYEAvGKPUrf1HZtB1Lj9oEzU\njahZlXi8Pjc5H7K4UApL5u8Jc+VVFmkpzNncaNbCb2EwF3tyhmtVFjK93q002303\nAzoHpzpsrJEDrzhxMCjuFR0W8Ty12C6ZlFrIBipkxZNDmeKyVxbXwuWStpMYkbgA\nLh3VOZpExBY+nnp8PhOM22yQW93Ibd9vahb+/tcNZwS1QFG1JeKE3X/4VF/LvcJo\nMOdCxWRn4T+XHq6jA028QmQlIVCOaJbJT0lkAHs/8tOLYNkmGiE1TqyCFoOECbhb\nMdXtNdLWtqlnPF9u3M4t0uibgzExzricTVYr/HjcUVexWHf7Dyy/Iyh+nllYYlrb\n0rGhj2LqYy53wjrcXutPj0tkHtqItPEo9AV/96UC/r2NjPbhnByMz0FXviDLKuuk\ncROSYlenvNF1LUYw7R3RZ6Sl9gtl+Qp8T/Iqn745SCui+YrYVtDaVg/BWtO7vRUZ\nMse9/MXc4cW287QSnDMO3uMg6M9c4EiMTjLqIzudrf/hAgMBAAE=\n-----END PUBLIC KEY-----\n","algorithm":"CKM_RSA_AES_KEY_WRAP"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.096412667s
[...]
    - id: 36
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"wrapped_key":"bad-key-value"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption/afc2c589-9569-41c2-bc3d-8c1e613cf94e
        method: POST
      response:
        body: '{"statusCode":400,"error":"Bad Request","message":"Invalid input. Wrapped key material is invalid or unsupported key type.","errorCode":"invalid_body"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 434.731041ms
[...]
