---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-testaccorganizationisappentitlementactive","display_name":"Acme Inc. testaccorganizationisappentitlementactive"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_5KloJax91EDSgJct","display_name":"Acme Inc. testaccorganizationisappentitlementactive","name":"test-testaccorganizationisappentitlementactive","third_party_client_access":"block","is_app_entitlement_active":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 310.515ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_5KloJax91EDSgJct
        method: GET
      response:
        body: '{"id":"org_5KloJax91EDSgJct","name":"test-testaccorganizationisappentitlementactive","display_name":"Acme Inc. testaccorganizationisappentitlementactive","third_party_client_access":"block","is_app_entitlement_active":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 297.616042ms
[...]
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_5KloJax91EDSgJct/connections?include_totals=true&is_enabled=true&page=0&per_page=50
        method: GET
      response:
        body: '{"connections":[],"start":0,"limit":50,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 317.748333ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_5KloJax91EDSgJct/members?fields=user_id&include_fields=true&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 304.279833ms
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_5KloJax91EDSgJct/client-grants?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"client_grants":[],"start":0,"limit":50,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 305.312792ms
[...]
