---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions?actionName=random-name&per_page=50
        method: GET
      response:
        body: '{"actions":[],"per_page":50}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 358.284708ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/09ee2b9b-282d-4a65-87d1-f01adf007745
        method: GET
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"That action does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 357.544042ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccDataSourceAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {};","runtime":"node22"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"db9e772c-44fe-4a04-a66f-9e06a0da16d2","name":"Test Action TestAccDataSourceAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2025-01-30T17:29:05.522162331Z","updated_at":"2025-01-30T17:29:05.536595671Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node22","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 355.6865ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions?actionName=Test+Action+TestAccDataSourceAction&per_page=50
        method: GET
      response:
        body: '{"actions":[{"id":"db9e772c-44fe-4a04-a66f-9e06a0da16d2","name":"Test Action TestAccDataSourceAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2025-01-30T17:29:05.522162331Z","updated_at":"2025-01-30T17:29:05.536595671Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node22","status":"built","secrets":[],"all_changes_deployed":false}],"total":1,"per_page":50}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 388.875959ms
[...]
