---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"Acceptance Test Key - TestAccNetworkACLKey","alg":"hmac-sha256","value":"Xt3aDuBp8hiZh63ftHNIsAjH00fsEQIe3XnFIu0r1BU="}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/network-acls
        method: POST
      response:
        body: '{"name":"Acceptance Test Key - TestAccNetworkACLKey","alg":"hmac-sha256","fingerprint":"04508abab16e5762a663a0059144173e515aa56300e52c07147aab7e781da77c","created_at":"2026-09-09T04:34:28.987Z","updated_at":"2026-09-09T04:34:28.987Z","id":"key_eENduA3XXPPnJyL3wyqFC8"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 397.76ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/network-acls/key_eENduA3XXPPnJyL3wyqFC8
        method: GET
      response:
        body: '{"name":"Acceptance Test Key - TestAccNetworkACLKey","alg":"hmac-sha256","fingerprint":"04508abab16e5762a663a0059144173e515aa56300e52c07147aab7e781da77c","created_at":"2026-09-09T04:34:28.987Z","updated_at":"2026-09-09T04:34:28.987Z","id":"key_eENduA3XXPPnJyL3wyqFC8"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 377.320625ms
[...]
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/network-acls/key_kdwUWFpx13cWivzStz7miM
        method: GET
      response:
        body: '{"name":"Acceptance Test Key - TestAccNetworkACLKey","alg":"hmac-sha256","fingerprint":"1e31529036772fe2807118a6a05d13863d9d884afd6e9d25720fd2d1417b114f","created_at":"2026-09-09T04:34:32.657Z","updated_at":"2026-09-09T04:34:32.657Z","id":"key_kdwUWFpx13cWivzStz7miM"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 321.950375ms
[...]
