---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Google-Apps-TestAccConnectionGoogleApps","strategy":"google-apps","is_domain_connection":false,"show_as_button":false,"options":{"client_id":"","client_secret":"","domain":"example.com","tenant_domain":"example.com","api_enable_users":true,"ext_profile":true,"ext_groups":true,"domain_aliases":["api.example.com","example.com"],"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_5Gyv6SKJ9p3gXbOA","options":{"client_id":"","client_secret":"","domain":"example.com","tenant_domain":"example.com","api_enable_users":true,"ext_profile":true,"ext_groups":true,"domain_aliases":["api.example.com","example.com"],"upstream_params":{"screen_name":{"alias":"login_hint"}},"map_user_id_to_id":false,"email":true,"profile":true,"scope":["email","profile"],"handle_login_from_social":true},"strategy":"google-apps","name":"Acceptance-Test-Google-Apps-TestAccConnectionGoogleApps","provisioning_ticket_url":"https://login.eu.auth0.com/terraform-provider-auth0-dev/p/google-apps/XKJmmzJi","is_domain_connection":false,"show_as_button":false,"enabled_clients":[],"realms":["Acceptance-Test-Google-Apps-TestAccConnectionGoogleApps"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 175.913458ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_5Gyv6SKJ9p3gXbOA
        method: GET
      response:
        body: '{"id":"con_5Gyv6SKJ9p3gXbOA","options":{"email":true,"scope":["email","profile"],"domain":"example.com","profile":true,"client_id":"","ext_groups":true,"ext_profile":true,"client_secret":"","tenant_domain":"example.com","domain_aliases":["api.example.com","example.com"],"upstream_params":{"screen_name":{"alias":"login_hint"}},"api_enable_users":true,"map_user_id_to_id":false,"handle_login_from_social":true},"strategy":"google-apps","name":"Acceptance-Test-Google-Apps-TestAccConnectionGoogleApps","provisioning_ticket_url":"https://login.eu.auth0.com/terraform-provider-auth0-dev/p/google-apps/XKJmmzJi","is_domain_connection":false,"show_as_button":false,"enabled_clients":[],"realms":["Acceptance-Test-Google-Apps-TestAccConnectionGoogleApps"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 192.823ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"is_domain_connection":false,"show_as_button":false,"options":{"client_id":"","client_secret":"","domain":"example.com","tenant_domain":"example.com","api_enable_users":true,"ext_profile":true,"ext_groups":true,"set_user_root_attributes":"on_first_login","domain_aliases":["api.example.com","example.com"],"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_5Gyv6SKJ9p3gXbOA
        method: PATCH
      response:
        body: '{"id":"con_5Gyv6SKJ9p3gXbOA","options":{"email":true,"scope":["email","profile"],"domain":"example.com","profile":true,"client_id":"","ext_groups":true,"ext_profile":true,"client_secret":"","tenant_domain":"example.com","domain_aliases":["api.example.com","example.com"],"upstream_params":{"screen_name":{"alias":"login_hint"}},"api_enable_users":true,"map_user_id_to_id":false,"handle_login_from_social":true,"set_user_root_attributes":"on_first_login"},"strategy":"google-apps","name":"Acceptance-Test-Google-Apps-TestAccConnectionGoogleApps","provisioning_ticket_url":"https://login.eu.auth0.com/terraform-provider-auth0-dev/p/google-apps/XKJmmzJi","is_domain_connection":false,"show_as_button":false,"enabled_clients":[],"realms":["Acceptance-Test-Google-Apps-TestAccConnectionGoogleApps"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 264.379ms
[...]
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_5Gyv6SKJ9p3gXbOA
        method: DELETE
      response:
        body: '{"deleted_at":"2023-06-05T10:22:50.845Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 150.361875ms
