---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_xxxxxxxxxxxxxxxx
        method: GET
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"The connection does not exist","errorCode":"inexistent_connection"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 319.096083ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Connection-TestAccDataSourceConnection","strategy":"auth0"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_vMt0u9q2bVHUCBl1","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"authentication_methods":{"password":{"enabled":true,"api_behavior":"required"},"passkey":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccDataSourceConnection","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccDataSourceConnection"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 335.021959ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_vMt0u9q2bVHUCBl1
        method: GET
      response:
        body: '{"id":"con_vMt0u9q2bVHUCBl1","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"strategy_version":2,"authentication_methods":{"passkey":{"enabled":false},"password":{"enabled":true,"api_behavior":"required"}},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccDataSourceConnection","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccDataSourceConnection"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 353.490542ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - TestAccDataSourceConnection","app_type":"non_interactive","token_endpoint_auth_method":"client_secret_post"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - TestAccDataSourceConnection","client_id":"AufupXRIMcDDOeg6Bwj3HMuvuxo4BF3L","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 435.877292ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/AufupXRIMcDDOeg6Bwj3HMuvuxo4BF3L
        method: GET
      response:
        body: '{"name":"Acceptance Test - TestAccDataSourceConnection","client_id":"AufupXRIMcDDOeg6Bwj3HMuvuxo4BF3L","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_post","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":31557600,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":2592000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 367.975625ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            [{"client_id":"AufupXRIMcDDOeg6Bwj3HMuvuxo4BF3L","status":true}]
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_vMt0u9q2bVHUCBl1/clients
        method: PATCH
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 615.921209ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_vMt0u9q2bVHUCBl1/clients
        method: GET
      response:
        body: '{"clients":[{"client_id":"AufupXRIMcDDOeg6Bwj3HMuvuxo4BF3L"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 320.191709ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_vMt0u9q2bVHUCBl1?fields=strategy%2Cname&include_fields=true
        method: GET
      response:
        body: '{"id":"con_vMt0u9q2bVHUCBl1","strategy":"auth0","name":"Acceptance-Test-Connection-TestAccDataSourceConnection","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 373.979125ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections?include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"connections":[{"id":"con_NfpeQBc6WUKIK0ED","options":{"attributes":{"email":{"signup":{"status":"required","verification":{"active":true}},"unique":false,"identifier":{"active":false},"profile_required":true,"verification_method":"link"},"username":{"signup":{"status":"required"},"identifier":{"active":true},"validation":{"max_length":15,"min_length":1,"allowed_types":{"email":false,"phone_number":false}},"profile_required":true}},"passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"authentication_methods":{"passkey":{"enabled":false},"password":{"enabled":true}},"brute_force_protection":true},"strategy":"auth0","name":"1moreTime","is_domain_connection":false,"authentication":{"active":true},"connected_accounts":{"active":false},"realms":["1moreTime"],"enabled_clients":[]},{"id":"con_lnXFzBFiGTyT35CN","options":{"mfa":{"active":t[...]
[...]
    - id: 26
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_vMt0u9q2bVHUCBl1
        method: DELETE
      response:
        body: '{"deleted_at":"2026-01-28T03:56:50.868Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 329.788875ms
