version: 2
interactions:
- id: 0
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
    method: POST
  response:
    body: '{"user_id":"auth0|DSUO01","email":"TestAccDataSourceUserOrganizations@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"DSUO01","provider":"auth0","isSocial":false}],"username":"tempusernameTestAccDataSourceUserOrganizations"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- id: 1
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7CDSUO01
    method: GET
  response:
    body: '{"user_id":"auth0|DSUO01","email":"TestAccDataSourceUserOrganizations@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"DSUO01","provider":"auth0","isSocial":false}],"username":"tempusernameTestAccDataSourceUserOrganizations"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- id: 4
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
    method: POST
  response:
    body: '{"id":"org_DSUO01","name":"test-org-TestAccDataSourceUserOrganizations","display_name":"Test
      Org TestAccDataSourceUserOrganizations","is_app_entitlement_active":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- id: 5
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_DSUO01
    method: GET
  response:
    body: '{"id":"org_DSUO01","name":"test-org-TestAccDataSourceUserOrganizations","display_name":"Test
      Org TestAccDataSourceUserOrganizations","is_app_entitlement_active":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- id: 8
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: '{"members":["auth0|DSUO01"]}'
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_DSUO01/members
    method: POST
  response:
    body: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 204 No Content
    code: 204
    duration: 1ms
- id: 9
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_DSUO01/members?fields=user_id&include_fields=true&include_totals=true&per_page=50&take=100
    method: GET
  response:
    body: '{"members":[{"user_id":"auth0|DSUO01"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- id: 12
  request:
    host: terraform-provider-auth0-dev.eu.auth0.com
    body: ''
    form: {}
    headers: {}
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7CDSUO01/organizations?include_totals=true&page=0&per_page=50
    method: GET
  response:
    body: '{"organizations":[{"id":"org_DSUO01","name":"test-org-TestAccDataSourceUserOrganizations","display_name":"Test
      Org TestAccDataSourceUserOrganizations","third_party_client_access":"block","is_app_entitlement_active":true,"branding":{"logo_url":"https://example.com/logo.png","colors":{"primary":"#000000","page_background":"#ffffff"}},"metadata":{"team":"acme"},"token_quota":{"client_credentials":{"enforce":true,"per_hour":100,"per_day":1000}}}],"start":0,"limit":50,"total":1}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
