---
version: 2
interactions:
    - id: 0
      request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: |
              null
          form: {}
          headers:
              Content-Type:
                  - application/json
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-user-registration/bindings?per_page=50
          method: GET
      response:
          body: '{"bindings":[],"per_page":50}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status: 200 OK
          code: 200
          duration: 134.330834ms
[...]
    - id: 2
      request:
          host: terraform-provider-auth0-dev.eu.auth0.com
          body: |
              {"bindings":[{"display_name":"Test","ref":{"type":"action_id","value":"c2d5b219-4390-4bea-8a1f-c61672b54db3"}}]}
          form: {}
          headers:
              Content-Type:
                  - application/json
          url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-user-registration/bindings
          method: PATCH
      response:
          body: '{"bindings":[{"id":"1faed671-33fa-47c0-8e1b-da695b421506","trigger_id":"post-user-registration","action":{"id":"c2d5b219-4390-4bea-8a1f-c61672b54db3","name":"Test","supported_triggers":[{"id":"post-user-registration","version":"v2"}],"created_at":"2023-04-19T00:31:55.950532632Z","updated_at":"2023-04-19T00:31:55.950532632Z","current_version":{"id":"6cc00810-81a5-4242-bd84-6a6d638be9e0","code":"/**\n* Handler that will be called during the execution of a PostUserRegistration flow.\n*\n* @param {Event} event - Details about the context and user that has registered.\n* @param {PostUserRegistrationAPI} api - Methods and utilities to help change the behavior after a signup.\n*/\nexports.onExecutePostUserRegistration = async (event, api) => {\n};\n","runtime":"node18","status":"BUILT","number":1,"build_time":"2023-04-19T00:32:29.441709889Z","created_at":"2023-04-19T00:32:29.328514104Z","updated_at":"2023-04-19T00:32:29.443136306Z"},"deployed_version":{"code":"/**\n* Handler that will be called during the execution of a PostUserRegistration flow.\n*\n* @param {Event} event - Details about the context and user that has registered.\n* @param {PostUserRegistrationAPI} api - Methods and utilities to help change the behavior after a signup.\n*/\nexports.onExecutePostUserRegistration = async (event, api) => {\n};\n","dependencies":[],"id":"6cc00810-81a5-4242-bd84-6a6d638be9e0","deployed":true,"number":1,"built_at":"2023-04-19T00:32:29.441709889Z","secrets":[],"status":"built","created_at":"2023-04-19T00:32:29.328514104Z","updated_at":"2023-04-19T00:32:29.443136306Z","runtime":"node18","supported_triggers":[{"id":"post-user-registration","version":"v2"}]},"all_changes_deployed":false},"created_at":"2023-04-19T00:49:43.631447329Z","updated_at":"2023-04-19T00:49:43.631447329Z","display_name":"Test"}]}'
          headers:
              Content-Type:
                  - application/json; charset=utf-8
          status: 200 OK
          code: 200
          duration: 194.906042ms
[...]
