---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Email-TestAccConnectionEmail","strategy":"email","is_domain_connection":false,"options":{"name":"Email OTP","email":{"syntax":"liquid","from":"Magic Password \u003cpassword@example.com\u003e","subject":"Sign in!","body":"\u003chtml\u003e\u003cbody\u003e\u003ch1\u003eHere's your password!\u003c/h1\u003e\u003c/body\u003e\u003c/html\u003e"},"totp":{"time_step":300,"length":6},"disable_signup":false,"brute_force_protection":true,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_nIoVV4aZLkkZP2N5","options":{"name":"Email OTP","email":{"syntax":"liquid","from":"Magic Password <password@example.com>","subject":"Sign in!","body":"<html><body><h1>Here''s your password!</h1></body></html>"},"totp":{"time_step":300,"length":6},"disable_signup":false,"brute_force_protection":true,"upstream_params":{"screen_name":{"alias":"login_hint"}}},"strategy":"email","name":"Acceptance-Test-Email-TestAccConnectionEmail","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Email-TestAccConnectionEmail"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 361.524542ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_nIoVV4aZLkkZP2N5
        method: GET
      response:
        body: '{"id":"con_nIoVV4aZLkkZP2N5","options":{"name":"Email OTP","totp":{"length":6,"time_step":300},"email":{"body":"<html><body><h1>Here''s your password!</h1></body></html>","from":"Magic Password <password@example.com>","syntax":"liquid","subject":"Sign in!"},"disable_signup":false,"upstream_params":{"screen_name":{"alias":"login_hint"}},"brute_force_protection":true},"strategy":"email","name":"Acceptance-Test-Email-TestAccConnectionEmail","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Email-TestAccConnectionEmail"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 402.638917ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"is_domain_connection":false,"options":{"name":"Email OTP","email":{"syntax":"liquid","from":"Magic Password \u003cpassword@example.com\u003e","subject":"Sign in!","body":"\u003chtml\u003e\u003cbody\u003e\u003ch1\u003eHere's your password!\u003c/h1\u003e\u003c/body\u003e\u003c/html\u003e"},"totp":{"time_step":360,"length":4},"authParams":{"response_type":"code","scope":"openid email profile offline_access","some_arbitrary_query_param":"some string"},"disable_signup":false,"brute_force_protection":true}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_nIoVV4aZLkkZP2N5
        method: PATCH
      response:
        body: '{"id":"con_nIoVV4aZLkkZP2N5","options":{"name":"Email OTP","totp":{"length":4,"time_step":360},"email":{"body":"<html><body><h1>Here''s your password!</h1></body></html>","from":"Magic Password <password@example.com>","syntax":"liquid","subject":"Sign in!"},"authParams":[...]
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_nIoVV4aZLkkZP2N5
        method: DELETE
      response:
        body: '{"deleted_at":"2025-01-29T05:47:54.780Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 349.518709ms
