---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - Session Transfer - TestAccClientSessionTransfer","app_type":"native","token_endpoint_auth_method":"none","oidc_logout":{},"session_transfer":{}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - Session Transfer - TestAccClientSessionTransfer","client_id":"WKmrDr2gFa5B9EAwTUdSIOlAp9mu6nif","client_secret":"[REDACTED]","app_type":"native","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token"],"custom_login_page_on":true,"token_endpoint_auth_method":"none","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"oidc_backchannel_logout":{},"oidc_logout":{"backchannel_logout_initiators":{"mode":"custom","selected_initiators":["rp-logout","idp-logout"]}},"session_transfer":{"can_create_session_transfer_token":false,"allowed_authentication_methods":[],"enforce_device_binding":"ip","allow_refresh_token":false,"enforce_online_refresh_tokens":true,"enforce_cascade_revocation":true}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 414.458042ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/WKmrDr2gFa5B9EAwTUdSIOlAp9mu6nif
        method: GET
      response:
        body: '{"name":"Acceptance Test - Session Transfer - TestAccClientSessionTransfer","client_id":"WKmrDr2gFa5B9EAwTUdSIOlAp9mu6nif","client_secret":"[REDACTED]","app_type":"native","is_first_party":true,"is_token_[...]
[...]
