---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test IP Header Trusted Update - TestAccClientCanSetDefaultAuthMethodOnUpdate","app_type":"rms"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Test IP Header Trusted Update - TestAccClientCanSetDefaultAuthMethodOnUpdate","client_id":"sb07kagtmMMFxwKvLnjNjGtrj9BqJHrZ","client_secret":"[REDACTED]","app_type":"rms","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 625.464417ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/sb07kagtmMMFxwKvLnjNjGtrj9BqJHrZ
        method: GET
      response:
        body: '{"name":"Test IP Header Trusted Update - TestAccClientCanSetDefaultAuthMethodOnUpdate","client_id":"sb07kagtmMMFxwKvLnjNjGtrj9BqJHrZ","client_secret":"[REDACTED]","app_type":"rms","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 325.222916ms
[...]
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/sb07kagtmMMFxwKvLnjNjGtrj9BqJHrZ?fields=app_type%2Ctoken_endpoint_auth_method%2Cclient_authentication_methods&include_fields=true
        method: GET
      response:
        body: '{"app_type":"rms","signing_keys":[{"cert":"[REDACTED]"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 348.115583ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test IP Header Trusted Update - TestAccClientCanSetDefaultAuthMethodOnUpdate","app_type":"rms","is_token_endpoint_ip_header_trusted":true,"token_endpoint_auth_method":"client_secret_basic"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/sb07kagtmMMFxwKvLnjNjGtrj9BqJHrZ
        method: PATCH
      response:
        body: '{"name":"Test IP Header Trusted Update - TestAccClientCanSetDefaultAuthMethodOnUpdate","client_id":"sb07kagtmMMFxwKvLnjNjGtrj9BqJHrZ","client_secret":"[REDACTED]","app_type":"rms","is_first_party":true,"is_token_endpoint_ip_header_trusted":true,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"token_endpoint_auth_method":"client_secret_basic","refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 349.257834ms
[...]
