---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccEventStreamAction","supported_triggers":[{"id":"event-stream","version":"v1"}],"code":"exports.onExecuteEventStream = async (event, api) =\u003e {};","runtime":"node22"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"afb9f8af-1bb4-4096-b4c7-50af4d19d2a4","name":"Test Action TestAccEventStreamAction","supported_triggers":[{"id":"event-stream","version":"v1"}],"created_at":"2026-03-11T14:34:45.035718809Z","updated_at":"2026-03-11T14:34:45.050767171Z","code":"exports.onExecuteEventStream = async (event, api) => {};","dependencies":[],"runtime":"node22","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 409.934042ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/afb9f8af-1bb4-4096-b4c7-50af4d19d2a4
        method: GET
      response:
        body: '{"id":"afb9f8af-1bb4-4096-b4c7-50af4d19d2a4","name":"Test Action TestAccEventStreamAction","supported_triggers":[{"id":"event-stream","version":"v1"}],"created_at":"2026-03-11T14:34:45.035718809Z","updated_at":"2026-03-11T14:34:45.050767171Z","code":"exports.onExecuteEventStream = async (event, api) => {};","dependencies":[],"runtime":"node22","status":"built","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 326.501375ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/afb9f8af-1bb4-4096-b4c7-50af4d19d2a4/deploy
        method: POST
      response:
        body: '{"code":"exports.onExecuteEventStream = async (event, api) => {};","dependencies":[],"id":"9163d06e-ddc8-4738-b085-f87eb79c6aa7","deployed":false,"number":1,"secrets":[],"status":"built","created_at":"2026-03-11T14:34:45.725763312Z","updated_at":"2026-03-11T14:34:45.725763312Z","runtime":"node22","supported_triggers":[{"id":"event-stream","version":"v1"}],"action":{"id":"afb9f8af-1bb4-4096-b4c7-50af4d19d2a4","name":"Test Action TestAccEventStreamAction","supported_triggers":[{"id":"event-stream","version":"v1"}],"created_at":"2026-03-11T14:34:45.035718809Z","updated_at":"2026-03-11T14:34:45.035718809Z","all_changes_deployed":false}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 344.882333ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/afb9f8af-1bb4-4096-b4c7-50af4d19d2a4
        method: GET
      response:
        body: '{"id":"afb9f8af-1bb4-4096-b4c7-50af4d19d2a4","name":"Test Action TestAccEventStreamAction","supported_triggers":[{"id":"event-stream","version":"v1"}],"created_at":"2026-03-11T14:34:45.035718809Z","updated_at":"2026-03-11T14:34:45.050767171Z","code":"exports.onExecuteEventStream = async (event, api) => {};","dependencies":[],"runtime":"node22","status":"built","secrets":[],"current_version":{"id":"9163d06e-ddc8-4738-b085-f87eb79c6aa7","code":"exports.onExecuteEventStream = async (event, api) => {};","runtime":"node22","status":"BUILT","number":1,"build_time":"2026-03-11T14:34:45.798037203Z","created_at":"2026-03-11T14:34:45.725763312Z","updated_at":"2026-03-11T14:34:45.799239138Z"},"deployed_version":{"code":"exports.onExecuteEventStream = async (event, api) => {};","dependencies":[],"id":"9163d06e-ddc8-4738-b085-f87eb79c6aa7","deployed":true,"number":1,"built_at":"2026-03-11T14:34:45.798037203Z","secrets":[],"status":"built","created_at":"2026-03-11T14:34:45.725763312Z","updated_at":"2026-03-11T14:34:45.799239138Z","runtime":"node22","supported_triggers":[{"id":"event-stream","version":"v1"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 613.167792ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"TestAccEventStreamAction-my-action","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"destination":{"type":"action","configuration":{"action_id":"afb9f8af-1bb4-4096-b4c7-50af4d19d2a4"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams
        method: POST
      response:
        body: '{"id":"est_aTzV7w3RuUVN15rYX94Wq3","status":"enabled","name":"TestAccEventStreamAction-my-action","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2026-03-11T14:34:46.691Z","updated_at":"2026-03-11T14:34:46.691Z","destination":{"type":"action","configuration":{"action_id":"afb9f8af-1bb4-4096-b4c7-50af4d19d2a4"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 421.438375ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams/est_aTzV7w3RuUVN15rYX94Wq3
        method: GET
      response:
        body: '{"id":"est_aTzV7w3RuUVN15rYX94Wq3","status":"enabled","name":"TestAccEventStreamAction-my-action","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2026-03-11T14:34:46.691Z","updated_at":"2026-03-11T14:34:46.691Z","destination":{"type":"action","configuration":{"action_id":"afb9f8af-1bb4-4096-b4c7-50af4d19d2a4"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 312.286958ms
[...]
    - id: 15
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/afb9f8af-1bb4-4096-b4c7-50af4d19d2a4
        method: DELETE
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"That action does not exist."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 306.733167ms
