---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-AD-TestAccConnectionAD","strategy":"ad","show_as_button":true,"options":{"strategy_version":2,"tenant_domain":"example.com","domain_aliases":["api.example.com","example.com"],"ips":["192.168.1.1","192.168.1.2"],"brute_force_protection":true,"non_persistent_attrs":["ethnicity","gender"],"upstream_params":{"screen_name":{"alias":"login_hint"}},"disable_self_service_change_password":false}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_6iLGwBoauOV8BxNJ","options":{"strategy_version":2,"tenant_domain":"example.com","domain_aliases":["api.example.com","example.com"],"ips":["192.168.1.1","192.168.1.2"],"brute_force_protection":true,"non_persistent_attrs":["ethnicity","gender"],"upstream_params":{"screen_name":{"alias":"login_hint"}},"disable_self_service_change_password":false},"strategy":"ad","name":"Acceptance-Test-AD-TestAccConnectionAD","provisioning_ticket_url":"https://terraform-provider-auth0-dev.sus.auth0.com/p/ad/yax4NwZcnzZimnKlJydanQjgVElR67VS","is_domain_connection":false,"show_as_button":true,"enabled_clients":[],"realms":["Acceptance-Test-AD-TestAccConnectionAD"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 350.431459ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_6iLGwBoauOV8BxNJ
        method: GET
      response:
        body: '{"id":"con_6iLGwBoauOV8BxNJ","options":{"ips":["192.168.1.1","192.168.1.2"],"tenant_domain":"example.com","domain_aliases":["api.example.com","example.com"],"upstream_params":{"screen_name":{"alias":"login_hint"}},"strategy_version":2,"non_persistent_attrs":["ethnicity","gender"],"brute_force_protection":true,"disable_self_service_change_password":false},"strategy":"ad","name":"Acceptance-Test-AD-TestAccConnectionAD","provisioning_ticket_url":"https://terraform-provider-auth0-dev.sus.auth0.com/p/ad/yax4NwZcnzZimnKlJydanQjgVElR67VS","is_domain_connection":false,"show_as_button":true,"enabled_clients":[],"realms":["Acceptance-Test-AD-TestAccConnectionAD"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 323.447333ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"show_as_button":true,"options":{"tenant_domain":"example.com","domain_aliases":["api.example.com","example.com"],"ips":["192.168.1.1","192.168.1.2"],"brute_force_protection":true,"set_user_root_attributes":"on_first_login","non_persistent_attrs":["ethnicity","gender"],"upstream_params":{"screen_name":{"alias":"login_hint"}},"disable_self_service_change_password":true}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_6iLGwBoauOV8BxNJ
        method: PATCH
      response:
        body: '{"id":"con_6iLGwBoauOV8BxNJ","options":{"ips":["192.168.1.1","192.168.1.2"],"tenant_domain":"example.com","domain_aliases":["api.example.com","example.com"],"upstream_params":{"screen_name":{"alias":"login_hint"}},"non_persistent_attrs":["ethnicity","gender"],"brute_force_protection":true,"set_user_root_attributes":"on_first_login","disable_self_service_change_password":true},"strategy":"ad","name":"Acceptance-Test-AD-TestAccConnectionAD","provisioning_ticket_url":"https://terraform-provider-auth0-dev.sus.auth0.com/p/ad/yax4NwZcnzZimnKlJydanQjgVElR67VS","is_domain_connection":false,"show_as_button":true,"enabled_clients":[],"realms":["Acceptance-Test-AD-TestAccConnectionAD"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 369.507625ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_6iLGwBoauOV8BxNJ
        method: DELETE
      response:
        body: '{"deleted_at":"2025-01-29T05:48:45.625Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 322.399625ms
