---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: GET
      response:
        body: '{"allowed_logout_urls":["https://mycompany.org/logoutCallback"],"acr_values_supported":["bar","foo"],"change_password":{"enabled":true,"html":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n  <title>Change your password</title>\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no\" />\n\n  <style type=\"text/css\">\n    body,html{\n      padding:0;\n      margin:0;\n    }\n    .table{\n      display:table;\n      position:absolute;\n      height:100%;\n      width:100%;\n      {% unless tenant.colors.page_background %}\n        background:linear-gradient(rgba(255,255,255,.3),rgba(255,255,255,0));\n      {% endunless %}\n      background-color: {{tenant.colors.page_background | default: ''#e8ebef''}};\n    }\n    .cell{\n      display:table-cell;\n      vertical-align:middle;\n    }\n    .content{\n      padding:25px 0;\n      margin-left:auto;\n      margin-right:auto;\n      width:280px;\n    }\n  </style>\n\n\n</head>\n<body>\n  <div class=\"table\">\n    <div class=\"cell\">\n      <div class=\"content\">\n        <!-- WIDGET -->\n        <div id=\"change-password-widget-container\"></div>\n        <!-- END WIDGET -->\n      </div>\n    </div>\n  </div>\n\n  <script src=\"https://cdn.auth0.com/js/change-password-1.5.min.js\"></script>\n\n  <script>\n    new Auth0ChangePassword({\n      container:         \"change-password-widget-container\",                // required\n      email:             \"{{email | escape}}\",                              // DO NOT CHANGE THIS\n      csrf_token:        \"{{csrf_token}}\",                                  // DO NOT CHANGE THIS\n      ticket:            \"{{ticket}}\",                                      // DO NOT CHA[...]
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"session_lifetime":168,"idle_session_lifetime":72}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"allowed_logout_urls":["https://mycompany.org/logoutCallback"],"acr_values_supported":["bar","foo"],"change_password":{"enabled":true,"html":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,[...]
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"mtls":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"allowed_logout_urls":["https://mycompany.org/logoutCallback"],"acr_values_supported":["bar","foo"],"change_password":{"enabled":true,"html":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edg[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"error_page":null}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
        method: PATCH
      response:
        body: '{"allowed_logout_urls":["https://mycompany.org/logoutCallback"],"acr_values_supported":["bar","foo"],"change_password":{"enabled":true,"html":"<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\">\n  <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edg[...]
[...]
