---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Reader - testaccorganizationmemberrole"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles
        method: POST
      response:
        body: '{"id":"rol_60uuuh6AzMOvNeEc","name":"Test Reader - testaccorganizationmemberrole","description":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 811.623584ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_60uuuh6AzMOvNeEc
        method: GET
      response:
        body: '{"id":"rol_60uuuh6AzMOvNeEc","name":"Test Reader - testaccorganizationmemberrole","description":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 396.037334ms
[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_Yx7kSH1zslVmylQO
        method: GET
      response:
        body: '{"id":"rol_Yx7kSH1zslVmylQO","name":"Test Writer - testaccorganizationmemberrole","description":null}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 305.023584ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"testaccorganizationmemberrole@auth0.com","username":"testaccorganizationmemberrole","password":"MyPass123$"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"created_at":"2024-05-27T09:37:44.210Z","email":"testaccorganizationmemberrole@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"66545468e539b35aea9551f3","provider":"auth0","isSocial":false}],"name":"testaccorganizationmemberrole@auth0.com","nickname":"testaccorganizationmemberrole","picture":"https://s.gravatar.com/avatar/2f292cb29015c947ee6a3701a1871127?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2024-05-27T09:37:44.210Z","user_id":"auth0|66545468e539b35aea9551f3","username":"testaccorganizationmemberrole"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 441.516292ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C66545468e539b35aea9551f3
        method: GET
      response:
        body: '{"created_at":"2024-05-27T09:37:44.210Z","email":"testaccorganizationmemberrole@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"66545468e539b35aea9551f3","provider":"auth0","isSocial":false}],"name":"testaccorganizationmemberrole@auth0.com","nickname":"testaccorganizationmemberrole","picture":"https://s.gravatar.com/avatar/2f292cb29015c947ee6a3701a1871127?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2024-05-27T09:37:44.210Z","user_id":"auth0|66545468e539b35aea9551f3","username":"testaccorganizationmemberrole"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 304.866667ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"some-org-testaccorganizationmemberrole","display_name":"testaccorganizationmemberrole"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_7LG73xnvjDFIaESb","display_name":"testaccorganizationmemberrole","name":"some-org-testaccorganizationmemberrole"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 311.497083ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_7LG73xnvjDFIaESb
        method: GET
      response:
        body: '{"id":"org_7LG73xnvjDFIaESb","name":"some-org-testaccorganizationmemberrole","display_name":"testaccorganizationmemberrole"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 298.653583ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"members":["auth0|66545468e539b35aea9551f3"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_7LG73xnvjDFIaESb/members
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 316.664042ms
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_7LG73xnvjDFIaESb/members?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"members":[{"user_id":"auth0|66545468e539b35aea9551f3","email":"testaccorganizationmemberrole@auth0.com","picture":"https://s.gravatar.com/avatar/2f292cb29015c947ee6a3701a1871127?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","name":"testaccorganizationmemberrole@auth0.com"}],"start":0,"limit":50,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 320.688458ms
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"roles":["rol_60uuuh6AzMOvNeEc"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_7LG73xnvjDFIaESb/members/auth0%7C66545468e539b35aea9551f3/roles
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 293.177875ms
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_7LG73xnvjDFIaESb/members/auth0%7C66545468e539b35aea9551f3/roles?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"roles":[{"id":"rol_60uuuh6AzMOvNeEc","name":"Test Reader - testaccorganizationmemberrole","description":null}],"start":0,"limit":100,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 323.552792ms
[...]
