---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"aranusrii.acmetest.org"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/default
        method: PATCH
      response:
        body: '{"custom_domain_id":"cd_foY7ZREl6QwHZTf2","domain":"aranusrii.acmetest.org","primary":true,"is_default":true,"status":"ready","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"terraform-provider-auth0-dev-cd-foy7zrel6qwhztf2.edge.tenants.us.auth0.com","domain":"aranusrii.acmetest.org"}],"status":"verified","last_verified_at":"2026-03-12T09:23:36Z"},"tls_policy":"recommended","domain_metadata":{},"certificate":{"certificate_authority":"letsencrypt","renews_before":"2026-06-10T08:29:55Z","status":"provisioned"},"created_at":"2026-03-12T09:23:36.326Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 359.200583ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"aranusrii2.acmetest.org"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/default
        method: PATCH
      response:
        body: '{"statusCode":400,"error":"Bad Request","message":"The domain must be verified before it can be set as default.","errorCode":"invalid_body"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 324.840584ms
