---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-LogStream-aws-pii-TestAccLogStreamEventBridgePIIConfigPreservedOnFilterChange","type":"eventbridge","filters":[{"name":"auth.login.success","type":"category"},{"name":"auth.logout.success","type":"category"}],"pii_config":{"log_fields":["first_name","email"],"method":"hash","algorithm":"xxhash"},"sink":{"awsAccountId":"999999999999","awsRegion":"us-west-2"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams
        method: POST
      response:
        body: '{"id":"lst_0000000000005744","name":"Acceptance-Test-LogStream-aws-pii-TestAccLogStreamEventBridgePIIConfigPreservedOnFilterChange","type":"eventbridge","status":"active","sink":{"awsAccountId":"999999999999","awsRegion":"us-west-2","awsPartnerEventSource":"aws.partner/auth0.com/terraform-provider-auth0-dev-8a8df80c-4e52-4e7e-b9fd-d337ab57ae5c/auth0.logs"},"filters":[{"name":"auth.login.success","type":"category"},{"name":"auth.logout.success","type":"category"}],"isPriority":false,"pii_config":{"log_fields":["first_name","email"],"method":"hash","algorithm":"xxhash"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 762.677667ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000005744
        method: GET
      response:
        body: '{"id":"lst_0000000000005744","name":"Acceptance-Test-LogStream-aws-pii-TestAccLogStreamEventBridgePIIConfigPreservedOnFilterChange","type":"eventbridge","status":"active","sink":{"awsAccountId":"999999999999","awsRegion":"us-west-2","awsPartnerEventSource":"aws.partner/auth0.com/terraform-provider-auth0-dev-8a8df80c-4e52-4e7e-b9fd-d337ab57ae5c/auth0.logs"},"filters":[{"name":"auth.login.success","type":"category"},{"name":"auth.logout.success","type":"category"}],"isPriority":false,"pii_config":{"log_fields":["first_name","email"],"method":"hash","algorithm":"xxhash"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 310.38975ms
[...]
