---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Owner testaccuserrole","description":"Owner testaccuserrole"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles
        method: POST
      response:
        body: '{"id":"rol_STPNVWGwhuZAImEZ","name":"Test Owner testaccuserrole","description":"Owner testaccuserrole"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 318.617958ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_STPNVWGwhuZAImEZ
        method: GET
      response:
        body: '{"id":"rol_STPNVWGwhuZAImEZ","name":"Test Owner testaccuserrole","description":"Owner testaccuserrole"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 471.15425ms
[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_Rim46ssCEIXTTxAj
        method: GET
      response:
        body: '{"id":"rol_Rim46ssCEIXTTxAj","name":"Test Admin testaccuserrole","description":"Administrator testaccuserrole"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 186.905792ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"testaccuserrole@acceptance.test.com","username":"testaccuserrole","password":"passpass$12$12"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"created_at":"2023-12-19T14:00:17.435Z","email":"testaccuserrole@acceptance.test.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"6581a1f11c2a8abf544cc91c","provider":"auth0","isSocial":false}],"name":"testaccuserrole@acceptance.test.com","nickname":"testaccuserrole","picture":"https://s.gravatar.com/avatar/03852bc69e4a3603ec066b4cc4e25707?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2023-12-19T14:00:17.435Z","user_id":"auth0|6581a1f11c2a8abf544cc91c","username":"testaccuserrole"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 336.956583ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C6581a1f11c2a8abf544cc91c
        method: GET
      response:
        body: '{"created_at":"2023-12-19T14:00:17.435Z","email":"testaccuserrole@acceptance.test.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"6581a1f11c2a8abf544cc91c","provider":"auth0","isSocial":false}],"name":"testaccuserrole@acceptance.test.com","nickname":"testaccuserrole","picture":"https://s.gravatar.com/avatar/03852bc69e4a3603ec066b4cc4e25707?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2023-12-19T14:00:17.435Z","user_id":"auth0|6581a1f11c2a8abf544cc91c","username":"testaccuserrole"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 135.911834ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"roles":["rol_STPNVWGwhuZAImEZ"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C6581a1f11c2a8abf544cc91c/roles
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 252.260458ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C6581a1f11c2a8abf544cc91c/roles?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"roles":[{"id":"rol_STPNVWGwhuZAImEZ","name":"Test Owner testaccuserrole","description":"Owner testaccuserrole"}],"start":0,"limit":50,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 201.979417ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C6581a1f11c2a8abf544cc91c/roles?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"roles":[{"id":"rol_STPNVWGwhuZAImEZ","name":"Test Owner testaccuserrole","description":"Owner testaccuserrole"}],"start":0,"limit":100,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 397.009792ms
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C6581a1f11c2a8abf544cc91c/permissions?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"permissions":[],"start":0,"limit":100,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 300.756ms
[...]
