---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-org-acceptance-testing","display_name":"Test Org Acceptance Testing"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_NN7mUlRbzristQLB","display_name":"Test Org Acceptance Testing","name":"test-org-acceptance-testing"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 563.161583ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_NN7mUlRbzristQLB
        method: GET
      response:
        body: '{"id":"org_NN7mUlRbzristQLB","name":"test-org-acceptance-testing","display_name":"Test Org Acceptance Testing"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 487.162458ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Example API","identifier":"https://api.travel00123.com/"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"69708e1c75735b2c4c557a25","name":"Example API","identifier":"https://api.travel00123.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 595.187ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/69708e1c75735b2c4c557a25
        method: GET
      response:
        body: '{"id":"69708e1c75735b2c4c557a25","name":"Example API","identifier":"https://api.travel00123.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"subject_type_authorization":{"client":{"policy":"require_client_grant"},"user":{"policy":"allow_all"}},"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 429.177ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test_client","organization_usage":"allow","default_organization":{"flows":["client_credentials"],"organization_id":"org_NN7mUlRbzristQLB"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"test_client","client_id":"raNiKK2WmU8L2MEAtDIENfkSkf3yo51w","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"organization_usage":"allow","default_organization":{"flows":["client_credentials"],"organization_id":"org_NN7mUlRbzristQLB"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 749.631416ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/raNiKK2WmU8L2MEAtDIENfkSkf3yo51w
        method: GET
      response:
        body: '{"name":"test_client","client_id":"raNiKK2WmU8L2MEAtDIENfkSkf3yo51w","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000},"organization_usage":"allow","default_organization":{"flows":["client_credentials"],"organization_id":"org_NN7mUlRbzristQLB"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 470.900042ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants?audience=https%3A%2F%2Fapi.travel00123.com%2F&client_id=raNiKK2WmU8L2MEAtDIENfkSkf3yo51w&include_totals=true&per_page=50
        method: GET
      response:
        body: '{"total":0,"start":0,"limit":50,"client_grants":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 478.999458ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"client_id":"raNiKK2WmU8L2MEAtDIENfkSkf3yo51w","audience":"https://api.travel00123.com/","scope":["create:organization_client_grants","create:resource"],"allow_any_organization":true,"organization_usage":"allow"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants
        method: POST
      response:
        body: '{"id":"cgr_Q6s8pMSmWXNsHvb7","client_id":"raNiKK2WmU8L2MEAtDIENfkSkf3yo51w","audience":"https://api.travel00123.com/","scope":["create:organization_client_grants","create:resource"],"organization_usage":"allow","allow_any_organization":true,"subject_type":"client"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 564.252417ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/client-grants/cgr_Q6s8pMSmWXNsHvb7
        method: GET
      response:
        body: '{"id":"cgr_Q6s8pMSmWXNsHvb7","client_id":"raNiKK2WmU8L2MEAtDIENfkSkf3yo51w","audience":"https://api.travel00123.com/","scope":["create:organization_client_grants","create:resource"],"organization_usage":"allow","allow_any_organization":true,"subject_type":"client"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 432.081292ms
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"grant_id":"cgr_Q6s8pMSmWXNsHvb7"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_NN7mUlRbzristQLB/client-grants
        method: POST
      response:
        body: '{"grant_id":"cgr_Q6s8pMSmWXNsHvb7","client_id":"raNiKK2WmU8L2MEAtDIENfkSkf3yo51w","audience":"https://api.travel00123.com/","scope":["create:organization_client_grants","create:resource"],"organization_usage":"allow","allow_any_organization":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 441.306333ms
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_NN7mUlRbzristQLB/client-grants?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"client_grants":[{"id":"cgr_Q6s8pMSmWXNsHvb7","client_id":"raNiKK2WmU8L2MEAtDIENfkSkf3yo51w","audience":"https://api.travel00123.com/","scope":["create:organization_client_grants","create:resource"],"organization_usage":"allow","allow_any_organization":true,"subject_type":"client"}],"start":0,"limit":50,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 439.923083ms
[...]
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_NN7mUlRbzristQLB/enabled_connections?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"enabled_connections":[],"start":0,"limit":0,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 427.531917ms
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_NN7mUlRbzristQLB/members?fields=user_id&include_fields=true&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 433.89825ms
[...]
    - id: 28
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_NN7mUlRbzristQLB/client-grants/cgr_Q6s8pMSmWXNsHvb7
        method: DELETE
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 424.668334ms
[...]
