---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"Auth0 Managed NotMatch Sibling - TestAccNetworkACLAuth0ManagedBlockPlacement","active":true,"priority":7,"rule":{"action":{"block":true},"match":{"asns":[9453]},"not_match":{"auth0_managed":["auth0.low_reputation"]},"scope":"authentication"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls
        method: POST
      response:
        body: '{"description":"Auth0 Managed NotMatch Sibling - TestAccNetworkACLAuth0ManagedBlockPlacement","active":true,"priority":7,"rule":{"match":{"asns":[9453]},"scope":"authentication","action":{"block":true},"not_match":{"auth0_managed":["auth0.low_reputation"]}},"created_at":"2026-07-30T11:42:06.851Z","updated_at":"2026-07-30T11:42:06.851Z","id":"acl_qYU5FiBJDVAfYAZkHFRYAh"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 304.34325ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_qYU5FiBJDVAfYAZkHFRYAh
        method: GET
      response:
        body: '{"tenant_id":"terraform-provider-auth0-dev","description":"Auth0 Managed NotMatch Sibling - TestAccNetworkACLAuth0ManagedBlockPlacement","active":true,"priority":7,"rule":{"match":{"asns":[9453]},"scope":"authentication","action":{"block":true},"not_match":{"auth0_managed":["auth0.low_reputation"]}},"created_at":"2026-07-30T11:42:06.851Z","updated_at":"2026-07-30T11:42:06.851Z","deleted_at":null,"id":"acl_qYU5FiBJDVAfYAZkHFRYAh"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 274.958875ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_qYU5FiBJDVAfYAZkHFRYAh
        method: DELETE
      response:
        body: '{"code":204,"object":""}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 315.28375ms
