---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"enabled":true,"shields":["block"],"allowlist":["127.0.0.1"],"mode":"count_per_identifier_and_ip","max_attempts":5}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/attack-protection/brute-force-protection
        method: PATCH
      response:
        body: '{"enabled":true,"shields":["block"],"mode":"count_per_identifier_and_ip","allowlist":["127.0.0.1"],"max_attempts":5}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 338.192333ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"bot_detection_level":"low","challenge_password_policy":"when_risky","challenge_passwordless_policy":"when_risky","challenge_password_reset_policy":"when_risky","allowlist":["127.0.0.1"],"monitoring_mode_enabled":true}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/attack-protection/bot-detection
        method: PATCH
      response:
        body: '{"statusCode":403,"error":"Forbidden","message":"Please upgrade your subscription to use bot detection","errorCode":"insufficient_entitlement"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 403 Forbidden
        code: 403
        duration: 316.934083ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/attack-protection/breached-password-detection
        method: GET
      response:
        body: '{"enabled":false,"shields":[],"admin_notification_frequency":[],"method":"standard","stage":{"pre-user-registration":{"shields":[]},"pre-change-password":{"shields":[]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 298.1555ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/attack-protection/suspicious-ip-throttling
        method: GET
      response:
        body: '{"enabled":false,"shields":["block","admin_notification"],"allowlist":["192.168.1.1"],"stage":{"pre-login":{"max_attempts":5,"rate":864000},"pre-user-registration":{"max_attempts":5,"rate":1200}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 306.358167ms
[...]
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/attack-protection/captcha
        method: GET
      response:
        body: '{"statusCode":403,"error":"Forbidden","message":"Please upgrade your subscription to use bot detection","errorCode":"insufficient_entitlement"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 403 Forbidden
        code: 403
        duration: 281.654375ms
[...]
