---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-org-testaccorganizationclient","display_name":"Test Org testaccorganizationclient"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_5x1526nwk8jdGO4h","display_name":"Test Org testaccorganizationclient","name":"test-org-testaccorganizationclient","third_party_client_access":"block","is_app_entitlement_active":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 325.639666ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-client-testaccorganizationclient"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"test-client-testaccorganizationclient","client_id":"2hqbTROaBn4VGTJTDfL7GzwggKKoTaD9","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 533.73675ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_5x1526nwk8jdGO4h
        method: GET
      response:
        body: '{"id":"org_5x1526nwk8jdGO4h","name":"test-org-testaccorganizationclient","display_name":"Test Org testaccorganizationclient","third_party_client_access":"block","is_app_entitlement_active":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 309.57675ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/2hqbTROaBn4VGTJTDfL7GzwggKKoTaD9
        method: GET
      response:
        body: '{"name":"test-client-testaccorganizationclient","client_id":"2hqbTROaBn4VGTJTDfL7GzwggKKoTaD9","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_authentication":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 311.440375ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"clients":[{"client_id":"2hqbTROaBn4VGTJTDfL7GzwggKKoTaD9","use_for_member_access":true}]}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_5x1526nwk8jdGO4h/clients
        method: POST
      response:
        body: '[{"client_id":"2hqbTROaBn4VGTJTDfL7GzwggKKoTaD9","use_for_member_access":true,"client":{"name":"test-client-testaccorganizationclient","is_first_party":true,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"]}}]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 317.010875ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_5x1526nwk8jdGO4h/clients/2hqbTROaBn4VGTJTDfL7GzwggKKoTaD9
        method: GET
      response:
        body: '{"client_id":"2hqbTROaBn4VGTJTDfL7GzwggKKoTaD9","use_for_member_access":true,"client":{"name":"test-client-testaccorganizationclient","is_first_party":true,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"]}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 292.708792ms
[...]
    - id: 14
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_5x1526nwk8jdGO4h/clients?take=50
        method: GET
      response:
        body: '{"clients":[{"client_id":"2hqbTROaBn4VGTJTDfL7GzwggKKoTaD9","use_for_member_access":false,"client":{"name":"test-client-testaccorganizationclient","is_first_party":true,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"]}}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 298.550709ms
[...]
