---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/a35e5b88-7a3e-4e7a-9a3d-4e0f3b4d95d2
        method: GET
      response:
        body: '{"id":"a35e5b88-7a3e-4e7a-9a3d-4e0f3b4d95d2","name":"Test Action testaccimporttriggeraction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-06-01T18:32:59.066082388Z","updated_at":"2023-06-01T18:32:59.072958437Z","code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"runtime":"node16","status":"built","secrets":[],"current_version":{"id":"5ba4e854-f4ba-48b0-981b-706198317284","code":"exports.onExecutePostLogin = async (event, api) => {};","runtime":"node16","status":"BUILT","number":1,"build_time":"2023-06-01T18:32:59.397672004Z","created_at":"2023-06-01T18:32:59.355800899Z","updated_at":"2023-06-01T18:32:59.398017135Z"},"deployed_version":{"code":"exports.onExecutePostLogin = async (event, api) => {};","dependencies":[],"id":"5ba4e854-f4ba-48b0-981b-706198317284","deployed":true,"number":1,"built_at":"2023-06-01T18:32:59.397672004Z","secrets":[],"status":"built","created_at":"2023-06-01T18:32:59.355800899Z","updated_at":"2023-06-01T18:32:59.398017135Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 110.785417ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings?per_page=50
        method: GET
      response:
        body: '{"bindings":[{"id":"8687733d-870b-4f91-b652-fa4d77e2f7e0","trigger_id":"post-login","action":{"id":"3b131daf-af26-4fbc-88a0-d0f93d71ad11","name":"Test action","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-06-01T12:58:38.597019453Z","updated_at":"2023-06-01T12:58:38.597019453Z","current_version":{"id":"cd23b93f-3ecf-415a-9f91-54dd450f8ca9","code":"/**\n* Handler that will be called during the execution of a PostLogin flow.\n*\n* @param {Event} event - Details about the user and the context in which they are logging in.\n* @param {PostLoginAPI} api - Interfa[...]
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"bindings":[{"ref":{"type":"action_id","value":"3b131daf-af26-4fbc-88a0-d0f93d71ad11"}},{"ref":{"type":"action_id","value":"3b131daf-af26-4fbc-88a0-d0f93d71ad11"}},{"ref":{"type":"action_id","value":"D1AD7CCF-7BAB-417F-91C0-563595A916D8"}},{"ref":{"type":"action_id","value":"6daca728-99c7-4448-b8d1-4e1329c88671"}}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/triggers/post-login/bindings
        method: PATCH
     [...]
[...]
