---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"TestAccEventStream-my-eventbridge","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"destination":{"type":"eventbridge","configuration":{"aws_account_id":"242849305777","aws_region":"us-east-1"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams
        method: POST
      response:
        body: '{"id":"est_2WY5jfL2LmN8c1jWSpP3vA","status":"enabled","name":"TestAccEventStream-my-eventbridge","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2025-12-20T20:00:20.554Z","updated_at":"2025-12-20T20:00:20.554Z","destination":{"type":"eventbridge","configuration":{"aws_region":"us-east-1","aws_account_id":"242849305777","aws_partner_event_source":"aws.partner/auth0.com/terraform-provider-auth0-dev-e930e253-311c-43e3-bf87-bd08e9d42d48/auth0.events"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.132717167s
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams/est_2WY5jfL2LmN8c1jWSpP3vA
        method: GET
      response:
        body: '{"id":"est_2WY5jfL2LmN8c1jWSpP3vA","status":"enabled","name":"TestAccEventStream-my-eventbridge","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2025-12-20T20:00:20.554Z","updated_at":"2025-12-20T20:00:20.554Z","destination":{"type":"eventbridge","configuration":{"aws_region":"us-east-1","aws_account_id":"242849305777","aws_partner_event_source":"aws.partner/auth0.com/terraform-provider-auth0-dev-e930e253-311c-43e3-bf87-bd08e9d42d48/auth0.events"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 434.21575ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"TestAccEventStream-my-webhook","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"destination":{"type":"webhook","configuration":{"webhook_authorization":{"method":"bearer","token":"123456789"},"webhook_endpoint":"https://eof28wtn4v4506o.m.pipedream.net"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams
        method: POST
      response:
        body: '{"id":"est_oSaBTLwLXxvTK5o2xw4TZR","status":"enabled","name":"TestAccEventStream-my-webhook","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2025-12-20T20:00:27.634Z","updated_at":"2025-12-20T20:00:27.634Z","destination":{"type":"webhook","configuration":{"webhook_endpoint":"https://eof28wtn4v4506o.m.pipedream.net","webhook_authorization":{"method":"bearer"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 411.566667ms
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams/est_oSaBTLwLXxvTK5o2xw4TZR
        method: GET
      response:
        body: '{"id":"est_oSaBTLwLXxvTK5o2xw4TZR","status":"enabled","name":"TestAccEventStream-my-webhook","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2025-12-20T20:00:27.634Z","updated_at":"2025-12-20T20:00:27.634Z","destination":{"type":"webhook","configuration":{"webhook_endpoint":"https://eof28wtn4v4506o.m.pipedream.net","webhook_authorization":{"method":"bearer"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 361.104834ms
[...]
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"TestAccEventStream-my-webhook-updated","subscriptions":[{"event_type":"user.updated"}],"destination":{"type":"webhook","configuration":{"webhook_authorization":{"method":"basic","password":"securepass","username":"admin"},"webhook_endpoint":"https://webhook.site/updated-endpoint"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams/est_oSaBTLwLXxvTK5o2xw4TZR
        method: PATCH
      response:
        body: '{"id":"est_oSaBTLwLXxvTK5o2xw4TZR","status":"enabled","name":"TestAccEventStream-my-webhook-updated","subscriptions":[{"event_type":"user.updated"}],"created_at":"2025-12-20T20:00:27.634Z","updated_at":"2025-12-20T20:00:31.111Z","destination":{"type":"webhook","configuration":{"webhook_endpoint":"https://webhook.site/updated-endpoint","webhook_authorization":{"method":"basic","username":"admin"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 406.345416ms
[...]
