---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_xxxxxxxxxxxxxxxx/scim-configuration
        method: POST
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"The connection does not exist","errorCode":"inexistent_connection"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 390.905ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Non-SCIM-Connection-TestAccSCIMConfiguration","display_name":"Acceptance-Test-Non-SCIM-TestAccSCIMConfiguration","strategy":"auth0"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_nuuGKdCBu48DXrX3","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"authentication_methods":{"password":{"enabled":true},"passkey":{"enabled":false}},"passkey_options":{"challenge_ui":"both","progressive_enrollment_enabled":true,"local_enrollment_enabled":true},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Non-SCIM-Connection-TestAccSCIMConfiguration","is_domain_connection":false,"display_name":"Acceptance-Test-Non-SCIM-TestAccSCIMConfiguration","enabled_clients":[],"realms":["Acceptance-Test-Non-SCIM-Connection-TestAccSCIMConfiguration"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 327.343083ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_nuuGKdCBu48DXrX3
        method: GET
      response:
        body: '{"id":"con_nuuGKdCBu48DXrX3","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","passkey_options":{"challenge_ui":"both","local_enrollment_enabled":true,"progressive_enrollment_enabled":true},"strategy_version":2,"authentication_methods":{"passkey":{"enabled":false},"password":{"enabled":true}},"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Non-SCIM-Connection-TestAccSCIMConfiguration","is_domain_connection":false,"display_name":"Acceptance-Test-Non-SCIM-TestAccSCIMConfiguration","enabled_clients":[],"realms":["Acceptance-Test-Non-SCIM-Connection-TestAccSCIMConfiguration"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 319.035583ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_nuuGKdCBu48DXrX3/scim-configuration
        method: POST
      response:
        body: '{"statusCode":404,"error":"Not Found","message":"This connection type does not support SCIM. Please see our documentation for the currently supported connection types: https://auth0.com/docs/authenticate/protocols/scim/configure-inbound-scim."}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 404 Not Found
        code: 404
        duration: 337.070459ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_nuuGKdCBu48DXrX3
        method: DELETE
      response:
        body: '{"deleted_at":"2025-05-06T04:11:00.978Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 375.32225ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-SCIM-Connection-TestAccSCIMConfiguration","display_name":"Acceptance-Test-SCIM-TestAccSCIMConfiguration","strategy":"okta","options":{"client_id":"1234567","client_secret":"1234567","authorization_endpoint":"https://example.okta.com/oauth2/v1/authorize","issuer":"https://example.okta.com","jwks_uri":"https://example.okta.com/oauth2/v1/keys","userinfo_endpoint":null,"token_endpoint":"https://example.okta.com/oauth2/v1/token","scope":"email openid profile"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_mVCaBewj77K7HKZS","options":{"client_id":"1234567","client_secret":"1234567","authorization_endpoint":"https://example.okta.com/oauth2/v1/authorize","issuer":"https://example.okta.com","jwks_uri":"https://example.okta.com/oauth2/v1/keys","userinfo_endpoint":null,"token_endpoint":"https://example.okta.com/oauth2/v1/token","scope":"email openid profile","schema_version":"oidc-V4","type":"back_channel","attribute_map":{"mapping_mode":"basic_profile"},"connection_settings":{"pkce":"auto"}},"strategy":"okta","name":"Acceptance-Test-SCIM-Connection-TestAccSCIMConfiguration","is_domain_connection":false,"show_as_button":false,"display_name":"Acceptance-Test-SCIM-TestAccSCIMConfiguration","enabled_clients":[],"realms":["Acceptance-Test-SCIM-Connection-TestAccSCIMConfiguration"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 491.5625ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_mVCaBewj77K7HKZS
        method: GET
      response:
        body: '{"id":"con_mVCaBewj77K7HKZS","options":{"type":"back_channel","scope":"email openid profile","issuer":"https://example.okta.com","jwks_uri":"https://example.okta.com/oauth2/v1/keys","client_id":"1234567","attribute_map":{"mapping_mode":"basic_profile"},"client_secret":"1234567","schema_version":"oidc-V4","token_endpoint":"https://example.okta.com/oauth2/v1/token","userinfo_endpoint":null,"connection_settings":{"pkce":"auto"},"authorization_endpoint":"https://example.okta.com/oauth2/v1/authorize"},"strategy":"okta","name":"Acceptance-Test-SCIM-Connection-TestAccSCIMConfiguration","is_domain_connection":false,"show_as_button":false,"display_name":"Acceptance-Test-SCIM-TestAccSCIMConfiguration","enabled_clients":[],"realms":["Acceptance-Test-SCIM-Connection-TestAccSCIMConfiguration"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 359.9065ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_mVCaBewj77K7HKZS/scim-configuration
        method: POST
      response:
        body: '{"tenant_name":"terraform-provider-auth0-dev","connection_id":"con_mVCaBewj77K7HKZS","connection_name":"Acceptance-Test-SCIM-Connection-TestAccSCIMConfiguration","strategy":"okta","mapping":[{"scim":"userName","auth0":"preferred_username"},{"scim":"emails[primary eq true].value","auth0":"email"},{"scim":"externalId","auth0":"app_metadata.external_id"},{"scim":"active","auth0":"blocked"},{"scim":"displayName","auth0":"name"},{"scim":"name.givenName","auth0":"given_name"},{"scim":"name.familyName","auth0":"family_name"},{"scim":"name.middleName","auth0":"app_metadata.middle_name"},{"scim":"name.honorificPrefix","auth0":"app_metadata.honorific_prefix"},{"scim":"name.honorificSuffix","auth0":"app_metadata.honorif[...]
[...]
    - id: 15
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_mVCaBewj77K7HKZS/scim-configuration/default-mapping
        method: GET
      response:
        body: '{"mapping":[{"auth0":"preferred_username","scim":"userName"},{"auth0":"email","scim":"emails[primary eq true].value[...]
[...]
    - id: 19
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"user_id_attribute":"test_attribute","mapping":[{"auth0":"attr_auth0_1","scim":"scim_1"},{"auth0":"attr_auth0_2","scim":"scim_2"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_mVCaBewj77K7HKZS/scim-configuration
        method: POST
      response:
        body: '{"tenant_name":"terraform-provider-auth0-dev","connection_id":"con_mVCaBewj77K7HKZS","connection_name":"Acceptance-Test-SCIM-Connection-TestAccSCIMConfiguration","strategy":"okta","mapping":[{"scim":"scim_1","auth0":"attr_auth0_1"},{"scim":"scim_2","auth0":"attr_auth0_2"}],"updated_on":"2025-05-06T04:11:08.562Z","created_at":"2025-05-06T04:11:08.562Z","user_id_attribute":"test_attribute"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 355.110959ms
[...]
