---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"keys":[{"kid":"5bfb6eaa-cfb4-43ac-9398-ccfb138159a1","type":"tenant-master-key","state":"active","created_at":"2024-09-20T20:30:56.154Z","updated_at":"2024-09-20T20:30:56.154Z","parent_kid":"51239e1c-b53c-441b-99c8-66bcdfda7e14"},{"kid":"51239e1c-b53c-441b-99c8-66bcdfda7e14","type":"environment-root-key","state":"active","created_at":"2024-09-20T19:10:35.858Z","updated_at":"2024-09-20T19:10:35.858Z","parent_kid":null},{"kid":"b437af51-6250-4823-a3bd-33e4696a35d6","type":"tenant-master-key","state":"destroyed","created_at":"2024-09-20T19:10:35.858Z","updated_at":"2024-09-20T20:30:56.395Z","parent_kid":"51239e1c-b53c-441b-99c8-66bcdfda7e14"}],"start":0,"limit":50,"total":3}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 215.077833ms
[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/encryption/rekey
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 415.061791ms
[...]
