---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"testaccorganizationmembers1@auth0.com","username":"testaccorganizationmembers11","password":"MyPass123$"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"created_at":"2023-12-19T13:47:10.048Z","email":"testaccorganizationmembers1@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"65819ede67699795f502025f","provider":"auth0","isSocial":false}],"name":"testaccorganizationmembers1@auth0.com","nickname":"testaccorganizationmembers1","picture":"https://s.gravatar.com/avatar/4f34aa9f8f57ca4c76491ba399a9d6c2?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2023-12-19T13:47:10.048Z","user_id":"auth0|65819ede67699795f502025f","username":"testaccorganizationmembers11"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 321.258459ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C65819ede67699795f502025f
        method: GET
      response:
        body: '{"created_at":"2023-12-19T13:47:10.048Z","email":"testaccorganizationmembers1@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"65819ede67699795f502025f","provider":"auth0","isSocial":false}],"name":"testaccorganizationmembers1@auth0.com","nickname":"testaccorganizationmembers1","picture":"https://s.gravatar.com/avatar/4f34aa9f8f57ca4c76491ba399a9d6c2?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2023-12-19T13:47:10.048Z","user_id":"auth0|65819ede67699795f502025f","username":"testaccorganizationmembers11"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 151.135125ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"some-org-testaccorganizationmembers","display_name":"testaccorganizationmembers"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"name":"some-org-testaccorganizationmembers","display_name":"testaccorganizationmembers","id":"org_kYo6bXR0fQ7C8xb2"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 386.858875ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_kYo6bXR0fQ7C8xb2
        method: GET
      response:
        body: '{"id":"org_kYo6bXR0fQ7C8xb2","name":"some-org-testaccorganizationmembers","display_name":"testaccorganizationmembers"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 261.939208ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"members":["auth0|65819ede67699795f502025f"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_kYo6bXR0fQ7C8xb2/members
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 457.498333ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_kYo6bXR0fQ7C8xb2/members?include_totals=true&per_page=50
        method: GET
      response:
        body: '{"members":[{"user_id":"auth0|65819ede67699795f502025f","email":"testaccorganizationmembers1@auth0.com","picture":"https://s.gravatar.com/avatar/4f34aa9f8f57ca4c76491ba399a9d6c2?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","name":"testaccorganizationmembers1@auth0.com"}],"start":0,"limit":50,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 430.758959ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_kYo6bXR0fQ7C8xb2/members?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"members":[{"user_id":"auth0|65819ede67699795f502025f","email":"testaccorganizationmembers1@auth0.com","picture":"https://s.gravatar.com/avatar/4f34aa9f8f57ca4c76491ba399a9d6c2?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","name":"testaccorganizationmembers1@auth0.com"}],"start":0,"limit":100,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 525.460583ms
[...]
    - id: 23
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_kYo6bXR0fQ7C8xb2/enabled_connections?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"enabled_connections":[],"start":0,"limit":0,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 359.966833ms
[...]
