---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Role - Acceptance Test - TestAccDataSourceRoleByName","identifier":"https://TestAccDataSourceRoleByName.matrix.com/","scopes":[{"value":"bring:peace","description":"Bring peace"},{"value":"stop:bullets","description":"Stop bullets"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"63ea398216352a1bd3f2ec4d","name":"Role - Acceptance Test - TestAccDataSourceRoleByName","identifier":"https://TestAccDataSourceRoleByName.matrix.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","scopes":[{"value":"bring:peace","description":"Bring peace"},{"value":"stop:bullets","description":"Stop bullets"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 103.618084ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/63ea398216352a1bd3f2ec4d
        method: GET
      response:
        body: '{"id":"63ea398216352a1bd3f2ec4d","name":"Role - Acceptance Test - TestAccDataSourceRoleByName","identifier":"https://TestAccDataSourceRoleByName.matrix.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","scopes":[{"value":"bring:peace","description":"Bring peace"},{"value":"stop:bullets","description":"Stop bullets"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 95.741917ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"The One - Acceptance Test - TestAccDataSourceRoleByName","description":"The One - Acceptance Test"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles
        method: POST
      response:
        body: '{"id":"rol_e31v4GoHwSuDHb2x","name":"The One - Acceptance Test - TestAccDataSourceRoleByName","description":"The One - Acceptance Test"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 103.570625ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"permissions":[{"resource_server_identifier":"https://TestAccDataSourceRoleByName.matrix.com/","permission_name":"bring:peace"},{"resource_server_identifier":"https://TestAccDataSourceRoleByName.matrix.com/","permission_name":"stop:bullets"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_e31v4GoHwSuDHb2x/permissions
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 100.62325ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_e31v4GoHwSuDHb2x
        method: GET
      response:
        body: '{"id":"rol_e31v4GoHwSuDHb2x","name":"The One - Acceptance Test - TestAccDataSourceRoleByName","description":"The One - Acceptance Test"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 89.729916ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_e31v4GoHwSuDHb2x/permissions?include_totals=true&page=0&per_page=50
        method: GET
      response:
        body: '{"permissions":[{"permission_name":"bring:peace","description":"Bring peace","resource_server_name":"Role - Acceptance Test - TestAccDataSourceRoleByName","resource_server_identifier":"https://TestAccDataSourceRoleByName.matrix.com/"},{"permission_name":"stop:bullets","description":"Stop bullets","resource_server_name":"Role - Acceptance Test - TestAccDataSourceRoleByName","resource_server_identifier":"https://TestAccDataSourceRoleByName.matrix.com/"}],"start":0,"limit":50,"total":2}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 108.100875ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles?include_totals=true&name_filter=The+One+-+Acceptance+Test+-+TestAccDataSourceRoleByName&page=0&per_page=100
        method: GET
      response:
        body: '{"roles":[{"id":"rol_e31v4GoHwSuDHb2x","name":"The One - Acceptance Test - TestAccDataSourceRoleByName","description":"The One - Acceptance Test"}],"start":0,"limit":100,"total":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 107.435208ms
[...]
