---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"connection":"Username-Password-Authentication","email":"testaccorganizationmember1@auth0.com","username":"testaccorganizationmember11","password":"MyPass123$"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
        method: POST
      response:
        body: '{"created_at":"2024-05-27T14:31:37.637Z","email":"testaccorganizationmember1@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"66549949465f0d3c058a33ba","provider":"auth0","isSocial":false}],"name":"testaccorganizationmember1@auth0.com","nickname":"testaccorganizationmember1","picture":"https://s.gravatar.com/avatar/a3ca1ab654eee614bf23d07037dc77c6?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2024-05-27T14:31:37.637Z","user_id":"auth0|66549949465f0d3c058a33ba","username":"testaccorganizationmember11"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 439.386167ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7C66549949465f0d3c058a33ba
        method: GET
      response:
        body: '{"created_at":"2024-05-27T14:31:37.637Z","email":"testaccorganizationmember1@auth0.com","email_verified":false,"identities":[{"connection":"Username-Password-Authentication","user_id":"66549949465f0d3c058a33ba","provider":"auth0","isSocial":false}],"name":"testaccorganizationmember1@auth0.com","nickname":"testaccorganizationmember1","picture":"https://s.gravatar.com/avatar/a3ca1ab654eee614bf23d07037dc77c6?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fte.png","updated_at":"2024-05-27T14:31:37.637Z","user_id":"auth0|66549949465f0d3c058a33ba","username":"testaccorganizationmember11"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 315.610125ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"some-org-testaccorganizationmember","display_name":"testaccorganizationmember"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_d5ivchkU2BNzWgUW","display_name":"testaccorganizationmember","name":"some-org-testaccorganizationmember"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 307.007042ms
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_d5ivchkU2BNzWgUW
        method: GET
      response:
        body: '{"id":"org_d5ivchkU2BNzWgUW","name":"some-org-testaccorganizationmember","display_name":"testaccorganizationmember"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 304.084042ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"members":["auth0|66549949465f0d3c058a33ba"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_d5ivchkU2BNzWgUW/members
        method: POST
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 322.03825ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_d5ivchkU2BNzWgUW/members?fields=user_id&include_fields=true&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[{"user_id":"auth0|66549949465f0d3c058a33ba"}],"next":"MjAyNC0wNS0yNyAxNDozMTozOS42NDkwMDBVVEMsYXV0aDB8NjY1NDk5NDk0NjVmMGQzYzA1OGEzM2Jh"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 325.193417ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_d5ivchkU2BNzWgUW/members?fields=user_id&from=MjAyNC0wNS0yNyAxNDozMTozOS42NDkwMDBVVEMsYXV0aDB8NjY1NDk5NDk0NjVmMGQzYzA1OGEzM2Jh&include_fields=true&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 292.812625ms
[...]
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_d5ivchkU2BNzWgUW/enabled_connections?include_totals=true&page=0&per_page=100
        method: GET
      response:
        body: '{"enabled_connections":[],"start":0,"limit":0,"total":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 299.686625ms
[...]
    - id: 33
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_d5ivchkU2BNzWgUW/members?fields=user_id&from=MjAyNC0wNS0yNyAxNDozMTo0OS41OTEwMDBVVEMsYXV0aDB8NjY1NDk5NGEzZDBhOTM3NDk5NWRiZTUy&include_fields=true&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 354.261209ms
[...]
    - id: 93
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_d5ivchkU2BNzWgUW/members?fields=user_id&from=MjAyNC0wNS0yNyAxNDozMjoxMi43MDAwMDBVVEMsYXV0aDB8NjY1NDk5NGEzZDBhOTM3NDk5NWRiZTUy&include_fields=true&include_totals=true&per_page=50&take=100
        method: GET
      response:
        body: '{"members":[]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 313.715209ms
[...]
