---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"enabled":true}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/risk-assessments/settings
        method: PATCH
      response:
        body: '{"statusCode":403,"error":"Forbidden","message":"Please upgrade your subscription to use adaptive MFA","errorCode":"insufficient_entitlement"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 403 Forbidden
        code: 403
        duration: 300ms
[...]
