---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Test Action TestAccAction_FailedBuild","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {\n\tconsole.log(event)\n};\"\n","dependencies":[{"name":"crypto","version":"17.7.1"}],"runtime":"node18-actions","secrets":[]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
        method: POST
      response:
        body: '{"id":"faa76f9f-4ee0-4411-8a92-43255e49a727","name":"Test Action TestAccAction_FailedBuild","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-07-12T16:37:14.793829402Z","updated_at":"2023-07-12T16:37:14.824637448Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(event)\n};\"\n","dependencies":[{"name":"crypto","version":"17.7.1"}],"runtime":"node18-actions","status":"pending","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 175.6235ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/faa76f9f-4ee0-4411-8a92-43255e49a727
        method: GET
      response:
        body: '{"id":"faa76f9f-4ee0-4411-8a92-43255e49a727","name":"Test Action TestAccAction_FailedBuild","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2023-07-12T16:37:14.793829402Z","updated_at":"2023-07-12T16:37:14.824637448Z","code":"exports.onContinuePostLogin = async (event, api) => {\n\tconsole.log(event)\n};\"\n","dependencies":[{"name":"crypto","version":"17.7.1"}],"runtime":"node18-actions","status":"building","secrets":[],"all_changes_deployed":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 157.227292ms
[...]
