---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"name":"HMS Test Key - TestAccNetworkACLHTTPMessageSignature","alg":"hmac-sha256","value":"Ygj0G7pdGNmu+eCPdnK32PpzvmFDoFtDcJtiJaRGX1I="}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/network-acls
        method: POST
      response:
        body: '{"name":"HMS Test Key - TestAccNetworkACLHTTPMessageSignature","alg":"hmac-sha256","fingerprint":"1c4ece28cf90388255fcd9c0c80ba819b965afc2165da1075c12bd3b487281a0","created_at":"2026-09-09T04:35:34.281Z","updated_at":"2026-09-09T04:35:34.281Z","id":"key_gs6nyrrFN82hDVG1q5WxV8"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 336.438ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/network-acls/key_gs6nyrrFN82hDVG1q5WxV8
        method: GET
      response:
        body: '{"name":"HMS Test Key - TestAccNetworkACLHTTPMessageSignature","alg":"hmac-sha256","fingerprint":"1c4ece28cf90388255fcd9c0c80ba819b965afc2165da1075c12bd3b487281a0","created_at":"2026-09-09T04:35:34.281Z","updated_at":"2026-09-09T04:35:34.281Z","id":"key_gs6nyrrFN82hDVG1q5WxV8"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 316.451292ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"HMS ACL - TestAccNetworkACLHTTPMessageSignature","active":true,"priority":99,"rule":{"action":{"block":true},"not_match":{"http_message_signature":{"keys":[{"id":"key_gs6nyrrFN82hDVG1q5WxV8"}]}},"scope":"tenant"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls
        method: POST
      response:
        body: '{"description":"HMS ACL - TestAccNetworkACLHTTPMessageSignature","active":true,"priority":99,"rule":[...]
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_iNGQ6e74rQtbcXFW85cuSN
        method: GET
      response:
        body: '{"tenant_id":"terraform-provider-auth0-dev","description":"HMS ACL - TestAccNetworkACLHTTPMessageSignature","active":true,"priority":99,"rule":{"scope":"tenant","action":{"block":true},"not_match":{"http_message_signature":{"keys":[{"id":"key_gs6nyrrFN82hDVG1q5WxV8"}]}}},"created_at":"2026-09-09T04:35:35.283Z","updated_at":"2026-09-09T04:35:35.283Z","deleted_at":null,"id":"acl_iNGQ6e74rQtbcXFW85cuSN"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 311.464959ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/keys/network-acls/key_8219f1WLDuiu4AGrNV66x5
        method: GET
      response:
        body: '{"name":"HMS Test Key 2 - TestAccNetworkACLHTTPMessageSignature","alg":"hmac-sha256","fingerprint":"419e4122ffc8c1ade93e688c619ec0d9a04a244e0c2233512fa9d653d4e5484f","created_at":"2026-09-09T04:35:39.766Z","updated_at":"2026-09-09T04:35:39.766Z","id":"key_8219f1WLDuiu4AGrNV66x5"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 396.930125ms
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"HMS ACL Updated - TestAccNetworkACLHTTPMessageSignature","active":true,"priority":99,"rule":{"action":{"allow":true},"not_match":{"http_message_signature":{"keys":[{"id":"key_gs6nyrrFN82hDVG1q5WxV8"},{"id":"key_8219f1WLDuiu4AGrNV66x5"}]}},"scope":"tenant"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_iNGQ6e74rQtbcXFW85cuSN
        method: PUT
      response:
        body: '{"description":"HMS ACL Updated - TestAccNetworkACLHTTPMessageSignature","active":true,"priority":99,"rule":[...]
    - id: 16
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_iNGQ6e74rQtbcXFW85cuSN
        method: DELETE
      response:
        body: '{"code":204,"object":""}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 329.541125ms
[...]
