---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Role - Acceptance Test - testaccdatasourcerolebyid","identifier":"https://testaccdatasourcerolebyid.matrix.com/"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers
        method: POST
      response:
        body: '{"id":"64aecb2c463e80f147e7e74d","name":"Role - Acceptance Test - testaccdatasourcerolebyid","identifier":"https://testaccdatasourcerolebyid.matrix.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 115.873667ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/64aecb2c463e80f147e7e74d
        method: GET
      response:
        body: '{"id":"64aecb2c463e80f147e7e74d","name":"Role - Acceptance Test - testaccdatasourcerolebyid","identifier":"https://testaccdatasourcerolebyid.matrix.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 105.438542ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/https:%2F%2Ftestaccdatasourcerolebyid.matrix.com%2F
        method: GET
      response:
        body: '{"id":"64aecb2c463e80f147e7e74d","name":"Role - Acceptance Test - testaccdatasourcerolebyid","identifier":"https://testaccdatasourcerolebyid.matrix.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 99.158708ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"scopes":[{"value":"bring:peace","description":"Bring peace"},{"value":"stop:bullets","description":"Stop bullets"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/resource-servers/https:%2F%2Ftestaccdatasourcerolebyid.matrix.com%2F
        method: PATCH
      response:
        body: '{"id":"64aecb2c463e80f147e7e74d","name":"Role - Acceptance Test - testaccdatasourcerolebyid","identifier":"https://testaccdatasourcerolebyid.matrix.com/","allow_offline_access":false,"skip_consent_for_verifiable_first_party_clients":false,"token_lifetime":86400,"token_lifetime_for_web":7200,"signing_alg":"RS256","scopes":[{"value":"bring:peace","description":"Bring peace"},{"value":"stop:bullets","description":"Stop bullets"}]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 101.66375ms
[...]
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"The One - Acceptance Test - testaccdatasourcerolebyid","description":"The One - Acceptance Test"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles
        method: POST
      response:
        body: '{"id":"rol_BAPCj6KIoEqndxxj","name":"The One - Acceptance Test - testaccdatasourcerolebyid","description":"The One - Acceptance Test"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 156.671958ms
    - id: 6
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"permissions":[{"resource_server_identifier":"https://testaccdatasourcerolebyid.matrix.com/","permission_name":"bring:peace"},{"resource_server_identifier":"https://testaccdatasourcerolebyid.matrix.com/","permission_name":"stop:bullets"}]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_BAPCj6KIoEqndxxj/permissions
        method: POST
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 110.96775ms
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_BAPCj6KIoEqndxxj
        method: GET
      response:
        body: '{"id":"rol_BAPCj6KIoEqndxxj","name":"The One - Acceptance Test - testaccdatasourcerolebyid","description":"The One - Acceptance Test"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 118.416208ms
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_BAPCj6KIoEqndxxj/permissions?include_totals=true&page=0&per_page=50
        method: GET
      response:
        body: '{"permissions":[{"permission_name":"bring:peace","description":"Bring peace","resource_server_name":"Role - Acceptance Test - testaccdatasourcerolebyid","resource_server_identifier":"https://testaccdatasourcerolebyid.matrix.com/"},{"permission_name":"stop:bullets","description":"Stop bullets","resource_server_name":"Role - Acceptance Test - testaccdatasourcerolebyid","resource_server_identifier":"https://testaccdatasourcerolebyid.matrix.com/"}],"start":0,"limit":50,"total":2}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 110.056667ms
[...]
