---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{"principal":"arn:aws:iam::010616021751:saml-provider/idpname","role":"arn:aws:iam::010616021751:role/foo","lifetime_in_seconds":32000},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"sentry":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
        method: POST
      response:
        body: '{"name":"Acceptance Test - SSO Integration - TestAccClientAddons","client_id":"huhsBTugI3shDg9OiB6KOLg0OrbFtKun","client_secret":"[REDACTED]","app_type":"sso_integration","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"addons":{"aws":{"principal":"arn:aws:iam::010616021751:saml-provider/idpname","role":"arn:aws:iam::010616021751:role/foo","lifetime_in_seconds":32000},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"sentry":{}},"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 356.112708ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            null
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/huhsBTugI3shDg9OiB6KOLg0OrbFtKun
        method: GET
      response:
        body: '{"name":"Acceptance Test - SSO Integration - TestAccClientAddons","client_id":"huhsBTugI3shDg9OiB6KOLg0OrbFtKun","client_secret":"[REDACTED]","app_type":"sso_integration","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"addons":{"aws":{"principal":"arn:aws:iam::010616021751:saml-provider/idpname","role":"arn:aws:iam::010616021751:role/foo","lifetime_in_seconds":32000},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"sentry":{}},"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 221.0235ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{"accountName":"acmeorg","storageAccessKey":"aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa==","containerName":"my-container","blobName":"my-blob","expiration":10,"signedIdentifier":"id123","blob_read":true,"blob_write":true,"blob_delete":true,"container_read":true,"container_write":true,"container_delete":true,"container_list":true},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"sentry":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/huhsBTugI3shDg9OiB6KOLg0OrbFtKun
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - SSO Integration - TestAccClientAddons","client_id":"huhsBTugI3shDg9OiB6KOLg0OrbFtKun","client_secret":"[REDACTED]","app_type":"sso_integrati[...]
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{"namespace":"acmeorg","sasKeyName":"my-policy","sasKey":"my-key","entityPath":"my-queue","expiration":10},"echosign":{},"egnyte":{},"firebase":{},"sentry":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/huhsBTugI3shDg9OiB6KOLg0OrbFtKun
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - SSO Integration - TestAccClientAddons","client_id":"huhsBTugI3shDg9OiB6KOLg0OrbFtKun","client_secret":"[REDACTED]","app_type":"sso_integration","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"addons":{"aws":{},"azure_blob":{},"azure_sb":{"namespace":"acmeorg","sasKeyName":"my-policy","sasKey":"my-key","entityPath":"my-queue","expiration":10},"echosign":{},"egnyte":{},"firebase":{},"sentry":{}},"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 101.114583ms
[...]
    - id: 12
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"rms":{"url":"https://example.com"},"sentry":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/huhsBTugI3shDg9OiB6KOLg0OrbFtKun
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - SSO Integration - TestAccClientAddons","client_id":"huhsBTugI3shDg9OiB6KOLg0OrbFtKun","client_secret":"[REDACTED]","app_type":"sso_integration","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"rms":{"url":"https://example.com"},"sentry":{}},"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 91.2535ms
[...]
    - id: 16
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"mscrm":{"url":"https://example.com"},"sentry":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/huhsBTugI3shDg9OiB6KOLg0OrbFtKun
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - SSO Integration - TestAccClientAddons","client_id":"huhsBTugI3shDg9OiB6KOLg0OrbFtKun","client_secret":"[REDACTED]","app_type":"sso_integration","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"mscrm":{"url":"https://example.com"},"rms":{"url":"https://example.com"},"sentry":{}},"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 195.829666ms
[...]
    - id: 20
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"sentry":{},"slack":{"team":"acmeorg"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/huhsBTugI3shDg9OiB6KOLg0OrbFtKun
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - SSO Integration - TestAccClientAddons","client_id":"huhsBTugI3shDg9OiB6KOLg0OrbFtKun","client_secret":"[REDACTED]","app_type":"sso_integration","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"mscrm":{"url":"https://example.com"},"rms":{"url":"https://example.com"},"sentry":{},"slack":{"team":"acmeorg"}},"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 224.074458ms
[...]
    - id: 24
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"sentry":{"org_slug":"acmeorg","base_url":""}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/huhsBTugI3shDg9OiB6KOLg0OrbFtKun
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - SSO Integration - TestAccClientAddons","client_id":"huhsBTugI3shDg9OiB6KOLg0OrbFtKun","client_secret":"[REDACTED]","app_type":"sso_integration","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{},"mscrm":{"url":"https://example.com"},"rms":{"url":"https://example.com"},"sentry":{"org_slug":"acmeorg","base_url":""},"slack":{"team":"acmeorg"}},"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 93.114959ms
[...]
    - id: 28
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{"domain":"acmeorg"},"egnyte":{},"firebase":{},"sentry":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/huhsBTugI3shDg9OiB6KOLg0OrbFtKun
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - SSO Integration - TestAccClientAddons","client_id":"huhsBTugI3shDg9OiB6KOLg0OrbFtKun","client_secret":"[REDACTED]","app_type":"sso_integration","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{"domain":"acmeorg"},"egnyte":{},"firebase":{},"mscrm":{"url":"https://example.com"},"rms":{"url":"https://example.com"},"sentry":{},"slack":{"team":"acmeorg"}},"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 192.756792ms
[...]
    - id: 36
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance Test - SSO Integration - TestAccClientAddons","app_type":"sso_integration","addons":{"aws":{},"azure_blob":{},"azure_sb":{},"echosign":{},"egnyte":{},"firebase":{"secret":"secret","private_key_id":"private-key-id","private_key":"private-key","client_email":"service-account","lifetime_in_seconds":7200},"sentry":{}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/huhsBTugI3shDg9OiB6KOLg0OrbFtKun
        method: PATCH
      response:
        body: '{"name":"Acceptance Test - SSO Integration - TestAccClientAddons","client_id":"huhsBTugI3shDg9OiB6KOLg0OrbFtKun","client_secret":"[REDACTED]","app_type":"sso_integration","is_first_[...]
[...]
