---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"Acceptance-Test-Azure-AD-TestAccSCIMToken","strategy":"waad","show_as_button":true,"options":{"client_id":"123456","client_secret":"123456","strategy_version":2,"tenant_domain":"example.onmicrosoft.com","domain":"example.onmicrosoft.com","domain_aliases":["api.example.com","example.com"],"identity_api":"microsoft-identity-platform-v2.0","waad_protocol":"openid-connect","use_wsfed":false,"useCommonEndpoint":false,"api_enable_users":true,"basic_profile":true,"ext_profile":true,"ext_groups":true,"should_trust_email_verified_connection":"never_set_emails_as_verified","upstream_params":{"screen_name":{"alias":"login_hint"}},"userid_attribute":"oid"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
        method: POST
      response:
        body: '{"id":"con_Hvg6w4PSvAVOoCJ2","options":{"client_id":"123456","client_secret":"123456","strategy_version":2,"tenant_domain":"example.onmicrosoft.com","domain":"example.onmicrosoft.com","domain_aliases":["api.example.com","example.com"],"identity_api":"microsoft-identity-platform-v2.0","waad_protocol":"openid-connect","use_wsfed":false,"useCommonEndpoint":false,"api_enable_users":true,"basic_profile":true,"ext_profile":true,"ext_groups":true,"should_trust_email_verified_connection":"never_set_emails_as_verified","upstream_params":{"screen_name":{"alias":"login_hint"}},"userid_attribute":"oid","waad_common_endpoint":false},"strategy":"waad","name":"Acceptance-Test-Azure-AD-TestAccSCIMToken","is_domain_connection":false,"show_as_button":true,"authentication":{"active":true},"connected_accounts":{"active":false},"display_name":"Acceptance-Test-Azure-AD-TestAccSCIMToken","enabled_clients":[],"realms":["Acceptance-Test-Azure-AD-TestAccSCIMToken"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 548.100542ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_Hvg6w4PSvAVOoCJ2
        method: GET
      response:
        body: '{"id":"con_Hvg6w4PSvAVOoCJ2","options":{"domain":"example.onmicrosoft.com","client_id":"123456","use_wsfed":false,"ext_groups":true,"ext_profile":true,"identity_api":"microsoft-identity-platform-v2.0","basic_profile":true,"client_secret":"123456","tenant_domain":"example.onmicrosoft.com","waad_protocol":"openid-connect","domain_aliases":["api.example.com","example.com"],"upstream_params":{"screen_name":{"alias":"login_hint"}},"api_enable_users":true,"strategy_version":2,"userid_attribute":"oid","useCommonEndpoint":false,"waad_common_endpoint":false,"should_trust_email_verified_connection":"never_set_emails_as_verified"},"strategy":"waad","name":"Acceptance-Test-Azure-AD-TestAccSCIMToken","is_domain_connection":false,"show_as_button":true,"authentication":{"active":true},"connected_accounts":{"active":false},"display_name":"Acceptance-Test-Azure-AD-TestAccSCIMToken","enabled_clients":[],"realms":["Acceptance-Test-Azure-AD-TestAccSCIMToken"]}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 533.427ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_Hvg6w4PSvAVOoCJ2/scim-configuration
        method: POST
      response:
        body: '{"tenant_name":"terraform-provider-auth0-dev","connection_id":"con_Hvg6w4PSvAVOoCJ2","connection_name":"Acceptance-Test-Azure-AD-TestAccSCIMToken","strategy":"waad","mapping":[{"scim":"userName","auth0":"upn"},{"scim":"emails[type eq \"work\"].value","auth0":"email"},{"scim":"externalId","auth0":"app_metadata.external_id"},{"scim":"active","auth0":"blocked"},{"scim":"displayName","auth0":"name"},{"scim":"name.givenName","auth0":"given_name"},{"scim":"name.familyName","auth0":"family_name"},{"scim":"nickName","auth0":"nickname"},{"scim":"photos[type eq \"photo\"].value","auth0":"picture"},{"scim":"phoneNumbers[type eq \"work\"].value","auth0":"app_metadata.work_phone_number"},{"scim":"phoneNumbe[...]
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"scopes":["get:users","post:users"]}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_Hvg6w4PSvAVOoCJ2/scim-configuration/tokens
        method: POST
      response:
        body: '{"token_id":"tok_cw8iYTPrN6Fzb6xi","token":"tok_cw8iYTPrN6Fzb6xi.45a7b7f223a42d06a00efebcf515831701a8d10d4e6f2775fb1bb8c1be406205","scopes":["get:users","post:users"],"created_at":"2025-11-06T03:50:37.836Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 478.7015ms
[...]
    - id: 9
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_Hvg6w4PSvAVOoCJ2/scim-configuration/tokens/tok_cw8iYTPrN6Fzb6xi
        method: DELETE
      response:
        body: ""
        headers: {}
        status: 204 No Content
        code: 204
        duration: 471.2175ms
[...]
    - id: 11
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_Hvg6w4PSvAVOoCJ2
        method: DELETE
      response:
        body: '{"deleted_at":"2025-11-06T03:50:42.603Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 202 Accepted
        code: 202
        duration: 355.855833ms
