---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"description":"Acceptance Test - TestAccNetworkACLDataSource","active":true,"priority":10,"rule":{"action":{"block":true},"match":{"asns":[9453]},"scope":"tenant"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls
        method: POST
      response:
        body: '{"description":"Acceptance Test - TestAccNetworkACLDataSource","active":true,"priority":10,"rule":{"match":{"asns":[9453]},"scope":"tenant","action":{"block":true}},"created_at":"2026-07-30T11:42:54.946Z","updated_at":"2026-07-30T11:42:54.946Z","id":"acl_aEyQAdc4d7YBgK3QUbBLff"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 283.403541ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_aEyQAdc4d7YBgK3QUbBLff
        method: GET
      response:
        body: '{"tenant_id":"terraform-provider-auth0-dev","description":"Acceptance Test - TestAccNetworkACLDataSource","active":true,"priority":10,"rule":{"match":{"asns":[9453]},"scope":"tenant","action":{"block":true}},"created_at":"2026-07-30T11:42:54.946Z","updated_at":"2026-07-30T11:42:54.946Z","deleted_at":null,"id":"acl_aEyQAdc4d7YBgK3QUbBLff"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 273.137167ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_invalid_id
        method: GET
      response:
        body: '{"statusCode":400,"error":"Bad Request","message":"Network ACL id is not a valid ACL ID in the form ''acl_XXXXXXXXXXXXXXXXXXXXXX''","errorCode":"invalid_uri"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 400 Bad Request
        code: 400
        duration: 266.46525ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/network-acls/acl_aEyQAdc4d7YBgK3QUbBLff
        method: DELETE
      response:
        body: '{"code":204,"object":""}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 283.63175ms
