---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"TestAccEventStream-my-eventbridge","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"destination":{"type":"eventbridge","configuration":{"aws_account_id":"242849305777","aws_region":"us-east-1"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams
        method: POST
      response:
        body: '{"id":"est_qNHnmDeNTVjKTEoBM4qQvw","status":"enabled","name":"TestAccEventStream-my-eventbridge","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2025-07-23T08:59:31.882Z","updated_at":"2025-07-23T08:59:31.882Z","destination":{"type":"eventbridge","configuration":{"aws_region":"us-east-1","aws_account_id":"242849305777","aws_partner_event_source":"aws.partner/auth0.com/terraform-provider-auth0-dev-b8928c78-1db0-4e70-9c06-c84a3eb1ed37/auth0.events"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 1.311427125s
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams/est_qNHnmDeNTVjKTEoBM4qQvw
        method: GET
      response:
        body: '{"id":"est_qNHnmDeNTVjKTEoBM4qQvw","status":"enabled","name":"TestAccEventStream-my-eventbridge","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2025-07-23T08:59:31.882Z","updated_at":"2025-07-23T08:59:31.882Z","destination":{"type":"eventbridge","configuration":{"aws_region":"us-east-1","aws_account_id":"242849305777","aws_partner_event_source":"aws.partner/auth0.com/terraform-provider-auth0-dev-b8928c78-1db0-4e70-9c06-c84a3eb1ed37/auth0.events"}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 360.771958ms
[...]
    - id: 8
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"TestAccEventStream-my-webhook","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"destination":{"type":"webhook","configuration":{"webhook_authorization":{"method":"bearer","token":"123456789"},"webhook_endpoint":"https://eof28wtn4v4506o.m.pipedream.net"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams
        method: POST
      response:
        body: '{"id":"est_gEZtx6H1tvFEsw84Mba6eF","status":"enabled","name":"TestAccEventStream-my-webhook","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2025-07-23T08:59:38.969Z","updated_at":"2025-07-23T08:59:38.969Z","destination":{"type":"webhook","configuration":{"webhook_endpoint":"https://eof28wtn4v4506o.m.pipedream.net","webhook_authorization":{"method":"bearer"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 339.0405ms
[...]
    - id: 10
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams/est_gEZtx6H1tvFEsw84Mba6eF
        method: GET
      response:
        body: '{"id":"est_gEZtx6H1tvFEsw84Mba6eF","status":"enabled","name":"TestAccEventStream-my-webhook","subscriptions":[{"event_type":"user.created"},{"event_type":"user.updated"}],"created_at":"2025-07-23T08:59:38.969Z","updated_at":"2025-07-23T08:59:38.969Z","destination":{"type":"webhook","configuration":{"webhook_endpoint":"https://eof28wtn4v4506o.m.pipedream.net","webhook_authorization":{"method":"bearer"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 394.809542ms
[...]
    - id: 13
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"TestAccEventStream-my-webhook-updated","subscriptions":[{"event_type":"user.updated"}],"destination":{"type":"webhook","configuration":{"webhook_authorization":{"method":"basic","password":"securepass","username":"admin"},"webhook_endpoint":"https://webhook.site/updated-endpoint"}}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/event-streams/est_gEZtx6H1tvFEsw84Mba6eF
        method: PATCH
      response:
        body: '{"id":"est_gEZtx6H1tvFEsw84Mba6eF","status":"enabled","name":"TestAccEventStream-my-webhook-updated","subscriptions":[{"event_type":"user.updated"}],"created_at":"2025-07-23T08:59:38.969Z","updated_at":"2025-07-23T08:59:42.422Z","destination":{"type":"webhook","configuration":{"webhook_endpoint":"https://webhook.site/updated-endpoint","webhook_authorization":{"method":"basic","username":"admin"}}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 331.995292ms
[...]
