---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"active_provider_id":"recaptcha_v2","recaptcha_v2":{"site_key":"test-site-key-v2","secret":"test-secret-v2"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/attack-protection/captcha
        method: PATCH
      response:
        body: '{"active_provider_id":"recaptcha_v2","simple_captcha":{},"auth_challenge":{"fail_open":true},"recaptcha_v2":{"site_key":"test-site-key-v2"},"recaptcha_enterprise":{"site_key":"updated-site-key-enterprise","project_id":"updated-project-id-enterprise"},"hcaptcha":{"site_key":"updated-site-key-hcaptcha"},"friendly_captcha":{"site_key":"updated-site-key-friendly"},"arkose":{"site_key":"updated-site-key-arkose","client_subdomain":"updated-client-api","verify_subdomain":"updated-verify-api","fail_open":true}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 390.737709ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/attack-protection/breached-password-detection
        method: GET
      response:
        body: '{"enabled":false,"shields":[],"admin_notification_frequency":[],"method":"standard","stage":{"pre-user-registration":{"shields":[]},"pre-change-password":{"shields":[]}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 332.047334ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/attack-protection/brute-force-protection
        method: GET
      response:
        body: '{"enabled":false,"shields":["user_notification","block"],"mode":"count_per_identifier_and_ip","allowlist":["8.8.4.4","8.8.8.8"],"max_attempts":1}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 331.059959ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/attack-protection/suspicious-ip-throttling
        method: GET
      response:
        body: '{"enabled":false,"shields":["admin_notification","block"],"allowlist":[],"stage":{"pre-login":{"max_attempts":1,"rate":34560},"pre-user-registration":{"max_attempts":1,"rate":1200},"pre-custom-token-exchange":{"max_attempts":10,"rate":600000}}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 361.402333ms
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/attack-protection/bot-detection
        method: GET
      response:
        body: '{"challenge_password_policy":"always","challenge_passwordless_policy":"never","challenge_password_reset_policy":"when_risky","allowlist":["192.168.1.0"],"bot_detection_level":"medium","monitoring_mode_enabled":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 351.989125ms
[...]
    - id: 32
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: '{"active_provider_id":"recaptcha_enterprise","recaptcha_enterprise":{"site_key":"test-site-key-enterprise","api_key":"test-api-key-enterprise","project_id":"test-project-id-enterprise"}}'
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/attack-protection/captcha
        method: PATCH
      response:
        body: '{"active_provider_id":"recaptcha_enterprise","simple_captcha":{},"auth_challenge":{"fail_open":true},"recaptcha_v2":{"site_key":"updated-site-key-v2"},"recaptcha_enterprise":{"site_key":"test-site-key-enterprise","project_id":"test-project-id-enterprise"},"hcaptcha":{"site_key":"updated-site-key-hcaptcha"},"friendly_captcha":{"site_key":"updated-site-key-friendly"},"arkose":{"site_key":"updated-site-key-arkose","client_subdomain":"updated-client-api","verify_subdomain":"updated-verify-api","fail_open":true}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 388.890084ms
[...]
