---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-flow-TestAccFlow"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/flows
        method: POST
      response:
        body: '{"id":"af_ttY44R8riCzpNCsngY4JJS","name":"test-flow-TestAccFlow","created_at":"2024-09-28T09:51:29.050Z","updated_at":"2024-09-28T09:51:29.050Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 392.373292ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/flows/af_ttY44R8riCzpNCsngY4JJS
        method: GET
      response:
        body: '{"id":"af_ttY44R8riCzpNCsngY4JJS","name":"test-flow-TestAccFlow","created_at":"2024-09-28T09:51:29.050Z","updated_at":"2024-09-28T09:51:29.050Z"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 375.805209ms
[...]
