---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/prompts/login-passwordless/partials
        method: GET
      response:
        body: '{}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 415.902042ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"auth.terraform-provider-auth0.com","type":"auth0_managed_certs"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains
        method: POST
      response:
        body: '{"custom_domain_id":"cd_FFJBUMHdckY4AD8R","domain":"auth.terraform-provider-auth0.com","primary":true,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"terraform-provider-auth0-dev-cd-ffjbumhdcky4ad8r.edge.tenants.sus.auth0.com","domain":"auth.terraform-provider-auth0.com"}]},"tls_policy":"recommended"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 496.595834ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_FFJBUMHdckY4AD8R
        method: GET
      response:
        body: '{"custom_domain_id":"cd_FFJBUMHdckY4AD8R","domain":"auth.terraform-provider-auth0.com","primary":true,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"CNAME","record":"terraform-provider-auth0-dev-cd-ffjbumhdcky4ad8r.edge.tenants.sus.auth0.com","domain":"auth.terraform-provider-auth0.com"}]},"tls_policy":"recommended"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 367.323875ms
[...]
    - id: 4
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            "\u003c!DOCTYPE html\u003e\u003chtml\u003e\u003chead\u003e{%- auth0:head -%}\u003c/head\u003e\u003cbody\u003e{%- auth0:widget -%}\u003c/body\u003e\u003c/html\u003e"
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/templates/universal-login
        method: PUT
      response:
        body: ""
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 204 No Content
        code: 204
        duration: 1.093317041s
    - id: 5
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding
        method: GET
      response:
        body: '{"colors":{"page_background":"#FF4F40","primary":"#2A2E35"},"favicon_url":"https://mycompany.org/favicon.ico","logo_url":"https://mycompany.org/v1/logo.png"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 951.095292ms
[...]
    - id: 7
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/branding/templates/universal-login
        method: GET
      response:
        body: '{"body":"<!DOCTYPE html><html><head>{%- auth0:head -%}</head><body>{%- auth0:widget -%}</body></html>"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 483.181ms
[...]
    - id: 18
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"login-passwordless-email-code":{"form-content-end":"\u003cdiv\u003eForm Content End\u003c/div\u003e","form-content-start":"\u003cdiv\u003eForm Content Start\u003c/div\u003e"}}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/prompts/login-passwordless/partials
        method: PUT
      response:
        body: '{"login-passwordless-email-code":{"form-content-end":"<div>Form Content End</div>","form-content-start":"<div>Form Content Start</div>"}}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 438.124375ms
[...]
