---
version: 2
interactions:
    - id: 0
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"name":"test-testaccorganizationdiscoverydomain_import","display_name":"Test Organization testaccorganizationdiscoverydomain_import"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
        method: POST
      response:
        body: '{"id":"org_TdsjvJA0R4TOl7Ae","display_name":"Test Organization testaccorganizationdiscoverydomain_import","name":"test-testaccorganizationdiscoverydomain_import"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 338.224ms
    - id: 1
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_TdsjvJA0R4TOl7Ae
        method: GET
      response:
        body: '{"id":"org_TdsjvJA0R4TOl7Ae","name":"test-testaccorganizationdiscoverydomain_import","display_name":"Test Organization testaccorganizationdiscoverydomain_import"}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 329.055083ms
    - id: 2
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: |
            {"domain":"testaccorganizationdiscoverydomain-import.example.com","status":"pending"}
        form: {}
        headers:
            Content-Type:
                - application/json
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_TdsjvJA0R4TOl7Ae/discovery-domains
        method: POST
      response:
        body: '{"id":"ord_1cwAnh7W6MPmTDrTge6nXE","domain":"testaccorganizationdiscoverydomain-import.example.com","status":"pending","verification_host":"_ss-verification.org_TdsjvJA0R4TOl7Ae.testaccorganizationdiscoverydomain-import.example.com","verification_txt":"7cb3b0bb63c1114708eeab5619ff48d9","use_for_organization_discovery":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 201 Created
        code: 201
        duration: 346.143834ms
    - id: 3
      request:
        host: terraform-provider-auth0-dev.eu.auth0.com
        body: ""
        form: {}
        headers:
        url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_TdsjvJA0R4TOl7Ae/discovery-domains/ord_1cwAnh7W6MPmTDrTge6nXE
        method: GET
      response:
        body: '{"id":"ord_1cwAnh7W6MPmTDrTge6nXE","domain":"testaccorganizationdiscoverydomain-import.example.com","status":"pending","verification_host":"_ss-verification.org_TdsjvJA0R4TOl7Ae.testaccorganizationdiscoverydomain-import.example.com","verification_txt":"7cb3b0bb63c1114708eeab5619ff48d9","use_for_organization_discovery":true}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
        status: 200 OK
        code: 200
        duration: 321.880042ms
[...]
