---
version: 1
interactions:
- request:
    body: |
      {"name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {};"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
    method: POST
  response:
    body: '{"id":"5da3ec0c-c03e-4859-babf-b687b28d0a6a","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-07-18T16:15:35.719244518Z","updated_at":"2022-07-18T16:15:35.739896116Z","code":"exports.onExecutePostLogin
      = async (event, api) => {};","dependencies":[],"runtime":"node16","status":"pending","secrets":[],"all_changes_deployed":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/5da3ec0c-c03e-4859-babf-b687b28d0a6a
    method: GET
  response:
    body: '{"id":"5da3ec0c-c03e-4859-babf-b687b28d0a6a","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-07-18T16:15:35.719244518Z","updated_at":"2022-07-18T16:15:35.739896116Z","code":"exports.onExecutePostLogin
      = async (event, api) => {};","dependencies":[],"runtime":"node16","status":"built","secrets":[],"all_changes_deployed":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: |
      {"name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node16","secrets":[{"name":"foo","value":"123456"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/5da3ec0c-c03e-4859-babf-b687b28d0a6a
    method: PATCH
  response:
    body: '{"id":"5da3ec0c-c03e-4859-babf-b687b28d0a6a","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-07-18T16:15:35.719244518Z","updated_at":"2022-07-18T16:15:38.269876373Z","code":"exports.onContinuePostLogin
      = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node16","status":"pending","secrets":[{"name":"foo","updated_at":"2022-07-18T16:15:38.269876373Z"}],"all_changes_deployed":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/5da3ec0c-c03e-4859-babf-b687b28d0a6a/deploy
    method: POST
  response:
    body: '{"code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"id":"7216cd23-98e4-4929-8c94-f4f867fa5355","deployed":false,"number":1,"secrets":[{"name":"foo","updated_at":"2022-07-18T16:15:38.269876373Z"}],"status":"built","created_at":"2022-07-18T16:15:56.273224131Z","updated_at":"2022-07-18T16:15:56.273224131Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v3"}],"action":{"id":"5da3ec0c-c03e-4859-babf-b687b28d0a6a","name":"Test
      Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-07-18T16:15:35.719244518Z","updated_at":"2022-07-18T16:15:38.261576292Z","all_changes_deployed":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/5da3ec0c-c03e-4859-babf-b687b28d0a6a
    method: GET
  response:
    body: '{"id":"5da3ec0c-c03e-4859-babf-b687b28d0a6a","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v3"}],"created_at":"2022-07-18T16:15:35.719244518Z","updated_at":"2022-07-18T16:15:38.269876373Z","code":"exports.onContinuePostLogin
      = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"runtime":"node16","status":"built","secrets":[{"name":"foo","updated_at":"2022-07-18T16:15:38.269876373Z"}],"current_version":{"id":"7216cd23-98e4-4929-8c94-f4f867fa5355","code":"exports.onContinuePostLogin
      = async (event, api) => {};","runtime":"node16","status":"BUILT","number":1,"build_time":"2022-07-18T16:15:56.402718376Z","created_at":"2022-07-18T16:15:56.273224131Z","updated_at":"2022-07-18T16:15:56.403384581Z"},"deployed_version":{"code":"exports.onContinuePostLogin
      = async (event, api) => {};","dependencies":[{"name":"auth0","version":"2.41.0"}],"id":"7216cd23-98e4-4929-8c94-f4f867fa5355","deployed":true,"number":1,"built_at":"2022-07-18T16:15:56.402718376Z","secrets":[{"name":"foo","updated_at":"2022-07-18T16:15:38.269876373Z"}],"status":"built","created_at":"2022-07-18T16:15:56.273224131Z","updated_at":"2022-07-18T16:15:56.403384581Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v3"}]},"all_changes_deployed":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
