---
version: 1
interactions:
- request:
    body: |
      {"name":"pre-user-reg-hook","script":"function (user, context, callback) { callback(null, { user }); }","triggerId":"pre-user-registration","dependencies":{"auth0":"2.30.0"},"enabled":true}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/hooks
    method: POST
  response:
    body: '{"id":"01G5EKEPTWPFMWHYMAAEEDF66V","name":"pre-user-reg-hook","script":"function
      (user, context, callback) { callback(null, { user }); }","dependencies":{"auth0":"2.30.0"},"triggerId":"pre-user-registration","enabled":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/hooks/01G5EKEPTWPFMWHYMAAEEDF66V/secrets
    method: GET
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      {"foo":"alpha"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/hooks/01G5EKEPTWPFMWHYMAAEEDF66V/secrets
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/hooks/01G5EKEPTWPFMWHYMAAEEDF66V
    method: GET
  response:
    body: '{"id":"01G5EKEPTWPFMWHYMAAEEDF66V","name":"pre-user-reg-hook","script":"function
      (user, context, callback) { callback(null, { user }); }","dependencies":{"auth0":"2.30.0"},"enabled":true,"triggerId":"pre-user-registration"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: |
      {"bar":"kappa"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/hooks/01G5EKEPTWPFMWHYMAAEEDF66V/secrets
    method: POST
  response:
    body: '{}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
[...]
