---
version: 1
interactions:
- request:
    body: |
      {"name":"Test Action TestAccAction_FailedBuild","supported_triggers":[{"id":"post-login","version":"v2"}],"code":"exports.onContinuePostLogin = async (event, api) =\u003e {\n\tconsole.log(event)\n};\"\n","dependencies":[{"name":"crypto","version":"17.7.1"}],"runtime":"node16"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
    method: POST
  response:
    body: '{"id":"b2367d85-830d-48af-8867-b8dc398e816b","name":"Test Action TestAccAction_FailedBuild","supported_triggers":[{"id":"post-login","version":"v2"}],"created_at":"2022-06-13T13:12:12.619442647Z","updated_at":"2022-06-13T13:12:12.634839667Z","code":"exports.onContinuePostLogin
      = async (event, api) => {\n\tconsole.log(event)\n};\"\n","dependencies":[{"name":"crypto","version":"17.7.1"}],"runtime":"node16","status":"pending","secrets":[],"all_changes_deployed":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/b2367d85-830d-48af-8867-b8dc398e816b
    method: GET
  response:
    body: '{"id":"b2367d85-830d-48af-8867-b8dc398e816b","name":"Test Action TestAccAction_FailedBuild","supported_triggers":[{"id":"post-login","version":"v2"}],"created_at":"2022-06-13T13:12:12.619442647Z","updated_at":"2022-06-13T13:12:12.634839667Z","code":"exports.onContinuePostLogin
      = async (event, api) => {\n\tconsole.log(event)\n};\"\n","dependencies":[{"name":"crypto","version":"17.7.1"}],"runtime":"node16","status":"building","secrets":[],"all_changes_deployed":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
