---
version: 1
interactions:
- request:
    body: |
      {"name":"ses","enabled":true,"default_from_address":"accounts@example.com","credentials":{"accessKeyId":"AKIAXXXXXXXXXXXXXXXX","secretAccessKey":"7e8c2148xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx","region":"us-east-1"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/emails/provider
    method: POST
  response:
    body: '{"name":"ses","enabled":true,"default_from_address":"accounts@example.com","credentials":{"region":"us-east-1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/emails/provider?fields=name%2Cenabled%2Cdefault_from_address%2Ccredentials%2Csettings&include_fields=true
    method: GET
  response:
    body: '{"name":"ses","enabled":true,"default_from_address":"accounts@example.com","credentials":{"region":"us-east-1"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/email-templates/welcome_email
    method: GET
  response:
    body: '{"template":"welcome_email","body":"<html><body><h1>Welcome!</h1></body></html>","from":"welcome@example.com","resultUrl":"https://example.com/welcome","subject":"Welcome","syntax":"liquid","urlLifetimeInSeconds":3600,"includeEmailInRedirect":false,"enabled":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      {"template":"welcome_email","body":"\u003chtml\u003e\u003cbody\u003e\u003ch1\u003eWelcome!\u003c/h1\u003e\u003c/body\u003e\u003c/html\u003e","from":"welcome@example.com","resultUrl":"https://example.com/welcome","subject":"Welcome","syntax":"liquid","urlLifetimeInSeconds":3600,"enabled":true,"includeEmailInRedirect":false}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/email-templates/welcome_email
    method: PATCH
  response:
    body: '{"template":"welcome_email","body":"<html><body><h1>Welcome!</h1></body></html>","from":"welcome@example.com","resultUrl":"https://example.com/welcome","subject":"Welcome","syntax":"liquid","urlLifetimeInSeconds":3600,"includeEmailInRedirect":false,"enabled":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
