---
version: 1
interactions:
- request:
    body: |
      {"name":"Acceptance-Test-LogStream-datadog-TestAccLogStreamDatadog","type":"datadog","sink":{"datadogRegion":"us","datadogApiKey":"121233123455"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams
    method: POST
  response:
    body: '{"id":"lst_0000000000009483","name":"Acceptance-Test-LogStream-datadog-TestAccLogStreamDatadog","type":"datadog","status":"active","sink":{"datadogApiKey":"121233123455","datadogRegion":"us"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000009483
    method: GET
  response:
    body: '{"id":"lst_0000000000009483","name":"Acceptance-Test-LogStream-datadog-TestAccLogStreamDatadog","type":"datadog","status":"active","sink":{"datadogApiKey":"121233123455","datadogRegion":"us"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
