---
version: 1
interactions:
- request:
    body: |
      {"name":"Acceptance-Test-Twitter-TestAccConnectionTwitter","strategy":"twitter","options":{"client_id":"someClientID","client_secret":"someClientSecret","authorizationURL":null,"tokenURL":null,"set_user_root_attributes":"on_each_login","non_persistent_attrs":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_s65OZErWIB9PGD00","options":{"client_id":"someClientID","client_secret":"someClientSecret","authorizationURL":null,"tokenURL":null,"set_user_root_attributes":"on_each_login","non_persistent_attrs":null},"strategy":"twitter","name":"Acceptance-Test-Twitter-TestAccConnectionTwitter","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Twitter-TestAccConnectionTwitter"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_s65OZErWIB9PGD00
    method: GET
  response:
    body: '{"id":"con_s65OZErWIB9PGD00","options":{"tokenURL":null,"client_id":"someClientID","client_secret":"someClientSecret","authorizationURL":null,"non_persistent_attrs":null,"set_user_root_attributes":"on_each_login"},"strategy":"twitter","name":"Acceptance-Test-Twitter-TestAccConnectionTwitter","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Twitter-TestAccConnectionTwitter"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: |
      {"is_domain_connection":false,"options":{"client_id":"someClientID","client_secret":"someClientSecret","authorizationURL":null,"tokenURL":null,"scope":"basic_profile","set_user_root_attributes":"on_each_login","non_persistent_attrs":null,"pkce_enabled":false}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_s65OZErWIB9PGD00
    method: PATCH
  response:
    body: '{"id":"con_s65OZErWIB9PGD00","options":[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_s65OZErWIB9PGD00
    method: DELETE
  response:
    body: '{"deleted_at":"2022-07-14T17:04:00.091Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
