---
version: 1
interactions:
- request:
    body: |
      {"name":"Acceptance-Test-Connection-TestAccConnectionConfiguration","strategy":"auth0","is_domain_connection":true,"options":{"brute_force_protection":true,"configuration":{"bar":"zzz","foo":"xxx"},"non_persistent_attrs":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_TbiYA6DRK1siK161","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","brute_force_protection":true,"non_persistent_attrs":null,"configuration":{"bar":"2.0$b48a1db24364f3597fc25519ee495093$f3f44ff57be6da74360accdef36016e3$59376530fb6ee01ce3bbf06098c914b2c9cbf996c33292cc0a05bb1e69bb4a39","foo":"2.0$56a431d254f454db21e38b18dc171f8f$e9423c25e12b47ca8f52c8c87d90c4bf$e18ae415b8382f9ee5c88497c4ad187034417d65b47a14842329ef31b8f89323"},"strategy_version":2},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionConfiguration","is_domain_connection":true,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionConfiguration"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_TbiYA6DRK1siK161
    method: GET
  response:
    body: '{"id":"con_TbiYA6DRK1siK161","options":{"mfa":{"active":true,"return_enroll_settings":true},"configuration":{"bar":"2.0$b48a1db24364f3597fc25519ee495093$f3f44ff57be6da74360accdef36016e3$59376530fb6ee01ce3bbf06098c914b2c9cbf996c33292cc0a05bb1e69bb4a39","foo":"2.0$56a431d254f454db21e38b18dc171f8f$e9423c25e12b47ca8f52c8c87d90c4bf$e18ae415b8382f9ee5c88497c4ad187034417d65b47a14842329ef31b8f89323"},"passwordPolicy":"good","strategy_version":2,"non_persistent_attrs":null,"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionConfiguration","is_domain_connection":true,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionConfiguration"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: |
      {"is_domain_connection":true,"options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","enabledDatabaseCustomization":false,"brute_force_protection":true,"import_mode":false,"disable_signup":false,"requires_username":false,"configuration":{"bar":"yyy","baz":"zzz","foo":"xxx"},"non_persistent_attrs":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_TbiYA6DRK1siK161
    method: PATCH
  response:
    body: '{"id":"con_TbiYA6DRK1siK161","options":{"mfa":{"active":true,"return_enroll_settings":true},"import_mode":false,"configuration":{"bar":"2.0$b05ee23e3ce6c04d72db6027fd0efd19$75cb88db8fec1440beb6dcb9acd142af$93e56ecedcd23cf60522643226b55569f589673b967e1225968fffede5b031de","baz":"2.0$5a40a47e45c09273bdb650cbae5f77e2$d15fca88df62f280a9636e1b351c1aa0$23d66ffceaeb7adf054814bb565b11e34d66a27cb941000f8e0d7d034b46df2a","foo":"2.0$bcb6878decbfe94e52b18e20a00e044e$e083f8059e4cd834bc53753ee589fab7$e8951ddb99543fc4e1862fc850e41ea2b0b44c1a79fd7d1f886300615b1eb767"},"disable_signup":false,"passwordPolicy":"good","requires_username":false,"non_persistent_attrs":null,"brute_force_protection":true,"enabledDatabaseCustomization":false},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionConfiguration","is_domain_connection":true,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionConfiguration"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_TbiYA6DRK1siK161
    method: DELETE
  response:
    body: '{"deleted_at":"2022-06-13T13:15:45.410Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
