---
version: 1
interactions:
- request:
    body: |
      {"name":"acceptance-test-TestAccRule","script":"function (user, context, callback) { callback(null, user, context); }","enabled":true}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/rules
    method: POST
  response:
    body: '{"id":"rul_MO1EG98RYEBBprMO","enabled":true,"script":"function (user, context,
      callback) { callback(null, user, context); }","name":"acceptance-test-TestAccRule","order":1,"stage":"login_success"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/rules/rul_MO1EG98RYEBBprMO
    method: GET
  response:
    body: '{"id":"rul_MO1EG98RYEBBprMO","enabled":true,"script":"function (user, context,
      callback) { callback(null, user, context); }","name":"acceptance-test-TestAccRule","order":1,"stage":"login_success"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
