---
version: 1
interactions:
- request:
    body: |
      {"name":"Acceptance Test - JWT Scopes - TestAccClientJwtScopes","jwt_configuration":{"secret_encoded":true,"alg":"RS256","lifetime_in_seconds":300}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
    method: POST
  response:
    body: '{"name":"Acceptance Test - JWT Scopes - TestAccClientJwtScopes","client_id":"idxtGMNt07Y4lmReNNvPgphWBZhvaGPR","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":true,"alg":"RS256","lifetime_in_seconds":300},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/idxtGMNt07Y4lmReNNvPgphWBZhvaGPR
    method: GET
  response:
    body: '{"name":"Acceptance Test - JWT Scopes - TestAccClientJwtScopes","client_id":"idxtGMNt07Y4lmReNNvPgphWBZhvaGPR","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":true,"alg":"RS256","lifetime_in_seconds":300},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: |
      {"name":"Acceptance Test - JWT Scopes - TestAccClientJwtScopes","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"scopes":{"foo":"bar"},"alg":"RS256","lifetime_in_seconds":300},"sso":false,"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/idxtGMNt07Y4lmReNNvPgphWBZhvaGPR
    method: PATCH
  response:
    body: '{"name":"Acceptance Test - JWT Scopes - TestAccClientJwtScopes","client_id":"idxtGMNt07Y4lmReNNvPgphWBZhvaGPR","client_secret":"[REDACTED]","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":true,"scopes":{"foo":"bar"},"alg":"RS256","lifetime_in_seconds":300},"signing_keys":[{"cert":"[REDACTED]"}],"sso":false,"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
