---
version: 1
interactions:
- request:
    body: |
      {"name":"Acceptance-Test-LogStream-http-TestAccLogStreamHTTP","type":"http","sink":{"httpContentFormat":"JSONLINES","httpContentType":"application/json","httpEndpoint":"https://example.com/webhook/logs","httpAuthorization":"AKIAXXXXXXXXXXXXXXXX"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams
    method: POST
  response:
    body: '{"id":"lst_0000000000009480","name":"Acceptance-Test-LogStream-http-TestAccLogStreamHTTP","type":"http","status":"active","sink":{"httpAuthorization":"AKIAXXXXXXXXXXXXXXXX","httpContentFormat":"JSONLINES","httpContentType":"application/json","httpEndpoint":"https://example.com/webhook/logs"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      {"status":"paused"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000009480
    method: PATCH
  response:
    body: '{"id":"lst_0000000000009480","name":"Acceptance-Test-LogStream-http-TestAccLogStreamHTTP","type":"http","status":"paused","sink":{"httpAuthorization":"AKIAXXXXXXXXXXXXXXXX","httpContentFormat":"JSONLINES","httpContentType":"application/json","httpEndpoint":"https://example.com/webhook/logs"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: |
      {"name":"Acceptance-Test-LogStream-http-new-TestAccLogStreamHTTP","status":"paused","sink":{"httpContentFormat":"JSONLINES","httpContentType":"application/json","httpEndpoint":"https://example.com/logs","httpAuthorization":"AKIAXXXXXXXXXXXXXXXX","httpCustomHeaders":[{"header":"foo","value":"bar"},{"header":"bar","value":"foo"}]}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000009480
    method: PATCH
  response:
    body: '{"id":"lst_0000000000009480","name":"Acceptance-Test-LogStream-http-new-TestAccLogStreamHTTP","type":"http","status":"paused","sink":{"httpAuthorization":"AKIAXXXXXXXXXXXXXXXX","httpContentFormat":"JSONLINES","httpContentType":"application/json","httpEndpoint":"https://example.com/logs","httpCustomHeaders":[{"header":"foo","value":"bar"},{"header":"bar","value":"foo"}]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
