---
version: 1
interactions:
- request:
    body: |
      {"name":"Acceptance-Test-Windowslive-TestAccConnectionWindowslive","strategy":"windowslive","is_domain_connection":false,"options":{"client_id":"client_id","client_secret":"client_secret","strategy_version":2,"graph_user":true,"signin":true,"non_persistent_attrs":null,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_CZrGfKi8BbOVO5qp","options":{"client_id":"client_id","client_secret":"client_secret","strategy_version":2,"graph_user":true,"signin":true,"non_persistent_attrs":null,"upstream_params":{"screen_name":{"alias":"login_hint"}},"scope":["https://graph.microsoft.com/User.Read"]},"strategy":"windowslive","name":"Acceptance-Test-Windowslive-TestAccConnectionWindowslive","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Windowslive-TestAccConnectionWindowslive"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_CZrGfKi8BbOVO5qp
    method: GET
  response:
    body: '{"id":"con_CZrGfKi8BbOVO5qp","options":[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_CZrGfKi8BbOVO5qp
    method: DELETE
  response:
    body: '{"deleted_at":"2022-07-07T15:39:03.516Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
