---
version: 1
interactions:
- request:
    body: |
      {"name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v2"}],"code":"exports.onExecutePostLogin = async (event, api) =\u003e {};","secrets":[{"name":"foo","value":"123"}]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions
    method: POST
  response:
    body: '{"id":"7ea20156-266f-4c33-af8a-2b9a01744b3b","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v2"}],"created_at":"2022-06-13T13:11:59.822814816Z","updated_at":"2022-06-13T13:11:59.845285403Z","code":"exports.onExecutePostLogin
      = async (event, api) => {};","dependencies":[],"runtime":"node16","status":"pending","secrets":[{"name":"foo","updated_at":"2022-06-13T13:11:59.845285403Z"}],"all_changes_deployed":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/7ea20156-266f-4c33-af8a-2b9a01744b3b
    method: GET
  response:
    body: '{"id":"7ea20156-266f-4c33-af8a-2b9a01744b3b","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v2"}],"created_at":"2022-06-13T13:11:59.822814816Z","updated_at":"2022-06-13T13:11:59.845285403Z","code":"exports.onExecutePostLogin
      = async (event, api) => {};","dependencies":[],"runtime":"node16","status":"built","secrets":[{"name":"foo","updated_at":"2022-06-13T13:11:59.845285403Z"}],"all_changes_deployed":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/7ea20156-266f-4c33-af8a-2b9a01744b3b/deploy
    method: POST
  response:
    body: '{"code":"exports.onContinuePostLogin = async (event, api) => {};","dependencies":[],"id":"61089d1c-1373-4df1-9b44-823246674ab6","deployed":false,"number":1,"secrets":[{"name":"foo","updated_at":"2022-06-13T13:12:03.343236012Z"}],"status":"built","created_at":"2022-06-13T13:12:04.330560598Z","updated_at":"2022-06-13T13:12:04.330560598Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v2"}],"action":{"id":"7ea20156-266f-4c33-af8a-2b9a01744b3b","name":"Test
      Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v2"}],"created_at":"2022-06-13T13:11:59.822814816Z","updated_at":"2022-06-13T13:12:03.333526242Z","all_changes_deployed":false}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/actions/actions/7ea20156-266f-4c33-af8a-2b9a01744b3b
    method: GET
  response:
    body: '{"id":"7ea20156-266f-4c33-af8a-2b9a01744b3b","name":"Test Action TestAccAction","supported_triggers":[{"id":"post-login","version":"v2"}],"created_at":"2022-06-13T13:11:59.822814816Z","updated_at":"2022-06-13T13:12:03.343236012Z","code":"exports.onContinuePostLogin
      = async (event, api) => {};","dependencies":[],"runtime":"node16","status":"built","secrets":[{"name":"foo","updated_at":"2022-06-13T13:12:03.343236012Z"}],"current_version":{"id":"61089d1c-1373-4df1-9b44-823246674ab6","code":"exports.onContinuePostLogin
      = async (event, api) => {};","runtime":"node16","status":"BUILT","number":1,"build_time":"2022-06-13T13:12:04.425115124Z","created_at":"2022-06-13T13:12:04.330560598Z","updated_at":"2022-06-13T13:12:04.426854686Z"},"deployed_version":{"code":"exports.onContinuePostLogin
      = async (event, api) => {};","dependencies":[],"id":"61089d1c-1373-4df1-9b44-823246674ab6","deployed":true,"number":1,"built_at":"2022-06-13T13:12:04.425115124Z","secrets":[{"name":"foo","updated_at":"2022-06-13T13:12:03.343236012Z"}],"status":"built","created_at":"2022-06-13T13:12:04.330560598Z","updated_at":"2022-06-13T13:12:04.426854686Z","runtime":"node16","supported_triggers":[{"id":"post-login","version":"v2"}]},"all_changes_deployed":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
