---
version: 1
interactions:
- request:
    body: |
      {"user_id":"testaccuser","connection":"Username-Password-Authentication","email":"testaccuser@acceptance.test.com","name":"Firstname Lastname","given_name":"Firstname","family_name":"Lastname","username":"testaccuser","nickname":"testaccuser","password":"passpass$12$12","picture":"https://www.example.com/picture.jpg"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
    method: POST
  response:
    body: '{"created_at":"2022-07-20T15:27:49.355Z","email":"testaccuser@acceptance.test.com","email_verified":false,"family_name":"Lastname","given_name":"Firstname","identities":[{"user_id":"testaccuser","connection":"Username-Password-Authentication","provider":"auth0","isSocial":false}],"name":"Firstname
      Lastname","nickname":"testaccuser","picture":"https://www.example.com/picture.jpg","updated_at":"2022-07-20T15:27:49.355Z","user_id":"auth0|testaccuser","username":"testaccuser"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuser
    method: GET
  response:
    body: '{"created_at":"2022-07-20T15:27:49.355Z","email":"testaccuser@acceptance.test.com","email_verified":false,"family_name":"Lastname","given_name":"Firstname","identities":[{"user_id":"testaccuser","connection":"Username-Password-Authentication","provider":"auth0","isSocial":false}],"name":"Firstname
      Lastname","nickname":"testaccuser","picture":"https://www.example.com/picture.jpg","updated_at":"2022-07-20T15:27:49.355Z","user_id":"auth0|testaccuser","username":"testaccuser"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuser/roles?include_totals=true&per_page=50
    method: GET
  response:
    body: '{"roles":[],"start":0,"limit":50,"total":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: |
      {"name":"owner","description":"Owner"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles
    method: POST
  response:
    body: '{"id":"rol_wce2BfE7eHrGmN5B","name":"owner","description":"Owner"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_wce2BfE7eHrGmN5B
    method: GET
  response:
    body: '{"id":"rol_wce2BfE7eHrGmN5B","name":"owner","description":"Owner"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_wce2BfE7eHrGmN5B/permissions?include_totals=true&page=0&per_page=50
    method: GET
  response:
    body: '{"permissions":[],"start":0,"limit":50,"total":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_E7Iv5M5BzbcXLdNO
    method: GET
  response:
    body: '{"id":"rol_E7Iv5M5BzbcXLdNO","name":"admin","description":"Administrator"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_E7Iv5M5BzbcXLdNO/permissions?include_totals=true&page=0&per_page=50
    method: GET
  response:
    body: '{"permissions":[],"start":0,"limit":50,"total":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      {"connection":"Username-Password-Authentication","name":"Firstname Lastname","given_name":"Firstname","family_name":"Lastname","nickname":"testaccuser","user_metadata":{"baz":"qux","foo":"bar"},"app_metadata":{"baz":"qux","foo":"bar"},"picture":"https://www.example.com/picture.jpg","blocked":false}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuser
    method: PATCH
  response:
    body: '{"created_at":"2022-07-20T15:27:49.355Z","email":"testaccuser@acceptance.test.com","email_verified":false,"family_name":"Lastname","given_name":"Firstname","identities":[{"user_id":"testaccuser","connection":"Username-Password-Authentication","provider":"auth0","isSocial":false}],"name":"Firstname
      Lastname","nickname":"testaccuser","picture":"https://www.example.com/picture.jpg","updated_at":"2022-07-20T15:27:55.393Z","user_id":"auth0|testaccuser","username":"testaccuser","blocked":false,"user_metadata":{"baz":"qux","foo":"bar"},"app_metadata":{"baz":"qux","foo":"bar"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      {"roles":["rol_E7Iv5M5BzbcXLdNO","rol_wce2BfE7eHrGmN5B"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuser/roles
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 204 No Content
    code: 204
    duration: 1ms
[...]
- request:
    body: |
      {"roles":["rol_wce2BfE7eHrGmN5B"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuser/roles
    method: DELETE
  response:
    body: '{"statusCode":404,"error":"Not Found","message":"The role does not exist."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 404 Not Found
    code: 404
    duration: 1ms
[...]
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuser/roles?include_totals=true&per_page=50
    method: GET
  response:
    body: '{"statusCode":429,"error":"Too Many Requests","message":"Global limit has
      been reached","errorCode":"too_many_requests"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 429 Too Many Requests
    code: 429
    duration: 1ms
[...]
- request:
    body: |
      {"connection":"Username-Password-Authentication","name":"Firstname Lastname","given_name":"Firstname","family_name":"Lastname","nickname":"testaccuser","user_metadata":{"foo":"barss","foo2":"bar2"},"app_metadata":{"foo":"barss","foo2":"bar2"},"picture":"https://www.example.com/picture.jpg","blocked":false}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuser
    method: PATCH
  response:
    body: '{"created_at":"2022-07-20T15:27:49.355Z","email":"testaccuser@acceptance.test.com","email_verified":false,"family_name":"Lastname","given_name":"Firstname","identities":[{"user_id":"testaccuser","connection":"Username-Password-Authentication","provider":"auth0","isSocial":false}],"name":"Firstname
      Lastname","nickname":"testaccuser","picture":"https://www.example.com/picture.jpg","updated_at":"2022-07-20T15:28:12.497Z","user_id":"auth0|testaccuser","username":"testaccuser","blocked":false,"user_metadata":{"foo":"barss","foo2":"bar2"},"app_metadata":{"foo":"barss","foo2":"bar2"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
