---
version: 1
interactions:
- request:
    body: |
      {"name":"Acceptance-Test-Connection-TestAccConnectionConfiguration","strategy":"auth0","is_domain_connection":true,"options":{"brute_force_protection":true,"configuration":{"bar":"zzz","foo":"xxx"},"non_persistent_attrs":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_NOTO09CWsv7xCQ0h","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","brute_force_protection":true,"non_persistent_attrs":null,"configuration":{"bar":"2.0$6d3de6b49c84ead59ba83ce5de7bebe5$08da4b4fbcc674e8b1879d8150787a00$345928fdd6e1d9168d846fa2377287302804de6143a70cad59f6b8a257768eb1","foo":"2.0$61cf76dd9ce5b54d628dfbf5b05b3b7b$37f127afe9e95071f8edea836c0d0dd6$39c1036024c7f80d3ca0d51edeaa04302b2f886af8aa49d447550bbc703bdf82"},"strategy_version":2},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionConfiguration","is_domain_connection":true,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionConfiguration"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_NOTO09CWsv7xCQ0h
    method: GET
  response:
    body: '{"id":"con_NOTO09CWsv7xCQ0h","options":{"mfa":{"active":true,"return_enroll_settings":true},"configuration":{"bar":"2.0$6d3de6b49c84ead59ba83ce5de7bebe5$08da4b4fbcc674e8b1879d8150787a00$345928fdd6e1d9168d846fa2377287302804de6143a70cad59f6b8a257768eb1","foo":"2.0$61cf76dd9ce5b54d628dfbf5b05b3b7b$37f127afe9e95071f8edea836c0d0dd6$39c1036024c7f80d3ca0d51edeaa04302b2f886af8aa49d447550bbc703bdf82"},"passwordPolicy":"good","strategy_version":2,"non_persistent_attrs":null,"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionConfiguration","is_domain_connection":true,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionConfiguration"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: |
      {"is_domain_connection":true,"options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","enabledDatabaseCustomization":false,"brute_force_protection":true,"import_mode":false,"disable_signup":false,"requires_username":false,"configuration":{"bar":"yyy","baz":"zzz","foo":"xxx"},"non_persistent_attrs":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_NOTO09CWsv7xCQ0h
    method: PATCH
  response:
    body: '{"id":"con_NOTO09CWsv7xCQ0h","options":{"mfa":{"active":true,"return_enroll_settings":true},"import_mode":false,"configuration":{"bar":"2.0$2194792090fba248eecf5bc51e02b919$76e842f18dc05c345f81e87ea7d8a947$719e9a5cc7def9ee869ff0f305b6aca4d0ad0ea56dde80941df9b31800721dd4","baz":"2.0$f656de8a0ca2f6dafc80dfbfa220c2cf$898103320948fddc16e4f0cdce641382$0a75b190bef058e54c2de484ccc6c0bf9a086a850baea567972c29b72ff75364","foo":"2.0$b58e432b6ae00c8d8dcf06412a527d01$f85156ad9fb3c12d624ad641ee3dbea6$3988bc4afd158edd49492bbce960221104d8d8d4dc4e85ff89dd18936f70cc5f"},"disable_signup":false,"passwordPolicy":"good","requires_username":false,"non_persistent_attrs":null,"brute_force_protection":true,"enabledDatabaseCustomization":false},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionConfiguration","is_domain_connection":true,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionConfiguration"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_NOTO09CWsv7xCQ0h
    method: DELETE
  response:
    body: '{"deleted_at":"2022-07-07T15:39:09.765Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
