---
version: 1
interactions:
- request:
    body: |
      {"name":"Application - Acceptance Test - 1 - TestAccConnectionWithEnabledClients","description":"Test Applications Long Description","app_type":"non_interactive"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients
    method: POST
  response:
    body: '{"name":"Application - Acceptance Test - 1 - TestAccConnectionWithEnabledClients","description":"Test
      Applications Long Description","client_id":"mCHlK3bS7f3YTap22OaQeS9X4z4dz41B","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/mCHlK3bS7f3YTap22OaQeS9X4z4dz41B
    method: GET
  response:
    body: '{"name":"Application - Acceptance Test - 1 - TestAccConnectionWithEnabledClients","description":"Test
      Applications Long Description","client_id":"mCHlK3bS7f3YTap22OaQeS9X4z4dz41B","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/OHoauhXUy0ngcILMpnElSLj0g0cxliba
    method: GET
  response:
    body: '{"name":"Application - Acceptance Test - 2 - TestAccConnectionWithEnabledClients","description":"Test
      Applications Long Description","client_id":"OHoauhXUy0ngcILMpnElSLj0g0cxliba","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/23gw2efS6wjE0rXi9GjE54dzoUeS1bCW
    method: GET
  response:
    body: '{"name":"Application - Acceptance Test - 3 - TestAccConnectionWithEnabledClients","description":"Test
      Applications Long Description","client_id":"23gw2efS6wjE0rXi9GjE54dzoUeS1bCW","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/clients/fZ9LJi4ULeJSa7eLdxqBdddchjEm6hYJ
    method: GET
  response:
    body: '{"name":"Application - Acceptance Test - 4 - TestAccConnectionWithEnabledClients","description":"Test
      Applications Long Description","client_id":"fZ9LJi4ULeJSa7eLdxqBdddchjEm6hYJ","client_secret":"[REDACTED]","app_type":"non_interactive","is_first_party":true,"is_token_endpoint_ip_header_trusted":false,"oidc_conformant":false,"jwt_configuration":{"secret_encoded":false,"lifetime_in_seconds":36000},"signing_keys":[{"cert":"[REDACTED]"}],"sso_disabled":false,"cross_origin_auth":false,"grant_types":["authorization_code","implicit","refresh_token","client_credentials"],"custom_login_page_on":true,"refresh_token":{"rotation_type":"non-rotating","expiration_type":"non-expiring","leeway":0,"token_lifetime":2592000,"infinite_token_lifetime":true,"infinite_idle_token_lifetime":true,"idle_token_lifetime":1296000}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      {"name":"Acceptance-Test-Connection-TestAccConnectionWithEnabledClients","strategy":"auth0","is_domain_connection":true,"enabled_clients":["fZ9LJi4ULeJSa7eLdxqBdddchjEm6hYJ","mCHlK3bS7f3YTap22OaQeS9X4z4dz41B","23gw2efS6wjE0rXi9GjE54dzoUeS1bCW","OHoauhXUy0ngcILMpnElSLj0g0cxliba"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_u7UanxzdBk3fImNO","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionWithEnabledClients","is_domain_connection":true,"enabled_clients":["mCHlK3bS7f3YTap22OaQeS9X4z4dz41B","OHoauhXUy0ngcILMpnElSLj0g0cxliba","23gw2efS6wjE0rXi9GjE54dzoUeS1bCW","fZ9LJi4ULeJSa7eLdxqBdddchjEm6hYJ"],"realms":["Acceptance-Test-Connection-TestAccConnectionWithEnabledClients"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_u7UanxzdBk3fImNO
    method: GET
  response:
    body: '{"id":"con_u7UanxzdBk3fImNO","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionWithEnabledClients","is_domain_connection":true,"enabled_clients":["mCHlK3bS7f3YTap22OaQeS9X4z4dz41B","OHoauhXUy0ngcILMpnElSLj0g0cxliba","23gw2efS6wjE0rXi9GjE54dzoUeS1bCW","fZ9LJi4ULeJSa7eLdxqBdddchjEm6hYJ"],"realms":["Acceptance-Test-Connection-TestAccConnectionWithEnabledClients"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_u7UanxzdBk3fImNO
    method: DELETE
  response:
    body: '{"deleted_at":"2022-07-07T15:38:13.556Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
[...]
