---
version: 1
interactions:
- request:
    body: |
      {"name":"Acceptance-Test-Custom-SMS-TestAccConnectionCustomSMS","strategy":"sms","is_domain_connection":false,"options":{"name":"sms","from":"+12345678","syntax":"md_with_macros","template":"@@password@@","totp":{"time_step":300,"length":6},"provider":"sms_gateway","gateway_url":"https://somewhere.com/sms-gateway","gateway_authentication":{"method":"bearer","subject":"test.us.auth0.com:sms","audience":"https://somewhere.com/sms-gateway","secret":"4e2680bb72ec2ae24836476dd37ed6c2","secret_base64_encoded":false},"forward_request_info":true,"disable_signup":false,"brute_force_protection":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_VXKjvknpydoEoTuT","options":{"name":"sms","from":"+12345678","syntax":"md_with_macros","template":"@@password@@","totp":{"time_step":300,"length":6},"provider":"sms_gateway","gateway_url":"https://somewhere.com/sms-gateway","gateway_authentication":{"method":"bearer","subject":"test.us.auth0.com:sms","audience":"https://somewhere.com/sms-gateway","secret":"4e2680bb72ec2ae24836476dd37ed6c2","secret_base64_encoded":false},"forward_request_info":true,"disable_signup":false,"brute_force_protection":true},"strategy":"sms","name":"Acceptance-Test-Custom-SMS-TestAccConnectionCustomSMS","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Custom-SMS-TestAccConnectionCustomSMS"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_VXKjvknpydoEoTuT
    method: GET
  response:
    body: '{"id":"con_VXKjvknpydoEoTuT","options":{"from":"+12345678","name":"sms","totp":{"length":6,"time_step":300},"syntax":"md_with_macros","provider":"sms_gateway","template":"@@password@@","gateway_url":"https://somewhere.com/sms-gateway","disable_signup":false,"forward_request_info":true,"brute_force_protection":true,"gateway_authentication":{"method":"bearer","secret":"4e2680bb72ec2ae24836476dd37ed6c2","subject":"test.us.auth0.com:sms","audience":"https://somewhere.com/sms-gateway","secret_base64_encoded":false}},"strategy":"sms","name":"Acceptance-Test-Custom-SMS-TestAccConnectionCustomSMS","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Custom-SMS-TestAccConnectionCustomSMS"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_VXKjvknpydoEoTuT
    method: DELETE
  response:
    body: '{"deleted_at":"2022-06-13T13:14:42.484Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
