---
version: 1
interactions:
- request:
    body: |
      {"domain":"testacccustomdomain.auth.uat.terraform-provider-auth0.com","type":"auth0_managed_certs"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains
    method: POST
  response:
    body: '{"custom_domain_id":"cd_qzstHJURrWCodlBe","domain":"testacccustomdomain.auth.uat.terraform-provider-auth0.com","primary":true,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"cname","record":"terraform-provider-auth0-dev-cd-qzsthjurrwcodlbe.edge.tenants.eu.auth0.com"}]},"tls_policy":"recommended"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/custom-domains/cd_qzstHJURrWCodlBe
    method: GET
  response:
    body: '{"custom_domain_id":"cd_qzstHJURrWCodlBe","domain":"testacccustomdomain.auth.uat.terraform-provider-auth0.com","primary":true,"status":"pending_verification","type":"auth0_managed_certs","verification":{"methods":[{"name":"cname","record":"terraform-provider-auth0-dev-cd-qzsthjurrwcodlbe.edge.tenants.eu.auth0.com"}]},"tls_policy":"recommended"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
