---
version: 1
interactions:
- request:
    body: |
      {"name":"Acceptance-Test-LogStream-splunk-TestAccLogStreamSplunk","type":"splunk","sink":{"splunkDomain":"demo.splunk.com","splunkToken":"12a34ab5-c6d7-8901-23ef-456b7c89d0c1","splunkPort":"8088","splunkSecure":true}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams
    method: POST
  response:
    body: '{"id":"lst_0000000000009484","name":"Acceptance-Test-LogStream-splunk-TestAccLogStreamSplunk","type":"splunk","status":"active","sink":{"splunkDomain":"demo.splunk.com","splunkPort":"8088","splunkToken":"12a34ab5-c6d7-8901-23ef-456b7c89d0c1","splunkSecure":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000009484
    method: GET
  response:
    body: '{"id":"lst_0000000000009484","name":"Acceptance-Test-LogStream-splunk-TestAccLogStreamSplunk","type":"splunk","status":"active","sink":{"splunkDomain":"demo.splunk.com","splunkPort":"8088","splunkToken":"12a34ab5-c6d7-8901-23ef-456b7c89d0c1","splunkSecure":true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
