---
version: 1
interactions:
- request:
    body: |
      {"name":"Acceptance-Test-SMS-TestAccConnectionSMS","strategy":"sms","is_domain_connection":false,"options":{"name":"SMS OTP","from":"+12345678","syntax":"md_with_macros","template":"@@password@@","totp":{"time_step":300,"length":6},"twilio_sid":"ABC123","twilio_token":"DEF456","messaging_service_sid":"GHI789","disable_signup":false,"brute_force_protection":true,"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_9bawrX0hcOINIwAH","options":{"name":"SMS OTP","from":"+12345678","syntax":"md_with_macros","template":"@@password@@","totp":{"time_step":300,"length":6},"twilio_sid":"ABC123","twilio_token":"DEF456","messaging_service_sid":"GHI789","disable_signup":false,"brute_force_protection":true,"upstream_params":{"screen_name":{"alias":"login_hint"}}},"strategy":"sms","name":"Acceptance-Test-SMS-TestAccConnectionSMS","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-SMS-TestAccConnectionSMS"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_9bawrX0hcOINIwAH
    method: GET
  response:
    body: '{"id":"con_9bawrX0hcOINIwAH","options":{"from":"+12345678","name":"SMS
      OTP","totp":{"length":6,"time_step":300},"syntax":"md_with_macros","template":"@@password@@","twilio_sid":"ABC123","twilio_token":"DEF456","disable_signup":false,"upstream_params":{"screen_name":{"alias":"login_hint"}},"messaging_service_sid":"GHI789","brute_force_protection":true},"strategy":"sms","name":"Acceptance-Test-SMS-TestAccConnectionSMS","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-SMS-TestAccConnectionSMS"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_9bawrX0hcOINIwAH
    method: DELETE
  response:
    body: '{"deleted_at":"2022-07-07T15:38:18.140Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
