---
version: 1
interactions:
- request:
    body: |
      {"name":"Acceptance-Test-Connection-First-testaccorganizationconnection","strategy":"auth0"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_i0tczWH0rgFXzX8V","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-First-testaccorganizationconnection","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-First-testaccorganizationconnection"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_i0tczWH0rgFXzX8V
    method: GET
  response:
    body: '{"id":"con_i0tczWH0rgFXzX8V","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","strategy_version":2,"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-First-testaccorganizationconnection","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-Connection-First-testaccorganizationconnection"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      {"name":"test-testaccorganizationconnection","display_name":"Acme Inc. testaccorganizationconnection"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations
    method: POST
  response:
    body: '{"name":"test-testaccorganizationconnection","display_name":"Acme Inc.
      testaccorganizationconnection","id":"org_F0SFBJL8wn3Of88g"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_F0SFBJL8wn3Of88g
    method: GET
  response:
    body: '{"id":"org_F0SFBJL8wn3Of88g","name":"test-testaccorganizationconnection","display_name":"Acme
      Inc. testaccorganizationconnection"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_F0SFBJL8wn3Of88g/enabled_connections?include_totals=true&per_page=50
    method: GET
  response:
    body: '{"enabled_connections":[],"start":0,"limit":0,"total":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      {"connection_id":"con_i0tczWH0rgFXzX8V","assign_membership_on_login":false}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_F0SFBJL8wn3Of88g/enabled_connections
    method: POST
  response:
    body: '{"connection_id":"con_i0tczWH0rgFXzX8V","assign_membership_on_login":false,"connection":{"name":"Acceptance-Test-Connection-First-testaccorganizationconnection","strategy":"auth0"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/organizations/org_F0SFBJL8wn3Of88g/enabled_connections/con_i0tczWH0rgFXzX8V
    method: GET
  response:
    body: '{"connection_id":"con_i0tczWH0rgFXzX8V","assign_membership_on_login":false,"connection":{"name":"Acceptance-Test-Connection-First-testaccorganizationconnection","strategy":"auth0"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_i0tczWH0rgFXzX8V
    method: DELETE
  response:
    body: '{"deleted_at":"2022-07-20T09:41:21.120Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
