---
version: 1
interactions:
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/tenants/settings
    method: GET
  response:
    body: '{"change_password":{},"enabled_locales":["en"],"error_page":{},"flags":{"allow_changing_enable_sso":false,"disable_impersonation":true,"enable_sso":true,"universal_login":true,"revoke_refresh_token_grant":false,"disable_clickjack_protection_headers":false},"guardian_mfa_page":{},"idle_session_lifetime":72,"sandbox_version":"12","session_lifetime":168,"universal_login":{},"sandbox_versions_available":["12"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
