---
version: 1
interactions:
- request:
    body: |
      {"user_id":"testaccuser","connection":"Username-Password-Authentication","email":"testaccuser@acceptance.test.com","name":"Firstname Lastname","given_name":"Firstname","family_name":"Lastname","username":"testaccuser","nickname":"testaccuser","password":"passpass$12$12","user_metadata":{"bar":{"baz":"qux"},"foo":"bar"},"app_metadata":{"bar":{"baz":"qux"},"foo":"bar"},"picture":"https://www.example.com/picture.jpg"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users
    method: POST
  response:
    body: '{"created_at":"2022-06-14T10:07:11.250Z","email":"testaccuser@acceptance.test.com","email_verified":false,"family_name":"Lastname","given_name":"Firstname","identities":[{"user_id":"testaccuser","connection":"Username-Password-Authentication","provider":"auth0","isSocial":false}],"name":"Firstname
      Lastname","nickname":"testaccuser","picture":"https://www.example.com/picture.jpg","updated_at":"2022-06-14T10:07:11.250Z","user_id":"auth0|testaccuser","user_metadata":{"bar":{"baz":"qux"},"foo":"bar"},"username":"testaccuser","app_metadata":{"bar":{"baz":"qux"},"foo":"bar"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuser
    method: GET
  response:
    body: '{"created_at":"2022-06-14T10:07:11.250Z","email":"testaccuser@acceptance.test.com","email_verified":false,"family_name":"Lastname","given_name":"Firstname","identities":[{"user_id":"testaccuser","connection":"Username-Password-Authentication","provider":"auth0","isSocial":false}],"name":"Firstname
      Lastname","nickname":"testaccuser","picture":"https://www.example.com/picture.jpg","updated_at":"2022-06-14T10:07:11.250Z","user_id":"auth0|testaccuser","user_metadata":{"bar":{"baz":"qux"},"foo":"bar"},"username":"testaccuser","app_metadata":{"bar":{"baz":"qux"},"foo":"bar"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuser/roles?include_totals=true&per_page=50
    method: GET
  response:
    body: '{"roles":[],"start":0,"limit":50,"total":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: |
      {"name":"owner","description":"Owner"}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles
    method: POST
  response:
    body: '{"id":"rol_idJWxoOUpGZv9Hxn","name":"owner","description":"Owner"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_QBc0kb691vncIbqv
    method: GET
  response:
    body: '{"id":"rol_QBc0kb691vncIbqv","name":"admin","description":"Administrator"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_idJWxoOUpGZv9Hxn
    method: GET
  response:
    body: '{"id":"rol_idJWxoOUpGZv9Hxn","name":"owner","description":"Owner"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_QBc0kb691vncIbqv/permissions?include_totals=true&page=0&per_page=50
    method: GET
  response:
    body: '{"permissions":[],"start":0,"limit":50,"total":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/roles/rol_idJWxoOUpGZv9Hxn/permissions?include_totals=true&page=0&per_page=50
    method: GET
  response:
    body: '{"permissions":[],"start":0,"limit":50,"total":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      {"connection":"Username-Password-Authentication","name":"Firstname Lastname","given_name":"Firstname","family_name":"Lastname","nickname":"testaccuser","user_metadata":{"bar":{"baz":"qux"},"foo":"bar"},"app_metadata":{"bar":{"baz":"qux"},"foo":"bar"},"picture":"https://www.example.com/picture.jpg","blocked":false}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuser
    method: PATCH
  response:
    body: '{"created_at":"2022-06-14T10:07:11.250Z","email":"testaccuser@acceptance.test.com","email_verified":false,"family_name":"Lastname","given_name":"Firstname","identities":[{"user_id":"testaccuser","connection":"Username-Password-Authentication","provider":"auth0","isSocial":false}],"name":"Firstname
      Lastname","nickname":"testaccuser","picture":"https://www.example.com/picture.jpg","updated_at":"2022-06-14T10:07:16.967Z","user_id":"auth0|testaccuser","user_metadata":{"bar":{"baz":"qux"},"foo":"bar"},"username":"testaccuser","blocked":false,"app_metadata":{"bar":{"baz":"qux"},"foo":"bar"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      {"roles":["rol_QBc0kb691vncIbqv","rol_idJWxoOUpGZv9Hxn"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuser/roles
    method: POST
  response:
    body: ""
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 204 No Content
    code: 204
    duration: 1ms
[...]
- request:
    body: |
      {"roles":["rol_idJWxoOUpGZv9Hxn"]}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/users/auth0%7Ctestaccuser/roles
    method: DELETE
  response:
    body: '{"statusCode":404,"error":"Not Found","message":"The role does not exist."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 404 Not Found
    code: 404
    duration: 1ms
[...]
