---
version: 1
interactions:
- request:
    body: |
      {"name":"Acceptance-Test-Connection-TestAccConnectionConfiguration","strategy":"auth0","is_domain_connection":true,"options":{"brute_force_protection":true,"configuration":{"bar":"zzz","foo":"xxx"},"non_persistent_attrs":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_CT59TmSYH1PA8q1F","options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","brute_force_protection":true,"non_persistent_attrs":null,"configuration":{"bar":"2.0$c0620544cf38bf4e792cb227b985cc11$49b506abcea438f4f76dffceee4d0d93$3b5455d873e890f173e53f6bb238d5a6d9c28b648bea76c51bd109d9350660a5","foo":"2.0$4840198075b116d88688c0fae4f500d5$e3f0dfb53579d81d0409ba7a1df4ed58$2030ad61fb02ffa2177b0ccd5e7f9b1ec72773ba9c961848fd47432261000003"},"strategy_version":2},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionConfiguration","is_domain_connection":true,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionConfiguration"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_CT59TmSYH1PA8q1F
    method: GET
  response:
    body: '{"id":"con_CT59TmSYH1PA8q1F","options":{"mfa":{"active":true,"return_enroll_settings":true},"configuration":{"bar":"2.0$c0620544cf38bf4e792cb227b985cc11$49b506abcea438f4f76dffceee4d0d93$3b5455d873e890f173e53f6bb238d5a6d9c28b648bea76c51bd109d9350660a5","foo":"2.0$4840198075b116d88688c0fae4f500d5$e3f0dfb53579d81d0409ba7a1df4ed58$2030ad61fb02ffa2177b0ccd5e7f9b1ec72773ba9c961848fd47432261000003"},"passwordPolicy":"good","strategy_version":2,"non_persistent_attrs":null,"brute_force_protection":true},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionConfiguration","is_domain_connection":true,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionConfiguration"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: |
      {"is_domain_connection":true,"options":{"mfa":{"active":true,"return_enroll_settings":true},"passwordPolicy":"good","enabledDatabaseCustomization":false,"brute_force_protection":true,"import_mode":false,"disable_signup":false,"requires_username":false,"configuration":{"bar":"yyy","baz":"zzz","foo":"xxx"},"non_persistent_attrs":null}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_CT59TmSYH1PA8q1F
    method: PATCH
  response:
    body: '{"id":"con_CT59TmSYH1PA8q1F","options":{"mfa":{"active":true,"return_enroll_settings":true},"import_mode":false,"configuration":{"bar":"2.0$dedab3be985fa62a3eae258bc5d28e58$35627e24d6baf07265c3c2bd0abcf3c3$b3aa5f63ac3bdd74ba65521f9a07b0922bc0aee1241c941497fa0f9eb7174e2b","baz":"2.0$69a901ff9727786512d3a6956263b9cb$1cd59b9d0b5a08dd01363218b02a6112$3467812b00deab2f7cf06a8cdd9f07343a5bbaee728a0b5059031d3345ee4bd6","foo":"2.0$b4b7161bdfdc8fa32d903bef5ebe762e$c38e976e0aa1d69c4c0b9ccf1a2dd2a0$fe55b8c09cc7d9f0ec6437fa7e400026ef74e53600faea730237dc28028dfe33"},"disable_signup":false,"passwordPolicy":"good","requires_username":false,"non_persistent_attrs":null,"brute_force_protection":true,"enabledDatabaseCustomization":false},"strategy":"auth0","name":"Acceptance-Test-Connection-TestAccConnectionConfiguration","is_domain_connection":true,"enabled_clients":[],"realms":["Acceptance-Test-Connection-TestAccConnectionConfiguration"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_CT59TmSYH1PA8q1F
    method: DELETE
  response:
    body: '{"deleted_at":"2022-07-12T14:57:11.582Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
