---
version: 1
interactions:
- request:
    body: |
      {"name":"Acceptance-Test-LogStream-aws-TestAccLogStreamEventBridge","type":"eventbridge","sink":{"awsAccountId":"999999999999","awsRegion":"us-west-2"}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams
    method: POST
  response:
    body: '{"id":"lst_0000000000009481","name":"Acceptance-Test-LogStream-aws-TestAccLogStreamEventBridge","type":"eventbridge","status":"active","sink":{"awsAccountId":"999999999999","awsRegion":"us-west-2","awsPartnerEventSource":"aws.partner/auth0.com/terraform-provider-auth0-dev-fa8fd8dd-665b-48d6-816b-285f69431b52/auth0.logs"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/log-streams/lst_0000000000009481
    method: GET
  response:
    body: '{"id":"lst_0000000000009481","name":"Acceptance-Test-LogStream-aws-TestAccLogStreamEventBridge","type":"eventbridge","status":"active","sink":{"awsAccountId":"999999999999","awsRegion":"us-west-2","awsPartnerEventSource":"aws.partner/auth0.com/terraform-provider-auth0-dev-fa8fd8dd-665b-48d6-816b-285f69431b52/auth0.logs"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
