---
version: 1
interactions:
- request:
    body: |
      {"name":"Acceptance-Test-OAuth2-TestAccConnectionOAuth2","strategy":"oauth2","is_domain_connection":false,"options":{"client_id":"123456","client_secret":"123456","authorizationURL":"https://api.login.yahoo.com/oauth2/request_auth","tokenURL":"https://api.login.yahoo.com/oauth2/get_token","scope":"email openid profile","set_user_root_attributes":"on_each_login","non_persistent_attrs":null,"pkce_enabled":true,"scripts":{"fetchUserProfile":"function( { return callback(null) }"},"upstream_params":{"screen_name":{"alias":"login_hint"}}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections
    method: POST
  response:
    body: '{"id":"con_xLEuOlYnt2L5LkAP","options":{"client_id":"123456","client_secret":"123456","authorizationURL":"https://api.login.yahoo.com/oauth2/request_auth","tokenURL":"https://api.login.yahoo.com/oauth2/get_token","scope":"email
      openid profile","set_user_root_attributes":"on_each_login","non_persistent_attrs":null,"pkce_enabled":true,"scripts":{"fetchUserProfile":"function(
      { return callback(null) }"},"upstream_params":{"screen_name":{"alias":"login_hint"}}},"strategy":"oauth2","name":"Acceptance-Test-OAuth2-TestAccConnectionOAuth2","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-OAuth2-TestAccConnectionOAuth2"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 201 Created
    code: 201
    duration: 1ms
- request:
    body: |
      null
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_xLEuOlYnt2L5LkAP
    method: GET
  response:
    body: '{"id":"con_xLEuOlYnt2L5LkAP","options":{"scope":"email openid profile","scripts":{"fetchUserProfile":"function(
      { return callback(null) }"},"tokenURL":"https://api.login.yahoo.com/oauth2/get_token","client_id":"123456","pkce_enabled":true,"client_secret":"123456","upstream_params":{"screen_name":{"alias":"login_hint"}},"authorizationURL":"https://api.login.yahoo.com/oauth2/request_auth","non_persistent_attrs":null,"set_user_root_attributes":"on_each_login"},"strategy":"oauth2","name":"Acceptance-Test-OAuth2-TestAccConnectionOAuth2","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-OAuth2-TestAccConnectionOAuth2"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: |
      {"is_domain_connection":false,"options":{"client_id":"1234567","client_secret":"1234567","authorizationURL":"https://www.paypal.com/signin/authorize","tokenURL":"https://api.paypal.com/v1/oauth2/token","scope":"email openid","set_user_root_attributes":"on_first_login","non_persistent_attrs":null,"icon_url":"https://cdn.paypal.com/assets/logo.png","pkce_enabled":false,"scripts":{"fetchUserProfile":"function( { return callback(null) }"}}}
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_xLEuOlYnt2L5LkAP
    method: PATCH
  response:
    body: '{"id":"con_xLEuOlYnt2L5LkAP","options":{"scope":"email openid","scripts":{"fetchUserProfile":"function(
      { return callback(null) }"},"icon_url":"https://cdn.paypal.com/assets/logo.png","tokenURL":"https://api.paypal.com/v1/oauth2/token","client_id":"1234567","pkce_enabled":false,"client_secret":"1234567","authorizationURL":"https://www.paypal.com/signin/authorize","non_persistent_attrs":null,"set_user_root_attributes":"on_first_login"},"strategy":"oauth2","name":"Acceptance-Test-OAuth2-TestAccConnectionOAuth2","is_domain_connection":false,"enabled_clients":[],"realms":["Acceptance-Test-OAuth2-TestAccConnectionOAuth2"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
    duration: 1ms
[...]
- request:
    body: ""
    form: {}
    headers:
      Content-Type:
      - application/json
    url: https://terraform-provider-auth0-dev.eu.auth0.com/api/v2/connections/con_xLEuOlYnt2L5LkAP
    method: DELETE
  response:
    body: '{"deleted_at":"2022-07-12T14:55:58.178Z"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 202 Accepted
    code: 202
    duration: 1ms
