---
page_title: "{{.Type}}: {{.Name}}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}}: {{.Name}}

{{ .Description | trimspace }}

-> An action bound to a trigger cannot be deleted. To destroy such an action, the trigger binding must first be deleted.
A binding is usually managed by [auth0_trigger_action](https://registry.terraform.io/providers/auth0/auth0/latest/docs/resources/trigger_action) resource.
The provider also supports a 1:many variant [auth0_trigger_actions](https://registry.terraform.io/providers/auth0/auth0/latest/docs/resources/trigger_actions).
If by any means, a binding is missing is the state file, it can be imported to the state and deleted, before attempting to delete the action.

-> Values provided in the sensitive values shall be stored in the raw state as plain text: secrets.
[Read more about sensitive data in state](https://developer.hashicorp.com/terraform/language/state/sensitive-data).


{{ if .HasExample -}}

## Example Usage

{{ tffile .ExampleFile }}

{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}

## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile }}

{{- end }}

~> For security reasons importing `secrets` is not allowed. Therefore, it is advised to import
the action without secrets and adding them back after the action has been imported.
