---
page_title: "{{.Type}}: {{.Name}}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}}: {{.Name}}

{{ .Description | trimspace }}

~> The Auth0 dashboard displays only one connection per social provider. Although the Auth0 Management API allows the
creation of multiple connections per strategy, the additional connections may not be visible in the Auth0 dashboard.

~> When updating the `options` parameter, ensure that all nested fields within the `options` schema are explicitly defined. Failing to do so may result in the loss of existing configurations.

{{ if .HasExample -}}

## Example Usage

### Auth0 Connection

{{ tffile .ExampleFile }}

### Google OAuth2 Connection

~> Your Auth0 account may be pre-configured with a `google-oauth2` connection.

{{ tffile "examples/resources/auth0_connection/resource_with_google_oauth2.tf" }}

### Google Apps

{{ tffile "examples/resources/auth0_connection/resource_with_google_apps.tf" }}

### Facebook Connection

{{ tffile "examples/resources/auth0_connection/resource_with_facebook.tf" }}

### Apple Connection

{{ tffile "examples/resources/auth0_connection/resource_with_apple.tf" }}

### LinkedIn Connection

{{ tffile "examples/resources/auth0_connection/resource_with_linkedin.tf" }}

### GitHub Connection

{{ tffile "examples/resources/auth0_connection/resource_with_github.tf" }}

### SalesForce Connection

{{ tffile "examples/resources/auth0_connection/resource_with_salesforce.tf" }}

### OAuth2 Connection

Also applies to following connection strategies: `dropbox`, `bitbucket`, `paypal`, `twitter`, `amazon`, `yahoo`, `box`, `wordpress`, `shopify`, `custom`

{{ tffile "examples/resources/auth0_connection/resource_with_oauth2.tf" }}

### Active Directory (AD)

{{ tffile "examples/resources/auth0_connection/resource_with_ad.tf" }}

### Azure AD Connection

{{ tffile "examples/resources/auth0_connection/resource_with_azure_ad.tf" }}

### SMS Connection

~> To be able to see this in the management dashboard as well, the name of the connection must be set to "sms".

{{ tffile "examples/resources/auth0_connection/resource_with_sms.tf" }}

### Email Connection

~> To be able to see this in the management dashboard as well, the name of the connection must be set to "email".

{{ tffile "examples/resources/auth0_connection/resource_with_email.tf" }}

### SAML Connection

{{ tffile "examples/resources/auth0_connection/resource_with_saml.tf" }}

### WindowsLive Connection

{{ tffile "examples/resources/auth0_connection/resource_with_windowslive.tf" }}

### OIDC Connection

{{ tffile "examples/resources/auth0_connection/resource_with_oidc.tf" }}

### Okta Connection

!> When configuring an Okta Workforce connection, the `scopes` attribute must be explicitly set. If omitted, the connection may not function correctly.
To ensure proper behavior, always specify:  `scopes = ["openid", "profile", "email"]`

{{ tffile "examples/resources/auth0_connection/resource_with_okta.tf" }}


{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}

## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile }}

{{- end }}
