---
page_title: "{{.Type}}: {{.Name}}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}}: {{.Name}}

{{ .Description | trimspace }}

!> This resource manages all the enabled clients for a connection. In contrast, the `auth0_connection_client` resource
appends an enabled client to a connection. To avoid potential issues, it is recommended not to use this
resource in conjunction with the `auth0_connection_client` resource when managing enabled clients for the same
connection id.

{{ if .HasExample -}}

## Example Usage

{{ tffile .ExampleFile }}

{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}

## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile }}

{{- end }}
