---
page_title: "{{.Type}}: {{.Name}}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}}: {{.Name}}

{{ .Description | trimspace }}

!> This resource appends a member to an organization. In contrast, the `auth0_organization_members` resource manages
all the members assigned to an organization. To avoid potential issues, it is recommended not to use this resource in
conjunction with the `auth0_organization_members` resource when managing members for the same organization id.

{{ if .HasExample -}}

## Example Usage

{{ tffile .ExampleFile }}

{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}

## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile }}

{{- end }}
