---
page_title: "{{.Type}}: {{.Name}}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}}: {{.Name}}

{{ .Description | trimspace }}

!> This resource appends a scope to a resource server. In contrast, the `auth0_resource_server_scopes` resource manages
all the scopes assigned to a resource server. To avoid potential issues, it is recommended not to use this resource in
conjunction with the `auth0_resource_server_scopes` resource when managing scopes for the same resource server id.

{{ if .HasExample -}}

## Example Usage

{{ tffile .ExampleFile }}

{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}

## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile }}

{{- end }}
