---
page_title: "{{.Type}}: {{.Name}}"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}}: {{.Name}}

{{ .Description | trimspace }}

!> This resource manages all the permissions assigned to a user. In contrast, the `auth0_user_permission` resource only
appends a permissions to a user. To avoid potential issues, it is recommended not to use this resource in conjunction
with the `auth0_user_permission` resource when managing permissions for the same user id.

{{ if .HasExample -}}

## Example Usage

{{ tffile .ExampleFile }}

{{- end }}

{{ .SchemaMarkdown | trimspace }}

{{ if .HasImport -}}

## Import

Import is supported using the following syntax:

{{ codefile "shell" .ImportFile }}

{{- end }}
